<div class="kPrefs kOverrideFAIcons">
  <p class="kFilterPrefs">{{'applications.content.filters.preferences.filterPreferences' | translate | uppercase}}</p>
  <div class="kButtons">
    <p-radioButton name="prefs" [value]="_CategoriesModes.Self"
                   [label]="_categoriesFilterPrefLabels[_CategoriesModes.Self]"
                   [(ngModel)]="selectionMode"
                   (click)="prefChange()"></p-radioButton>
    <p-radioButton name="prefs" [value]="_CategoriesModes.SelfAndChildren"
                   [label]="_categoriesFilterPrefLabels[_CategoriesModes.SelfAndChildren]"
                   [(ngModel)]="selectionMode"
                   (click)="prefChange()"></p-radioButton>
  </div>
</div>

