@import "app-theme/_variables.scss";

.kPrefs {
  margin: 12px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 12px;
}

.kFilterPrefs {
  color: $kGrayscale3;
  line-height: 40px;
  letter-spacing: 0.1em;
  font-size: 13px;
}

.kRadioLabel {
  margin-left: 34px;
  margin-top: -20px;
  color: $kGrayscale3;
  font-size: 15px;
}

.kButtons p-radiobutton:first-child:after {
  margin-bottom: 14px;
}

:host ::ng-deep p-radiobutton {

  display: flex;
  margin-bottom: 18px;

  &:after {
    clear: both;
    content: " ";
    display: block;
  }

  .p-radiobutton {
    float: left;
  }

  .p-radiobutton-label {
    margin-left: 12px;
    color: $kGrayscale3;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.02em;
    cursor: pointer;
  }
}
