<div class="kEntryPreview kUseKMCngIcons">
	<iframe [src]="iFrameSrc | safe" width="280" height="158" allowfullscreen webkitallowfullscreen mozAllowFullScreen frameborder="0"></iframe>
	<div class="kPreviewAndEmbedContainer">
		<i class="kIconshare"></i><a>{{'applications.content.entryDetails.preview.pande' | translate}}</a>
	</div>
	<div class="kPreviewDetails">
		<span class="kHeader">{{'applications.content.entryDetails.preview.details' | translate}}</span>
		<table style="width:100%">
			<tr>
				<td>{{'applications.content.entryDetails.preview.entryID' | translate}}</td>
				<td>Entry ID</td>
			</tr>
			<tr>
				<td>{{'applications.content.entryDetails.preview.creator' | translate}}</td>
				<td>Creator</td>
			</tr>
			<tr>
				<td>{{'applications.content.entryDetails.preview.creationDate' | translate}}</td>
				<td>Creation date</td>
			</tr>
			<tr>
				<td>{{'applications.content.entryDetails.preview.landingPage' | translate}}</td>
				<td>Landing page</td>
			</tr>
			<tr>
				<td>{{'applications.content.entryDetails.preview.vodEntry' | translate}}</td>
				<td>VOD Entry</td>
			</tr>
			<tr>
				<td>{{'applications.content.entryDetails.preview.archiveOf' | translate}}</td>
				<td>Archive of</td>
			</tr>
			<tr>
				<td>{{'applications.content.entryDetails.preview.type' | translate}}</td>
				<td>Type</td>
			</tr>
			<tr>
				<td>{{'applications.content.entryDetails.preview.moderation' | translate}}</td>
				<td>Moderation</td>
			</tr>
			<tr>
				<td>{{'applications.content.entryDetails.preview.plays' | translate}}</td>
				<td>Plays</td>
			</tr>
			<tr>
				<td>{{'applications.content.entryDetails.preview.rating' | translate}}</td>
				<td>Avg. Rating</td>
			</tr>
			<tr>
				<td>{{'applications.content.entryDetails.preview.duration' | translate}}</td>
				<td>Duration</td>
			</tr>
			<tr>
				<td>{{'applications.content.entryDetails.preview.flags' | translate}}</td>
				<td>Flags</td>
			</tr>
			<tr>
				<td>{{'applications.content.entryDetails.preview.votes' | translate}}</td>
				<td>Votes</td>
			</tr>
			<tr>
				<td>{{'applications.content.entryDetails.preview.clippedFrom' | translate}}</td>
				<td>Clipped from</td>
			</tr>
		</table>
	</div>
</div>
