<k-area-blocker [message]="blockerMessage">
  <div class="kEditWin">
    <form [formGroup]="_editUserNameForm" novalidate>
      <div class="kHeader">
        <span class="kTitle">{{'applications.settings.myUserSettings.editUserName' | translate}}</span>
      </div>

      <div class="kContainer">
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.myUserSettings.firstName' | translate}}</span>
          <div>
            <input class="kControl" formControlName="firstName" pInputText
                   [ngClass]="{'kHasError':!_editUserNameForm.controls['firstName'].valid && _editUserNameForm.controls['firstName'].touched}">
            <div *ngIf="_editUserNameForm.controls['firstName'].touched && _editUserNameForm.controls['firstName'].hasError('required')"
              class="error">
              {{'applications.settings.myUserSettings.errors.required' | translate}}
            </div>
          </div>
        </div>
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.myUserSettings.lastName' | translate}}</span>
          <div>
            <input class="kControl" formControlName="lastName" pInputText
                   [ngClass]="{'kHasError':!_editUserNameForm.controls['lastName'].valid && _editUserNameForm.controls['lastName'].touched}">
            <div *ngIf="_editUserNameForm.controls['lastName'].touched && _editUserNameForm.controls['lastName'].hasError('required')"
              class="error">
              {{'applications.settings.myUserSettings.errors.required' | translate}}
            </div>
          </div>
        </div>
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.myUserSettings.password' | translate}}</span>
          <div>
            <input type="password"
                   class="kControl"
                   formControlName="password"
                   pInputText
                   [ngClass]="{'kHasError':!_editUserNameForm.controls['password'].valid && _editUserNameForm.controls['password'].touched}">
            <div *ngIf="_editUserNameForm.controls['password'].touched && _editUserNameForm.controls['password'].hasError('required')"
              class="error">
              {{'applications.settings.myUserSettings.errors.required' | translate}}
            </div>
            <div class="kPasswordRequired">{{'applications.settings.myUserSettings.passwordRequiredName' | translate}}
            </div>
          </div>
        </div>
      </div>

      <div class="kFooter">
        <button pButton class="kButtonDefault kButton" (click)="_closePopup()"
                [label]="'applications.settings.myUserSettings.cancel' | translate"></button>
        <button
          pButton class="kButtonBranded kButton"
          [label]="'applications.settings.myUserSettings.save' | translate"
          [disabled]="_editUserNameForm.pristine"
          (click)="_updateLoginData()"></button>
      </div>
    </form>
  </div>

</k-area-blocker>
