<k-area-blocker [message]="blockerMessage">
  <div class="kEditWin">
    <form [formGroup]="_editUserNameForm" novalidate>
      <div class="kHeader">
        <span class="kTitle">{{'applications.settings.myUserSettings.editUserName' | translate}}</span>
      </div>

      <div class="kContainer">
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.myUserSettings.firstName' | translate}}</span>
          <div>
            <input class="kControl" pInputText
                   [formControl]="_firstNameField"
                   [ngClass]="{'kHasError': _firstNameField.invalid && _firstNameField.touched}">
            <div *ngIf="_firstNameField.touched && _firstNameField.hasError('required')" class="error">
              {{'applications.settings.myUserSettings.errors.required' | translate}}
            </div>
          </div>
        </div>
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.myUserSettings.lastName' | translate}}</span>
          <div>
            <input class="kControl" pInputText
                   [formControl]="_lastNameField"
                   [ngClass]="{'kHasError': _lastNameField.invalid && _lastNameField.touched}">
            <div
              *ngIf="_lastNameField.touched && _lastNameField.hasError('required')" class="error">
              {{'applications.settings.myUserSettings.errors.required' | translate}}
            </div>
          </div>
        </div>
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.myUserSettings.password' | translate}}</span>
          <div>
            <input type="password" appPreventPasswordAutofill pInputText class="kControl"
                   [formControl]="_passwordField"
                   [ngClass]="{'kHasError': _passwordField.invalid && (_passwordField.touched || _showPasswordError)}">
            <div class="error"
                 *ngIf="_passwordField.hasError('required') && (_passwordField.touched || _showPasswordError)">
              {{'applications.settings.myUserSettings.errors.required' | translate}}
            </div>
            <div class="kPasswordRequired">{{'applications.settings.myUserSettings.passwordRequiredName' | translate}}
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="kFooter">
      <button pButton class="kButtonDefault kButton"
              [label]="'applications.settings.myUserSettings.cancel' | translate"
              (click)="parentPopupWidget.close()"></button>
      <button
              pButton class="kButtonBranded kButton"
              [label]="'applications.settings.myUserSettings.save' | translate"
              [disabled]="_editUserNameForm.pristine"
              (click)="_updateLoginData()"></button>
    </div>
  </div>

</k-area-blocker>
