<div class="kCustomSchemaFieldFormWrapper">
  <div class="kHeader">
    <span class="kTitle">{{_title}}</span>
  </div>

  <form class="kCustomSchemaFieldForm" [formGroup]="_fieldForm" novalidate>
    <div class="kRow">
      <span class="kLabel">{{'applications.settings.metadata.fieldForm.type' | translate}}</span>
      <div>
        <p-dropdown class="kControl"
                    [options]="_fieldTypes"
                    [autoWidth]="false"
                    [formControl]="_typeField">
          <ng-template let-type pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
              <i class="kTypeIcon" [ngClass]="type.value | kCustomSchemaTypePipe:'icon'"></i>
              {{ type.label }}
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>

    <div class="kRow" *ngIf="_typeField.value === _metadataItemTypes.Date">
      <span class="kLabel">{{'applications.settings.metadata.fieldForm.includeTime' | translate}}</span>
      <div>
        <p-inputSwitch [formControl]="_includeTimeField"></p-inputSwitch>
        <span class="kInputSwitchLabel">
            {{_includeTimeField.value ? ( 'app.common.yes' | translate) : ( 'app.common.no' | translate)}}
        </span>
      </div>
    </div>

    <div class="kRow" *ngIf="_typeField.value === _metadataItemTypes.List">
      <span class="kLabel">{{'applications.settings.metadata.fieldForm.listValues' | translate}}</span>
      <div>
        <textarea class="kControl kTextArea" pInputText
                  [formControl]="_listValuesFiled"
                  [placeholder]="'applications.settings.metadata.fieldForm.listValuesPlaceholder' | translate"></textarea>
      </div>
    </div>

    <div class="kRow allowMultiple">
      <span class="kLabel">{{'applications.settings.metadata.fieldForm.allowMultiple' | translate}}</span>
      <div class="kAllowMultiple">
        <p-radioButton class="kRadioLeft"
                       name="allowMultiple"
                       [value]="false"
                       [formControl]="_allowMultipleField"
                       [label]="'applications.settings.metadata.fieldForm.single' | translate"></p-radioButton>
        <p-radioButton class="kRadioRight"
                       name="allowMultiple"
                       [value]="true"
                       [formControl]="_allowMultipleField"
                       [label]="'applications.settings.metadata.fieldForm.unlimited' | translate"></p-radioButton>
      </div>
    </div>

    <div class="kRow">
      <span class="kLabel">{{'applications.settings.metadata.fieldForm.label' | translate}}</span>
      <div class="kRequired" [class.kHasError]="_labelField.touched && _labelField.invalid">*</div>
      <div>
        <input class="kControl" pInputText autofocus
               [class.kHasError]="_labelField.touched && _labelField.invalid"
               [formControl]="_labelField">
      </div>
    </div>

      <div class="kRow" *ngIf="!_isNew">
          <span class="kLabel">{{'applications.settings.metadata.table.systemName' | translate}}</span>
          <span>{{_systemName}}</span>
      </div>

    <div class="kRow">
      <span class="kLabel">{{'applications.settings.metadata.fieldForm.shortDescription' | translate}}</span>
      <div>
        <input class="kControl" pInputText [formControl]="_shortDescriptionField">
      </div>
    </div>



    <div class="kRow">
      <span class="kLabel">{{'applications.settings.metadata.fieldForm.description' | translate}}</span>
      <div>
        <textarea class="kControl kTextArea" pInputText [formControl]="_descriptionField"></textarea>
      </div>
    </div>

    <div class="kRow">
      <span class="kLabel">{{'applications.settings.metadata.fieldForm.searchable' | translate}}</span>
      <div>
        <p-inputSwitch [formControl]="_searchableField"></p-inputSwitch>
        <span class="kInputSwitchLabel">
            {{_searchableField.value ? ( 'app.common.yes' | translate) : ( 'app.common.no' | translate)}}
        </span>
      </div>
    </div>

      <div class="kRow" [class.kHidden]="!_isUserEntry">
          <span class="kLabel">{{'applications.settings.metadata.fieldForm.required' | translate}}</span>
          <div>
              <p-inputSwitch [formControl]="_requiredField"></p-inputSwitch>
              <span class="kInputSwitchLabel">
            {{_requiredField.value ? ( 'app.common.yes' | translate) : ( 'app.common.no' | translate)}}
        </span>
          </div>
      </div>

      <div class="kRow" [class.kHidden]="!_isUserEntry">
          <span class="kLabel">{{'applications.settings.metadata.fieldForm.hidden' | translate}}</span>
          <div>
              <p-inputSwitch [formControl]="_hiddenField"></p-inputSwitch>
              <span class="kInputSwitchLabel">
            {{_hiddenField.value ? ( 'app.common.yes' | translate) : ( 'app.common.no' | translate)}}
        </span>
          </div>
      </div>

  </form>

  <div class="kFooter">
    <button type="button"
            class="kButtonDefault"
            pButton [label]="'applications.settings.metadata.cancel' | translate"
            (click)="_cancel()"></button>

    <button type="button"
            class="kButtonBranded"
            [disabled]="!_labelField.value || _saveDisabled"
            pButton [label]="_saveBtnLabel"
            (click)="_save()"></button>
  </div>
</div>
