<div class="miniApp">
  <p>Entries</p>
  <form [ngFormModel]="searchForm">
    <label for="search">Search:</label>
    <input type="text" id="search" ngControl="search">
  </form><br>
  <span [hidden]="(entries$ | async)?.length !== null">Loading Entries...</span>
  <div class="tableHolder" [hidden]="(entries$ | async)?.length === null" [style.opacity]="(entries$ | async)?.length === null ? 0 : 1">
    <table style="width:100%" class="entries">
      <tr>
        <th>Thumbnail</th>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Plays</th>
        <th>Created On</th>
        <th>Duration</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let entry of entries$ | async">
        <td><div class="thumbnailHolder"><span class="helper"></span><img src="{{entry.thumbnailUrl}}"></div></td>
        <td>{{entry.id}}</td>
        <td>{{entry.name}}</td>
        <td><img src="{{entry.mediaType | entryType}}"></td>
        <td>{{entry.plays}}</td>
        <td>{{entry.createdAt * 1000 | date:'MM/dd/y HH:MM'}}</td>
        <td>{{entry.duration | time}}</td>
        <td>{{entry.status | entryStatus}}</td>
        <td>
          <div class="form-group">
            <label for="sel1">Select Action:</label>
            <select class="form-control" id="sel1">
              <option>Preview & Embed</option>
              <option>Delete</option>
              <option>View Details</option>
            </select>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
