
:host {
    width: 100%;

    .kTagContent {
        display: flex;
        align-items: center;

        &.kTagDisabled {
            .kTagLabel {
                margin-right: 8px;
                line-height: 22px;
            }

        }

        &:not(.kTagDisabled) {
            .kTagRemove {
                cursor: pointer;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.3);
                    border: 0px solid rgba(255, 255, 255, 0.3);
                    border-radius: 3px;
                }
            }
        }

        .kTagLabel {
            flex: 0 0 auto;
            user-select: none;
            cursor: default;

        }

        .kTagRemove {
            flex: 0 0 auto;
            margin-top: 2px;
            margin-left: 8px;
            padding: 5px;
            font-size: 10px;
        }
    }
}

