@import 'app-theme/_variables.scss';

.kEntries {
  font-size: 15px;
  background-color: $appBkgColor;
  padding-top: 24px;
  width: 100%;
  min-width: $minAppWidth;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  .kFiltersWrapper {
    display: block;
    height: 66px;
    margin-left: auto;
  }
  .kEntriesHolder {
    min-height: $minTableHeight;
    height: 100%;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;

    .kEntriesInfo {
      position: absolute;
      top: 144px;
      left: 28px;
    }
  }

  .kExportBtn {
      margin-right: 8px;
      ::ng-deep .p-button-icon {
          font-size: 24px;
      }
  }

  .kRefreshBtn {
    font-size: 24px;
    border: none;
    min-width: inherit;
    margin-right: 8px;
    width: 40px;
    outline: 0;
    color: $kGrayscale3;
    &:active {
      box-shadow: none;
      transform: rotate(45deg);
    }
    &:hover {
      background-color: #ffffff;
      color: $kPrimary;
    }
  }

  .kEntriesTableFilters {
    color: $kGrayscale1;
    z-index: 502;
    height: 66px;
    background-color: white;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;

    &.kAdditionalFilters {
      height: 150px;
      padding-bottom: 28px;

      .kFiltersWrapper {
        height: 88px;
        justify-content: space-between;
        padding-right: 12px;
        .kSearchInput {
             width: 298px;
             margin-right: 16px;
        }
        .kCategoriesFilter, .kRefine {
          width: 258px;
          margin-right: 16px;
        }
      }
    }
    .kSelectedEntriesNum {
      padding-left: 16px;
    }
  }
  .kEntriesTableTags {
    width: 100%;
    height: 50px;
    background-color: #f3f3f3;
    border: 1px solid grey;
    flex: 0 0 50px;
  }
  .kEntriesTableFooter {
    bottom: 0px;
    height: 34px;
    background-color: white;
    border-top: 1px solid $kGrayscale6;
    position: fixed;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 14px 28px;
    display: block;
    z-index: 3;
  }
  .kEntriesTable {
    border: none;
    position: relative;
    background-color: white;
    width: 100%;
    flex: 1 1 auto;
  }
  .kSelectedEntriesLabel {
    font-weight: bold;
    margin-right: 36px;
    margin-left: 5px;
  }
  .searchHolder{
    position: relative;
    i {
        position: absolute;
        right: 12px;
        top: 6px;
        font-size: 24px;
        cursor: pointer;
        color: $kGrayscale3;
        &.kSelected {
            color: $kPrimary;
        }
    }
  }
  .kSearchInput {
    background: $kMagnifyingGlassBkg;
    padding-left: 38px;
    padding-right: 32px;
    margin-right: 8px;
    width: 250px;
      &::placeholder {
          color: $kGrayscale3;
          opacity: 1;
      }
      &:-ms-input-placeholder {
          color: $kGrayscale3;
      }
      &::-ms-input-placeholder {
          color: $kGrayscale3;
      }
  }
  .kRuleNameInput {
    width: 298px;
    margin-right: 16px;
    padding-left: 10px;
  }
  .kRuleNameLabel {
    font-size: 15px;
    font-weight: normal;
    line-height: 32px;
    margin-right: 16px;
  }
  .kBulkOperations {
    display: flex;
    align-items: center;
  }
  .kPaginatorShowRowsLabel {
    color: $kGrayscale1;
    position: absolute;
    top: 7px;
    right: 80px;
  }
  .kBulkCancel {
    margin-left: 10px;
  }
  .kBulkDeleteBtn {
    margin-right: 10px;
    width: 44px;
    font-size: 24px;
  }
  .kBulkActionsBtn {
    font-weight: 400;
    font-size: 15px;
  }
  .kFiltersWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .kFilters {
      display: flex;
      margin-left: auto;
      justify-content: flex-end;
    }
  }

  .kCategoriesFilter {
    display: flex;
    height: 32px;
    align-items: center;
    cursor: pointer;
    color: $kGrayscale1;
    width: 190px;
    position: relative;
    margin-right: 8px;
    .kSpinnerBkg{
      position: relative;
      width: 20px;
      height: 20px;
      padding-left: 8px;
      padding-right: 8px;
      margin-top: 0px;
    }
    .kSpinnerAnim{
      width: 12px;
      height: 12px;
    }
    i {
      margin-right: 12px;
      margin-left: 8px;
      font-size: 24px;
      color: $kGrayscale3;
      &.dropdown {
        font-size: 10px;
      }
    }
    .dropdown {
      position: absolute;
      right: 4px;
      top: 12px;
    }
  }

  .kRefine {
    @extend .kCategoriesFilter;
    width: 160px;
  }
  .kHidden {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }


}

:host{
  width: 100%;
}

:host ::ng-deep .kStickyClass {
  border-bottom: 1px solid $kGrayscale5;
}

:host ::ng-deep span.p-button-icon-left.pi-kIcontrash {
  margin-left: -.5em;
}

:host ::ng-deep .p-tree {
  width: 380px;
}

:host ::ng-deep .p-button-icon-right.kIcondropdown_arrow_bottom {
  font-size: 10px;
  margin-right: 2px;
  pointer-events: none;
}

:host ::ng-deep .p-tieredmenu.p-menu {
  width: 250px;
  .ui-submenu-icon {
    font-size: 10px;
    margin-top: 3px;
  }
}

:host ::ng-deep .p-button-icon-only .pi {
  margin-left: -.5em;
}

:host ::ng-deep .kEntriesTableFooter {
  .p-dropdown-panel {
    min-width: 70px;
  }
}

