@import 'app-theme/_variables.scss';

.kEntries {
  font-size: 15px;
  background-color: $appBkgColor;
  padding-top: 30px;
  width: 100%;
  min-width: $minAppWidth;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  .kFiltersWrapper {
    display: block;
    height: 66px;
    margin-left: auto;
  }
  .kEntriesHolder {
    min-height: $minTableHeight;
    height: 100%;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;

    .kEntriesInfo {
      position: absolute;
      top: 144px;
      left: 28px;
    }
  }
  .kRefreshBtn {
    font-size: 24px;
    border: none;
    min-width: inherit;
    margin-right: 16px;
    width: 40px;
    outline: 0;
    color: $kGrayscale3;
    &:active {
      box-shadow: none;
      transform: rotate(45deg);
    }
    &:hover {
      background-color: #ffffff;
      color: $kPrimary;
    }
  }

  .kEntriesTableFilters {
    color: $kGrayscale1;
    z-index: 502;
    height: 66px;
    background-color: white;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;

    &.kAdditionalFilters {
      height: 150px;
      padding-top: 28px;
      align-items: start;

      .kFiltersWrapper {
        height: 88px;
        justify-content: space-between;
        padding-right: 12px;

        .kSearchInput {
          width: 298px;
          margin-right: 16px;
        }

        .kCategoriesFilter, .kRefine {
          width: 258px;
          margin-right: 16px;
        }
      }
    }
    .kSelectedEntriesNum {
      padding-left: 16px;
    }
  }
  .kEntriesTableTags {
    width: 100%;
    height: 50px;
    background-color: #f3f3f3;
    border: 1px solid grey;
    flex: 0 0 50px;
  }
  .kEntriesTableFooter {
    bottom: 0px;
    height: 34px;
    background-color: white;
    border-top: 1px solid $kGrayscale6;
    position: fixed;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 14px 28px;
    display: block;
  }
  .kEntriesTable {
    border: none;
    position: relative;
    background-color: white;
    flex: 1 1 auto;
  }
  .kSelectedEntriesLabel {
    font-weight: bold;
    margin-right: 36px;
    margin-left: 5px;
  }
  .kSearchInput {
    background: $kMagnifyingGlassBkg;
    padding-left: 30px;
    margin-right: 8px;
    width: 250px;
  }
  .kRuleNameInput {
    width: 298px;
    margin-right: 16px;
    padding-left: 10px;
  }
  .kRuleNameLabel {
    font-size: 15px;
    font-weight: normal;
    line-height: 32px;
    margin-right: 16px;
  }
  .kBulkOperations {
    width: 400px;
    display: flex;
    align-items: center;
  }
  .kPaginatorShowRowsLabel {
    color: $kGrayscale1;
    position: absolute;
    top: 7px;
    right: 80px;
  }
  .kBulkCancel {
    margin-left: 10px;
  }
  .kBulkDeleteBtn {
    margin-right: 10px;
    width: 44px;
    font-size: 18px;
  }
  .kBulkActionsBtn {
    font-weight: 400;
    font-size: 15px;
  }
  .kFiltersWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .kFilters {
      display: flex;
      margin-left: auto;
    }
  }

  .kCategoriesFilter {
    border: 1px solid $kGrayscale4;
    border-radius: 4px;
    display: flex;
    background-color: #ffffff;
    height: 32px;
    align-items: center;
    cursor: pointer;
    color: $kGrayscale1;
    width: 190px;
    position: relative;
    margin-right: 8px;
    i {
      margin-right: 12px;
      margin-left: 8px;
      font-size: 24px;
      color: $kGrayscale4;
      &.dropdown {
        font-size: 10px;
      }
    }
    &:hover {
      color: $kPrimary;
      i {
        color: $kPrimary;
      }
      i.kIcondropdown_arrow_bottom.dropdown {
        color: $kGrayscale3;
      }
    }
    .dropdown {
      position: absolute;
      right: 4px;
      top: 12px;
    }
  }
  .kResultsLimit {
    @extend .kCategoriesFilter;
    width: 248px !important;
    margin-right: 16px;
    padding-left: 10px;
  }

  .kOrderBy {
    width: 260px;
    margin-right: 16px;

    p-dropdown {
      width: 100%;
    }
  }
  .kRefine {
    @extend .kCategoriesFilter;
    width: 160px;
  }
  .kHidden {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }

}

.kResultsLimitPopup {
  padding: 29px 16px 24px 16px;

  .kResultsLimitSlider {

  }

  .kResultsLimitPopupFooter {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;

    span {
      color: $kGrayscale3;
    }
  }
}

:host /deep/ .kStickyClass {
  border-bottom: 1px solid $kGrayscale5;
}

:host /deep/ span.ui-button-icon-left.fa.kIcontrash {
  margin-left: -.5em;
}

:host /deep/ .ui-tree {
  width: 380px;
}

:host /deep/ .ui-button-icon-right.kIcondropdown_arrow_bottom {
  font-size: 10px;
  margin-right: 2px;
  pointer-events: none;
}

:host /deep/ .ui-tieredmenu.ui-menu {
  width: 250px;
  .ui-submenu-icon {
    font-size: 10px;
    margin-top: 3px;
  }
}

:host /deep/ .ui-button-icon-only .fa {
  margin-left: -.5em;
}

:host /deep/ .kOrderBy .ui-dropdown {
  width: 100%;

  label {
    color: $kGrayscale1;
  }
}
