<k-area-blocker [showLoader]="isBusy" [message]="blockerMessage" [bodyScroll]="true">
  <div class="kEntries kOverrideFAIcons">
    <div #entriesTableHolder class="kEntriesHolder kContent">
      <kSticky stickyId="entriesFilters" [scrollOffset]="80" [sticksTo]="'header'" >
        <div class="kEntriesTableFilters kContent">
          <span class="kSelectedEntriesNum" *ngIf="(_entriesStore.entries.data$ | async)?.totalCount">{{(_entriesStore.entries.data$ | async)?.totalCount}} {{'applications.content.entries.entries' | translate}}</span>

          <div [class.kHidden]="!selectedEntries.length" class="kBulkOperations">
            <span *ngIf="bulkWrapper.children.length !== 0"
                  class="kSelectedEntriesLabel">
              • {{selectedEntries.length}} {{'applications.content.entries.selected' | translate}}
            </span>
            <div #bulkWrapper>
              <ng-content select=".bulk-actions"></ng-content>
            </div>

            <a *ngIf="bulkWrapper.children.length !== 0"
               class="kBulkCancel"
               (click)="clearSelection()">{{'applications.content.entries.cancel' | translate}}</a>
          </div>
          <div [class.kHidden]="selectedEntries.length" class="kFilters">
            <input type="text"
                   pInputText
                   class="kSearchInput"
                   [(ngModel)]="_query.freetext"
                   (keyup.enter)="onFreetextChanged()"
                   placeholder="{{'applications.content.entries.searchEntries' | translate}}">
            <div #categoriesFilterBtn class="kCategoriesFilter">
              <i class="kIconfolder"></i>
              <span>{{'applications.content.entries.filterCategories' | translate}}</span>
              <i class="kIcondropdown_arrow_bottom dropdown"></i>
            </div>
            <div #refineBtn class="kRefine">
              <i class="kIconfilter"></i>
              <span>{{'applications.content.entries.refine' | translate}}</span>
              <i class="kIcondropdown_arrow_bottom dropdown"></i>
            </div>
          </div>
          <button *ngIf="showReload"
                  pButton
                  class="kButtonDefault kRefreshBtn small"
                  type="text"
                  icon="kIconrefresh"
                  [kTooltip]="'applications.content.entries.refresh' | translate"
                  (click)="_reload()"></button>
        </div>
      </kSticky>
      <kSticky #tags [stickyClass]="'kStickyClass'" stickyId="entriesTags" [sticksTo]="'entriesFilters'">
        <div class="kContent">
            <k-entries-list-tags
                    [refineFilters]="_refineFilters"
            (onTagsChange)="onTagsChange()"></k-entries-list-tags>
        </div>
      </kSticky>

      <kEntriesTable class="kEntriesTable"
                     scrollHeight="100%"
                     [entries]="(_entriesStore.entries.data$ | async)?.items"
                     [showBulkSelect]="bulkWrapper.children.length !== 0"
                     [filter]="_query"
                     [columns]="columns"
                     [rowActions]="rowActions"
                     (actionSelected)="onActionsSelected.emit($event)"
                     (sortChanged)="onSortChanged($event)"
                     [(selectedEntries)]="selectedEntries"
      ></kEntriesTable>

      <div class="kEntriesTableFooter kContent" #footer *ngIf="(_entriesStore.entries.data$ | async)?.totalCount">
        <p-paginator
          [rows]="_query.pageSize"
          [first]="_query.pageIndex * _query.pageSize"
          [totalRecords]="(_entriesStore.entries.data$ | async)?.totalCount | kMaxEntries"
          [rowsPerPageOptions]="[25,50,75,100]"
          (onPageChange)="onPaginationChanged($event)"></p-paginator>
        <span class="kPaginatorShowRowsLabel">{{'applications.content.paginator.showRows' | translate}}</span>
      </div>
    </div>
  </div>
</k-area-blocker>

<!-- popup widgets section -->
<kPopupWidget #categoriesFilterPopup
              [popupWidth]="400"
              [popupHeight]="500"
              placement="top"
              [closeBtn]="false"
              [targetRef]="categoriesFilterBtn"
              [targetOffset]="{'x':-10, 'y': -21}"
              kSticky [sticksTo]="'header'" [stickyClass]="'kForceFix'" [stickyId]="'categoriesFilterPopup'" [scrollOffset]="80" >
  <ng-template>
  <kCategoriesFilter  [parentPopupWidget]="categoriesFilterPopup" [selection]="_query.categories"
                      [selectionMode]="_query.categoriesMode"
                      (onCategorySelected)="onCategorySelected($event)"
                      (onCategoriesUnselected)="onCategoriesUnselected($event)"
                     (selectionModeChange)="onCategoriesModeChanged($event)"></kCategoriesFilter>
  </ng-template>
</kPopupWidget>

<kPopupWidget #refinePopup
              [popupWidth]="400"
              [popupHeight]="500"
              placement="top"
              [closeBtn]="false"
              [targetRef]="refineBtn"
              [targetOffset]="{'x':-200, 'y': -15}"
              kSticky [sticksTo]="'header'" [stickyClass]="'kForceFix'" [stickyId]="'refinePopup'" [scrollOffset]="80">
  <ng-template>
    <k-entries-refine-filters [filters]="_refineFilters" [parentPopupWidget]="refinePopup"></k-entries-refine-filters>
  </ng-template>
</kPopupWidget>
