@import 'app-theme/_variables.scss';

.kEntrySelector {
  display: flex;

  .kEntrySelectorBucket {
    width: 250px;
    border-left: 1px solid $kGrayscale6;
    height: 820px;
    overflow-y: auto;

    .KEntrySelectorSelectedItem {
      height: 36px;
      padding: 8px;
      display: flex;
      align-items: center;

      &:hover {
        background-color: $kGrayscale6;
      }

      img {
        width: 64px;
        height: 36px;
        object-fit: cover;
        margin-right: 8px;
        border-radius: 3px;
      }

      span {
        font-size: 15px;
        font-weight: bold;
        margin-right: 8px;
        flex-grow: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      i {
        color: $kDandger;
        font-size: 24px;
        cursor: pointer;
      }
    }
  }
  .kEntrySelectorTable {
    flex: 1 1 0;
  }
}

:host /deep/ .kEntrySelector {
  .kContent {
    width: 100%;
    margin: 0 !important;
  }

  .kEntries {
    padding-top: 0;
    min-width: 0;
  }

  .kEntriesTable {
    height: 723px;
    overflow-y: auto;
  }

  .kEntriesTableFooter {
    width: 980px;
  }

  .kEntriesSelectorBucketOpened .kEntriesTableFooter {
    width: 745px;
  }
}
