<k-area-blocker [showLoader]="_isLoading"
                [message]="_blockerMessage">
    <div class="kUploadSettings">
        <div class="kHeader">
            <h1>{{'applications.upload.createFromUrl.uploadFromUrl' | translate}}</h1>
        </div>
        <div class="kContent">
            <form [formGroup]="_profileForm" class="kProfile">
                <span>{{ 'applications.upload.createFromUrl.transcodingProfile' | translate }}</span>
                <p-dropdown class="kTranscodingProfile"
                            [options]="_transcodingProfilesOptions"
                            [autoWidth]="false"
                            [placeholder]="'applications.upload.createFromUrl.profilePlaceholder' | translate"
                            [formControl]="_transcodingProfileField"
                            (onChange)="_updateFlavorsOption()">
                    <ng-template let-profile pTemplate="item">
                        <span class="kTranscodingProfileItem" [kTooltip]="profile.label">{{profile.label}}</span>
                    </ng-template>
                </p-dropdown>

                <button
                    *ngIf="_files?.length === 0 || (_kmcPermissions.FEATURE_MULTI_FLAVOR_INGESTION | kNgIfPermitted)"
                    type="button"
                    class="kButtonDefault kAddFileButton"
                    pButton icon="kIconplus"
                    [label]="'applications.upload.createFromUrl.addFile' | translate"
                    (click)="_addFile()"></button>
            </form>

            <div class="kTable" [class.empty]="_files.length === 0">
                <p-table scrollHeight="100%" [value]="_files" [scrollable]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th [ngStyle]="{'width': '28px'}"></th>
                            <th>
                                {{'applications.upload.createFromUrl.fileUrl' | translate}}
                            </th>
                            <th [ngStyle]="{'width': '210px', 'overflow':'visible'}"
                                *ngIf="_kmcPermissions.FEATURE_MULTI_FLAVOR_INGESTION | kNgIfPermitted">
                                {{'applications.upload.createFromUrl.transcodingFlavor' | translate}}
                            </th>
                            <th [ngStyle]="{'width': '40px', 'text-align': 'center'}"></th>
                            <th [ngStyle]="{'width': '45px', 'text-align': 'center'}"
                                *ngIf="_kmcPermissions.FEATURE_MULTI_FLAVOR_INGESTION | kNgIfPermitted"></th>
                            <th [ngStyle]="{'width': '28px'}"></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-file>
                        <tr>
                            <td [ngStyle]="{'width': '28px'}"></td>
                            <td>
                                <input pInputText type="text"
                                       class="kReplaceUrl"
                                       [placeholder]="'applications.upload.createFromUrl.fileUrlPlaceholder' | translate"
                                       [class.kHasError]="file.hasError"
                                       [(ngModel)]="file.url">
                            </td>
                            <td [ngStyle]="{'width': '210px', 'overflow':'visible'}"
                                *ngIf="_kmcPermissions.FEATURE_MULTI_FLAVOR_INGESTION | kNgIfPermitted">
                                <p-dropdown class="kTranscodingProfile"
                                            [options]="_flavorOptions"
                                            [class.kHasError]="file.errorToken === 'applications.upload.validation.selectFlavor'"
                                            [autoWidth]="false"
                                            [disabled]="_flavorsFieldDisabled"
                                            appendTo="body"
                                            kDropdownCloseOnScroll
                                            [scrollTarget]="_tableScrollableWrapper"
                                            [(ngModel)]="file.flavor"
                                            (onChange)="_updateFileValidityOnTypeChange(file)"
                                            [placeholder]="'applications.upload.createFromUrl.selectFlavor' | translate">
                                    <ng-template let-profile pTemplate="item">
                                        <span class="kTranscodingProfileItem" [kTooltip]="profile.label">{{profile.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </td>
                            <td [ngStyle]="{'width': '40px', 'text-align': 'center'}">
                                <i *ngIf="file.hasError"
                                   class="kIconerror kIconError"
                                   [kTooltip]="file.errorToken | translate"
                                   placement="top"></i>
                            </td>
                            <td [ngStyle]="{'width': '45px', 'text-align': 'center'}"
                                *ngIf="_kmcPermissions.FEATURE_MULTI_FLAVOR_INGESTION | kNgIfPermitted">
                                <i class="kIcontrash kIconRemoveFile"
                                   [kTooltip]="'applications.upload.createFromUrl.remove' | translate"
                                   placement="top"
                                   (click)="_removeFile(file)"></i>
                            </td>
                            <td [ngStyle]="{'width': '28px'}"></td>
                        </tr>
                    </ng-template>
                </p-table>
                <div *ngIf="_files.length === 0" class="kEmptyMessage">
                    <h1>
                        {{'applications.upload.createFromUrl.emptyMessage.title' | translate}}
                    </h1>
                    <p *ngIf="_kmcPermissions.FEATURE_MULTI_FLAVOR_INGESTION | kNgIfPermitted">
                        {{'applications.upload.createFromUrl.emptyMessage.getStarted' | translate}}
                        <a (click)="_addFile()">
                            {{'applications.upload.createFromUrl.emptyMessage.add' | translate}}
                        </a>
                    </p>

                </div>
            </div>
        </div>
        <div class="kFooter">
            <button class="kButtonDefault kUploadButton"
                    pButton
                    [label]="'applications.upload.createFromUrl.cancel' | translate"
                    (click)="parentPopupWidget?.close()"></button>
            <button class="kButtonBranded kUploadButton"
                    pButton
                    [disabled]="_files.length === 0 || _isLoading || !!_blockerMessage"
                    [label]="'applications.upload.createFromUrl.link' | translate"
                    (click)="_upload()"></button>
        </div>
    </div>
</k-area-blocker>
