<p><a name="3.1.0"></a></p>
<h1 id="310httpsgithubcomkalturakmcngcomparev301v31020171030"><a href="https://github.com/kaltura/kmc-ng/compare/v3.0.1...v3.1.0">3.1.0</a> (2017-10-30)</h1>

<h3 id="features">Features</h3>
<ul>
    <li>new scroll system & layout supporting dynamic sticky elements</li>
    <li>drill-down page layout redesign</li>
    <li><strong>upload:</strong> upload from desktop: support parralel uploads</li>
    <li><strong>upload:</strong> upload control view (list of active uploads and upload progress)</li>
    <li><strong>shell:</strong> add change account per partner (<a href="https://github.com/kaltura/kmc-ng/commit/82f3201">82f3201</a>)</li>
    <li>add release notes popup (<a href="https://github.com/kaltura/kmc-ng/commit/5ad76ba">5ad76ba</a>)</li>
    <li><strong>shell:</strong> support chunked upload file (remove 2Gb file size limitation) (<a href="https://github.com/kaltura/kmc-ng/commit/0c1e904">0c1e904</a>)</li>
    <li>issue a message when using Internet Explorer lower than 11 and prevent login (<a href="https://github.com/kaltura/kmc-ng/commit/3329b2e">3329b2e</a>)</li>
    <li><strong>upload:</strong> add high speed upload link to upload menu (<a href="https://github.com/kaltura/kmc-ng/commit/ec6228c">ec6228c</a>)</li>
    <li>add scroll to top button (<a href="https://github.com/kaltura/kmc-ng/commit/cc2faf1">cc2faf1</a>)</li>
</ul>

<h3 id="technical-features">Technical Features</h3>
<ul>
    <li>add app events to allow communication between applications (<a href="https://github.com/kaltura/kmc-ng/commit/08cd89a">08cd89a</a>)</li>
    <li>add isIE11 public function to browser service and use it where needed to detect IE11 (<a href="https://github.com/kaltura/kmc-ng/commit/82429c6">82429c6</a>)</li>
</ul>
