<p><a name="3.2.0"></a></p>
<h1 id="320httpsgithubcomkalturakmcngcomparev310v32020171101">3.2.0(2017-11-01)</h1>
<h3 id="features">Features</h3>
<ul>
<li>prevent getting cached translation file when upgrading to new version.</li>
</ul>

<h3 id="features">Technical Features</h3>
<ul>
    <li>deploy kmc-ng with optimization of production mode</li>
</ul>

<p><a name="3.1.0"></a></p>
<h1 id="310httpsgithubcomkalturakmcngcomparev301v31020171030">3.1.0 (2017-10-30)</h1>

<h3 id="features-1">Features</h3>
<ul>
<li>new scroll system &amp; layout supporting dynamic sticky elements</li>
<li>drill-down page layout redesign</li>
<li><strong>upload:</strong> upload from desktop: support parralel uploads</li>
<li><strong>upload:</strong> upload control view (list of active uploads and upload progress)</li>
<li><strong>shell:</strong> add change account per partner</li>
<li>add release notes popup</li>
<li><strong>shell:</strong> support chunked upload file (remove 2Gb file size limitation) </li>
<li>issue a message when using Internet Explorer lower than 11 and prevent login </li>
<li><strong>upload:</strong> add high speed upload link to upload menu </li>
<li>add scroll to top button </li>
</ul>
<h3 id="technicalfeatures">Technical Features</h3>
<ul>
<li>add app events to allow communication between applications </li>
<li>add isIE11 public function to browser service and use it where needed to detect IE11 </li>
</ul>