@import 'app-theme/_variables.scss';

.kTranscodingProfilesListsHolderWrapper {
  font-size: 15px;
  background-color: $appBkgColor;
  padding-top: 24px;
  width: 100%;
  min-width: $minAppWidth;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  flex-direction: column;

  .kTranscodingProfilesListsHolder {
    height: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 42px !important;
    .kSingleTableMode {
      height: auto !important;
    }
  }
}

