<k-area-blocker [message]="_blockerMessage" [bodyScroll]="true">
  <div class="kTranscodingProfilesListsHolderWrapper">

    <div class="kTranscodingProfilesListsHolder kContent"
         [class.kSingleTableMode]="!(_kmcPermissions.FEATURE_KALTURA_LIVE_STREAM | kNgIfPermitted)">
      <k-transcoding-profiles-list [storeFor]="_kalturaConversionProfileType.media"
                                   [title]="'applications.settings.transcoding.transcodingProfiles'| translate"
                                   (addProfile)="_addProfile($event)"
                                   (setParentBlockerMessage)="_setBlockerMessage($event)">
      </k-transcoding-profiles-list>
    </div>

    <div class="kTranscodingProfilesListsHolder kContent"
         *ngIf="_kmcPermissions.FEATURE_KALTURA_LIVE_STREAM | kNgIfPermitted">
      <k-transcoding-profiles-list [storeFor]="_kalturaConversionProfileType.liveStream"
                                   [title]="'applications.settings.transcoding.liveTranscodingProfiles'| translate"
                                   (addProfile)="_addProfile($event)"
                                   (setParentBlockerMessage)="_setBlockerMessage($event)">
      </k-transcoding-profiles-list>
    </div>
  </div>
</k-area-blocker>

<kPopupWidget #addNewProfile [popupWidth]="586" [popupHeight]="435" [modal]="true" [preventPageScroll]="true">
  <ng-template>
    <kAddNewTranscodingProfile [parentPopupWidget]="addNewProfile"
                               [profileType]="_newProfileType"></kAddNewTranscodingProfile>
  </ng-template>
</kPopupWidget>
