@import 'app-theme/_variables.scss';
@import '../../styles/scss/kmc-logo';

:host {
  height: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.kLoginContainer {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0;
  background: $kTertiary;
  opacity: 0.9;

  .kLoginCenter {
    box-sizing: border-box;
    margin: auto;
    flex: 0 0 auto;
    padding: 20px;

    .kLoginWindow {
      background-color: white;
      border-radius: 6px;
      width: 430px;
      min-height: 327px;
      padding: 68px 60px 60px 60px;

      .kLogo {
        margin: 0 auto;
        width: 100%;
        height: 30px;
        line-height: 32px;
        text-align: center;
        font-size: 21px;

        span {
          font-weight: lighter;
          font-style: italic;
          vertical-align: text-bottom;

          strong {
            font-weight: bold;
          }
        }

        .k-logo {
          width: 30px;
          height: 30px;
          margin-left: 0;
        }
      }
    }

    .kLoginControls {
      color: white;
      margin-top: 42px;
      font-size: 16px;
      text-align: center;

      p {
        margin-top: 0;
      }

      .kSignUpBtn {
        border: none;
        font-weight: lighter;
        color: white;
        height: 32px;
        width: 110px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.2);

        &:not(:last-child) {
          margin-right: 36px;
        }
      }
    }
  }
}

.kBrowserMsgContainer{
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  background: $kTertiary;
  .kBrowserMsg{
    position: absolute;
    left: calc(50% - 250px);
    top: 150px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 150px;
    background-color: white;
    border-radius: 6px;
    width: 500px;
    height: 400px;
    color: $kGrayscale1;
    span{
      font-size: 18px;
      line-height: 28px;
      font-weight: 700;
    }
  }
}

