@import 'app-theme/_variables.scss';

.kUploadsTable {
  background-color: white;
  overflow-y: hidden;
  position: absolute;
  padding: 0;

  .kUploadName {
    color: $kGrayscale1;
    font-weight: bold;
    word-break: break-all;
  }

  .kIconRemoveFile {
    font-size: 20px;
    cursor: pointer;
    display: none;
  }

  .kIconMediaType {
    font-size: 24px;
  }
}

:host {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  flex-direction: column;
}

:host /deep/ .kUploadsTable tr:hover .kIconRemoveFile { // show remove icon when hovering a row
  display: block !important;
}
