@import 'app-theme/_variables.scss';

.kUploadsTableWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 1 auto;

  .kUploadsTable {
    background-color: white;
    overflow-y: hidden;
    position: absolute;
    padding: 0;

    .kUploadName {
      color: $kGrayscale1;
      font-weight: bold;
    }

    .kIconRemoveFile {
      font-size: 20px;
      cursor: pointer;
      display: none;
    }

    .kIconMediaType {
      font-size: 24px;
    }
  }
}

:host {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  flex-direction: column;
}

:host /deep/ .kUploadsTable tr:hover .kIconRemoveFile { // show remove icon when hovering a row
  display: block !important;
}

:host /deep/ .kUploadsTable tr.has-error {
  background-color: lighten($kDandger, 45%);
}

:host /deep/ .kUploadsTable tr.removing {
  background-color: $kGrayscale6;
  opacity: 0.3;
}

:host /deep/ .kUploadsTable td:last-child .ui-cell-data {
  display: flex;
  justify-content: center;

  i:first-child {
    margin-right: 15px;
  }
}

:host /deep/ p-table .stickyHeader{
  z-index: 10;
  display: table;
}
