<div class="kUploadsTableWrapper">
    <div class="kUploadsTable" [class.noResults]="!uploads?.length">
        <p-table dataKey="id"
                 scrollHeight="100%"
                 [scrollable]="true"
                 [resizableColumns]="true"
                 [value]="uploads"
                 (selectionChange)="onSelectedEntriesChange.emit($event)"
                 (onColResize)="_columnsResizeManager.onColumnResize($event)"
                 [(selection)]="selectedUploads"
                 kStickyHeader [sticksTo]="'uploadControlFilters'" stickyClass="stickyHeader"
                 [stickyId]="'uploadControlTable'">

            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col [ngStyle]="{'width':'44px', 'padding-left': '14px'}">
                    <col [ngStyle]="{'width':'80px', 'text-align': 'center'}">
                    <col [ngStyle]="{'width': _columnsConfig.name}">
                    <col [ngStyle]="{'width': _columnsConfig.entryId}">
                    <col [ngStyle]="{'width': _columnsConfig.size}">
                    <col [ngStyle]="{'width': _columnsConfig.uploadedOn}">
                    <col [ngStyle]="{'width': _columnsConfig.status}">
                    <col [ngStyle]="{'width': '120px'}">
                    <col [ngStyle]="{'width': '70px', 'text-align': 'center'}">
                </colgroup>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th [ngStyle]="{'width':'44px', 'padding-left': '14px'}">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th [ngStyle]="{'width':'80px', 'text-align': 'center'}"></th>
                    <th id="name" pResizableColumn [ngStyle]="{'width': _columnsConfig.name}">
                        {{'applications.content.uploadControl.table.fileName' | translate}}
                    </th>
                    <th id="entryId" pResizableColumn [ngStyle]="{'width': _columnsConfig.entryId}">
                        {{'applications.content.uploadControl.table.entryId' | translate}}
                    </th>
                    <th id="size" pResizableColumn [ngStyle]="{'width': _columnsConfig.size}">
                        {{'applications.content.uploadControl.table.fileSize' | translate}}
                    </th>
                    <th id="uploadedOn" pResizableColumn [ngStyle]="{'width': _columnsConfig.uploadedOn}">
                        {{'applications.content.uploadControl.table.uploadedOn' | translate}}
                    </th>
                    <th id="status" pResizableColumn [ngStyle]="{'width': _columnsConfig.status}">
                        {{'applications.content.uploadControl.table.status.header' | translate}}
                    </th>
                    <th id="progress" [ngStyle]="{'width': '120px'}">
                        {{'applications.content.uploadControl.table.progress' | translate}}
                    </th>
                    <th [ngStyle]="{'width': '70px', 'text-align': 'center'}"></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-file>
                <tr [ngClass]="_relatedTableRowStyle(file)" [pSelectableRow]="file">
                    <td [ngStyle]="{'width':'44px', 'padding-left': '14px'}">
                        <p-tableCheckbox [value]="file"></p-tableCheckbox>
                    </td>
                    <td>
                        <div class="kIconMediaType"
                             [kTooltip]="file.mediaType | entryType: true"
                             [ngClass]="file.mediaType | entryType: false"></div>
                    </td>
                    <td class="ui-resizable-column" [ngStyle]="{'width': _columnsConfig.name}">
                        <span class="kUploadName kTableColumn" [kTooltip]="file.fileName" [showOnEllipsis]="true">
                            {{file.fileName}}
                        </span>
                    </td>
                    <td class="ui-resizable-column" [ngStyle]="{'width': _columnsConfig.entryId}">
                        <span class="kTableColumn" [kTooltip]="file.entryId" [showOnEllipsis]="true">
                            {{file.entryId}}
                        </span>
                    </td>
                    <td class="ui-resizable-column" [ngStyle]="{'width': _columnsConfig.size}">
                        <span class="kTableColumn" [kTooltip]="file.fileSize | kFileSize" [showOnEllipsis]="true">
                            {{file.fileSize | kFileSize}}
                        </span>
                    </td>
                    <td class="ui-resizable-column" [ngStyle]="{'width': _columnsConfig.uploadedOn}">
                        <span class="kTableColumn" [kTooltip]="file.uploadedOn | kDate" [showOnEllipsis]="true">
                            {{file.uploadedOn | kDate}}
                        </span>
                    </td>
                    <td class="ui-resizable-column" [ngStyle]="{'width': _columnsConfig.status}">
                        <span class="kTableColumn" [kTooltip]="file.status | kUploadStatus" [showOnEllipsis]="true">
                            {{file.status | kUploadStatus}}
                        </span>
                    </td>
                    <td [ngStyle]="{'width': '120px'}">
                        <kUploadProgress [progress]="file.progress" [status]="file.status"></kUploadProgress>
                    </td>
                    <td [ngStyle]="{'width': '70px', 'text-align': 'center'}">
                        <i class="kIconplay kIconRemoveFile"
                           *ngIf="_hasError(file.status)"
                           [kTooltip]="'applications.content.uploadControl.table.retry' | translate"
                           placement="top"
                           (click)="onRetryUpload.emit(file)"></i>
                        <i class="kIcontrash kIconRemoveFile"
                           *ngIf="_canRemoveFile(file)"
                           [kTooltip]="'applications.content.uploadControl.table.remove' | translate"
                           placement="top"
                           (click)="onCancelUpload.emit(file)"></i>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <div class="emptymessage">
                    <div class="kEmptyMessage">{{!uploads.length ? _emptyMessage : ''}}</div>
                </div>
            </ng-template>
        </p-table>
    </div>
</div>
