@import 'app-theme/_variables.scss';

.kReplacementStatus {
    margin-left: 24px;
    margin-bottom: 20px;

    .kMetadata {
        color: $kGrayscale1;
        line-height: 1.5em;
        margin-bottom: 24px;

        .kDelimiter {
            margin: 0 10px;

            &:after {
                content: '|';
                font-size: 12px;
                color: $kGrayscale4;
                top: -2px;
                position: relative;
            }
        }

        .kStatusIcon {
            font-size: 16px;
            position: relative;
            top: 1px;
            margin-right: 5px;

            &.kIconsync {
                color: $kSecondary;
            }

            &.kIconcomplete {
                color: $kSuccess;
            }

            &.kIconerror {
                color: $kDandger;
            }
        }
    }

    .kApprove {
        margin-bottom: 24px;

        .kApproveReplacementBtn {
            width: 200px;
            font-weight: bold;

            /deep/ .kIconcheck-medium {
                font-size: 1.3em;
            }
        }

        .kCancelReplacement {
            margin-left: 24px;
        }
    }

    .kFlavorsTabs {
        a {
            margin-right: 40px;
            font-weight: bold;
            text-decoration: none;
        }
        .kSelected {
            cursor: default;
            font-weight: bold;
            color: $kGrayscale3;
        }
    }
}
