@import '../../../../styles/scss/_variables.scss';
:host{
    position: absolute;
    left: 0px;
    top: 0px;
}
.kPopupWidget{
    background-color: #ffffff;
    border-radius: 4px;
    .kCloseBtn{
        font-size: 12px;
        border: none;
        float: right;
        min-width: inherit;
        &:active{
            box-shadow: none;
        }
    }
    .kPopupWidgetContent{
        margin: 12px;
    }
}

