@import 'app-theme/_variables.scss';

.kPreviewAndEmbed{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  font-size: 15px;
  form{
    height: 100%;
  }
  ::ng-deep .kPopupWidget{
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .24);
  }
  .kHeader{
    height: 58px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: $kGrayscale1;
    color: white;
    border-bottom: 1px solid $kGrayscale4;
    .kClose{
      color: $kGrayscale3;
      font-size: 18px;
      margin-left: 24px;
      cursor: pointer;
      &:hover{
        color: white;
      }
    }
    .kTitle{
      margin-left: 24px;
      font-size: 18px;
      font-weight: 700;
    }
    .kSelectPlayer{
      display: flex;
      flex-flow: row;
      align-items: center;
      span{
        margin-right: 24px;
      }
      .kPlayerSettings{
        font-size: 24px;
        color: $kGrayscale3;
        margin-left: 12px;
        cursor: pointer;
        &:hover{
          color: white;
        }
      }
    }
    .kToggleParamsIcon{
      font-size: 24px;
      color: white;
      cursor: pointer;
      margin-right: 24px;
      &.kHighlight{
        color: $kGrayscale3;
      }
    }

  }

  .kPreview{
    width: 100%;
    height: calc(100vh - 60px);
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
    .kPreviewContainer{
      flex: 1 1 auto;
      position: relative;
      iframe{
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0px;
        bottom: 0px;
      }
    }
    .kPreviewParams{
      width: 450px;
      height: 100%;
      overflow-y: auto;
      flex: 0 0 auto;
      display: flex;
      flex-flow: column;
      box-sizing: border-box;
      border-left: 1px solid $kGrayscale4;
      transition: max-width 0.3s;
      overflow-x: hidden;
      .kParamsContainer{
        padding: 20px;
      }
      .kTitle{
        display: block;
        color: $kGrayscale1;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 32px;
      }
      .kRow{
        display: block;
        margin-bottom: 28px;
      }
      .kSection{
        display: flex;
        flex-flow: row;
        align-items: center;
        i{
          font-size: 20px;
        }
        .kCol{
          width: 120px;
          margin-right: 20px;
          line-height: 18px;
        }
        .kSectionHeader{
          color: $kGrayscale1;
          font-size: 16px;
          font-weight: 700;
          margin-left: 8px;
        }
        .kHelpTip{
          font-size: 15px;
          margin-left: 8px;
          cursor: pointer;
          &:hover{
            color: $kSecondary;
          }
        }

        textarea{
          width: 260px;
          height: 100px;
        }

        .kCopyCode{
          width: 80px;
          margin-left: 320px;
          margin-top: 10px;
        }

        ::ng-deep .kQRCodeCanvas img {
          margin-left: -10px;
          width: 80px;
        }

        .kAdvancedArrow{
          font-size: 11px;
          margin-top: 2px;
          color: $kGrayscale3;
          margin-left: 6px;
          transition: transform 0.3s;
        }
        .kArrowDown{
          transform: rotate(90deg);
        }
      }
      .kAlignTop{
        align-items: flex-start;
      }
      .kAdvanced{
        transition: max-height 0.3s;
        overflow-y: hidden;
        height: 250px;
      }
    }
  }

  .kSettings{
    padding: 28px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    span{
      line-height: 40px;
      letter-spacing: 0.1em;
      font-size: 13px;
      color: $kGrayscale3;
      margin-bottom: 20px;
    }
  }

  .kTooltip{
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    color: $kGrayscale3;
    .kHelpTitle{
      display: flex;
      flex-flow: row;
      align-items: center;
      font-weight: 700;
      color: $kGrayscale1;
      i{
        margin-right: 8px;
        font-size: 24px;
        color: $kGrayscale3;
      }
    }
    .kTooltipContent{
      display: block;
      margin-top: 20px;
    }
  }

}

:host ::ng-deep .kHeader p-dropdown{
  .ui-dropdown{
    background: $kGrayscale1 !important;
    width: 380px !important;
    border: 1px solid $kGrayscale2;
  }
  .ui-dropdown-label.ui-inputtext, .ui-dropdown .ui-dropdown-trigger{
    background-color: $kBlack;
    color: $kGrayscale3;
  }
  .ui-dropdown-panel .ui-dropdown-filter-container{
      padding-left: 12px;
  }
  .ui-dropdown-filter.ui-inputtext{
    width: 350px;
  }
  .pi-pi-search:before{
    color: $kGrayscale3;
    font-size: 20px;
    content: "\e911";
  }

  .ui-dropdown label{
      padding-left: 2px;
  }
  .ui-dropdown-item.ui-corner-all{
      padding-left: 8px;
      padding-right: 8px;
      width: 340px;
  }
    .ui-dropdown-item.ui-corner-all.ui-state-highlight:after{
        content: none;
    }
    .check{
        margin-left: auto;
        display: none;
    }
    .ui-dropdown-item.ui-corner-all.ui-state-highlight .check{
        display: block;
    }
}

:host ::ng-deep .kPreview p-dropdown{
  .ui-dropdown{
    width: 260px !important;
  }
  .ui-dropdown-filter.ui-inputtext{
    width: 240px;
  }
}

:host ::ng-deep p-radiobutton {

  display: flex;
  margin-bottom: 18px;

  &:after {
    clear: both;
    content: " ";
    display: block;
  }

  .ui-radiobutton {
    float: left;
  }

  .ui-radiobutton-label {
    margin-left: 12px;
    color: $kGrayscale3;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.02em;
    cursor: pointer;
  }
}

