@import 'app-theme/_variables.scss';

.kPreviewAndEmbed{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  font-size: 15px;
  form{
    height: 100%;
  }
  /deep/ .kPopupWidget{
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .24);
  }
  .kHeader{
    height: 58px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: $kGrayscale1;
    color: white;
    border-bottom: 1px solid $kGrayscale4;
    .kClose{
      color: $kGrayscale3;
      font-size: 18px;
      margin-left: 24px;
      cursor: pointer;
      &:hover{
        color: white;
      }
    }
    .kTitle{
      margin-left: 24px;
      font-size: 18px;
      font-weight: 700;
    }
    .kSelectPlayer{
      display: flex;
      flex-flow: row;
      align-items: center;
      span{
        margin-right: 24px;
      }
      .kPlayerSettings{
        font-size: 24px;
        color: $kGrayscale3;
        margin-left: 12px;
        cursor: pointer;
        &:hover{
          color: white;
        }
      }
    }
    .kToggleParamsIcon{
      font-size: 24px;
      color: white;
      cursor: pointer;
      margin-right: 24px;
      &.kHighlight{
        color: $kGrayscale3;
      }
    }

  }

  .kPreview{
    width: 100%;
    height: calc(100vh - 60px);
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
    .kPreviewContainer{
      flex: 1 1 auto;
      position: relative;
      iframe{
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0px;
        bottom: 0px;
      }
    }
    .kPreviewParams{
      width: 450px;
      height: 100%;
      overflow-y: auto;
      flex: 0 0 auto;
      display: flex;
      flex-flow: column;
      box-sizing: border-box;
      border-left: 1px solid $kGrayscale4;
      transition: max-width 0.3s;
      overflow-x: hidden;
      .kParamsContainer{
        padding: 20px;
      }
      .kTitle{
        display: block;
        color: $kGrayscale1;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 32px;
      }
      .kRow{
        display: block;
        margin-bottom: 28px;
      }
      .kSection{
        display: flex;
        flex-flow: row;
        align-items: center;
        i{
          font-size: 20px;
        }
        .kCol{
          width: 120px;
          margin-right: 20px;
          line-height: 18px;
        }
        .kSectionHeader{
          color: $kGrayscale1;
          font-size: 16px;
          font-weight: 700;
          margin-left: 8px;
        }
        .kHelpTip{
          font-size: 15px;
          margin-left: 8px;
          cursor: pointer;
          &:hover{
            color: $kSecondary;
          }
        }

        textarea{
          width: 260px;
          height: 100px;
        }

        .kCopyCode{
          width: 80px;
          margin-left: 320px;
          margin-top: 10px;
        }

        /deep/ .kQRCodeCanvas img {
          margin-left: -10px;
          width: 80px;
        }

        .kAdvancedArrow{
          font-size: 11px;
          margin-top: 2px;
          color: $kGrayscale3;
          margin-left: 6px;
          transition: transform 0.3s;
        }
        .kArrowDown{
          transform: rotate(90deg);
        }
      }
      .kAlignTop{
        align-items: flex-start;
      }
      .kAdvanced{
        transition: max-height 0.3s;
        overflow-y: hidden;
        height: 250px;
      }
    }
  }

  .kSettings{
    padding: 28px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    span{
      line-height: 40px;
      letter-spacing: 0.1em;
      font-size: 13px;
      color: $kGrayscale3;
      margin-bottom: 20px;
    }
  }

  .kTooltip{
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    color: $kGrayscale3;
    .kHelpTitle{
      display: flex;
      flex-flow: row;
      align-items: center;
      font-weight: 700;
      color: $kGrayscale1;
      i{
        margin-right: 8px;
        font-size: 24px;
        color: $kGrayscale3;
      }
    }
    .kTooltipContent{
      display: block;
      margin-top: 20px;
    }
  }

}

:host /deep/ .kHeader p-dropdown{
  .ui-dropdown{
    background: $kGrayscale1 !important;
    width: 380px !important;
    border: 1px solid $kGrayscale2;
  }
  .ui-dropdown-label.ui-inputtext, .ui-dropdown .ui-dropdown-trigger{
    background-color: $kBlack;
    color: $kGrayscale3;
  }
  .ui-dropdown-panel .ui-dropdown-filter-container{
      padding-left: 12px;
  }
  .ui-dropdown-filter.ui-inputtext{
    width: 350px;
  }
  .pi-pi-search:before{
    color: $kGrayscale3;
    font-size: 20px;
    content: "\e911";
  }

  .ui-dropdown label{
      padding-left: 2px;
  }
  .ui-dropdown-item.ui-corner-all{
      padding-left: 8px;
      padding-right: 8px;
      width: 340px;
  }
    .ui-dropdown-item.ui-corner-all.ui-state-highlight:after{
        content: none;
    }
    .check{
        margin-left: auto;
        display: none;
    }
    .ui-dropdown-item.ui-corner-all.ui-state-highlight .check{
        display: block;
    }
}

:host /deep/ .kPreview p-dropdown{
  .ui-dropdown{
    width: 260px !important;
  }
  .ui-dropdown-filter.ui-inputtext{
    width: 240px;
  }
}

:host /deep/ p-radiobutton {

  display: flex;
  margin-bottom: 18px;

  &:after {
    clear: both;
    content: " ";
    display: block;
  }

  .ui-radiobutton {
    float: left;
  }

  .ui-radiobutton-label {
    margin-left: 12px;
    color: $kGrayscale3;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.02em;
    cursor: pointer;
  }
}
.playerItem{
    display: flex;
    align-items: center;
    .playerIcon{
        width: 28px;
        height: 28px;
        flex: 0 0 auto;
        margin-right: 8px;
    }
    .v2 {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='28px' height='28px' viewBox='0 0 28 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EV2 icon%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Share-&amp;-Embed' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Preview-&amp;-Share-Select-Player' transform='translate(-577.000000, -136.000000)'%3E%3Cg id='Select-player' transform='translate(460.000000, 10.000000)'%3E%3Cg id='Drop-Down' transform='translate(100.000000, 42.000000)'%3E%3Cg id='Menu/Menu-item' transform='translate(0.000000, 82.000000)'%3E%3Cg id='V2-icon' transform='translate(17.000000, 2.000000)'%3E%3Crect id='Rectangle-4' fill='%2301ACCD' x='0' y='0' width='28' height='28' rx='3'%3E%3C/rect%3E%3Cpath d='M9.655,19 L6.985,19 L5.32,8.995 L7.645,8.995 L8.725,16.69 L13.18,8.995 L15.715,8.995 L9.655,19 Z M21.685,19 L14.155,19 L14.59,17.02 C18.82,14.62 21.01,13.3 21.01,11.89 C21.01,11.17 20.26,10.72 19.21,10.72 C18.115,10.72 17.305,11.125 16.72,11.62 L15.82,10.09 C16.705,9.325 18.04,8.845 19.36,8.845 C21.415,8.845 23.245,9.85 23.245,11.755 C23.245,13.735 21.16,15.43 18.01,17.125 L22.09,17.125 L21.685,19 Z' id='V2' fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .v3 {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='28px' height='28px' viewBox='0 0 28 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EV7 Icon%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Share-&amp;-Embed' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Preview-&amp;-Share-Select-Player' transform='translate(-577.000000, -168.000000)'%3E%3Cg id='Select-player' transform='translate(460.000000, 10.000000)'%3E%3Cg id='Drop-Down' transform='translate(100.000000, 42.000000)'%3E%3Cg id='Menu/Menu-item' transform='translate(0.000000, 114.000000)'%3E%3Cg id='V7-Icon' transform='translate(17.000000, 2.000000)'%3E%3Crect id='Rectangle-4' fill='%23BB48B4' x='0' y='0' width='28' height='28' rx='3'%3E%3C/rect%3E%3Cpath d='M9.655,20 L6.985,20 L5.32,9.995 L7.645,9.995 L8.725,17.69 L13.18,9.995 L15.715,9.995 L9.655,20 Z M17.635,20 L15.19,20 L20.53,11.87 L15.61,11.87 L16.015,9.995 L23.53,9.995 L23.2,11.48 L17.635,20 Z' id='V7' fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    &.selectedPlayer{
        height: 24px;
        .playerIcon{
            transform: scale(0.8);
        }
    }
}

