<div *ngIf="uploadOpen" class="uploadWindow">
  <p class="uploadLabel">{{'UPLOAD.luploadMedia' | translate}}</p>
  <div class="uploadButtonsGroup mediaButtons">
    <button>{{'UPLOAD.uploadFromDesktop' | translate}}</button>
    <button>{{'UPLOAD.uploadRecord' | translate}}</button>
    <button>{{'UPLOAD.uploadImport' | translate}}</button>
    <div class="link"><a>{{'UPLOAD.highSpeed' | translate}}</a></div>
  </div>

  <p class="uploadLabel">{{'prepare' | translate}}</p>
  <div class="uploadButtonsGroup prepareButtons">
    <button>{{'UPLOAD.videoEntry' | translate}}</button>
    <button>{{'UPLOAD.audioEntry' | translate}}</button>
    <button>{{'UPLOAD.liveStream' | translate}}</button>
  </div>

  <p class="uploadLabel">{{'UPLOAD.submitBulk' | translate}}</p>
  <div class="uploadButtonsGroup bulk">
    <div class="link"><a>{{'UPLOAD.selectCSV' | translate}}</a></div>
    <div class="link"><a>{{'UPLOAD.downloadCSV' | translate}}</a></div>
  </div>
</div>
