<div *ngIf="uploadOpen" class="uploadWindow">
  <p class="uploadLabel">{{'luploadMedia' | translate}}</p>
  <div class="uploadButtonsGroup mediaButtons">
    <button>{{'uploadFromDesktop' | translate}}</button>
    <button>{{'uploadRecord' | translate}}</button>
    <button>{{'uploadImport' | translate}}</button>
    <div class="link"><a>{{'highSpeed' | translate}}</a></div>
  </div>

  <p class="uploadLabel">{{'prepare' | translate}}</p>
  <div class="uploadButtonsGroup prepareButtons">
    <button>{{'videoEntry' | translate}}</button>
    <button>{{'audioEntry' | translate}}</button>
    <button>{{'liveStream' | translate}}</button>
  </div>

  <p class="uploadLabel">{{'submitBulk' | translate}}</p>
  <div class="uploadButtonsGroup bulk">
    <div class="link"><a>{{'selectCSV' | translate}}</a></div>
    <div class="link"><a>{{'downloadCSV' | translate}}</a></div>
  </div>
</div>
