<k-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage">
 <div class="kContainer">
   <div class="kTitle">{{'applications.settings.integrationSettings.accountInfo.title' | translate}}</div>

   <div class="kRow">
     <div class="kLabel">{{'applications.settings.integrationSettings.accountInfo.partnerId'| translate}}</div>
     <div class="kControl">
       <span class="kTableColumn" [kTooltip]="_accountInfo?.partnerId">{{_accountInfo?.partnerId}}</span>
     </div>
   </div>

   <div class="kRow">
     <div class="kLabel">{{'applications.settings.integrationSettings.accountInfo.subPartnerId'| translate}}</div>
     <div class="kControl">
       <span class="kTableColumn" [kTooltip]="_accountInfo?.subPartnerId">{{_accountInfo?.subPartnerId}}</span>
     </div>
   </div>

   <div class="kRow">
     <div class="kLabel">{{'applications.settings.integrationSettings.accountInfo.adminSecret'| translate}}</div>
     <div class="kControl">
       <span class="kTableColumn" [kTooltip]="_accountInfo?.adminSecret">{{_accountInfo?.adminSecret}}</span>
     </div>
   </div>

   <div class="kRow">
     <div class="kLabel">{{'applications.settings.integrationSettings.accountInfo.userSecret'| translate}}</div>
     <div class="kControl">
       <span class="kTableColumn" [kTooltip]="_accountInfo?.userSecret">{{_accountInfo?.userSecret}}</span>
     </div>
   </div>
 </div>
</k-area-blocker>
