<k-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage">
 <div class="kContainer">
   <div class="kTitle">{{'applications.settings.integrationSettings.accountInfo.title' | translate}}</div>

   <div class="kRow">
     <div class="kLabel">{{'applications.settings.integrationSettings.accountInfo.partnerId'| translate}}</div>
     <div class="kControl">
       <span class="kTableColumn" [kTooltip]="_accountInfo?.partnerId">{{_accountInfo?.partnerId}}</span>
     </div>
   </div>

   <div class="kRow">
     <div class="kLabel">{{'applications.settings.integrationSettings.accountInfo.subPartnerId'| translate}}</div>
     <div class="kControl">
       <span class="kTableColumn" [kTooltip]="_accountInfo?.subPartnerId">{{_accountInfo?.subPartnerId}}</span>
     </div>
   </div>

   <div class="kRow smallGap">
     <div class="kLabel">{{'applications.settings.integrationSettings.accountInfo.adminSecret'| translate}}</div>
     <div class="kControl">
       <span class="kTableColumn">{{_showAdminSecret ? _accountInfo?.adminSecret : '********************************************'}}</span>
       <i class="kIconview" [kTooltip]="'applications.settings.integrationSettings.accountInfo.show'| translate" (click)="_showAdminSecret = true"></i>
       <kCopyToClipboard class="kIcon" [text]="_accountInfo?.adminSecret || ''" [iconSwitchTimeout]="5000" [tooltips]="_copyToClipboardTooltips"></kCopyToClipboard>
     </div>
   </div>

   <div class="kRow">
     <div class="kLabel">{{'applications.settings.integrationSettings.accountInfo.userSecret'| translate}}</div>
     <div class="kControl">
       <span class="kTableColumn">{{_showUserSecret ? _accountInfo?.userSecret : '********************************************'}}</span>
       <i class="kIconview" [kTooltip]="'applications.settings.integrationSettings.accountInfo.show'| translate" (click)="_showUserSecret = true"></i>
       <kCopyToClipboard class="kIcon" [text]="_accountInfo?.userSecret || ''" [iconSwitchTimeout]="5000" [tooltips]="_copyToClipboardTooltips"></kCopyToClipboard>
     </div>
   </div>
 </div>
</k-area-blocker>
