<k-area-blocker [showLoader]="_loading">
    <div class="kContent kOverrideFAIcons">
        <span class="kTitle">{{'applications.content.bulkActions.removeTags' | translate}}</span>
        <div class="kTags">
            <div class="kLabel">{{'applications.content.bulkActions.removeTagsLabel' | translate}}</div>
            <span *ngIf="!tags || !tags.length" class="kNoItems">{{'applications.content.bulkActions.noTagsToRemove' | translate}}</span>
            <kAutoComplete *ngIf="tags && tags.length" [ngModel]="tags"
                           [tooltipResolver]="'__tooltip'"
                           [classField]="'__class'"
                           [multiple]="true"
                           [limitToSuggestions]="false"
                           readonly="true"
                           (onUnselect)="_removeTag($event)">
            </kAutoComplete>
        </div>
        <div class="kFooter">
            <button type="button" class="kButtonDefault" pButton
                    [label]="'applications.content.bulkActions.cancel' | translate"
                    (click)="parentPopupWidget?.close()"></button>
            <button type="button" class="kButtonBranded" pButton
                    [disabled]="tagsToRemove.length === 0"
                    [label]="'applications.content.bulkActions.apply' | translate"
                    (click)="_apply()"></button>
        </div>
    </div>
</k-area-blocker>
