.container {
    vertical-align: middle;
    text-align: center;
    transform: translate3d(0, 0, 0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}
.scene {
    vertical-align: middle;
    display: inline-block;
}

.text {
    color: black;
    font-size: 2em;
    font-family: Lato, Helvetica, Arial;
    font-weight: bold;
}

.text2 {
    color: black;
    font-size: 1.3em;
    line-height: 1.4em;
    font-family: Lato, Helvetica, Arial;
    opacity: 1;
}
