
@keyframes bob {
    0% {
        top: 0;
    }
    50% {
        top: 0.2em;
    }
}
.container{
    background: #00a0f7; /* Old browsers */
    background: -moz-linear-gradient(top, #00a0f7 0%, #77c9f4 50%, #70aa63 51%, #59ad47 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #00a0f7 0%,#77c9f4 50%,#70aa63 51%,#59ad47 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #00a0f7 0%,#77c9f4 50%,#70aa63 51%,#59ad47 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    vertical-align: middle;
    text-align: center;
    transform: translate3d(0, 0, 0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}
.scene {
    vertical-align: middle;
    display: inline-block;
}

.text {
    color: white;
    font-size: 2em;
    font-family: Lato, Helvetica, Arial;
    font-weight: bold;
}

.text2 {
    color: white;
    font-size: 1.3em;
    line-height: 1.4em;
    font-family: Lato, Helvetica, Arial;
    opacity: 1;
}
.hidden {
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.link1{
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.8em;
}
.egg {
    margin-top: 50px;
    opacity: 0;
    height: 0px;
    transition: all 300ms;
    &.show{
        opacity: 1;
        height: 60px;
    }
}

.sheep {
    margin-top: 120px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    $skin: #211e21;
    * {
        transition: transform 0.3s;
    }
    .top {
        position: relative;
        top: 0;
        animation: bob 1s infinite;
    }
    &:hover {
        .head {
            transform: rotate(0deg);
            .eye {
                width: 1.25em;
                height: 1.25em;
                &:before {
                    right: 30%;
                }
            }
        }
        .top {
            animation-play-state: paused;
        }
    }
    .head {
        display: inline-block;
        width: 5em;
        height: 5em;
        border-radius: 100%;
        background: $skin;
        vertical-align: middle;
        position: relative;
        top: 1em;
        transform: rotate(30deg);
        &:before {
            content: "";
            display: inline-block;
            width: 80%;
            height: 50%;
            background: $skin;
            position: absolute;
            bottom: 0;
            right: -10%;
            border-radius: 50% 40%;
        }
        &:hover {
            .ear {
                &.one,
                &.two {
                    transform: rotate(0deg);
                }
            }
        }
        .eye {
            display: inline-block;
            width: 1em;
            height: 1em;
            border-radius: 100%;
            background: white;
            position: absolute;
            overflow: hidden;
            &:before {
                content: "";
                display: inline-block;
                background: black;
                width: 50%;
                height: 50%;
                border-radius: 100%;
                position: absolute;
                right: 10%;
                bottom: 10%;
                transition: all 0.3s;
            }
            &.one {
                right: -2%;
                top: 1.7em;
            }
            &.two {
                right: 2.5em;
                top: 1.7em;
            }
        }
        .ear {
            background: $skin;
            width: 50%;
            height: 30%;
            border-radius: 100%;
            position: absolute;
            &.one {
                left: -10%;
                top: 5%;
                transform: rotate(-30deg);
            }
            &.two {
                top: 2%;
                right: -5%;
                transform: rotate(20deg);
            }
        }
    }
    .body {
        display: inline-block;
        width: 7em;
        height: 7em;
        border-radius: 100%;
        background: white;
        position: relative;
        vertical-align: middle;
        margin-right: -3em;
    }
    .legs {
        display: inline-block;
        position: absolute;
        top: 80%;
        left: 10%;
        z-index: -1;
        .leg {
            display: inline-block;
            background: darken($skin, 5%);
            width: 0.5em;
            height: 2.5em;
            margin: 0.2em;
        }
    }
    &:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 112%;
        width: 100%;
        height: 10%;
        border-radius: 100%;
        background: rgba(black, 0.4);
    }
}

// fireworks
$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
    $box-shadow: $box-shadow,
    random($width)-$width / 2 + px
    random($height)-$height / 1.2 + px
    hsl(random(360), 100, 50);
    $box-shadow2: $box-shadow2, 0 0 #fff
}
@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}


.pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: $box-shadow2;
    @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}

.pyro > .after {
    @include animation-delay((1.25s, 1.25s, 1.25s));
    @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
    to {
        box-shadow:$box-shadow;
    }
}

@include keyframes(gravity)  {
    to {
        @include transform(translateY(200px));
        opacity: 0;
    }
}

@include keyframes(position) {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
