@import 'app-theme/_variables.scss';

.kRolesTable {
    background-color: white;
    height: auto;
    padding: 0px;
    width: 100%;
    .kRoleName {
        font-weight: bold;
        color: $kGrayscale1;
    }

    .kRolesTableActions {
        width: 100%;
        text-align: center;
    }
}

:host {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    flex-direction: column;

    /deep/ p-table {
        .ui-table-scrollable-body {
            margin-bottom: 34px;
        }

        .stickyHeader {
            z-index: 10;
            display: table;
        }
    }
}
