<div class="kRolesTable" [class.noResults]="!_roles?.length">
  <p-table kStickyHeader [scrollable]="true" stickyClass="stickyHeader" scrollHeight="100%" dataKey="id"
               [rowTrackBy]="_rowTrackBy"
               [sticksTo]="'rolesFilters'"
               [resizableColumns]="true"
               [value]="_roles"
               [stickyId]="'rolesTable'">
      <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
              <col [ngStyle]="{'width': '130px', 'padding-left': '1.5em'}">
              <col [ngStyle]="{'width': '250px'}">
              <col [ngStyle]="{'width': '60px'}">
              <col [ngStyle]="{'overflow': 'visible', 'width': '80px'}">
          </colgroup>
      </ng-template>

      <ng-template pTemplate="header">
          <tr>
              <th pResizableColumn [ngStyle]="{'width': '130px', 'padding-left': '1.5em'}">
                  {{'applications.administration.roles.tableColumns.role' | translate}}
              </th>
              <th pResizableColumn [ngStyle]="{'width': '250px'}">
                  {{'applications.administration.roles.tableColumns.description' | translate}}
              </th>
              <th [ngStyle]="{'width': '60px'}">
                  {{'applications.administration.roles.tableColumns.saveDate' | translate}}
              </th>
              <th [ngStyle]="{'overflow': 'visible', 'width': '80px'}"></th>
          </tr>
      </ng-template>

      <ng-template pTemplate="body" let-role>
          <tr>
              <td class="ui-resizable-column" [ngStyle]="{'width': '130px', 'padding-left': '1.5em'}">
                  <span class="kRoleName kTableColumn" [kTooltip]="role.name">{{role.name}}</span>
              </td>
              <td class="ui-resizable-column" [ngStyle]="{'width': '250px'}">
                  <span class="kTableColumn" [kTooltip]="role.description">{{role.description}}</span>
              </td>
              <td [ngStyle]="{'width': '60px'}">
                  {{role.updatedAt | kDate}}
              </td>
              <td [ngStyle]="{'overflow': 'visible', 'width': '80px'}">
                  <div class="kRolesTableActions">
                      <button type="button" pButton icon="kIconmore"
                              [disabled]="role.partnerId === 0" class="kMoreActionsButton"
                              (click)="_openActionsMenu($event, role)"></button>
                  </div>
              </td>
          </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
          <div class="emptymessage">
              <div class="kEmptyMessage">{{_emptyMessage}}</div>
          </div>
      </ng-template>
  </p-table>
  <p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
</div>
