<div class="kPlaylistPreview kOverrideFAIcons">
	<div class="kPreviewDetails">
		<span class="kTitle">{{'applications.content.playlistDetails.preview.details' | translate}}</span>

		<div class="kRow">
			<span class="kLabels">{{'applications.content.playlistDetails.preview.creator' | translate}}</span>
			<span>1</span>
		</div>

		<div class="kRow">
			<span class="kLabels">{{'applications.content.playlistDetails.preview.creationDate' | translate}}</span>
			<span>2</span>
		</div>

		<div class="kRow">
			<span class="kLabels">{{'applications.content.playlistDetails.preview.type' | translate}}</span>
			<span>3</span>
		</div>

		<div class="kRow">
			<span class="kLabels">{{'applications.content.playlistDetails.preview.duration' | translate}}</span>
			<span>4</span>
		</div>

		<div class="kRow">
			<span class="kLabels">{{'applications.content.playlistDetails.preview.moderation' | translate}}</span>
			<span>5</span>
		</div>

		<div class="kRow">
			<span class="kLabels">{{'applications.content.playlistDetails.preview.plays' | translate}}</span>
			<span>6</span>
		</div>
	</div>
</div>
