<k-area-blocker [showLoader]="_widgetService.showSectionLoader" [message]="_widgetService.sectionBlockerMessage"
                [bodyScroll]="true">
    <div class="kBreakout" #breakout>
        <div class="kHeader">
            <p class="kTitle">{{'applications.content.rooms.breakout' | translate}}</p>
        </div>
        <div class="kTable">
            <p-table scrollHeight="100%"
                     [sortField]="'name'"
                     [value]="(_widgetService._breakoutRooms$ | async)?.items"
                     [scrollable]="true"
                     (sortFunction)="_widgetService.onSortChanged($event)"
                     [customSort]="true"
                     [defaultSortOrder]="-1"
                     [sortOrder]="-1">
                <ng-template pTemplate="header">
                    <tr>
                        <th [ngStyle]="{'padding-left': '24px'}" pResizableColumn [pSortableColumn]="'name'">
                            {{'applications.content.table.name' | translate}}
                            <p-sortIcon [field]="'name'"></p-sortIcon>
                        </th>
                        <th [ngStyle]="{'width':'120px'}">
                            {{'applications.content.table.id' | translate}}
                        </th>
                        <th [ngStyle]="{'width':'160px'}" pResizableColumn [pSortableColumn]="'createdAt'">
                            {{'applications.settings.reach.table.created' | translate}}
                            <p-sortIcon [field]="'createdAt'"></p-sortIcon>
                        </th>
                        <th [ngStyle]="{'width':'150px'}"></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-breakout>
                    <tr>
                        <td [ngStyle]="{'padding-left': '24px'}">
                            <span class="kDimensions">{{breakout.name}}</span>
                        </td>
                        <td [ngStyle]="{'width':'120px'}">{{breakout.id}}</td>
                        <td [ngStyle]="{'width':'160px'}">{{breakout.createdAt | kmcDate}}</td>
                        <td [ngStyle]="{'width':'150px'}">
                            <button pButton class="kButtonDefault"
                                    [label]="'applications.content.entries.viewAnalytics' | translate"
                                    (click)="_openBreakoutAnalytics(breakout.id)"></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <div class="emptymessage">{{'applications.content.table.noResults' | translate}}</div>
                </ng-template>
            </p-table>
        </div>
    </div>

</k-area-blocker>

