<div class="kTable">
    <k-area-blocker [showLoader]="_deferredLoading"
                    [message]="_blockerMessage">
        <p-table #dataTable
                 dataKey="id"
                 scrollHeight="100%"
                 [scrollable]="true"
                 [value]="_entitlements"
                 [class.noResults]="!_entitlements?.length"
                 [rowTrackBy]="rowTrackBy">
            <ng-template pTemplate="header">
                <tr>
                    <th class="kApplicationRootCategory">
                        {{'applications.settings.integrationSettings.entitlement.table.applicationRootCategory' | translate}}
                    </th>
                    <th class="kPrivacyContextLabel">
                        {{'applications.settings.integrationSettings.entitlement.table.privacyContextLabel' | translate}}
                    </th>
                    <th class="kActionsColumn"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-entitlement>
                <tr>
                    <td class="kApplicationRootCategory">
                        <div class="kApplicationRootCategoryLabel kTableColumn" [kTooltip]="entitlement.fullName">
                            {{entitlement.fullName}}
                        </div>
                    </td>
                    <td class="kPrivacyContextLabel">
                    <span class="kTableColumn" [kTooltip]="entitlement.privacyContext">
                        {{entitlement.privacyContext}}
                    </span>
                    </td>
                    <td class="kActionsColumn">
                        <div class="kTableActions">
                            <button type="button" pButton icon="kIconmore" class="kMoreActionsButton"
                                    (click)="_openActionsMenu($event, entitlement)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <div class="emptymessage">{{_emptyMessage}}</div>
            </ng-template>
        </p-table>
        <p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
    </k-area-blocker>
</div>
