<k-area-blocker [showLoader]="_showLoader" [message]="_areaBlockerMessage">
	<div class="kPlaylistDetails kOverrideFAIcons" [class.isSafari]="isSafari">
		<div class="kContent kPlaylistDetailsWrapper">
			<div class="kPlaylistDetailsHeader">
				<button
          pButton
          class="kButtonDefault kBackToPlaylistsBtn small"
          icon="kIconarrow_backward"
          (click)="_backToList()">
        </button>
				<div class="kMediaTypeIcon kIconPlaylist_Manual"></div>
				<div class="kPlaylistTitle">{{ playlistName }}</div>
				<button pButton class="kButtonBranded kSaveBtn" label="Save" (click)="save()" [disabled]="!isDirty"></button>
				<button pButton class="kButtonDefault kNavigationBtn kNavigationBtnLeft"  icon="kIconarrow_backward"
                (click)="_navigateToPlaylist('prev')"
                [disabled]="!_enablePrevButton">
        </button>
				<button pButton class="kButtonDefault kNavigationBtn kNavigationBtnRight" icon="kIconarrow_forward"
                (click)="_navigateToPlaylist('next')"
                [disabled]="!_enableNextButton">
        </button>
			</div>
			<div class="kPlaylistDetailsMain">
				<div class="kPlaylistDetailsSections">
					<kPlaylistSectionsList></kPlaylistSectionsList>
				</div>
				<div class="kPlaylistDetailsContent">
					<router-outlet></router-outlet>
				</div>
				<div class="kPlaylistDetailsPreview">
					<kPlaylistDetails></kPlaylistDetails>
				</div>
			</div>
			<div class="kSpacer"></div>
		</div>

	</div>
</k-area-blocker>
