<k-area-blocker [showLoader]="_showLoader" [message]="_areaBlockerMessage">
	<div class="kPlaylistDetails kUseKMCngIcons" [class.isSafari]="isSafari">
		<div class="kContent kPlaylistDetailsWrapper">
			<div class="kPlaylistDetailsHeader">
				<button pButton class="kButtonDefault kBackToPlaylistsBtn small" icon="kIconarrow_backward" (click)="_backToList()"></button>
				<div class="kMediaTypeIcon kIconvideo"></div>
				<div class="kPlaylistTitle">PlaylistName: {{_playlistName}}</div>
				<button pButton class="kButtonBranded kSaveBtn" label="Save"></button>
				<button pButton class="kButtonDefault kNavigationBtn" icon="kIconarrow_backward"></button>
				<button pButton class="kButtonDefault kNavigationBtn" icon="kIconarrow_forward"></button>
			</div>
			<div class="kPlaylistDetailsMain">
				<div class="kPlaylistDetailsSections">
					<kPlaylistSectionsList></kPlaylistSectionsList>
				</div>
				<div class="kPlaylistDetailsContent">
					<router-outlet></router-outlet>
				</div>
				<div class="kPlaylistDetailsPreview">
					<kPlaylistDetails></kPlaylistDetails>
				</div>
			</div>
			<div class="kSpacer"></div>
		</div>

	</div>
</k-area-blocker>
