
.kRow {
  .kLabel {
    padding-top: 8px;
  }
  .kAsterix {
    padding-top: 10px;
  }
  .kBrowse{
    display: block;
  }

  .kControl.threeRows {
    margin-top: 11px;
    height: 325px;
    width: 741px;
  }
}
