<div class="searchFields">
    <p-radioButton name="search" value="all" label="{{'applications.content.filters.searchFields.all' | translate}}" [(ngModel)]="selectedSearchField"></p-radioButton>
    <p-checkbox class="includeCaptions" [disabled]="selectedSearchField!=='all'" label="{{'applications.content.filters.searchFields.includeCaptions' | translate}}" [(ngModel)]="includeCaptions" binary="true"></p-checkbox>
    <p-radioButton name="search" value="nameLike" label="{{'applications.content.filters.searchFields.name' | translate}}" [(ngModel)]="selectedSearchField"></p-radioButton>

    <div class="footer">
        <a>{{'applications.content.filters.searchFields.help' | translate}}</a>
        <button type="button" class="kButtonBranded" pButton label="{{'app.common.apply' | translate}}" (click)="applySearchFields()"></button>
    </div>
</div>
