@import "app-theme/_variables.scss";

.searchFields {
    width: 250px;
    height: 350px;
    border-radius: 4px;
    border: 1px solid $kGrayscale4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .filters {
        display: flex;
        flex-direction: column;
        padding: 16px;
        height: 290px;
        overflow-x: hidden;
        overflow-y: scroll;
        .includeCaptions {
            margin-left: 24px;
            margin-bottom: 12px;
        }
    }

    .footer {
        padding: 14px;
        display: flex;
        border-top: 1px solid $kGrayscale4;
        align-items: center;
        button {
            margin-left: auto;
        }
        a {
            margin-left: 8px;
            margin-right: 16px;
            flex-shrink: 0;
            color: #333333;
            font-size: 14px;
            text-decoration: underline;
            cursor: pointer;
            &:hover{
                color: #00A784;
            }
        }
    }
}

:host ::ng-deep p-radiobutton .p-radiobutton-label {
    line-height: 40px;
    font-size: 14px;
    font-weight: 300;
    color: $kGrayscale1;
}
:host ::ng-deep p-checkbox .ui-chkbox-label {
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
    color: $kGrayscale1;
}

:host ::ng-deep p-tree .p-tree .p-tree-toggler {
    display: none;
}
