<k-area-blocker [showLoader]="_showLoader" [message]="_areaBlockerMessage" [bodyScroll]="true">
	<div class="kmcDetailsLayout kOverrideFAIcons">
		<div class="kContent kDetailsWrapper">
			<kSticky  stickyId="entryHeader" [sticksTo]="'header'" stickyClass="stickyHeader">
				<div class="kDetailsHeader">
					<div class="kContent">
						<button pButton class="kButtonDefault kBackBtn small" icon="kIconarrow_backward" (click)="_backToList()"></button>
						<div class="kTitle">{{ _entryName }}</div>
                        <div class="kEntryActionsWrapper">
                            <div id="contentLabButton"></div>
<!--                            <k-toggle-live-btn *ngIf="$any(_entry)?.explicitLive"-->
<!--                                               [entry]="_entry"></k-toggle-live-btn>-->
                            <button pButton class="kButtonDefault kAnalytics"
                                    *ngIf="_analyticsAllowed"
                                    [label]="'applications.content.entries.viewAnalytics' | translate"
                                    (click)="_openEntryAnalytics()"></button>
                            <button type="button" pButton class="kButtonDefault kEntryActions" icon="kIconmore"
                                    (click)="actionsmenu.toggle($event)"></button>
                            <button pButton class="kButtonBranded kSaveBtn"
                                    label="{{'app.common.save' | translate}}"
                                    [disabled]="_isSaveDisabled"
                                    (click)="_save()"></button>
                            <button pButton class="kButtonDefault kNavigationBtnLeft" [disabled]="!_enablePrevButton" (click)="_navigateToPrevious()" icon="kIconarrow_backward"></button>
                            <button pButton class="kButtonDefault kNavigationBtnRight" [disabled]="!_enableNextButton" (click)="_navigateToNext()" icon="kIconarrow_forward"></button>
                        </div>
                        <p-menu #actionsmenu [popup]="true" [model]="_menuItems" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
					</div>
				</div>
			</kSticky>
			<div class="kHeaderDetails">
				<kEntryDetails></kEntryDetails>
			</div>
			<div class="kDetailsMain">
				<div class="kSectionsWrapper">
					<div class="kSections">
						<div class="kPreview">
							<kEntryPreview></kEntryPreview>
						</div>
						<kEntrySectionsList></kEntrySectionsList>
					</div>
				</div>
				<div class="kDetailsContent">
					<router-outlet></router-outlet>
				</div>
			</div>
			<div class="kSpacer"></div>
		</div>

	</div>
</k-area-blocker>

<kPopupWidget #liveDashboard [fullScreen]="true">
    <ng-template>
        <kLiveDashboard [entryId]="_currentEntryId" [parentPopupWidget]="liveDashboard"></kLiveDashboard>
    </ng-template>
</kPopupWidget>

<kPopupWidget #clipAndTrim [fullScreen]="true">
    <ng-template>
        <kEntryEditor [entry]="_contentLabSelectedQuiz"
                      [entryHasSource]="true"
                      [tab]="_isQuizEntry? 'quiz' : 'editor'"
                      [parentPopupWidget]="clipAndTrim"></kEntryEditor>
    </ng-template>
</kPopupWidget>

<kPopupWidget #bulkActionsPopup [popupWidth]="570" [popupHeight]="245" [modal]="true" [preventPageScroll]="true">
    <ng-template>
        <kDownloadEntry [entry]="_entryStore.entry" [parentPopupWidget]="bulkActionsPopup"></kDownloadEntry>
    </ng-template>
</kPopupWidget>
