<kLoader [loading]="_loading" [loadingError]="_loadingError" (onActionRequested)="_onLoadingAction($event)">
	<div class="kEntryDetails kUseKMCngIcons">
		<div class="kContent kEntryDetailsWrapper">
			<div class="kEntryDetailsHeader">
				<button pButton class="kButtonDefault kBackToEntriesBtn small" icon="kIconarrow_backward" (click)="_backToList()"></button>
				<div class="{{_entryType | entryType: false}} kMediaTypeIcon"></div>
				<div class="kEntryTitle">{{ _entryName }}</div>
				<button pButton class="kButtonBranded kSaveBtn" label="Save"></button>
				<button pButton class="kButtonDefault kNavigationBtn" [disabled]="!_enablePrevButton" (click)="_navigateToPrevious()" icon="kIconarrow_backward"></button>
				<button pButton class="kButtonDefault kNavigationBtn" [disabled]="!_enableNextButton" (click)="_navigateToNext()" icon="kIconarrow_forward"></button>
			</div>
			<div class="kEntryDetailsMain">
				<div class="kEntryDetailsSections">
					<kEntrySectionsList></kEntrySectionsList>
				</div>
				<div class="kEntryDetailsContent">
					<router-outlet></router-outlet>
				</div>
				<div class="kEntryDetailsPreview">
					<kEntryPreview></kEntryPreview>
				</div>
			</div>
			<div class="kSpacer"></div>
		</div>

	</div>
</kLoader>
