@import 'app-theme/_variables.scss';

.kSectionsWrapper{
	min-width: 178px;
	border: 0px solid white;
	border-top-left-radius: 3px;
	flex: 0 0 auto;
	z-index: 0;
}

.kEntryActionsWrapper {
    margin-left: auto;
    display: flex;
    align-items: center;

    k-toggle-live-btn, #contentLabButton {
        margin-right: 8px;
        flex: 0 0 auto;
    }

    .kAnalytics {
        margin-right: 8px;
        flex: 0 0 auto;
        ::ng-deep .kIconstatistic {
            font-size: 24px;
        }
        ::ng-deep .p-button-text{
            padding-left: 42px;
            white-space: nowrap;
        }
    }

    .kEntryActions {
        flex: 0 0 auto;
        font-size: 24px;
        margin-left: auto;
        margin-right: 8px;
        width: 48px;
    }
}

:host ::ng-deep span.p-button-icon-left.pi-kIconarrow_forward, :host ::ng-deep span.p-button-icon-left.pi-kIconarrow_backward{
	margin-left: -.5em;
}

:host ::ng-deep .stickyHeader{
	background-color: white;
	height: auto;
	z-index: 500;
	left: 0px;
	right: 0px;
	padding-top: 11px;
	padding-bottom: 11px;
	box-sizing: border-box;
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
	width: 100% !important;
}
