@import 'app-theme/_variables.scss';

.kSectionsWrapper{
	min-width: 178px;
	border: 0px solid white;
	border-top-left-radius: 3px;
	flex: 0 0 auto;
	z-index: 0;
}

.kEntryActionsWrapper {
    margin-left: auto;
    display: flex;
    align-items: center;

    .kEntryActions {
        font-size: 24px;
        margin-left: auto;
        margin-right: 24px;
    }
}

:host /deep/ span.ui-button-icon-left.pi-kIconarrow_forward, :host /deep/ span.ui-button-icon-left.pi-kIconarrow_backward{
	margin-left: -.5em;
}

:host /deep/ .stickyHeader{
	background-color: white;
	height: auto;
	z-index: 500;
	left: 0px;
	right: 0px;
	padding-top: 11px;
	padding-bottom: 11px;
	box-sizing: border-box;
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
	width: 100% !important;
}
