@import 'app-theme/_variables.scss';

.kEntryDetails {
	font-size: 15px;
	background-color: $appBkgColor;
	height: $contentArea;
	padding-top: 30px;
	width: 100%;
	button{
		cursor: pointer;
	}
	.kEntryDetailsWrapper{
		display: flex;
		flex-direction: column;
		height: 100%;
		.kEntryDetailsHeader{
			display: flex;
			flex-direction: row;
			align-items: center;
			.kBackToEntriesBtn{
				position: absolute;
				margin-top: 2px;
				margin-left: -56px;
				border: none;
				outline: none;
				background-color: $appBkgColor;
				color: $kGrayscale3;
				height: 20px;
				font-size: 16px;
				&:active{
					box-shadow: none;
				}
				&:hover{
					color: $kPrimary;
				}
			}
			.kMediaTypeIcon{
				width: 24px;
				height: 24px;
				margin-top: 2px;
				font-size: 24px;
				color: $kGrayscale3;
			}
			.kEntryTitle{
				color: $kGrayscale1;
				font-size: 24px;
				font-weight: 700;
				margin-left: 12px;
				margin-right: 100px;
			}
			.kSaveBtn{
				margin-left: auto;
				width: 100px;
				height: 34px;
				font-weight: 400;
			}
			.kNavigationBtn{
				margin-left: auto;
				width: 40px;
				height: 34px;
				margin-left: 12px;
				font-weight: 400;
			}
		}
		.kEntryDetailsMain{
			display: flex;
			flex-direction: row;
			padding-top: 30px;
			height: 100%;
			min-height: 0;
			.kEntryDetailsSections{
				overflow-y: auto;
				width: 176px;
				background-color: #ffffff;
				border: 1px solid $kGrayscale4;
				border-top-left-radius: 3px;
				flex: 0 0 auto;
			}
			.kEntryDetailsContent{
				width: 100%;
				background-color: #ffffff;
				border: 1px solid $kGrayscale4;
				border-left: none;
				border-top-right-radius: 3px;
				flex: 1 1 auto;
				margin-right: 28px;
				padding: 8px;
			}
			.kEntryDetailsPreview{
				margin-left: auto;
				width: 280px;
				background-color: #ffffff;
				border: 1px solid $kGrayscale4;
				border-radius: 3px;
				flex: 0 0 auto;
			}
		}
	}
	.kSpacer{
		display: block;
		height: 40px;
	}
}
.kEntryDetails.isSafari{
	.kEntryDetailsContent{
		height: calc(100vh - 216px);
	}
}
:host /deep/ span.ui-button-icon-left.fa.kIconarrow_forward, :host /deep/ span.ui-button-icon-left.fa.kIconarrow_backward{
	margin-left: -.5em;
}
