@import "app-theme/_variables.scss";

.kUsageDashboard{
  height: $contentArea;
  iframe{
    width: 100%;
    height: calc(100vh - 50px);
  }
}
.kDevMsg{
  display: block;
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 700;
}
