<k-area-blocker [showLoader]="_isLoading" [message]="_blockerMessage">
    <div class="kMatchDropFolder">
        <div class="kHeader">
            <h1>{{'applications.content.entryDetails.flavours.replaceVideo.matchFromDropFolder' | translate}}</h1>
        </div>
        <div class="kContent">
        </div>
        <div class="kFooter">
            <button class="kButtonDefault kUploadButton" pButton
            [label]="'applications.content.entryDetails.flavours.replaceVideo.cancel' | translate"></button>
            <button class="kButtonBranded kUploadButton" pButton
                    [label]="'applications.content.entryDetails.flavours.replaceVideo.setReferenceId' | translate"></button>
            <button class="kButtonBranded kUploadButton" pButton
                    [label]="'applications.content.entryDetails.flavours.replaceVideo.addFilesBtn' | translate"></button>
        </div>
    </div>
</k-area-blocker>
