@import 'app-theme/_variables.scss';

.kMatchDropFolder {
    color: $kGrayscale1;
    height: 607px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    .kHeader, .kFooter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .kHeader {
        text-align: center;
        height: 77px;
        border-bottom: 1px $kGrayscale4 solid;

        h1 {
            font-size: 24px;
            font-weight: bold;
        }

    }

    .kContent {
        flex: 1 1 auto;
        padding: 20px 0 24px 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .kFooter {
        z-index: 1;
        height: 66px;
        border-top: 1px $kGrayscale4 solid;
        text-align: center;

        .kUploadButton {
            min-width: 100px;
            height: 34px;
            font-weight: normal;
            font-size: 14px;
            margin-right: 16px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
