@import 'app-theme/_variables.scss';

.kMatchDropFolder {
    color: $kGrayscale1;
    height: 607px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    .kHeader, .kFooter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .kHeader {
        text-align: center;
        height: 77px;
        border-bottom: 1px $kGrayscale4 solid;

        h1 {
            font-size: 24px;
            font-weight: bold;
        }

    }

    .kContent {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        width: 100%;

        .kMatchDropFolderControls {
            height: 98px;
            border-bottom: 1px solid $kGrayscale6;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0 28px;

            .kMatchDropFolderControlsLabel {
                font-weight: bold;
                font-size: 15px;
            }

            .kDropFoldersList {
                .kDropFoldersListItem {
                    white-space: nowrap;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 190px;
                    font-weight: normal;
                }
            }

            .kDropFolderSearch {
                width: 284px;
                height: 34px;
            }

            .kRefreshBtn {
                font-size: 24px;
                border: none;
                min-width: inherit;
                outline: 0;
                color: $kGrayscale3;
                &:active {
                    box-shadow: none;
                    transform: rotate(45deg);
                }
                &:hover {
                    background-color: #ffffff;
                    color: $kPrimary;
                }
            }
        }

        .kMatchDropFolderReferenceId {
            padding: 0 28px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            height: 74px;
            border-bottom: 1px solid $kGrayscale6;
            font-size: 15px;

            span {
                font-weight: bold;
            }
        }

        .kMatchDropFolderTable {

        }
    }

    .kFooter {
        z-index: 1;
        height: 66px;
        border-top: 1px $kGrayscale4 solid;
        text-align: center;

        .kUploadButton {
            min-width: 100px;
            height: 34px;
            font-weight: normal;
            font-size: 14px;
            margin-right: 16px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

:host /deep/ .kDropFoldersList {
    .ui-dropdown-panel {
        width: 238px;
    }

    .ui-dropdown-label {
        text-overflow: ellipsis;
        font-weight: normal;
        font-size: 15px;
        color: $kGrayscale1;
    }

    .ui-dropdown.ui-widget {
        width: 238px;
    }
}
