.kScheduling {
  padding-left: 30px;
  padding-top: 6px;
  p {
    line-height: 30px;
    padding-left: 0px;
  }
  .kTitle {
    font-size: 20px;
    font-weight: 700;
  }
  .kBlock {
    display: block;
    width: 100%;
    margin-bottom: 24px;
  }
  .kNote {
    margin-top: 24px;
  }
  .kSchedulingDetails {
    padding-right: 12px;
    margin-top: 12px;
    width: 100%;
    .kRow {
      display: flex;
      padding-top: 18px;
    }
    .kLabels {
      margin-top: 5px;
      width: 130px;
      flex: 0 0 auto;
    }
  }
  .kDisabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
  }
}

:host ::ng-deep label {
  font-weight: 400;
}

:host ::ng-deep .p-calendar .p-inputtext {
  width: 140px !important;
}

