<div class="kTranscodingProfilesTable" [ngClass]="{'noResults' :!_profiles?.length}">
    <p-table
        scrollHeight="100%"
        dataKey="id"
        [value]="_profiles"
        [resizableColumns]="true"
        [scrollable]="true"
        [sortField]="'createdAt'"
        [sortOrder]="-1"
        [defaultSortOrder]="_defaultSortOrder"
        (sortFunction)="_onSortChanged($event)" [customSort]="true"
        [rowTrackBy]="rowTrackBy">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col data-cid="name">
                <col data-cid="profileId">
                <col data-cid="createdOn">
                <col data-cid="allocated">
                <col data-cid="remaining">
                <col data-cid="expiration">
                <col [ngStyle]="{'overflow':'visible', 'width':'80px'}">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th data-cid="name" pResizableColumn>
                    {{'applications.settings.reach.table.name' | translate}}
                </th>
                <th data-cid="profileId" pResizableColumn>
                    {{'applications.settings.reach.table.id' | translate}}
                </th>
                <th data-cid="createdOn" pResizableColumn [pSortableColumn]="'createdAt'">
                    {{'applications.settings.reach.table.created' | translate}}
                    <p-sortIcon [field]="'createdAt'"></p-sortIcon>
                </th>
                <th data-cid="allocated" pResizableColumn>
                    {{'applications.settings.reach.table.allocated' | translate}}
                </th>
                <th data-cid="remaining" pResizableColumn>
                    {{'applications.settings.reach.table.remaining' | translate}}
                </th>
                <th data-cid="expiration">
                    {{'applications.settings.reach.table.expiration' | translate}}
                </th>
                <th [ngStyle]="{'overflow':'visible', 'width':'80px'}"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-profile>
            <tr>
                <td class="ui-resizable-column">
                    <div class="kTranscodingProfileNameWrapper">
                        <div class="kTranscodingProfileName kTableColumn"
                             [kTooltip]="profile.name"
                             (click)="_onActionSelected('edit', profile)">
                            {{profile.name}}
                        </div>
                    </div>
                </td>
                <td class="ui-resizable-column">{{profile.id}}</td>
                <td class="ui-resizable-column">{{profile.createdAt | kmcDate:'dateOnly'}}</td>
                <td class="ui-resizable-column">{{profile.credit ? (profile.credit.credit | kReachProfileCredit) : ('app.common.n_a' | translate)}}</td>
                <td class="ui-resizable-column">{{profile.remaining | kReachProfileCredit}}</td>
                <td class="ui-resizable-column">{{profile.credit.toDate | kmcDate:'dateOnly'}}</td>
                <td [ngStyle]="{'overflow':'visible', 'width':'80px'}">
                    <div class="kTranscodingProfilesTableActions">
                        <button class="kMoreActionsButton" type="button" pButton icon="kIconmore"
                                (click)="_openActionsMenu($event, profile)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <div class="emptymessage">
                <div class="kEmptyMessage">{{_emptyMessage}}</div>
            </div>
        </ng-template>
    </p-table>
    <p-menu #actionsmenu [popup]="true" [model]="_items" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
</div>
