@import 'app-theme/_variables.scss';

.kTable {
  background-color: white;
  overflow: hidden;
  position: relative;
  padding: 0px;
  width: 100%;
  .kTableActions {
    width: 100%;
    text-align: center;
  }

  .kTitle {
    color: #333333;
    font-weight: 700;
  }
}

:host ::ng-deep .selectionColumn {
  width: 24px;
  padding-left: 14px!important;
}

:host ::ng-deep .p-datatable .nameColumn {
  width: 100px;
}

:host ::ng-deep .p-datatable .createdAtColumn {
  width: 40px;
  text-align: center;
}

:host ::ng-deep .p-datatable .entriesCountColumn {
  width: 50px;
  text-align: center;
}

:host ::ng-deep .p-datatable .actionsColumn {
  overflow: visible;
  width: 30px;
}


:host {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  flex-direction: column;
}

:host ::ng-deep p-table{
  width: 100%;
}


:host ::ng-deep p-table .stickyHeader{
  z-index: 10;
  display: table;
}
