<kEntriesList [columns]="_columns"
              [rowActions]="_rowActions"
              [isBusy]="_isBusy"
              [blockerMessage]="_blockerMessage"
              (onActionsSelected)="_onActionSelected($event)">
  <div class="bulk-actions">
    <kBulkActions [selectedEntries]="_entriesList.selectedEntries"
                  (onBulkChange)="_entriesList.onBulkChange($event)"></kBulkActions>
  </div>
</kEntriesList>

<kPopupWidget #moderationDetails [popupWidth]="792" [popupHeight]="700" [modal]="true" [closeBtn]="false" class="kPopupWidgetWrap">
  <ng-template>
    <kEntryReport
      [parentPopupWidget]="moderationDetails"
      [entryId]="currentEntryId"></kEntryReport>
  </ng-template>
</kPopupWidget>
