<div class="kPrefs kUseKMCngIcons">
    <p class="kFilterPrefs">{{'applications.content.filters.preferences.filterPreferences' | translate | uppercase}}</p>
    <div class="kButtons">
        <p-radioButton name="prefs" [value]="false" label="{{'applications.content.filters.preferences.selectedOnly' | translate}}" [(ngModel)]="showChildren" (click)="prefChange()"></p-radioButton>
        <p-radioButton name="prefs" [value]="true" label="{{'applications.content.filters.preferences.subSelected' | translate}}" [(ngModel)]="showChildren" (click)="prefChange()"></p-radioButton>
    </div>
</div>

