@import "../../../styles/scss/_variables.scss";
.kPrefs{
    padding-left: 20px;
    padding-top: 10px;
}
.kFilterPrefs{
    color: $kGrayscale3;
    line-height: 40px;
    letter-spacing: 0.1em;
    font-size: 13px;
}
.kRadioLabel{
    margin-left: 34px;
    margin-top: -20px;
    color: $kGrayscale3;
    font-size: 15px;
}
.kRadioBtnHolder{
    margin-bottom: 14px;
}
