@import 'app-theme/_variables.scss';

.kTranscodingProfilesFlavorsHolder {
  width: 100%;
  height: 100%;
  border: 1px solid $kGrayscale6;
  position: relative;
  display: flex;
  flex-direction: column;

  .kTranscodingProfilesFlavorsTableHeader {
    color: $kGrayscale1;
    z-index: 500;
    height: 66px;
    background-color: white;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 0;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;

    .kTotalFlavorsCount {
      padding-left: 16px;
    }

    .kSelectedFlavorsLabel {
      font-weight: bold;
      margin-right: 36px;
      margin-left: 5px;
    }
  }

  .kTranscodingProfilesFlavorsTable {
    border: none;
    position: relative;
    background-color: white;
    flex: 1 1 auto;
    display: block;
  }
}
