@import 'app-theme/_variables.scss';

.kAccessControl{
	padding: 8px;
	padding-left: 12px;
	width: 100%;
	.kTitle{
		padding-left: 16px;
		color: $kGrayscale1;
		font-size: 20px;
		font-weight: 700;
	}
	.kAccessControlDetails{
		box-sizing: border-box;
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;
		.kRow{
			display: flex;
			padding-top: 24px;
			align-items: center;

            .kAccessControlProfileItem {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 130px;
                white-space: nowrap;
            }
		}
		.kMultiLine{
			white-space: pre-wrap;
		}
		.kLabels{
			width: 180px;
			flex: 0 0 auto;
		}
	}
}
:host /deep/ .ui-dropdown.ui-widget{
	width: 180px !important;
}

:host /deep/ .ui-dropdown-label.ui-inputtext{
	background-color: #ffffff;
}

:host /deep/ .ui-dropdown-label {
  text-overflow: ellipsis;
}
