@import '~app-styles/_variables.scss';

.kAccessControl{
	padding-left: 12px;
	overflow-x: hidden;
	width: 100%;
	.kTitle{
		color: $kGrayscale1;
		font-size: 20px;
		font-weight: 700;
	}
	.kAccessControlDetails{
		padding-left: 12px;
		padding-right: 12px;
		width: 100%;
		.kRow{
			display: flex;
			padding-top: 24px;
			align-items: center;
		}
		.kLabels{
			width: 180px;
			flex: 0 0 auto;
		}
	}
}
:host /deep/ .ui-dropdown-trigger .fa.fa-caret-down{
	margin-top: 2px;
	margin-left: 1px;
	position: absolute;
	color: $kGrayscale1;
}
:host /deep/ .ui-dropdown.ui-widget{
	width: 180px !important;
}

:host /deep/ .ui-dropdown-label.ui-inputtext{
	background-color: #ffffff;
}
