@import 'app-theme/_variables.scss';

.kSections {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: #ffffff;
  border: 0px solid #ffffff;
  border-radius: 3px;
}

:host ::ng-deep .kStickySections {
  border-top: 2px solid $kGrayscale6;
}
