<div class="loginContainer" *ngIf="showLogin">
  <div class="container-fluid">
    <div class="row header">
      <img src="assets/kmc-shell/header_logo.png">
      <div class="col-12">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <span><a (click)="openUserManual()">{{'USER_SETTINGS.userManual' | translate}}</a></span>
          </li>
          <li>
            <span class="separator">|</span>
          </li>
          <li>
            <kmc-language-menu class="langMenu"></kmc-language-menu>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4"></div>
         <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading"><img src="assets/kmc-shell/Kaltura-LogoAnimation-500-400.gif"></div>
                <div class="panel-body">
                  <div class="alert alert-warning" *ngIf="errorMessage">{{ errorMessage }}</div>
                  <form role="form" (submit)="login(username.value, password.value, $event)">
                    <div class="form-group" [hidden]="userContext && userContext.ks">
                      <label for="username">Username</label>
                      <input type="text" #username class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-group" [hidden]="userContext && userContext.ks">
                      <label for="password">Password</label>
                      <input type="password" #password class="form-control" id="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-info col-md-12" [disabled]="inProgress">{{ inProgress ? 'Please wait' : 'Submit'}}</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
  </div>

</div>



