<p><a name="4.4.0"></a></p>
<h1>KMCng v4.4.0 (2018-04-30)</h1>
<h3>New Functionality</h3>

<h4>Platform</h4>
<ul>
<li>De-Flash all KMC and its components.</li>
<li>A new engaging design to give a unified, consistent user experience throughout the platform. All pages were revised and improved.</li>
<li>Performance improvement.</li>
</ul>

<h4>Content creation and editing</h4>
<ul>
    <li>Support uploading videos greater than 2GB.</li>
    <li>Upload Monitoring – presenting you all current uploads status. Located in to top navigation bar, for quick access from any page on the KMC.</li>
    <li>Kaltura New Editing Tool is now available from the KMC as well – Clip, Trim, advertisement and more.</li>
    <li>IVQ creation.</li>
</ul>

<h4>Entries list & details</h4>
<ul>
    <li>YouTube entries are visible in the entries list.</li>
    <li>Each entry page includes a fixed player and entry details. Those will be available also while navigation between the entries different tabs.</li>
</ul>

<h4>Share & Embed</h4>
<ul>
    <li>Sort the players list is available now supporting sort by name, upload date, update date.</li>
    <li>Updated players list - all irrelevant and old players were removed.</li>
</ul>

<h3>Deprecated Functionality</h3>
<ul>
    <li>KMC dashboard was removed. The content page is now the KMC landing page. Account and Billing information can be found now in the Account Information page.</li>
    <li>Notification setting (integration setting) via the KMC – new notification setup is done now by the new notification module.</li>
    <li>Import from Web – ingest video from Metacafe video repository.</li>
</ul>

<h3>Missing Functionality</h3>
The following functionality is currently not supported, and will be deployed in the future versions –
<ul>
    <li>Foreign languages support – currently only English is supported.</li>
    <li>Analytics.</li>
    <li>Replace Video.</li>
    <li>Entry Flavors actions - drop folders and remote storage.</li>
    <li>Thumbnail cropping.</li>
    <li>Forgot password.</li>
    <li>iTunes Syndications.</li>
    <li>Syndication: instruction screens are currently not available for all channels.</li>
    <li>Small resolutions support (1024x768).</li>
    <li>Help – for the Beta, user guide is provided in PDF file.</li>
</ul>

<h3>Known Limitations</h3>
<ul>
    <li>Table columns size currently cannot be modified.</li>
    <li>When trimming a video – in case customer’s configuration requires ‘approval before replacing’, the trim activity could not be fully completed, replacement should be approved in the current KMC.</li>
    <li>Navigation breadcrumbs - back arrow on entry details page links to the entries list page, and not necessarily to the latest page.</li>
    <li>The Upload Monitoring page is updated every 10 seconds, changes to the uploads status will be reflected near real time.</li>
    <li>Login – email format validations and error messages covers most of the invalid formats, some formats are not validated.</li>
    <li>Open the same KMC in 2 tabs in the same browser, requires a login to each one of the pages.</li>
</ul>
