<p><a name="4.0.1"></a>
<a name="4.0.0"></a></p>
<h1 id="40020180304">4.0.0 (2018-03-04)</h1>
<h3 id="features">Features</h3>
<ul>
<li><strong>External application integration:</strong> Add external applications development samples </li>
<li><strong>Content/entries:</strong> Add entry details distribution section  </li>
<li><strong>Content/syndication:</strong> Add syndication view </li>
<li><strong>Settings:</strong> Add account information view  </li>
<li><strong>Content/Entry/Live</strong> Add Kaltura live view in entry details  </li>
<li><strong>External application integration:</strong> Embed usage dashboard, live dashboard and studio external applications  </li>
<li><strong>Settings/access control:</strong> Add access control views  </li>
<li><strong>Settings/transcoding-settings:</strong> Add transcoding settings view  </li>
<li><strong>Performance enhancements</strong>: Performance enhancements for tables in entries list, moderation list, playlists list, syndication list, categories list, bulk upload list, drop folders list and entries selector  </li>
<li><strong>Stack upgrade:</strong> Upgrade stack to angular@5 and /cli@1.7.0 </li>
</ul>
<p><a name="3.6.1"></a>
<a name="3.6.0"></a></p>
<h1 id="36020180205">3.6.0 (2018-02-05)</h1>
<h3 id="features-1">Features</h3>
<ul>
<li><strong>Server configuration:</strong> the ability to configure against any server using local configuration files</li>
<li><strong>Categories move lockdown:</strong> display categories status upon server lock and update states, prevent categories action upon server lock</li>
<li><strong>Integration settings:</strong> Settings &gt; Integration Settings screen including Account Info, Notification and Entitlements Settings</li>
<li><strong>Rule-based playlist:</strong> Content &gt; Playlists &gt; Rule-based playlist: New playlist, Edit playlist, Add / Edit / Delete rules</li>
<li><strong>Custom Data:</strong> Settings &gt; Custom data: Add / Edit / Delete custom data schemas and fields</li>
<li><strong>My User Settings:</strong> Settings &gt; My user settings: View &amp; edit user settings</li>
<li><strong>Thumbnail capture from entry:</strong> Widget allowing capturing a specific frame from the entry to be used as the entry thumbnail</li>
<li><strong>Filters refactor:</strong> Refactor of the filters system across the application</li>
<li><strong>UX Fixes:</strong> Following feedback from UX team</li>
<li><strong>UI enhancements:</strong> Updated styles and layouts, new "copy to clipboard" component and more</li>
<li><strong>studio:</strong> register to studio callback to refresh players list upon add / delete players in Studio</li>
<li><strong>content/drop-folder:</strong> add server side sorting</li>
</ul>
<p><a name="3.5.0"></a></p>
<h1 id="35020180114">3.5.0 (2018-01-14)</h1>
<h3 id="features-2">Features</h3>
<ul>
<li><strong>content/categories:</strong> inherit category entitlement users of parent category </li>
</ul>
<p><a name="3.4.0"></a></p>
<h1 id="34020180109">3.4.0 (2018-01-09)</h1>
<h3 id="features-3">Features</h3>
<ul>
<li><strong>content/entries:</strong> add Preview&amp;Embed view  </li>
<li><strong>content/categories:</strong> add categories list view filters </li>
<li><strong>content/categories:</strong> add category details view </li>
<li><strong>content/categories:</strong> add new category and move categories views </li>
<li><strong>content/drop-folder:</strong> add drop folder list view </li>
<li><strong>content/drop-folder:</strong> add drop folder to monitor notification </li>
<li><strong>administration/users:</strong> add users list and details views </li>
<li><strong>content/moderation:</strong> add moderation view </li>
<li><strong>content/entries</strong>: create new playlist from entries bulk operation </li>
<li><strong>content/entries:</strong> Add help tips to metadata labels with description </li>
<li><strong>content/playlists:</strong> add playlists list view filters </li>
</ul>
<p><a name="3.3.0"></a></p>
<h1 id="33020171206">3.3.0 (2017-12-06)</h1>
<h3 id="features-4">Features</h3>
<ul>
<li><strong>content/entries:</strong> improve file uploads stability for content tab  </li>
<li><strong>upload:</strong> add application upload monitor popup </li>
<li><strong>upload:</strong> add bulk upload action with bulk uploads view </li>
<li><strong>shell:</strong> block shell when performing save operations so the user will not be able to navigate to other view while application is busy </li>
<li><strong>content/categories:</strong> update bulk operations  </li>
<li><strong>upload:</strong> issue warning when leaving app during file upload </li>
<li><strong>upload:</strong> support resume upload in upload control view</li>
<li><strong>content/entries:</strong> show tooltip over custom data fields in metadata sections  </li>
<li><strong>playlists:</strong> manage manual playlists </li>
<li><strong>shell:</strong> add prepare audio, video, and live entries  </li>
</ul>
<p><a name="3.2.0"></a></p>
<h1 id="32020171101">3.2.0 (2017-11-01)</h1>
<h3 id="features-5">Features</h3>
<ul>
<li>prevent getting cached translation file when upgrading to new version </li>
</ul>
<p><a name="3.1.0"></a></p>
<h1 id="31020171030">3.1.0 (2017-10-30)</h1>
<h3 id="features-6">Features</h3>
<ul>
<li>new scroll system &amp; layout supporting dynamic sticky elements</li>
<li>drill-down page layout redesign</li>
<li><strong>upload:</strong> upload from desktop: support parralel uploads</li>
<li><strong>upload:</strong> upload control view (list of active uploads and upload progress)</li>
<li><strong>shell:</strong> add change account per partner </li>
<li>add release notes popup </li>
<li><strong>shell:</strong> support chunked upload file (remove 2Gb file size limitation) </li>
<li>issue a message when using Internet Explorer lower than 11 and prevent login </li>
<li><strong>upload:</strong> add high speed upload link to upload menu </li>
<li>add scroll to top button </li>
</ul>
<h3 id="technicalfeatures">Technical Features</h3>
<ul>
<li>add app events to allow communication between applications </li>
<li>add isIE11 public function to browser service and use it where needed to detect IE11 </li>
</ul>
<p><a name="3.0.1"></a>
<a name="3.0.0"></a></p>
<h1 id="30020170925">3.0.0 (2017-09-25)</h1>
<h3 id="features-7">Features</h3>
<ul>
<li><strong>administration-roles:</strong> add roles list, role edit/add/duplicate/delete. missing roles permission modification </li>
<li><strong>content:</strong> entries bulk operations for delete, change owner, remove from category, download, access control </li>
<li><strong>content:</strong> support categories list actions like reload, pagination and sorting </li>
<li><strong>content-categories:</strong> add category details view (layout &amp; basic functionality only) </li>
<li><strong>content-categories:</strong> show categories list with basic implementation </li>
<li><strong>content-entries:</strong> placeholders for missing bulk actions (add to new category, add to new playlist) </li>
<li><strong>content-playlists:</strong> add new playlist wizard (currently support only manual playlist) </li>
<li><strong>content-playlists:</strong> add section list navigation panel, show playlist details and loading notifications </li>
<li><strong>content-playlists:</strong> bulk delete of playlists </li>
<li>add categories app (currently without content) and adjust the application routing accordingly </li>
<li>add growl support as part of the app services </li>
<li>add high speed upload link and fix upload window text labels </li>
<li>add login form, forgot password form, password expired and invalid login hash views </li>
<li>add npm script to easily checkout to the latest standalone commit </li>
<li>add studio (load in production build only) </li>
<li>add tool to extract dependency licenses </li>
<li>allow app minification by removing constraints on function names </li>
<li>notify the user that caption language is used when caption label is set to empty </li>
<li>playlist navigation between sections and warn when leaving before changes were saved </li>
<li>show upload menu when user clicks on the upload button in the application header </li>
<li>support auto-complete color and tooltip for manually added items </li>
<li>support confirmation multi lines message </li>
<li><strong>content/playlists:</strong> add playlist metadata section supporting data loading and saving </li>
<li>support external media entries </li>
<li>support language file hash to bypass browser cache upon application upgrade </li>
<li>upgrade PrimeNG to v4.1.0 </li>
</ul>
<p><a name="2.3.1"></a>
<a name="2.3.0"></a></p>
<h1 id="23020170613">2.3.0 (2017-06-13)</h1>
<h3 id="features-8">Features</h3>
<ul>
<li><strong>content-entries / entry:</strong> new layout for entry details view&gt;metadata section&gt;categories selector popup. </li>
<li>update style of auto-complete to match the new provided style.</li>
</ul>
<p><a name="2.2.2"></a>
<a name="2.2.1"></a>
<a name="2.2.0"></a></p>
<h1 id="22020170611">2.2.0 (2017-06-11)</h1>
<h3 id="features-9">Features</h3>
<ul>
<li>upgrade Angular to version 4.x and any other library that depends on Angular (angular, prime, webpack, typescript) </li>
<li><strong>content-entries:</strong> show partial selection state in categories/refine filters </li>
<li><strong>content-entries / entries:</strong> show file sizes in various measurements (bytes, KB, MB, GB, TB, PB) in thumbnail and related sections </li>
</ul>
<p><a name="2.1.0"></a></p>
<h1 id="21020170528">2.1.0 (2017-05-28)</h1>
<h3 id="features-10">Features</h3>
<ul>
<li><strong>content-entries / entry:</strong> add last update field display in the entry preview panel </li>
<li><strong>content-entries / entry:</strong> notify user before leaving entry details without saving changed data </li>
<li><strong>content-entries / entry:</strong> use category selector popup to select/unselect entry categories in  entry metadata section </li>
<li><strong>content-entries / entry:</strong> show linked entries component in entry metadata schema and allow delete/reorder of entries </li>
<li><strong>shell:</strong> enable and disable page leave verification + custom message (for supporting browsers) </li>
</ul>
<p><a name="2.0.1"></a>
<a name="2.0.0"></a></p>
<h1 id="20020170516">2.0.0 (2017-05-16)</h1>
<h2 id="features-11">Features</h2>
<ul>
<li><strong>Entry Details -> Entry details panel</strong>: Entries navigation, data saving, error handling and recovering </li>
<li><strong>Entry Details -> Entry preview panel</strong>: Entry preview and basic details listing</li>
<li><strong>Entry Details -> Metadata</strong>: Entry metadata management (basic and custom scheme)</li>
<li><strong>Entry Details -> Thumbnails</strong>: Entry thumbnails management</li>
<li><strong>Entry Details -> Access control</strong>: Access control management</li>
<li><strong>Entry Details -> Scheduling</strong>: Scheduling setup</li>
<li><strong>Entry Details -> Flavors</strong>: Entry flavors management</li>
<li><strong>Entry Details -> Captions</strong>: Entry captions management</li>
<li><strong>Entry Details -> Related files</strong>: Entry related files management</li>
<li><strong>Entry Details -> Live</strong>: Manual and Universal live details and setup</li>
<li><strong>Entry Details -> Clips</strong>: Entry clips summary</li>
<li><strong>Entry Details -> Users</strong>: Entry users management</li>
</ul>
<p><a name="0.1.0-rc.4"></a></p>
<h1 id="010rc420170227">0.1.0-rc.4 (2017-02-27)</h1>
<h2 id="features-12">Features</h2>
<ul>
<li><strong>Entries list -> Entries Table</strong>: Add tooltips to media type column.</li>
<li><strong>Entries list -> Category Filters</strong>: Search for categories with auto-complete. Support both default mode when nodes are loaded upon initialize and when lazy loading tree nodes.</li>
<li><strong>Entries list -> Refine filters</strong>: Correct start/end date filter times (start dates are adjusted to 00:00:00, end dates are adjusted to 23:59:59). </li>
</ul>
<p><a name="0.1.0-rc.3"></a></p>
<h1 id="010rc320170220">0.1.0-rc.3 (2017-02-20)</h1>
<h2 id="features-13">Features</h2>
<ul>
<li><strong>General</strong>: Update libraries version</li>
</ul>
<hr />
<p><a name="0.1.0-rc.2"></a></p>
<h1 id="010rc220170209">0.1.0-rc.2 (2017-02-09)</h1>
<h3 id="features-14">Features</h3>
<ul>
<li><p><strong>Entries list -> Entries Table</strong>: Implement entry status logic.</p></li>
<li><p><strong>General -> logout</strong>: The logout process was implemented with basic support. It will be handled as part of future delivry. At the moment, logout from the application will clear cache and reload the application.</p></li>
<li><p><strong>DevOp</strong>: Upgrade dev dependencies:</p></li>
<li><p>Upgrade webpack to 2.x and all its' loaders accordingly.</p></li>
<li><p>Upgrade typescript to 2.2.x.</p></li>
<li><p>Remove typings usage.</p></li>
<li><p>Add @Types dependencies.</p></li>
<li><p><strong>DevOp</strong>: Optimize build process and deployed package: </p></li>
<li><p>Reduce javascript bundle sized.</p></li>
<li><p>Minify javascript code.</p></li>
<li><p>Lazy loading support for views.</p></li>
<li><p>Angular2 component template &amp; styles support.</p></li>
<li><p>Theme bundling and assets re-organization.</p></li>
<li><p>Enable Angular runtime production mode.</p></li>
<li><p>Enable .  </p></li>
<li><p><strong>DevOp</strong>: Print application version in console during app load.</p></li>
</ul>
<p><a name="0.1.0-rc.1"></a></p>
<h1 id="010rc120170201">0.1.0-rc.1 (2017-02-01)</h1>
<h3 id="features-15">Features</h3>
<ul>
<li><p><strong>General -> KMCng theme</strong>: Creation of KMCng theme based on the  provided by the UI/UX team.</p></li>
<li><p><strong>Entries list -> Entries Table</strong>: A list of all entries with support for sorting, pagination, filtering, custom number of rows per page.</p></li>
<li><p><strong>Entries list -> Free text search</strong>: Support free text entries search.</p></li>
<li><p><strong>Entries list -> Category Filters</strong>: Support filtering entries by Categories. Support lazy loading for large categories data sets and special visualization for large amount of categories.</p></li>
<li><p><strong>Entries list -> Additional Filters</strong>: Support additional filters.</p></li>
<li><p><strong>Entries list -> Metadata Filters</strong>: Support metadata filters.</p></li>
<li><p><strong>Entries list -> Metadata Search</strong>: Support free text search based on metadata profile values.</p></li>
<li><p><strong>Entries list -> Filters management</strong>: Filters can be managed from within filter drop-downs as well as from filter tags list.</p></li>
<li><p><strong>Entries list -> Bulk Selection</strong>: Multiple entries can be selected in the table exposing the Bulk operations menu and allowing bulk operation selection.</p></li>
</ul>