<div>
    <span class="kTitle">Version 7.15.0</span>
    <span class="kTitle kDate">(10/29/2023)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Audio player share & embed</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.14.1</span>
    <span class="kTitle kDate">(10/15/2023)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.14.0</span>
    <span class="kTitle kDate">(10/01/2023)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Support thumbnail embed for player v7</li>
    <li>Display moderated system entries</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.13.0</span>
    <span class="kTitle kDate">(07/30/2023)</span>
    <div><span><span> </span></span></div>
</div>

<div>
    <span class="kTitle">Version 7.13.1</span>
    <span class="kTitle kDate">(09/10/2023)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.13.0</span>
    <span class="kTitle kDate">(07/30/2023)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Rooms View</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.12.1</span>
    <span class="kTitle kDate">(06/04/2023)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.12.0</span>
    <span class="kTitle kDate">(05/21/2023)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Allow editing of manual live stream URLs</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.11.0</span>
    <span class="kTitle kDate">(04/09/2023)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Recycled entries filter</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.10.4</span>
    <span class="kTitle kDate">(03/12/2023)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.10.3</span>
    <span class="kTitle kDate">(02/26/2023)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.10.2</span>
    <span class="kTitle kDate">(02/05/2023)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.10.1</span>
    <span class="kTitle kDate">(01/22/2023)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.10.0</span>
    <span class="kTitle kDate">(01/15/2023)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Webex profiles integration</li>
    <li>Categories export to CSV</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.9.0</span>
    <span class="kTitle kDate">(01/01/2023)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>New Kaltura player studio</li>
    <li>Share & Embed supports v7 player for playlists</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.8.0</span>
    <span class="kTitle kDate">(12/19/2022)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Support low latency streams (beta)</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.7.2</span>
    <span class="kTitle kDate">(11/20/2022)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.7.1</span>
    <span class="kTitle kDate">(11/06/2022)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.7.0</span>
    <span class="kTitle kDate">(09/18/2022)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Enable Captions & Enrich for live entries</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.6.4</span>
    <span class="kTitle kDate">(08/07/2022)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.6.3</span>
    <span class="kTitle kDate">(07/24/2022)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.6.2</span>
    <span class="kTitle kDate">(07/11/2022)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.6.1</span>
    <span class="kTitle kDate">(07/10/2022)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.6.0</span>
    <span class="kTitle kDate">(06/26/2022)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Add export to CSV feature for Entries and Users</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.5.1</span>
    <span class="kTitle kDate">(05/29/2022)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Manage zoom ingest to Kaltura (opt in/out)</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.5.0</span>
    <span class="kTitle kDate">(05/15/2022)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.4.1</span>
    <span class="kTitle kDate">(05/01/2022)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>App token permissions available in roles</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.4.0</span>
    <span class="kTitle kDate">(04/10/2022)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Edit Live SRT encryption settings</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.3.0</span>
    <span class="kTitle kDate">(03/27/2022)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Allow excluding specific users from SSO login</li>
    <li>Allow generating SIP token for Live</li>
    <li>Live stream details for SRT protocol</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.2.0</span>
    <span class="kTitle kDate">(03/06/2022)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>CSP support + upgrade KMC preview players to v7</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.1.3</span>
    <span class="kTitle kDate">(02/06/2022)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Remove legacy Usage Dashboard in favor of new Analytics Usage Overview</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.1.2</span>
    <span class="kTitle kDate">(01/23/2022)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.1.1</span>
    <span class="kTitle kDate">(01/09/2022)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.1.0</span>
    <span class="kTitle kDate">(12/26/2021)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Self serve support</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.0.3</span>
    <span class="kTitle kDate">(11/28/2021)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.0.2</span>
    <span class="kTitle kDate">(11/14/2021)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.0.1</span>
    <span class="kTitle kDate">(10/31/2021)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Add distribution and thumbnails to image entry</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 7.0.0</span>
    <span class="kTitle kDate">(10/17/2021)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Upgrade to Angular 11</li>
    <li>Style updates</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 6.6.2</span>
    <span class="kTitle kDate">(08/15/2021)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>List Zoom transcoding profiles</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 6.6.1</span>
    <span class="kTitle kDate">(07/26/2021)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 6.6.0</span>
    <span class="kTitle kDate">(05/23/2021)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Zoom Integration</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 6.5.3</span>
    <span class="kTitle kDate">(04/18/2021)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 6.5.2</span>
    <span class="kTitle kDate">(03/28/2021)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 6.5.1</span>
    <span class="kTitle kDate">(02/28/2021)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 6.5.0</span>
    <span class="kTitle kDate">(02/14/2021)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Entries list: Add "Played Until" filter</li>
    <li>Entry Captions: Support additional languages</li>
    <li>Manual playlist Analytics</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 6.4.0</span>
    <span class="kTitle kDate">(01/31/2021)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Reach Profile: Add captions label suffix field</li>
    <li>Entry Captions: Support WebVTT editing in captions editor</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 6.3.2</span>
    <span class="kTitle kDate">(01/17/2021)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 6.3.1</span>
    <span class="kTitle kDate">(12/20/2020)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Support Portuguese language</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 6.3.0</span>
    <span class="kTitle kDate">(09/13/2020)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Edit specific caption in Captions Editor</li>
    <li>Webcast Analytics</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 6.2.3</span>
    <span class="kTitle kDate">(08/09/2020)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 6.2.2</span>
    <span class="kTitle kDate">(07/26/2020)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 6.2.1</span>
    <span class="kTitle kDate">(07/12/2020)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 6.2.0</span>
    <span class="kTitle kDate">(06/28/2020)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Support entries description field in free text advanced search options</li>
    <li>Filter for entries without captions</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 6.1.0</span>
    <span class="kTitle kDate">(06/14/2020)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Advanced Search Options</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 6.0.0</span>
    <span class="kTitle kDate">(05/31/2020)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Upgrade libraries to Angular 9</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.27.0</span>
    <span class="kTitle kDate">(05/17/2020)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Add Youtube distribution profiles management</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.26.2</span>
    <span class="kTitle kDate">(05/17/2020)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.26.1</span>
    <span class="kTitle kDate">(05/03/2020)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.26.0</span>
    <span class="kTitle kDate">(04/19/2020)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Add Interactive Video filter to Playlists view</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.25.0</span>
    <span class="kTitle kDate">(03/29/2020)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Category Analytics</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.24.1</span>
    <span class="kTitle kDate">(03/15/2020)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.24.0</span>
    <span class="kTitle kDate">(03/01/2020)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Display / add / edit captions accuracy</li>
    <li>Filter entries by captions</li>
    <li>List Reach services: Alignment, Audio Description, Chaptering</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.23.0</span>
    <span class="kTitle kDate">(02/16/2020)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>View and edit Reach profiles</li>
    <li>View and filter Reach services</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.22.0</span>
    <span class="kTitle kDate">(02/02/2020)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Analytics localization</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.21.1</span>
    <span class="kTitle kDate">(01/19/2020)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.21.0</span>
    <span class="kTitle kDate">(01/05/2020)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Add User Entry metadata fields</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.20.0</span>
    <span class="kTitle kDate">(12/22/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Support Interactive Video entries</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.19.2</span>
    <span class="kTitle kDate">(11/24/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.19.1</span>
    <span class="kTitle kDate">(11/12/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.19.0</span>
    <span class="kTitle kDate">(11/10/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Filter for entries with Quiz</li>
    <li>Filter for YouTube entries</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.18.0</span>
    <span class="kTitle kDate">(10/27/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Upgrade to Angular 8</li>
    <li>Add the ability to toggle captions</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.17.0</span>
    <span class="kTitle kDate">(10/06/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Support user analytics</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.16.1</span>
    <span class="kTitle kDate">(09/16/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.16.0</span>
    <span class="kTitle kDate">(09/15/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Login: Support SSO login</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.15.0</span>
    <span class="kTitle kDate">(09/08/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Drop folders: Add drop folders filter by folder name</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.14.0</span>
    <span class="kTitle kDate">(09/01/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Analytics: Support multi-account analytics</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.13.1</span>
    <span class="kTitle kDate">(08/18/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.13.0</span>
    <span class="kTitle kDate">(08/04/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Add SIP user details for entry drill-down live tab</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.12.1</span>
    <span class="kTitle kDate">(07/23/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.12.0</span>
    <span class="kTitle kDate">(07/21/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Support user selected date format in analytics</li>
    <li>Support SCC caption type</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.11.0</span>
    <span class="kTitle kDate">(06/30/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Real-time analytics</li>
    <li>Two factor authentication support</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.10.0</span>
    <span class="kTitle kDate">(06/02/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Multi account management</li>
    <li>Bulk editing for entry co-viewers (add/remove)</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.9.1</span>
    <span class="kTitle kDate">(05/26/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Display thumbnail tags in the entry thumbnails table</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.8.0</span>
    <span class="kTitle kDate">(04/28/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Entry co-viewers are now available for editing under the entry users tab</li>
    <li>Date format selector</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.7.1</span>
    <span class="kTitle kDate">(04/14/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Content interactions dashboard in the analytics dashboards – how users are interacting with the player</li>
    <li>Export to csv functionality in the analytics dashboard</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.7.0</span>
    <span class="kTitle kDate">(03/31/2019)</span>
    <div><span><span> 
    </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div><br>
This is the first version that includes the new KMC analytics dashboards based on the Kaltura analytics infrastructure.
Kaltura analytics provides in-depth granular data as well as actionable insights that allows admins to optimize content and make data driven decisions.
Main dashboards:
<ul>
    <li>Audience - How users are consuming content<ul>
        <li>Engagement</li>
        <li>Content interactions – coming soon</li>
        <li>Technology</li>
        <li>Geo Location</li>
    </ul></li>
    <li>Contributors - who are the users that are creating content? and with what tools? </li>
    <li>Usage - System reports on BW, Storage and Transcoding consumption </li>
    <li>Live - Live dashboard of live events that were live in the past 36 hours</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.6.5</span>
    <span class="kTitle kDate">(03/10/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.6.4</span>
    <span class="kTitle kDate">(02/07/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.6.3</span>
    <span class="kTitle kDate">(01/29/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.6.2</span>
    <span class="kTitle kDate">(01/13/2019)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.6.0</span>
    <span class="kTitle kDate">(12/25/2018)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Add support for Sami languages when uploading captions to KMC</li>
    <li>Custom metadata - display field system name</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.5.2</span>
    <span class="kTitle kDate">(11/07/2018)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.5.0</span>
    <span class="kTitle kDate">(10/25/2018)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Support the latest version of the Kaltura player in Syndication</li>
    <li>Bug fix: Enable KMC access to existing KMS users when creating a new user using a KMS user ID</li>
    <li>Additional bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.4.2</span>
    <span class="kTitle kDate">(10/07/2018)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Support interface language translations: English, French, German, Spanish, Japanese</li>
    <li>Support for the latest version of the Kaltura player</li>
    <li>Add topic-related help links for all pages (under the help menu)</li>
    <li>Allow moving playlist entries to top or bottom of the list</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.3.2</span>
    <span class="kTitle kDate">(08/22/2018)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Content/entries: allow downloading and deleting an entry directly from entry page</li>
    <li>Content/entries: show quiz icon for relevant entries</li>
    <li>Content/entries: show Youtube icon on entries of type Youtube</li>
    <li>Create entry from URL</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 5.2.0</span>
    <span class="kTitle kDate">(07/24/2018)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>Resizable table columns</li>
    <li>Drop folders support for replacing videos and flavors</li>
    <li>Reach integration</li>
    <li>Support VTT captions format</li>
    <li>Infrastructure upgrade</li>
    <li>Bug fixes</li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>

<div>
    <span class="kTitle">Version 4.8.1</span>
    <span class="kTitle kDate">(06/28/2018)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>New Functionality</u></strong></span></div>
<ul>
    <li>New bulk actions for co-publisher and co-editor</li>
    <li>Support live analytics</li>
    <li>Support KEA opening on live entry for live clipping</li>
    <li>Replace video: allow upload and import</li>
    <li>Replace video: Allow linking to remote storage</li>
</ul>

<div><span><strong><u>Bug Fixes</u></strong></span></div>
<ul>
    <li>[Administration &gt; Add User] error message is displayed when trying to add new user</li>
    <li>Adding live stream crashes</li>
    <li>[Content &gt; Categories] Categories table is disabled after deleting categories by bulk upload</li>
    <li>Other functionality, performance and UX bugs</li>
</ul>

<div><span><strong><u>Known Limitations</u></strong></span></div>
<ul>
    <li><span><span>Table Columns: Table columns size currently cannot be modified.</span></span></li>
    <li><span><span>Navigation breadcrumbs: Note that back arrow on entry details pages will refer users to the entries list page, rather than the last page viewed.</span></span></li>
</ul>

<div><span><span> </span></span></div>
<div><span><span> </span></span></div>
<div>
    <span class="kTitle">Beta Version 4.5.0</span>
    <span class="kTitle kDate">(05/13/2018)</span>
    <div><span><span> </span></span></div>
</div>

<div><span><strong><u>Improvements</u></strong></span></div>

<ul>
    <li><span><span>Prompt user to re-login once KS is expired.</span></span></li>
    <li><span><span>Display entry duration for Youtube entries.</span></span></li>
    <li><span><span>Users management: allow adding users already listed in the system.</span></span></li>
    <li><span><span>Categories: allow navigation between categories in category details view.</span></span></li>
    <li><span><span>Permissions improvement.</span></span></li>
    <li><span><span>Bugs Fixes.</span></span></li>
</ul>
<div><span><span> </span></span></div>
<div><span><span> </span></span></div>
<div>
    <span class="kTitle">Beta Version 4.4.0</span>
    <span class="kTitle kDate">(05/02/2018)</span>
    <div><span><span>The Beta KMC version is the first version of the new and improved Kaltura Management Console (KMC), Kaltura’s central media management application that provides Admins one intuitive interface for all their media management and publishing needs. The new KMC is HTML5 based and Flash free. It includes additional features and functionality, better performance, and has been redesigned to provide a consistent and engaging user experience across the entire platform.</span></span></div>
    <div><span><span> </span></span></div>
</div>
<div><span><strong><u>New Functionality</u></strong></span></div>
<div><span><strong> </strong></span></div>
<div><span><span><strong>Content Creation and Editing</strong></span></span></div>
<ul>
    <li><span><span>Large file upload: Upload support for videos greater than 2GB</span></span></li>
    <li><span><span>Upload monitoring: presents status on all current uploads. This feature is located in the top navigation bar, for quick access from any page on the KMC </span></span></li>
    <li><span><span>Editing: Access to the Kaltura Video Editing Tools including Clip and Trim are now available in the KMC. </span></span></li>
    <li><span><span>Advertisement module: The Kaltura Video Editing Tools now include advertisement management functionality. </span></span></li>
</ul>
<div><span><span> </span></span></div>
<div><span><span><strong>Entries List &amp; Details</strong></span></span></div>
<ul>
    <li><span><span>YouTube entries: YouTube entries are now visible in the entries list. </span></span></li>
    <li><span><span>Player view and entry details: Each entry page now includes the media preview as well as the entry details. These details are also available when navigating between tabs. </span></span></li>
</ul>
<div><span><span> </span></span></div>
<div><span><span><strong>Share &amp; Embed</strong></span></span></div>
<ul>
    <li><span><span>Sorting through players: Sorting through the list of players is now available, providing the ability to sort by name, upload date, and last date updated, making it easier to locate specific players. </span><span><strong>(Image)</strong></span></span></li>
    <li><span><span>Note: The player drop down list has been updated and all outdated players have been removed</span></span></li>
</ul>
<div><span><span> </span></span></div>
<div><span><span><strong>Distribution </strong></span></span></div>
<ul>
    <li><span><span>Dashboard: Asset level dashboard of all active distribution connectors.</span></span></li>
    <li><span><span>Link to 3</span><sup>rd</sup><span>party site: A link to the distributed entry on the 3rd party site (YouTube, Facebook etc.) is available post export.</span></span></li>
    <li><span><span>Entry remove button: Easy remove button that provides the option to delete the exported asset from the 3rd party site.</span></span></li>
</ul>
<div><span><span> </span></span></div>
<div><span><strong><u>Retired Functionality</u></strong></span></div>
<ul>
    <li><span><span>KMC Dashboard: The KMC dashboard has been removed and users logging into the KMC will now first see the Content page. Account and Billing information, previously housed on the bottom right corner of the KMC dashboard, can be now found in the Account Information page.</span></span></li>
    <li><span><span>Notification Settings: Previously available under Integration Settings. All notifications set ups are now available via the new event notification module in the Admin Console and the email notification module in Kaltura MediaSpace (KMS).</span></span></li>
    <li><span><span>Record from Webcam: Note that this functionality is still available in Kaltura MediaSpace via Kaltura’s capture tools.</span></span></li>
</ul>
<div><span><span> </span></span></div>
<div><span><strong><u>Functionality NOT available in Beta</u></strong></span></div>
<div><span><span>Note that all the following functionalities are still available in the legacy KMC, should you need to use them:</span></span></div>
<ul>
    <li><span><span>Replace Video</span></span></li>
    <li><span><span>Thumbnail cropping</span></span></li>
    <li><span><span>“Forgot password”</span></span></li>
    <li><span><span>Syndication to iTunes</span></span></li>
    <li><span><span>Instruction screens for syndication channels</span></span></li>
    <li><span><span>Support for small resolutions (1024x768)</span></span></li>
    <li><span><span>Foreign language support: Note that only English is supported at this time.</span></span></li>
    <li><span><span>Entry flavors: Ability to link flavors to remote storage and match media files to drop folders</span></span></li>
    <li><span><span>“Help”: Please refer to the User Guide document provided with your introduction email.</span></span></li>
    <li><span><span><strong>Analytics:</strong></span><span> Kaltura Analytics is currently undergoing a major overhaul. The new Analytics, slated for release in Q3 2018, will replace the current Flash-based offering and as a result Analytics has not been included in this Beta.</span></span></li>
</ul>
<div><span><span> </span></span></div>
<div><span><strong><u>Known Limitations</u></strong></span></div>
<ul>
    <li><span><span>Table Columns: Table columns size currently cannot be modified.</span></span></li>
    <li><span><span>Trimming: Cases in which ‘approval before replacing’ is required, approvals must be made within the legacy KMC to be fully supported.</span></span></li>
    <li><span><span>Navigation breadcrumbs: Note that back arrow on entry details pages will refer users to the entries list page, rather than the last page viewed.</span></span></li>
    <li><span><span>Upload Monitoring: The bulk upload status is updated every 10 seconds, which means that status changes will be reflected at this rate.</span></span></li>
    <li><span><span>Login: Users that open the same KMC in two tabs within the same browser will need to login into both pages.</span></span></li>
</ul>
<p> </p>
