<div class="kEditAccessControlProfile">
    <div class="kHeader">
        <span class="kTitle">{{'applications.settings.integrationSettings.zoom.editAccount' | translate}}</span>
        <div class="kButtons">
            <a class="kCancel" (click)="parentPopup.close()">
                {{'applications.settings.accessControl.cancel' | translate}}
            </a>
            <button pButton type="button" class="kButtonBranded kSaveButton"
                    [disabled]="!formValid"
                    [label]="'applications.settings.accessControl.save' | translate"
                    (click)="_save()"></button>
        </div>
    </div>
    <form class="kContainer" [formGroup]="_profileForm">
        <div class="kRow">
            <div class="kLabel">
                <span>{{'applications.settings.integrationSettings.zoom.enableIntegration' | translate}}</span>
            </div>
            <p-inputSwitch class="kControl" [formControl]="_recordingUpload"></p-inputSwitch>
            <span class="kSwitchValue">
              {{_recordingUpload.value ? ('app.common.yes' | translate) : ('app.common.no' | translate)}}
            </span>
        </div>

        <div class="kRow">
            <div class="kLabel">
                <span>{{'applications.settings.integrationSettings.zoom.accountId' | translate}}</span>
            </div>
            <input [formControl]="_accountId" pInputText>
        </div>

        <div class="kRow">
            <div class="kLabel">
                <span>{{'applications.settings.integrationSettings.zoom.description' | translate}}</span>
            </div>
            <input [formControl]="_description" pInputText>
        </div>

        <div class="kRow">
            <div class="kLabel">
                <span>{{'applications.settings.integrationSettings.zoom.uploadMeetings' | translate}}</span>
            </div>
            <p-inputSwitch class="kControl" [formControl]="_uploadMeeting"></p-inputSwitch>
            <span class="kSwitchValue">
              {{_uploadMeeting.value ? ('applications.settings.integrationSettings.zoom.enabled' | translate) : ('applications.settings.integrationSettings.zoom.disabled' | translate)}}
            </span>
        </div>

        <div class="kRow">
            <div class="kLabel"></div>
            <div class="kLabel" style="width: 150px">
                <span>{{'applications.settings.integrationSettings.zoom.category' | translate}}</span>
            </div>
            <kAutoComplete formControlName="categories"
                           field="name"
                           [tooltipResolver]="_categoriesTooltipResolver"
                           suggestionItemField="item"
                           suggestionLabelField="name"
                           suggestionSelectableField="isSelectable"
                           [allowMultiple]="false"
                           [minLength]="3"
                           [suggestionsProvider]="_categoriesProvider"
                           (completeMethod)="_searchCategories($event)">
            </kAutoComplete>
        </div>

        <div class="kRow">
            <div class="kLabel">
                <span>{{'applications.settings.integrationSettings.zoom.uploadWebinars' | translate}}</span>
            </div>
            <p-inputSwitch class="kControl" [formControl]="_uploadWebinar"></p-inputSwitch>
            <span class="kSwitchValue">
              {{_uploadWebinar.value ? ('applications.settings.integrationSettings.zoom.enabled' | translate) : ('applications.settings.integrationSettings.zoom.disabled' | translate)}}
            </span>
        </div>

        <div class="kRow">
            <div class="kLabel"></div>
            <div class="kLabel" style="width: 150px">
                <span>{{'applications.settings.integrationSettings.zoom.webinarCategory' | translate}}</span>
            </div>
            <kAutoComplete formControlName="webinarCategory"
                           field="name"
                           [tooltipResolver]="_categoriesTooltipResolver"
                           suggestionItemField="item"
                           suggestionLabelField="name"
                           suggestionSelectableField="isSelectable"
                           [allowMultiple]="false"
                           [minLength]="3"
                           [suggestionsProvider]="_categoriesProvider"
                           (completeMethod)="_searchCategories($event)">
            </kAutoComplete>
        </div>

        <div class="kRow">
            <div class="kLabel">
                <span>{{'applications.settings.integrationSettings.zoom.upload' | translate}}</span>
            </div>
            <p-radioButton name="upload"
                           [value]="0"
                           formControlName="upload"
                           [label]="'applications.settings.integrationSettings.zoom.uploadAll' | translate"></p-radioButton>
            <p-radioButton name="upload"
                           [value]="1"
                           formControlName="upload"
                           [label]="'applications.settings.integrationSettings.zoom.uploadIn' | translate"></p-radioButton>
            <p-radioButton name="upload"
                           [value]="2"
                           formControlName="upload"
                           [label]="'applications.settings.integrationSettings.zoom.uploadOut' | translate"></p-radioButton>
        </div>

        <div class="kRow" *ngIf="_upload.value !== 0">
            <div class="kLabel"></div>
            <div class="kRow">
                <span class="uploadInOut">{{_upload.value === 1 ? ('applications.settings.integrationSettings.zoom.uploadIn' | translate) : ('applications.settings.integrationSettings.zoom.uploadOut' | translate)}}</span>
                <div class="kRadios">
                    <kAutoComplete *ngIf="_upload.value === 1" formControlName="uploadIn"
                                   field="screenName"
                                   [tooltipResolver]="_groupsTooltipResolver"
                                   suggestionItemField="item"
                                   suggestionLabelField="name"
                                   suggestionSelectableField="isSelectable"
                                   [allowMultiple]="true"
                                   [minLength]="3"
                                   [suggestionsProvider]="_groupsProvider"
                                   (completeMethod)="_searchGroups($event, 'optIn')">
                    </kAutoComplete>
                    <kAutoComplete *ngIf="_upload.value === 2" formControlName="uploadOut"
                                   field="screenName"
                                   [tooltipResolver]="_groupsTooltipResolver"
                                   suggestionItemField="item"
                                   suggestionLabelField="name"
                                   suggestionSelectableField="isSelectable"
                                   [allowMultiple]="true"
                                   [minLength]="3"
                                   [suggestionsProvider]="_groupsProvider"
                                   (completeMethod)="_searchGroups($event, 'optOut')">
                    </kAutoComplete>
                    <span class="kError" *ngIf="(_upload.value === 1 && !_uploadIn.value.length) || (_upload.value === 2 && !_uploadOut.value.length)">{{'applications.settings.integrationSettings.zoom.uploadError' | translate}}</span>
                </div>
            </div>
        </div>

        <div class="kRow" *ngIf="_showDeleteContent">
            <div class="kLabel">
                <span>{{'applications.settings.integrationSettings.zoom.delete' | translate}}</span>
            </div>
            <p-inputSwitch class="kControl" [formControl]="_deleteContent"></p-inputSwitch>
            <span class="kSwitchValue">
              {{_deleteContent.value ? ('app.common.yes' | translate) : ('app.common.no' | translate)}}
            </span>
        </div>

        <div class="kRow" *ngIf="_showTranscription">
            <div class="kLabel">
                <span>{{'applications.settings.integrationSettings.zoom.transcription' | translate}}</span>
            </div>
            <p-inputSwitch class="kControl" [formControl]="_transcription"></p-inputSwitch>
            <span class="kSwitchValue">
              {{_transcription.value ? ('app.common.yes' | translate) : ('app.common.no' | translate)}}
            </span>
        </div>

        <div class="kRow">
            <div class="kLabel">
                <span>{{'applications.settings.integrationSettings.zoom.participation' | translate}}</span>
            </div>
            <p-radioButton name="participation"
                           [value]="2"
                           formControlName="participation"
                           [label]="'applications.settings.integrationSettings.zoom.participation1' | translate"></p-radioButton>
            <p-radioButton name="participation"
                           [value]="1"
                           formControlName="participation"
                           [label]="'applications.settings.integrationSettings.zoom.participation2' | translate"></p-radioButton>
            <p-radioButton name="participation"
                           [value]="0"
                           formControlName="participation"
                           [label]="'applications.settings.integrationSettings.zoom.participation3' | translate"></p-radioButton>
        </div>

        <span class="kSubTitle">{{'applications.settings.integrationSettings.zoom.owner' | translate}}</span>


        <div class="kRow" style="align-items: flex-start">
            <div class="kLabel">
                <span>{{'applications.settings.integrationSettings.zoom.user' | translate}}</span>
            </div>
            <div class="kRadios">
                <p-radioButton name="userId"
                               [value]="true"
                               formControlName="userId"
                               [label]="'applications.settings.integrationSettings.zoom.zoom' | translate"></p-radioButton>
                <div class="kRow" style="margin-left: 36px; margin-bottom: 0px">
                    <p-radioButton name="postfix"
                                   [value]="0"
                                   formControlName="postfix"
                                   [label]="'applications.settings.integrationSettings.zoom.postfix1' | translate"></p-radioButton>
                    <p-radioButton name="postfix" [ngStyle]="{'marginLeft': '24px'}"
                                   [value]="2"
                                   formControlName="postfix"
                                   [label]="'applications.settings.integrationSettings.zoom.postfix2' | translate"></p-radioButton>
                    <p-radioButton name="postfix" [ngStyle]="{'marginLeft': '24px'}"
                                   [value]="1"
                                   formControlName="postfix"
                                   [label]="'applications.settings.integrationSettings.zoom.postfix3' | translate"></p-radioButton>
                </div>
                <div class="kRow" style="margin-left: 36px; margin-bottom: 24px">
                    <div class="kLabel" style="width: auto">
                        <span>{{'applications.settings.integrationSettings.zoom.post' | translate}}</span>
                    </div>
                    <input [formControl]="_userPostfix" placeholder="@kaltura.com" pInputText>
                </div>
                <div class="kRow" style="align-items: flex-start; margin-bottom: 0px">
                    <p-radioButton name="userId" [ngStyle]="{'marginRight': '0px'}"
                                   [value]="false"
                                   formControlName="userId"
                                   [label]="'applications.settings.integrationSettings.zoom.cms' | translate"></p-radioButton>
                    <kInputHelper class="kHelp" trigger="click">
                        <span>{{'applications.settings.integrationSettings.zoom.userHelp' | translate}}</span>
                        <a style="margin-left: 4px" (click)="openHelpLink()">{{'applications.settings.integrationSettings.zoom.here' | translate}}</a>
                    </kInputHelper>
                </div>
            </div>
        </div>

        <div class="kRow" style="align-items: flex-start">
            <div class="kLabel">
                <span>{{'applications.settings.integrationSettings.zoom.create' | translate}}</span>
            </div>
            <div class="kRadios">
                <p-radioButton name="createUser"
                           [value]="true"
                               formControlName="createUser"
                           [label]="'applications.settings.integrationSettings.zoom.user1' | translate"></p-radioButton>
                <div class="kRow" style="margin-bottom: 0px; align-items: flex-start">
                    <p-radioButton name="createUser" [ngStyle]="{'marginRight': '8px'}"
                                   [value]="false"
                                   formControlName="createUser"
                                   [label]="'applications.settings.integrationSettings.zoom.user2' | translate"></p-radioButton>
                    <div class="kRadios">
                        <kAutoComplete formControlName="defaultUserId"
                                       field="screenName"
                                       [tooltipResolver]="_usersTooltipResolver"
                                       suggestionItemField="item"
                                       suggestionLabelField="name"
                                       [allowMultiple]="false"
                                       [minLength]="3"
                                       [suggestionsProvider]="_usersProvider"
                                       (completeMethod)="_searchUsers($event)">
                        </kAutoComplete>
                        <span *ngIf="!formValid" class="kInvalid">{{'applications.settings.integrationSettings.zoom.invalid' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
