<form [formGroup]="_metadataForm" class="kEditDistributionProfileMetadata">
  <h2 class="kFormHeader">{{'applications.content.entryDetails.distribution.form.metadata' | translate}}</h2>
  <div class="kRow kFirstRow">
    <span class="kLabel">{{'applications.content.entryDetails.distribution.form.name' | translate}}</span>
    <span>
      <input pInputText class="kControl kMetadataControl" [formControl]="_nameField">
    </span>
  </div>

  <div class="kRow">
    <span class="kLabel">{{'applications.content.entryDetails.distribution.form.description' | translate}}</span>
    <span>
      <textarea pInputText class="kControl KTextArea" [formControl]="_descriptionField"></textarea>
    </span>
  </div>

  <div class="kRow">
    <span class="kLabel">{{'applications.content.entryDetails.distribution.form.tags' | translate}}</span>
    <span class="kControl">
      <kAutoComplete [formControl]="_tagsField"></kAutoComplete>
    </span>
  </div>
</form>
