<div class="kTable" [class.kTagsVisible]="isTagsBarVisible">
    <p-table dataKey="id"
             scrollHeight="100%"
             [scrollable]="true"
             [value]="_users"
             [class.noResults]="!_users?.length"
             (selectionChange)="_onSelectionChange($event)"
             [rowTrackBy]="rowTrackBy"
             [(selection)]="selectedUsers"
             [class.kDisabled]="categoryInheritUserPermissions || _kmcPermissions.CONTENT_MANAGE_CATEGORY_USERS | kDisabledIfNotPermitted">

        <ng-template pTemplate="header">
            <tr>
                <th class="selectionColumn">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th class="nameColumn">
                    {{'applications.content.categoryDetails.entitlements.usersPermissions.table.userNameId' | translate}}
                </th>
                <th class="permissionLevelColumn">
                    {{'applications.content.categoryDetails.entitlements.usersPermissions.table.permissionLevel' | translate}}
                </th>
                <th class="updateMethodColumn">
                    {{'applications.content.categoryDetails.entitlements.usersPermissions.table.updateMethod' | translate}}
                </th>
                <th class="updatedAtColumn">
                    {{'applications.content.categoryDetails.entitlements.usersPermissions.table.updatedOn' | translate}}
                </th>
                <th class="statusColumn">
                    {{'applications.content.categoryDetails.entitlements.usersPermissions.table.active' | translate}}
                </th>
                <th class="removeColumn" *ngIf="_kmcPermissions.CONTENT_MANAGE_CATEGORY_USERS | kNgIfPermitted"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user>
            <tr [pSelectableRow]="user">
                <td class="selectionColumn">
                    <p-tableCheckbox [value]="user"></p-tableCheckbox>
                </td>
                <td class="nameColumn">
                    <div class="kTitle kTableColumn" [kTooltip]="user.name">
                        {{user.name}}
                    </div>
                </td>
                <td class="permissionLevelColumn">
                    <p-dropdown [options]="_permissionLevelOptions"
                                [disabled]="user['status'] !== _kalturaCategoryUserStatus.active || categoryInheritUserPermissions || _kmcPermissions.CONTENT_MANAGE_CATEGORY_USERS | kDisabledIfNotPermitted"
                                [(ngModel)]="user.permissionLevel"
                                (onChange)="_onActionSelected({action: 'permissionLevel', users: user, payload: { level: user.permissionLevel}})"></p-dropdown>
                </td>
                <td class="updateMethodColumn">
                    <p-dropdown [options]="_updateMethodOptions"
                                [disabled]="user['status'] !== _kalturaCategoryUserStatus.active || categoryInheritUserPermissions || _kmcPermissions.CONTENT_MANAGE_CATEGORY_USERS | kDisabledIfNotPermitted"
                                [(ngModel)]="user.updateMethod"
                                (onChange)="_onActionSelected({action: 'updateMethod', users: user, payload: { method: user.updateMethod} })"></p-dropdown>
                </td>
                <td class="updatedAtColumn">
                    {{user.updatedAt | kmcDate:'dateOnly'}}
                </td>
                <td class="statusColumn">
                    <p-inputSwitch
                        *ngIf="user.status === _kalturaCategoryUserStatus.active || user.status === _kalturaCategoryUserStatus.notActive || user.status === _kalturaCategoryUserStatus.pending"
                        class="kInputSwitch"
                        [ngModel]="user.status === _kalturaCategoryUserStatus.active"
                        (onChange)="_onActionSelected({action: $event.checked ? 'activate': 'deactivate', users: user, payload: {} })"
                        [disabled]="categoryInheritUserPermissions || _kmcPermissions.CONTENT_MANAGE_CATEGORY_USERS | kDisabledIfNotPermitted"></p-inputSwitch>
                    <span class="kCategoryUserStatus">{{user.status | kCategoryUserStatus}}</span>
                </td>
                <td class="removeColumn" *ngIf="_kmcPermissions.CONTENT_MANAGE_CATEGORY_USERS | kNgIfPermitted">
                    <i class="kIconremove"
                       [class.kEnabled]="!categoryInheritUserPermissions"
                       (click)="_onActionSelected({action: 'delete', users: user, payload: {} })"></i>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <div class="emptymessage">{{_emptyMessage}}</div>
        </ng-template>

    </p-table>
</div>
