<k-area-blocker [showLoader]="_widgetService.showSectionLoader" [message]="_widgetService.sectionBlockerMessage">
  <kPlaylistRulesTable class="kPlaylistRulesTable"
                       [isNewPlaylist]="_widgetService.isNewPlaylist"
                       [rules]="_widgetService.rules"
                       (onActionSelected)="_onActionSelected($event)"
                       (sortChanged)="_onSortChanged($event)"
                       [(selectedRules)]="_selectedEntries"></kPlaylistRulesTable>
</k-area-blocker>
