@import "../../../../style/mixins";
img{
  max-height:100%;
  max-width:100%;
  vertical-align: middle;
}
.miniApp{
  padding: 10px;
  p{
    text-align: left;
  }
  .refreshBtn{
    position: absolute;
    top: 67px;
    right: 10px;
  }
  .actionsBtn{
    color: #fff;
    background-color: #2399e5;
    border-color: #1f89ce;
  }
}
.thumbnailHolder{
  width: 75px;
  height: 50px;
  background-color: black;
  white-space: nowrap;
  text-align: center;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.form-group {
  padding-top: 5px;
  padding-right: 10px;
  label{
    font-weight: normal;
  }
}

.tableHolder{
  height: calc(100% - 200px);
}
