@import "../../../../style/variables";
@import "../../../../style/colors";

$gridPadding: 10px;

.entries{
  background-color: $appBkgColor;
  height: $contentArea;
  width: 100%;
  position: fixed;
  .topBar{
    height: $contentHeaderHeight;
    display: table;
    .title{
      display: table-cell;
      vertical-align: middle;
      font-size: 1.5em
    }
    .vcenter{
      display: table-cell;
      vertical-align: middle;
    }
    .refreshBtn{
      text-align: right;
    }
  }
  .grid{
    height: $contentGridHeight;
    padding-left: $gridPadding;
    padding-right: $gridPadding;
    padding-bottom: $gridPadding;
  }
  .tableHolder{
    height: $primeDataTableHeight;
  }
  img{
    max-height:100%;
    max-width:100%;
    vertical-align: middle;
  }

  .actionsBtn{
    color: #fff;
    background-color: #2399e5;
    border-color: #1f89ce;
  }
  .thumbnailHolder{
    width: 75px;
    height: 50px;
    background-color: black;
    white-space: nowrap;
    text-align: center;
  }
  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .footer{
    height: $primeDataTableFooterHeight;
    margin-top: $primeDataTableFooterHeight;
    display: table;
    div{
      display: table-cell;
      vertical-align: middle;
    }
  }
}
