<!--div class="userSettings" (mouseenter)="setOpen(true)" (mouseleave)="setOpen(false)" #userSettings>
  <span class="widgetLink" *ngIf="!isOpen">< &nbsp;{{_userContext.fullName}}</span>
  <div [hidden]="!isOpen" [class.open]="isOpen">
    <span>{{_userContext.fullName}}</span>
    <span><a (click)="logout()">{{'USER_SETTINGS.logout' | translate}}</a></span>
    <span class="separator">|</span>
    <span>{{'USER_SETTINGS.account' | translate}} : {{_userContext.partnerInfo.name}}</span>
    <span><a>{{'USER_SETTINGS.changeAccount' | translate}}</a></span>
    <span class="separator">|</span>
    <span><a (click)="openUserManual()">{{'USER_SETTINGS.userManual' | translate}}</a></span>
    <span class="separator">|</span>
    <span><a (click)="openSupport()">{{'USER_SETTINGS.support' | translate}}</a></span>
  </div>
</div-->
<ul>
    <li class="kMenuItemLabel"><i class="kIconuser_small"></i>
        <div class="kMenuItem">
            <span>{{_userContext.fullName}}</span>
            <a (click)="logout()">{{'app.userSettings.logout' | translate}}</a>
        </div>
    </li>
    <li class="kMenuItemLabel"><i class="kIconhouse"></i>
        <div class="kMenuItem">
            <span>{{_userContext.partnerInfo.name}}</span>
            <a>{{'app.userSettings.changeAccount' | translate}}</a>
        </div>
    </li>
</ul>
<hr>
<div class="kLanguagesTitle">
    <span>{{'app.languageMenu.selectLang' | translate}}</span>
</div>

<ul class="kLanguages">
    <li><i class="kIconcheck_large"></i><a>English</a></li>
    <li><i [style.opacity]="0" class="kIconcheck_large"></i><a>Deutsch</a></li>
    <li><i [style.opacity]="0" class="kIconcheck_large"></i><a>Español</a></li>
    <li><i [style.opacity]="0" class="kIconcheck_large"></i><a>Español</a></li>
    <li><i [style.opacity]="0" class="kIconcheck_large"></i><a>日本語</a></li>
</ul>
