<ul>
    <li class="kMenuItemLabel"><i class="kIconuser_small"></i>
        <div class="kMenuItem">
            <span>{{_userContext.fullName}}</span>
            <a (click)="logout()">{{'app.userSettings.logout' | translate}}</a>
        </div>
    </li>
    <li class="kMenuItemLabel"><i class="kIconhouse"></i>
        <div class="kMenuItem">
            <span>{{_userContext.partnerInfo.name}}</span>
            <a>{{'app.userSettings.changeAccount' | translate}}</a>
        </div>
    </li>
</ul>
<hr>
<div class="kLanguagesTitle">
    <span>{{'app.languageMenu.selectLang' | translate}}</span>
</div>

<ul class="kLanguages">
    <li><i class="kIconcheck_large"></i><a>English</a></li>
    <li><i [style.opacity]="0" class="kIconcheck_large"></i><a>Deutsch</a></li>
    <li><i [style.opacity]="0" class="kIconcheck_large"></i><a>Español</a></li>
    <li><i [style.opacity]="0" class="kIconcheck_large"></i><a>Español</a></li>
    <li><i [style.opacity]="0" class="kIconcheck_large"></i><a>日本語</a></li>
</ul>
