@import '~kmcng-theme/scss/_variables';
ul {
    list-style-type: none;
    padding: 0;
}
i{
    margin-right: 8px;
}
li{
    margin-top: 14px;
}
hr{
    height: 1px;
    margin-left: -20px;
    margin-right: -20px;
}
.kMenuItemLabel{
    font-size: 15px;
    color: $kGrayscale3;
}
.kMenuItem{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: -18px;
    a{
        margin-top: 4px;
        color: $kTertiary;
        &:hover{
            color: darken($kTertiary, 10%);
        }
        &:active{
            color: $kTertiary;
        }
    }
}
.kLanguagesTitle{
    background-color: $kGrayscale6;
    width: 100%;
    height: 28px;
    text-align: center;
    padding-top: 6px;
}
.kLanguages{

}
