.k-logo {
    background: url('../../styles/assets/rsz_kaltura-sun.png') no-repeat left center;
    display:inline-block;
    width:50px;
    height:50px;
    margin-left: 15px;
}
.k-beta-logo {
    background: url('../../styles/assets/beta.svg') no-repeat left center;
    display:inline-block;
}
.k-analytics-logo {
    width: 74px;
    height: 23px;
    background-image: url('../../styles/assets/analytics_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../../styles/assets/analytics_logo@2x.png');
    }
}

.k-analytics-beta {
    width: 34px;
    height: 13px;
    background-image: url('../../styles/assets/beta_indicator.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
