.langMenu{
  .lang{
    cursor: pointer;
  }
}
.languageWindow {
  background-color: #fafafa;
  width: 164px;
  margin-top: 11px;
  margin-left: -130px;
  position: absolute;
  border: 1px solid #cacaca;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
}
.languageWindow .langMenuItem{
  width: 100%;
  height: 24px;
  background-color: #fafafa;
  cursor: pointer;
  padding-top: 4px;
  padding-left: 10px;
  margin-bottom: 0px;
}
.languageWindow .langMenuItem:hover{
  background-color: #cacaca;
}

