<div class="kEntriesTable" [class.noResults]="!_entries.length">
  <k-area-blocker [showLoader]="(entriesStore.state$ | async)?.loading || this._deferredLoading"
                  [message]="_blockerMessage"
                  [centerOnScreen]="true">
    <p-dataTable #dataTable
                 dataKey="id"
                 scrollable="true"
                 scrollHeight="100%"
                 [value]="_entries"
                 [sortField]="filter.sortBy"
                 [sortOrder]="filter.sortDirection | kPrimeTableSortDirection"
                 [emptyMessage]="_emptyMessage"
                 [rowTrackBy]="_rowTrackBy"
                 (selectionChange)="_onSelectionChange($event)"
                 (onSort)="_onSortChanged($event)"
                 [(selection)]="selectedEntries"
                 kStickyHeader [sticksTo]="'entriesTags'" stickyClass="stickyHeader" [stickyId]="'entriesTable'">
      <p-column *ngIf="showBulkSelect"
                [style]="{'width':'44px', 'padding-left': '14px'}"
                selectionMode="multiple"></p-column>

      <p-column *ngIf="_columns.thumbnailUrl"
                field="thumbnailUrl"
                [header]="'applications.content.table.thumbnail' | translate"
                [sortable]="_columns.thumbnailUrl?.sortable | kPrimeTableSortTransform"
                [style]="_getColumnStyle(_columns.thumbnailUrl)">
        <ng-template let-col let-entry="rowData" pTemplate="body">
          <div class="kThumbnailHolder"
               [class.disable]="!_allowDrilldown(entry.mediaType,entry.status)"
               (click)="_onActionSelected('view',entry.id,entry.mediaType,entry.status)">
            <img src="{{entry[col.field]}}" onError="this.onerror=null;this.style.display='none'">
          </div>
        </ng-template>
      </p-column>

      <p-column *ngIf="_columns.name"
                field="name"
                [header]="'applications.content.table.name' | translate"
                [sortable]="_columns.name?.sortable | kPrimeTableSortTransform"
                [style]="_getColumnStyle(_columns.name)">
        <ng-template let-col let-entry="rowData" pTemplate="body">
          <div class="kTitle" [kTooltip]="entry[col.field]" [maxWidth]="300"
                [class.disable]="!_allowDrilldown(entry.mediaType,entry.status)"
                (click)="_onActionSelected('view',entry.id,entry.mediaType,entry.status)">
            {{entry[col.field]}}
          </div>
        </ng-template>
      </p-column>

      <p-column *ngIf="_columns.id"
                field="id"
                [header]="'applications.content.table.id' | translate"
                [sortable]="_columns.id?.sortable | kPrimeTableSortTransform"
                [style]="_getColumnStyle(_columns.id)">
      </p-column>

      <p-column *ngIf="_columns.mediaType"
                field="mediaType"
                [header]="'applications.content.table.type' | translate"
                [sortable]="_columns.mediaType?.sortable | kPrimeTableSortTransform"
                [style]="_getColumnStyle(_columns.mediaType)">
        <ng-template let-col let-entry="rowData" pTemplate="body">
          <div [kTooltip]="entry[col.field] | entryType: true" [class]="entry[col.field] | entryType: false"></div>
        </ng-template>
      </p-column>

      <p-column *ngIf="_columns.plays"
                field="plays"
                [header]="'applications.content.table.plays' | translate"
                [sortable]="_columns.plays?.sortable | kPrimeTableSortTransform"
                [style]="_getColumnStyle(_columns.plays)">
      </p-column>

      <p-column *ngIf="_columns.createdAt"
                field="createdAt"
                [header]="'applications.content.table.createdOn' | translate"
                [sortable]="_columns.createdAt?.sortable | kPrimeTableSortTransform"
                [style]="_getColumnStyle(_columns.createdAt)">
        <ng-template let-col let-entry="rowData" pTemplate="body">
          <span>{{entry[col.field] | kDate}}</span>
        </ng-template>
      </p-column>

      <p-column *ngIf="_columns.duration"
                field="duration"
                [header]="'applications.content.table.duration' | translate"
                [sortable]="_columns.duration?.sortable | kPrimeTableSortTransform"
                [style]="_getColumnStyle(_columns.duration)">
        <ng-template let-col let-entry="rowData" pTemplate="body">
          <span>{{entry[col.field] | kTime | entryDuration:entry}}</span>
        </ng-template>
      </p-column>

      <p-column *ngIf="_columns.status"
                field="status"
                [header]="'applications.content.table.status' | translate"
                [sortable]="_columns.status?.sortable | kPrimeTableSortTransform"
                [style]="_getColumnStyle(_columns.status)">
        <ng-template let-col let-entry="rowData" pTemplate="body">
          <span>{{entry | entryStatus}}</span>
        </ng-template>
      </p-column>

      <p-column *ngIf="rowActions?.length"
                header=""
                [style]="{'overflow':'visible', 'width':'80px'}">
        <ng-template let-col let-entry="rowData" pTemplate="body">
          <div class="kEntriesTableActions">
            <button type="button" pButton icon="kIconmore" (click)="_openActionsMenu($event, entry)"></button>
          </div>
        </ng-template>
      </p-column>
    </p-dataTable>

    <p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
  </k-area-blocker>
</div>