<k-area-blocker kFillHeight
                [showLoader]="(entriesStore.state$ | async)?.loading || this._deferredLoading"
                [message]="_blockerMessage">
  <div class="kEntriesTable" [class.noResults]="!_entries.length">
    <p-dataTable #dataTable
                 dataKey="id"
                 scrollable="true"
                 scrollHeight="100%"
                 [value]="_entries"
                 [sortField]="filter.sortBy"
                 [sortOrder]="filter.sortDirection | kPrimeTableSortDirection"
                 [emptyMessage]="_emptyMessage"
                 [rowTrackBy]="rowTrackBy"
                 (selectionChange)="onSelectionChange($event)"
                 (onSort)="onSortChanged($event)"
                 [(selection)]="selectedEntries">
      <p-column [style]="{'width':'44px', 'padding-left': '14px'}"
                selectionMode="multiple"></p-column>
      <p-column field="thumbnailUrl"
                header="{{'applications.content.table.thumbnail' | translate}}"
                [style]="{'width':'100px'}">
        <ng-template let-col let-entry="rowData" pTemplate="body">
          <div class="kThumbnailHolder"
               [class.disable]="!allowDrilldown(entry.mediaType,entry.status)"
               (click)="onActionSelected('view',entry.id,entry.mediaType,entry.status)">
            <img src="{{entry[col.field]}}" onError="this.onerror=null;this.style.display='none'">
          </div>
        </ng-template>
      </p-column>
      <p-column field="name"
                header="{{'applications.content.table.name' | translate}}"
                [sortable]="'custom'">
        <ng-template let-col let-entry="rowData" pTemplate="body">
          <span class="kTitle"
                [class.disable]="!allowDrilldown(entry.mediaType,entry.status)"
                (click)="onActionSelected('view',entry.id,entry.mediaType,entry.status)">
            {{entry[col.field]}}
          </span>
        </ng-template>
      </p-column>
      <p-column field="id"
                header="ID"
                [sortable]="false"
                [style]="{'width':'100px'}"></p-column>
      <p-column field="mediaType"
                header="{{'applications.content.table.type' | translate}}"
                [sortable]="'custom'"
                [style]="{'width':'80px', 'text-align': 'center'}">
        <ng-template let-col let-entry="rowData" pTemplate="body">
          <div [kTooltip]="entry[col.field] | entryType: true" [class]="entry[col.field] | entryType: false"></div>
        </ng-template>
      </p-column>
      <p-column field="plays"
                header="{{'applications.content.table.plays' | translate}}"
                [sortable]="'custom'"
                [style]="{'width':'76px'}"></p-column>
      <p-column field="createdAt"
                header="{{'applications.content.table.createdOn' | translate}}"
                [sortable]="true"
                [style]="{'width':'140px'}">
        <ng-template let-col let-entry="rowData" pTemplate="body">
          <span>{{entry[col.field] | kDate}}</span>
        </ng-template>
      </p-column>
      <p-column field="duration"
                header="{{'applications.content.table.duration' | translate}}"
                [sortable]="'custom'"
                [style]="{'width':'104px'}">
        <ng-template let-col let-entry="rowData" pTemplate="body">
          <span>{{entry[col.field] | kTime | entryDuration:entry}}</span>
        </ng-template>
      </p-column>
      <p-column field="status"
                header="{{'applications.content.table.status' | translate}}"
                [style]="{'width':'100px'}">
        <ng-template let-col let-entry="rowData" pTemplate="body">
          <span>{{entry | entryStatus}}</span>
        </ng-template>
      </p-column>
      <p-column header="" [style]="{'overflow':'visible', 'width':'80px'}">
        <ng-template let-col let-entry="rowData" pTemplate="body">
          <div class="kEntriesTableActions">
            <button type="button" pButton icon="kIconmore" (click)="openActionsMenu($event, entry)"></button>
          </div>
        </ng-template>
      </p-column>
    </p-dataTable>
    <p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'"></p-menu>
  </div>
</k-area-blocker>
