@import 'app-theme/_variables.scss';

.kEntriesTable {
  background-color: white;
  height: auto;
  padding: 0px;
  width: 100%;
  .kThumbnailHolder {
    overflow: hidden;
    position: relative;
    width: 80px;
    height: 46px;
    background-color: $kGrayscale6;
    white-space: nowrap;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    &.disable {
      cursor: auto;
    }
    img {
      position: absolute;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      margin: auto;
      width: 80px;
      height: auto;
      border-radius: 3px;
    }
  }
  .kTitle {
    color: $kGrayscale1;
    font-weight: 700;
    cursor: pointer;
    overflow: hidden;
    max-height: 45px;
    &:hover {
      color: #000000;
    }
    &.disable {
      color: $kGrayscale4;
      cursor: auto;
    }
  }
  .kEntriesTableActions {
    width: 100%;
    text-align: center;
    button {
      color: grey !important;
      background-color: rgba(0, 0, 0, 0) !important;
      border: none !important;
      font-size: 16px !important;
      outline: 0;
    }
  }
}

:host {
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  flex-direction: column;
}

:host /deep/ p-datatable .ui-datatable-scrollable-body{
  margin-bottom: 34px;
}

:host /deep/ p-datatable .stickyHeader{
  z-index: 10;
  display: table;
}