<k-area-blocker [showLoader]="_widgetService.showSectionLoader" [message]="_widgetService.sectionBlockerMessage">
  <div class="kDistribution">
    <div class="kDistributionHeader">{{'applications.content.entryDetails.distribution.distribution' | translate}}</div>
    <div class="kDistributionList">
      <kEntryDistributedProfile
        *ngFor="let profile of (_widgetService.distributionProfiles$.distributed | async).items"
        [profile]="profile"
        (onOpenProfile)="_editProfile($event)"
        (onDeleteDistribution)="_widgetService.deleteDistributionProfile($event)"></kEntryDistributedProfile>
      <kEntryUndistributedProfile
        *ngFor="let profile of (_widgetService.distributionProfiles$.undistributed | async).items"
        [profile]="profile"
        (onExport)="_distributeProfile($event)"></kEntryUndistributedProfile>
    </div>
  </div>
</k-area-blocker>

<kPopupWidget #editProfile [popupWidth]="995" [slider]="true">
  <ng-template>
    <kEditDistributionProfile [parentPopup]="editProfile"
                              [entry]="_widgetService.data"
                              [thumbnails]="(_widgetService.thumbnails$ | async)?.items"
                              [flavors]="(_widgetService.flavors$ | async)?.items"
                              [undistributedProfile]="_selectedUndistributedProfile"
                              [distributedProfile]="_selectedDistributedProfile"
                              (onDistribute)="_distributeSelectedProfile($event)"
                              (onUpdate)="_updateSelectedProfile($event)"></kEditDistributionProfile>
  </ng-template>
</kPopupWidget>
