<k-area-blocker [message]="_blockerMessage">
  <div class="kFloater kOverrideFAIcons">
    <div class="kHeader">
      <span class="kTitle">{{'applications.content.categoryDetails.entitlements.owner.changeOwner' | translate}}</span>
    </div>

    <div class="kContainer">
      <span class="kLabel">{{'applications.content.categoryDetails.entitlements.owner.changeOwnerLabel' | translate}}</span>

      <kAutoComplete [(ngModel)]="_owner"
                     suggestionItemField="item"
                     suggestionLabelField="name"
                     field="screenName"
                     [onItemAdding]="_convertUserInputToValidValue"
                     [tooltipResolver]="'__tooltip'"
                     [classField]="'__class'"
                     [allowMultiple]="false"
                     [limitToSuggestions]="false"
                     placeholder="{{'applications.content.categoryDetails.entitlements.owner.changeOwnerPlaceholder' | translate}}"
                     [minLength]="3"
                     [suggestionsProvider]="_usersProvider"
                     (completeMethod)="_searchUsers($event)">
      </kAutoComplete>
    </div>

    <div class="kFooter">
      <button type="button" class="kButtonDefault" pButton
              label="{{'app.common.cancel' | translate}}" (click)="parentPopupWidget.close()"></button>
      <button type="button" class="kButtonBranded" pButton
              label="{{'app.common.apply' | translate}}" (click)="_apply()"
              [disabled]="!_owner"></button>
    </div>
  </div>
</k-area-blocker>
