@import 'app-theme/_variables.scss';

.kAccountSettingsWrapper {
  height: 100%;
  border: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  .kHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 0 0 0;

    .kTitle {
      color: $kGrayscale1;
      font-weight: 700;
      height: 29px;
      font-size: 24px;
      line-height: 29px;
      .kTitleIcon:before {
        font-size: 32px;
        vertical-align: middle;
        padding-right: 9px;
        color: $kGrayscale3;
      }
    }
  }
  .kFormMetadata {
    margin-top: 14px;
    .kReadonlyData {
      color: $kGrayscale3;
      margin: 10px 0 24px 0;
      display: inline-block;
      height: 16px;
      font-size: 13px;
      line-height: 16px;

      .kIconhelp_full {
        font-size: 15px;
        padding-left: 6px;
      }
    }

    .kInvalidFields {
      color: $kDandger;
      float: right;
      margin-top: 4px;
      font-size: 14px;
      &:before {
        content: "·";
        font-size: 42px;
        vertical-align: text-bottom;
        line-height: 20px;
        padding-right: 4px;
      }
    }
  }

}

.kFormContainer {
  background: white;
  .kTitle {
      font-size: 24px;
      font-weight: bold;
      margin-left: 24px;
      margin-top: 24px;
      display: block;
  }
  .kInfo {
      margin-left: 24px;
      margin-top: 24px;
      display: flex;
      i {
          margin-right: 8px;
      }
  }
  .kFormSection {
    font-size: 15px;
    padding: 29px 27px;
    width: 710px;

    .kIconwarning {
      font-size: 18px;
      padding-right: 10px;
      color: $kGrayscale3;
      vertical-align: text-bottom;
    }

    .kRow {

      &:first-child {
        padding-top: 11px;
      }

      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-top: 20px;

      .kLabel {
        width: 272px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        height: 18px;
        color: $kGrayscale1;
        font-size: 15px;
        line-height: 18px;
      }

      .kRequired {
        width: 20px;
        font-size: 24px;
        color: $kGrayscale3;
        &.kHasError {
          color: $kDandger;
          font-weight: bold;
        }
      }
      .kRequired, .kLabel {
        padding: 8px 4px;
        height: 18px;
      }
      .kControl {
        height: 34px;
        color: $kGrayscale2;
        width: 400px;
        border-radius: 3px;
        &.kHasError {
          border: 1px solid $kDandger;
          background: initial;
        }
      }
      .error {
        padding-top: 8px;
      }

      &.kSaveBtnContainer {
        padding-top: 28px;
        .kSaveBtn {
          margin-left: auto;
          width: 125px;
          height: 34px;
          font-weight: 400;
        }
      }
    }
  }
}
.sso {
    background-color: white;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
}
/*********************/
/* PrimeNG overrides */
/*********************/

:host ::ng-deep {
  .p-dropdown {
    width: 100% !important;
  }
  .p-dropdown label.p-dropdown-label {
    font-size: 16px;
  }
}
