<k-area-blocker [showLoader]="isBusy" [message]="blockerMessage" xmlns="http://www.w3.org/1999/html">
  <form [formGroup]="accountSettingsForm" novalidate (ngSubmit)="onSubmit()" class="kAccountSettingsWrapper kContent">
    <section class="kHeader">
      <div class="kTitle">{{'applications.settings.accountInfo' | translate}}</div>
      <button pButton class="kButtonBranded kSaveBtn" label="Save" [disabled]="!enableSave"></button>
    </section>
    <span class="kReadonlyData">{{'applications.settings.partnerID' | translate}}: {{partnerId}} | {{'applications.settings.adminEmail' | translate}}:
        {{partnerAdminEmail}} <i class="kIconhelp"></i></span>
    <section class="kFormContainer">
      <div class="form-section">
        <i class="kIconhelp"></i> {{'applications.settings.informationMessage' | translate}}
      </div>
      <hr>
      <div class="form-section">
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.name' | translate}}</span>
          <input class="kControl" formControlName="name" pInputText>
        </div>
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.adminName' | translate}}</span>
          <p-dropdown class="kControl" [options]="nameOfAccountOwnerOptions"
                      formControlName="adminName"></p-dropdown>
        </div>
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.phone' | translate}}</span>
          <input class="kControl" formControlName="phone" pInputText>
        </div>
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.website' | translate}}</span>
          <input class="kControl" formControlName="website" pInputText>
        </div>
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.describeYourself' | translate}}</span>
          <!--TODO: if the option not exists needs to set the default value "Other"-->
          <p-dropdown class="kControl" [options]="describeYourselfOptions"
                      formControlName="describeYourself"></p-dropdown>
        </div>
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.referenceId' | translate}}</span>
          <input class="kControl" formControlName="referenceId" pInputText>
        </div>
      </div>
    </section>
  </form>
</k-area-blocker>
