<h2>Account Info</h2>
<form [formGroup]="accountSettingsForm" novalidate>
<p>Partner ID: {{accountSettingsForm.get('id').value}} | Email of Account Owner: {{accountSettingsForm.get('accountOwnerEmail').value}}</p>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">accountOwnerName:
        <p-dropdown [options]="nameOfAccountOwnerOptions" formControlName="accountOwnerName"></p-dropdown>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">phone:
      <input class="form-control" formControlName="phone">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">website:
      <input class="form-control" formControlName="website">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">describeYourself:
      <!--TODO: if the option not exists needs to set the default value "Other"-->
      <p-dropdown [options]="describeYourselfOptions" formControlName="describeYourself"></p-dropdown>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">accountReferenceID:
      <input class="form-control" formControlName="accountReferenceID">
    </label>
  </div>
</form>
