@import 'app-theme/_variables.scss';

.kEntriesTable {
  background-color: white;
  height: auto;
  padding: 0px;
  width: 100%;

    .emptymessage {
        display: table-row;
        border: 0;
        height: 200px;

        .kEmptyMessage {
            position: absolute;
            width: 100%;
            height: 200px;
            border-bottom: 1px solid $kGrayscale4;
        }
    }


  .kThumbnailHolder {
    overflow: hidden;
    position: relative;
    width: 80px;
    height: 46px;
    background-color: $kGrayscale6;
    white-space: nowrap;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    i{
        font-size: 24px;
        margin-top: 11px;
        display: block;
        color: $kGrayscale3;
        opacity: 0;
    }
      .kThumbnailTypeIcon {
          position: absolute;
          color: #FFFFFF;

          &.kIconyoutube {
              font-size: 30px;
              top: 7px;
              left: 1px;
              z-index: 2;
              color: $kDandger;
              opacity: 1;
          }
          &.kIconquiz {
            font-size: 30px;
            top: 5px;
            right: 1px;
            opacity: 1;
          }
      }

      .kYoutubeIconFix {
          position: absolute;
          width: 15px;
          height: 15px;
          top: 25px;
          left: 10px;
          background-color: #FFFFFF;
          z-index: 1;
      }
    &.disable {
      cursor: auto;
    }
    &.error{
        border: 1px solid $kGrayscale4;
        i{
            opacity: 1;
        }
    }
    img {
      position: absolute;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      margin: auto;
      width: 80px;
      height: auto;
      border-radius: 3px;
    }
  }
  .kTitle {
    color: $kGrayscale1;
    font-weight: 700;
    cursor: pointer;
    max-height: 45px;
    &:hover {
      color: #000000;
    }
    &.disable {
      color: $kGrayscale4;
      cursor: auto;
    }
  }
  .kMediaTypeIcon{
    font-size: 16px;
    text-align: center;
    div{
      display: inline-block;
    }
  }
  .kEntriesTableActions {
    width: 100%;
    text-align: center;
    .kButtonAddToBucket {
      width: 42px;
      height: 34px;
      font-size: 25px;
      font-weight: normal;
    }
  }
}




:host {
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  flex-direction: column;
}

:host /deep/ p-table .ui-table-scrollable-body{
  margin-bottom: 34px;
}

:host /deep/ p-table .stickyHeader{
  z-index: 10;
  display: table;
}

:host /deep/ p-table {
    .ui-table .ui-table-thead > tr > th {
        border-left: 1px solid $kGrayscale6;
    }
}

:host /deep/ .kButtonAddToBucket .ui-button-text {
  padding: 0;
}
