<div class="kEntriesTable" [class.noResults]="!_entries?.length" [class.kTagsVisible]="isTagsBarVisible">
    <p-table
            [scrollable]="true"
            scrollHeight="100%"
            [value]="_entries"
            dataKey="id"
            [rowTrackBy]="_rowTrackBy"
            [sortField]="sortField"
            [sortOrder]="sortOrder"
            [resizableColumns]="true"
            [defaultSortOrder]="_defaultSortOrder"
            (sortFunction)="_onSortChanged($event)" [customSort]="true"
            (onColResize)="_columnsResizeManager.onColumnResize($event)"
            [(selection)]="selectedEntries"
            (selectionChange)="_onSelectionChange($event)"
            kStickyHeader [sticksTo]="'entriesTags'" stickyClass="stickyHeader" [stickyId]="'entriesTable'">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col style="width:44px; padding-left: 13px" *ngIf="showBulkSelect">
                <col data-cid="thumbnailUrl"
                     *ngIf="_columnsMetadata.thumbnailUrl && !(_kmcPermissions.FEATURE_DISABLE_KMC_LIST_THUMBNAILS | kNgIfPermitted)"
                     [ngStyle]="_columnsMetadata.thumbnailUrl.style">
                <col data-cid="name"
                     *ngIf="_columnsMetadata.name"
                     [ngStyle]="_columnsMetadata.name.style">
                <col data-cid="id"
                     *ngIf="_columnsMetadata.id"
                     [ngStyle]="_columnsMetadata.id.style">
                <col data-cid="mediaType"
                     *ngIf="_columnsMetadata.mediaType"
                     [ngStyle]="_columnsMetadata.mediaType.style">
                <col data-cid="moderationCount"
                     *ngIf="_columnsMetadata.moderationCount"
                     [ngStyle]="_columnsMetadata.moderationCount.style">
                <col data-cid="createdAt"
                     *ngIf="_columnsMetadata.createdAt"
                     [ngStyle]="_columnsMetadata.createdAt.style">
                <col data-cid="moderationStatus"
                     *ngIf="_columnsMetadata.moderationStatus"
                     [ngStyle]="_columnsMetadata.moderationStatus.style">
                <col data-cid="duration"
                     *ngIf="_columnsMetadata.duration"
                     [ngStyle]="_columnsMetadata.duration.style">
                <col data-cid="plays"
                     *ngIf="_columnsMetadata.plays"
                     [ngStyle]="_columnsMetadata.plays.style">
                <col data-cid="status"
                     *ngIf="_columnsMetadata.status"
                     [ngStyle]="_columnsMetadata.status.style">
                <col data-cid="AIButtons" id="AIButtons"
                     *ngIf="isAIButtonVisible"
                     style="width: 162px">
                <col data-cid="rowActions"
                     *ngIf="rowActions?.length"
                     style="{{isAIButtonVisible ? 'width: 60px' : 'width: 80px'}}">
                <col data-cid="addToBucket"
                     *ngIf="_columnsMetadata.addToBucket"
                     [ngStyle]="_columnsMetadata.addToBucket.style">
            </colgroup>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th [ngStyle]="{'width': '44px', 'padding-left': '13px'}" *ngIf="showBulkSelect">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th data-cid="thumbnailUrl" pResizableColumn [ngStyle]="_columnsMetadata.thumbnailUrl.style"
                    *ngIf="_columnsMetadata.thumbnailUrl && !(_kmcPermissions.FEATURE_DISABLE_KMC_LIST_THUMBNAILS | kNgIfPermitted)">
                    {{'applications.content.table.thumbnail' | translate}}
                </th>
                <th data-cid="name" pResizableColumn [ngStyle]="_columnsMetadata.name.style"
                    *ngIf="_columnsMetadata.name"
                    [kpSortableColumn]="_columnsMetadata.name.sortable ? 'name' : null">
                    {{'applications.content.table.name' | translate}}
                    <p-sortIcon [field]="'name'"  ></p-sortIcon>
                </th>
                <th data-cid="id" pResizableColumn [ngStyle]="_columnsMetadata.id.style" *ngIf="_columnsMetadata.id">
                    {{'applications.content.table.id' | translate}}
                </th>
                <th data-cid="mediaType" pResizableColumn [ngStyle]="_columnsMetadata.mediaType.style"
                    *ngIf="_columnsMetadata.mediaType"
                    [kpSortableColumn]="_columnsMetadata.mediaType.sortable ? 'mediaType' : null">
                    {{'applications.content.table.type' | translate}}
                    <p-sortIcon [field]="'mediaType'"></p-sortIcon>
                </th>
                <th data-cid="moderationCount" pResizableColumn [ngStyle]="_columnsMetadata.moderationCount.style"
                    *ngIf="_columnsMetadata.moderationCount"
                    [kpSortableColumn]="_columnsMetadata.moderationCount.sortable ? 'moderationCount' : null">
                    {{'applications.content.table.flags' | translate}}
                    <p-sortIcon [field]="'moderationCount'"></p-sortIcon>
                </th>
                <th data-cid="createdAt" pResizableColumn [ngStyle]="_columnsMetadata.createdAt.style"
                    *ngIf="_columnsMetadata.createdAt"
                    [kpSortableColumn]="_columnsMetadata.createdAt.sortable ? 'createdAt' : null">
                    {{'applications.content.table.createdOn' | translate}}
                    <p-sortIcon [field]="'createdAt'"></p-sortIcon>
                </th>
                <th data-cid="moderationStatus" pResizableColumn [ngStyle]="_columnsMetadata.moderationStatus.style"
                    *ngIf="_columnsMetadata.moderationStatus">
                    {{'applications.content.table.moderationStatus' | translate}}
                </th>
                <th data-cid="duration" pResizableColumn [ngStyle]="_columnsMetadata.duration.style"
                    *ngIf="_columnsMetadata.duration"
                    [kpSortableColumn]="_columnsMetadata.duration.sortable ? 'duration' : null">
                    {{'applications.content.table.duration' | translate}}
                    <p-sortIcon [field]="'duration'"></p-sortIcon>
                </th>
                <th data-cid="plays" pResizableColumn [ngStyle]="_columnsMetadata.plays.style"
                    *ngIf="_columnsMetadata.plays"
                    [kpSortableColumn]="_columnsMetadata.plays.sortable ? 'plays' : null">
                    {{'applications.content.table.plays' | translate}}
                    <p-sortIcon [field]="'plays'"></p-sortIcon>
                </th>
                <th data-cid="status" pResizableColumn [ngStyle]="_columnsMetadata.status.style"
                    *ngIf="_columnsMetadata.status">
                    {{'applications.content.table.status' | translate}}
                </th>

                <th *ngIf="isAIButtonVisible"></th>

                <th data-cid="rowActions" id="rowActions" *ngIf="rowActions?.length" [ngStyle]="{'border-left': isAIButtonVisible ? 'none' : '1px solid #ebebeb'}"></th>
                <th data-cid="addToBucket" id="addToBucket" *ngIf="_columnsMetadata.addToBucket"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-entry>
            <tr [pSelectableRow]="entry">

                <td [ngStyle]="{'width': '44px', 'padding-left': '13px'}" *ngIf="showBulkSelect">
                    <p-tableCheckbox [value]="entry"></p-tableCheckbox>
                </td>

                <td class="ui-resizable-column"
                    *ngIf="_columnsMetadata.thumbnailUrl && !(_kmcPermissions.FEATURE_DISABLE_KMC_LIST_THUMBNAILS | kNgIfPermitted)">
                    <div class="kThumbnailHolder" #holder
                         [class.disable]="!_allowDrilldown('view', entry.mediaType,entry.status)"
                         (click)="_onActionSelected('view',entry)">
                        <img *ngIf="entry.thumbnailUrl && _loadThumbnailWithKs" [src]="entry.thumbnailUrl+'/ks/'+_ks">
                        <img *ngIf="entry.thumbnailUrl && !_loadThumbnailWithKs" [src]="entry.thumbnailUrl" (error)="_onThumbLoadError($event)">
                        <div class="kIcons">
                            <!--i class="kIconwarning"></i-->
                            <i class="kIconyoutube kThumbnailTypeIcon" *ngIf="entry.externalSourceType === _youtubeExternalSourceType"></i>
                            <i class="kIconquiz kThumbnailTypeIcon" *ngIf="entry.isQuizEntry"></i>
                        </div>
                    </div>
                </td>

                <td class="ui-resizable-column" *ngIf="_columnsMetadata.name">
                    <span class="kTitle kTableColumn" [kTooltip]="entry.name" [showOnEllipsis]="true"
                         [class.disable]="!_allowDrilldown('view', entry.mediaType,entry.status)"
                         (click)="_onActionSelected('view',entry)">
                        {{entry.name}}
                    </span>
                </td>

                <td class="ui-resizable-column" *ngIf="_columnsMetadata.id">
                    <span class="kTableColumn" [kTooltip]="entry.id" [showOnEllipsis]="true">{{entry.id}}</span>
                </td>

                <td class="ui-resizable-column kMediaTypeIcon" *ngIf="_columnsMetadata.mediaType">
                    <div *ngIf="!isRoom(entry)" [kTooltip]="entry.mediaType | entryType: true"
                         [class]="entry.mediaType | entryType: false"></div>
                    <div *ngIf="isRoom(entry)" [kTooltip]="'applications.content.rooms.legacy' | translate">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.33331 5C2.78103 5 2.33331 5.44772 2.33331 6V10C2.33331 10.5523 2.78103 11 3.33331 11H7.99998C8.55226 11 8.99998 10.5523 8.99998 10V6C8.99998 5.44772 8.55226 5 7.99998 5H3.33331ZM12.3333 6.56619L12.3333 9.43381L13.6666 10.2338L13.6666 5.76619L12.3333 6.56619ZM1.33331 6C1.33331 4.89543 2.22874 4 3.33331 4H7.99998C9.10455 4 9.99998 4.89543 9.99998 6V10C9.99998 11.1046 9.10455 12 7.99998 12H3.33331C2.22874 12 1.33331 11.1046 1.33331 10V6ZM11.3333 6.56619C11.3333 6.21493 11.5176 5.88942 11.8188 5.7087L13.1522 4.9087C13.8187 4.50878 14.6666 4.9889 14.6666 5.76619V10.2338C14.6666 11.0111 13.8187 11.4912 13.1522 11.0913L11.8188 10.2913C11.5176 10.1106 11.3333 9.78507 11.3333 9.43381V6.56619Z" fill="#888888"/>
                        </svg>
                    </div>
                </td>

                <td class="ui-resizable-column" *ngIf="_columnsMetadata.moderationCount">
                    {{entry.moderationCount}}
                </td>

                <td class="ui-resizable-column" *ngIf="_columnsMetadata.createdAt">
                    <span class="kTableColumn" [kTooltip]="entry.createdAt | kmcDate" [showOnEllipsis]="true">
                        {{entry.createdAt | kmcDate}}
                    </span>
                </td>

                <td class="ui-resizable-column" *ngIf="_columnsMetadata.moderationStatus">
                    <span class="kTableColumn" [kTooltip]="entry.moderationStatus | kModerationStatus" [showOnEllipsis]="true">
                        {{entry.moderationStatus | kModerationStatus}}
                    </span>
                </td>

                <td class="ui-resizable-column" *ngIf="_columnsMetadata.duration">
                    <span class="kTableColumn" [kTooltip]="entry.duration | kTime | entryDuration:entry" [showOnEllipsis]="true">
                        {{entry.duration | kTime | entryDuration:entry}}
                    </span>
                </td>

                <td class="ui-resizable-column" *ngIf="_columnsMetadata.plays">
                    {{entry.plays}}
                </td>

                <td class="ui-resizable-column" *ngIf="_columnsMetadata.status">
                    <span class="kTableColumn" [kTooltip]="entry | entryStatus" [showOnEllipsis]="true">
                        {{entry | entryStatus}}
                    </span>
                </td>

                <td *ngIf="isAIButtonVisible">
                    <k-content-lab-btn [responsive]="true"
                                       (onAction)="_onActionSelected($event, entry)"
                                       [entryDuration]="entry.duration"
                                       [entryType]="entry.mediaType"
                                       [entryStatus]="entry.status"
                                       [entryId]="isLiveEntry(entry) ? entry.redirectEntryId : entry.id"
                                       [eventSessionContextId]="isLiveEntry(entry) ? entry.id : ''">
                    </k-content-lab-btn>
                </td>

                <td *ngIf="rowActions?.length" [ngStyle]="{'padding-left': isAIButtonVisible ? '0px' : '8px'}">
                    <div class="kEntriesTableActions">
                        <button type="button" pButton class="kMoreActionsButton" icon="kIconmore"
                                (click)="_openActionsMenu($event, entry)"></button>
                    </div>
                </td>

                <td *ngIf="_columnsMetadata.addToBucket">
                    <div class="kEntriesTableActions">
                        <button type="button" pButton class="kButtonDefault kButtonAddToBucket" label="+"
                                (click)="_onActionSelected('addToBucket', entry)"></button>
                    </div>
                </td>

            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <div class="emptymessage">
                <div class="kEmptyMessage">{{_emptyMessage}}</div>
            </div>
        </ng-template>
    </p-table>
</div>

