<div class="kEntriesTable" [class.noResults]="!_entries?.length" [class.kTagsVisible]="isTagsBarVisible">
    <p-table
            [scrollable]="true"
            scrollHeight="100%"
            [value]="_entries"
            dataKey="id"
            [rowTrackBy]="_rowTrackBy"
            [sortField]="sortField"
            [sortOrder]="sortOrder"
            [defaultSortOrder]="_defaultSortOrder"
            (sortFunction)="_onSortChanged($event)" [customSort]="true"
            [(selection)]="selectedEntries"
            (selectionChange)="_onSelectionChange($event)"
            kStickyHeader [sticksTo]="'entriesTags'" stickyClass="stickyHeader" [stickyId]="'entriesTable'">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:44px; padding-left: 14px" *ngIf="showBulkSelect">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th [style]="_columnsMetadata.thumbnailUrl.style" *ngIf="_columnsMetadata.thumbnailUrl && !(_kmcPermissions.FEATURE_DISABLE_KMC_LIST_THUMBNAILS | kNgIfPermitted)">
                    {{'applications.content.table.thumbnail' | translate}}
                </th>
                <th [style]="_columnsMetadata.name.style" *ngIf="_columnsMetadata.name" [kpSortableColumn]="_columnsMetadata.name.sortable ? 'name' : null">
                    {{'applications.content.table.name' | translate}}
                    <p-sortIcon [field]="'name'"  ></p-sortIcon>
                </th>
                <th [style]="_columnsMetadata.id.style" *ngIf="_columnsMetadata.id">{{'applications.content.table.id' |
                    translate}}
                </th>
                <th [style]="_columnsMetadata.mediaType.style" *ngIf="_columnsMetadata.mediaType" [kpSortableColumn]="_columnsMetadata.mediaType.sortable ? 'mediaType' : null">
                    {{'applications.content.table.type' | translate}}
                    <p-sortIcon [field]="'mediaType'"></p-sortIcon>
                </th>
                <th [style]="_columnsMetadata.moderationCount.style" *ngIf="_columnsMetadata.moderationCount" [kpSortableColumn]="_columnsMetadata.moderationCount.sortable ? 'moderationCount' : null">
                    {{'applications.content.table.flags' | translate}}
                    <p-sortIcon [field]="'moderationCount'"></p-sortIcon>
                </th>
                <th [style]="_columnsMetadata.createdAt.style" *ngIf="_columnsMetadata.createdAt" [kpSortableColumn]="_columnsMetadata.createdAt.sortable ? 'createdAt' : null">
                    {{'applications.content.table.createdOn' | translate}}
                    <p-sortIcon [field]="'createdAt'"></p-sortIcon>
                </th>
                <th [style]="_columnsMetadata.moderationStatus.style" *ngIf="_columnsMetadata.moderationStatus">
                    {{'applications.content.table.moderationStatus' | translate}}
                </th>
                <th [style]="_columnsMetadata.duration.style" *ngIf="_columnsMetadata.duration" [kpSortableColumn]="_columnsMetadata.duration.sortable ? 'duration' : null">
                    {{'applications.content.table.duration' | translate}}
                    <p-sortIcon [field]="'duration'"></p-sortIcon>
                </th>
                <th [style]="_columnsMetadata.plays.style" *ngIf="_columnsMetadata.plays" [kpSortableColumn]="_columnsMetadata.plays.sortable ? 'plays' : null">
                    {{'applications.content.table.plays' | translate}}
                    <p-sortIcon [field]="'plays'"></p-sortIcon>
                </th>
                <th [style]="_columnsMetadata.status.style" *ngIf="_columnsMetadata.status">
                    {{'applications.content.table.status' | translate}}
                </th>
                <th *ngIf="rowActions?.length" style="width: 80px"></th>
                <th [style]="_columnsMetadata.addToBucket.style" *ngIf="_columnsMetadata.addToBucket"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-entry>
            <tr [pSelectableRow]="entry">

                <td style="width:44px; padding-left: 14px" *ngIf="showBulkSelect">
                    <p-tableCheckbox [value]="entry"></p-tableCheckbox>
                </td>

                <td *ngIf="_columnsMetadata.thumbnailUrl && !(_kmcPermissions.FEATURE_DISABLE_KMC_LIST_THUMBNAILS | kNgIfPermitted)" [style]="_columnsMetadata.thumbnailUrl.style">
                    <div class="kThumbnailHolder"
                         [class.disable]="!_allowDrilldown('view', entry.mediaType,entry.status)"
                         (click)="_onActionSelected('view',entry)">
                        <img src="{{entry.thumbnailUrl}}" onError="this.onerror=null;this.style.display='none'">
                    </div>
                </td>

                <td *ngIf="_columnsMetadata.name" [style]="_columnsMetadata.name.style">
                    <span class="kTitle kTableColumn" [kTooltip]="entry.name"
                         [class.disable]="!_allowDrilldown('view', entry.mediaType,entry.status)"
                         (click)="_onActionSelected('view',entry)">
                        {{entry.name}}
                    </span>
                </td>

                <td *ngIf="_columnsMetadata.id" [style]="_columnsMetadata.id.style">{{entry.id}}</td>

                <td *ngIf="_columnsMetadata.mediaType" class="kMediaTypeIcon" [style]="_columnsMetadata.mediaType.style">
                    <div [kTooltip]="entry.mediaType | entryType: true"
                         [class]="entry.mediaType | entryType: false"></div>
                </td>

                <td *ngIf="_columnsMetadata.moderationCount" [style]="_columnsMetadata.moderationCount.style">
                    {{entry.moderationCount}}
                </td>

                <td *ngIf="_columnsMetadata.createdAt" [style]="_columnsMetadata.createdAt.style">{{entry.createdAt | kDate}}
                </td>

                <td *ngIf="_columnsMetadata.moderationStatus" [style]="_columnsMetadata.moderationStatus.style">
                    {{entry.moderationStatus | kModerationStatus}}
                </td>

                <td *ngIf="_columnsMetadata.duration" [style]="_columnsMetadata.duration.style">
                    {{entry.duration | kTime | entryDuration:entry}}
                </td>

                <td *ngIf="_columnsMetadata.plays" [style]="_columnsMetadata.plays.style">{{entry.plays}}</td>

                <td *ngIf="_columnsMetadata.status" [style]="_columnsMetadata.status.style">{{entry | entryStatus}}</td>

                <td *ngIf="rowActions?.length" style="overflow: visible; width: 80px">
                    <div class="kEntriesTableActions">
                        <button type="button" pButton class="kMoreActionsButton" icon="kIconmore"
                                (click)="_openActionsMenu($event, entry)"></button>
                    </div>
                </td>

                <td *ngIf="_columnsMetadata.addToBucket" [style]="_columnsMetadata.addToBucket.style">
                    <div class="kEntriesTableActions">
                        <button type="button" pButton class="kButtonDefault kButtonAddToBucket" label="+"
                                (click)="_onActionSelected('addToBucket', entry)"></button>
                    </div>
                </td>

            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <div class="emptymessage">{{_emptyMessage}}</div>
        </ng-template>
    </p-table>

    <p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
</div>
