@import 'app-theme/_variables.scss';

.kEntrySelector {
  display: flex;

  .kEntrySelectorBucket {
    height: calc(100vh - 158px);
    width: 250px;
    border-left: 1px solid $kGrayscale6;
    overflow-y: auto;

    .KEntrySelectorSelectedItem {
      height: 36px;
      padding: 8px;
      display: flex;
      align-items: center;

        .kThumbnailHolder {
            flex: 1 0 auto;
            margin-right: 8px;
            overflow: hidden;
            position: relative;
            width: 64px;
            height: 36px;
            background-color: $kGrayscale7;
            white-space: nowrap;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
            &.disable {
                cursor: auto;
            }
            img {
                position: absolute;
                left: -100%;
                right: -100%;
                top: -100%;
                bottom: -100%;
                margin: auto;
                width: 64px;
                height: auto;
                border-radius: 5px;
            }
            .kThumbnailTypeIcon {
                position: absolute;
                color: #FFFFFF;

                &.kIconquiz {
                    font-size: 20px;
                    top: 15px;
                    right: 1px;
                }
                &.kIconyoutube {
                  font-size: 20px;
                  top: 15px;
                  right: 1px;
                  z-index: 2;
                  color: $kDandger;
                }
            }
        }

      &:hover {
        background-color: $kGrayscale6;
      }

      img {
        width: 64px;
        height: 36px;
        object-fit: cover;
        margin-right: 8px;
        border-radius: 3px;
      }

      span {
        font-size: 15px;
        font-weight: bold;
        margin-right: 8px;
        flex-grow: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      i {
        color: $kDandger;
        font-size: 24px;
        cursor: pointer;
      }
    }
  }
  .kEntrySelectorTable {
    width: 100%;
    flex: 1 1 auto;
  }
}

:host ::ng-deep .kEntrySelector {
  .kContent {
    width: 100%;
    margin: 0 !important;
  }

  .kEntries {
    padding-top: 0;
    min-width: 0;
  }

  div.kEntriesTable {
    height: calc(100vh - 223px);
    overflow-y: auto;

    &.kTagsVisible {
      height: calc(100vh - 264px);
    }
  }

  .kEntriesTableFooter {
    width: 994px;
  }

  .kEntriesSelectorBucketOpened .kEntriesTableFooter {
    width: 746px;
    border-right: 1px solid #ebebeb;
  }
}
