@import 'app-theme/_variables.scss';

.kDropFoldersTableWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 1 auto;

  .kDropFoldersTable {
    background-color: white;
    overflow-y: hidden;
    position: absolute;
    padding: 0;
  }

  .kDropFoldersTableActions {
    width: 100%;
    text-align: center;
  }

  .kStatusWrap {
    display: flex;
    align-items: center;
  }

  .kDropFolderStatusIcon {
    font-size: 16px;
    margin-right: 12px;
  }

  .kIconBlue {
    color: #1cabcb;
  }

  .kIconOrange {
    color: #F9A71B;
  }

  .kIconRed {
    color: #DB1F26;
  }

  .kIconGreen {
    color: #149347;
  }

  .kTitle {
    font-weight: bold;
    color: #333;
  }
}

:host {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  flex-direction: column;
}

:host /deep/ .kSelectionColumn {
  width: 44px;
  padding-left: 14px !important;
}

:host /deep/ .kFileNameColumn {
  width: 250px;
}

:host /deep/ .ui-table .actionsColumn {
  overflow: visible;
  width: 80px;
}
:host /deep/ p-table .ui-table-scrollable-body{
    margin-bottom: 34px;
}
:host /deep/ p-table .stickyHeader {
  z-index: 10;
  display: table;
}
