<div class="kContainer kContent">
    <div class="kAccountInfoContainer">
      <kAccountInfo></kAccountInfo>
    </div>

    <div class="kNotifications">
      <div class="kTitle">{{'applications.settings.integrationSettings.accountInfo.distribution.title' | translate}}</div>
      <div class="kSubTitle">{{'applications.settings.integrationSettings.accountInfo.distribution.text' | translate}}</div>
      <kDistributionProfiles class="profiles"></kDistributionProfiles>
    </div>

    <kEntitlement class="kEntitlement"></kEntitlement>

    <kTeamsIntegration *ngIf="_enableTeamsIntegration" class="kEntitlement"></kTeamsIntegration>

    <kWebexIntegration class="kEntitlement"></kWebexIntegration>

    <kZoomIntegration class="kEntitlement"></kZoomIntegration>

</div>
