<div class="kContainer kContent">
  <div class="kColumn" [class.fillWidth]="!_kmcPermissions.FEATURE_ENTITLEMENT | kNgIfPermitted">
    <div class="kAccountInfoContainer">
      <kAccountInfo></kAccountInfo>
    </div>
    <div class="kNotifications">
      <div class="kTitle">{{'applications.settings.integrationSettings.accountInfo.distribution.title' | translate}}</div>
      <div>{{'applications.settings.integrationSettings.accountInfo.distribution.text' | translate}}</div>
      <kDistributionProfiles></kDistributionProfiles>
    </div>
  </div>
  <div class="kColumn kRightColumn" *ngIf="_kmcPermissions.FEATURE_ENTITLEMENT | kNgIfPermitted">
      <kEntitlement></kEntitlement>
  </div>
</div>
