<div class="kPermissionsTable">
  <p-table [value]="_appPermissions">
    <ng-template pTemplate="header">
      <tr>
        <th [ngStyle]="{'width': '350px', 'padding-left': '28px'}">
          {{'applications.administration.role.permissionsTable.featureSet' | translate}}
        </th>
        <th>{{'applications.administration.role.permissionsTable.permissions' | translate}}</th>
        <th [ngStyle]="{'width': '80px'}"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-permission>
      <tr [pSelectableRow]="permission" class="kTableRow">

        <td [ngStyle]="{'width': '350px', 'padding-left': '28px'}">
          <span class="kPermissionGroup">{{permission.label}}</span>
        </td>

        <td>
          <kMultiSelect *ngIf="permission.items"
                        kMultiselectCloseOnScroll
                        class="kPermissionsList"
                        panelStyleClass="kPermissionsListPanel"
                        menuItemDisplayStyle="flex"
                        [hideOnScroll]="scrollableContainer"
                        [options]="permission.items"
                        [disabled]="!permission.enabled"
                        [showToggleAll]="true"
                        [maxSelectedLabels]="0"
                        [defaultLabel]="permission.isAdvancedGroup ? ('applications.administration.role.permissionsTable.viewOnly' | translate) : ('applications.administration.role.permissionsTable.selectPermissions' | translate)"
                        [disabledLabel]="'applications.administration.role.permissionsTable.disabled' | translate"
                        [allSelectedLabel]="'applications.administration.role.permissionsTable.allPermissions' | translate"
                        [selectedItemsLabel]="'applications.administration.role.permissionsTable.custom' | translate"
                        [appendTo]="'body'"
                        [resetFilterOnHide]="true"
                        (onPanelHide)="null"
                        [(ngModel)]="permission.formValue">
            <ng-template let-item pTemplate="item">
              <span class="kPermissionItem">
                {{item.label}}
              </span>
            </ng-template>
          </kMultiSelect>
        </td>

        <td [ngStyle]="{'width': '80px'}">
          <p-inputSwitch [(ngModel)]="permission.enabled" (onChange)="_togglePermission($event, permission)"></p-inputSwitch>
        </td>

      </tr>
    </ng-template>
  </p-table>
</div>
