@import 'app-theme/_variables.scss';

.kPermissionsTable {
  background-color: white;
  height: auto;
  padding: 0;
  width: 100%;

  .kPermissionGroup {
    color: $kGrayscale1;
    font-weight: bold;
    font-size: 15px;
  }
}

:host {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  flex-direction: column;
}

:host /deep/ .kPermissionsTable {
  p-table .ui-table-scrollable-body{
    margin-bottom: 34px;
  }

  .ui-table .ui-table-thead > tr > th {
    border: 1px solid $kGrayscale6;
    border-left: none;
    border-right: none;
    padding: 10px 0;
  }
}
