<k-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage">
  <form [formGroup]="contactUsForm" novalidate (ngSubmit)="onSubmit()" class="kAccountUpgradeWrapper kContent">
    <section class="kHeader">
      <div class="kTitle">{{'applications.settings.accountUpgrade.contactUs' | translate}}</div>
      <button pButton class="kButtonBranded kSaveBtn"
              label="{{'applications.settings.accountUpgrade.send' | translate}}"></button>
    </section>
    <h1 style="background-color: hotpink">
      To learn more about our different packages and added-value services, fill in the form below or call us at 1-800-871-5224.
    </h1>
    <section class="kFormContainer">
      <div class="form-section">
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.accountUpgrade.name' | translate}}</span>
          <input class="kControl" formControlName="name" pInputText>
        </div>
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.accountUpgrade.phone' | translate}}*</span>
          <div>
            <input class="kControl" formControlName="phone" pInputText
                   [ngClass]="{'kHasError':!contactUsForm.controls['phone'].valid &&
                   contactUsForm.controls['phone'].touched}">
            <div class="error" *ngIf="contactUsForm.controls['phone'].touched">
              <span *ngIf="contactUsForm.controls['phone'].hasError('required')">
              {{'applications.settings.accountUpgrade.errors.required' | translate}}
              </span>
                <span *ngIf="contactUsForm.controls['phone'].hasError('phonePattern')">
              {{'applications.settings.accountUpgrade.errors.phoneInvalid' | translate}}
              </span>
            </div>
          </div>
        </div>
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.accountUpgrade.comments' | translate}}</span>
          <textarea class="kControl" formControlName="comments" pInputTextarea></textarea>
        </div>
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.accountSettings.requiredFields' | translate}}</span>
        </div>
      </div>
    </section>
  </form>
</k-area-blocker>
