@import "app-theme/_variables.scss";

.kRefineFilters {
  margin: 12px;
  background-color: white;
}
.kFilterLabel{
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
}
.kPlayedUntil{
    border-top: 1px solid $kGrayscale6;
    margin-bottom: 16px;
    margin-left: -12px;
    padding-left: 16px;
}
.kFiltersGroupTitle {
  color: $kGrayscale3;
  line-height: 40px;
  letter-spacing: 0.1em;
  font-size: 13px;
  border-top: 1px solid $kGrayscale6;
  border-bottom: 1px solid $kGrayscale6;
  margin-left: -12px;
  padding-left: 20px;
  margin-right: -20px;
  margin-bottom: 8px;
}
.kTreeContainer {
  overflow-y: auto;
  overflow-x: hidden;
  height: 434px;
  border-bottom: 1px solid $kGrayscale6;
  margin-left: -20px;
  padding-left: 20px;
  margin-right: -20px;
  width: 387px;
  position: relative;
}

.kDateRange {
  display: flex;
  align-items: center;
}

.kClearAll {
  margin-bottom: 6px;
  margin-top: 4px;
  display: block;
}

.kClose {
  float: right;
}

.kError {
  font-size: 14px;
  color: $kDandger;
}

.kTreeNodeLabelWrapper {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kTreeNodeLabel {
  max-width: 100%;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 43px;
  color: $kGrayscale1;
  text-overflow: ellipsis;
  margin-left: 5px;
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: $kGrayscale5;
  border: none;
}

.kTreeNodeNumChildren {
  font-size: 14px;
  font-weight: 400;
  color: $kGrayscale3;
  margin-left: 10px;
}

/* prevent calendars from being cut by the popup widget borders */
:host ::ng-deep .kPullLeft40 .ui-datepicker.ui-widget {
  margin-left: -40px;
  left: 0px !important;
}

:host ::ng-deep .kPullLeft100 .ui-datepicker.ui-widget {
  margin-left: -100px;
  left: 0px !important;
}
:host ::ng-deep .kPullLeft120 .ui-datepicker.ui-widget {
  margin-left: -120px;
  left: 0px !important;
}

:host ::ng-deep .kDateRange .kDateRangeFirst .ui-calendar.ui-calendar-w-btn {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

:host ::ng-deep .ui-calendar.ui-calendar-w-btn {
  border-radius: 0px;
}

:host ::ng-deep .ui-calendar .ui-inputtext {
  width: 110px;
}

:host ::ng-deep .kDateRange .kDateRangeLast .ui-calendar.ui-calendar-w-btn {
  border-left: 0px solid $kGrayscale4;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

:host ::ng-deep .ui-tree .ui-tree-container {
  overflow: visible;
}

:host ::ng-deep .ui-treenode-label {
  width: 100%;
}

:host ::ng-deep .ui-tree .ui-chkbox {
  vertical-align: top;
  margin-top: 14px;
}

:host ::ng-deep .kErrorMessage {
  width: 320px !important;
}
