<div class="userSettings" (mouseenter)="setOpen(true)" (mouseleave)="setOpen(false)" #userSettings>
  <span class="widgetLink" *ngIf="!isOpen">< &nbsp;{{_userContext.fullName}}</span>
  <div [hidden]="!isOpen" [class.open]="isOpen">
    <span>{{_userContext.fullName}}</span>
    <span><a (click)="logout()">{{'logout' | translate}}</a></span>
    <span class="separator">|</span>
    <span>{{'account' | translate}} : {{_userContext.partnerInfo.name}}</span>
    <span><a>{{'changeAccount' | translate}}</a></span>
    <span class="separator">|</span>
    <span><a (click)="openUserManual()">{{'userManual' | translate}}</a></span>
    <span class="separator">|</span>
    <span><a (click)="openSupport()">{{'support' | translate}}</a></span>
  </div>
</div>
