@import "app-theme/_variables.scss";

.kHoster {
    width: 100%;
    height: calc(100vh - 59px);
    display: flex;
    align-items: center;
    justify-content: center;
      iframe {
        width: 1200px;
        height: 707px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
        border-radius: 3px;
      }
}
@media screen and (max-width: 1090px) {
    .kHoster iframe {
        box-shadow: none;
    }
}
