@import '../fonts/kmcng-icon-pack/style';

.kUseKMCngIcons {
    .fa {
        font-family: 'KMCng-icon-pack' !important;
    }
    .ui-submenu-icon.fa-caret-right:before{
        @extend .kIcondropdown_arrow_right:before;
    }
    .ui-tree-toggler.fa-caret-right:before{
        @extend .kIcontree-arrow-right:before;
    }
    .ui-tree-toggler.fa-caret-down:before{
        @extend .kIcontree-arrow-down:before;
    }
    .ui-sortable-column-icon.fa-sort-asc:before{
        @extend .kIcondropdown_arrow_top:before;
    }
    .ui-sortable-column-icon.fa-sort-desc:before{
        @extend .kIcondropdown_arrow_bottom:before;
    }
    .ui-paginator-next.ui-paginator-element .fa.fa-forward:before{
        @extend .kIcondropdown_arrow_right:before;
        font-size: 12px;
    }
    .ui-paginator-prev.ui-paginator-element .fa.fa-backward:before{
        @extend .kIcondropdown_arrow_left:before;
        font-size: 12px;
    }
    .ui-paginator-last.ui-paginator-element .fa.fa-step-forward:before{
        @extend .kIconpagination_end:before;
        font-size: 12px;
    }
    .ui-paginator-first.ui-paginator-element .fa.fa-step-backward:before{
        @extend .kIconpagination_start:before;
        font-size: 12px;
    }
    .ui-radiobutton-icon.fa.fa-circle:before{
        @extend .kIconcheck_small:before;
        font-size: 10px;
    }
    .ui-chkbox-icon.ui-c.fa.fa-check:before{
        @extend .kIconcheck_small:before;
        font-size: 12px;
    }
    .ui-chkbox-icon.ui-c.fa.fa-minus:before{
        @extend .kIconpartial_small:before;
        font-size: 9px;
    }
    .ui-datepicker-prev .fa.fa-angle-left:before{
        @extend .kIcondropdown_arrow_left:before;
        font-size: 9px;
    }
    .ui-datepicker-next .fa.fa-angle-right:before{
        @extend .kIcondropdown_arrow_right:before;
        font-size: 9px;
    }
	.ui-dropdown-trigger .fa.fa-caret-down:before{
		@extend .kIcondropdown_arrow_bottom:before;
		font-size: 12px;
	}
	.ui-spinner.ui-widget .fa.fa-caret-down:before{
		@extend .kIcondropdown_arrow_bottom:before;
		font-size: 10px;
	}
	.ui-spinner.ui-widget .fa.fa-caret-up:before{
		@extend .kIcondropdown_arrow_top:before;
		font-size: 10px;
	}
	.ui-timepicker .fa.fa-angle-up{
		@extend .kIcondropdown_arrow_top;
	}
	.ui-timepicker .fa.fa-angle-down{
		@extend .kIcondropdown_arrow_bottom;
	}
	.ui-multiselect-trigger .fa.fa-caret-down:before{
		@extend .kIcondropdown_arrow_bottom:before;
		font-size: 12px;
	}
	.ui-multiselect-filter-container  .fa.fa-search:before{
		@extend .kIconmagnifier:before;
	}
}
