/* Application */
$appBkgColor: #f4f6f8;
$minAppWidth: 1024px;

/* App menu colors */
$menuBkgColor: #102C5A;
$mainLinkColor: #A6A5A5;
$mainLinkHoverBkg: #252525;
$mainLinkHoverColor: #FFFFFF;
$mainLinkActiveColor: #FFFFFF;
$subLinkColor: #808080;
$subLinkActiveColor: #000000;
$uploadLinkActiveColor: #F1F6FD;
$widgetLinkColor: #59A3B5;
$headerTextColor: rgba(255,255,255,0.6);

$appMenuHeight: 50px;
$contentArea: calc(100vh - 100px);

$appContainerPadding: 50px;

/* Gridlex overrides */
$gl-gutter: 28px;

/* colors */
$kPrimary: #00a784;
$kSecondary: #01accd;
$kTertiary: #1b4a97;
$kBlack: #222222;
$kGrayscale1: #333333;
$kGrayscale2: #666666;
$kGrayscale3: #999999;
$kGrayscale4: #cccccc;
$kGrayscale5: #dadada;
$kGrayscale6: #ebebeb;
$kGrayscale7: #f4f4f4;
$kSuccess: #009444;
$kDandger: #db1f26;
