<k-area-blocker [message]="_blockerMessage" [bodyScroll]="true" [showLoader]="_isBusy">
    <div class="kProfiles kOverrideFAIcons">
        <div class="kProfilesHolder">
                <span class="kTitle">{{'applications.settings.mr.rules' | translate}}</span>
            <div class="kFiltersWrapper">
                <div class="kProfilesTableFilters">
                    <button pButton type="button" class="kButtonBranded kAddProfileBtn"
                            [label]="'applications.settings.mr.newRule' | translate"
                            (click)="_addProfile()"></button>
                    <span class="kSelectedProfilesNum">
                      {{ 'applications.settings.mr.rulesNum' | translate:{'0': _profilesCount} }}
                    </span>
                    <button pButton class="kButtonDefault kRefreshBtn small" (click)="_refresh()" type="text" icon="kIconrefresh"
                            [kTooltip]="'applications.administration.roles.refresh' | translate"></button>
                </div>
            </div>

            <div class="kProfilesTable" [class.noResults]="!_profiles?.length">
                <p-table kStickyHeader [scrollable]="true" stickyClass="stickyHeader" scrollHeight="400px" dataKey="id"
                         [rowTrackBy]="_rowTrackBy"
                         [sticksTo]="'profilesFilters'"
                         [resizableColumns]="true"
                         [sortField]="sortField"
                         [sortOrder]="sortOrder"
                         [value]="_profiles"
                         [stickyId]="'profilesTable'"
                         (sortFunction)="onSortChanged($event)" [customSort]="true"
                         (onColResize)="_columnsResizeManager.onColumnResize($event)">
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col [ngStyle]="{'padding-left': '1em'}">
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th data-cid="name" [ngStyle]="{'padding-left': '1em'}" pResizableColumn [pSortableColumn]="'name'">
                                {{'applications.settings.authentication.table.name' | translate}}
                                <p-sortIcon [field]="'name'"></p-sortIcon>
                            </th>
                            <th data-cid="description" pResizableColumn>
                                {{'applications.settings.authentication.table.description' | translate}}
                            </th>
                            <th data-cid="created" pResizableColumn [pSortableColumn]="'createdAt'" [ngStyle]="{'width': '100px'}">
                                {{'applications.settings.mr.created' | translate}}
                                <p-sortIcon [field]="'createdAt'"></p-sortIcon>
                            </th>
                            <th data-cid="lastExecutionTime" pResizableColumn [pSortableColumn]="'lastExecutionTime'" [ngStyle]="{'width': '100px'}">
                                {{'applications.settings.mr.lastRun' | translate}}
                                <p-sortIcon [field]="'lastExecutionTime'"></p-sortIcon>
                            </th>
                            <th data-cid="nextRunDate" pResizableColumn [pSortableColumn]="'nextRunDate'" [ngStyle]="{'width': '100px'}">
                                {{'applications.settings.mr.nextRun' | translate}}
                                <p-sortIcon [field]="'nextRunDate'"></p-sortIcon>
                            </th>
                            <th data-cid="status" [ngStyle]="{'width': '70px'}" pResizableColumn>
                                {{'applications.settings.authentication.table.status' | translate}}
                            </th>
                            <th [ngStyle]="{'overflow': 'hidden', 'width': '80px'}"></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-profile>
                        <tr>
                            <td class="nameHolder">
                                <span class="kProfileName kTableColumn name" [kTooltip]="profile.name" [showOnEllipsis]="true" (click)="_editProfile(profile)">{{profile.name}}</span>
                            </td>
                            <td>
                                <span class="kTableColumn" [kTooltip]="profile.description" [showOnEllipsis]="true">{{profile.description}}</span>
                            </td>

                            <td [ngStyle]="{'width': '100px'}">
                              <span class="kTableColumn">
                                  {{profile.createdAt | kmcDate:'dateOnly'}}
                              </span>
                            </td>
                             <td [ngStyle]="{'width': '100px'}">
                              <span class="kTableColumn">
                                  {{(profile.lastExecutionTime | kmcDate:'dateOnly') || 'applications.settings.mr.notRun' | translate}}
                              </span>
                            </td>
                             <td [ngStyle]="{'width': '100px'}">
                              <span class="kTableColumn">
                                  {{profile.nextRunDate | kmcDate:'dateOnly'}}
                              </span>
                            </td>
                            <td [ngStyle]="{'width': '70px'}">
                                <span class="kTableColumn">
                                  {{profile.status.charAt(0).toUpperCase() + profile.status.slice(1)}}
                              </span>
                            </td>
                            <td [ngStyle]="{'overflow': 'hidden', 'width': '80px'}">
                                <div class="kProfilesTableActions">
                                    <button type="button" pButton icon="kIconmore" class="kMoreActionsButton"
                                            (click)="_openActionsMenu($event, profile)"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage">
                        <div class="emptymessage">
                            <div class="kEmptyMessage">{{'applications.content.table.noResults' | translate}}</div>
                        </div>
                    </ng-template>
                </p-table>
                <p-menu #actionsmenu [popup]="true" [model]="_items" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
            </div>
            <div class="kProfilesTableFooter" #footer>
                <p-paginator [rows]="pageSize" (onPageChange)="_onPaginationChanged($event)"
                             [first]="pageIndex * pageSize"
                             [totalRecords]="_profilesCount"
                             [rowsPerPageOptions]="[25,50,75,100]"></p-paginator>
                <span class="kPaginatorShowRowsLabel">{{'applications.administration.paginator.showRows' | translate}}</span>
            </div>
        </div>
    </div>
</k-area-blocker>

<kPopupWidget #deletePopup data-aid="deleteProfilePopup" [popupWidth]="600" [popupHeight]="242" [modal]="true" [preventPageScroll]="true" [closeBtn]="false">
    <ng-template>
        <kDeleteRule [parentPopupWidget]="deletePopup" [profile]="_currentEditProfile" (onDelete)="deleteProfile()"></kDeleteRule>
    </ng-template>
</kPopupWidget>

<kPopupWidget #newPopup data-aid="newProfilePopup" [popupWidth]="750" [popupHeight]="360" [modal]="true" [preventPageScroll]="true">
    <ng-template>
        <kNewRule [parentPopupWidget]="newPopup" (onProfileCreated)="onProfileCreated($event)"></kNewRule>
    </ng-template>
</kPopupWidget>
