@import 'app-theme/_variables.scss';

.kEditorContainer {
  .kHeader {
    height: 58px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $kGrayscale1;
    color: white;
    border-bottom: 1px solid $kGrayscale4;
    .kClose {
      color: $kGrayscale3;
      font-size: 18px;
      margin-left: 24px;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
    .kTitle {
      margin-left: 24px;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
