@import "app-theme/_variables.scss";

.kNoParentOption {
  padding-bottom: 10px;
  display: block;
}

.kMain {
  border: 1px solid $kGrayscale4;
  border-radius: 4px;
  height: 311px;
  padding: 8px;
  box-sizing: border-box;
}
.kSelectedCategoryTooltip {
  display: inline-block;
  font-size: 15px;
  color: $kGrayscale3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px 0 5px 0px;
  width: 520px;
}

:host {
  width: 100%;
}

:host ::ng-deep kautocomplete .kKalturaPrimeUIComponent.ui-autocomplete-multiple {
  width: 100%;
}

:host ::ng-deep kautocomplete ul.ui-autocomplete-multiple-container {
  max-height: 60px;
  overflow-y: auto;
}

:host ::ng-deep k-categories-tree .kTreeContainer {
  margin: 0px;
  padding: 0px;
  width: 100%;
  margin-top: 4px;
  border-bottom: 0px solid white;
  min-height: 260px;
}

:host ::ng-deep k-area-blocker {
  height: 265px;
  overflow-y: hidden;
}

:host ::ng-deep ktags {
  margin-left: 12px;
  .kTags {
    border-top: 0px solid white;
    width: 542px;
  }
  .kTagRemove {
    flex: 0 0 auto;
    margin-top: 2px;
    margin-left: 8px;
    padding: 5px;
    cursor: pointer;
    font-size: 10px;
  }
  .kTagContent {
    display: flex;
    align-items: center;
    cursor: default;
  }
}

:host ::ng-deep kautocomplete ul.ui-autocomplete-multiple-container.p-inputtext {
  padding: 0px;
  .ui-autocomplete-input-token {
    padding: 0px;
    input {
      height: 34px;
      padding-left: 8px;
      width: 500px;
    }
  }
}

