<div class="kTranscodingProfilesList">
  <h2 class="kTranscodingProfilesListTitle">{{title}}</h2>

  <div class="kTranscodingProfilesTableHeader kContent">
    <button
      pButton
      type="button"
      class="kButtonBranded kAddProfileBtn"
      [disabled]="_kmcPermissions.TRANSCODING_ADD | kDisabledIfNotPermitted"
      [class.kHidden]="_selectedProfiles.length"
      [label]="'applications.settings.transcoding.addProfile' | translate"
      (click)="addProfile.emit(_profilesType)"></button>
    <span class="kTotalProfilesCount" *ngIf="(_storeService.profiles.data$ | async)?.totalCount">
      {{'applications.settings.transcoding.profiles' | translate: [(_storeService.profiles.data$ | async)?.totalCount]}}
    </span>

    <div class="kBulkOperations" [class.kHidden]="!_selectedProfiles.length">
      <span class="kSelectedProfilesLabel">
        • {{ 'applications.settings.transcoding.selected' | translate: [_selectedProfiles.length]}}
      </span>
      <button pButton icon="kIcontrash" class="kButtonDanger kBulkDeleteBtn"
              [disabled]="_kmcPermissions.TRANSCODING_DELETE | kDisabledIfNotPermitted"
              (click)="_deleteSelected()"></button>
      <a class="kBulkCancel" (click)="_clearSelection()">
        {{'applications.settings.transcoding.cancel' | translate}}
      </a>
    </div>
  </div>

  <k-area-blocker [showLoader]="_tableIsBusy" [message]="_tableBlockerMessage">
    <k-transcoding-profiles-table [profiles]="(_storeService.profiles.data$ | async)?.items"
                                  (actionSelected)="_actionSelected($event)"
                                  [(selectedProfiles)]="_selectedProfiles"></k-transcoding-profiles-table>
  </k-area-blocker>

  <div class="kProfilesTableFooter kContent" #footer *ngIf="(_storeService.profiles.data$ | async)?.totalCount">
    <p-paginator
      [rows]="_query.pageSize"
      [first]="_query.pageIndex * _query.pageSize"
      [totalRecords]="(_storeService.profiles.data$ | async)?.totalCount"
      [rowsPerPageOptions]="[25,50,75,100]"
      (onPageChange)="_onPaginationChanged($event)"></p-paginator>
    <span class="kPaginatorShowRowsLabel">{{'applications.content.paginator.showRows' | translate}}</span>
  </div>
</div>
