@import 'app-theme/_variables.scss';

.kTranscodingProfilesList {

  .kTranscodingProfilesListTitle {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 20px;
  }

  .kTranscodingProfilesTableHeader {
    color: $kGrayscale1;
    z-index: 500;
    height: 66px;
    background-color: white;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 0;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;

    .kTotalProfilesCount {
      padding-left: 16px;
    }

    .kBulkOperations {
      display: flex;
      align-items: center;
    }

    .kSelectedProfilesLabel {
      font-weight: bold;
      margin-right: 36px;
      margin-left: 5px;
    }

    .kAddProfileBtn {
      margin-left: 14px;
      height: 36px;
      border: none;
    }

    .kBulkCancel {
      margin-left: 26px;
    }

    .kBulkDeleteBtn {
      margin-right: 10px;
      width: 44px;
      font-size: 24px;
    }

    .kBulkActionsBtn {
      font-weight: 400;
      font-size: 15px;
    }

    .kHidden {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }

  .kProfilesTableFooter {
    bottom: 0;
    height: 34px;
    background-color: white;
    border-top: 1px solid $kGrayscale6;
    position: relative;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 14px 28px;
    display: block;
  }

  .kPaginatorShowRowsLabel {
    color: $kGrayscale1;
    position: absolute;
    top: 7px;
    right: 80px;
  }
}

:host /deep/ k-area-blocker > .kAreaBlockerContainer {
  z-index: 203;
}

:host /deep/ span.ui-button-icon-left.fa.kIcontrash {
  margin-left: -.5em;
}
:host /deep/ .kProfilesTableFooter {
  .ui-dropdown-panel {
    min-width: 70px;
  }
}
