@import "app-theme/_variables.scss";

.kTitle{
  color: $kGrayscale1;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid $kGrayscale4;
  height: 78px;
  line-height: 78px;
}
.kContent{
  display: flex;
  flex-direction: column;
  height: 550px;
  overflow-x: hidden;
  .kLabel{
    display: block;
    margin-bottom: 8px;
  }
  .kAccessControl{
    padding: 12px;
    height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    .kAccessControlDetails{
      padding-left: 12px;
      padding-right: 12px;
      width: 100%;
      .kRow{
        display: flex;
        padding-top: 24px;
        align-items: center;

        .kAccessControlProfileItem {
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 160px;
          white-space: nowrap;
        }

        .kLongText {
          max-width: 265px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
      .kLabels{
        width: 180px;
        flex: 0 0 auto;
      }
    }
  }
}
.kFooter{
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100%;
  height: 66px;
  border-top: 1px solid $kGrayscale4;
  align-items: center;
  justify-content: center;
}
:host ::ng-deep kautocomplete ul.ui-autocomplete-multiple-container.p-inputtext{
  padding: 0px;
  .ui-autocomplete-input-token{
    padding: 0px;
    input{
      height: 34px;
      padding-left: 8px;
      width: 472px;
    }
  }
}
:host ::ng-deep {
  .ui-dropdown.ui-widget {
    min-width: 220px;
    width: 220px !important;
  }

  .ui-dropdown-label {
    text-overflow: ellipsis;
  }
}

:host ::ng-deep .ui-dropdown-label.p-inputtext{
  background-color: #ffffff;
}
