<kSticky stickyId="header" [stickyClass]="'kStickyClass'">
    <div class="kMainMenuWrapper">
        <div #appmenu class="appMenu">

            <div class="k-logo"></div>

            <div class="kMenu-right">
                <div #username class="kUserName">
                    <span>{{_userContext.fullName}}</span>
                    <i class="kIcondropdown_arrow_bottom"></i>
                </div>
            </div>
        </div>
    </div>
</kSticky>


<kPopupWidget #usersettings
              [popupWidth]="240"
              [popupHeight]="150"
              [closeBtn]="false"
              [targetRef]="username"
              [targetOffset]="{'x':-110, 'y': 30}"
              (onOpen)="username.className='kUserName open'"
              (onClose)="username.className='kUserName'"
              kSticky [sticksTo]="'header'" [stickyId]="'usersettingsPopup'" [stickyClass]="'kForceFix'">
    <kKMCUserSettings></kKMCUserSettings>
</kPopupWidget>
