@import 'app-theme/_variables.scss';
.kTagsWrapper{
    z-index: 500;
}
.kPlaylists {
    font-size: 15px;
    background-color: $appBkgColor;
    padding-top: 24px;
    width: 100%;
	min-width: $minAppWidth;
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
	margin: 0px;
    .kPlaylistsHolder {
        height: 100%;
		min-height: $minTableHeight;
        border: 1px solid $kGrayscale6;
        position: relative;
		display: flex;
		flex-direction: column;
    }
    .kPlaylistsTable {
        border: none;
        position: relative;
		background-color: white;
		width: 100%;
		flex: 1 1 auto;
    }
	.kPlaylistsTableFooter {
		bottom: 0px;
		height: 34px;
		background-color: white;
		border-top: 1px solid $kGrayscale6;
		position: fixed;
		box-sizing: border-box;
		flex: 0 0 auto;
		padding: 0 14px 28px;
		display: block;
	}
	.kPaginatorShowRowsLabel {
		color: $kGrayscale1;
		position: absolute;
		top: 7px;
		right: 80px;
	}
	.kFiltersWrapper{
		display: block;
		height: 66px;
	}
	.kPlaylistsTableFilters {
		color: $kGrayscale1;
		z-index: 500;
		height: 66px;
		background-color: white;
		flex: 0 0 auto;
		align-items: center;
		margin-left: 0px;
		border-bottom: none;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		display: flex;
		.kSelectedPlaylistsNum{
			padding-left: 16px;
		}
	}
	.kRefreshBtn {
		font-size: 24px;
		border: none;
		min-width: inherit;
		margin-right: 8px;
		width: 40px;
		outline: 0px;
		color: $kGrayscale3;
		&:active{
			box-shadow: none;
			transform: rotate(45deg);
		}
		&:hover{
			background-color: #ffffff;
			color: $kPrimary;
		}
	}
	.kBulkOperations {
    display: flex;
    align-items: center;
	}
	.kSelectedPlaylistsLabel {
		font-weight: bold;
		margin-right: 36px;
		margin-left: 5px;
	}
	.kSearchInput {
		background: $kMagnifyingGlassBkg;
		margin-right: 8px;
		padding: 9px 4px 8px 38px;
		width: 260px;
	}
	.kTagContent {
		display: flex;
		align-items: center;
	}
	.kTagLabel {
		flex: 0 0 auto;
		user-select: none;
		cursor: default;
	}
	.kTagRemove {
		flex: 0 0 auto;
		margin-top: 2px;
		margin-left: 8px;
		padding: 5px;
		cursor: pointer;
		font-size: 10px;
		&:hover{
			background-color: rgba(255,255,255,0.3);
			border: 0 solid rgba(255,255,255,0.3);
			border-radius: 3px;
		}
	}
	.kAddPlaylistBtn {
		margin-left: 14px;
		height: 36px;
    border: none;
	}
	.kBulkCancel {
		margin-left: 26px;
	}
	.kBulkDeleteBtn {
		margin-right: 10px;
		width: 44px;
		font-size: 24px;
	}
	.kBulkActionsBtn {
		font-weight: 400;
		font-size: 15px;
	}
	.kFilters {
		display: flex;
		margin-left: auto;
	}
	.kHidden {
		visibility: hidden;
		width: 0px;
		height: 0px;
	}
	.kRefine {
		border: 1px solid $kGrayscale4;
		border-radius: 4px;
		display: flex;
		background-color: #ffffff;
		height: 32px;
		align-items: center;
		cursor: pointer;
		color: $kGrayscale1;
		position: relative;
		padding: 0 15px;
		margin-right: 8px;
		i {
			font-size: 20px;
			color: $kGrayscale4;
		}
		&:hover {
			color: $kPrimary;
			i{
				color: $kPrimary;
			}
			.dropdown {
				color: $kPrimary;
			}
		}
	}
}

:host{
	width: 100%;
}

:host /deep/ k-area-blocker>.kAreaBlockerContainer {
  z-index: 203;
}

:host /deep/ span.ui-button-icon-left.fa.kIcontrash{
	margin-left: -.5em;
}

:host /deep/ .ui-button-icon-only .fa{
	margin-left: -.5em;
}
:host /deep/ .kStickyClass{
	border-bottom: 1px solid $kGrayscale5;
}

:host /deep/ .kPlaylistsTableFooter {
  .ui-dropdown-panel {
    min-width: 70px;
  }
}
