<div class="kFlavorImport">
  <div class="kHeader">
    <span class="kTitle">{{'applications.content.entryDetails.flavours.update' | translate}} - {{currentFlavor?.name}}</span>
  </div>
  <div class="kContainer">
    <span>{{'applications.content.entryDetails.flavours.fileUrl' | translate}}</span>
    <input class="kFlavorUrl" placeholder="{{'applications.content.entryDetails.flavours.urlPlaceholder' | translate}}" type="text" [(ngModel)]="_flavorURL" (blur)="_validate()" (ngModelChange)="this._validationErrorMsg = ''" pInputText/>
    <span class="kInvalid">{{_validationErrorMsg}}</span>
  </div>
	<div class="kFooter">
		<button type="button" class="kButtonBranded" [disabled]="_flavorURL === '' || _validationErrorMsg.length" (click)="_saveAndClose()" pButton label="{{'applications.content.entryDetails.flavours.actions.import' | translate}}"></button>
	</div>
</div>
