@import 'app-theme/_variables.scss';

.kFlavorImport{
	.kHeader {
    height: 78px;
    width: 100%;
    text-align: center;
    padding-top: 32px;
    box-sizing: border-box;
    border-bottom: 1px solid $kGrayscale4;
    .kTitle {
      color: #333333;
      font-size: 16px;
      font-weight: 700;
    }
	}
  .kContainer{
    margin: 24px;
    height: 70px;
  }
  .kFooter{
    text-align: center;
    height: 66px;
    border-top: 1px solid $kGrayscale4;
    button{
      margin-top: 16px;
      height: 34px;
    }
  }
	.kFlavorUrl{
		margin-top: 6px;
		width: 100%;
	}
	.kInvalid{
		color: red;
		font-size: 12px;
		font-weight: 700;
	}
}

