<kSticky stickyId="header" [stickyClass]="'kStickyClass'">
    <div class="kMainMenuWrapper">
        <div #appmenu class="appMenu">

          <div class="k-logo"></div>

              <div *ngFor="let item of menuConfig">
                <a *ngIf="item.titleToken.length" [routerLinkActive]="['activeLink']" [routerLink]="['/'+item.routePath]" [class.disabled]="!item.enabled">{{'app.menu.'+item.titleToken | translate | uppercase}}</a>
              </div>

            <div class="kMenu-right">
                <kUploadButton></kUploadButton>
                <kUploadMonitor [appmenu]="appmenu"></kUploadMonitor>
                <i class="kIconuser" (click)="navigate('/administration')" [class.open]="selectedMenuItem?.routePath==='administration'" [kTooltip]="'app.menu.Administration' | translate" [placement]="'bottom'"></i>
                <i class="kIcongear" (click)="navigate('/settings')" [class.open]="selectedMenuItem?.routePath==='settings'" [kTooltip]="'app.menu.Settings' | translate" [placement]="'bottom'"></i>
                <i #help class="kIconhelp" [class.has-notification]="_showChangelog" [class.open]="_helpMenuOpened"></i>
                <div #username class="kUserName">
                    <span>{{_userContext.fullName}}</span>
                    <i class="kIcondropdown_arrow_bottom"></i>
                </div>
            </div>
        </div>
    </div>
</kSticky>


<div class="appSubMenu" *ngIf="selectedMenuItem && showSubMenu && selectedMenuItem.children">
  <div class="kContent kSubMenuHolder">
      <kKMCAppContentMenu class="kSubMenu"
                          position="left"
                          [menuItems]="selectedMenuItem.children"></kKMCAppContentMenu>
      <kKMCAppContentMenu class="kSubMenu"
                          position="right"
                          [menuItems]="selectedMenuItem.children"></kKMCAppContentMenu>
  </div>
</div>

<kPopupWidget #usersettings [appendTo]="appmenu" [popupWidth]="240" [popupHeight]="232" [closeBtn]="false" [targetRef]="username" [targetOffset]="{'x':-50, 'y': 30}" (onOpen)="username.className='kUserName open'" (onClose)="username.className='kUserName'">
    <kKMCUserSettings></kKMCUserSettings>
</kPopupWidget>

<kPopupWidget #helpmenu [showTooltip]="true" [appendTo]="appmenu" [popupWidth]="240" [closeBtn]="false" [targetRef]="help" [targetOffset]="{'x':-109, 'y': 35}" (onOpen)="help.className='kIconhelp open'" (onClose)="help.className='kIconhelp'">
    <div class="kHelpMenu">
        <p class="kHelpTitle">{{'app.helpMenu.gettingStarted' | translate | uppercase}}</p>
        <p class="kHelpLink">{{'app.helpMenu.kmcOverview' | translate}}</p>
        <p class="kHelpLink">{{'app.helpMenu.mediaManagement' | translate}}</p>
        <p class="kHelpLink">{{'app.helpMenu.productTour' | translate}}</p>
        <hr>
        <p class="kHelpTitle">{{'app.helpMenu.support' | translate | uppercase}}</p>
        <p class="kHelpLink">{{'app.helpMenu.userManual' | translate}}</p>
        <p class="kHelpLink">{{'app.helpMenu.contact' | translate}}</p>
        <hr>
        <kChangelog (onShowChangelog)="_showChangelog = $event"></kChangelog>
        <div class="kContexualHelp">
            <hr>
            <p class="kHelpTitle">{{'app.helpMenu.currentPage' | translate | uppercase}}</p>
            <p class="kHelpLink">Contextual link 1</p>
            <p class="kHelpLink">Contextual link 2</p>
        </div>
    </div>
</kPopupWidget>
