<div class="appMenu">

      <div class="k-logo"></div>

      <div *ngFor="let item of menuConfig">
        <a [routerLinkActive]="['activeLink']" [routerLink]="['/'+item.routePath]">{{'MENU.'+item.titleToken | translate}}</a>
      </div>
      <div>
        <a (click)="toggleUpload()" [class.uploadOpen]="uploadOpen" class="widgetLink">{{ 'MENU.upload' | translate }} &nbsp;&nbsp;{{uploadOpen ? '&#x25B2;' : '&#x25BC;'}}</a>
        <kmc-upload [uploadOpen]="uploadOpen"></kmc-upload>
      </div>

      <div style="display: flex; flex: 1 1 auto; justify-content: flex-end">
        <div>
          <kmc-user-settings></kmc-user-settings>
        </div>
        <div>
          <kmc-language-menu class="langMenu"></kmc-language-menu>
        </div>
      </div>

</div>

<div class="appSubMenu" style="display: flex" *ngIf="selectedMenuItem && showSubMenu && selectedMenuItem.children">


        <div *ngFor="let subitem of selectedMenuItem.children" class="subMenuContainer" [routerLinkActive]="['active']">
          <a [routerLinkActive]="['activeLink']" [routerLink]="['/'+subitem.routePath]">{{'MENU.'+subitem.titleToken | translate}}</a>
          <div class="linkMarker"></div>
        </div>


</div>

