@import '../../../styles/scss/_variables.scss';
@import '../../styles/scss/kmc-logo';

.appMenu{
  background-color: $menuBkgColor;
  display: flex;

  a {
    color: $mainLinkColor;
    outline: 0;
    cursor: pointer;
    line-height: $appMenuHeight;
    font-size: 14px;
    margin-right: 30px;
    letter-spacing: 0.5px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $mainLinkHoverColor;
    }
    &.activeLink {
      text-decoration: none;
      color: $mainLinkActiveColor;
    }
    &.uploadOpen{
      color: $mainLinkActiveColor;
    }
  }

  img{
    float: left;
    margin-top: 4px;
  }
  .widgetLink{
    color: $widgetLinkColor;
  }
  .langMenu{
    margin-right: 16px;
    margin-left: 10px;
    margin-top: 15px;
    float: right;
  }
}
.appSubMenu{
  background-color: white;
  border-bottom: 1px solid grey;
  a{
    color: $subLinkColor;
    line-height: $appMenuHeight;
    font-size: 14px;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-decoration: none;
    &.disabled {
      color: gray;
      cursor: not-allowed;
    }
    &:hover{
      text-decoration: none;
      color: $subLinkActiveColor;
    }
    &.activeLink{
      text-decoration: none;
      color: $subLinkActiveColor;
    }
  }
  .subMenuContainer{
    margin-right: 30px;
    position: relative;
    &.active{
      >.linkMarker {
        opacity: 1;
      }
    }
  }
  .linkMarker{
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: #D5D5D5;
    opacity: 0;
    bottom: 0px;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
  }
}
