@import "app-theme/_variables.scss";

.kTreeContainer {
  position: relative;
  width: 100%;
  height: 100%;
  .kHeader {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $kGrayscale4;
    height: 78px;
    padding-top: 24px;
    box-sizing: border-box;
    .kTitle {
      color: $kGrayscale1;
      font-size: 24px;
      font-weight: 700;
    }
  }
  .kContainer {
    font-size: 15px;
    width: 520px;
    margin: 0 auto;
    height: 537px;

    .kRow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 20px;

      &:first-child {
        padding-top: 20px;
      }

      .kExplanation{
        display: block;
        margin: 0 auto;
        font-size: 15px;
      }

      .kLabel {
        width: 200px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        height: 18px;
        color: $kGrayscale1;
        font-size: 15px;
        line-height: 18px;
      }

      .kRequired {
        width: 20px;
        font-size: 24px;
        color: $kGrayscale3;
        &.kHasError {
          color: $kDandger;
          font-weight: bold;
        }
      }
      .kRequired, .kLabel {
        padding: 8px 4px 0px 0px;
      }
      .kControl {
        height: 34px;
        color: $kGrayscale2;
        width: 291px;
        border-radius: 3px;
        &.kHasError {
          border: 1px solid $kDandger;
          background: initial;
        }
      }
      .error {
        padding-top: 8px;
      }
    }

    .kMain {
      border: 1px solid $kGrayscale4;
      border-radius: 4px;
      height: 311px;
      padding: 8px;
      box-sizing: border-box;
    }
  }
  .kFooter {
    border-top: 1px solid $kGrayscale4;
    padding-top: 15px;
    box-sizing: border-box;
    text-align: center;
    height: 66px;
    .kButtonBranded {
      height: 34px;
    }
    .kLink {
      padding-left: 24px;
      line-height: 34px;
    }
  }
}
