@import 'app-theme/_variables.scss';

.kUsers {
  font-size: 15px;
  background-color: $appBkgColor;
  height: $contentArea;
  padding-top: 30px;
  width: 100%;
  min-width: $minAppWidth;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0px;

  .kUsersWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .kUsersHolder {
    height: 100%;
    border: 1px solid $kGrayscale6;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .kAddUserBtn {
    width: 100px;
    height: 36px;
    border: none;
  }

  .kUsersHeader {
    color: $kGrayscale1;
  }

  .kUsersHead {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: white;
    border-bottom: none;
    padding: 18px 15px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .kUsersTitle {
    color: $kGrayscale1;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 14px;
  }

  .kUsersExplanatory,
  .kUsersStatus {
    font-size: 13px;
    color: #999;
  }

  .kUsersExplanatory {
    margin-bottom: 10px;
  }

  .kUsersStatus {
    margin-bottom: 25px;
  }

  .kUsersTable {
    border: none;
    position: relative;
    background-color: white;
    flex: 1 1 auto;
  }

  .kDivider {
    margin: 0 5px;
  }

  .kUsersNeedMore {
    background-color: #01ACCD;
    height: 24px;
    padding: 18px 28px;
    font-size: 20px;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 20px;

    .kClickHere {
      font-weight: bold;
      color: #fff;
      font-size: 19px;
    }
  }

  .kUserAmount {
    margin-left: 25px;
  }

  .kUsersTableFooter {
    width: 100%;
    height: 34px;
    background-color: white;
    border-top: 1px solid $kGrayscale6;
    position: relative;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 14px 28px;
    display: block;
  }

  .kPaginatorShowRowsLabel {
    color: $kGrayscale1;
    position: absolute;
    top: 7px;
    right: 80px;
  }
}

.kFloater{
  display: flex;
  flex-direction: column;

  .kHeader {
    height: 78px;
    width: 100%;
    text-align: center;
    padding-top: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid $kGrayscale4;
    flex: 0 0 auto;

    .kTitle {
      color: #333333;
      font-size: 24px;
      font-weight: 700;
    }
  }

  .kContainer{
    flex: 0 0 auto;
    margin: 20px;

    .kLabel{
      display: block;
      margin-bottom: 8px;
    }
  }

  /deep/ {

    .kRow {
      display: flex;
      padding-top: 16px;

      .kLabel {
        width: 150px;
        flex: 0 0 auto;
        word-wrap: break-word;
        padding-right: 12px;
      }

      input {
        width: 100%;
        height: 34px;
        background-color: #ebebeb;
        border: 1px solid white;
        color: #333333;
        box-sizing: border-box;
        border-radius: 3px;
        margin: 0;
        outline: medium none;
        padding: .25em;
        font-weight: normal;

        &:hover {
          border-color: #d9d9d9;
        }

        &:focus {
          background-color: white;
          border: 1px solid #cccccc;
          outline: 0 none;
          box-shadow: 0 0 5px #d9d9d9;
        }
      }

      .ng-invalid {
        border-bottom-color: #cd0a0a;
      }

      textarea {
        width: 100%;
        height: 76px;
      }

      .kControl, k-prime-control {
        width: 100%;
      }

      .extraMargin {
        margin-bottom: 8px;
      }
    }

    .rolesList {
      width: 100%!important;
    }
  }

  .kValign {
    align-items: center;
  }

  .hidden {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }

  .invalid {
    color: $kDandger;
    visibility: visible;
    padding-top: 5px;
  }

  /*********************/
  /* PrimeNG overrides */
  /*********************/

  .ui-inputtext.ng-invalid {
    border-bottom-color: #cd0a0a;
  }

  .kFooter{
    flex: 0 0 auto;
    height: 66px;
    border-top: 1px solid $kGrayscale4;
    display: flex;
    align-items: center;
    justify-content: center;

    button{
      height: 34px;
      margin-left: 8px;
    }
  }
}
