<k-area-blocker>
  <div class="kUsers kOverrideFAIcons">
    <div #usersTableHolder class="kUsersHolder kContent">
      <div class="kUsersHeader">
        <div class="kUsersTitle">{{'applications.content.users.usersTitle' | translate}}</div>
        <div class="kUsersExplanatory">{{'applications.content.users.usersExplanatory' | translate}}</div>
        <div class="kUsersStatus">
          {{usersStatus}} {{usersAvailable}} &nbsp;
          {{'applications.content.users.moreUsers' | translate}}
          <a (click)="upgradeAccount()">{{'applications.content.users.clickHere' | translate}}</a>
          {{'applications.content.users.usersUpgrade' | translate}}
        </div>
      </div>
      <kUsersTable class="kUsersTable"></kUsersTable>
      <div class="kUsersTableFooter" #footer *ngIf="(usersStore.users$ | async)?.totalCount">
        <p-paginator
          [rows]="_filter.pageSize"
          [first]="_filter.pageIndex * _filter.pageSize"
          [rowsPerPageOptions]="[25,50,75,100]"
          [totalRecords]="(usersStore.users$ | async)?.totalCount"
          (onPageChange)="onPaginationChanged($event)"></p-paginator>
        <span class="kPaginatorShowRowsLabel">{{'applications.content.paginator.showRows' | translate}}</span>
      </div>
    </div>
  </div>
</k-area-blocker>
