@import 'app-theme/_variables.scss';

.kUsers {
  font-size: 15px;
  background-color: $appBkgColor;
  height: $contentArea;
  padding-top: 30px;
  width: 100%;
  min-width: $minAppWidth;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0px;

  .kUsersHolder {
    height: 100%;
    border: 1px solid $kGrayscale6;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .kUsersHeader {
    color: $kGrayscale1;
    background-color: white;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 16px 16px 25px;
  }

  .kUsersTitle {
    color: $kGrayscale1;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .kUsersExplanatory {
    margin-bottom: 5px;
  }

  .kUsersTable {
    border: none;
    position: relative;
    background-color: white;
    flex: 1 1 auto;
  }

  .kUsersTableFooter {
    width: 100%;
    height: 34px;
    background-color: white;
    border-top: 1px solid $kGrayscale6;
    position: relative;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 14px 28px;
    display: block;
  }

  .kPaginatorShowRowsLabel {
    color: $kGrayscale1;
    position: absolute;
    top: 7px;
    right: 80px;
  }
}
