<div class="kAdvertisementsContainer">
  <div class="kHeader">
    <i class="kIconclose_small kClose" (click)="_close()"></i>
    <span class="kTitle">{{'applications.content.entryDetails.advertisements.title' | translate}}</span>
  </div>
  <div class="kKeditHoster">
    <kKeditHoster [tab]="'advertisements'"
                  [entryId]="entryId"
                  (enteredDraftMode)="_confirmClose = true"
                  (exitDraftMode)="_confirmClose = false"
    ></kKeditHoster>
  </div>
</div>
