<k-area-blocker [message]="_blockerMessage" [bodyScroll]="true">
  <div class="kRoles kOverrideFAIcons">
    <div #rolesTableHolder class="kRolesHolder kContent">
      <div class="kContent kFiltersWrapper">
        <kSticky stickyId="rolesFilters" [sticksTo]="'header'" [scrollOffset]="80">
          <div class="kRolesTableFilters kContent">
            <button pButton type="button" class="kButtonBranded kAddRoleBtn"
                    [label]="'applications.settings.authentication.newProfile' | translate"
                    (click)="_addProfile()"></button>
<!--            <span class="kSelectedRolesNum" *ngIf="(_rolesStore.roles.data$ | async)?.totalCount">-->
<!--              {{ 'applications.administration.roles.rolesNum' | translate:[(_rolesStore.roles.data$ | async)?.totalCount] }}-->
<!--            </span>-->
            <button pButton class="kButtonDefault kRefreshBtn small" (click)="_reload()" type="text" icon="kIconrefresh"
                    [kTooltip]="'applications.administration.roles.refresh' | translate"></button>
          </div>
        </kSticky>
      </div>
      <k-area-blocker [showLoader]="_tableIsBusy"
                      [message]="_tableBlockerMessage"
                      [bodyScroll]="true">
          <span>Profiles table</span>
<!--        <kRolesTable class="kRolesTable"-->
<!--                     [roles]="(_rolesStore.roles.data$ | async)?.items"-->
<!--                     (actionSelected)="_onActionSelected($event)">-->
<!--        </kRolesTable>-->
      </k-area-blocker>
<!--      <div class="kRolesTableFooter kContent" #footer *ngIf="(_rolesStore.roles.data$ | async)?.totalCount">-->
<!--        <p-paginator [rows]="_query.pageSize" (onPageChange)="_onPaginationChanged($event)"-->
<!--                     [first]="_query.pageIndex * _query.pageSize"-->
<!--                     [totalRecords]="(_rolesStore.roles.data$ | async)?.totalCount"-->
<!--                     [rowsPerPageOptions]="[25,50,75,100]"></p-paginator>-->
<!--        <span class="kPaginatorShowRowsLabel">{{'applications.administration.paginator.showRows' | translate}}</span>-->
<!--      </div>-->
    </div>
  </div>
  <kPopupWidget #editPopup data-aid="rolesEditPopup" [popupWidth]="995" [slider]="true">
    <ng-template>
        <span>Edit profile</span>
<!--      <kEditRole [role]="_currentEditRole"-->
<!--                 [parentPopupWidget]="editPopup"></kEditRole>-->
    </ng-template>
  </kPopupWidget>
</k-area-blocker>
