@import 'app-theme/_variables.scss';

.kTagsWrapper {
  z-index: 500;
}

.kProfiles {
  font-size: 15px;
  background-color: $appBkgColor;
  padding-top: 24px;
  width: 100%;
  min-width: $minAppWidth;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  .kProfilesHolder {
    height: 100%;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
  }
    .kAddProfileBtn {
        margin-left: 14px;
        height: 36px;
    }
  .kRefreshBtn {
    font-size: 24px;
    border: none;
    min-width: inherit;
    margin-right: 8px;
    width: 40px;
    outline: 0;
    color: $kGrayscale3;
    margin-left: auto;
    &:active {
      box-shadow: none;
      transform: rotate(45deg);
    }
    &:hover {
      background-color: #ffffff;
      color: $kPrimary;
    }
  }
  .kFiltersWrapper {
    display: block;
    height: 66px;
  }
  .kProfilesTableFilters {
    color: $kGrayscale1;
    border-bottom: 1px solid $kGrayscale5;
    z-index: 500;
    height: 66px;
    background-color: white;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    .kSelectedProfilesNum {
      padding-left: 16px;
    }
  }
    .kProfilesTable {
        background-color: white;
        height: auto;
        padding: 0px;
        width: 100%;
        min-height: calc(100vh - 230px);
        .status {
            display: flex;
            align-items: center;
            .bullet {
                width: 8px;
                height: 8px;
                border-radius: 4px;
                margin-right: 8px;
            }
        }
        .kProfileName {
            font-weight: bold;
            color: $kGrayscale1;
            cursor: pointer;
        }

        .kProfilesTableActions {
            width: 100%;
            text-align: center;
        }

        .emptymessage {
            display: table-row;
            border: 0;
            height: 200px;

            .kEmptyMessage {
                position: absolute;
                width: 100%;
                height: 200px;
                border-bottom: 1px solid $kGrayscale4;
            }
        }
    }
    .kProfilesTableFooter {
        bottom: 0px;
        height: 34px;
        background-color: white;
        border-top: 1px solid $kGrayscale6;
        position: fixed;
        box-sizing: border-box;
        flex: 0 0 auto;
        padding: 0 14px 28px;
        display: block;
    }
    .kPaginatorShowRowsLabel {
        color: $kGrayscale1;
        position: absolute;
        top: 7px;
        right: 80px;
    }
}

:host ::ng-deep .p-tieredmenu.p-menu {
  width: 250px;
  .ui-submenu-icon {
    font-size: 10px;
    margin-top: 3px;
  }
}

:host ::ng-deep .p-button-icon-only .pi {
  margin-left: -.5em;
}
