@import 'app-theme/_variables.scss';

.kTagsWrapper {
  z-index: 500;
}

.kAccounts {
  font-size: 15px;
  background-color: $appBkgColor;
  padding-top: 24px;
  width: 100%;
  min-width: $minAppWidth;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  .kAccountsHolder {
    height: 100%;
    min-height: $minTableHeight;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .kRefreshBtn {
    font-size: 24px;
    border: none;
    min-width: inherit;
    margin-right: 8px;
    width: 40px;
    outline: 0;
    color: $kGrayscale3;
    margin-left: auto;
    &:active {
      box-shadow: none;
      transform: rotate(45deg);
    }
    &:hover {
      background-color: #ffffff;
      color: $kPrimary;
    }
  }
  .kFiltersWrapper {
    display: block;
    height: 66px;
  }
  .kAccountsTableFilters {
    color: $kGrayscale1;
    border-bottom: 1px solid $kGrayscale5;
    z-index: 500;
    height: 66px;
    background-color: white;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    .kSelectedAccountsNum {
      padding-left: 16px;
    }
  }
  .kAccountsTableFooter {
    bottom: 0px;
    height: 34px;
    background-color: white;
    border-top: 1px solid $kGrayscale6;
    position: fixed;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 14px 28px;
    display: block;
  }
  .kAccountsTable {
    border: none;
    position: relative;
    background-color: white;
    flex: 1 1 auto;
    width: 100%;
  }
  .kPaginatorShowRowsLabel {
    color: $kGrayscale1;
    position: absolute;
    top: 7px;
    right: 80px;
  }
  .kAddAccountBtn {
    margin-left: 14px;
    height: 36px;
  }
}

:host /deep/ span.ui-button-icon-left.pi-kIcontrash {
  margin-left: -.5em;
}

:host /deep/ .ui-tree {
  width: 380px;
}

:host /deep/ .ui-button-icon-right.kIcondropdown_arrow_bottom {
  font-size: 10px;
  margin-right: 2px;
  pointer-events: none;
}

:host /deep/ .ui-tieredmenu.ui-menu {
  width: 250px;
  .ui-submenu-icon {
    font-size: 10px;
    margin-top: 3px;
  }
}

:host /deep/ .ui-button-icon-only .pi {
  margin-left: -.5em;
}

:host /deep/ .kRolesTableFooter {
  .ui-dropdown-panel {
    min-width: 70px;
  }
}
