<k-area-blocker [message]="_blockerMessage" [bodyScroll]="true">
  <div class="kAccounts kOverrideFAIcons">
    <div class="kAccountsHolder kContent">
      <div class="kContent kFiltersWrapper">
        <kSticky stickyId="accountsFilters" [sticksTo]="'header'" [scrollOffset]="80">
          <div class="kAccountsTableFilters kContent">
            <button pButton type="button" class="kButtonBranded kAddAccountBtn"
                    [label]="'applications.administration.accounts.addAccount' | translate"
                    (click)="_addAccount()"></button>
            <span class="kSelectedAccountsNum" *ngIf="(_accountsStore.accounts.data$ | async)?.totalCount">
              {{ 'applications.administration.accounts.accountsNum' | translate:[(_accountsStore.accounts.data$ | async)?.totalCount] }}
            </span>
            <button pButton class="kButtonDefault kRefreshBtn small" (click)="_reload()" type="text" icon="kIconrefresh"
                    [kTooltip]="'applications.administration.accounts.refresh' | translate"></button>
          </div>
        </kSticky>
      </div>
      <k-area-blocker [showLoader]="_tableIsBusy"
                      [message]="_tableBlockerMessage"
                      [bodyScroll]="true">
        <kAccountsTable class="kAccountsTable"
                     [accounts]="(_accountsStore.accounts.data$ | async)?.items"
                     (sortChanged)="_onSortChanged($event)"
                     (actionSelected)="_onActionSelected($event)">
        </kAccountsTable>
      </k-area-blocker>
      <div class="kAccountsTableFooter kContent" #footer *ngIf="(_accountsStore.accounts.data$ | async)?.totalCount">
        <p-paginator [rows]="_query.pageSize" (onPageChange)="_onPaginationChanged($event)"
                     [first]="_query.pageIndex * _query.pageSize"
                     [totalRecords]="(_accountsStore.accounts.data$ | async)?.totalCount"
                     [rowsPerPageOptions]="[25,50,75,100]"></p-paginator>
        <span class="kPaginatorShowRowsLabel">{{'applications.administration.paginator.showRows' | translate}}</span>
      </div>
    </div>
  </div>
  <kPopupWidget #newAccountPopup data-aid="newAccountPopup" [popupWidth]="995" [slider]="true">
    <ng-template>
      <!--kEditRole [role]="_currentEditRole"
                 [parentPopupWidget]="editPopup"></kEditRole-->
        <span>New Account</span>
    </ng-template>
  </kPopupWidget>
</k-area-blocker>
