@import 'app-theme/_variables.scss';

.kUploadMenu {
  color: #FFFFFF;

  a {
    color: #FFFFFF;
    text-decoration: none;
    &:hover:not(.disabled) {
      color: #FFFFFF;
    }
    &:active:not(.disabled) {
      color: #FFFFFF;
    }
  }

  .kUploadMenuListItem {
    height: 48px;
    margin-bottom: 33px;
    display: flex;
    align-items: center;

    &.last {
      margin-bottom: 48px;
    }

    i {
      font-size: 32px;
      text-align: center;
      line-height: 48px;
      width: 48px;
      height: 48px;
      background-color: $kPrimary;
      border-radius: 50%;

      &.kUploadMenuLiveStreamIcon {
        cursor: pointer;
        background-color: $kDandger;
      }

      &.kUploadMenuBulkUploadIcon {
        cursor: pointer;
        background-color: $kOrange;
      }

      &.kUploadMenuUploadIcon {
        cursor: pointer;
        background-color: $kSecondary;
      }
    }

    span {
      margin-left: 35px;

      a {
        font-size: 24px;
        font-weight: bold;
      }

      .kBulkUploadSamplesLink {
        margin-top: 8px;
        display: block;
        opacity: 0.6;
        font-size: 14px;
        font-weight: normal;
        text-decoration: underline;
        &.kDisabled{
            opacity: 0.2;
            cursor: default;
            pointer-events: none;
        }
      }
    }
  }

  .kPrepareEntryList {
    margin-left: 83px;

    .kPrepareEntryListTitle {
      font-size: 14px;
      text-transform: uppercase;
      opacity: 0.6;
    }

    .kPrepareEntryListItem {
      font-size: 16px;
      font-weight: bold;
      line-height: 19px;
    }
  }
}
