@import 'app-theme/_variables.scss';

.kAddEntryWrap {
  .kFloater{
    display: flex;
    flex-direction: column;

    .kHeader {
      height: 78px;
      width: 100%;
      padding: 0 24px;
      box-sizing: border-box;
      border-bottom: 1px solid $kGrayscale4;
      flex: 0 0 auto;
      display: flex;
      align-items: center;

      .kTitle {
        color: #333333;
        font-size: 15px;
        font-weight: 700;
      }

      .kButtons {
        display: flex;
        margin-left: auto;

        .kCancel {
          font-size: 15px;
          color: #333333;
          align-self: center;
          margin-right: 24px;
        }

        .kButtonDefault {
          font-weight: normal;
        }
      }
    }

    .kContainer{
      flex: 1 1 auto;
    }
  }
}

:host ::ng-deep .kLinkedEntrySelector {
  .kContent {
    width: 100%;
    margin: 0 !important;
  }

  .kEntries {
    padding-top: 0;
    min-width: 0;
  }

  div.kEntriesTable {
    height: calc(100vh - 223px);
    overflow-y: auto;

    &.kTagsVisible {
      height: calc(100vh - 264px);
    }
  }

  .kEntriesTableFooter {
    width: 994px;
  }
}
