@import '~kmcng-theme/scss/variables';

.kFlavours{
	padding-left: 12px;
	button{
		font-weight: 400;
		height: 32px;
	}
	.kTitle{
		color: $kGrayscale1;
		font-size: 20px;
		font-weight: 700;
	}
	.kRefreshBtn {
		float: right;
		font-size: 24px;
		border: none;
		min-width: inherit;
		outline: 0;
		color: $kGrayscale3;
		&:active{
			box-shadow: none;
		}
		&:hover{
			background-color: #ffffff;
			color: $kPrimary;
		}
	}
	.kTable{
		margin-top: 24px;
	}
}
:host /deep/ .ui-button-icon-right.ui-c.fa.fa-fw.kIcondropdown_arrow_bottom{
	font-size: 11px;
	padding-right: 4px;
}
