<k-area-blocker [showLoader]="_widgetService.showSectionLoader" [message]="_widgetService.sectionBlockerMessage" [bodyScroll]="true">
	<kFileDialog #fileDialog (onFileSelected)="_onFileSelected($event)" [filter]="_uploadFilter"></kFileDialog>
	<div class="kFlavours kOverrideFAIcons" #flavors>
		<p class="kTitle">{{'applications.content.entryDetails.flavours.flavours' | translate}}</p>
		<div class="kFlavorReplacement">
            <div class="kEntryStatus"
                 [class.kAddingEntry]="!_showActionsView && !((_widgetService.replacementData$ | async)?.tempEntryId && (_kmcPermissions.FEATURE_ENTRY_REPLACEMENT | kNgIfPermitted))"
                 *ngIf="!(_widgetService.replacementData$ | async)?.tempEntryId">
                <i class="{{_widgetService.entryStatusClassName}}"></i><span>{{_widgetService.entryStatus}}</span>
            </div>
            <kFlavorReplaceMediaBtn *ngIf="_showActionsView"
                                    [replaceButtonsLabel]="_replaceButtonsLabel"
                                    [flavors]="(_widgetService.flavors$ | async)"
                                    [entry]="_widgetService.data"></kFlavorReplaceMediaBtn>
            <kFlavorReplaceMediaStatus *ngIf="(_widgetService.replacementData$ | async)?.tempEntryId && (_kmcPermissions.FEATURE_ENTRY_REPLACEMENT | kNgIfPermitted)"
                                       [replaceButtonsLabel]="_replaceButtonsLabel"
                                       [currentEntryId]="_widgetService.currentEntryId"
                                       [replacementData]="_widgetService.replacementData$ | async"
                                       [entry]="_widgetService.data">
            </kFlavorReplaceMediaStatus>
			<button pButton class="kButtonDefault kRefreshBtn small" type="text" icon="kIconrefresh" (click)="_widgetService.refresh()"></button>
		</div>

		<div class="kTable">
			<p-dataTable [value]="_widgetService.selectedFlavors" scrollable="true" scrollHeight="100%">
				<p-column field="name" header="{{'applications.content.entryDetails.flavours.flavour' | translate}}" [style]="{'width':'144px', 'padding-left': '24px'}">
					<ng-template let-col let-flavor="rowData" pTemplate="body">
						<span class="kFlavorName" [class.kConvertedFlavor]="flavor.status === '2'">{{flavor.name}}</span>
					</ng-template>
				</p-column>
				<p-column field="id" [hidden]="_documentWidth < 1300" header="{{'applications.content.entryDetails.flavours.assetId' | translate}}" [style]="{'width':'100px'}">
				</p-column>
				<p-column field="format" header="{{'applications.content.entryDetails.flavours.format' | translate}}">
				</p-column>
				<p-column field="codec" header="{{'applications.content.entryDetails.flavours.codec' | translate}}">
				</p-column>
				<p-column field="bitrate" header="{{'applications.content.entryDetails.flavours.bitrate' | translate}}">
				</p-column>
				<p-column field="dimensions" header="{{'applications.content.entryDetails.flavours.dimensions' | translate}}">
				</p-column>
				<p-column field="size" header="{{'applications.content.entryDetails.flavours.size' | translate}}">
				</p-column>
				<p-column field="statusLabel" header="{{'applications.content.entryDetails.flavours.stat' | translate}}" [style]="{'width':'85px'}">
					<ng-template let-col let-flavor="rowData" pTemplate="body">
						<span [kTooltip]="flavor.statusTooltip" [class.kFlavorStatusError]="flavor.status === '-1'">{{flavor.statusLabel}}</span>
					</ng-template>
				</p-column>
				<p-column field="tags"
                  [hidden]="_documentWidth < 1400 || (_kmcPermissions.FEATURE_KMC_DRILLDOWN_TAGS_COLUMN | kHiddenIfNotPermitted)"
                  header="{{'applications.content.entryDetails.flavours.tags' | translate}}">
					<ng-template let-col let-flavor="rowData" pTemplate="body">
						<span>{{flavor.tags | tags}}</span>
					</ng-template>
				</p-column>
				<p-column *ngIf="_kmcPermissions.CONTENT_MANAGE_RECONVERT | kNgIfPermitted" [style]="{'width':'80px'}">
					<ng-template let-col let-flavor="rowData" pTemplate="body">
						<div *ngIf="_widgetService.showFlavorActions && flavor.status !== '1' && flavor.status !== '6' && flavor.status !== '7' && flavor.status !== '8' && flavor.status !== '0'" class="kFlavorsTableActions">
							<button type="button" class="kMoreActionsButton" pButton icon="kIconmore" (click)="openActionsMenu($event, flavor)"></button>
						</div>
						<div *ngIf="flavor.status === '1' || flavor.status === '6' || flavor.status === '7' || flavor.status === '8' || flavor.status === '0'" style="position: relative">
							<div class="k-spinner-background">
								<div class="k-spinner-animation"></div>
							</div>

						</div>
					</ng-template>
				</p-column>
			</p-dataTable>
			<p-menu #actionsmenu popup="popup" [model]="_actions" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
		</div>
	</div>

	<kPopupWidget #drmPopup [popupWidth]="550" [popupHeight]="440" [modal]="true">
		<kDRMDetails [currentFlavor]="_selectedFlavor"></kDRMDetails>
	</kPopupWidget>

	<kPopupWidget #previewPopup [popupWidth]="500" [modal]="true">
		<kFlavorPreview [currentFlavor]="_selectedFlavor" [parentPopupWidget]="previewPopup" [currentEntry]="_widgetService.data"></kFlavorPreview>
	</kPopupWidget>

	<kPopupWidget #importPopup [popupWidth]="500" [popupHeight]="260" [modal]="true">
		<kFlavorImport [currentFlavor]="_selectedFlavor" [parentPopupWidget]="importPopup"></kFlavorImport>
	</kPopupWidget>

    <kPopupWidget #linkPopup [popupWidth]="791" [popupHeight]="460" [modal]="true">
        <ng-template>
            <kFlavorLink [flavor]="_selectedFlavor"
                         [storageProfile]="_widgetService.storageProfile"
                         [conversionProfileAsset]="_widgetService.conversionProfileAsset"
                         [parentPopupWidget]="linkPopup"></kFlavorLink>
        </ng-template>
    </kPopupWidget>
</k-area-blocker>
