<kLoader [loading]="(_handler._flavors$ | async)?.loading" [loadingError]="(_handler._flavors$ | async)?.error" (onActionRequested)="_onLoadingAction($event)">
	<div class="kFlavours">
		<p class="kTitle">{{'applications.content.entryDetails.flavours.flavours' | translate}}</p>
		<button type="button" class="kButtonDefault" pButton icon="kIcondropdown_arrow_bottom" iconPos="right" label="{{'applications.content.entryDetails.flavours.replace' | translate}}"></button>
		<button pButton class="kButtonDefault kRefreshBtn small" type="text" icon="kIconrefresh" (click)="_handler._fetchFlavors()"></button>
		<div class="kTable">
			<p-dataTable [value]="(_handler._flavors$ | async)?.items" scrollable="true" scrollHeight="100%">
				<p-column header="{{'applications.content.entryDetails.flavours.flavour' | translate}}">
				</p-column>
				<p-column header="{{'applications.content.entryDetails.flavours.assetId' | translate}}">
				</p-column>
				<p-column header="{{'applications.content.entryDetails.flavours.format' | translate}}">
				</p-column>
				<p-column header="{{'applications.content.entryDetails.flavours.codec' | translate}}">
				</p-column>
				<p-column header="{{'applications.content.entryDetails.flavours.bitrate' | translate}}">
				</p-column>
				<p-column header="{{'applications.content.entryDetails.flavours.dimensions' | translate}}">
				</p-column>
				<p-column header="{{'applications.content.entryDetails.flavours.size' | translate}}">
				</p-column>
				<p-column header="{{'applications.content.entryDetails.flavours.status' | translate}}">
				</p-column>
				<p-column header="{{'applications.content.entryDetails.flavours.tags' | translate}}">
				</p-column>
				<p-column>
				</p-column>
			</p-dataTable>
		</div>
	</div>
</kLoader>
