@import 'app-theme/_variables.scss';


.kFlavours{
	padding-left: 12px;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	button{
		font-weight: 400;
		height: 32px;
	}
	.kTitle{
		color: $kGrayscale1;
		font-size: 20px;
		font-weight: 700;
	}
	.kEntryStatus{
		margin-top: 12px;
		margin-bottom: 24px;
		span{
			margin-left: 12px;
		}
		.kStatusNoContent{
			color: $kGrayscale1;
		}
		.kStatusReady{
			color: $kPrimary;
		}
		.kStatusError{
			color: $kDandger;
		}
		.kStatusErrorProcessing{
			color: $kGrayscale1;
		}
	}
	.kFlavorStatusError{
		color: $kDandger;
	}
	.kRefreshBtn {
		float: right;
		font-size: 24px;
		border: none;
		min-width: inherit;
		outline: 0;
		color: $kGrayscale3;
		&:active{
			box-shadow: none;
		}
		&:hover{
			background-color: #ffffff;
			color: $kPrimary;
		}
	}
	.kTable{
		margin-top: 14px;
		.kFlavorName{
			font-weight: bold;
		}
		.kConvertedFlavor{
			color: $kGrayscale1;
		}
	}
	.kTooltipHolder{
		position: relative;
	}
	.kFlavorsTableActions {
		width: 100%;
		text-align: center;
		button {
			color: grey !important;
			background-color: rgba(0, 0, 0, 0) !important;
			border: none !important;
			font-size: 16px !important;
			outline: 0;
		}
	}
}
:host /deep/ .ui-button-icon-right.ui-c.fa.fa-fw.kIcondropdown_arrow_bottom{
	font-size: 11px;
	padding-right: 4px;
}
