<k-area-blocker [showLoader]="_isBusy"
                [message]="_blockerMessage">
  <div class="kContainer">
    <div class="kTitle">
      <span>{{'applications.settings.integrationSettings.entitlement.title' | translate}}</span>
      <kInputHelper class="kHelp" trigger="click">
        <span>{{'applications.settings.integrationSettings.accountInfo.helpText' | translate}}</span>
        <a *ngIf="_manageHelpLinkExists" (click)="openLink()">{{'applications.settings.integrationSettings.accountInfo.readMore' | translate}}</a>
      </kInputHelper>
    </div>
    <div class="kExplanation">{{'applications.settings.integrationSettings.entitlement.explanation' | translate}}</div>
    <div class="kEntitlementReforcement">
      <div class="kApiDefault">{{'applications.settings.integrationSettings.entitlement.apiDefault' | translate}}</div>
      <div class="kEntitlementEnforcement">
        <span *ngIf="_partnerDefaultEntitlementEnforcement">
          {{'applications.settings.integrationSettings.entitlement.entitlementEnforcementEnabled' | translate}}
        </span>
        <span *ngIf="!_partnerDefaultEntitlementEnforcement">
          {{'applications.settings.integrationSettings.entitlement.entitlementEnforcementDisabled' | translate}}
        </span>
      </div>
    </div>
    <div class="kAddEntitlement">
            <button type="button" class="kButtonDefault" (click)="_addEntitlement()" pButton
                    [disabled]="_kmcPermissions.INTEGRATION_UPDATE_SETTINGS | kDisabledIfNotPermitted"
                  label="{{'applications.settings.integrationSettings.entitlement.addEntitlement.buttonText' | translate}}"></button>
    </div>
    <div class="kEntitlementsHolder">
      <kEntitlementsTable
        [entitlements]="_entitlements"
        (onActionSelected)="_onActionSelected($event)">
      </kEntitlementsTable>
    </div>
  </div>
</k-area-blocker>

<kPopupWidget #addNewEntitlement data-aid="addNewEntitlement" [popupWidth]="586" [popupHeight]="680" [modal]="true" [preventPageScroll]="true" [closeOnClickOutside]="false">
<ng-template>
  <kNewEntitlement (onApply)="_loadEntitlementSectionData()" [parentPopupWidget]="addNewEntitlement"></kNewEntitlement>
</ng-template>
</kPopupWidget>


<kPopupWidget #editEntitlementPopup data-aid="editEntitlement" [popupWidth]="586" [popupHeight]="323" [modal]="true" [preventPageScroll]="true">
  <ng-template>
    <kEditEntitlement (onEntitlementUpdated)="_loadEntitlementSectionData()"
                      [entitlement]="_currentEditEntitlement"
                      [ownerPopup]="editEntitlementPopup">
    </kEditEntitlement>
  </ng-template>
</kPopupWidget>
