<k-area-blocker [showLoader]="(_usersStore.users.state$ | async)?.loading || this._deferredLoading"
                [message]="_blockerMessage">
    <div class="kUsersTable" [class.noResults]="!_users?.length">
        <p-table kStickyHeader sticksTo="usersFilters" stickyClass="stickyHeader" stickyId="rolesTable"
                 dataKey="id"
                 [value]="_users"
                 [scrollable]="true"
                 [resizableColumns]="true"
                 scrollHeight="100%"
                 [rowTrackBy]="_rowTrackBy"
                 (onColResize)="_columnsResizeManager.onColumnResize($event)">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col data-cid="userName" [ngStyle]="{'width': '350px', 'padding-left': '1.5em'}">
                    <col data-cid="userId">
                    <col data-cid="email">
                    <col data-cid="role">
                    <col data-cid="status" [ngStyle]="{'padding-left': '14px', 'width': '100px'}">
                    <col data-cid="lastLogin">
                    <col [ngStyle]="{'overflow': 'hidden', 'width': '80px'}">
                </colgroup>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th data-cid="userName" pResizableColumn [ngStyle]="{'width': '350px', 'padding-left': '1.5em'}">
                        {{'applications.content.table.userName' | translate}}
                    </th>
                    <th data-cid="userId" pResizableColumn>
                        {{'applications.content.table.userId' | translate}}
                    </th>
                    <th data-cid="email" pResizableColumn>
                        {{'applications.content.table.emailAddress' | translate}}
                    </th>
                    <th data-cid="role" pResizableColumn>
                        {{'applications.content.table.role' | translate}}
                    </th>
                    <th data-cid="status" pResizableColumn [ngStyle]="{'padding-left': '14px', 'width': '100px'}">
                        {{'applications.content.table.status' | translate}}
                    </th>
                    <th data-cid="lastLogin">{{'applications.content.table.lastLogin' | translate}}</th>
                    <th [ngStyle]="{'overflow': 'hidden', 'width': '80px'}"></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-user>
                <tr>
                    <td class="ui-resizable-column" [ngStyle]="{'width': '350px', 'padding-left': '1.5em'}">
                        <span class="kTableColumn kFullName" [kTooltip]="user.roleName !== user.roleNames ? ('applications.administration.users.editDisabled' | translate) : user.fullName" [class.disabled]="user.roleName !== user.roleNames" [showOnEllipsis]="user.roleName === user.roleNames">
                            {{user.fullName}}
                        </span>
                        <i *ngIf="(user | accountOwner)" class="kIconuser kIconOwner"
                           [kTooltip]="user | accountOwner"></i>
                    </td>
                    <td class="ui-resizable-column">
                        <span class="kTableColumn" [kTooltip]="user.id" [showOnEllipsis]="true">{{user.id}}</span>
                    </td>
                    <td class="ui-resizable-column">
                        <span class="kTableColumn" [kTooltip]="user.email" [showOnEllipsis]="true">{{user.email}}</span>
                    </td>
                    <td class="ui-resizable-column">
                        <span class="kTableColumn" [kTooltip]="user.roleNames" [showOnEllipsis]="true">
                            {{user.roleNames}}
                        </span>
                    </td>
                    <td class="ui-resizable-column" [ngStyle]="{'padding-left': '14px', 'width': '100px'}">
                        <span class="kTableColumn" [kTooltip]="user.status | status" [showOnEllipsis]="true">
                            {{user.status | status}}
                        </span>
                    </td>
                    <td>
                        <span class="kTableColumn" [kTooltip]="(user.lastLoginTime * 1000)| kmcDate" [showOnEllipsis]="true">
                            {{(user.lastLoginTime * 1000)| kmcDate}}
                        </span>
                    </td>
                    <td [ngStyle]="{'overflow': 'hidden', 'width': '80px'}">
                        <div class="kUsersTableActions">
                            <button type="button" pButton icon="kIconmore" class="kMoreActionsButton"
                                    (click)="_openActionsMenu($event, user)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-menu #actionsmenu [popup]="true" [model]="_items" [appendTo]="'body'"></p-menu>
    </div>

</k-area-blocker>
