<k-area-blocker [showLoader]="(_usersStore.users.state$ | async)?.loading || this._deferredLoading"
                [message]="_blockerMessage">
  <div class="kUsersTable" [class.noResults]="!_users?.length">
    <p-dataTable
      [value]="_users"
      scrollable="true"
      scrollHeight="100%"
      dataKey="id"
      [rowTrackBy]="_rowTrackBy"
      kStickyHeader [sticksTo]="'usersFilters'" stickyClass="stickyHeader" [stickyId]="'rolesTable'">
      <p-column field="fullName" styleClass="kTableFullName"
                header="{{'applications.content.table.userName' | translate}}" [sortable]="false">
        <ng-template let-col let-user="rowData" pTemplate="body">
          <span class="kTableColumn kFullName" [kTooltip]="user[col.field]">{{user[col.field]}}</span>
          <i *ngIf="(user | accountOwner)" class="kIconuser kIconOwner" [kTooltip]="user | accountOwner"></i>
        </ng-template>
      </p-column>
      <p-column field="id" header="{{'applications.content.table.userId' | translate}}" [sortable]="false">
        <ng-template let-col let-user="rowData" pTemplate="body">
          <span class="kTableColumn" [kTooltip]="user[col.field]">{{user[col.field]}}</span>
        </ng-template>
      </p-column>
      <p-column field="email" header="{{'applications.content.table.emailAddress' | translate}}" [sortable]="false">
        <ng-template let-col let-user="rowData" pTemplate="body">
          <span class="kTableColumn" [kTooltip]="user[col.field]">{{user[col.field]}}</span>
        </ng-template>
      </p-column>
      <p-column field="roleIds" header="{{'applications.content.table.role' | translate}}" [sortable]="false">
        <ng-template let-col let-user="rowData" pTemplate="body">
          <span>{{user[col.field] | kRoleName:(_usersStore.users.data$ | async)?.roles.items}}</span>
        </ng-template>
      </p-column>
      <p-column field="status" styleClass="kTableStatus" header="{{'applications.content.table.status' | translate}}"
                [sortable]="false">
        <ng-template let-col let-user="rowData" pTemplate="body">
          <span class="kTableColumn">{{user[col.field] | status}}</span>
        </ng-template>
      </p-column>
      <p-column field="lastLoginTime" header="{{'applications.content.table.lastLogin' | translate}}"
                [sortable]="false">
        <ng-template let-col let-user="rowData" pTemplate="body">
          <span>{{(user[col.field] * 1000)| kDate}}</span>
        </ng-template>
      </p-column>
      <p-column header="" styleClass="kTableActions">
        <ng-template let-col let-user="rowData" pTemplate="body">
          <div class="kUsersTableActions">
            <button type="button" pButton icon="kIconmore" class="kMoreActionsButton" (click)="_openActionsMenu($event, user)"></button>
          </div>
        </ng-template>
      </p-column>
    </p-dataTable>
    <p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'"></p-menu>
  </div>

</k-area-blocker>
