<k-area-blocker [showLoader]="(_usersStore.users.state$ | async)?.loading || this._deferredLoading"
                [message]="_blockerMessage">
    <div class="kUsersTable" [class.noResults]="!_users?.length">
        <p-table kStickyHeader sticksTo="usersFilters" stickyClass="stickyHeader" stickyId="rolesTable"
                 dataKey="id"
                 [value]="_users"
                 [scrollable]="true"
                 [resizableColumns]="true"
                 scrollHeight="100%"
                 [rowTrackBy]="_rowTrackBy"
                 (onColResize)="_columnsResizeManager.onColumnResize($event)">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col [ngStyle]="{'width': _columnsConfig.userName, 'padding-left': '1.5em'}">
                    <col [ngStyle]="{'width': _columnsConfig.userId}">
                    <col [ngStyle]="{'width': _columnsConfig.email}">
                    <col [ngStyle]="{'width': _columnsConfig.role}">
                    <col [ngStyle]="{'padding-left': '14px', 'width': _columnsConfig.status}">
                    <col>
                    <col [ngStyle]="{'overflow': 'hidden', 'width': '80px'}">
                </colgroup>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th id="userName" pResizableColumn [ngStyle]="{'width': _columnsConfig.userName, 'padding-left': '1.5em'}">
                        {{'applications.content.table.userName' | translate}}
                    </th>
                    <th id="userId" pResizableColumn
                        [ngStyle]="{'width': _columnsConfig.userId}">
                        {{'applications.content.table.userId' | translate}}
                    </th>
                    <th id="email" pResizableColumn
                        [ngStyle]="{'width': _columnsConfig.email}">
                        {{'applications.content.table.emailAddress' | translate}}
                    </th>
                    <th id="role" pResizableColumn
                        [ngStyle]="{'width': _columnsConfig.role}">
                        {{'applications.content.table.role' | translate}}
                    </th>
                    <th id="status" pResizableColumn
                        [ngStyle]="{'padding-left': '14px', 'width': _columnsConfig.status}">
                        {{'applications.content.table.status' | translate}}
                    </th>
                    <th id="lastLogin">{{'applications.content.table.lastLogin' | translate}}</th>
                    <th [ngStyle]="{'overflow': 'hidden', 'width': '80px'}"></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-user>
                <tr>
                    <td class="ui-resizable-column" [ngStyle]="{'width': '350px', 'padding-left': '1.5em'}">
                        <span class="kTableColumn kFullName" [kTooltip]="user.fullName" [showOnEllipsis]="true">
                            {{user.fullName}}
                        </span>
                        <i *ngIf="(user | accountOwner)" class="kIconuser kIconOwner"
                           [kTooltip]="user | accountOwner"></i>
                    </td>
                    <td class="ui-resizable-column">
                        <span class="kTableColumn" [kTooltip]="user.id" [showOnEllipsis]="true">{{user.id}}</span>
                    </td>
                    <td class="ui-resizable-column">
                        <span class="kTableColumn" [kTooltip]="user.email" [showOnEllipsis]="true">{{user.email}}</span>
                    </td>
                    <td class="ui-resizable-column">
                        <span class="kTableColumn" [kTooltip]="user.roleName" [showOnEllipsis]="true">
                            {{user.roleName}}
                        </span>
                    </td>
                    <td class="ui-resizable-column" [ngStyle]="{'padding-left': '14px', 'width': '100px'}">
                        <span class="kTableColumn" [kTooltip]="user.status | status" [showOnEllipsis]="true">
                            {{user.status | status}}
                        </span>
                    </td>
                    <td>
                        <span class="kTableColumn" [kTooltip]="(user.lastLoginTime * 1000)| kDate" [showOnEllipsis]="true">
                            {{(user.lastLoginTime * 1000)| kDate}}
                        </span>
                    </td>
                    <td [ngStyle]="{'overflow': 'hidden', 'width': '80px'}">
                        <div class="kUsersTableActions">
                            <button type="button" pButton icon="kIconmore" class="kMoreActionsButton"
                                    (click)="_openActionsMenu($event, user)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'"></p-menu>
    </div>

</k-area-blocker>
