@import 'app-theme/_variables.scss';

.kUsersTable {
  background-color: white;
  overflow-y: hidden;
  position: absolute;
  padding: 0px;

  .kFullName {
    font-weight: bold;
    color: $kGrayscale1;
  }

  .kIconOwner {
    font-size: 25px;
    vertical-align: sub;
    margin-left: 12px;
  }

  .kUsersTableActions {
    width: 100%;
    text-align: center;
  }
}

:host {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  flex-direction: column;
}

:host /deep/ p-table .ui-table-scrollable-body {
  margin-bottom: 34px;
}

:host /deep/ p-table .stickyHeader {
  z-index: 10;
  display: table;
}

:host /deep/ p-table .ui-widget-header.ui-table-scrollable-header {
  border-top: none;
}

:host /deep/ p-table {
    .ui-table .ui-table-thead > tr > th {
        border-left: 1px solid $kGrayscale6;
    }
}
