<k-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage">
  <div class="kCategories kOverrideFAIcons">
    <div #categoriesTableHolder class="kCategoriesHolder kContent">
      <div class="kCategoriesTableFilters">
        <button pButton type="button" label="{{'applications.content.categories.addCategory' | translate}}" class="kButtonBranded kAddCategoryBtn"></button>
        <span class="kSelectedEntriesNum" *ngIf="_categories?.totalCount">
          {{_categories?.totalCount}} {{'applications.content.categories.categories' | translate}}
        </span>

         <div [class.kHidden]="!_selectedCategories.length" class="kBulkOperations">
          <span class="kSelectedEntriesLabel">• {{_selectedCategories.length}} {{'applications.content.categories.selected' | translate}}</span>
          <kCategoriesBulkActions [selectedCategories]="_selectedCategories"></kCategoriesBulkActions>
          <!-- <a class="kBulkCancel" (click)="clearSelection()">{{'applications.content.entries.cancel' | translate}}</a> -->
        </div> 
        <div [class.kHidden]="_selectedCategories.length" class="kFilters">
          <input type="text" pInputText class="kSearchInput" placeholder="{{'applications.content.categories.search' | translate}}">
          <div #categoriesFilterBtn class="kCategoriesFilter">
            <i class="kIconfolder"></i>
            <span>{{'applications.content.categories.filterCategories' | translate}}</span><i class="kIcondropdown_arrow_bottom dropdown"></i>
          </div>
          <div #refineBtn class="kRefine">
            <i class="kIconfilter"></i>
            <span>{{'applications.content.categories.refine' | translate}}</span>
            <i class="kIcondropdown_arrow_bottom dropdown"></i>
          </div>
        </div>
        <button pButton class="kButtonDefault kRefreshBtn small" type="text" icon="kIconrefresh" [kTooltip]="'applications.content.categories.refresh' | translate"></button>
      </div>
      <kCategoriesTable class="kCategoriesTable" [categories]="_categories?.items"></kCategoriesTable>

      <div class="kCategoriesTableFooter" #footer *ngIf="_categories?.totalCount">
        <p-paginator 
          [totalRecords]="_categories?.totalCount | kMaxCategories" [rowsPerPageOptions]="[25,50,75,100]"></p-paginator>
        <span class="kPaginatorShowRowsLabel">{{'applications.content.paginator.showRows' | translate}}</span>
      </div>
    </div>    
  </div>

</k-area-blocker>
