<k-area-blocker [showLoader]="_isBusy" [message]="_areaBlockerMessage">
    <div class="kUploadFromYoutube">
        <div class="kHeader">
            <h1>{{'applications.upload.uploadFromYoutube.uploadFromYoutube' | translate}}</h1>
        </div>
        <div class="kContent">
            <div class="kRow">
                <label for="source">{{'applications.upload.uploadFromYoutube.linkLabel' | translate}}</label>
                <input id="source" type="text"
                       pInputText
                       [placeholder]="'applications.upload.uploadFromYoutube.inputPlaceholder' | translate"
                       [(ngModel)]="_source">
            </div>

        </div>
        <div class="kFooter">
            <button class="kButtonDefault kUploadButton"
                    pButton
                    [label]="'applications.upload.uploadFromYoutube.cancel' | translate"
                    (click)="parentPopupWidget?.close()"></button>

            <button class="kButtonBranded kUploadButton"
                    pButton
                    [label]="'applications.upload.uploadFromYoutube.upload' | translate"
                    (click)="_upload()"></button>
        </div>
    </div>
</k-area-blocker>
