@import 'app-theme/_variables.scss';

.kLoginForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  line-height: 19px;

  h1 {
    margin: 0px 0px 40px 0px;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    text-align: center;
  }

  p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;
    color: $kGrayscale2;
    font-size: 15px;
    line-height: 21px;
  }

  .kErrorMessage {
    margin-top: -16px;
    margin-bottom: 40px;
    color: $kDandger;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
    .linkWrapper{
        width: 100%;
        margin-top: -16px;
        text-align: left;
        margin-bottom: 36px;
        display: flex;
        align-items: center;
        &.open {
            margin-bottom: 16px;
        }
        i {
            color: #006EFA;
            margin-right: 4px;
            transform: scale(0.7);
            cursor: pointer;
        }
        a {
            font-size: 16px;
            text-decoration: none;
            color: #006EFA;
            cursor: pointer;
        }
        margin-top: -24px;
    }


  div {
    width: 100%;
    align-self: center;
    text-align: center;

    input {
      width: 100%;
      height: 48px;
      padding: 14px 16px;
      margin-bottom: 40px;
      color: $kGrayscale3;
      font-size: 16px;
      border-radius: 4px;

      &:placeholder-shown {
        background-color: $kGrayscale6;
      }

      &.has-error {
        border: 2px solid $kDandger;
      }

      &.has-success:focus {
        border: 2px solid $kPrimary;
      }
    }
  }

  .kButtonDefault {
    width: 160px;
    height: 48px;
    border-radius: 4px;
    background-color: $kPrimary;
    color: white;
    font-weight: normal;
    font-size: 16px;
  }

    .kControlLinks {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
}
:host ::ng-deep .kLoginForm a {
  color: $kGrayscale2;
}

:host ::ng-deep p-checkbox {
    .ui-chkbox-label {
        font-size: 16px;
        font-weight: normal;
        line-height: 19px;
        color: $kGrayscale2;
        margin-left: 10px;
    }

    .ui-chkbox .ui-chkbox-box {
        width: 18px;
        height: 18px;
    }
}
