<form class="kLoginForm"
      [formGroup]="_ssoForm"
      (submit)="_ssoLogin($event)">
    <h1>{{ 'app.login.login.title' | translate}}</h1>

    <span class="label">{{'applications.settings.myUserSettings.email' | translate}}</span>

    <input pInputText autocomplete="off" [formControl]="_emailField"
           [ngClass]="{
               'has-error': (errorMessage && !missingOrgId) || _emailValidationMessage,
               'has-success': _emailField.valid && _emailField.touched
             }"
           [kTooltip]="_emailValidationMessage | translate"
           placement="right">


    <span class="label">{{'applications.settings.authentication.addOrganizationId' | translate}}</span>
    <input pInputText autocomplete="off" [formControl]="_organizationField"  [ngClass]="{'has-error': missingOrgId}">

    <div class="providerWrapper" *ngIf="_profiles.length">
        <span class="label">{{'applications.settings.authentication.selectProfile' | translate}}</span>
        <p-dropdown class="kControl" [formControl]="_profileField" appendTo="body" [options]="_profiles"></p-dropdown>
    </div>

    <p *ngIf="errorMessage" class="kErrorMessage" [innerHTML]="errorMessage"></p>

    <div class="kControlLinks">
        <p-checkbox [formControl]="_rememberMeField"
                    [binary]="true"
                    [label]="'app.login.rememberMe' | translate"></p-checkbox>
    </div>

    <div class="buttonHolder">
        <button class="kButtonDefault"
                pButton
                [label]="_resetBtnText | translate"
                [disabled]="inProgress"></button>
    </div>


</form>
