@import 'app-theme/_variables.scss';

.kMetadataWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 1 auto;
}

.kMetadataDetails {
  padding: 26px 20px 20px 20px;
  width: 100%;
  position: relative;

  .kSchemaTitle {
    color: $kGrayscale1;
    font-size: 18px;
    font-weight: bold;
  }

  ::ng-deep {

    .kRow {
      display: flex;
      padding-top: 22px;

      .kLabel {
        width: 196px;
        flex: 0 0 auto;
        word-wrap: break-word;
        padding-right: 12px;
      }

      input {
        width: 100%;
        max-width: 500px;
      }

      textarea {
        width: 100%;
        max-width: 500px;
        height: 76px;
      }

        kmultiselect{
            max-width: 500px;
            display: block;
        }

      .kControl, k-prime-control {
        width: 100%;
      }
    }
  }

  .kValign {
    align-items: center;
  }

  .extraPadding {
    padding-bottom: 21px;
  }

}

:host ::ng-deep {
  .kControl, k-prime-control {
    width:100%;
    max-width: 500px;
    .kHasError {
      border: 1px solid $kDandger;
      background: initial;
    }
  }
}

:host ::ng-deep kautocomplete ul{
    width: 100% !important;
}
:host ::ng-deep .kHighlightedText {
    text-decoration: underline;
}
