@import 'app-theme/_variables.scss';

.kMetadataDetails {
  padding-left: 12px;
  padding-right: 130px;
  padding-top: 18px;
  overflow-y: auto;
  width: 100%;

  .kSchemaTitle {
    color: $kGrayscale1;
    font-size: 18px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 12px;
  }

  /deep/ {

    .kRow {
      display: flex;
      padding-top: 16px;

      .kLabel {
        width: 150px;
        flex: 0 0 auto;
        word-wrap: break-word;
        padding-right: 12px;
      }

      input {
        width: 100%;
        height: 34px;
      }

      textarea {
        width: 100%;
        height: 76px;
      }

      .kControl, k-prime-control {
        width: 100%;
      }
    }
  }

  .kValign {
    align-items: center;
  }

  /*********************/
  /* PrimeNG overrides */
  /*********************/

  .ui-inputtext.ng-invalid {
    border-bottom-color: #cd0a0a;
  }

  textarea.threeRows {
    background: $kGrayscale6;
    border-radius: 3px;
    border: 1px solid white;
    resize: none;
    box-sizing: border-box;

    &:hover {
      border-color: #d9d9d9;
    }

    &:focus {
      border-color: #d9d9d9;
      background: white;
    }
  }
}

:host /deep/ kautocomplete input{
  height: auto !important;
  width: 100%;
}

:host /deep/ .ui-autocomplete {
  width: 100%;
}
