<k-area-blocker [showLoader]="(rolesService.state$ | async)?.loading || this._deferredLoading"
                [message]="_blockerMessage" [centerOnScreen]="true">
  <div class="kRolesTable" [class.noResults]="!_roles.length">
    <p-dataTable #dataTable [value]="_roles"
                 scrollable="true" scrollHeight="100%" dataKey="id" [rowTrackBy]="rowTrackBy"
                 [(selection)]="selectedRoles" emptyMessage="{{_emptyMessage}}"
                 kStickyHeader [sticksTo]="'rolesFilters'" stickyClass="stickyHeader" [stickyId]="'rolesTable'">>
      <p-column [style]="{'padding-left': '14px','width':'130px'}" field="name" header="{{'applications.administration.roles.tableColumns.role' | translate}}" [sortable]="false">
        <ng-template let-col let-role="rowData" pTemplate="body">
          <span>
            {{role[col.field]}}</span>
        </ng-template>
      </p-column>
      <p-column field="description" header="{{'applications.administration.roles.tableColumns.description' | translate}}" [sortable]="false" [style]="{'width':'250px'}"></p-column>
      <p-column field="updatedAt" header="{{'applications.administration.roles.tableColumns.saveDate' | translate}}"  [sortable]="false" [style]="{'width':'60px'}">
        <ng-template let-col let-role="rowData" pTemplate="body">
          <span>{{role[col.field] | kDate}}</span>
        </ng-template>
      </p-column>
      <p-column header="" [style]="{'overflow':'visible', 'width':'80px'}" [sortable]="false">
        <ng-template let-col let-role="rowData" pTemplate="body">
          <div class="kRolesTableActions">
            <button type="button" pButton icon="kIconmore" [disabled]="role.partnerId === 0" (click)="openActionsMenu($event, role)"></button>
          </div>
        </ng-template>
      </p-column>
    </p-dataTable>
    <p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'"></p-menu>
  </div>
</k-area-blocker>
