@import 'app-theme/_variables.scss';

.kRolesTable {
  background-color: white;
  height: auto;
  padding: 0px;
  width:100%;
  .kRolesTableActions {
    width: 100%;
    text-align: center;
    button {
      color: grey !important;
      background-color: rgba(0, 0, 0, 0) !important;
      border: none !important;
      font-size: 16px !important;
      outline: 0;
    }
  }
}

:host{
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  flex-direction: column;
}

:host /deep/ p-datatable .ui-datatable-scrollable-body{
  margin-bottom: 34px;
}
:host /deep/ p-datatable .stickyHeader{
  z-index: 10;
  display: table;
}