@import 'app-theme/_variables.scss';

.kRolesTable {
  background-color: white;
  height: auto;
  padding: 0px;
  width: 100%;
  .kRoleName {
    font-weight: bold;
    color: $kGrayscale1;
  }

  .kRolesTableActions {
    width: 100%;
    text-align: center;
  }
}

:host {
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  flex-direction: column;
}
:host /deep/ .ui-datatable .kTableFullName {
  width: 130px;
  padding-left: 1.5em;
}
:host /deep/ p-datatable .ui-datatable-scrollable-body {
  margin-bottom: 34px;
}

:host /deep/ p-datatable .stickyHeader {
  z-index: 10;
  display: table;
}
