@import 'app-theme/_variables.scss';
.criteria {
    width: 100%;
    max-width: 760px;
    padding: 0px 16px 24px 16px;
    margin-top: 24px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid $kGrayscale4;
    .kWrapRaw {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
    .kRow {
        display: flex;
        margin-top: 24px;
        &.kCenter {
            align-items: center;
        }
        .kLabel {
            line-height: 24px;
            width: 180px;
            flex: 0 0 auto;
            &.topGap {
                margin-top: 7px;
            }
        }
        .kFormLabel {
            line-height: 24px;
            margin-right: 8px;
            margin-left: 8px;
            flex: 0 0 auto;
        }
        .kLabelWithHelpTip {
            line-height: 24px;
            margin-right: 4px;
        }
        .kText {
            line-height: 24px;
        }
        .kLeft {
            margin-left: 8px;
        }
        .kInput {
            width: 60px;
            margin-left: 8px;
            ::ng-deep input {
                width: 60px;
            }
        }
        kinputhelper {
            padding-top: 4px;
        }
        kautocomplete ::ng-deep input {
            width: 200px;
        }
    }
    .kDelete {
        color: $kDandger;
        cursor: pointer;
        font-weight: 700;
        margin-left: 180px;
        margin-top: 24px;
        display: block;
        display: inline-block;
    }
    .kCol {
        display: flex;
        flex-direction: column;
        a {
            margin-top: 16px;
        }
    }
    .kRadio {
        &:last-child {
            margin-left: 24px;
        }
        ::ng-deep .p-radiobutton-label {
            font-weight: normal;
        }
    }
    .slider {
        margin-left: 187px;
        margin-top: 24px;
        margin-right: 24px;
        display: block;
    }
    .sliderValue{
        margin-left: 340px;
        margin-top: 12px;
        display: block;
    }
}
@media screen and (max-width: 1310px) {
    .criteria .wrapDropdown {
        margin-top: 8px;
    }
}
