<k-area-blocker [message]="_blockerMessage" [showLoader]="_isLoading">
  <div *ngIf="!_dataLoaded" class="kTranscodingProfilesListsHolderFiller">

  </div>
  <div *ngIf="_dataLoaded" class="kTranscodingProfilesListsHolderWrapper">

    <div class="kTranscodingProfilesListsHolder kContent">
      <k-transcoding-profiles-list [storeFor]="_kalturaConversionProfileType.media"
                                   [title]="'applications.settings.transcoding.transcodingProfiles'| translate"
                                   (setParentBlockerMessage)="_setBlockerMessage($event)">
      </k-transcoding-profiles-list>
    </div>

    <div class="kTranscodingProfilesListsHolder kContent">
      <k-transcoding-profiles-list [storeFor]="_kalturaConversionProfileType.liveStream"
                                   [title]="'applications.settings.transcoding.liveTranscodingProfiles'| translate"
                                   (setParentBlockerMessage)="_setBlockerMessage($event)">
      </k-transcoding-profiles-list>
    </div>
  </div>
</k-area-blocker>
