<div class="actionsContainer" [class.kHidden]="selectedTab === 'notifications'">
    <span class="kTitle">{{'applications.settings.mr.actions.title' | translate}}</span>
    <button class="kButtonDefault kActionsBtn" icon="kIcondropdown_arrow_bottom" iconPos="right" pButton label="{{'applications.settings.mr.actions.add' | translate}}" (click)="buildMenu(); menu.toggle($event)"></button>
    <p-tieredMenu #menu kMenuCloseOnScroll [model]="items" [popup]="true" [styleClass]="menu" class="kOverrideFAIcons" [appendTo]="'body'"
                  [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" ></p-tieredMenu>

    <div *ngFor="let action of actions">
<!--        <ng-container [ngSwitch]="true">-->
<!--            <kCriteriaCreated *ngSwitchCase="field === 'created'" [filter]="_filter" (onDelete)="deleteCriteria($event)" (onFilterChange)="onCriteriaChange($event)"></kCriteriaCreated>-->
<!--            <kCriteriaPlayed *ngSwitchCase="field === 'played'" [filter]="_filter" (onDelete)="deleteCriteria($event)" (onFilterChange)="onCriteriaChange($event)"></kCriteriaPlayed>-->
<!--            <kCriteriaDuration *ngSwitchCase="field === 'duration'" [filter]="_filter" (onDelete)="deleteCriteria($event)" (onFilterChange)="onCriteriaChange($event)"></kCriteriaDuration>-->
<!--            <kCriteriaPlays *ngSwitchCase="field === 'plays'" [filter]="_filter" (onDelete)="deleteCriteria($event)" (onFilterChange)="onCriteriaChange($event)"></kCriteriaPlays>-->
<!--            <kCriteriaCategories *ngSwitchCase="field === 'categories'" [filter]="_filter" (onDelete)="deleteCriteria($event)" (onFilterChange)="onCriteriaChange($event)"></kCriteriaCategories>-->
<!--            <kCriteriaTags *ngSwitchCase="field === 'tags'" [filter]="_filter" (onDelete)="deleteCriteria($event)" (onFilterChange)="onCriteriaChange($event)"></kCriteriaTags>-->
<!--            <kCriteriaOwner *ngSwitchCase="field === 'owner'" [filter]="_filter" (onDelete)="deleteCriteria($event)" (onFilterChange)="onCriteriaChange($event)"></kCriteriaOwner>-->
<!--        </ng-container>-->
    </div>
</div>
