<div class="actionsContainer" [class.kHidden]="selectedTab === 'notifications'">
    <span class="kTitle">{{'applications.settings.mr.actions.title' | translate}}</span>
    <div class="kInfo" *ngIf="_showMessage">
        <i class="kIconwarning"></i>
        <span>{{'applications.settings.mr.actions.informationMessage' | translate}}</span>
    </div>
    <button class="kButtonDefault kActionsBtn" icon="kIcondropdown_arrow_bottom" iconPos="right" pButton label="{{'applications.settings.mr.actions.add' | translate}}" (click)="buildMenu(); menu.toggle($event)"></button>
    <p-tieredMenu #menu kMenuCloseOnScroll [model]="items" [popup]="true" [styleClass]="menu" class="kOverrideFAIcons" [appendTo]="'body'"
                  [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" ></p-tieredMenu>

    <div *ngFor="let action of actions">
        <ng-container [ngSwitch]="true">
            <kActionFlavours *ngSwitchCase="action.type === 'flavours'" [action]="action" [profileId]="profileId" (onActionChange)="onActionChange($event)"></kActionFlavours>
            <kActionCategory *ngSwitchCase="action.type === 'addCategory' || action.type === 'removeCategory'" [type]="action.type" [ruleAction]="action" [profileId]="profileId" (onActionChange)="onActionChange($event)"></kActionCategory>
            <kActionOwner *ngSwitchCase="action.type === 'owner'" [ruleAction]="action" [profileId]="profileId" (onActionChange)="onActionChange($event)"></kActionOwner>
            <kActionDelete *ngSwitchCase="action.type === 'delete'" [ruleAction]="action" [profileId]="profileId" (onActionChange)="onActionChange($event)"></kActionDelete>
            <kActionTags *ngSwitchCase="action.type === 'addTags' || action.type === 'removeTags'" [type]="action.type" [ruleAction]="action" [profileId]="profileId" (onActionChange)="onActionChange($event)"></kActionTags>
        </ng-container>
    </div>
</div>

<div class="actionsContainer" [class.kHidden]="selectedTab !== 'notifications'">
    <kActionNotification #notifications *ngFor="let type of _notificationTypes" [type]="type" [ruleAction]="_notifications[type]" [profileId]="profileId" (onActionChange)="onActionChange($event)"></kActionNotification>
</div>
