<k-area-blocker [showLoader]="isBusy" [message]="_blockerMessage">
  <div class="kBulkLog kOverrideFAIcons">
    <div #entriesTableHolder class="kBulkLogHolder kContent">
      <div class="kBulkLogTableFilters">
        <span class="kSelectedEntriesNum" *ngIf="false">{{0}} {{'applications.content.entries.entries' | translate}}</span>

        <div [class.kHidden]="!selectedBulkLogItems.length" class="kBulkOperations">
          <span class="kSelectedEntriesLabel">• {{selectedBulkLogItems.length}} {{'applications.content.entries.selected' | translate}}</span>
          <ng-content select=".bulk-actions"></ng-content>

          <a class="kBulkCancel" (click)="clearSelection()">{{'applications.content.entries.cancel' | translate}}</a>
        </div>
        <div [class.kHidden]="selectedBulkLogItems.length" class="kFilters">
          <div #refineBtn class="kRefine">
            <i class="kIconfilter"></i>
            <span>{{'applications.content.entries.refine' | translate}}</span>
            <i class="kIcondropdown_arrow_bottom dropdown"></i>
          </div>
        </div>
        <button pButton
                class="kButtonDefault kRefreshBtn small"
                type="text"
                icon="kIconrefresh"
                [kTooltip]="'applications.content.entries.refresh' | translate"
                (click)="_reload()"></button>
      </div>
      <kTags [title]="'applications.content.filters.activeFilters' | translate"
             [data]="[]"
             [labelField]="'label'"
             [tooltipField]="'tooltip'"
             (onTagRemove)="removeTag($event)"
             (onRemoveAll)="removeAllTags()">
        <ng-template let-item="item">
          <div class="kTagContent" [kTooltip]="item.tooltip?.token | translate : item.tooltip?.args">
            <span class="kTagLabel">{{item.label}}</span>
            <i *ngIf="item.showRemove" class="kTagRemove kIconclose_small" (click)="removeTag(item.data)"></i>
          </div>
        </ng-template>
      </kTags>
      <kBulkLogTable class="kBulkLogTable"
                     [list]="(_store.bulkLog$ | async)?.items"
                     [filter]="_filter"
                     (actionSelected)="onActionSelected($event)"
                     [(selectedBulkLogItems)]="selectedBulkLogItems"
      ></kBulkLogTable>

      <div class="kBulkLogTableFooter" #footer *ngIf="0">
        <p-paginator
          [rows]="_filter.pageSize"
          [first]="_filter.pageIndex * _filter.pageSize"
          [totalRecords]="0 | kMaxEntries"
          [rowsPerPageOptions]="[25,50,75,100]"
          (onPageChange)="onPaginationChanged($event)"></p-paginator>
        <span class="kPaginatorShowRowsLabel">{{'applications.content.paginator.showRows' | translate}}</span>
      </div>
    </div>
  </div>
</k-area-blocker>

<kPopupWidget #refinePopup
              [appendTo]="entriesTableHolder"
              [popupWidth]="400"
              [popupHeight]="500"
              [closeBtn]="false"
              [targetRef]="refineBtn"
              [targetOffset]="{'x':-200, 'y': -20}">
  <ng-template>
    <!--<k-entries-refine-filters [parentPopupWidget]="refinePopup"></k-entries-refine-filters>-->
  </ng-template>
</kPopupWidget>
