<k-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage" [bodyScroll]="true">
  <div class="kBulkLog kOverrideFAIcons">
    <div #entriesTableHolder class="kBulkLogHolder kContent">
      <kSticky [stickyClass]="'kStickyClass'" stickyId="bulklogFilters" [scrollOffset]="80" [sticksTo]="'header'">
        <div class="kBulkLogTableFilters kContent">
          <span class="kSelectedEntriesNum" *ngIf="(_store.bulkLog.data$ | async)?.totalCount">
            {{(_store.bulkLog.data$ | async)?.totalCount}} {{'applications.content.bulkUpload.table.header' | translate}}
          </span>

          <div [class.kHidden]="!selectedBulkLogItems.length" class="kBulkOperations">
            <span class="kSelectedEntriesLabel">
              • {{selectedBulkLogItems.length}} {{'applications.content.bulkUpload.list.selected' | translate}}
            </span>
            <button pButton icon="kIcontrash" class="kButtonDanger kBulkDeleteBtn"
                    [disabled]="_kmcPermissions.BULK_LOG_DELETE | kDisabledIfNotPermitted"
                    (click)="_deleteFiles()"></button>

            <a class="kBulkCancel" (click)="_clearSelection()">
              {{'applications.content.bulkUpload.list.cancel' | translate}}
            </a>
          </div>
          <div [class.kHidden]="selectedBulkLogItems.length" class="kFilters">
            <div #refineBtn class="kRefine">
              <i class="kIconfilter"></i>
              <span>{{'applications.content.bulkUpload.list.refine' | translate}}</span>
              <i class="kIcondropdown_arrow_bottom dropdown"></i>
            </div>
          </div>
          <button pButton
                  class="kButtonDefault kRefreshBtn small"
                  type="text"
                  icon="kIconrefresh"
                  [kTooltip]="'applications.content.bulkUpload.list.refresh' | translate"
                  (click)="_reload()"></button>
        </div>
      </kSticky>
      <kSticky #tags [stickyClass]="'kStickyClass'" stickyId="bulklogTags" [sticksTo]="'bulklogFilters'">
        <div class="kContent">
          <k-bulk-log-tags   [refineFilters]="_refineFilters"
                             (onTagsChange)="_onTagsChange()"></k-bulk-log-tags>
        </div>
      </kSticky>

      <k-area-blocker [showLoader]="_tableIsBusy"
                      [message]="_tableBlockerMessage"
                      [bodyScroll]="true">
      <kBulkLogTable class="kBulkLogTable"
                     [list]="(_store.bulkLog.data$ | async)?.items"
                     [filter]="_query"
                     (actionSelected)="_onActionSelected($event)"
                     [(selectedBulkLogItems)]="selectedBulkLogItems"
      ></kBulkLogTable>
      </k-area-blocker>

      <div class="kBulkLogTableFooter kContent" #footer *ngIf="(_store.bulkLog.data$ | async)?.totalCount">
        <p-paginator
          [rows]="_query.pageSize"
          [first]="_query.pageIndex * _query.pageSize"
          [totalRecords]="(_store.bulkLog.data$ | async)?.totalCount"
          [rowsPerPageOptions]="[25,50,100,250]"
          (onPageChange)="_onPaginationChanged($event)"></p-paginator>
        <span class="kPaginatorShowRowsLabel">{{'applications.content.paginator.showRows' | translate}}</span>
      </div>
    </div>
  </div>
</k-area-blocker>

<kPopupWidget #refinePopup
              data-aid="bulkLogRefinePopup"
              placement="top"
              [popupWidth]="400"
              [popupHeight]="500"
              [closeBtn]="false"
              [targetRef]="refineBtn"
              [targetOffset]="{'x':-236, 'y': -15}"
              kSticky [sticksTo]="'header'" [stickyClass]="'kForceFix'" [stickyId]="'bulklogFilterPopup'"
              [scrollOffset]="80">
  <ng-template>
    <k-bulk-log-refine-filters   [refineFilters]="_refineFilters"
                                 [parentPopupWidget]="refinePopup"></k-bulk-log-refine-filters>
  </ng-template>
</kPopupWidget>


