<div class="kChangeAccountWin" #changeAccount>
	<form [formGroup]="changeAccountForm" novalidate>
    <div class="kHeader">
      <span class="kTitle">{{ 'app.changeAccount.title'| translate}}</span>
    </div>

    <div class="kContainer">
      <div class="kRow">
        <span class="kLabel">{{'app.changeAccount.choose'| translate}}</span>
      </div>
      <div class="kRow">
        <p-radioButton name="account" value="upload" formControlName="account" label="{{'applications.content.entryDetails.captions.upload' | translate}}"></p-radioButton>
      </div>
      <div class="kRow">
        <p-radioButton name="account" value="fromUrl" formControlName="account" label="{{'applications.content.entryDetails.captions.fromUrl' | translate}}"></p-radioButton>
      </div>
    </div>

		<div class="kFooter">
				<button type="button" class="kButtonBranded" (click)="_saveAndClose()" pButton label="{{'app.changeAccount.continue'| translate}}"></button>
		</div>

	</form>
</div>
