@import 'app-theme/_variables.scss';

.kFloater{
  display: flex;
  flex-direction: column;
  height: 100%;
  .kHeader {
    height: 78px;
    width: 100%;
    text-align: center;
    padding-top: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid $kGrayscale4;
    flex: 0 0 auto;
    .kTitle {
      color: #333333;
      font-size: 24px;
      font-weight: 700;
    }
  }
  .kContainer{
    flex: 0 0 auto;
    margin: 24px;
    margin-top: 8px;
  }
  .kFooter{
    flex: 0 0 auto;
    height: 66px;
    border-top: 1px solid $kGrayscale4;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      height: 34px;
    }
  }
}

.kRow{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 15px;
  .kLabel{
    width: 120px;
    flex: 0 0 auto;
  }
  input{
    width: 100%;
  }
  textarea{
    height: 52px;
    width: 100%;
  }
}
