@import 'app-theme/_variables.scss';

.kRelated{
	position: relative;
	height: 100%;
	button{
		margin-left: 24px;
	}
	.kTitle{
		color: $kGrayscale1;
		font-size: 20px;
		font-weight: 700;
		padding-left: 24px;
	}
	.kTable{
		margin-top: 24px;
	}
	.kRelatedTableActions {
		width: 100%;
		text-align: center;
		button {
			color: grey !important;
			background-color: rgba(0, 0, 0, 0) !important;
			border: none !important;
			font-size: 16px !important;
			outline: 0;
		}
	}
	.kUploadMonitor{
		display: flex;
		flex-direction: column;
		align-items: center;
		a{
			margin-top: 8px;
		}
	}
	.kError{
		color: $kDandger;
	}
}

:host /deep/ .ui-dropdown.ui-widget{
	width: 120px;
}


:host /deep/ .ui-datatable-scrollable-body{
	overflow: visible;
}

