<k-area-blocker [showLoader]="_handler.showSectionLoader" [message]="_handler.sectionBlockerMessage">
	<kFileDialog #fileDialog (onFileSelected)="_handler._onFileSelected($event)"></kFileDialog>
	<div class="kRelated" #related>
		<p class="kTitle">{{'applications.content.entryDetails.related.related' | translate}}</p>
		<button type="button" class="kButtonDefault" (click)="fileDialog.open($event)" pButton label="{{'applications.content.entryDetails.related.add' | translate}}"></button>
		<div class="kTable">
			<p-dataTable [value]="(_handler._relatedFiles$ | async)?.items" scrollable="true" scrollHeight="100%" [rowStyleClass]="_relatedTableRowStyle" >
				<p-column field="filename" header="{{'applications.content.entryDetails.related.name' | translate}}">
				</p-column>
				<p-column header="{{'applications.content.entryDetails.related.type' | translate}}" [style]="{'width':'140px'}">
					<ng-template let-col let-file="rowData" pTemplate="body">
						<p-dropdown kDropdownCloseOnScroll [disabled]="file.uploading || file.uploadFailure" [scrollTarget]="related" [options]="_fileTypes" [appendTo]="'body'" [autoWidth]="false" [(ngModel)]="file.format" (onChange)="_handler._setDirty()" placeholder="{{'applications.content.entryDetails.related.select' | translate}}"></p-dropdown>
					</ng-template>
				</p-column>
				<p-column field="size" header="{{'applications.content.entryDetails.related.size' | translate}}">
					<ng-template let-col let-file="rowData" pTemplate="body">
						<span>{{file[col.field] | kFileSize}}</span>
					</ng-template>
				</p-column>
				<p-column field="id" header="{{'applications.content.entryDetails.related.assetId' | translate}}">
					<ng-template let-col let-file="rowData" pTemplate="body">
						<div *ngIf="!file.uploadFailure">
							<span>{{file[col.field]}}</span>
						</div>
						<div *ngIf="file.uploadFailure" class="kError">
							<span>{{'applications.content.entryDetails.related.uploadError' | translate}}</span>
						</div>
					</ng-template>
				</p-column>
				<p-column [style]="{'width':'80px'}">
					<ng-template let-col let-file="rowData" pTemplate="body">
						<div class="kRelatedTableActions" *ngIf="!file.uploading && !file.uploadFailure">
							<button type="button" pButton icon="kIconmore" (click)="openActionsMenu($event, file)"></button>
						</div>
						<div *ngIf="file.uploading" class="kUploadMonitor">
							<span>{{file.progress ? file.progress : '0'}}%</span>
							<a (click)="_handler._cancelUpload(file)">{{'applications.content.entryDetails.related.cancel' | translate}}</a>
						</div>
						<div *ngIf="file.uploadFailure">
							<a (click)="_handler._removeFile(file)">{{'applications.content.entryDetails.related.remove' | translate}}</a>
						</div>
					</ng-template>
				</p-column>
			</p-dataTable>
			<p-menu kMenuCloseOnScroll [scrollTarget]="related" #actionsmenu popup="popup" [model]="_actions" [appendTo]="'body'"></p-menu>
		</div>
	</div>
	<kPopupWidget #editPopup [popupWidth]="380" [popupHeight]="300" [modal]="true">
		<kEntryRelatedEdit [currentFile]="_currentFile" [parentPopupWidget]="editPopup"></kEntryRelatedEdit>
	</kPopupWidget>

	<p-confirmDialog header="{{'applications.content.entryDetails.captions.cancelEdit' | translate}}" width="425"></p-confirmDialog>

</k-area-blocker>
