@import 'app-theme/_variables.scss';

.kDropFolders {
  font-size: 15px;
  background-color: $appBkgColor;
  height: $contentArea;
  padding-top: 24px;
  width: 100%;
  min-width: $minAppWidth;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0;

  .kSearchInput {
    width: 280px;
    height: 34px;
    background: $kMagnifyingGlassBkg;
    margin-right: 8px;
    padding: 9px 4px 8px 38px;

    &:focus {
      background-color: white;
    }
  }

  .kFilters {
    display: flex;
    margin-left: auto;
  }

  .kDropFoldersHolder {
    min-height: $minTableHeight;
    height: 100%;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .kDropFoldersTableFilters {
    color: $kGrayscale1;
    height: 66px;
    background-color: white;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 0;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;

    .kSelectedDropFoldersNum {
      padding-left: 16px;
    }
  }

  .kSelectedDropFoldersLabel {
    font-weight: bold;
    margin-right: 36px;
    margin-left: 5px;
  }

  .kDropFoldersTable {
    border: none;
    position: relative;
    background-color: white;
    flex: 1 1 auto;
  }

  .kRefreshBtn {
    font-size: 24px;
    border: none;
    min-width: inherit;
    margin-right: 8px;
    width: 40px;
    outline: 0;
    color: $kGrayscale3;

    &:active {
      box-shadow: none;
      transform: rotate(45deg);
    }

    &:hover {
      background-color: #ffffff;
      color: $kPrimary;
    }
  }

  .kTagContent {
    display: flex;
    align-items: center;
  }

  .kTagLabel {
    flex: 0 0 auto;
    user-select: none;
    cursor: default;
  }

  .kTagRemove {
    flex: 0 0 auto;
    margin-top: 2px;
    margin-left: 8px;
    padding: 5px;
    cursor: pointer;
    font-size: 10px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
      border: 0 solid rgba(255, 255, 255, 0.3);
      border-radius: 3px;
    }
  }

  .kBulkOperations {
    display: flex;
    align-items: center;

    .kBulkDeleteBtn {
      margin-right: 10px;
      width: 44px;
      font-size: 24px;
    }
  }

  .kBulkCancel {
    margin-left: 10px;
  }

  .kBulkDeleteBtn {
    margin-right: 10px;
    width: 44px;
    font-size: 24px;
  }

  .kBulkActionsBtn {
    font-weight: 400;
    font-size: 15px;
  }

  .kFilters {
    display: flex;
    margin-left: auto;
  }

  .kHidden {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .kDropFoldersTableFooter {
    bottom: 0px;
    height: 34px;
    background-color: white;
    border-top: 1px solid $kGrayscale6;
    position: fixed;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 14px 28px;
    display: block;
  }
  .kDropFoldersPaginatorShowRowsLabel {
    color: $kGrayscale1;
    position: absolute;
    top: 7px;
    right: 80px;
  }

  .kStatusesFilter {
    display: flex;
    height: 32px;
    align-items: center;
    cursor: pointer;
    color: $kGrayscale1;
    width: 178px;
    position: relative;
    margin-right: 8px;

    i {
      margin-right: 12px;
      margin-left: 8px;
      color: $kGrayscale4;
      &.dropdown {
        font-size: 10px;
      }
    }

    .dropdown {
      position: absolute;
      right: 4px;
      top: 12px;
    }
  }

  .kRefineFilters {
    margin: 12px;
    background-color: white;
  }

  .kTreeContainer {
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid $kGrayscale6;
    margin-left: -20px;
    padding-left: 20px;
    margin-right: -20px;
    width: 387px;
    height: 350px;
    position: relative;
  }

  .kClose {
    float: right;
  }

  .kPaginatorShowRowsLabel {
    color: $kGrayscale1;
    position: absolute;
    top: 7px;
    right: 80px;
  }
}

:host{
  width: 100%;
}

:host /deep/ p-table .ui-table-scrollable-body{
  margin-bottom: 34px;
}

:host /deep/ span.ui-button-icon-left.pi-kIcontrash {
  margin-left: -.5em;
}

:host /deep/ .ui-tree {
  width: 380px;
}

:host /deep/ .ui-button-icon-right.kIcondropdown_arrow_bottom {
  font-size: 10px;
  margin-right: 2px;
  pointer-events: none;
}

:host /deep/ .ui-tieredmenu.ui-menu {
  width: 250px;
  .ui-submenu-icon {
    font-size: 10px;
    margin-top: 3px;
  }
}

:host /deep/ .ui-button-icon-only .pi {
  margin-left: -.5em;
}

:host /deep/ .kActionsMenu .ui-menuitem-text {
  color: $kDandger;
}

:host /deep/ .kStickyClass {
  border-bottom: 1px solid $kGrayscale5;
}

:host /deep/ .kDropFoldersTableFooter {
  .ui-dropdown-panel {
    min-width: 70px;
  }
}
