<k-area-blocker [message]="_blockerMessage">
  <div class="kDropFolders kOverrideFAIcons">
    <div #dropFoldersTableHolder class="kDropFoldersHolder kContent">
      <kSticky stickyId="dropFolderFilters" [scrollOffset]="80" [sticksTo]="'header'">
        <div class="kDropFoldersTableFilters kContent">
          <span class="kSelectedDropFoldersNum" *ngIf="(_dropFoldersService.dropFolders$ | async)?.totalCount">
            {{ (_dropFoldersService.dropFolders$ | async)?.totalCount }} {{ 'applications.content.uploadControl.files' | translate }}
          </span>

          <div [class.kHidden]="!_selectedDropFolders.length" class="kBulkOperations">
            <span class="kSelectedDropFoldersLabel">• {{_selectedDropFolders.length}} {{'applications.content.uploadControl.selected' | translate}}</span>
            <button pButton icon="kIcontrash" class="kButtonDanger kBulkDeleteBtn"
                    (click)="_bulkDelete(_selectedDropFolders)"></button>
            <a class="kBulkCancel" (click)="_clearSelection()">{{'applications.content.uploadControl.cancel' |
              translate}}</a>
          </div>
          <div [class.kHidden]="_selectedDropFolders.length" class="kFilters">
            <input type="text" pInputText class="kSearchInput"
                   [(ngModel)]="_filter.fileNameLike"
                   (keyup.enter)="_onFreetextChanged()"
                   placeholder="{{'applications.content.dropFolders.search' | translate}}">
            <div #statusesFilterBtn class="kStatusesFilter">
              <i class="kIconfilter"></i>
              <span>{{'applications.content.dropFolders.allStatuses' | translate}}</span>
              <i class="kIcondropdown_arrow_bottom dropdown"></i>
            </div>
          </div>
          <button pButton
                  class="kButtonDefault kRefreshBtn small"
                  type="text"
                  (click)="_reload()"
                  icon="kIconrefresh"
                  [kTooltip]="'applications.content.dropFolders.refresh' | translate"></button>
        </div>
      </kSticky>

      <kSticky #tags [stickyClass]="'kStickyClass'" stickyId="dropFoldersTags" [sticksTo]="'dropFolderFilters'">
        <div class="kContent">
          <kTags
            [title]="'applications.content.filters.activeFilters' | translate"
            [data]="_activeFilters"
            [labelField]="'label'"
            [tooltipField]="'tooltip'"
            (onTagRemove)="_removeTag($event)"
            (onRemoveAll)="_removeAllTags()"
            (onTagsChange)="_onTagsChange($event)">
            <ng-template let-item="item">
              <div class="kTagContent" [kTooltip]="item.tooltip">
                <span class="kTagLabel">{{item.label}}</span>
                <i *ngIf="item.showRemove" class="kTagRemove kIconclose_small" (click)="_removeTag(item.data)"></i>
              </div>
            </ng-template>
          </kTags>
        </div>
      </kSticky>

      <kDropFoldersListTable
        class="kDropFoldersTable"
        [dropFolders]="(_dropFoldersService.dropFolders.data$ | async)?.items"
        (navigateToEntry)="_navigateToEntry($event)"
        (deleteDropFolderFiles)="_deleteDropFolderFiles($event)"
        [(selectedDropFolders)]="_selectedDropFolders"></kDropFoldersListTable>

      <div class="kDropFoldersTableFooter kContent" #footer
           *ngIf="(_dropFoldersService.dropFolders.data$ | async)?.totalCount">
        <p-paginator
          [rows]="_filter.pageSize"
          [first]="_filter.pageIndex * _filter.pageSize"
          [rowsPerPageOptions]="[25,50,75,100]"
          [totalRecords]="(_dropFoldersService.dropFolders.data$ | async)?.totalCount"
          (onPageChange)="_onPaginationChanged($event)"></p-paginator>
        <span class="kPaginatorShowRowsLabel">{{'applications.content.paginator.showRows' | translate}}</span>
      </div>
    </div>
  </div>
</k-area-blocker>

<!-- popup widgets section -->
<kPopupWidget [appendTo]="dropFoldersTableHolder"
              [popupWidth]="400"
              [popupHeight]="400"
              [closeBtn]="false"
              [targetRef]="statusesFilterBtn"
              [targetOffset]="{'x':-160, 'y': -15}"
              kSticky [sticksTo]="'header'" [stickyClass]="'kForceFix'" [stickyId]="'statusesFilterPopup'"
              [scrollOffset]="80">
  <div class="kOverrideFAIcons kRefineFilters">
    <div class="kTreeContainer">
      <kDatesFilters
        (createdChanged)="_onCreatedChanged($event)"
        [_createdAfter]="_filter.createdAfter"
        [_createdBefore]="_filter.createdBefore"></kDatesFilters>

      <kStatusesFilter
        (onNodeSelect)="_onTreeNodeSelected($event)"
        (onNodeUnselect)="_onTreeNodeUnselected($event)">
      </kStatusesFilter>
    </div>
    <p>
      <a (click)="removeAllTags()">{{'applications.content.filters.clearAll' | translate}}</a>
      <a class="kClose" (click)="_close()">{{'applications.content.filters.close' | translate}}</a>
    </p>
  </div>
</kPopupWidget>
