<div class="kEntryPreview kUseKMCngIcons">
	<iframe *ngIf="_iFrameSrc" [src]="_iFrameSrc | safe" width="280" height="158" allowfullscreen webkitallowfullscreen mozAllowFullScreen frameborder="0"></iframe>
	<div class="kPreviewAndEmbedContainer" *ngIf="_entryReady">
		<i (click)="openPreviewAndEmbed()" class="kIconshare"></i><a (click)="openPreviewAndEmbed()">{{'applications.content.entryDetails.preview.pande' | translate}}</a>
	</div>
	<div class="kPreviewDetails" *ngIf="_handler.entry">
		<span class="kTitle">{{'applications.content.entryDetails.preview.details' | translate}}</span>

		<div class="kRow">
			<span class="kLabels">{{'applications.content.entryDetails.preview.entryID' | translate}}</span>
			<span>{{_handler.entry.id }}</span>
		</div>
		<div class="kRow">
			<span class="kLabels">{{'applications.content.entryDetails.preview.creator' | translate}}</span>
			<span pTooltip="{{currentEntry?.creatorId}}" tooltipPosition="top">{{currentEntry?.creatorId}}</span>
		</div>
		<div class="kRow">
			<span class="kLabels">{{'applications.content.entryDetails.preview.creationDate' | translate}}</span>
			<span>{{currentEntry?.createdAt * 1000 | date:'MM/dd/y HH:MM'}}</span>
		</div>
		<div class="kRow"  *ngIf="_landingPage">
			<span class="kLabels">{{'applications.content.entryDetails.preview.landingPage' | translate}}</span>
			<a  pTooltip="{{_landingPage}}" tooltipPosition="top" (click)="openLandingPage()">{{_landingPage}}</a>
		</div>
		<div class="kRow" *ngIf="_isLive && currentEntry?.recordedEntryId">
			<span class="kLabels">{{'applications.content.entryDetails.preview.vodEntry' | translate}}</span>
			<a (click)="navigateToEntry(currentEntry.recordedEntryId)">{{currentEntry?.recordedEntryId}}</a>
		</div>
		<div class="kRow" *ngIf="_isRecordedLive && currentEntry?.rootEntryId">
			<span class="kLabels">{{'applications.content.entryDetails.preview.archiveOf' | translate}}</span>
			<a (click)="navigateToEntry(currentEntry.rootEntryId)">{{currentEntry?.rootEntryId}}</a>
		</div>
		<div class="kRow">
			<span class="kLabels">{{'applications.content.entryDetails.preview.type' | translate}}</span>
			<span>{{currentEntry?.mediaType | entryType: true}}</span>
		</div>
		<div class="kRow">
			<span class="kLabels">{{'applications.content.entryDetails.preview.moderation' | translate}}</span>
			<span>{{currentEntry?.moderationStatus | moderation}}</span>
		</div>
		<div class="kRow" *ngIf="_entryReady">
			<span class="kLabels">{{'applications.content.entryDetails.preview.plays' | translate}}</span>
			<span>{{currentEntry?.plays}}</span>
		</div>
		<div class="kRow" *ngIf="_entryReady && currentEntry?.rank">
			<span class="kLabels">{{'applications.content.entryDetails.preview.rating' | translate}}</span>
			<span>{{currentEntry?.rank}}</span>
		</div>
		<div class="kRow" *ngIf="_hasDuration">
			<span class="kLabels">{{'applications.content.entryDetails.preview.duration' | translate}}</span>
			<span>{{currentEntry?.duration | kTime}}</span>
		</div>
		<div class="kRow" *ngIf="_entryReady && currentEntry?.moderationCount">
			<span class="kLabels">{{'applications.content.entryDetails.preview.flags' | translate}}</span>
			<span>{{currentEntry?.moderationCount}}</span>
		</div>
		<div class="kRow" *ngIf="_entryReady && currentEntry?.votes">
			<span class="kLabels">{{'applications.content.entryDetails.preview.votes' | translate}}</span>
			<span>{{currentEntry?.votes}}</span>
		</div>
		<div class="kRow" *ngIf="_isClip">
			<span class="kLabels">{{'applications.content.entryDetails.preview.clippedFrom' | translate}}</span>
			<span><a (click)="navigateToEntry(currentEntry.rootEntryId)">{{currentEntry?.rootEntryId}}</a></span>
		</div>
	</div>
</div>
