<form class="kLoginForm"
      [formGroup]="forgotPasswordForm"
      (submit)="resetPassword($event)">
  <h1>{{ 'app.login.forgotPassword.title' | translate}}</h1>

  <ng-container *ngIf="true">
    <p [innerHTML]="'app.login.forgotPassword.instructions' | translate"></p>

    <div>
      <input pInputText
             [placeholder]="'app.login.forgotPassword.placeholder' | translate"
             [formControl]="emailField"
             [ngClass]="{
             'has-error': errorMessage || emailValidationMessage,
             'has-success': emailField.valid && emailField.touched
           }"
             [pTooltip]="emailValidationMessage | translate"
             tooltipEvent="focus"
             tooltipPosition="right">
    </div>

    <p *ngIf="errorMessage" class="kErrorMessage" [innerHTML]="errorMessage"></p>

    <div>
      <button class="kButtonDefault"
              pButton
              [label]="resetBtnText | translate"
              [disabled]="inProgress"></button>
    </div>
  </ng-container>
  <ng-container *ngIf="false">
    <h2>{{ 'app.login.forgotPassword.sent.title' | translate }}</h2>
    <p>{{ 'app.login.forgotPassword.sent.instructions' | translate }}</p>
    <p class="kRedirectTo">
      {{ 'app.login.forgotPassword.sent.redirectTo' | translate }}&nbsp;
      <a (click)="openLogin()" class="kUnderlined">{{ 'app.login.forgotPassword.sent.login' | translate}}</a>
    </p>
  </ng-container>

</form>
