@import 'app-theme/_variables.scss';

.kPlaylistRulesTable {
  background-color: white;
  overflow: hidden;
  position: relative;
  padding: 0;

  .kThumbnailHolder {
    overflow: hidden;
    position: relative;
    width: 80px;
    height: 46px;
    background-color: $kGrayscale6;
    white-space: nowrap;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    img {
      position: absolute;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      margin: auto;
      width: 80px;
      height: auto;
      border-radius: 3px;
    }
  }

  .kPlaylistRulesTableActions {
    width: 100%;
    text-align: center;
  }

  .kIconvideo {
    font-size: 20px;
  }

  .kIconsound {
    font-size: 22px;
  }

  .kIconimage {
    font-size: 24px;
  }

  .kTitle {
    color: #333333;
    font-weight: 700;
    cursor: pointer;
  }
}

:host {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  flex-direction: column;
}

:host /deep/ p-table .stickyHeader{
  z-index: 10;
  display: table;
}
