@import '~mc-theme/src/default/scss/variables';

.kDRMDetails{
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	.kHeader{
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	.kTitle{
		font-weight: 700;
		margin-bottom: 30px;
	}
	.kRow{
		display: flex;
		margin-bottom: 12px;
		flex-direction: row;
		align-items: center;
		.kLabel{
			width: 350px;
		}
	}
	.kSources{
		background-color: $kGrayscale6;
		border: 1px solid white;
		border-radius: 3px;
		width: 100%;
		height: 150px;
		margin-top: 6px;
		margin-bottom: 12px;
		padding: 8px;
		overflow-x: hidden;
		overflow-y: auto;
	}
}

