<div class="kDRMDetails kOverrideFAIcons">
  <div class="kHeader">
    <span class="kTitle">{{'applications.content.entryDetails.flavours.drm.header' | translate}}</span>
  </div>

  <div class="kContainer">
    <span class="kName">{{currentFlavor?.name}}</span>
    <div class="kRow">
      <span class="kLabel">{{'applications.content.entryDetails.flavours.drm.assetId' | translate}}</span>
      <span>{{currentFlavor?.drm.id}}</span>
    </div>
    <div class="kRow">
      <span class="kLabel">{{'applications.content.entryDetails.flavours.drm.start' | translate}}</span>
      <span *ngIf="currentFlavor && currentFlavor.drm.startTime">{{currentFlavor?.drm.startTime | kmcDate }}</span>
      <span *ngIf="currentFlavor && !currentFlavor.drm.startTime">{{'applications.content.entryDetails.flavours.drm.na' | translate}}</span>
    </div>
    <div class="kRow">
      <span class="kLabel">{{'applications.content.entryDetails.flavours.drm.end' | translate}}</span>
      <span *ngIf="currentFlavor && currentFlavor.drm.endTime">{{currentFlavor?.drm.endTime  | kmcDate}}</span>
      <span *ngIf="currentFlavor && !currentFlavor.drm.endTime">{{'applications.content.entryDetails.flavours.drm.na' | translate}}</span>
    </div>
    <span>{{'applications.content.entryDetails.flavours.drm.mbr' | translate}}</span>
    <div class="kSources">
      <span class="kRow" *ngFor="let source of currentFlavor?.drm.flavorSources">{{source}}</span>
    </div>
  </div>

</div>
