<k-area-blocker [showLoader]="_showLoader" [message]="_areaBlockerMessage" >
  <div class="kmcDetailsLayout kOverrideFAIcons">
    <div class="kContent kDetailsWrapper">
      <kSticky  stickyId="categoryHeader" [sticksTo]="'header'" stickyClass="stickyHeader">
        <div class="kDetailsHeader">
          <div class="kContent">
            <button pButton class="kButtonDefault kBackBtn small" icon="kIconarrow_backward" (click)="_backToList()"></button>
            <div class="kTitle">{{ _categoryHeader }}</div>
            <button pButton class="kButtonBranded kSaveBtn"
                    [label]="'applications.content.categoryDetails.save' | translate"
                    [disabled]="!_categoryStore.categoryIsDirty || _kmcPermissions.CONTENT_MANAGE_EDIT_CATEGORIES | kDisabledIfNotPermitted"
                    (click)="_save()"></button>
            <button pButton class="kButtonDefault kNavigationBtnLeft" [disabled]="!_enablePrevButton" (click)="_navigateToPrevious()" icon="kIconarrow_backward"></button>
            <button pButton class="kButtonDefault kNavigationBtnRight" [disabled]="!_enableNextButton" (click)="_navigateToNext()" icon="kIconarrow_forward"></button>
          </div>
        </div>
      </kSticky>
      <div class="kHeaderDetails">
        <kCategoryDetails></kCategoryDetails>
      </div>
      <div class="kDetailsMain">
        <div class="kSectionsWrapper">
          <div class="kSections">
            <kCategorySectionsList></kCategorySectionsList>
          </div>
        </div>
        <div class="kDetailsContent">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="kSpacer"></div>
    </div>

  </div>
</k-area-blocker>
