<k-area-blocker kFillHeight>
	<div class="kPlaylistsTable">
		<p-dataTable
			#dataTable
			[value]="_playlistsProvider"
			scrollable="true"
			scrollHeight="100%"
			dataKey="id"
			[rowTrackBy]="rowTrackBy">
			<p-column [style]="{'width':'44px', 'padding-left': '14px'}" selectionMode="multiple"></p-column>
			<p-column field="name" header="{{'applications.content.table.name' | translate}}"></p-column>
			<p-column field="id" header="{{'applications.content.table.id' | translate}}"></p-column>
			<p-column field="playlistType" header="{{'applications.content.table.playlistType' | translate}}">
				<template let-col let-entry="rowData" pTemplate="body">
					<span>{{entry[col.field] | playlistType}}</span>
				</template>
			</p-column>
			<p-column field="createdAt" header="{{'applications.content.table.createdOn' | translate}}">
				<template let-col let-entry="rowData" pTemplate="body">
					<span>{{entry[col.field] | kDate}}</span>
				</template>
			</p-column>
		</p-dataTable>
	</div>
</k-area-blocker>
