@import '~kmcng-theme/scss/variables';

.kPlaylistsTable {
    background-color: white;
    overflow-y: hidden;
    position: absolute;
	padding: 0;
}
:host{
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	flex-direction: column;
}
