<k-area-blocker [message]="_blockerMessage" [showLoader]="(_bulkDeleteService.stateDelete$ | async)?.loading || this._loading">
  <div class="kPlaylists kOverrideFAIcons">
    <div #playlistsTableHolder class="kPlaylistsHolder kContent">
      <kPlaylistsTable
        class="kPlaylistsTable"
        [playlists]="(_playlistsStore.playlists$ | async)?.items"
        (sortChanged)="onSortChanged($event)"
        [filter]="_filter"
        (actionSelected)="onActionSelected($event)"
        [(selectedPlaylists)]="_selectedPlaylists"></kPlaylistsTable>
    </div>
  </div>
</k-area-blocker>
