<k-area-blocker kFillHeight
	[showLoader]="(playlistsStore.state$ | async)?.loading || this._deferredLoading"
	[message]="_blockerMessage">
	<div class="kPlaylistsTable" [class.noResults]="!_playlists.length">
		<p-dataTable
			#dataTable
			[value]="_playlists"
			(selectionChange)="onSelectionChange($event)"
			(onSort)="onSortChanged($event)"
			[(selection)]="selectedPlaylists"
			[sortField]="filter.sortBy"
			emptyMessage="{{_emptyMessage}}"
			scrollable="true"
			scrollHeight="100%"
			dataKey="id"
			[rowTrackBy]="rowTrackBy">
			<p-column [style]="{'width':'44px', 'padding-left': '14px'}" selectionMode="multiple"></p-column>
			<p-column field="name" [sortable]="true" header="{{'applications.content.table.name' | translate}}">
				<ng-template let-col let-playlist="rowData" pTemplate="body">
					<span
						class="kTitle"
						(click)="onActionSelected('view',playlist.id)">{{playlist[col.field]}}</span>
				</ng-template>
			</p-column>
			<p-column field="id" header="{{'applications.content.table.id' | translate}}"></p-column>
			<p-column field="playlistType" header="{{'applications.content.table.playlistType' | translate}}">
				<ng-template let-col let-playlist="rowData" pTemplate="body">
					<span>{{playlist[col.field] | playlistType}}</span>
				</ng-template>
			</p-column>
			<p-column field="createdAt" [sortable]="true" header="{{'applications.content.table.createdOn' | translate}}">
				<ng-template let-col let-playlist="rowData" pTemplate="body">
					<span>{{playlist[col.field] | kDate}}</span>
				</ng-template>
			</p-column>
			<p-column header="" [style]="{'overflow':'visible', 'width':'50px'}">
				<ng-template let-col let-playlist="rowData" pTemplate="body">
					<div class="kPlaylistsTableActions">
						<button type="button" pButton icon="kIconmore" (click)="openActionsMenu($event, playlist)"></button>
					</div>
				</ng-template>
			</p-column>
		</p-dataTable>
		<p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'"></p-menu>
	</div>
</k-area-blocker>
