.k-entry-audio {
  background: url('../assets/entryTypes/audio.png') no-repeat center center;
  height:18px;
}
.k-entry-document {
  background: url('../assets/entryTypes/document.png') no-repeat center center;
  height:18px;
}
.k-entry-external {
  background: url('../assets/entryTypes/external.png') no-repeat center center;
  height:14px;
}
.k-entry-image {
  background: url('../assets/entryTypes/image.png') no-repeat center center;
  height:18px;
}
.k-entry-live {
  background: url('../assets/entryTypes/live.png') no-repeat center center;
  height:18px;
}
.k-entry-media {
  background: url('../assets/entryTypes/media.png') no-repeat center center;
  height:17px;
}
.k-entry-mix {
  background: url('../assets/entryTypes/mix.png') no-repeat center center;
  height:18px;
}
.k-entry-unknown {
  background: url('../assets/entryTypes/unknown.png') no-repeat center center;
  height:17px;
}
