@font-face {
    font-family: "Bebas";
    src: url("fonts/BebasNeue.otf");
    src: url("fonts/BebasNeue.otf") format("opentype");
}
@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-ExtraBold.otf");
    src: url("fonts/Gilroy-ExtraBold.otf") format("opentype");
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    text-rendering: geometricPrecision;
}
.header {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    z-index: 4;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    transition: top 300ms;
}
.logo{
    margin-left: 100px;
}
.toggleHeader{
    color: white;
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}
.verticalLine{
    width: 1px;
    height: 60px;
    background-color: white;
    margin-left: 14px;
    margin-right: 14px;
}
.title{
    font-family: 'Bebas', Arial;
    font-size: 42px;
    letter-spacing: 1px;
    color: white;
}
.header-right{
    display: flex;
    margin-left: auto;
    color: white;
}
.email{
    font-family: 'Bebas', Arial;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}
.share{
    margin-left: 24px;
    cursor: pointer;
    font-size: 28px !important;
}
.email:hover{
    text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px orange;
}
.share:hover{
    text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px orange;
}
