@import "../../../styles/scss/_variables.scss";

.kTreeNodeLabel{
    width:100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 43px;
    color: $kGrayscale1;
    text-overflow: ellipsis;
    margin-left: 5px;

    &.kDisabled
    {
        color:darkgray;
    }
}
.kTreeNodeNumChildren{
    font-size: 14px;
    font-weight: 400;
    color: $kGrayscale3;
    margin-left: 10px;
}
.kClose{
    float: right;
}
.kAllCategories{
    color: $kGrayscale3;
    line-height: 40px;
    letter-spacing: 0.1em;
    font-size: 13px;
    border-top: 1px solid $kGrayscale6;
    border-bottom: 1px solid $kGrayscale6;
    margin-left: -20px;
    padding-left: 20px;
    margin-right: -20px;
    margin-top: 18px;
}
.kPrefs{
    padding-left: 20px;
    padding-top: 10px;
}
.kFilterPrefs{
    color: $kGrayscale3;
    line-height: 40px;
    letter-spacing: 0.1em;
    font-size: 13px;
}
.kTreeContainer{
    overflow-y: auto;
    overflow-x: hidden;
    height: 340px;
    border-bottom: 1px solid $kGrayscale6;
    margin-left: -20px;
    padding-left: 20px;
    margin-right: -20px;
    width: 387px;
}
a.disabled{
    pointer-events: none;
    cursor: not-allowed;
    color: $kGrayscale5;
    border: none;
}
.kTreeConfig{
    font-size: 24px;
    position: absolute;
	right: 2px;
	top: 14px;
    color: $kGrayscale3;
    cursor: pointer;
    &:hover{
        color: $kPrimary;
    }
}
.kHeader{
    padding-top: 8px;
}

.kLoadingMessage{
    cursor: auto;
    color: $kPrimary;
    padding-left: 6px;
}
.kLoadingErrorMessage{
    cursor: auto;
    white-space: pre-line;
    margin-top: -16px;
    color: $kGrayscale3;
    padding-left: 6px;
}
/* Make sure toggler and checkbox remain aligned even if the node height changes */
:host /deep/ .ui-treenode .ui-tree-toggler{
    vertical-align: top;
    margin-top: 13px;
}

:host /deep/ .ui-tree .ui-chkbox{
    vertical-align: top;
    margin-top: 14px;
}
:host /deep/ .ui-tree .ui-tree-toggler{
    margin-top: 15px;
}

:host /deep/ .kSearchCategory{
    width: 338px;
    height: 34px;
}
