<div class="kTreeContainer kOverrideFAIcons kRadioButtonPOC">
  <div class="kHeader">
    <span class="kTitle">
      <span *ngIf="newCategoryForm">{{('applications.content.addNewCategory.newCategory') | translate}}</span>
      <span *ngIf="!newCategoryForm">{{('applications.content.addNewCategory.moveCategory') | translate}}</span>
    </span>
  </div>
  <div class="kContainer"  [ngClass]="{'kFullHeight': mode === 'new'}">
    <form class="kRow" *ngIf="newCategoryForm" [formGroup]="newCategoryForm" novalidate>
        <span class="kLabel">{{'applications.content.addNewCategory.name' | translate}}</span>
        <div class="kRequired" [ngClass]="{'kHasError':!newCategoryForm.controls['name'].valid &&
                   newCategoryForm.controls['name'].touched}">*
        </div>
        <div>
          <input class="kControl" formControlName="name" pInputText
                 [ngClass]="{'kHasError':!newCategoryForm.controls['name'].valid &&
                   newCategoryForm.controls['name'].touched}">
          <div *ngIf="newCategoryForm.controls['name'].touched &&
                 newCategoryForm.controls['name'].hasError('required')"
               class="error">
            {{'applications.content.addNewCategory.errors.requiredName' | translate}}
          </div>
        </div>
    </form>
    <div class="kRow">
      <span *ngIf="newCategoryForm">{{('applications.content.addNewCategory.selectCategoryParent') | translate}}</span>
      <span *ngIf="!newCategoryForm">{{('applications.content.moveCategory.selectCategoryParent') | translate}}</span>
    </div>
    <div class="kRow kNoParentOption">
      <p-radioButton class="kControl" [value]="null" [(ngModel)]="_treeSelection" [ngModelOptions]="{standalone: true}"
                     (click)="_clearSelection()" label="No selection"></p-radioButton>
    </div>
    <div class="kMain">
      <kAutoComplete #autoComplete
                     [disabled]="!_categoriesLoaded"
                     [multiple]="false"
                     field="name"
                     suggestionItemField="item"
                     suggestionLabelField="name"
                     suggestionSelectableField="isSelectable"
                     placeholder="{{'applications.entries.entryMetadata.searchCategoriesPH' | translate}}"
                     [minLength]="3"
                     (onSelect)="_onAutoCompleteSelected($event)"
                     [suggestionsProvider]="_categoriesProvider"
                     (completeMethod)="_onAutoCompleteSearch($event)">
      </kAutoComplete>
      <k-categories-tree #categoriesTree
                         [selectionMode]="_selectionMode"
                         [(selection)]="_treeSelection"
                         (onCategoriesLoad)="_onTreeCategoriesLoad($event)"
                         (onNodeSelect)="_onTreeNodeSelected($event)"
                         (onNodeChildrenLoaded)="_onTreeNodeChildrenLoaded($event)"></k-categories-tree>
    </div>
  </div>
  <div class="kFooter">
    <button type="button" class="kButtonBranded" pButton
            label="{{'applications.content.addNewCategory.apply' | translate}}"
            (click)="_apply()" [disabled]="newCategoryForm && !newCategoryForm.controls['name'].valid"></button>
    <a class="kLink" (click)="_cancel()">{{'applications.content.addNewCategory.cancel' | translate}}</a>
  </div>
</div>
