<button #replaceVideo pButton class="kFlavorReplaceButton kButtonDefault"
        icon="kIcondropdown_arrow_bottom" iconPos="right"
        [label]="_actionBtnTitle"></button>

<kPopupWidget #replaceVideoPopup
              [popupWidth]="240"
              [closeBtn]="false"
              [targetRef]="replaceVideo"
              [targetOffset]="{'x': 0, 'y': 40}"
              [placement]="{'x':'right', 'y': 'bottom'}">
    <div class="kReplaceVideoPopup">
        <p [hidden]="!_uploadEnabled"
           (click)="_openReplacementMenu('upload')">{{_uploadFileLabel}}</p>
        <p [hidden]="!_importEnabled"
           (click)="_openReplacementMenu('import')">{{_importFileLabel}}</p>
        <p [hidden]="!_linkEnabled"
           (click)="_openReplacementMenu('link')">{{'applications.content.entryDetails.flavours.replaceVideo.linkRemoteStorage' | translate}}</p>
    </div>
</kPopupWidget>


<kPopupWidget #uploadMenu [popupWidth]="791" [popupHeight]="607"
              [closeBtn]="true" [modal]="true" [preventPageScroll]="true">
    <ng-template>
        <kFlavorReplaceFile [entry]="entry"
                            [flavors]="flavors"
                            [parentPopupWidget]="uploadMenu"
                            [replaceType]="_replaceType"></kFlavorReplaceFile>
    </ng-template>
</kPopupWidget>
