@import 'app-theme/_variables.scss';

.kFlavorReplaceButton {
    margin-left: 24px;
    font-size: 14px;
    font-weight: bold;
}

.kReplaceVideoPopup {
    padding-bottom: 17px;

    p {
        margin: 0;
        padding: 17px 17px 0 17px;
        font-size: 15px;
        cursor: pointer;
        color: $kGrayscale1;
        &:hover {
            color: #000000;
        }
    }
    .kHidden {
        display: none;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
    }
}
