<div class="kReplaceMediaButtons">
    <button *ngIf="_uploadEnabled"
            pButton class="kFlavorReplaceButton kButtonDefault"
            [label]="'applications.content.entryDetails.flavours.replaceVideo.uploadFromDesktop' | translate"
            (click)="_openReplacementMenu('upload')"></button>

    <button *ngIf="_importEnabled"
            pButton class="kFlavorReplaceButton kButtonDefault"
            [label]="'applications.content.entryDetails.flavours.replaceVideo.importFromUrl' | translate"
            (click)="_openReplacementMenu('import')"></button>

    <button *ngIf="_linkEnabled"
            pButton class="kFlavorReplaceButton kButtonDefault"
            [label]="'applications.content.entryDetails.flavours.replaceVideo.linkRemoteStorage' | translate"
            (click)="_openReplacementMenu('link')"></button>

    <button *ngIf="_matchEnabled"
            pButton class="kFlavorReplaceButton kButtonDefault"
            [label]="'applications.content.entryDetails.flavours.replaceVideo.matchFromDropFolder' | translate"
            (click)="matchDropFolder.open()"></button>
</div>

<kPopupWidget #uploadMenu [popupWidth]="791" [popupHeight]="607"
              [closeBtn]="true" [modal]="true" [preventPageScroll]="true">
    <ng-template>
        <kFlavorReplaceFile [entry]="entry"
                            [flavors]="flavors"
                            [parentPopupWidget]="uploadMenu"
                            [replaceType]="_replaceType"></kFlavorReplaceFile>
    </ng-template>
</kPopupWidget>

<kPopupWidget #matchDropFolder [popupWidth]="791" [popupHeight]="560"
              [closeBtn]="true" [modal]="true" [preventPageScroll]="true">
    <ng-template>
        <kReplaceMatchDropFolder [entry]="entry"
                                 [parentPopupWidget]="matchDropFolder"></kReplaceMatchDropFolder>
    </ng-template>
</kPopupWidget>
