<button *ngIf="_uploadEnabled"
        pButton class="kFlavorReplaceButton kButtonDefault"
        [label]="'applications.content.entryDetails.flavours.replaceVideo.uploadFromDesktop' | translate"
        (click)="fileDialog.open()"></button>

<button *ngIf="_importEnabled"
        pButton class="kFlavorReplaceButton kButtonDefault"
        [label]="'applications.content.entryDetails.flavours.replaceVideo.importFromUrl' | translate"
        (click)="_openReplacementMenu('import')"></button>

<button *ngIf="_linkEnabled"
        pButton class="kFlavorReplaceButton kButtonDefault"
        [label]="'applications.content.entryDetails.flavours.replaceVideo.linkRemoteStorage' | translate"
        (click)="_openReplacementMenu('link')"></button>

<kPopupWidget #uploadMenu [popupWidth]="791" [popupHeight]="607"
              [closeBtn]="true" [modal]="true" [preventPageScroll]="true">
    <ng-template>
        <kFlavorReplaceFile [entry]="entry"
                            [fileDialog]="fileDialog"
                            [files]="_files"
                            [flavors]="flavors"
                            [parentPopupWidget]="uploadMenu"
                            [replaceType]="_replaceType"
                            (clearFilesOnDestroy)="_files = []"></kFlavorReplaceFile>
    </ng-template>
</kPopupWidget>

<kFileDialog #fileDialog
             [filter]="_allowedExtensions"
             [allowMultiple]="_kmcPermissions.FEATURE_MULTI_FLAVOR_INGESTION | kNgIfPermitted"
             (onFileSelected)="_handleSelectedFiles($event)"></kFileDialog>
