@import 'app-theme/_variables.scss';

:host {
    display: block;
    margin-left: 24px;
}
.kButtons {
    display: flex;
    align-items: center;
}
.kReplaceMediaButtonsLabel {
    color: $kGrayscale1;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 20px;
}

.kFlavorReplaceButton {
    margin-right: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: bold;
}

.kReplaceVideoPopup {
    padding-bottom: 17px;

    p {
        margin: 0;
        padding: 17px 17px 0 17px;
        font-size: 15px;
        cursor: pointer;
        color: $kGrayscale1;
        &:hover {
            color: #000000;
        }
    }
    .kHidden {
        display: none;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
    }
}

@media screen and (max-width: 1310px) {
    .kFlavorReplaceButton {
        width: 140px;
        height: 48px;
        margin-right: 10px;
    }
}
