  <div class="kPlaylistsTable" [class.noResults]="!_playlists?.length">

    <p-table
            [scrollable]="true"
            scrollHeight="100%"
            [value]="_playlists"
            dataKey="id"
            [rowTrackBy]="rowTrackBy"
            [sortField]="sortField"
            [sortOrder]="sortOrder"
            [defaultSortOrder]="_defaultSortOrder"
            (sortFunction)="onSortChanged($event)" [customSort]="true"
            [(selection)]="selectedPlaylists"
            (selectionChange)="onSelectionChange($event)"
            kStickyHeader [sticksTo]="'playlistsTags'" stickyClass="stickyHeader" [stickyId]="'playlistsTable'">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:44px; padding-left: 14px">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th [pSortableColumn]="'name'" class="kNameHeader">
            {{'applications.content.table.name' | translate}}
            <p-sortIcon [field]="'name'"></p-sortIcon>
          </th>
          <th>
            {{'applications.content.table.id' | translate}}
          </th>
          <th>
            {{'applications.content.table.playlistType' | translate}}
          </th>
          <th style="width: 140px" [pSortableColumn]="'createdAt'">
            {{'applications.content.table.createdOn' | translate}}
            <p-sortIcon [field]="'createdAt'"></p-sortIcon>
          </th>
          <th style="width: 80px"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-playlist>
        <tr [pSelectableRow]="playlist">

          <td style="width:44px; padding-left: 14px">
            <p-tableCheckbox [value]="playlist"></p-tableCheckbox>
          </td>

          <td>
            <div class="kPlaylistsNameWrap">
              <div [ngClass]="playlist.playlistType | playlistType: true" class="kMediaTypeIcon"></div>
              <div class="kTitle kTableColumn"
                   [kTooltip]="playlist.tooltip"
                   (click)="onActionSelected('view',playlist)">
                {{playlist.name}}
              </div>
            </div>
          </td>

          <td>{{playlist.id}}</td>

          <td>{{playlist.playlistType | playlistType}}</td>

          <td style="width: 140px">{{playlist.createdAt | kDate}}
          </td>

          <td style="overflow: visible; width: 80px">
            <div class="kPlaylistsTableActions">
              <button class="kMoreActionsButton" type="button" pButton icon="kIconmore" (click)="openActionsMenu($event, playlist)"></button>
            </div>
          </td>

        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <div class="emptymessage">{{_emptyMessage}}</div>
      </ng-template>
    </p-table>

    <p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
  </div>
