@import 'app-theme/_variables.scss';


.kPlaylistsTable {
  background-color: white;
  height: auto;
  padding: 0;

  .kPlaylistsTableActions {
    width: 100%;
    text-align: center;
  }
  .kNameHeader{
    padding-left: 52px;
  }
  .kTitle{
    color: $kGrayscale1;
    font-weight: 700;
    cursor: pointer;
    overflow: hidden;
    max-height: 45px;
    &:hover{
      color: #000000;
    }
  }

  .kPlaylistsNameWrap {
    display: flex;
    align-items: center;

    .kMediaTypeIcon {
      font-size: 24px;
      margin-right: 23px;
    }
  }
}

:host {
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	flex-direction: column;
}

:host /deep/ p-table .ui-table-scrollable-body{
  margin-bottom: 34px;
}
:host /deep/ p-table .stickyHeader{
  z-index: 10;
  display: table;
}