<div class="kFieldsTable" [class.noResults]="!fields?.length">
  <p-dataTable
    #dataTable
    scrollHeight="100%"
    dataKey="id"
    [scrollable]="true"
    [value]="fields"
    [emptyMessage]="_emptyMessage"
    [rowTrackBy]="rowTrackBy"
    (selectionChange)="_onSelectionChange($event)"
    [(selection)]="selectedFields">

    <p-column [style]="{'width':'44px', 'padding-left': '14px'}" selectionMode="multiple"></p-column>

    <p-column field="type">
      <ng-template let-col let-field="rowData" pTemplate="body">
        <div class="kTitle">
          {{field[col.field]}}
        </div>
      </ng-template>
    </p-column>

    <p-column field="name"
              [header]="'applications.settings.metadata.table.fieldLabel' | translate">
      <ng-template let-col let-field="rowData" pTemplate="body">
        <div class="kTitle">
          {{field[col.field]}}
        </div>
      </ng-template>
    </p-column>

    <p-column field="type" [header]="'applications.settings.metadata.table.fieldType' | translate"></p-column>

    <p-column field="shortDescription" [header]="'applications.settings.metadata.table.shortDescription' | translate"></p-column>

    <p-column field="description"
              [header]="'applications.settings.metadata.table.description' | translate"></p-column>

    <p-column field="maxValues" [header]="'applications.settings.metadata.table.maxValues' | translate"></p-column>

    <p-column field="searchable"
              [header]="'applications.settings.metadata.table.searchable' | translate"></p-column>

  </p-dataTable>
</div>
