<div class="kPlaylistRuleWrap">
  <div class="kFloater">
    <div class="kHeader">
      <span class="kTitle">{{'applications.content.playlists.addRule' | translate}}</span>
      <div class="kButtons">
        <a class="kCancel" (click)="onClosePopupWidget.emit()">Cancel</a>
        <button type="button"
                class="kButtonBranded KAddRule"
                pButton
                [label]="'applications.content.playlists.addToPlaylist' | translate"
                (click)="onClosePopupWidget.emit()"></button>
      </div>
    </div>
    <div class="kContainer">
      <kEntriesList [columns]="_columns"
                    [rule]="rule"
                    [showReload]="false"
                    [additionalFilters]="true"></kEntriesList>
    </div>
  </div>
</div>
