@import 'app-theme/_variables.scss';

.kPlaylistRuleWrap {
  .kFloater {
    display: flex;
    flex-direction: column;

    .kHeader {
      height: 78px;
      width: 100%;
      padding: 0 24px;
      box-sizing: border-box;
      border-bottom: 1px solid $kGrayscale4;
      flex: 0 0 auto;
      display: flex;
      align-items: center;

      .kTitle {
        color: #333333;
        font-size: 15px;
        font-weight: 700;
      }

      .kButtons {
        display: flex;
        margin-left: auto;

        .kCancel {
          font-size: 15px;
          color: #333333;
          align-self: center;
          margin-right: 24px;
        }

        .KAddRule {
          width: 100px;
        }

        .kButtonDefault {
          font-weight: normal;
        }
      }
    }

    .kContainer {
      flex: 1 1 auto;

      .kFilters {
        display: flex;
        margin-left: auto;

        .kResultsLimit {
          width: 248px !important;
          margin-right: 16px;
          padding-left: 10px;
          border: 1px solid $kGrayscale4;
          border-radius: 4px;
          display: flex;
          background-color: #ffffff;
          height: 32px;
          align-items: center;
          cursor: pointer;
          color: $kGrayscale1;
          position: relative;
          i {
            margin-right: 12px;
            margin-left: 8px;
            font-size: 24px;
            color: $kGrayscale4;
            &.dropdown {
              font-size: 10px;
            }
          }
          &:hover {
            color: $kPrimary;
            i {
              color: $kPrimary;
            }
            i.kIcondropdown_arrow_bottom.dropdown {
              color: $kGrayscale3;
            }
          }
          .dropdown {
            position: absolute;
            right: 4px;
            top: 12px;
          }
        }

        .kRuleNameInput {
          width: 298px;
          margin-right: 16px;
          padding-left: 10px;

          &.hasError {
            border-color: $kDandger;
          }
        }

        .kRuleNameLabel {
          font-size: 15px;
          font-weight: normal;
          line-height: 32px;
          margin-right: 16px;
        }

        .kOrderBy {
          width: 260px;
          margin-right: 16px;

          .p-dropdown {
            width: 100%;
          }
        }
      }
    }
  }
}

.kResultsLimitPopup {
  padding: 29px 16px 24px 16px;

  .kResultsLimitSlider {

  }

  .kResultsLimitPopupFooter {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;

    span {
      color: $kGrayscale3;
    }
  }
}

:host ::ng-deep .kSearchInput {
    margin-right: 0px !important;
}
:host ::ng-deep .searchHolder {
    margin-right: 16px !important;
    i {
        right: 6px !important;
    }
}

:host ::ng-deep .kPlaylistRuleWrap {
  .kEntries {
    min-width: auto;
    padding-top: 0;
  }

  .kContent {
    width: 992px;

    .p-datatable-scrollable-body {
      height: calc(100vh - 409px) !important;
    }

    .kTagsVisible .p-datatable-scrollable-body {
      height: calc(100vh - 450px) !important;
    }

  }
}

:host ::ng-deep .kOrderBy .p-dropdown {
  width: 100%;

  label {
    color: $kGrayscale1;
  }
}
