<form class="kLoginForm"
      [formGroup]="_resetPasswordForm"
      (submit)="_resetPassword($event)">
  <h1 [class.smallFont]="showAuthenticationCode">{{ 'app.login.passwordExpired.title' | translate}}</h1>

  <div>
    <input pInputText appPreventPasswordAutofill
           type="password" autocomplete="off"
           [placeholder]="'app.login.passwordExpired.placeholder.current' | translate"
           [formControl]="_oldPasswordField"
           [ngClass]="{smallMargin: showAuthenticationCode, 'has-error': _showError(_oldPasswordField) || _oldPasswordWrong}"
           [kTooltip]="_getClientValidationMessage(_oldPasswordField) | translate"
           placement="right">
  </div>

  <div>
    <input pInputText appPreventPasswordAutofill
           type="password" autocomplete="off"
           [placeholder]="'app.login.passwordExpired.placeholder.new' | translate"
           [formControl]="_newPasswordField"
           [ngClass]="{smallMargin: showAuthenticationCode, 'has-error': _showError(_newPasswordField) || _passwordsDontMatch || _newPasswordIsOld || _passwordStructureInvalid}"
           [kTooltip]="_getClientValidationMessage(_newPasswordField) || _passwordStructureInvalidMessage | translate"
           placement="right">
  </div>

  <div>
    <input pInputText appPreventPasswordAutofill
           type="password" autocomplete="off"
           [placeholder]="'app.login.passwordExpired.placeholder.confirm' | translate"
           [formControl]="_repeatPasswordField"
           [ngClass]="{smallMargin: showAuthenticationCode, 'has-error': _showError(_repeatPasswordField) || _passwordsDontMatch}"
           [kTooltip]="_getClientValidationMessage(_repeatPasswordField) | translate"
           placement="right">
  </div>

    <div [class.kHidden]="!showAuthenticationCode">
        <input pInputText class="kAuth" #auth autocomplete="off"
               [placeholder]="'app.login.login.placeholder.auth' | translate"
               [formControl]="_authenticationField"
               [ngClass]="{smallMargin: showAuthenticationCode, 'has-error': _showError(_authenticationField), 'has-success': _showSuccess(_authenticationField)}">
    </div>

  <p *ngIf="(_newPasswordField.touched || _repeatPasswordField.touched || _formSent) && _showError(_passwords)"
     class="kErrorMessage"
     [innerHTML]="_getClientValidationMessage(_passwords) | translate">
  </p>
  <p *ngIf="errorMessage && !_passwordStructureInvalid && _errorCode !== 'LOGIN_BLOCKED' && _errorCode !== 'LOGIN_RETRIES_EXCEEDED'"
     class="kErrorMessage" [innerHTML]="errorMessage"></p>
    <p *ngIf="_errorCode === 'LOGIN_BLOCKED'" class="kErrorMessage">
        {{'app.login.error.loginBlocked.loginDenied' | translate}}
        <a *ngIf="_supportAddress" (click)="_contactSupport()">{{_supportAddress}}</a>
        {{'app.login.error.loginBlocked.toUnblockYourAccount' | translate}}
    </p>
    <p *ngIf="_errorCode === 'LOGIN_RETRIES_EXCEEDED'" class="kErrorMessage">
        {{'app.login.error.retriesExceeded.yourAccountHasBeenLocked' | translate}}
        <a *ngIf="_supportAddress" (click)="_contactSupport()">{{_supportAddress}}</a>
        {{'app.login.error.retriesExceeded.toUnblockYourAccount' | translate}}
    </p>

  <div>
    <button class="kButtonDefault"
            pButton
            [label]="_sendBtnText | translate"
            [disabled]="inProgress"></button>
  </div>
</form>

