$fontFamily: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontSize: 1em;
$borderRadius: 3px;
$disabledOpacity: 0.35;

//Header
$headerBorderWidth: 1px;
$headerBorderColor: #d9d9d9;
$headerBgColor: #ffffff;
$headerTextColor: #ffffff;
$headerFontWeight: bold;
$headerIconTextColor: #ffffff;

//Content
$contentBorderWidth: 1px;
$contentBorderColor: #d9d9d9;
$contentBgColor: #ffffff;
$contentTextColor: #333333;

//Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: #d9d9d9;
$stateDefaultBgColor: #ffffff;
$stateDefaultTextColor: #1c94c4;

//Active State
$stateActiveBorderColor: #d9d9d9;
$stateActiveBgColor: #ffffff;
$stateActiveTextColor: #999999;

//Highlight State
$stateHighlightBorderColor: #d9d9d9;
$stateHighlightBgColor: #ffffff;
$stateHighlightTextColor: #363636;

//Focus State
$stateFocusBorderColor: #d9d9d9;
$stateFocusBgColor: #ffffff;
$stateFocusTextColor: #999999;

//Error State
$stateErrorBorderColor: #cd0a0a;
$stateErrorBgColor: #b81900;
$stateErrorTextColor: #ffffff;

//Hover State
$stateHoverBorderColor: #d9d9d9;
$stateHoverBgColor: #ffffff;
$stateHoverTextColor: $kGrayscale1;

//Forms
$inputBgColor: #ffffff;
$inputTextColor: #333333;
$invalidInputBorderColor: #cd0a0a;

@import '~primeng/resources/themes/theme';

/* input */
.ui-inputtext, .ui-inputtext:enabled, .ui-inputtext:disabled{
    background-color: $kGrayscale6;
    border: 1px solid $kGrayscale6;
    color: $kGrayscale2;
}

/* checkboxes */
.ui-chkbox .ui-chkbox-box, .ui-datatable .ui-selection-column .ui-chkbox-box, .ui-tree .ui-chkbox-box{
    width: 16px;
    height: 16px;
    border: 1px solid $kGrayscale4;
    border-radius: 3px;
    font-size: 10px;
    &.ui-state-active{
        background-color: $kPrimary;
        border: 1px solid $kPrimary;
        color: #ffffff;
    }
    .ui-chkbox-icon{
        margin-left: 0px;
        margin-top: 3px;
    }
}

/* radio buttons */
.ui-radiobutton-box.ui-state-active{
    background-color: $kPrimary;
    border: 1px solid $kPrimary;
    color: #ffffff;
}

/* data table */
.ui-datatable thead th, .ui-datatable tfoot td, .ui-datatable tbody td, .ui-datatable-data.ui-widget-content {
    border-left: none;
    border-right: none;
}
.ui-datatable th.ui-state-default{
    text-align: left;
    border: none;
    background: transparent;
}
.ui-datatable tbody > tr.ui-widget-content {
    height: 70px;
    border-left: none;
    border-right: none;
    &:first-child{
        border-top: 1px solid #ffffff;
    }
}
.ui-widget-header.ui-datatable-scrollable-header{
    background: transparent;
    height: 40px;
    border-top: 1px solid #d9d9d9;
    border-left: none;
    border-right: none;
    tr{
        height: 40px;
        border-left: none;
        border-right: none;
        border-top: 0px solid #ffffff;
    }
}
.ui-datatable .ui-datatable-thead>tr>th{
    border-left: none;
    border-right: none;
}
.ui-datatable th.ui-state-default{
    font-size: 13px;
    font-weight: 400;
    color: $kGrayscale3;
    outline: none;
    text-overflow: ellipsis;
}
.ui-datatable th.ui-state-active {
    color: $kGrayscale1;
}
.ui-datatable .ui-cell-data{
    font-size: 15px;
    font-weight: 400;
    color: $kGrayscale3;
    text-overflow: ellipsis;
}
.ui-datatable .ui-datatable-data tr.ui-state-highlight{
    background-color: #ffffff;
    border: none;
    cursor: auto;
}

.ui-sortable-column-icon.fa.fa-sort{
    visibility: hidden;
    &.fa-sort-asc, &.fa-sort-desc{
        font-size: 10px;
        margin-left: 8px;
        visibility: visible;
    }
}
.ui-datatable .ui-datatable-data>tr>td{
    border: 0px solid #ffffff;
}
.ui-datatable .ui-datatable-scrollable-body{
    border-top: 1px solid #d9d9d9;
}

/* buttons */
.ui-button{
    font-weight: 700;
    border-radius: 3px;
}
.disabled{
    color: $kGrayscale4;
    background: transparent;
    border: 1px solid $kGrayscale4;
    cursor: none;
}
.ui-button.kButtonBranded {
    &.ui-state-default {
        color: #ffffff;
        background: $kPrimary;
    }
    &:hover {
        background: darken($kPrimary, 10%);
    }
    &:active {
        box-shadow: inset 0px 1px 3px 0 rgba(0, 0, 0, 0.50);
    }
    &:disabled {
        color: $kGrayscale4;
        background: transparent;
        border: 1px solid $kGrayscale4;
        cursor: none;
    }
}
.ui-button.kButtonDefault {
    &.ui-state-default{
        color: $kGrayscale1;
        background: #ffffff;
        border: 1px solid $kGrayscale4;
        height: 34px;
    }
    &:hover{
        color: $kPrimary;
    }
    &:active{
        box-shadow: inset 0px 1px 3px 0 rgba(0,0,0,0.50);
    }
    &:disabled{
        @extend .disabled;
    }
}
.ui-button.kButtonDanger {
    &.ui-state-default{
        height: 34px;
        color: #ffffff;
        background: $kDandger;
        border: 0px solid $kDandger;
    }
    &:hover{
        background: darken($kDandger, 10%);
        border: 0px solid darken($kDandger, 10%);
    }
    &:active{
        box-shadow: inset 0px 1px 3px 0 rgba(0,0,0,0.50);
    }
    &:disabled{
        @extend .disabled;
    }
}

/* menu */
.ui-tieredmenu, .ui-menu-list {
    padding-left: 0px;
    padding-right: 0px;
    .ui-menuitem-link{
        padding-left: 12px;
    }
    .ui-menuitem .ui-menuitem-link:hover{
        background-color: $kGrayscale7;
    }
}

/* paginator */
.ui-paginator.ui-widget-header.ui-unselectable-text{
    background: transparent;
    border: none;
}
.ui-paginator-element{
    color: $kGrayscale2;
    font-weight: 400;
    outline: none;
}
.ui-paginator-page.ui-paginator-element{
    border-radius: 0px;
}
.ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-last{
    color: $kGrayscale2;
    font-weight: 400;
    margin-left: 0px;
    margin-right: 0px;
}
.ui-paginator .ui-paginator-pages {
    padding-left: 0px;
    padding-right: 0px;
	line-height: 18px;
}

.ui-paginator .ui-paginator-rpp-options {
    float: right;
    margin-top: 4px;
    color: $kGrayscale2;
    font-weight: 400;
}
.ui-paginator-rpp-options.ui-widget.ui-state-default{
    border: none;
}
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-last{
    margin-left: -2px;
    margin-right: -2px;
    border-radius: 0px;
}
.ui-paginator .ui-paginator-page.ui-state-active{
    background: $kGrayscale6;
    color: $kGrayscale2;
    font-weight: 400;
}

/* tree */
.ui-tree .ui-tree-container{
    padding-left: 0px;
    padding-top: 0px;
    overflow: hidden;
}
.ui-tree.ui-widget.ui-widget-content.ui-corner-all.ui-tree-selectable{
    border: none;
}
.ui-treenode-label.ui-corner-all.ui-state-hover{
    background-color: #ffffff;
}
.ui-tree .ui-tree-toggler{
    color: $kGrayscale3;
    margin-right: 8px;
}
.ui-tree .ui-treenode-leaf-icon{
    width: 27px;
}
.ui-tree .ui-chkbox .ui-chkbox-icon{
    background-color: $kPrimary;
    border: 0px solid $kPrimary;
    margin-top: 0px;
    line-height: 14px;
    border-radius: 3px;
    color: #ffffff;
}
.ui-tree .ui-treenode-label.ui-state-hover, .ui-tree .ui-treenode-label.ui-state-highlight{
    background-color: #ffffff;
}

/* Calendar */
.ui-calendar{
    button.ui-state-default {
        height: 26px;
    }
    .ui-datepicker{
        padding: 0;
    }
    .ui-datepicker-calendar{
        margin: 0;
    }
    .ui-datepicker-header{
        background: #01ACCD;
    }
    .ui-inputtext {
        width: 75px;
    }
    button{
        @extend .ui-button.kButtonDefault;
    }
    .ui-datepicker-prev, .ui-datepicker-next{
        color: #ffffff !important;
    }
    .ui-datepicker-prev-hover, .ui-datepicker-next-hover, thead{
        background: #01ACCD;
        border: 0px solid #01ACCD;
    }
    .ui-widget-header{
        border: 0px solid #01ACCD;
        border-radius: 0px;
    }
    .ui-state-default{
        color: $kGrayscale1;
        &.ui-state-active{
            color: $kPrimary;
        }
    }
    .link, a{
        font-size: 14px;
    }
    .ui-datepicker th{
        font-size: 12px;
        font-weight: 400;
        color: #ffffff;
    }
}
// tooltips
.ui-tooltip .ui-tooltip-text {
	background-color: #000000;
	color: #ffffff;
	font-size: 14px;
}
.ui-tooltip .ui-tooltip-arrow{
	font-size: 16px;
}
.ui-tooltip-top .ui-tooltip-arrow {
	border-top-color: #000000;
}
.ui-tooltip-bottom .ui-tooltip-arrow {
	border-bottom-color: #000000;
}
.ui-tooltip-right .ui-tooltip-arrow {
	border-right-color: #000000;
}
.ui-tooltip-left .ui-tooltip-arrow {
	border-left-color: #000000;
}

// auto complete
.ui-autocomplete-panel {
    .ui-autocomplete-list-item {
        min-height: 50px;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid $kGrayscale5;
        display: flex;
        align-items: center;

        &:last-child {
            border-bottom: none;
        }
        &.ui-state-highlight, &:hover {
            background-color: $kGrayscale7;
        }
    }

    .ui-autocomplete-notification-item
    {
        min-height: 50px;
        border-left: none;
        border-right: none;
        display: flex;
        align-items: center;

        &.ui-state-highlight, &:hover {
            background-color: transparent;
            cursor: default;
        }
    }
}