$fontFamily: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontSize: 1em;
$borderRadius: 3px;
$disabledOpacity: 0.35;

//Header
$headerBorderWidth: 1px;
$headerBorderColor: #d9d9d9;
$headerBgColor: #ffffff;
$headerTextColor: #ffffff;
$headerFontWeight: bold;
$headerIconTextColor: #ffffff;

//Content
$contentBorderWidth: 1px;
$contentBorderColor: #d9d9d9;
$contentBgColor: #ffffff;
$contentTextColor: #333333;

//Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: #d9d9d9;
$stateDefaultBgColor: #ffffff;
$stateDefaultTextColor: #1c94c4;

//Active State
$stateActiveBorderColor: #d9d9d9;
$stateActiveBgColor: #ffffff;
$stateActiveTextColor: #999999;

//Highlight State
$stateHighlightBorderColor: #d9d9d9;
$stateHighlightBgColor: #ffffff;
$stateHighlightTextColor: #363636;

//Focus State
$stateFocusBorderColor: #d9d9d9;
$stateFocusBgColor: #ffffff;
$stateFocusTextColor: #999999;

//Error State
$stateErrorBorderColor: #cd0a0a;
$stateErrorBgColor: #b81900;
$stateErrorTextColor: #ffffff;

//Hover State
$stateHoverBorderColor: #d9d9d9;
$stateHoverBgColor: #ffffff;
$stateHoverTextColor: $kGrayscale1;

//Forms
$inputBgColor: #ffffff;
$inputTextColor: #333333;
$invalidInputBorderColor: #cd0a0a;

@import '~primeng/resources/themes/theme';

/* input */
.ui-inputtext, .ui-inputtext:enabled, .ui-inputtext:disabled{
    background-color: $kGrayscale6;
    border: 1px solid white;
    color: $kGrayscale1;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	&:focus{
		background-color: white;
		border: 1px solid $kGrayscale4;
	}

}

textarea.ui-inputtext {
	resize: none;
}

.ui-inputtext::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: $kGrayscale3;
}
.ui-inputtext::-moz-placeholder { /* Firefox 19+ */
	color: $kGrayscale3;
}
.ui-inputtext:-ms-input-placeholder { /* IE 10+ */
	color: $kGrayscale3;
}
.ui-inputtext:-moz-placeholder { /* Firefox 18- */
	color: $kGrayscale3;
}

/* checkboxes */
.ui-chkbox .ui-chkbox-box, .ui-datatable .ui-selection-column .ui-chkbox-box{
    width: 16px;
    height: 16px;
    border: 1px solid $kGrayscale4;
    border-radius: 3px;
    font-size: 10px;
    &.ui-state-active{
        background-color: $kPrimary;
        border: 1px solid $kPrimary;
        color: #ffffff;
    }
    .ui-chkbox-icon{
        margin-left: 0px;
        margin-top: 3px;
    }
}
.ui-chkbox-box:not(.ui-state-disabled):not(.ui-state-active):hover{
	border: 1px solid $kGrayscale4;
}
/* radio buttons */
.ui-radiobutton-box.ui-state-active{
    background-color: $kPrimary;
    border: 1px solid $kPrimary;
    color: #ffffff;
}

/* data table */
.ui-datatable thead th, .ui-datatable tfoot td, .ui-datatable tbody td, .ui-datatable-data.ui-widget-content {
    border-left: none;
    border-right: none;
}
.ui-datatable th.ui-state-default{
    text-align: left;
    border: none;
    background: transparent;
}
.ui-datatable tbody > tr.ui-widget-content {
    height: 70px;
    border-left: none;
    border-right: none;
    &:first-child{
        border-top: 1px solid #ffffff;
    }
}
.noResults .ui-datatable tbody > tr.ui-widget-content {
	border: 1px solid white;
}
.ui-widget-header.ui-datatable-scrollable-header{
    background: transparent;
    height: 40px;
    border-top: 1px solid #d9d9d9;
    border-left: none;
    border-right: none;
    tr{
        height: 40px;
        border-left: none;
        border-right: none;
        border-top: 0px solid #ffffff;
    }
}
.ui-datatable .ui-datatable-thead>tr>th{
    border-left: none;
    border-right: none;
}
.ui-datatable th.ui-state-default{
    font-size: 13px;
    font-weight: 400;
    color: $kGrayscale3;
    outline: none;
    text-overflow: ellipsis;
}
.ui-datatable th.ui-state-active {
    color: $kGrayscale1;
}
.ui-datatable .ui-cell-data{
    font-size: 15px;
    font-weight: 400;
    color: $kGrayscale3;
    text-overflow: ellipsis;
}
.ui-datatable .ui-datatable-data tr.ui-state-highlight{
    background-color: #ffffff;
    cursor: auto;
}

.ui-sortable-column-icon.fa.fa-sort{
    visibility: hidden;
    &.fa-sort-asc, &.fa-sort-desc{
        font-size: 10px;
        margin-left: 8px;
        visibility: visible;
    }
}
.ui-datatable .ui-datatable-data>tr>td{
    border: 0px solid #ffffff;
}
.ui-datatable .ui-datatable-scrollable-body{
    border-top: 1px solid #d9d9d9;
}
td.ui-datatable-emptymessage{
	text-align: center;
	line-height: 200px;
	font-size: 28px;
	color: $kGrayscale3;
}

.ui-datatable .ui-datatable-data tr.uploadFailure{
	background: lighten($kDandger, 45%);
}

.ui-datatable .ui-datatable-data tr.uploading{
	background: repeating-linear-gradient(
			-75deg,
			#ffffff,
			#ffffff 15px,
			$kGrayscale7 15px,
			$kGrayscale7 30px
	);
	background-attachment: fixed;

	-webkit-animation:progress 2s linear infinite;
	-moz-animation:progress 2s linear infinite;
	-ms-animation:progress 2s linear infinite;
	animation:progress 2s linear infinite;
}

@-webkit-keyframes progress{
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -60px 0px;
	}
}
@-moz-keyframes progress{
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -60px 0px;
	}
}
@-ms-keyframes progress{
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -60px 0px;
	}
}
@keyframes progress{
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -60px 0px;
	}
}

/* buttons */
.ui-button{
    font-weight: 700;
    border-radius: 3px;
}
.disabled{
    color: $kGrayscale4;
    background: transparent;
    border: 1px solid $kGrayscale4;
    cursor: none;
}
.ui-button.kButtonBranded {
    &.ui-state-default {
        color: #ffffff;
        background: $kPrimary;
    }
    &:hover {
        background: darken($kPrimary, 10%);
    }
    &:active {
        box-shadow: inset 0px 1px 3px 0 rgba(0, 0, 0, 0.50);
    }
    &:disabled {
        color: $kGrayscale4;
        background: transparent;
        border: 1px solid $kGrayscale4;
        cursor: none;
		box-shadow: none;
    }
}
.ui-button.kButtonDefault {
    &.ui-state-default{
        color: $kGrayscale1;
        background: #ffffff;
        border: 1px solid $kGrayscale4;
        height: 34px;
    }
    &:hover{
        color: $kPrimary;
    }
    &:active:not(:disabled){
        box-shadow: inset 0px 1px 3px 0 rgba(0,0,0,0.50);
    }
    &:disabled{
		color: $kGrayscale4;
		background: transparent;
		border: 1px solid $kGrayscale4;
		cursor: none;
    }
}
.ui-button.kButtonDanger {
    &.ui-state-default{
        height: 34px;
        color: #ffffff;
        background: $kDandger;
        border: 0px solid $kDandger;
    }
    &:hover{
        background: darken($kDandger, 10%);
        border: 0px solid darken($kDandger, 10%);
    }
    &:active:not(:disabled){
        box-shadow: inset 0px 1px 3px 0 rgba(0,0,0,0.50);
    }
    &:disabled{
        @extend .disabled;
    }
}

/* menu */
.ui-tieredmenu, .ui-menu-list {
    padding-left: 0px;
    padding-right: 0px;
    .ui-menuitem-link{
        padding-left: 12px;
    }
    .ui-menuitem .ui-menuitem-link:hover{
        background-color: $kGrayscale7;
    }
}

/* paginator */
.ui-paginator.ui-widget-header.ui-unselectable-text{
    background: transparent;
    border: none;
}
.ui-paginator-element{
    color: $kGrayscale2;
    font-weight: 400;
    outline: none;
}
.ui-paginator-page.ui-paginator-element{
    border-radius: 0px;
}
.ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-last{
    color: $kGrayscale2;
    font-weight: 400;
    margin-left: 0px;
    margin-right: 0px;
}
.ui-paginator .ui-paginator-pages {
    padding-left: 0px;
    padding-right: 0px;
}

.ui-paginator .ui-paginator-rpp-options {
    float: right;
    margin-top: 4px;
    color: $kGrayscale2;
    font-weight: 400;
	margin-right: 0px;
}
.ui-paginator-rpp-options.ui-widget.ui-state-default{
    border: none;
}
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-last{
    margin-left: -2px;
    margin-right: -2px;
    border-radius: 0px;
}
.ui-paginator .ui-paginator-page.ui-state-active{
    background: $kGrayscale6;
    color: $kGrayscale2;
    font-weight: 400;
}

/* tree */
.ui-tree .ui-tree-container{
    padding-left: 0px;
    padding-top: 0px;
    overflow: hidden;
}
.ui-tree.ui-widget.ui-widget-content.ui-corner-all.ui-tree-selectable{
    border: none;
}
.ui-treenode-label.ui-corner-all.ui-state-hover{
    background-color: #ffffff;
}
.ui-tree .ui-tree-toggler{
    color: $kGrayscale3;
    margin-right: 8px;
}
.ui-tree .ui-treenode-leaf-icon{
    width: 27px;
}
.ui-tree .ui-chkbox .ui-chkbox-icon{
    background-color: $kPrimary;
    border: 0px solid $kPrimary;
    margin-top: 0px;
    line-height: 14px;
    border-radius: 3px;
    color: #ffffff;
}
.ui-tree .ui-treenode-label.ui-state-hover, .ui-tree .ui-treenode-label.ui-state-highlight{
    background-color: #ffffff;
}
.ui-treenode-content {
	width: 100%;
	color: #a9a9a9;
	cursor: default;

	&.ui-treenode-selectable {
		color: $kGrayscale1;
		cursor: pointer;
	}

	.ui-chkbox {
		.ui-chkbox-box {
			border: none;
			&:hover {
				border: none;
			}
		}

		.ui-chkbox-icon {
			border: 1px solid $kGrayscale4;
			background-color: white;
			height: 100%;

			&.fa-check {
				background-color: $kPrimary;
				border: 1px solid $kPrimary;
			}

            &.fa-minus {
              background-color: $kPrimary;
              border: 1px solid $kPrimary;
            }
		}

	}

	&:not(.ui-treenode-selectable) {
		.ui-chkbox-icon {
			background-color: $kPrimary;
			border: 1px solid $kPrimary;
			cursor: default;

			&::before {
				content: "\E91A";
			}
		}
	}
}

/* Calendar */
.ui-calendar.ui-calendar-w-btn{
	border: 1px solid $kGrayscale4;
}
.ui-calendar{
    button.ui-state-default {
        height: 24px;
		border: 0px solid white;
		color: $kGrayscale4;
		&:active{
			box-shadow: none;
		}
    }
    .ui-datepicker{
        padding: 0;
    }
    .ui-datepicker-calendar{
        margin: 0;
    }
    .ui-datepicker-header{
        background: #01ACCD;
    }
    .ui-inputtext {
        width: 100px;
		float: right;
		margin-left: 28px;
		background-color: white;
		border: 0px solid white;
		outline: hidden;
		&:focus{
			border: 0px solid $kGrayscale4;
		}
    }

    button{
        @extend .ui-button.kButtonDefault;
    }
    .ui-datepicker-prev, .ui-datepicker-next{
        color: #ffffff !important;
		&:hover{
			background: #01ACCD !important;
			background-color: #01ACCD !important;
			border: 0px solid #01ACCD !important;
		}
    }
    .ui-datepicker-prev-hover, .ui-datepicker-next-hover, thead{
        background: #01ACCD;
        border: 0px solid #01ACCD;
    }
    .ui-widget-header{
        border: 0px solid #01ACCD;
        border-radius: 0px;
    }
    .ui-state-default{
        color: $kGrayscale1;
        &.ui-state-active{
            color: $kPrimary;
        }
    }
	.ui-timepicker.ui-widget-header{
		color: $kGrayscale1;
	}
	.ui-timepicker a{
		color: $kGrayscale1;
		font-size: 10px;
		text-decoration: none;
	}
    .link, a{
        font-size: 14px;
    }
    .ui-datepicker th{
        font-size: 12px;
        font-weight: 400;
        color: #ffffff;
		opacity: 0.7;
    }
    .ui-datepicker td{
        padding: 0px;
		width: 36px;
		height: 30px;
		border: 1px solid #d9d9d9;
		a{
			border: 0px solid white;
			text-align: center;
		}
    }

}
// tooltips
.ui-tooltip .ui-tooltip-text {
	background-color: #000000;
	color: #ffffff;
	font-size: 14px;
}
.ui-tooltip .ui-tooltip-arrow{
	font-size: 16px;
}
.ui-tooltip-top .ui-tooltip-arrow {
	border-top-color: #000000;
}
.ui-tooltip-bottom .ui-tooltip-arrow {
	border-bottom-color: #000000;
}
.ui-tooltip-right .ui-tooltip-arrow {
	border-right-color: #000000;
}
.ui-tooltip-left .ui-tooltip-arrow {
	border-left-color: #000000;
}

// auto complete

.ui-autocomplete .ui-autocomplete-panel {
    .ui-autocomplete-list-item {
        min-height: 50px;
		overflow: hidden;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid $kGrayscale5;
        display: flex;
        align-items: center;

        &:last-child {
            border-bottom: none;
        }
        &.ui-state-highlight, &:hover {
            background-color: $kGrayscale7;
        }
    }

    .ui-autocomplete-notification-item
    {
        min-height: 50px;
        border-left: none;
        border-right: none;
        display: flex;
        align-items: center;

        &.ui-state-highlight, &:hover {
            background-color: transparent;
            cursor: default;
        }
    }
}
.ui-autocomplete-input-token{
	input {
		width: auto;
		background-color: $kGrayscale6;
		border: 0px solid $kGrayscale6;
		color: $kGrayscale1;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box; /* Firefox, other Gecko */
		box-sizing: border-box; /* Opera/IE 8+ */
	}
}
.ui-autocomplete-token-icon.fa-close{
	flex: 0 0 auto;
	margin-top: -10px;
	right: 0px;
	padding: 4px;
	cursor: pointer;
	font-size: 12px;
	&:hover{
		background-color: rgba(255,255,255,0.3);
		border: 0px solid rgba(255,255,255,0.3);
		border-radius: 3px;
	}
}

// drop down
.ui-dropdown-item.ui-corner-all.ui-state-highlight{
	background-color: $kGrayscale6;
	color: #000000;
}
.ui-dropdown-panel .ui-dropdown-item:not(.ui-state-highlight):hover{
	background-color: $kGrayscale6;
}
.ui-dropdown-trigger .fa.fa-caret-down{
	margin-top: 2px;
	margin-left: 1px;
	position: absolute;
	color: $kGrayscale1;
}
.ui-dropdown-label.ui-inputtext{
	background-color: #ffffff;
}

// multi select
.ui-multiselect-item.ui-corner-all{
	label{
		font-size: 15px;
		font-weight: 400;
	}
}

// dialogues
.ui-dialog.ui-confirmdialog {
	.ui-dialog-titlebar {
		height: 80px;
		border-bottom: 1px solid $kGrayscale4;
		text-align: center;
		padding-top: 28px;
	}
	.ui-dialog-title{
		color: $kGrayscale1;
		font-size: 24px;
		font-weight: 700;
	}
	.ui-dialog-content.ui-widget-content{
		text-align: center;
		padding-top: 28px;
		padding-bottom: 28px;
	}
	.ui-dialog-buttonpane{
		text-align: center;
		button{
			color: $kGrayscale1;
			font-weight: 400;
			float: none;
			.ui-button-text{
				padding-right: 2.1em;
			}
			&:hover {
				color: $kPrimary;
			}
			&:active {
				box-shadow: inset 0px 1px 3px 0 rgba(0, 0, 0, 0.50);
			}
		}
	}
}

// messages
.ui-growl-item-container.ui-state-highlight{

	color: white;
	.ui-growl-title{
		display: none;
	}
	.ui-growl-image{
		margin-top: 5px;
		margin-left: 10px;
		&.fa-check:before{
			@extend .kIconcheck_large:before;
		}

        &.fa-minus:before{
          @extend .kIconpen:before;
        }

		&.fa-close:before{
			@extend .kIconwarning:before;
		}
	}
	&.ui-growl-message-success{
		background-color: $kSecondary;
	}
	&.ui-growl-message-error{
		background-color: $kDandger;
	}
}

// spinner
.ui-spinner.ui-widget{
	height: 24px;
	.ui-spinner-button{
		height: 13px;
	}
	.ui-spinner-up{
		top: 1px;
	}
	.ui-spinner-down{
		top: 13px;
	}
}
// tooltip
.ng-tooltip {
	max-width: 200px;
	background-color: black;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	border-radius: 3px;
	padding: 5px 8px;
	position: absolute;
	z-index: 1000;
	display: block;
	opacity: 0;
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}

.ng-tooltip-show {
	opacity: 1;
}

.ng-tooltip::after {
	content: "";
	position: absolute;
	border-style: solid;
}

.ng-tooltip-top::after {
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-color: black transparent transparent transparent;
}

.ng-tooltip-bottom::after {
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-color: transparent transparent black transparent;
}

.ng-tooltip-left::after {
	top: 50%;
	left: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-color: transparent transparent transparent black;
}

.ng-tooltip-right::after {
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-color: transparent black transparent transparent;
}
// spinner animation
.k-spinner-background {
	width: 100%;
	height: 100%;
	margin-top: -8px;
	background-color: rgba(255, 255, 255, 0.7);
	position: absolute;
	top: 0;
	left: 0;
}
.k-spinner-animation,
.k-spinner-animation:after {
	border-radius: 50%;
	width: 20px;
	height: 20px;
}
.k-spinner-animation {
	margin: 0px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 4px solid rgba(131,131,131, 0.2);
	border-right: 4px solid rgba(131,131,131, 0.2);
	border-bottom: 4px solid rgba(131,131,131, 0.2);
	border-left: 4px solid #838383;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
