$kmc-flags-path : './' !default;

.kFlag {
    display: inline-block;
    width: 16px;
    height: 11px;
    background: no-repeat center;
    background-size: contain;

    &.kFlag-ac {
        background-image: url("#{$kmc-flags-path}/ac.gif");
    }
    &.kFlag-ad {
        background-image: url("#{$kmc-flags-path}/ad.gif");
    }
    &.kFlag-ae {
        background-image: url("#{$kmc-flags-path}/ae.gif");
    }
    &.kFlag-af {
        background-image: url("#{$kmc-flags-path}/af.gif");
    }
    &.kFlag-ag {
        background-image: url("#{$kmc-flags-path}/ag.gif");
    }
    &.kFlag-ai {
        background-image: url("#{$kmc-flags-path}/ai.gif");
    }
    &.kFlag-al {
        background-image: url("#{$kmc-flags-path}/al.gif");
    }
    &.kFlag-am {
        background-image: url("#{$kmc-flags-path}/am.gif");
    }
    &.kFlag-an {
        background-image: url("#{$kmc-flags-path}/an.gif");
    }
    &.kFlag-ao {
        background-image: url("#{$kmc-flags-path}/ao.gif");
    }
    &.kFlag-aq {
        background-image: url("#{$kmc-flags-path}/aq.gif");
    }
    &.kFlag-ar {
        background-image: url("#{$kmc-flags-path}/ar.gif");
    }
    &.kFlag-as {
        background-image: url("#{$kmc-flags-path}/as.gif");
    }
    &.kFlag-at {
        background-image: url("#{$kmc-flags-path}/at.gif");
    }
    &.kFlag-au {
        background-image: url("#{$kmc-flags-path}/au.gif");
    }
    &.kFlag-aw {
        background-image: url("#{$kmc-flags-path}/aw.gif");
    }
    &.kFlag-ax {
        background-image: url("#{$kmc-flags-path}/ax.gif");
    }
    &.kFlag-az {
        background-image: url("#{$kmc-flags-path}/az.gif");
    }
    &.kFlag-ba {
        background-image: url("#{$kmc-flags-path}/ba.gif");
    }
    &.kFlag-bb {
        background-image: url("#{$kmc-flags-path}/bb.gif");
    }
    &.kFlag-bd {
        background-image: url("#{$kmc-flags-path}/bd.gif");
    }
    &.kFlag-be {
        background-image: url("#{$kmc-flags-path}/be.gif");
    }
    &.kFlag-bf {
        background-image: url("#{$kmc-flags-path}/bf.gif");
    }
    &.kFlag-bg {
        background-image: url("#{$kmc-flags-path}/bg.gif");
    }
    &.kFlag-bh {
        background-image: url("#{$kmc-flags-path}/bh.gif");
    }
    &.kFlag-bi {
        background-image: url("#{$kmc-flags-path}/bi.gif");
    }
    &.kFlag-bj {
        background-image: url("#{$kmc-flags-path}/bj.gif");
    }
    &.kFlag-bm {
        background-image: url("#{$kmc-flags-path}/bm.gif");
    }
    &.kFlag-bn {
        background-image: url("#{$kmc-flags-path}/bn.gif");
    }
    &.kFlag-bo {
        background-image: url("#{$kmc-flags-path}/bo.gif");
    }
    &.kFlag-br {
        background-image: url("#{$kmc-flags-path}/br.gif");
    }
    &.kFlag-bs {
        background-image: url("#{$kmc-flags-path}/bs.gif");
    }
    &.kFlag-bt {
        background-image: url("#{$kmc-flags-path}/bt.gif");
    }
    &.kFlag-bv {
        background-image: url("#{$kmc-flags-path}/bv.gif");
    }
    &.kFlag-bw {
        background-image: url("#{$kmc-flags-path}/bw.gif");
    }
    &.kFlag-by {
        background-image: url("#{$kmc-flags-path}/by.gif");
    }
    &.kFlag-bz {
        background-image: url("#{$kmc-flags-path}/bz.gif");
    }
    &.kFlag-ca {
        background-image: url("#{$kmc-flags-path}/ca.gif");
    }
    &.kFlag-catalonia {
        background-image: url("#{$kmc-flags-path}/catalonia.gif");
    }
    &.kFlag-cc {
        background-image: url("#{$kmc-flags-path}/cc.gif");
    }
    &.kFlag-cd {
        background-image: url("#{$kmc-flags-path}/cd.gif");
    }
    &.kFlag-cf {
        background-image: url("#{$kmc-flags-path}/cf.gif");
    }
    &.kFlag-cg {
        background-image: url("#{$kmc-flags-path}/cg.gif");
    }
    &.kFlag-ch {
        background-image: url("#{$kmc-flags-path}/ch.gif");
    }
    &.kFlag-ci {
        background-image: url("#{$kmc-flags-path}/ci.gif");
    }
    &.kFlag-ck {
        background-image: url("#{$kmc-flags-path}/ck.gif");
    }
    &.kFlag-cl {
        background-image: url("#{$kmc-flags-path}/cl.gif");
    }
    &.kFlag-cm {
        background-image: url("#{$kmc-flags-path}/cm.gif");
    }
    &.kFlag-cn {
        background-image: url("#{$kmc-flags-path}/cn.gif");
    }
    &.kFlag-co {
        background-image: url("#{$kmc-flags-path}/co.gif");
    }
    &.kFlag-cr {
        background-image: url("#{$kmc-flags-path}/cr.gif");
    }
    &.kFlag-cs {
        background-image: url("#{$kmc-flags-path}/cs.gif");
    }
    &.kFlag-cu {
        background-image: url("#{$kmc-flags-path}/cu.gif");
    }
    &.kFlag-cv {
        background-image: url("#{$kmc-flags-path}/cv.gif");
    }
    &.kFlag-cx {
        background-image: url("#{$kmc-flags-path}/cx.gif");
    }
    &.kFlag-cy {
        background-image: url("#{$kmc-flags-path}/cy.gif");
    }
    &.kFlag-cz {
        background-image: url("#{$kmc-flags-path}/cz.gif");
    }
    &.kFlag-de {
        background-image: url("#{$kmc-flags-path}/de.gif");
    }
    &.kFlag-dj {
        background-image: url("#{$kmc-flags-path}/dj.gif");
    }
    &.kFlag-dk {
        background-image: url("#{$kmc-flags-path}/dk.gif");
    }
    &.kFlag-dm {
        background-image: url("#{$kmc-flags-path}/dm.gif");
    }
    &.kFlag-do {
        background-image: url("#{$kmc-flags-path}/do.gif");
    }
    &.kFlag-dz {
        background-image: url("#{$kmc-flags-path}/dz.gif");
    }
    &.kFlag-ec {
        background-image: url("#{$kmc-flags-path}/ec.gif");
    }
    &.kFlag-ee {
        background-image: url("#{$kmc-flags-path}/ee.gif");
    }
    &.kFlag-eg {
        background-image: url("#{$kmc-flags-path}/eg.gif");
    }
    &.kFlag-eh {
        background-image: url("#{$kmc-flags-path}/eh.gif");
    }
    &.kFlag-england {
        background-image: url("#{$kmc-flags-path}/england.gif");
    }
    &.kFlag-er {
        background-image: url("#{$kmc-flags-path}/er.gif");
    }
    &.kFlag-es {
        background-image: url("#{$kmc-flags-path}/es.gif");
    }
    &.kFlag-et {
        background-image: url("#{$kmc-flags-path}/et.gif");
    }
    &.kFlag-europeanunion {
        background-image: url("#{$kmc-flags-path}/europeanunion.gif");
    }
    &.kFlag-fam {
        background-image: url("#{$kmc-flags-path}/fam.gif");
    }
    &.kFlag-fi {
        background-image: url("#{$kmc-flags-path}/fi.gif");
    }
    &.kFlag-fj {
        background-image: url("#{$kmc-flags-path}/fj.gif");
    }
    &.kFlag-fk {
        background-image: url("#{$kmc-flags-path}/fk.gif");
    }
    &.kFlag-fm {
        background-image: url("#{$kmc-flags-path}/fm.gif");
    }
    &.kFlag-fo {
        background-image: url("#{$kmc-flags-path}/fo.gif");
    }
    &.kFlag-fr {
        background-image: url("#{$kmc-flags-path}/fr.gif");
    }
    &.kFlag-ga {
        background-image: url("#{$kmc-flags-path}/ga.gif");
    }
    &.kFlag-gb {
        background-image: url("#{$kmc-flags-path}/gb.gif");
    }
    &.kFlag-gd {
        background-image: url("#{$kmc-flags-path}/gd.gif");
    }
    &.kFlag-ge {
        background-image: url("#{$kmc-flags-path}/ge.gif");
    }
    &.kFlag-gf {
        background-image: url("#{$kmc-flags-path}/gf.gif");
    }
    &.kFlag-gg {
        background-image: url("#{$kmc-flags-path}/gg.gif");
    }
    &.kFlag-gh {
        background-image: url("#{$kmc-flags-path}/gh.gif");
    }
    &.kFlag-gi {
        background-image: url("#{$kmc-flags-path}/gi.gif");
    }
    &.kFlag-gl {
        background-image: url("#{$kmc-flags-path}/gl.gif");
    }
    &.kFlag-gm {
        background-image: url("#{$kmc-flags-path}/gm.gif");
    }
    &.kFlag-gn {
        background-image: url("#{$kmc-flags-path}/gn.gif");
    }
    &.kFlag-gp {
        background-image: url("#{$kmc-flags-path}/gp.gif");
    }
    &.kFlag-gq {
        background-image: url("#{$kmc-flags-path}/gq.gif");
    }
    &.kFlag-gr {
        background-image: url("#{$kmc-flags-path}/gr.gif");
    }
    &.kFlag-gs {
        background-image: url("#{$kmc-flags-path}/gs.gif");
    }
    &.kFlag-gt {
        background-image: url("#{$kmc-flags-path}/gt.gif");
    }
    &.kFlag-gu {
        background-image: url("#{$kmc-flags-path}/gu.gif");
    }
    &.kFlag-gw {
        background-image: url("#{$kmc-flags-path}/gw.gif");
    }
    &.kFlag-gy {
        background-image: url("#{$kmc-flags-path}/gy.gif");
    }
    &.kFlag-hk {
        background-image: url("#{$kmc-flags-path}/hk.gif");
    }
    &.kFlag-hm {
        background-image: url("#{$kmc-flags-path}/hm.gif");
    }
    &.kFlag-hn {
        background-image: url("#{$kmc-flags-path}/hn.gif");
    }
    &.kFlag-hr {
        background-image: url("#{$kmc-flags-path}/hr.gif");
    }
    &.kFlag-ht {
        background-image: url("#{$kmc-flags-path}/ht.gif");
    }
    &.kFlag-hu {
        background-image: url("#{$kmc-flags-path}/hu.gif");
    }
    &.kFlag-id {
        background-image: url("#{$kmc-flags-path}/id.gif");
    }
    &.kFlag-ie {
        background-image: url("#{$kmc-flags-path}/ie.gif");
    }
    &.kFlag-il {
        background-image: url("#{$kmc-flags-path}/il.gif");
    }
    &.kFlag-im {
        background-image: url("#{$kmc-flags-path}/im.gif");
    }
    &.kFlag-in {
        background-image: url("#{$kmc-flags-path}/in.gif");
    }
    &.kFlag-io {
        background-image: url("#{$kmc-flags-path}/io.gif");
    }
    &.kFlag-iq {
        background-image: url("#{$kmc-flags-path}/iq.gif");
    }
    &.kFlag-ir {
        background-image: url("#{$kmc-flags-path}/ir.gif");
    }
    &.kFlag-is {
        background-image: url("#{$kmc-flags-path}/is.gif");
    }
    &.kFlag-it {
        background-image: url("#{$kmc-flags-path}/it.gif");
    }
    &.kFlag-je {
        background-image: url("#{$kmc-flags-path}/je.gif");
    }
    &.kFlag-jm {
        background-image: url("#{$kmc-flags-path}/jm.gif");
    }
    &.kFlag-jo {
        background-image: url("#{$kmc-flags-path}/jo.gif");
    }
    &.kFlag-jp {
        background-image: url("#{$kmc-flags-path}/jp.gif");
    }
    &.kFlag-ke {
        background-image: url("#{$kmc-flags-path}/ke.gif");
    }
    &.kFlag-kg {
        background-image: url("#{$kmc-flags-path}/kg.gif");
    }
    &.kFlag-kh {
        background-image: url("#{$kmc-flags-path}/kh.gif");
    }
    &.kFlag-ki {
        background-image: url("#{$kmc-flags-path}/ki.gif");
    }
    &.kFlag-km {
        background-image: url("#{$kmc-flags-path}/km.gif");
    }
    &.kFlag-kn {
        background-image: url("#{$kmc-flags-path}/kn.gif");
    }
    &.kFlag-kp {
        background-image: url("#{$kmc-flags-path}/kp.gif");
    }
    &.kFlag-kr {
        background-image: url("#{$kmc-flags-path}/kr.gif");
    }
    &.kFlag-kw {
        background-image: url("#{$kmc-flags-path}/kw.gif");
    }
    &.kFlag-ky {
        background-image: url("#{$kmc-flags-path}/ky.gif");
    }
    &.kFlag-kz {
        background-image: url("#{$kmc-flags-path}/kz.gif");
    }
    &.kFlag-la {
        background-image: url("#{$kmc-flags-path}/la.gif");
    }
    &.kFlag-lb {
        background-image: url("#{$kmc-flags-path}/lb.gif");
    }
    &.kFlag-lc {
        background-image: url("#{$kmc-flags-path}/lc.gif");
    }
    &.kFlag-li {
        background-image: url("#{$kmc-flags-path}/li.gif");
    }
    &.kFlag-lk {
        background-image: url("#{$kmc-flags-path}/lk.gif");
    }
    &.kFlag-lr {
        background-image: url("#{$kmc-flags-path}/lr.gif");
    }
    &.kFlag-ls {
        background-image: url("#{$kmc-flags-path}/ls.gif");
    }
    &.kFlag-lt {
        background-image: url("#{$kmc-flags-path}/lt.gif");
    }
    &.kFlag-lu {
        background-image: url("#{$kmc-flags-path}/lu.gif");
    }
    &.kFlag-lv {
        background-image: url("#{$kmc-flags-path}/lv.gif");
    }
    &.kFlag-ly {
        background-image: url("#{$kmc-flags-path}/ly.gif");
    }
    &.kFlag-ma {
        background-image: url("#{$kmc-flags-path}/ma.gif");
    }
    &.kFlag-mc {
        background-image: url("#{$kmc-flags-path}/mc.gif");
    }
    &.kFlag-md {
        background-image: url("#{$kmc-flags-path}/md.gif");
    }
    &.kFlag-me {
        background-image: url("#{$kmc-flags-path}/me.gif");
    }
    &.kFlag-mf {
        background-image: url("#{$kmc-flags-path}/fr.gif");
    }
    &.kFlag-mg {
        background-image: url("#{$kmc-flags-path}/mg.gif");
    }
    &.kFlag-mh {
        background-image: url("#{$kmc-flags-path}/mh.gif");
    }
    &.kFlag-mk {
        background-image: url("#{$kmc-flags-path}/mk.gif");
    }
    &.kFlag-ml {
        background-image: url("#{$kmc-flags-path}/ml.gif");
    }
    &.kFlag-mm {
        background-image: url("#{$kmc-flags-path}/mm.gif");
    }
    &.kFlag-mn {
        background-image: url("#{$kmc-flags-path}/mn.gif");
    }
    &.kFlag-mo {
        background-image: url("#{$kmc-flags-path}/mo.gif");
    }
    &.kFlag-mp {
        background-image: url("#{$kmc-flags-path}/mp.gif");
    }
    &.kFlag-mq {
        background-image: url("#{$kmc-flags-path}/mq.gif");
    }
    &.kFlag-mr {
        background-image: url("#{$kmc-flags-path}/mr.gif");
    }
    &.kFlag-ms {
        background-image: url("#{$kmc-flags-path}/ms.gif");
    }
    &.kFlag-mt {
        background-image: url("#{$kmc-flags-path}/mt.gif");
    }
    &.kFlag-mu {
        background-image: url("#{$kmc-flags-path}/mu.gif");
    }
    &.kFlag-mv {
        background-image: url("#{$kmc-flags-path}/mv.gif");
    }
    &.kFlag-mw {
        background-image: url("#{$kmc-flags-path}/mw.gif");
    }
    &.kFlag-mx {
        background-image: url("#{$kmc-flags-path}/mx.gif");
    }
    &.kFlag-my {
        background-image: url("#{$kmc-flags-path}/my.gif");
    }
    &.kFlag-mz {
        background-image: url("#{$kmc-flags-path}/mz.gif");
    }
    &.kFlag-na {
        background-image: url("#{$kmc-flags-path}/na.gif");
    }
    &.kFlag-nc {
        background-image: url("#{$kmc-flags-path}/nc.gif");
    }
    &.kFlag-ne {
        background-image: url("#{$kmc-flags-path}/ne.gif");
    }
    &.kFlag-nf {
        background-image: url("#{$kmc-flags-path}/nf.gif");
    }
    &.kFlag-ng {
        background-image: url("#{$kmc-flags-path}/ng.gif");
    }
    &.kFlag-ni {
        background-image: url("#{$kmc-flags-path}/ni.gif");
    }
    &.kFlag-nl {
        background-image: url("#{$kmc-flags-path}/nl.gif");
    }
    &.kFlag-no {
        background-image: url("#{$kmc-flags-path}/no.gif");
    }
    &.kFlag-np {
        background-image: url("#{$kmc-flags-path}/np.gif");
    }
    &.kFlag-nr {
        background-image: url("#{$kmc-flags-path}/nr.gif");
    }
    &.kFlag-nu {
        background-image: url("#{$kmc-flags-path}/nu.gif");
    }
    &.kFlag-nz {
        background-image: url("#{$kmc-flags-path}/nz.gif");
    }
    &.kFlag-om {
        background-image: url("#{$kmc-flags-path}/om.gif");
    }
    &.kFlag-pa {
        background-image: url("#{$kmc-flags-path}/pa.gif");
    }
    &.kFlag-pe {
        background-image: url("#{$kmc-flags-path}/pe.gif");
    }
    &.kFlag-pf {
        background-image: url("#{$kmc-flags-path}/pf.gif");
    }
    &.kFlag-pg {
        background-image: url("#{$kmc-flags-path}/pg.gif");
    }
    &.kFlag-ph {
        background-image: url("#{$kmc-flags-path}/ph.gif");
    }
    &.kFlag-pk {
        background-image: url("#{$kmc-flags-path}/pk.gif");
    }
    &.kFlag-pl {
        background-image: url("#{$kmc-flags-path}/pl.gif");
    }
    &.kFlag-pm {
        background-image: url("#{$kmc-flags-path}/pm.gif");
    }
    &.kFlag-pn {
        background-image: url("#{$kmc-flags-path}/pn.gif");
    }
    &.kFlag-pr {
        background-image: url("#{$kmc-flags-path}/pr.gif");
    }
    &.kFlag-ps {
        background-image: url("#{$kmc-flags-path}/ps.gif");
    }
    &.kFlag-pt {
        background-image: url("#{$kmc-flags-path}/pt.gif");
    }
    &.kFlag-pw {
        background-image: url("#{$kmc-flags-path}/pw.gif");
    }
    &.kFlag-py {
        background-image: url("#{$kmc-flags-path}/py.gif");
    }
    &.kFlag-qa {
        background-image: url("#{$kmc-flags-path}/qa.gif");
    }
    &.kFlag-re {
        background-image: url("#{$kmc-flags-path}/re.gif");
    }
    &.kFlag-ro {
        background-image: url("#{$kmc-flags-path}/ro.gif");
    }
    &.kFlag-rs {
        background-image: url("#{$kmc-flags-path}/rs.gif");
    }
    &.kFlag-ru {
        background-image: url("#{$kmc-flags-path}/ru.gif");
    }
    &.kFlag-rw {
        background-image: url("#{$kmc-flags-path}/rw.gif");
    }
    &.kFlag-sa {
        background-image: url("#{$kmc-flags-path}/sa.gif");
    }
    &.kFlag-sb {
        background-image: url("#{$kmc-flags-path}/sb.gif");
    }
    &.kFlag-sc {
        background-image: url("#{$kmc-flags-path}/sc.gif");
    }
    &.kFlag-scotland {
        background-image: url("#{$kmc-flags-path}/scotland.gif");
    }
    &.kFlag-sd {
        background-image: url("#{$kmc-flags-path}/sd.gif");
    }
    &.kFlag-se {
        background-image: url("#{$kmc-flags-path}/se.gif");
    }
    &.kFlag-sg {
        background-image: url("#{$kmc-flags-path}/sg.gif");
    }
    &.kFlag-sh {
        background-image: url("#{$kmc-flags-path}/sh.gif");
    }
    &.kFlag-si {
        background-image: url("#{$kmc-flags-path}/si.gif");
    }
    &.kFlag-sj {
        background-image: url("#{$kmc-flags-path}/sj.gif");
    }
    &.kFlag-sk {
        background-image: url("#{$kmc-flags-path}/sk.gif");
    }
    &.kFlag-sl {
        background-image: url("#{$kmc-flags-path}/sl.gif");
    }
    &.kFlag-sm {
        background-image: url("#{$kmc-flags-path}/sm.gif");
    }
    &.kFlag-sn {
        background-image: url("#{$kmc-flags-path}/sn.gif");
    }
    &.kFlag-so {
        background-image: url("#{$kmc-flags-path}/so.gif");
    }
    &.kFlag-sr {
        background-image: url("#{$kmc-flags-path}/sr.gif");
    }
    &.kFlag-st {
        background-image: url("#{$kmc-flags-path}/st.gif");
    }
    &.kFlag-sv {
        background-image: url("#{$kmc-flags-path}/sv.gif");
    }
    &.kFlag-sy {
        background-image: url("#{$kmc-flags-path}/sy.gif");
    }
    &.kFlag-sz {
        background-image: url("#{$kmc-flags-path}/sz.gif");
    }
    &.kFlag-ta {
        background-image: url("#{$kmc-flags-path}/ta.gif");
    }
    &.kFlag-tc {
        background-image: url("#{$kmc-flags-path}/tc.gif");
    }
    &.kFlag-td {
        background-image: url("#{$kmc-flags-path}/td.gif");
    }
    &.kFlag-tf {
        background-image: url("#{$kmc-flags-path}/tf.gif");
    }
    &.kFlag-tg {
        background-image: url("#{$kmc-flags-path}/tg.gif");
    }
    &.kFlag-th {
        background-image: url("#{$kmc-flags-path}/th.gif");
    }
    &.kFlag-tj {
        background-image: url("#{$kmc-flags-path}/tj.gif");
    }
    &.kFlag-tk {
        background-image: url("#{$kmc-flags-path}/tk.gif");
    }
    &.kFlag-tl {
        background-image: url("#{$kmc-flags-path}/tl.gif");
    }
    &.kFlag-tm {
        background-image: url("#{$kmc-flags-path}/tm.gif");
    }
    &.kFlag-tn {
        background-image: url("#{$kmc-flags-path}/tn.gif");
    }
    &.kFlag-to {
        background-image: url("#{$kmc-flags-path}/to.gif");
    }
    &.kFlag-tp {
        background-image: url("#{$kmc-flags-path}/tp.gif");
    }
    &.kFlag-tr {
        background-image: url("#{$kmc-flags-path}/tr.gif");
    }
    &.kFlag-tt {
        background-image: url("#{$kmc-flags-path}/tt.gif");
    }
    &.kFlag-tv {
        background-image: url("#{$kmc-flags-path}/tv.gif");
    }
    &.kFlag-tw {
        background-image: url("#{$kmc-flags-path}/tw.gif");
    }
    &.kFlag-tz {
        background-image: url("#{$kmc-flags-path}/tz.gif");
    }
    &.kFlag-ua {
        background-image: url("#{$kmc-flags-path}/ua.gif");
    }
    &.kFlag-ug {
        background-image: url("#{$kmc-flags-path}/ug.gif");
    }
    &.kFlag-uk {
        background-image: url("#{$kmc-flags-path}/uk.gif");
    }
    &.kFlag-um {
        background-image: url("#{$kmc-flags-path}/um.gif");
    }
    &.kFlag-us {
        background-image: url("#{$kmc-flags-path}/us.gif");
    }
    &.kFlag-uy {
        background-image: url("#{$kmc-flags-path}/uy.gif");
    }
    &.kFlag-uz {
        background-image: url("#{$kmc-flags-path}/uz.gif");
    }
    &.kFlag-va {
        background-image: url("#{$kmc-flags-path}/va.gif");
    }
    &.kFlag-vc {
        background-image: url("#{$kmc-flags-path}/vc.gif");
    }
    &.kFlag-ve {
        background-image: url("#{$kmc-flags-path}/ve.gif");
    }
    &.kFlag-vg {
        background-image: url("#{$kmc-flags-path}/vg.gif");
    }
    &.kFlag-vi {
        background-image: url("#{$kmc-flags-path}/vi.gif");
    }
    &.kFlag-vn {
        background-image: url("#{$kmc-flags-path}/vn.gif");
    }
    &.kFlag-vu {
        background-image: url("#{$kmc-flags-path}/vu.gif");
    }
    &.kFlag-wales {
        background-image: url("#{$kmc-flags-path}/wales.gif");
    }
    &.kFlag-wf {
        background-image: url("#{$kmc-flags-path}/wf.gif");
    }
    &.kFlag-ws {
        background-image: url("#{$kmc-flags-path}/ws.gif");
    }
    &.kFlag-ye {
        background-image: url("#{$kmc-flags-path}/ye.gif");
    }
    &.kFlag-yt {
        background-image: url("#{$kmc-flags-path}/yt.gif");
    }
    &.kFlag-yu {
        background-image: url("#{$kmc-flags-path}/yu.gif");
    }
    &.kFlag-za {
        background-image: url("#{$kmc-flags-path}/za.gif");
    }
    &.kFlag-zm {
        background-image: url("#{$kmc-flags-path}/zm.gif");
    }
    &.kFlag-zw {
        background-image: url("#{$kmc-flags-path}/zw.gif");
    }

}

