@import 'app-theme/_variables.scss';

.kLinkedEntriesTable {
  .kTableColumn {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .kDeletehBtn {
    float: right;
    font-size: 22px;
    border: none;
    min-width: inherit;
    outline: 0;
    color: $kGrayscale3;
    &:active {
      box-shadow: none;
    }
    &:hover {
      background-color: #ffffff;
      color: $kPrimary;
    }
  }

  .kThumbnailHolder {
    overflow: hidden;
    position: relative;
    width: 80px;
    height: 46px;
    background-color: $kGrayscale6;
    white-space: nowrap;
    text-align: center;
    border-radius: 3px;
    &.disable {
      cursor: auto;
    }
    img {
      position: absolute;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      margin: auto;
      width: 80px;
      height: auto;
      border-radius: 3px;
    }
  }

  .kHelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .emptymessage {
    line-height: 60px;
    font-size: 20px;
  }
}

:host ::ng-deep .kLinkedEntriesTable {
  .ui-table .ui-table-scrollable-body {
    max-height: 284px !important;
  }
}
