.entries {
  .ui-paginator {
    border: 0 none;
    background: transparent;

    /* 3 lines below to be removed - only for demo */
    float: left;
    position: absolute;
    margin-left: 30%;
  }
  .ui-datatable .ui-datatable-footer {
    background: #ebedf0;
    border-top: 1px solid #cacaca;
  }
  .ui-menu {
    width: 18.5em;
  }
  .ui-accordion .ui-accordion-header{
    border-top: none;
  }
  .ui-tree{
    width: 255px;
  }
}
