.entries {
  .ui-datatable .ui-paginator {
    border: 0 none;
    background: transparent;
  }
  .ui-datatable .ui-datatable-footer {
    background: #ebedf0;
    border-top: 1px solid #cacaca;
  }
  .ui-menu {
    width: 18.5em;
  }
}
