.entries {
  .ui-paginator {
    border: 0 none;
    background: transparent;

    /* 3 lines below to be removed - only for demo */
    float: left;
    position: absolute;
    margin-left: 30%;
  }

  /* TODO [kmc] Can move to library once fixing the scss issue */
  .table-row-image-temp-location
  {
    background-image: url('../assets/menu.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin:auto;
    height:20px;
  }

  .ui-datatable .ui-datatable-footer {
    background: #ebedf0;
    border-top: 1px solid #cacaca;
  }
  .ui-menu {
    width: 18.5em;
  }
  .ui-accordion .ui-accordion-header{
    border-top: none;
  }
  .ui-tree{
    width: 255px;
  }
  tr.ui-state-hover .ui-button{
    visibility: visible !important;
  }
}
.ui-menuitem-text{
  font-size: 13px !important;
}
.ui-tree-toggler{
    color: #c9c9c9 !important;
}
.ui-autocomplete{
    width: 100%;
    input{
        width: 250px;
    }
}
