<k-area-blocker [showLoader]="_loading">
  <div class="kContent kOverrideFAIcons">
    <span class="kTitle">{{'applications.content.categories.bActions.removeTags' | translate}}</span>
    <div class="kTags">
      <span class="kLabel">{{'applications.content.categories.bActions.removeTagsLabel' | translate}}</span>
      <span  *ngIf="!tags || !tags.length" class="kNoItems">{{'applications.content.categories.bActions.noTagsToRemove' | translate}}</span>
      <kAutoComplete *ngIf="tags && tags.length" [ngModel]="tags"
                     [tooltipResolver]="'__tooltip'"
                     [classField]="'__class'"
                     [allowMultiple]="true"
                     [limitToSuggestions]="false"
                     readonly="true"
                     (onUnselect)="_removeTag($event)">
      </kAutoComplete>
    </div>
    <div class="kFooter">
      <button type="button" [disabled]="tagsToRemove.length === 0" class="kButtonBranded" pButton label="{{'applications.content.categories.bActions.save' | translate}}" (click)="_apply()"></button>
    </div>
  </div>
</k-area-blocker>
