@import "app-theme/_variables.scss";

.kTitle{
  color: $kGrayscale1;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid $kGrayscale4;
  height: 78px;
  line-height: 78px;
}
.kContent{
  display: flex;
  flex-direction: column;
  height: 500px;
  .kLabel{
    display: block;
    margin-bottom: 12px;
  }
  .kTag{
    margin-bottom: 12px;
  }
  .kTags{
    padding: 12px;
    height: 330px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .kNoItems {
    text-align: center;
    width: 100%;
    display: block;
  }
}
.kFooter{
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100%;
  height: 66px;
  border-top: 1px solid $kGrayscale4;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .ui-autocomplete {
  width: 100%;
}
