<div class="kLinkedEntriesTable" [class.noResults]="!_entries?.length">
  <p-table
    [value]="_entries"
    dataKey="id"
    [scrollable]="true"
    scrollHeight="142px"
    [rowTrackBy]="_rowTrackBy"
    [(selection)]="selectedEntries"
    (selectionChange)="_onSelectionChange($event)">
    <ng-template pTemplate="header">
      <tr>
        <th *ngIf="allowMultiple" style="width:64px; padding-left: 24px">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="width: 100px" [ngStyle]="{'padding-left': allowMultiple ? '0' : '24px'}">
          {{'applications.content.entryDetails.metadata.thumbnail' | translate}}
        </th>
        <th>{{'applications.content.entryDetails.metadata.entryName' | translate}}</th>
        <th style="width: 120px">{{'applications.content.entryDetails.metadata.entryID' | translate}}</th>
        <th style="width: 60px"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-entry>
      <tr [pSelectableRow]="entry">

        <td *ngIf="allowMultiple" style="width:64px; padding-left: 24px">
          <p-tableCheckbox [value]="entry"></p-tableCheckbox>
        </td>

        <td style="width: 100px" [ngStyle]="{'padding-left': allowMultiple ? '0' : '24px'}">
          <div class="kThumbnailHolder"><span class="kHelper"></span>
            <img [src]="entry.thumbnailUrl" onError="this.onerror=null;this.style.display='none'">
          </div>
        </td>

        <td>
          <span [kTooltip]="entry.name" [maxWidth]="300" class="kTableColumn">{{entry.name}}</span>
        </td>
        <td style="width: 120px">{{entry.id}}</td>
        <td style="width: 60px">
          <button pButton class="kButtonDefault kDeletehBtn small" type="button" icon="kIcontrash"
                  [kTooltip]="'applications.content.entryDetails.metadata.removeEntry' | translate"
                  (click)="deleteEntry.emit(entry)"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <div class="emptymessage">{{_emptyMessage}}</div>
    </ng-template>
  </p-table>
</div>
