<k-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage">
    <div class="kContainer">
        <div class="kTitle">
            <span>{{'applications.settings.integrationSettings.teams.title' | translate}}</span>
        </div>
        <div class="kGenerateCode">
            <button type="button" class="kButtonDefault" (click)="newIntergationPopup.open()" pButton
                    label="{{'applications.settings.integrationSettings.teams.add' | translate}}"></button>
        </div>
        <div class="kExplanation">{{'applications.settings.integrationSettings.teams.subTitle' | translate}}</div>
      <div class="tableHolder">
          <kTeamsProfilesTable [_profiles]="_profiles" (onActionSelected)="_onActionSelected($event)"></kTeamsProfilesTable>
      </div>
    </div>
</k-area-blocker>

<kPopupWidget #newIntergationPopup data-aid="newIntergationPopup" [popupWidth]="380" [popupHeight]="320" [modal]="true" [preventPageScroll]="true" [closeOnClickOutside]="false">
    <ng-template>
<!--        <kWebexGenerateCode (onClose)="integrationCodePopup.close()"></kWebexGenerateCode>-->
        <span>newIntergationPopup</span>
    </ng-template>
</kPopupWidget>

<kPopupWidget #editProfile data-aid="editProfile" [popupWidth]="995" [slider]="true">
    <ng-template>
<!--        <kWebexEditProfile [profile]="_currentProfile" [parentPopup]="editProfile" (onSave)="saveProfile($event)"></kWebexEditProfile>-->
        <span>edit</span>
    </ng-template>
</kPopupWidget>


