<div class="kContent kOverrideFAIcons">
  <span class="kTitle">{{'applications.content.categories.bActions.changeContributionPolicy' | translate}}</span>
  <div class="kContainer">
      <span
        class="kLabel">{{'applications.content.categories.bActions.changeContributionPolicyLabel' | translate}}</span>
    <div class="kBlock">
      <p-radioButton class="kRadio" [(ngModel)]="_selectedPolicy" [value]="_availablePolicies.all" name="policy"
                     label="{{'applications.content.categories.noRestriction' | translate}}"></p-radioButton>
      <p-radioButton class="kRadio" [(ngModel)]="_selectedPolicy" [value]="_availablePolicies.membersWithContributionPermission"
                     name="policy" label="{{'applications.content.categories.private' | translate}}"></p-radioButton>
    </div>
  </div>
  <div class="kFooter">
    <button type="button" class="kButtonBranded" pButton label="{{'app.common.apply' | translate}}"
            (click)="_apply()"></button>
  </div>
</div>
