@import 'app-theme/_variables.scss';
@import "../live-form";

.kFieldMessage {
  padding-top: 10px;
  min-height: 32px;
  max-width: 310px;
  color: $kGrayscale3;
  font-size: 13px;
  line-height: 16px;
}

.kEnableRecordingOptions {
  display: block;
  padding-top: 28px;
}
.disabled {
    opacity: 0.35;
    cursor: default;
}
.kRow {
    position: relative;
    .kHelpTip {
        position: absolute;
        padding-top: 4px;
        font-size: 15px;
        margin-left: 8px;
        cursor: pointer;
        &:hover{
            color: $kSecondary;
        }
    }
}
.kTooltip {
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    span, a {
        white-space: nowrap;
    }
    .content1 {
        display: flex;
        margin-bottom: 4px;
        a {
            margin-left: 4px;
        }
    }
}
