<div class="kCustomSchemaWrap">
  <div class="kFloater">
    <div class="kHeader">
      <span class="kTitle">{{ _title }}</span>
      <div class="kButtons">
        <a class="kCancel" (click)="_cancel()">Cancel</a>
        <button type="button"
                class="kButtonBranded KButtonSave"
                pButton
                [disabled]="!customSchemaForm.isValid || !_isDirty || (!_schema?.isNew && (_kmcPermissions.CUSTOM_DATA_PROFILE_UPDATE | kDisabledIfNotPermitted))"
                [label]="'app.common.save' | translate"
                (click)="_saveSchema()"></button>
      </div>
    </div>
    <div class="kContainer">
      <div class="kSchemaFormWrapper">
        <kCustomSchemaForm #customSchemaForm [(schema)]="_schema"
                           [serverValidationError]="serverValidationError"
                           (schemaChanges)="_setDirty()"></kCustomSchemaForm>

        <div class="kCustomSchemaTableControls">
          <div *ngIf="_selectedFields.length" class="kBulkControls">
            <button pButton
                    class="kButtonDefault kMoveBtn kMoveBtnTop"
                    [disabled]="!_schema?.isNew && (_kmcPermissions.CUSTOM_DATA_PROFILE_UPDATE | kDisabledIfNotPermitted)"
                    icon="kIcondropdown_arrow_top"
                    (click)="_bulkMove('up')"></button>

            <button pButton
                    [disabled]="!_schema?.isNew && (_kmcPermissions.CUSTOM_DATA_PROFILE_UPDATE | kDisabledIfNotPermitted)"
                    [class.kMoveBtnBottomDisabled]="!_schema?.isNew && (_kmcPermissions.CUSTOM_DATA_PROFILE_UPDATE | kDisabledIfNotPermitted)"
                    class="kButtonDefault kMoveBtn kMoveBtnBottom"
                    icon="kIcondropdown_arrow_bottom"
                    (click)="_bulkMove('down')"></button>

            <button pButton class="kButtonDanger kBulkDeleteBtn"
                    [disabled]="!_schema?.isNew && (_kmcPermissions.CUSTOM_DATA_PROFILE_UPDATE | kDisabledIfNotPermitted)"
                    icon="kIcontrash"
                    (click)="_bulkRemove()"></button>

            <span class="kSelectedEntriesNum">
              {{ 'applications.settings.metadata.fields' | translate : [_profileFields.length] }}
            </span>

            <div class="kSelected">
              • {{ 'applications.settings.metadata.selected' | translate : [_selectedFields.length] }}
              <a class="kBulkCancel" (click)="_clearSelection()">
                {{'applications.settings.metadata.cancel' | translate}}
              </a>
            </div>
          </div>
          <div *ngIf="!_selectedFields.length" class="kDefaultControls">
            <button
              pButton
              class="kButtonDefault"
              [disabled]="(!_schema?.isNew && (_kmcPermissions.CUSTOM_DATA_PROFILE_UPDATE | kDisabledIfNotPermitted))"
              type="button"
              icon="kIconplus"
              iconPos="left"
              [label]="'applications.settings.metadata.addCustomField' | translate"
              (click)="_editField(null)"></button>

            <button
              pButton
              type="button"
              class="kButtonDefault"
              icon="kIconupload"
              iconPos="left"
              [disabled]="_schema?.isNew || !_schema?.downloadUrl || (_kmcPermissions.CUSTOM_DATA_PROFILE_ADD | kDisabledIfNotPermitted)"
              [label]="'applications.settings.metadata.downloadSchema' | translate"
              (click)="_downloadSchema()"></button>
          </div>
        </div>
      </div>
      <div class="kSchemaTableWrapper">
        <kCustomSchemaFieldsTable [fields]="_profileFields"
                                  [isNew]="_schema?.isNew"
                                  (onActionSelected)="_actionSelected($event)"
                                  [(selectedFields)]="_selectedFields"></kCustomSchemaFieldsTable>
      </div>
    </div>
  </div>
</div>

<kPopupWidget #customSchemaField
              [popupWidth]="586"
              [popupHeight]="613"
              [closeBtn]="true"
              [closeOnClickOutside]="false"
              [modal]="true">
  <ng-template>
    <kCustomSchemaFieldForm [field]="_selectedField"
                            [fields]="_profileFields"
                            [parentPopupWidget]="customSchemaField"
                            (onSave)="_saveField($event)"></kCustomSchemaFieldForm>
  </ng-template>
</kPopupWidget>
