<div class="kCustomSchemaWrap">
  <div class="kFloater">
    <div class="kHeader">
      <span class="kTitle">{{ _title }}</span>
      <div class="kButtons">
        <a class="kCancel" (click)="onClosePopupWidget.emit()">Cancel</a>
        <button type="button"
                class="kButtonBranded KButtonSave"
                pButton
                [label]="'app.common.save' | translate"
                (click)="_saveSchema()"></button>
      </div>
    </div>
    <div class="kContainer">
      <div class="kSchemaFormWrapper">
        <kCustomSchemaForm [(schema)]="_schema"></kCustomSchemaForm>
        <div class="kCustomSchemaTableControls">
          <div *ngIf="_selectedFields.length" class="kBulkControls">
            <button pButton
                    class="kButtonDefault kMoveBtn kMoveBtnTop"
                    icon="kIcondropdown_arrow_top"></button>
            <button pButton
                    class="kButtonDefault kMoveBtn kMoveBtnBottom"
                    icon="kIcondropdown_arrow_bottom"></button>
            <button pButton class="kButtonDanger kBulkDeleteBtn"
                    icon="kIcontrash"></button>
            <span class="kSelectedEntriesNum">
              {{ 'applications.settings.metadata.fields' | translate : [_schema?.parsedProfile?.items?.length || 0] }}
            </span>
            <div class="kSelected">
              • {{ 'applications.settings.metadata.selected' | translate : [_selectedFields.length] }}
              <a class="kBulkCancel" (click)="_clearSelection()">
                {{'applications.settings.metadata.cancel' | translate}}
              </a>
            </div>
          </div>
          <div *ngIf="!_selectedFields.length" class="kDefaultControls">
            <button
              pButton
              class="kButtonDefault"
              type="button"
              icon="kIconplus"
              iconPos="left"
              [label]="'applications.settings.metadata.addCustomField' | translate"></button>

            <button
              pButton
              type="button"
              class="kButtonDefault"
              icon="kIconupload"
              iconPos="left"
              [disabled]="_schema?.isNew"
              [label]="'applications.settings.metadata.downloadSchema' | translate"></button>
          </div>
        </div>
      </div>
      <div class="kSchemaTableWrapper">
        <kCustomSchemaFieldsTable [fields]="_schema?.parsedProfile?.items || []"
                                  [(selectedFields)]="_selectedFields"></kCustomSchemaFieldsTable>
      </div>
    </div>
  </div>
</div>
