<form class="kCustomSchemaForm" [formGroup]="_schemaForm" novalidate>
  <div class="kRow">
    <div class="kLabel">
        {{'applications.settings.metadata.form.customSchemaTitle' | translate}}
        <div class="kRequired" [class.kControlInvalid]="_nameField.touched && _nameField.invalid">*</div>
    </div>

    <div>
      <input class="kControl" pInputText
             [class.kControlInvalid]="_nameField.touched && _nameField.invalid"
             [formControl]="_nameField"
             (blur)="_nameField.setValue((_nameField.value || '').trim())">
        <div class="kErrorMessage" *ngIf="_nameField.touched && _nameField.invalid">
          <span *ngIf="_nameField.hasError('required')">
                {{'applications.settings.metadata.form.schemaNameRequired' | translate}}
            </span>
            <span *ngIf="_nameField.hasError('maxlength')">
                {{'applications.settings.metadata.form.schemaNameMaxLength' | translate:[_nameMaxLength]}}
            </span>
        </div>
    </div>
  </div>

  <div class="kRow">
    <span class="kLabel">{{'applications.settings.metadata.form.description' | translate}}</span>
    <div>
      <textarea class="kControl KTextArea"
                pInputText [formControl]="_descriptionField"></textarea>
    </div>
  </div>

  <div class="kRow">
    <span class="kLabel">{{'applications.settings.metadata.form.systemName' | translate}}</span>
    <div>
      <input class="kControl" pInputText
             [class.kControlInvalid]="_systemNameField.invalid"
             [formControl]="_systemNameField">
    </div>
  </div>

  <div class="kRow applyTo">
    <span class="kLabel">{{'applications.settings.metadata.form.applyTo' | translate}}</span>
    <div class="kSelectApplyTo">
      <p-radioButton class="kRadioLeft"
                     name="applyTo"
                     [value]="_applyToValues.entry"
                     formControlName="applyTo"
                     [label]="'applications.settings.metadata.form.entries' | translate"></p-radioButton>
      <p-radioButton class="kRadioRight"
                     name="applyTo"
                     [value]="_applyToValues.category"
                     formControlName="applyTo"
                     [label]="'applications.settings.metadata.form.categories' | translate"></p-radioButton>
        <p-radioButton class="kRadioRight"
                     name="applyTo"
                     [value]="_applyToValues.userEntry"
                       formControlName="applyTo"
                     [label]="'applications.settings.metadata.form.userEntry' | translate"></p-radioButton>
    </div>
  </div>
</form>
