@import '~mc-theme/src/default/scss/variables';

form{
	width: 100%;
}

.kUsers {
	padding-left: 12px;
	padding-right: 12px;
	width: 100%;
	box-sizing: border-box;
	.kTitle {
		color: $kGrayscale1;
		font-size: 20px;
		font-weight: 700;
	}
	.kUsersDetails{
		padding-right: 12px;
		margin-top: 12px;
		width: 100%;
		box-sizing: border-box;
		.kRow{
			display: flex;
			padding-top: 24px;
			align-items: center;
		}
		.kLabels{
			width: 180px;
			flex: 0 0 auto;
		}
		.changeOwner{
			margin-left: 12px;
		}
		.kSeparator{
			margin-top: 48px;
		}
	}
}
.kChangeOwner{
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	padding-left: 12px;
	padding-right: 12px;
	.kHeader {
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 30px;
	}
	.kFooter {
		text-align: center;
		height: 54px;
		border-top: 1px solid $kGrayscale4;
		position: absolute;
		bottom: 0;
		right: 0px;
		left: 0px;
		button {
			margin-top: 12px;
			margin-left: 4px;
			height: 28px;
			width: 84px;
		}
	}
	/deep/ .ui-autocomplete.ui-widget{
		width: 100%;
		input{
			width: 100%;
		}
	}
	/deep/ kAutoComplete{
		margin-top: 4px;
		width: 100%;
	}
}

:host /deep/ .ui-autocomplete.ui-widget{
	width: 100%;
	input{
		width: 100%;
	}
}


:host /deep/ kAutoComplete{
	width: 100%;
}

/deep/ kPopupWidget .kPopupWidget {
	overflow: visible !important;
}


