@import "app-theme/_variables.scss";

.kContainer {
  margin: 12px;
}

.kHeader {
  padding-top: 8px;
  margin-bottom: 5px;
}

.kAllStatuses {
  color: $kGrayscale3;
  line-height: 40px;
  letter-spacing: 0.1em;
  font-size: 13px;
  border-top: 1px solid $kGrayscale6;
  border-bottom: 1px solid $kGrayscale6;
  margin: 18px -12px 0;
  padding: 0 12px;
}

.kTreeContainer {
  overflow-y: auto;
  overflow-x: hidden;
  height: 340px;
  border-bottom: 1px solid $kGrayscale6;
  margin-left: -20px;
  padding-left: 20px;
  margin-right: -20px;
  width: 387px;
}

.kClose {
  float: right;
}

:host /deep/ .ui-treenode {
  vertical-align: top;
  // margin-top: 13px;
}

:host /deep/ {
  .kTreeNodeLabel {
    font-size: 14px;
    font-weight: bold;
    line-height: 43px;
    text-overflow: ellipsis;
    margin-left: 5px;
  }

  .kTreeNodeNumChildren {
    font-size: 14px;
    font-weight: 400;
    color: $kGrayscale3;
    margin-left: 10px;
  }
}
