<div
  [class.kSelectUnselect]="(_selectedStatuses && (_selectedStatuses.length-1 === _statuses[0].children.length || !_selectedStatuses.length))">
  <p-tree
    [value]="_statuses"
    selectionMode="checkbox"
    [(selection)]="_selectedStatuses"
    (onNodeSelect)="onNodeSelect.emit($event)"
    (onNodeUnselect)="onNodeUnselect.emit($event)">
    <ng-template let-node pTemplate="default">
      <span class="kTreeNodeLabel">{{node.label}}</span>
      <span class="kTreeNodeNumChildren" *ngIf="node.children">{{node.children.length}}</span>
    </ng-template>
  </p-tree>
</div>
