@import "app-theme/_variables.scss";

:host /deep/ {
  .kTreeNodeLabel {
    font-size: 14px;
    font-weight: bold;
    line-height: 43px;
    text-overflow: ellipsis;
    margin-left: 5px;
  }

  .kTreeNodeNumChildren {
    font-size: 14px;
    font-weight: 400;
    color: $kGrayscale3;
    margin-left: 10px;
  }
}
