  <div class="kBulkLogTable" [class.noResults]="!_bulkLog?.length">

    <p-table
            [scrollable]="true"
            scrollHeight="100%"
            [value]="_bulkLog"
            dataKey="id"
            [rowTrackBy]="rowTrackBy"
            [defaultSortOrder]="_defaultSortOrder"
            [(selection)]="selectedBulkLogItems"
            [resizableColumns]="true"
            (selectionChange)="_onSelectionChange($event)"
            (onColResize)="_columnsResizeManager.onColumnResize($event)"
            kStickyHeader [sticksTo]="'bulklogTags'" stickyClass="stickyHeader" [stickyId]="'bulklogTable'">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col [ngStyle]="{'width': '44px', 'padding-left': '13px'}">
                <col data-cid="name" [ngStyle]="{'width': '350px'}">
                <col data-cid="type" [ngStyle]="{'width': '90px'}">
                <col data-cid="user">
                <col data-cid="time">
                <col data-cid="count" [ngStyle]="{'width': '80px'}">
                <col data-cid="status">
                <col [ngStyle]="{'width': '80px'}" *ngIf="_actionsAllowed">
            </colgroup>
        </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th [ngStyle]="{'width': '44px', 'padding-left': '13px'}">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th data-cid="name" [ngStyle]="{'width': '350px'}" pResizableColumn>
            {{'applications.content.bulkUpload.table.fileName' | translate}}
          </th>
          <th data-cid="type" [ngStyle]="{'width': '90px'}" pResizableColumn>
            {{'applications.content.bulkUpload.table.uploadedItem' | translate}}
          </th>
          <th data-cid="user" pResizableColumn>
            {{'applications.content.bulkUpload.table.uploadedBy' | translate}}
          </th>
          <th data-cid="time" pResizableColumn>
            {{'applications.content.bulkUpload.table.uploadedOn' | translate}}
          </th>
          <th data-cid="count" [ngStyle]="{'width': '80px'}" pResizableColumn>
            {{'applications.content.bulkUpload.table.numOfObjects' | translate}}
          </th>
          <th data-cid="status">
            {{'applications.content.bulkUpload.table.status' | translate}}
          </th>
          <th id="actions" [ngStyle]="{'width': '80px'}" *ngIf="_actionsAllowed"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-bulkLogItem>
        <tr [pSelectableRow]="bulkLogItem">

          <td [ngStyle]="{'width': '44px', 'padding-left': '13px'}">
            <p-tableCheckbox [value]="bulkLogItem"></p-tableCheckbox>
          </td>

          <td class="ui-resizable-column">
            <span class="kBulkLogFileName" [kTooltip]="bulkLogItem.fileName">{{ bulkLogItem.fileName }}</span>
          </td>

          <td class="ui-resizable-column">
            <span [kTooltip]="bulkLogItem.bulkUploadObjectType | kBulkLogTableObjectType">
              {{bulkLogItem.bulkUploadObjectType | kBulkLogTableObjectType}}
            </span>
          </td>

          <td class="ui-resizable-column">
            <span [kTooltip]="bulkLogItem.uploadedBy || bulkLogItem.uploadedByUserId">
              {{bulkLogItem.uploadedBy || bulkLogItem.uploadedByUserId}}
            </span>
          </td>

          <td class="ui-resizable-column">
              <span class="kTableColumn" [kTooltip]="bulkLogItem.uploadedOn | kmcDate" [showOnEllipsis]="true">
                  {{bulkLogItem.uploadedOn | kmcDate}}
              </span>
          </td>

          <td class="ui-resizable-column">
              <span class="kTableColumn"
                    [kTooltip]="!bulkLogItem.numOfObjects || bulkLogItem.numOfObjects < 0 ? 0 : bulkLogItem.numOfObjects"
                    [showOnEllipsis]="true">
                  {{!bulkLogItem.numOfObjects || bulkLogItem.numOfObjects < 0 ? 0 : bulkLogItem.numOfObjects}}</span>
          </td>

          <td class="ui-resizable-column">
              <div class="kStatusRow">
                  <i [class]="bulkLogItem.status | kBulkLogTableStatusIcon" [kTooltip]="bulkLogItem.error ? bulkLogItem.error : ''"></i>
                  <span class="kTableColumn" [kTooltip]="bulkLogItem.status | kBulkLogTableStatus" [showOnEllipsis]="true">
                     {{bulkLogItem.status | kBulkLogTableStatus}}
                  </span>
              </div>
          </td>

          <td [ngStyle]="{'width': '80px'}" *ngIf="_actionsAllowed">
            <div class="kBulkLogTableActions">
              <button class="kMoreActionsButton" type="button" pButton icon="kIconmore" (click)="_openActionsMenu($event, bulkLogItem)"></button>
            </div>
          </td>

        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <div class="emptymessage">
            <div class="kEmptyMessage">{{_emptyMessage}}</div>
        </div>
      </ng-template>
    </p-table>

    <p-menu #actionsmenu [popup]="true" [model]="_items" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
  </div>
