<k-area-blocker kFillHeight
                [showLoader]="(_store.state$ | async)?.loading || this._deferredLoading"
                [message]="_blockerMessage">
  <div class="kBulkLogTable" [class.noResults]="!_bulkLog.length">
    <p-dataTable #dataTable
                 dataKey="id"
                 scrollable="true"
                 scrollHeight="100%"
                 [value]="_bulkLog"
                 [sortField]="filter.sortBy"
                 [sortOrder]="filter.sortDirection | kPrimeTableSortDirection"
                 [emptyMessage]="_emptyMessage"
                 [rowTrackBy]="rowTrackBy"
                 (selectionChange)="onSelectionChange($event)"
                 [(selection)]="selectedBulkLogItems">
      <p-column [style]="{'width':'44px', 'padding-left': '14px'}"
                selectionMode="multiple"></p-column>

      <p-column field="bulkUploadType"
                header=""
                [style]="{'width':'40px'}">
        <ng-template let-col let-bulkLogItem="rowData" pTemplate="body">
          <span>{{ bulkLogItem[col.field] | kBulkLogTableTypeIcon }}</span>
        </ng-template>
      </p-column>

      <p-column field="fileName"
                [header]="'applications.content.bulkUpload.table.fileName' | translate">
      </p-column>

      <p-column field="bulkUploadObjectType"
                [header]="'applications.content.bulkUpload.table.uploadedItem' | translate">
        <ng-template let-col let-bulkLogItem="rowData" pTemplate="body">
          <span>{{ bulkLogItem[col.field] | kBulkLogTableObjectType }}</span>
        </ng-template>
      </p-column>

      <p-column field="uploadedBy"
                [header]="'applications.content.bulkUpload.table.uploadedBy' | translate">
        <ng-template let-col let-bulkLogItem="rowData" pTemplate="body">
          <span>{{ bulkLogItem['uploadedBy'] || bulkLogItem['uploadedByUserId'] }}</span>
        </ng-template>
      </p-column>

      <p-column field="uploadedOn"
                [header]="'applications.content.bulkUpload.table.uploadedOn' | translate">
        <ng-template let-col let-bulkLogItem="rowData" pTemplate="body">
          <span>{{ bulkLogItem[col.field] | kDate }}</span>
        </ng-template>
      </p-column>

      <p-column field="numOfObjects"
                [header]="'applications.content.bulkUpload.table.numOfObjects' | translate">
        <ng-template let-col let-bulkLogItem="rowData" pTemplate="body">
          <span>{{ !bulkLogItem[col.field] || bulkLogItem[col.field] < 0 ? 0 : bulkLogItem[col.field] }}</span>
        </ng-template>
      </p-column>

      <p-column field="status"
                [header]="'applications.content.bulkUpload.table.status' | translate">
        <ng-template let-col let-bulkLogItem="rowData" pTemplate="body">
          <span>{{ bulkLogItem[col.field] | kBulkLogTableStatus }}</span>
        </ng-template>
      </p-column>

      <p-column field="error"
                [header]="'applications.content.bulkUpload.table.notification' | translate">
        <ng-template let-col let-bulkLogItem="rowData" pTemplate="body">
          <span>{{ bulkLogItem[col.field] | kBulkLogTableNotification }}</span>
        </ng-template>
      </p-column>

      <p-column header="" [style]="{'overflow':'visible', 'width':'80px'}">
        <ng-template let-col let-bulkLogItem="rowData" pTemplate="body">
          <div class="kBulkLogTableActions">
            <button type="button" pButton icon="kIconmore" (click)="openActionsMenu($event, bulkLogItem)"></button>
          </div>
        </ng-template>
      </p-column>
    </p-dataTable>
    <p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'"></p-menu>
  </div>
</k-area-blocker>
