@import 'app-theme/_variables.scss';

.kSections{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background-color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 3px;
	display: block;
	ul {
		list-style-type: none;
		padding-left: 0px;
		width: 100%;
		li{
			line-height: 44px;
			cursor: pointer;
			color: $kGrayscale3;
			font-weight: 700;
			padding-left: 24px;
			&:hover{
				color: $kTertiary;
			}
			&.active{
				color: $kTertiary;
				cursor: default;
			}
		}
	}
}

:host /deep/ .kStickySections{
	border-top: 2px solid $kGrayscale6;
}
