<k-area-blocker [showLoader]="_loading">
	<kSticky #playlistSections stickyId="playlistSections" [sticksTo]="'playlistHeader'" [scrollOffset]="120" [stickyClass]="'kStickySections'">
		<div class="kSections">
			<ul *ngIf="_showList">
				<li [class.active]="section.attached" *ngFor="let section of _sections">
					<div (click)="_navigateToSection(section)" [class.kSectionHasErrors]="!section.isValid">
						{{section.label}}
					</div>
				</li>
			</ul>
		</div>
	</kSticky>
</k-area-blocker>
