<k-area-blocker [showLoader]="_loading">
	<kSticky #playlistSections stickyId="playlistSections" [sticksTo]="'playlistHeader'" [scrollOffset]="120" [stickyClass]="'kStickySections'">
		<div class="kSections">
			<ul *ngIf="this.sections && this.sections.length > 0">
				<li [class.active]="section.isActive" *ngFor="let section of sections">
					<div (click)="navigateToSection(section)" [class.kSectionHasErrors]="section.hasErrors">
						{{section.name}}
					</div>
				</li>
			</ul>
		</div>
	</kSticky>
</k-area-blocker>
