@import 'app-theme/_variables.scss';

.kSections{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background-color: #ffffff;
	border: 0px solid #ffffff;
	border-radius: 3px;
	display: block;
}

:host /deep/ .kStickySections{
	border-top: 2px solid $kGrayscale6;
}
