@import "app-theme/_variables.scss";

.kRefineFilters {
  margin: 12px;
}

.kFiltersGroupTitle {
  color: $kGrayscale3;
  line-height: 40px;
  letter-spacing: 0.1em;
  font-size: 13px;
  border-top: 1px solid $kGrayscale6;
  border-bottom: 1px solid $kGrayscale6;
  margin-left: -12px;
  padding-left: 20px;
  margin-right: -20px;
  margin-bottom: 8px;
}

.kTreeContainer {
  overflow-y: auto;
  overflow-x: hidden;
  height: 340px;
  border-bottom: 1px solid $kGrayscale6;
  margin-left: -20px;
  padding-left: 20px;
  margin-right: -20px;
  width: 387px;
  position: relative;
}

.kDateRange {
  display: flex;
  align-items: center;
}

.kClearAll {
  margin-bottom: 6px;
  margin-top: 4px;
  display: block;
}

.kClose {
  float: right;
}

.kError {
  font-size: 14px;
  color: $kDandger;
}

.kTreeNodeLabel {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  line-height: 43px;
  color: $kGrayscale1;
  text-overflow: ellipsis;
  margin-left: 5px;
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: $kGrayscale5;
  border: none;
}

.kTreeNodeNumChildren {
  font-size: 14px;
  font-weight: 400;
  color: $kGrayscale3;
  margin-left: 10px;
}

/* prevent calendars from being cut by the popup widget borders */
:host ::ng-deep .kPullLeft30 .p-datepicker {
  margin-left: -30px;
  left: 0px !important;
}

:host ::ng-deep .kPullLeft90 .p-datepicker {
  margin-left: -90px;
  left: 0px !important;
}

:host ::ng-deep .kDateRange .kDateRangeFirst .p-calendar.p-calendar-w-btn {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

:host ::ng-deep .p-calendar.p-calendar-w-btn {
  border-radius: 0px;
}

:host ::ng-deep .p-calendar .p-inputtext {
  width: 120px;
}

:host ::ng-deep .kDateRange .kDateRangeLast .p-calendar.p-calendar-w-btn {
  border-left: 0px solid $kGrayscale4;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

:host ::ng-deep .p-tree .p-tree-container {
  overflow: visible;
}

:host ::ng-deep .p-tree .ui-chkbox {
  vertical-align: top;
  margin-top: 14px;
}
