@import 'app-theme/_variables.scss';
@import '../../styles/scss/kmc-logo';

.kMainMenuWrapper{
    height: 54px;
}
.kDisabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}
#announcements {
    margin-right: 12px;
}
.appMenu {
    background: $menuBkgColor; /* Old browsers */
    background: -moz-linear-gradient(left, #004194 0%, #006EFA 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #004194 0%,#006EFA 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #004194 0%,#006EFA 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    height: 54px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 700;
    width: 100%;
    a.kMenuLink {
        color: $mainLinkColor;
        outline: 0;
        opacity: 0.6;
        display: block;
        cursor: pointer;
        line-height: 54px;
        font-size: 12px;
        margin-right: 30px;
        letter-spacing: 1.2px;
        text-decoration: none;
		&.disabled{
			color: $kGrayscale4;
			border: 0px solid $menuBkgColor;
			pointer-events: none;
		}
        &:hover {
            text-decoration: none;
            color: $mainLinkHoverColor;
            opacity: 1;
        }
        &.activeLink {
            opacity: 1;
            text-decoration: none;
            color: $mainLinkActiveColor;
        }
    }
    i {
        display: flex;
        margin-left: 12px;
        margin-right: 12px;
        color: $headerTextColor;
        font-size: 24px;
        cursor: pointer;
        position: relative;
        &:hover , &.open {
            opacity: 1;
            color: $mainLinkHoverColor;
            i {
                color: $mainLinkHoverColor;
                opacity: 1;
            }
        }
    }
    img {
        float: left;
        margin-top: 4px;
    }
    hr{
        height: 1px;
        margin-left: -20px;
        margin-right: -20px;
        border: 0;
        border-top: 1px solid $kGrayscale6;
    }
    .widgetLink {
        color: $widgetLinkColor;
    }
    .langMenu {
        margin-right: 16px;
        margin-left: 10px;
        margin-top: 15px;
        float: right;
    }
    .kMenu-left{
        opacity: 1;
        display: flex;
        align-items: center;
        transition: all 0.25s ease-in-out;
    }
    .kMenu-right {
        margin-left: auto;
        display: flex;
        align-items: center;

        .kIconhelp.has-notification:after {
          content: ' \25CF';
          color: lighten(#00a784, 10%);
          position: absolute;
          right: -4px;
          bottom: -4px;
        }
    }
    .kUserName {
        display: flex;
        align-items: center;
        color: #fff;
        cursor: pointer;
        font-weight: 400;
        margin-left: 12px;
        font-size: 14px;
        i {
            font-size: 10px;
            margin-left: 6px;
            margin-top: 2px;
        }

        .kUserInitials {
            height: 34px;
            width: 34px;
            background: rgba(255,255,255,0.2);
            border-radius: 50%;
            color: #fff;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .kLogo {
        color: white;
        font-size: 32px;
        margin-left: 16px;
        margin-right: 18px;
    }
    .kAnalytics {
        display: flex;
        align-items: center;
        padding-bottom: 2px;
        width: 140px;
        div{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 22px;
            height: 22px;
            border: 0px solid white;
            border-radius: 3px;
            margin-right: 4px;
            flex: 0 0 auto;
            &:hover{
                background-color: rgba(255,255,255,0.2);
            }
            i{
                color: white;
                font-size: 12px;
                font-weight: bold;
                display: block;
                margin-left: 0px;
                margin-right: 0px;
            }
        }
        .k-analytics-logo{
            margin-top: 3px;
            flex: 0 0 auto;
            cursor: default;
        }
    }
}

.kHelpMenu{
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;
    border: 0px solid white;
    border-radius: 3px;
    .kHelpTitle{
        font-size: 12px;
        margin-top: 20px;
        letter-spacing: 1.5px;
        color: $kGrayscale3;
    }
    .kDisabled{
        color: $kGrayscale5;
        cursor: default;
    }
    .kHelpLink{
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        color: $kGrayscale1;
        &:hover{
            color: #0D499D;
        }
    }
    .kHelpLinkHidden {
        display: none;
    }
    .kContexualHelp{
        // background-color: $kGrayscale7;
        margin: -15px;
        padding: 15px;
        padding-top: 0px;
        margin-top: 0px;
    }
}

.appSubMenu {
    background-color: white;
    border-bottom: 2px solid $kGrayscale5;

    .kSubMenuHolder {
        justify-content: space-between;
    }

    .kSubMenu {
        display: flex;
    }
}
.kNotificationsBar {
    background-color: $kDandger;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    .notification {
        color: white;
        font-size: 14px;
        font-weight: 700;
        margin-right: 8px;
    }
    .kNotificationBtn {
        font-size: 13px;
        color: white;
        font-weight: 700;
        height: 24px;
        background: rgba(255, 255, 255, 0.2);
        margin-left: 8px;
        &:hover {
            background: rgba(255, 255, 255, 0.4);
        }
        &:active {
            box-shadow: 0 0 0 1px rgb(255 255 255 / 60%);
        }
    }
}
.kHideMainMenu {
    height: 0px;
    overflow: hidden;
}
.kHideMainMenu::ng-deep .kStickyWrapper {
    height: 0px !important;
}
.kStartPlan {
    margin-right: 8px;
    background: rgba(0,0,0,0.5);
    &:hover {
        background: rgba(0,0,0,0.3);
    }
}
.kHeader {
    height: 78px;
    width: 100%;
    text-align: center;
    padding-top: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid $kGrayscale4;
    .kTitle {
        color: #333333;
        font-size: 24px;
        font-weight: 700;
    }
}
.kContainer {
    margin: 28px;
    min-height: 169px;
    .spaceTop{
      margin-top: 24px;
    }
}
.kFooter {
    height: 66px;
    border-top: 1px solid $kGrayscale4;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        height: 34px;
    }
}

@media screen and (max-width: 1200px) {
    .appSubMenu {
        .kSubMenuHolder {
            width: 1024px;
        }
        padding-left: 8px;
    }
}

// prioritize sticky elements of header above other sticky elements in the page
:host ::ng-deep .kStickyClass{
    z-index: 550 !important;
}
:host ::ng-deep .uploadMonitorPopup .tooltipUp{
    margin-left: 234px !important;
}
:host ::ng-deep .kPopupWidget {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .24);
}
