@import 'app-theme/_variables.scss';

a {
  color: $subLinkColor;
  line-height: $appMenuHeight;
  font-size: 12px;
  letter-spacing: 0.1em;
  letter-spacing: 0.5px;
  cursor: pointer;
  text-decoration: none;
  &.disabled {
    color: $kGrayscale4;
    border: 0px solid white;
    pointer-events: none;
  }
  &:hover {
    text-decoration: none;
    color: $menuBkgColor;
  }
  &.activeLink {
    text-decoration: none;
    color: $menuBkgColor;
  }
}

.linkMarker {
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: $menuBkgColor;
  opacity: 0;
  bottom: 0;
  transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
}

.subMenuContainer {
  position: relative;
  &.kLeft {
    margin-right: 30px;
  }
  &.kRight {
    margin-left: 30px;
  }
  &.active {
    > .linkMarker {
      opacity: 1;
    }
  }
    a {
        display: block;
        white-space: nowrap;
    }
}

@media screen and (max-width: 1310px) {
  .subMenuContainer {
    &.kLeft {
      margin-right: 20px;
    }
    &.kRight {
      margin-left: 20px;
    }
    a{
      font-size: 11px;
    }
  }
}
@media screen and (max-width: 1200px) {
    .subMenuContainer {
        &.kLeft {
            margin-right: 12px;
        }
        &.kRight {
            margin-left: 12px;
        }
        a{
            font-size: 11px;
        }
    }
}
