@import 'app-theme/_variables.scss';
@import '../../styles/scss/kmc-logo';

.kMainMenuWrapper{
    height: 54px;
}

.appMenu {
    background: $menuBkgColor; /* Old browsers */
    background: -moz-linear-gradient(left, #1b4a97 0%, #2364c3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1b4a97 0%,#2364c3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1b4a97 0%,#2364c3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 54px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 700;
    width: 100%;
    a {
        color: $mainLinkColor;
        outline: 0;
        opacity: 0.6;
        cursor: pointer;
        line-height: $appMenuHeight;
        font-size: 12px;
        letter-spacing: 0.1em;
        margin-right: 30px;
        letter-spacing: 0.5px;
        text-decoration: none;
		&.disabled{
			color: $kGrayscale4;
			border: 0px solid $menuBkgColor;
			pointer-events: none;
		}
        &:hover {
            text-decoration: none;
            color: $mainLinkHoverColor;
            opacity: 1;
        }
        &.activeLink {
            opacity: 1;
            text-decoration: none;
            color: $mainLinkActiveColor;
        }
    }
    i {
        display: flex;
        margin-left: 12px;
        margin-right: 12px;
        color: $headerTextColor;
        font-size: 24px;
        cursor: pointer;
        position: relative;
        &:hover , &.open {
            opacity: 1;
            color: $mainLinkHoverColor;
            i {
                color: $mainLinkHoverColor;
                opacity: 1;
            }
        }
    }
    img {
        float: left;
        margin-top: 4px;
    }
    hr{
        height: 1px;
        margin-left: -20px;
        margin-right: -20px;
        border: 0;
        border-top: 1px solid $kGrayscale6;
    }
    .widgetLink {
        color: $widgetLinkColor;
    }
    .langMenu {
        margin-right: 16px;
        margin-left: 10px;
        margin-top: 15px;
        float: right;
    }
    .kMenu-right {
        margin-left: auto;
        display: flex;
        align-items: center;

        .kIconhelp.has-notification:after {
          content: ' \25CF';
          color: lighten($kPrimary, 10%);
          position: absolute;
          right: -4px;
          bottom: -4px;
        }
    }
    .kUserName {
        display: flex;
        align-items: center;
        opacity: 0.6;
        color: $headerTextColor;
        cursor: pointer;
        font-weight: 400;
        margin-left: 12px;
        font-size: 14px;
        &:hover, &.open {
            opacity: 1;
            color: $mainLinkHoverColor;
            i {
                color: $mainLinkHoverColor;
                opacity: 1;
            }
        }
        i {
            font-size: 10px;
            margin-left: 6px;
            margin-top: 2px;
        }
    }
    .kLogo {
        color: white;
        font-size: 32px;
        margin-left: 16px;
    }
    .kBeta{
        width:30px;
        height:15px;
        margin-right: 20px;
        margin-top: -10px;
    }
}

.kHelpMenu{
    background-color: white;
    padding-left: 12px;
    overflow: hidden;
    .kHelpTitle{
        font-size: 14px;
        color: $kGrayscale3;
    }
    .kDisabled{
        color: $kGrayscale5;
        cursor: default;
    }
    .kHelpLink{
        font-size: 14px;
        cursor: pointer;
        color: $kGrayscale1;
        &:hover{
            color: #000000;
        }
    }
    .kHelpLinkHidden {
        display: none;
    }
    .kContexualHelp{
        background-color: $kGrayscale7;
        margin: -15px;
        padding: 15px;
        padding-top: 0px;
        margin-top: 0px;
    }
}

.appSubMenu {
    background-color: white;
    border-bottom: 2px solid $kGrayscale5;

    .kSubMenuHolder {
        justify-content: space-between;
    }

    .kSubMenu {
        display: flex;
    }
}

// prioritize sticky elements of header above other sticky elements in the page
:host /deep/ .kStickyClass{
    z-index: 550 !important;
}
:host /deep/ .uploadMonitorPopup .tooltipUp{
    margin-left: 234px !important;
}
