<kSticky stickyId="header" [stickyClass]="'kStickyClass'">
    <div class="kMainMenuWrapper">
        <kLazyModuleLoadingProgressBar></kLazyModuleLoadingProgressBar>
        <div #appmenu class="appMenu">

            <div class="kIconkaltura_logo kLogo"></div>

            <div #leftMenu class="kMenu-left">
                <div *ngIf="menuID==='analytics'" class="kAnalytics">
                    <div (click)="navigateToDefault()">
                        <i class="kIcondropdown_arrow_left"></i>
                    </div>
                    <i class="k-analytics-logo" (click)="leftMenuConfig[0]?.open()"></i>
                </div>

                <div *ngFor="let item of leftMenuConfig">
                    <kMultiAccountMenu *ngIf="menuID==='analytics' && _isMultiAccount && item.customMenuItemId==='analyticsMultiAccount'" style="width: 120px; height: 40px" (menuChange)="item.customMenuItemCallback($event)">account</kMultiAccountMenu>
                    <a class="kMenuLink" *ngIf="item.menuTitle.length && !item.icon"
                       [class.activeLink]="item === selectedMenuItem"
                       (click)="item.open()">
                            {{item.menuTitle | uppercase}}
                    </a>
                </div>

                <kUploadButton></kUploadButton>
            </div>

            <div class="kMenu-right">
                <k-logs-record mode="button"
                               *ngIf="(_kmcLogs.logsRecordMode | async).enabled"
                               [logLevel]="(_kmcLogs.logsRecordMode | async).logLevel"></k-logs-record>
                <kUploadMonitor [appmenu]="appmenu"></kUploadMonitor>

                <i *ngFor="let item of rightMenuConfig" (click)="item.open()" [ngClass]="item.icon" [class.open]="item === selectedMenuItem" [kTooltip]="item.menuTitle" [placement]="'bottom'"></i>

                <i #help class="kIconhelp" [class.has-notification]="_showChangelog" [class.open]="_helpMenuOpened"></i>
                <div #username class="kUserName">
                    <div class="kUserInitials">{{userInitials}}</div>
                    <i class="kIcondropdown_arrow_bottom"></i>
                </div>
            </div>
        </div>
    </div>
</kSticky>


<div class="appSubMenu" *ngIf="selectedMenuItem && showSubMenu && selectedMenuItem.children">
    <div class="kContent kSubMenuHolder">
        <kKMCAppContentMenu class="kSubMenu"
                            position="left"
                            [menuItems]="selectedMenuItem.children"></kKMCAppContentMenu>
        <kKMCAppContentMenu class="kSubMenu"
                            position="right"
                            [menuItems]="selectedMenuItem.children"></kKMCAppContentMenu>
    </div>
</div>

<kPopupWidget #usersettings [appendTo]="appmenu"
              data-aid="usersettings"
              [popupWidth]="240"
              [closeBtn]="false"
              [targetRef]="username"
              [targetOffset]="{'x': 8, 'y': 37}"
              (onOpen)="username.className='kUserName open'"
              (onClose)="username.className='kUserName'">
    <kKMCUserSettings [parentPopup]="usersettings"></kKMCUserSettings>
</kPopupWidget>

<kPopupWidget #helpmenu data-aid="helpmenu" [appendTo]="appmenu" [popupWidth]="240" [closeBtn]="false" [targetRef]="help" [targetOffset]="{'x':-140, 'y': 35}" (onOpen)="_helpMenuOpened = true" (onClose)="_helpMenuOpened = false">
    <ng-template>
        <div class="kHelpMenu">
            <!--p *ngIf="_kmcOverviewLinkExists || _mediaManagementLinkExists" class="kHelpTitle">{{'app.helpMenu.gettingStarted' | translate | uppercase}}</p>
            <p *ngIf="_kmcOverviewLinkExists" class="kHelpLink" (click)="openHelpLink('kmcOverview')">{{'app.helpMenu.kmcOverview' | translate}}</p>
            <p *ngIf="_mediaManagementLinkExists" class="kHelpLink" (click)="openHelpLink('mediaManagement')">{{'app.helpMenu.mediaManagement' | translate}}</p>
            <p class="kDisabled">{{'app.helpMenu.productTour' | translate}}</p>
            <hr-->
            <p *ngIf="_userManualLinkExists || _supportLinkExists" class="kHelpTitle">{{'app.helpMenu.support' | translate | uppercase}}</p>
            <p *ngIf="_kmcOverviewLinkExists" class="kHelpLink" (click)="openHelpLink('kmcOverview')">{{'app.helpMenu.kmcOverview' | translate}}</p>
            <p *ngIf="_userManualLinkExists" class="kHelpLink" (click)="openHelpLink('manual')">{{'app.helpMenu.userManual' | translate}}</p>
            <p *ngIf="_supportLinkExists" class="kHelpLink" (click)="openSupport()">{{'app.helpMenu.contact' | translate}}</p>
            <p *ngIf="_supportLegacyExists" class="kHelpLink" (click)="openHelpLink('legacy')">{{'app.helpMenu.legacy' | translate}}</p>
            <k-logs-record mode="link"
                           *ngIf="(_kmcLogs.logsRecordMode | async).enabled"
                           [logLevel]="(_kmcLogs.logsRecordMode | async).logLevel"></k-logs-record>
            <k-power-user-console *ngIf="_powerUser"></k-power-user-console>

            <div class="kContexualHelp" *ngIf="_contextualHelp.length">
                <hr>
                <p class="kHelpTitle">{{'app.helpMenu.currentPage' | translate | uppercase}}</p>
                <p *ngFor="let link of _contextualHelp">
                    <a class="kHelpLink" [href]="link.value" target="_blank">{{link.label}}</a>
                </p>
            </div>
            <hr>
            <kChangelog [changelogIsShown]="_showChangelog" (showChangelog)="_changelogPopupOpened()"></kChangelog>
        </div>
    </ng-template>
</kPopupWidget>

<kPopupWidget #supportPopup data-aid="supportPopup" [modal]="true" [popupWidth]="500" [popupHeight]="370">
    <ng-template>
        <div class="kHeader">
            <span class="kTitle">{{ 'app.openMail.supportMailTitle'| translate}}</span>
        </div>

        <div class="kContainer">
            <div>{{ 'app.openMail.customerCare'| translate}}</div>
            <a href="{{_customerCareLink}}" target="_blank">{{_customerCareLink}}</a>
            <div class="spaceTop">{{ 'app.openMail.customerPortal'| translate}}</div>
            <a href="{{_customerPortalLink}}" target="_blank">{{_customerPortalLink}}</a>
        </div>

        <div class="kFooter">
            <button type="button" class="kButtonBranded" (click)="supportPopup.close()" pButton  label="{{'app.common.close'| translate}}"></button>
        </div>
    </ng-template>
</kPopupWidget>
