@import 'app-theme/_variables.scss';

.kHelpLink {
  font-size: 14px;
  cursor: pointer;
  color: $kGrayscale1;
  &:hover {
    color: #000000;
  }
}

.kChangelogLink {
  display: flex;
  justify-content: space-between;

  .kIconChangelog {
    color: $kGrayscale3;
    align-self: center;
    line-height: 14px;

    &:before {
      content: ' \25CF';
      font-size: 20px;
    }

    &.active {
      color: lighten($kPrimary, 10%);
    }
  }
}

.kChangelogPopup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $kGrayscale1;

  .kChangelogHeader {
    height: 80px;
    border-bottom: 1px solid $kGrayscale4;

    h1 {
      text-align: center;
    }
  }

  .kChangelogFooter {
    height: 77px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid $kGrayscale4;
    align-items: center;

    button {
      width: 100px;
    }
  }

  .kChangelogContent {
    padding: 20px;
    height: 405px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
