<k-area-blocker [showLoader]="_widgetService.showSectionLoader" [message]="_widgetService.sectionBlockerMessage">
  <div class="jumpTo">
    <p-menu #menu [popup]="true" [model]="_jumpToMenu" [appendTo]="'body'" kMenuCloseOnScroll [style]="{width: '220px'}"></p-menu>
    <button type="button" class="kButtonDefault" pButton icon="kIcondropdown_arrow_bottom" iconPos="right" label="{{'applications.content.categoryDetails.metadata.jumpTo' | translate}}"
      (click)="menu.toggle($event)"></button>
  </div>
  <div class="kMetadataDetails" #metadataContainer *ngIf="_widgetService.data">

    <k-jump-to-section [label]="'Metadata'"></k-jump-to-section>
    <span class="kSchemaTitle">{{'applications.content.categoryDetails.sections.metadata' | translate}}</span>
    <form [formGroup]="_widgetService.metadataForm" novalidate>
      <div class="kRow kValign kNameRow">
        <span class="kLabel">{{'applications.content.categoryDetails.metadata.categoryName' | translate}}</span>
        <div class="kControl">
          <input  formControlName="name" pInputText
                 [ngClass]="{'kHasError':!_widgetService.metadataForm.controls['name'].valid &&
                   _widgetService.metadataForm.controls['name'].touched}">
          <div *ngIf="_widgetService.metadataForm.controls['name'].touched &&
                 _widgetService.metadataForm.controls['name'].hasError('required')"
               class="error">
            {{'applications.content.categoryDetails.errors.fieldRequired' | translate}}
          </div>
        </div>
      </div>
      <div class="kRow">
        <span class="kLabel">{{'applications.content.categoryDetails.metadata.description' | translate}}</span>
        <div class="kControl TextAreaControl">
          <textarea formControlName="description" class="threeRows" pInputTextarea></textarea>
        </div>
      </div>
      <div class="kRow kValign">
        <span class="kLabel">{{'applications.content.categoryDetails.metadata.tags' | translate}}</span>
        <div class="kControl">
          <kAutoComplete formControlName="tags" suggestionItemField="item" suggestionSelectableField="isSelectable" [multiple]="true"
            [limitToSuggestions]="false" [minLength]="3" [suggestionsProvider]="_tagsProvider" (completeMethod)="_searchTags($event)">
          </kAutoComplete>
        </div>
      </div>
      <div class="kRow kValign">
        <span class="kLabel">{{'applications.content.categoryDetails.metadata.refId' | translate}}</span>
        <div class="kControl">
          <input formControlName="referenceId" type="text" pInputText/>
        </div>
      </div>
    </form>


    <div *ngFor="let customDataForm of _widgetService.customDataForms; let last = last">
      <k-jump-to-section [label]="customDataForm.metadataProfile.name"></k-jump-to-section>
      <div class="kSchemaTitle">{{customDataForm.metadataProfile.name}}</div>
      <div *ngIf="customDataForm && customDataForm.isReady">
        <form novalidate [formGroup]="customDataForm.formGroup">
          <k-dynamic-form-item [control]="customDataForm.formSectionControl" [form]="customDataForm.formGroup">
            <ng-template let-item="item">
              <k-linked-entries *ngIf="item.control.controlType === 'LinkedEntriesComponent'"
                                [profileName]="customDataForm.metadataProfile.name"
                                [formControlName]="item.control.key"
                                [control]="item.control"
                                [form]="item.form"></k-linked-entries>
              <k-prime-control *ngIf="item.control.controlType !== 'LinkedEntriesComponent'" [control]="item.control" [form]="item.form"></k-prime-control>
            </ng-template>
          </k-dynamic-form-item>
        </form>
      </div>

    </div>
  </div>

</k-area-blocker>
