@import 'app-theme/_variables.scss';

.kLoginForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  line-height: 19px;

  h1 {
    margin: 40px 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    text-align: center;
  }

  .kErrorMessage {
    margin-top: -16px;
    margin-bottom: 40px;
    color: $kDandger;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }

  div {
    width: 100%;
    align-self: center;
    text-align: center;

    input {
      width: 100%;
      height: 48px;
      padding: 14px 16px;
      margin-bottom: 40px;
      color: $kGrayscale3;
      font-size: 16px;
      border-radius: 4px;

      &:placeholder-shown {
        background-color: $kGrayscale6;
      }

      &.has-error {
        border: 2px solid $kDandger;
      }

      &.has-success:focus {
        border: 2px solid $kPrimary;
      }
    }
  }

  .kControlLinks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    a {
      font-size: 16px;
      color: $kGrayscale2;
      text-decoration: none;
    }
  }

  .kButtonDefault {
    width: 160px;
    height: 48px;
    background-color: $kPrimary;
    color: white;
    font-weight: normal;
    font-size: 16px;
  }

  .kPasswordRestoredMessage {
    text-align: center;
    margin: 95px 0;
  }

}
