@import 'app-theme/_variables.scss';

.kAddEntryWrap {
  font-size: 15px;
  width: 100%;

  .kEntriesHolder {
    height: 100%;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .kFloater{
    display: flex;
    flex-direction: column;
    height: 240px;

    .kHeader {
      height: 78px;
      width: 100%;
      padding: 0 24px;
      box-sizing: border-box;
      border-bottom: 1px solid $kGrayscale4;
      flex: 0 0 auto;
      display: flex;
      align-items: center;

      .kTitle {
        color: #333333;
        font-size: 15px;
        font-weight: 700;
      }

      .kButtons {
        display: flex;
        margin-left: auto;

        .kCancel {
          font-size: 15px;
          color: #333333;
          align-self: center;
          margin-right: 24px;
        }

        .kButtonDefault {
          font-weight: normal;
        }
      }
    }

    .kContainer{
      flex: 0 0 auto;

      .kEntriesTableFilters {
        color: $kGrayscale1;
        width: 100%;
        height: 66px;
        background-color: white;
        flex: 0 0 auto;
        align-items: center;
        margin-left: 0px;
        border-bottom: none;
        display: flex;

        .kSelectedEntriesNum {
          padding-left: 16px;
        }

        .kBulkOperations {
          width: 400px;
          display: flex;
          align-items: center;
        }

        .kSelectedEntriesLabel {
          font-weight: bold;
          margin-right: 36px;
          margin-left: 5px;
        }

        .kBulkCancel {
          margin-left: 10px;
        }
      }
    }
  }

  .kEntriesTableFooter {
    width: 100%;
    height: 34px;
    background-color: white;
    border-top: 1px solid $kGrayscale6;
    position: relative;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 14px 28px;
    display: block;
  }

  .kPaginatorShowRowsLabel {
    color: $kGrayscale1;
    position: absolute;
    top: 7px;
    right: 80px;
  }

  .kHidden {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}

:host /deep/ .kAreaBlockerContainer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
