<div class="kAddEntryWrap">
  <div class="kFloater">
    <div class="kHeader">
      <span class="kTitle">{{'applications.content.playlists.addEntry' | translate}}</span>
      <div class="kButtons">
        <a class="kCancel" (click)="onClosePopupWidget.emit()">{{'app.common.cancel' | translate}}</a>
        <button type="button"
                class="kButtonBranded"
                [disabled]="_selectedEntries.length === 0"
                pButton
                [label]="_addButtonLabel"
                (click)="_addEntries()"></button>
      </div>
    </div>
    <div class="kContainer">
      <kEntriesSelector
                        [enforcedFilters]="_enforcedFilters"
                        [(selectedEntries)]="_selectedEntries"
                        (selectedEntriesChange)="_selectionChanged($event)"></kEntriesSelector>
    </div>
  </div>
</div>
