<div class="k-lang-menu">
  <div class="k-selected-lang">
    <div [class]="'k-flag-image k-flag-' + selectedLanguage.id" title="{{ 'MENU.selectLang' | translate}}" (click)="toggleMenu()"></div>
  </div>
  <div [hidden]="!menuOpened" class="k-lang-select-floater" #langMenu>
    <div *ngFor="let language of languages" class="k-lang-menu-item" (click)="selectLanguage(language.id)">
      <div [class]="'k-flag-image k-flag-' + language.id"></div>
      <span>{{language.label}}</span>
    </div>
  </div>
</div>
