<div class="container-fluid appMenu">
  <div class="row">
    <img src="assets/kmc-ng-shell/header_logo.png">
    <div class="col-12">
      <ul class="nav navbar-nav leftNavBar">
        <li *ngFor="let item of menuConfig">
          <a [routerLinkActive]="['activeLink']" [routerLink]="['/'+item.routePath]">{{item.titleToken}}</a>
        </li>
        <li>
          <a (click)="toggleUpload()" [class.uploadOpen]="uploadOpen" class="widgetLink">Upload &nbsp;&nbsp;{{uploadOpen ? '&#x25B2;' : '&#x25BC;'}}</a>
          <kmc-upload [uploadOpen]="uploadOpen"></kmc-upload>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <kmc-user-settings></kmc-user-settings>
        </li>
        <li>
          <div style="background-color: green; width: 100px; height: 24px; margin-top: 14px">language</div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid appSubMenu" *ngIf="selectedMenuItem && showSubMenu && selectedMenuItem.children">
  <div class="row">
    <div class="col-12">
      <ul class="nav navbar-nav">
        <li *ngFor="let subitem of selectedMenuItem.children">
          <a [routerLinkActive]="['activeLink']" [routerLink]="['/'+subitem.routePath]">{{subitem.titleToken}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>


