
  <div class="kCategoriesTable" [class.noResults]="!_categories?.length">

    <p-table
            [scrollable]="true"
            scrollHeight="100%"
            [value]="_categories"
            dataKey="id"
            [rowTrackBy]="rowTrackBy"
            [sortField]="sortField"
            [sortOrder]="sortOrder"
            [resizableColumns]="true"
            [defaultSortOrder]="_defaultSortOrder"
            (sortFunction)="_onSortChanged($event)" [customSort]="true"
            [(selection)]="selectedCategories"
            (selectionChange)="_onSelectionChange($event)"
            (onColResize)="_columnsResizeManager.onColumnResize($event)"
            kStickyHeader [sticksTo]="'categoriesTags'" stickyClass="stickyHeader" [stickyId]="'categoriesTable'">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col [ngStyle]="{'width': '44px', 'padding-left': '13px'}">
                <col data-cid="name">
                <col data-cid="playlistId">
                <col data-cid="createdAt">
                <col data-cid="subcategories">
                <col data-cid="entriesCount">
                <col [ngStyle]="{'width': '80px'}">
            </colgroup>
        </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th [ngStyle]="{'width': '44px', 'padding-left': '13px'}">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th data-cid="name" pResizableColumn [pSortableColumn]="'name'">
            {{'applications.content.table.name' | translate}}
            <p-sortIcon [field]="'name'"></p-sortIcon>
          </th>
          <th data-cid="playlistId" pResizableColumn>
            {{'applications.content.table.id' | translate}}
          </th>
          <th data-cid="createdAt" pResizableColumn [pSortableColumn]="'createdAt'">
            {{'applications.content.table.createdOn' | translate}}
            <p-sortIcon [field]="'createdAt'"></p-sortIcon>
          </th>
          <th data-cid="subcategories" pResizableColumn [pSortableColumn]="'directSubCategoriesCount'">
            {{'applications.content.table.subcategories' | translate}}
            <p-sortIcon [field]="'directSubCategoriesCount'"></p-sortIcon>
          </th>
          <th data-cid="entriesCount" [pSortableColumn]="'entriesCount'">
            {{'applications.content.table.entries' | translate}}
            <p-sortIcon [field]="'entriesCount'"></p-sortIcon>
          </th>
          <th [ngStyle]="{'width': '80px'}"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-category>
        <tr [pSelectableRow]="category">

          <td [ngStyle]="{'width': '44px', 'padding-left': '13px'}">
            <p-tableCheckbox [value]="category"></p-tableCheckbox>
          </td>

          <td class="ui-resizable-column">
            <div [kTooltip]="category.fullName" class="kTitle kTableColumn" (click)="onActionSelected('edit',category)">
              {{category.name}}</div>
          </td>

          <td class="ui-resizable-column">
              <span class="kTableColumn" [kTooltip]="category.id" [showOnEllipsis]="true">{{category.id}}</span>
          </td>

          <td class="ui-resizable-column">
              <span class="kTableColumn" [kTooltip]="category.createdAt | kmcDate" [showOnEllipsis]="true">
                  {{category.createdAt | kmcDate}}
              </span>
          </td>

          <td class="ui-resizable-column">
              <span class="kTableColumn" [kTooltip]="category.directSubCategoriesCount" [showOnEllipsis]="true">
                  {{category.directSubCategoriesCount}}
              </span>
          </td>

          <td class="ui-resizable-column">
              <span class="kTableColumn" [kTooltip]="category.entriesCount" [showOnEllipsis]="true">
                  {{category.entriesCount}}
              </span>
          </td>

          <td [ngStyle]="{'width': '80px'}">
            <div class="kCategoriesTableActions">
              <button class="kMoreActionsButton" type="button" pButton icon="kIconmore" (click)="openActionsMenu($event, category)"></button>
            </div>
          </td>

        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <div class="emptymessage">
            <div class="kEmptyMessage">{{_emptyMessage}}</div>
        </div>
      </ng-template>
    </p-table>

  </div>

  <p-menu #actionsmenu [popup]="true" [model]="_items" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
