
  <div class="kCategoriesTable" [class.noResults]="!_categories?.length">

    <p-table
            [scrollable]="true"
            scrollHeight="100%"
            [value]="_categories"
            dataKey="id"
            [rowTrackBy]="rowTrackBy"
            [sortField]="sortField"
            [sortOrder]="sortOrder"
            [defaultSortOrder]="_defaultSortOrder"
            (sortFunction)="_onSortChanged($event)" [customSort]="true"
            [(selection)]="selectedCategories"
            (selectionChange)="_onSelectionChange($event)"
            kStickyHeader [sticksTo]="'categoriesTags'" stickyClass="stickyHeader" [stickyId]="'categoriesTable'">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:44px; padding-left: 14px">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th [pSortableColumn]="'name'">
            {{'applications.content.table.name' | translate}}
            <p-sortIcon [field]="'name'"></p-sortIcon>
          </th>
          <th>
            {{'applications.content.table.id' | translate}}
          </th>
          <th [pSortableColumn]="'createdAt'">
            {{'applications.content.table.createdOn' | translate}}
            <p-sortIcon [field]="'createdAt'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'directSubCategoriesCount'">
            {{'applications.content.table.subcategories' | translate}}
            <p-sortIcon [field]="'directSubCategoriesCount'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'entriesCount'">
            {{'applications.content.table.entries' | translate}}
            <p-sortIcon [field]="'entriesCount'"></p-sortIcon>
          </th>
          <th style="width: 120px"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-category>
        <tr [pSelectableRow]="category">

          <td style="width:44px; padding-left: 14px">
            <p-tableCheckbox [value]="category"></p-tableCheckbox>
          </td>

          <td>
            <div [kTooltip]="category.fullName" class="kTitle kTableColumn" (click)="onActionSelected('edit',category)">
              {{category.name}}</div>
          </td>

          <td>{{category.id}}</td>

          <td>{{category.createdAt | kDate}}
          </td>

          <td>{{category.directSubCategoriesCount}}
          </td>

          <td>{{category.entriesCount}}
          </td>


          <td style="overflow: visible; width: 120px">
            <div class="kCategoriesTableActions">
              <button class="kMoreActionsButton" type="button" pButton icon="kIconmore" (click)="openActionsMenu($event, category)"></button>
            </div>
          </td>

        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <div class="emptymessage">{{_emptyMessage}}</div>
      </ng-template>
    </p-table>

    <p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
  </div>
