@import 'app-theme/_variables.scss';
@import '../../styles/scss/kmc-logo';

.kLoginContainer {
  position: absolute;
  width: 100%;
  min-height: 100%;
  flex-flow: column;
  display: flex;
  box-sizing: border-box;
  margin: 0;
  background: $kTertiary;
  opacity: 0.9;

  .kLoginCenter {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    margin: 0 -14px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .kLoginWindow {
      background-color: white;
      border-radius: 6px;
      width: 430px;
      min-height: 327px;
      padding: 68px 60px 60px 60px;

      .kLogo {
        margin: 0 auto;
        width: 386px;
        height: 30px;
        line-height: 32px;
        text-align: center;
        font-size: 21px;

        span {
          font-weight: lighter;
          font-style: italic;
          vertical-align: text-bottom;

          strong {
            font-weight: bold;
          }
        }

        .k-logo {
          width: 30px;
          height: 30px;
          margin-left: 0;
        }
      }
    }

    .kLoginControls {
      color: white;
      margin-top: 42px;
      font-size: 16px;
      text-align: center;

      p {
        margin-top: 0;
      }

      .kSignUpBtn {
        border: none;
        font-weight: lighter;
        color: white;
        height: 32px;
        width: 90px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.2);

        &:not(:last-child) {
          margin-right: 36px;
        }
      }
    }
  }
}
