@import '../../styles/scss/_comon.scss';
@import '~kmc-shell/styles/scss/_variables.scss';

.k-logo-animated-500-400 {
  background-image: url('../../styles/assets/Kaltura-LogoAnimation-500-400.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width:200px;
  margin:auto;
  height:250px;
}

.loginContainer{
  position: absolute;
  width: 100%;
  height: 100%;

  background: rgba(226,226,226,1);
  background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );

  .header{
    background-color: $menuBkgColor;

    a{
      color: #59A3B5;
      &:hover{
        color: #A1E5F5;
      }
    }

    .langMenu{
      margin-right: 26px;
      float: right;
    }

    .pullRight{
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;
      padding-top: 15px
    }
    .separator{
      color: #C5C5C5;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

.panel-heading{
  background-color: #FCFCFF;
  text-align: center;
  img{
    width: 200px;
  }
}
.loginWindow{
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 100px;
}
.loginForm{
  padding: 20px;
  input{
    float: left;
    width: 100%;
  }
  button{
    margin-top: 10px;
  }
  label, input{
    margin-bottom: 5px;
    display: block;
  }
}
.loginAlert{
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  border: 1px solid lightcoral;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: lightcoral;
}
