@import 'app-theme/_variables.scss';

.kLoginContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  flex-flow: column;
  display: flex;
  box-sizing: border-box;
  margin: 0;
  background: rgba(27,74,151,0.89);
  //background: $kLoginBackground;

  .kLoginCenter {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin: 0 -14px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .kLoginWindow {
      background-color: white;
      border-radius: 6px;
      margin-top: 121px;
      width: 430px;
      min-height: 327px;
      padding: 75px 60px;

      .kLogo {
        margin: 0 auto;
        width: 386px;
        height: 30px;
        background-color: #cd0a0a;
      }
    }

    .kLoginControls {
      color: white;
      margin-top: 42px;
      margin-bottom: 19px;
      font-size: 16px;
      text-align: center;

      .kSignUpBtn {
        border: none;
        font-weight: normal;
        color: white;
        height: 32px;
        width: 90px;
        border-radius: 4px;
        background-color: rgba(255,255,255,0.2);
        //background-color: $kLoginSignUpBtn;
      }
    }
  }
}
