<div class="kLoginContainer" *ngIf="showLogin">
  <div class="kLoginCenter">
    <div class="kLoginWindow">
      <div class="kLogo">
        <i class="k-logo"></i>
        <span>
          <strong>KALTURA</strong> MANAGEMENT CONSOLE
        </span>
      </div>

      <ng-container [ngSwitch]="currentScreen">
        <kKMCLoginForm *ngSwitchCase="loginScreen.Login"
                       [username]="username"
                       [errorMessage]="errorMessage"
                       [inProgress]="inProgress"
                       (onSetScreen)="setScreen($event)"
                       (onRememberMe)="rememberMe($event)"
                       (onLogin)="login($event)"></kKMCLoginForm>

        <kKMCForgotPasswordForm *ngSwitchCase="loginScreen.ForgotPassword"
                                [errorMessage]="errorMessage"
                                [inProgress]="inProgress"
                                [passwordReset]="passwordReset"
                                (onResetPassword)="forgotPassword($event)"
                                (onSetScreen)="setScreen($event)"></kKMCForgotPasswordForm>

        <kKMCPasswordExpiredForm *ngSwitchCase="loginScreen.PasswordExpired"
                                 [errorMessage]="errorMessage"
                                 [inProgress]="inProgress"
                                 (onResetPassword)="resetPassword($event)"></kKMCPasswordExpiredForm>

        <kKMCInvalidLoginHash *ngSwitchCase="loginScreen.InvalidLoginHash"
                              [errorMessage]="errorMessage"
                              [inProgress]="inProgress"
                              [passwordReset]="passwordReset"
                              (onResendLink)="forgotPassword($event)"
                              (onSetScreen)="setScreen($event)"></kKMCInvalidLoginHash>
      </ng-container>
    </div>
    <div class="kLoginControls">
      <ng-container *ngIf="currentScreen === loginScreen.Login">
        <p>{{ 'app.login.dontHaveAccount' | translate }}</p>

        <a [href]="signUpLink" class="kSignUpBtn" pButton [label]="'app.login.signUp' | translate"></a>
      </ng-container>

      <ng-container *ngIf="currentScreen !== loginScreen.Login">
        <button class="kSignUpBtn"
                pButton
                [label]="'app.login.login.title' | translate"
                (click)="setScreen(loginScreen.Login)"></button>
        <a [href]="signUpLink"
           class="kSignUpBtn"
           pButton
           [label]="'app.login.signUp' | translate"></a>

      </ng-container>
    </div>
  </div>
</div>
