<div class="loginContainer grid-column-noGutter" *ngIf="showLogin">

        <div class="header col-12 grid-noGutter-equalHeight">
            <div class="col-6">
              <div class="k-logo"></div>
            </div>

            <div class="col-6">
              <div class="pullRight">
                <span><a (click)="openUserManual()">{{'app.helpMenu.userManual' | translate}}</a></span>
                <span class="separator">|</span>
                <kKMCLanguageMenu class="langMenu"></kKMCLanguageMenu>
              </div>
            </div>
        </div>

        <div class="grid-center">
            <div class="loginWindow col-4">
                <div class="k-logo-animated-500-400"></div>
                  <div class="loginForm">
                      <div class="loginAlert" *ngIf="errorMessage">{{ errorMessage }}</div>
                      <form role="form" (submit)="login(username.value, password.value, $event)">
                          <div>
                              <label for="username">Username</label>
                              <input type="text" pInputText #username id="username" placeholder="Username">
                          </div>
                          <div>
                              <label for="password">Password</label>
                              <input type="password" pInputText #password id="password" placeholder="Password">
                          </div>
                          <button class="kButtonDefault" pButton type="text" type="submit" label="{{ inProgress ? 'Wait...' : 'Submit'}}" [disabled]="inProgress"></button>
                      </form>
                  </div>
              </div>
        </div>
</div>



