@import '../../styles/scss/_comon.scss';

.k-logo-animated-500-400 {
  background-image: url('../../styles/assets/Kaltura-LogoAnimation-500-400.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width:200px;
  margin:auto;
  height:250px;
}

.loginContainer{
  position: absolute;
  width: 100%;
  height: 100%;

  background: rgba(226,226,226,1);
  background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );

  .header{
    background-color: #252525;
    margin-bottom: 100px;
    height: $header-height;

    ul{
      padding-top: 9px;
    }

    li{
      margin-left: 10px;
    }

    a{
      color: #59A3B5;
      &:hover{
        color: #A1E5F5;
      }
    }

    img{
      float: left;
      margin-top: 4px;
    }

    .langMenu{
      margin-right: 26px;
      float: right;
    }

    .separator{
      color: #C5C5C5;
    }
  }
}

.panel-heading{
  background-color: #FCFCFF;
  text-align: center;
  img{
    width: 200px;
  }
}
.topBuffer{
  margin-top: 10px;
}
