<div #container [ngClass]="{'ui-dropdown ui-widget ui-state-default ui-corner-all ui-helper-clearfix':true,
            'ui-state-disabled':disabled, 'ui-dropdown-open':overlayVisible, 'ui-state-focus':focused, 'ui-dropdown-clearable': showClear && !disabled}"
     (click)="onMouseclick($event)" [ngStyle]="style" [class]="styleClass">
    <div class="ui-helper-hidden-accessible" *ngIf="autoWidth">
        <select [required]="required" [attr.name]="name" [attr.aria-label]="selectedOption ? selectedOption.label : ' '"
                tabindex="-1" aria-hidden="true">
            <option *ngIf="placeholder">{{placeholder}}</option>
            <ng-container *ngIf="group">
                <optgroup *ngFor="let option of options" [attr.label]="option.label">
                    <option *ngFor="let option of option.items" [value]="option.value"
                            [selected]="selectedOption == option">{{option.label}}</option>
                    <optgroup>
            </ng-container>
            <ng-container *ngIf="!group">
                <option *ngFor="let option of options" [value]="option.value"
                        [selected]="selectedOption == option">{{option.label}}</option>
            </ng-container>
        </select>
    </div>
    <div class="ui-helper-hidden-accessible">
        <input #in [attr.id]="inputId" type="text" [attr.aria-label]="selectedOption ? selectedOption.label : ' '"
               readonly (focus)="onInputFocus($event)" role="listbox"
               (blur)="onInputBlur($event)" (keydown)="onKeydown($event, true)" [disabled]="disabled"
               [attr.tabindex]="tabindex" [attr.autofocus]="autofocus">
    </div>
    <label
        [ngClass]="{'ui-dropdown-label ui-inputtext ui-corner-all':true,'ui-dropdown-label-empty':(label == null || label.length === 0)}"
        *ngIf="!editable && (label != null)">
        <ng-container *ngIf="!selectedItemTemplate">{{label || 'empty'}}</ng-container>
        <ng-container *ngTemplateOutlet="selectedItemTemplate; context: {$implicit: selectedOption}"></ng-container>
    </label>
    <label
        [ngClass]="{'ui-dropdown-label ui-inputtext ui-corner-all ui-placeholder':true,'ui-dropdown-label-empty': (placeholder == null || placeholder.length === 0)}"
        *ngIf="!editable && (label == null)">{{placeholder || 'empty'}}</label>
    <input #editableInput type="text" [attr.aria-label]="selectedOption ? selectedOption.label : ' '"
           class="ui-dropdown-label ui-inputtext ui-corner-all" *ngIf="editable" [disabled]="disabled"
           [attr.placeholder]="placeholder"
           (click)="onEditableInputClick($event)" (input)="onEditableInputChange($event)"
           (focus)="onEditableInputFocus($event)" (blur)="onInputBlur($event)">
    <i class="ui-dropdown-clear-icon pi pi-times" (click)="clear($event)"
       *ngIf="value != null && showClear && !disabled"></i>
    <div class="ui-dropdown-trigger ui-state-default ui-corner-right">
        <span class="ui-dropdown-trigger-icon ui-clickable" [ngClass]="dropdownIcon"></span>
    </div>
    <div *ngIf="overlayVisible" [ngClass]="'ui-dropdown-panel  ui-widget ui-widget-content ui-corner-all ui-shadow'"
         [@overlayAnimation]="'visible'" (@overlayAnimation.start)="onOverlayAnimationStart($event)"
         [ngStyle]="panelStyle" [class]="panelStyleClass">
        <div *ngIf="filter" class="ui-dropdown-filter-container" (input)="onFilter($event)"
             (click)="$event.stopPropagation()">
            <input #filter type="text" autocomplete="off" [value]="filterValue||''"
                   class="ui-dropdown-filter ui-inputtext ui-widget ui-state-default ui-corner-all"
                   [attr.placeholder]="filterPlaceholder"
                   (keydown.enter)="$event.preventDefault()" (keydown)="onKeydown($event, false)">
            <span class="ui-dropdown-filter-icon pi pi-search"></span>
            <div *ngIf="loading" class="ui-dropdown-filter-icon lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="ui-dropdown-items-wrapper" [style.max-height]="scrollHeight||'auto'">
            <ul class="ui-dropdown-items ui-dropdown-list ui-widget-content ui-widget ui-corner-all ui-helper-reset">
                <ng-container *ngIf="group">
                    <ng-template ngFor let-optgroup [ngForOf]="optionsToDisplay">
                        <li class="ui-dropdown-item-group">
                            <span *ngIf="!groupTemplate">{{optgroup.label || 'empty'}}</span>
                            <ng-container
                                *ngTemplateOutlet="groupTemplate; context: {$implicit: optgroup}"></ng-container>
                        </li>
                        <ng-container
                            *ngTemplateOutlet="itemslist; context: {$implicit: optgroup.items, selectedOption: selectedOption}"></ng-container>
                    </ng-template>
                </ng-container>
                <ng-container *ngIf="!group">
                    <ng-container
                        *ngTemplateOutlet="itemslist; context: {$implicit: optionsToDisplay, selectedOption: selectedOption}"></ng-container>
                </ng-container>
                <ng-template #itemslist let-options let-selectedOption="selectedOption">
                    <li *ngFor="let option of options;let i=index" (click)="onItemClick($event, option)"
                        [ngClass]="{'ui-dropdown-item ui-corner-all':true,
                                                'ui-state-highlight':(selectedOption == option),
                                                'ui-state-disabled':(option.disabled),
                                                'ui-dropdown-item-empty':!option.label||option.label.length === 0}">
                        <span *ngIf="!itemTemplate">{{option.label || 'empty'}}</span>
                        <ng-container *ngTemplateOutlet="itemTemplate; context: {$implicit: option}"></ng-container>
                    </li>
                </ng-template>
                <li *ngIf="filter && optionsToDisplay && optionsToDisplay.length === 0">{{emptyFilterMessage}}</li>
            </ul>
        </div>
    </div>
</div>
