@import 'app-theme/_variables.scss';

.kUploadBtn {
  height: 34px;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 700;
  margin-right: 12px;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  &:disabled{
      color: $kGrayscale4;
      background: transparent;
      border: 1px solid $kGrayscale4 !important;
      cursor: none;
  }

    ::ng-deep .p-button-icon {
        font-size: 20px;
    }
}

