<k-details-bar #detailsBar [data]="playlist">
	<kDetailInfo [label]="'applications.content.playlistDetails.details.id' | translate" [valueField]="'id'"></kDetailInfo>
	<kDetailInfo [label]="'applications.content.playlistDetails.details.creator' | translate" [valueField]="'creatorId'" [tooltip]="_currentEntry?.creatorId"></kDetailInfo>
	<kDetailInfo [label]="'applications.content.playlistDetails.details.creationDate' | translate" [value]="playlist?.createdAt | date:'MM/dd/y HH:MM'"></kDetailInfo>
	<kDetailInfo [label]="'applications.content.playlistDetails.details.updatedAt' | translate" [value]="playlist?.updatedAt | date:'MM/dd/y HH:MM'"></kDetailInfo>
	<kDetailInfo [label]="'applications.content.playlistDetails.details.type' | translate" [value]="playlist?.playlistType | playlistType"></kDetailInfo>
	<kDetailInfo *ngIf="_duration > 0" [label]="'applications.content.playlistDetails.details.duration' | translate" [value]="_duration | kTime"></kDetailInfo>
	<kDetailInfo [label]="'applications.content.playlistDetails.details.moderation' | translate" [value]="playlist?.moderationStatus | moderation"></kDetailInfo>
	<kDetailInfo [label]="'applications.content.playlistDetails.details.plays' | translate" [valueField]="'plays'"></kDetailInfo>
	<kDetailInfo [label]="'applications.content.playlistDetails.details.numberOfEntries' | translate" [value]="numberOfEntries"></kDetailInfo>
</k-details-bar>
