<k-details-bar #detailsBar [data]="_currentPlaylist">
  <kDetailInfo [iconStyle]="_currentPlaylist ? (_currentPlaylist | playlistType: true) : ''" [tooltip]="_currentPlaylist ? (_currentPlaylist | playlistType: false) : ''"></kDetailInfo>
  <kDetailInfo [label]="'applications.content.playlistDetails.details.type' | translate" [value]="_currentPlaylist ? (_currentPlaylist | playlistType: false) : ''"></kDetailInfo>
  <kDetailInfo *ngIf="!_isNew" [label]="'applications.content.playlistDetails.details.id' | translate" [valueField]="'id'"></kDetailInfo>
  <kDetailInfo [label]="'applications.content.playlistDetails.details.creator' | translate" [valueField]="'creatorId'" [tooltip]="_currentPlaylist?.creatorId"></kDetailInfo>

  <kDetailInfo *ngIf="!_isNew" [label]="'applications.content.playlistDetails.details.creationDate' | translate" [value]="_currentPlaylist?.createdAt | kmcDate:'dateOnly'" [tooltip]="_currentPlaylist?.createdAt | kmcDate"></kDetailInfo>
  <kDetailInfo *ngIf="!_isNew" [label]="'applications.content.playlistDetails.details.updatedAt' | translate" [value]="_currentPlaylist?.updatedAt | kmcDate:'dateOnly'" [tooltip]="_currentPlaylist?.updatedAt | kmcDate"></kDetailInfo>
  <kDetailInfo *ngIf="!_isNew" [label]="'applications.content.playlistDetails.details.moderation' | translate" [value]="_currentPlaylist?.moderationStatus | kModerationStatus"></kDetailInfo>
  <!--kDetailInfo *ngIf="!_isNew" [label]="'applications.content.playlistDetails.details.plays' | translate" valueField="plays"></kDetailInfo-->
</k-details-bar>
