<div class="kPlaylistPreview kUseKMCngIcons" *ngIf="playlist">
	<div class="kPreviewDetails">
		<span class="kTitle">{{'applications.content.playlistDetails.details.details' | translate}}</span>
		<div class="kRow">
			<span class="kLabels">{{'applications.content.playlistDetails.details.id' | translate}}</span>
			<span>{{playlist.id}}</span>
		</div>

		<div class="kRow">
			<span class="kLabels">{{'applications.content.playlistDetails.details.creator' | translate}}</span>
			<span [kTooltip]="playlist.creatorId">{{playlist.creatorId}}</span>
		</div>

		<div class="kRow">
			<span class="kLabels">{{'applications.content.playlistDetails.details.creationDate' | translate}}</span>
			<span>{{playlist.createdAt | kDate}}</span>
		</div>

		<div class="kRow">
			<span class="kLabels">{{'applications.content.playlistDetails.details.updatedAt' | translate}}</span>
			<span>{{playlist.updatedAt | kDate}}</span>
		</div>

		<div class="kRow">
			<span class="kLabels">{{'applications.content.playlistDetails.details.type' | translate}}</span>
			<span>{{playlist.playlistType | playlistType}}</span>
		</div>

		<div class="kRow">
			<span class="kLabels">{{'applications.content.playlistDetails.details.duration' | translate}}</span>
			<span>{{playlist.duration}}</span>
		</div>

		<div class="kRow">
			<span class="kLabels">{{'applications.content.playlistDetails.details.moderation' | translate}}</span>
			<span>{{playlist.moderationStatus | moderation}}</span>
		</div>

		<div class="kRow">
			<span class="kLabels">{{'applications.content.playlistDetails.details.plays' | translate}}</span>
			<span>{{playlist.plays}}</span>
		</div>

		<div class="kRow">
			<span class="kLabels">{{'applications.content.playlistDetails.details.numberOfEntries' | translate}}</span>
			<span>{{numberOfEntries}}</span>
		</div>
	</div>
</div>
