@import "app-theme/_variables.scss";
.kTreeContainer{
	width: 100%;
	height: 534px;
	position: relative;
	.kHeader{
		width: 100%;
		text-align: center;
		border-bottom: 1px solid $kGrayscale4;
    height: 78px;
    padding-top: 24px;
    box-sizing: border-box;
  }
	.kTitle{
		color: $kGrayscale1;
		font-size: 24px;
		font-weight: 700;
	}
	.kTagsContainer{
		height: 80px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.kMain{
		margin-left: 20px;
		border: 1px solid $kGrayscale4;
		border-radius: 4px;
		width: 520px;
		height: 330px;
		padding: 12px;
		box-sizing: border-box;
	}
	.kFooter{
		width: 586px;
    margin-top: 32px;
		border-top: 1px solid $kGrayscale4;
		padding-top: 16px;
    box-sizing: border-box;
		text-align: center;
    height: 66px;
    button{
      height: 34px;
    }
	}
}


:host /deep/ kautocomplete .kKalturaPrimeUIComponent.ui-autocomplete-multiple{
	width: 100%;
}

:host /deep/ kautocomplete ul.ui-autocomplete-multiple-container{
	max-height: 60px;
	overflow-y: auto;
}


:host /deep/ k-categories-tree .kTreeContainer{
	margin: 0px;
	padding: 0px;
	width: 100%;
	margin-top: 4px;
	border-bottom: 0px solid white;
	min-height: 260px;
}


:host /deep/ k-area-blocker{
	height: 265px;
	overflow-y: hidden;
}

:host /deep/ ktags{
	margin-left: 12px;
	.kTags{
		border-top: 0px solid white;
		width: 542px;
	}
	.kTagRemove{
		flex: 0 0 auto;
		margin-top: 2px;
		margin-left: 8px;
		padding: 4px;
		cursor: pointer;
		font-size: 12px;
	}
	.kTagContent{
		display: flex;
		align-items: center;
		cursor: default;
	}
}
:host /deep/ kautocomplete ul.ui-autocomplete-multiple-container.ui-inputtext{
	padding: 0px;
	.ui-autocomplete-input-token{
		padding: 0px;
		input{
			height: 34px;
			padding-left: 4px;
			width: 500px;
		}
	}
}

