<form class="kLoginForm"
      [formGroup]="resetPasswordForm"
      (submit)="resetPassword($event)">
  <h1>{{ 'app.login.passwordExpired.title' | translate}}</h1>

  <div>
    <input pInputText
           type="password"
           [placeholder]="'app.login.passwordExpired.placeholder.current' | translate"
           [formControl]="oldPasswordField"
           [class.has-error]="showError(oldPasswordField)"
           [pTooltip]="getClientValidationMessage(oldPasswordField) | translate"
           tooltipEvent="focus"
           tooltipPosition="right">
  </div>

  <div>
    <input pInputText
           type="password"
           [placeholder]="'app.login.passwordExpired.placeholder.new' | translate"
           [formControl]="newPasswordField"
           [class.has-error]="showError(newPasswordField) || (repeatPasswordField.touched && showError(passwords))"
           [pTooltip]="getClientValidationMessage(newPasswordField) | translate"
           tooltipEvent="focus"
           tooltipPosition="right">
  </div>

  <div>
    <input pInputText
           type="password"
           [placeholder]="'app.login.passwordExpired.placeholder.confirm' | translate"
           [formControl]="repeatPasswordField"
           [class.has-error]="showError(repeatPasswordField) || (repeatPasswordField.touched && showError(passwords))"
           [pTooltip]="getClientValidationMessage(repeatPasswordField) | translate"
           tooltipEvent="focus"
           tooltipPosition="right">
  </div>

  <p *ngIf="repeatPasswordField.touched && showError(passwords)"
     class="kErrorMessage"
     [innerHTML="{{ getClientValidationMessage(passwords) | translate">
  </p>
  <p *ngIf="errorMessage" class="kErrorMessage" [innerHTML]="errorMessage"></p>

  <div>
    <button class="kButtonDefault"
            pButton
            [label]="sendBtnText | translate"
            [disabled]="inProgress"></button>
  </div>
</form>

