<form class="kLoginForm"
      [formGroup]="_resetPasswordForm"
      (submit)="_resetPassword($event)">
  <h1>{{ 'app.login.passwordExpired.title' | translate}}</h1>

  <div>
    <input pInputText
           type="password"
           [placeholder]="'app.login.passwordExpired.placeholder.current' | translate"
           [formControl]="_oldPasswordField"
           [class.has-error]="_showError(_oldPasswordField) || _oldPasswordWrong"
           [pTooltip]="_getClientValidationMessage(_oldPasswordField) | translate"
           tooltipEvent="focus"
           tooltipPosition="right">
  </div>

  <div>
    <input pInputText
           type="password"
           [placeholder]="'app.login.passwordExpired.placeholder.new' | translate"
           [formControl]="_newPasswordField"
           [class.has-error]="_showError(_newPasswordField) || _passwordsDontMatch || _passwordStructureInvalid"
           [pTooltip]="_getClientValidationMessage(_newPasswordField) || _passwordStructureInvalidMessage | translate"
           tooltipEvent="focus"
           tooltipPosition="right">
  </div>

  <div>
    <input pInputText
           type="password"
           [placeholder]="'app.login.passwordExpired.placeholder.confirm' | translate"
           [formControl]="_repeatPasswordField"
           [class.has-error]="_showError(_repeatPasswordField) || _passwordsDontMatch"
           [pTooltip]="_getClientValidationMessage(_repeatPasswordField) | translate"
           tooltipEvent="focus"
           tooltipPosition="right">
  </div>

  <p *ngIf="(_repeatPasswordField.touched || _formSent) && _showError(_passwords)"
     class="kErrorMessage"
     [innerHTML]="_getClientValidationMessage(_passwords) | translate">
  </p>
  <p *ngIf="errorMessage && !_passwordStructureInvalid" class="kErrorMessage" [innerHTML]="errorMessage"></p>

  <div>
    <button class="kButtonDefault"
            pButton
            [label]="_sendBtnText | translate"
            [disabled]="inProgress"></button>
  </div>
</form>

