@import 'app-theme/_variables.scss';
.kTable {
  ::ng-deep {
    .kApplicationRootCategory {
      .kApplicationRootCategoryLabel {
        color: $kGrayscale1;
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
          cursor: pointer;
      }
    }

    .kPrivacyContextLabel {

    }

    .kActionsColumn {
      width: 60px;
    }
  }
}
