<k-area-blocker [showLoader]="" [message]="">
  <div class="kMyUserSettingsWrapper kContent">
    <section class="kFormContainer">
      <div class="kTitle">
        <i class="kIconUsers"></i>
        {{'applications.settings.myUserSettings.userDetails' | translate}}
      </div>
      <div class="kInformationSection">
        <i class="kIconwarning"></i>
        <span>{{'applications.settings.accountSettings.informationMessage' | translate}}</span>
      </div>
      <div class="kUserDetailsSection">
        <div class="kRow">
          <div class="kLabel">{{'applications.settings.myUserSettings.userName' | translate}}</div>
          <span>Shlomit Raivit</span>
          <i class="kIconpen"></i>
        </div>
        <div class="kRow">
          <div class="kLabel">{{'applications.settings.myUserSettings.userId' | translate}}</div>
          <span>34947902</span>
        </div>
        <div class="kRow">
          <div class="kLabel">{{'applications.settings.myUserSettings.emailAddress' | translate}}</div>
          <span>Shlomit.ravit@gmail.com</span>
          <i class="kIconpen"></i>
        </div>
        <div class="kRow">
          <div class="kLabel">{{'applications.settings.myUserSettings.role' | translate}}</div>
          <span>Publisher Administator</span>
        </div>
        <div class="kRow">
          <div class="kLabel">{{'applications.settings.myUserSettings.roleDescription' | translate}}</div>
          <span>Full control over publisher account and user management functionalities</span>
        </div>
        <div class="kRow">
          <div class="kLabel">{{'applications.settings.myUserSettings.password' | translate}}</div>
          <span><a>Edit Password</a></span>
        </div>
      </div>
    </section>
  </div>
</k-area-blocker>
