<k-area-blocker [showLoader]="_isBusy" [message]="_areaBlockerMessage">
  <div class="kMyUserSettingsWrapper kContent">
    <section class="kFormContainer">
      <div class="kTitle">
        <i class="kIconUsers"></i>
        {{'applications.settings.myUserSettings.userDetails' | translate}}
      </div>
      <div class="kInformationSection">
        <i class="kIconwarning"></i>
        <span>{{'applications.settings.accountSettings.informationMessage' | translate}}</span>
      </div>
      <div class="kUserDetailsSection">
        <div class="kRow">
          <div class="kLabel">{{'applications.settings.myUserSettings.userName' | translate}}</div>
          <span>{{user?.fullName}}</span>
          <i class="kIconpen"></i>
        </div>
        <div class="kRow">
          <div class="kLabel">{{'applications.settings.myUserSettings.userId' | translate}}</div>
          <span>{{user?.id}}</span>
        </div>
        <div class="kRow">
          <div class="kLabel">{{'applications.settings.myUserSettings.emailAddress' | translate}}</div>
          <span>{{user?.email}}</span>
          <i class="kIconpen"></i>
        </div>
        <div class="kRow">
          <div class="kLabel">{{'applications.settings.myUserSettings.role' | translate}}</div>
          <span>{{role?.name}}</span>
        </div>
        <div class="kRow">
          <div class="kLabel">{{'applications.settings.myUserSettings.roleDescription' | translate}}</div>
          <span>{{role?.description}}</span>
        </div>
        <div class="kRow">
          <div class="kLabel">{{'applications.settings.myUserSettings.password' | translate}}</div>
          <span><a>{{'applications.settings.myUserSettings.editUser' | translate}}</a></span>
        </div>
      </div>
    </section>
  </div>
</k-area-blocker>
