@import 'app-theme/_variables.scss';

.kTagsWrapper {
    z-index: 500;
}
.kTitle {
    color: $kGrayscale1;
    font-size: 20px;
    font-weight: bold;
    margin-left: 14px;
    margin-top: 14px;
    line-height: 32px;
}
.kProfiles {
    font-size: 15px;
    background-color: $appBkgColor;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin: 0px;
    .kProfilesHolder {
        height: 100%;
        border: none;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: white;
    }
    .kAddProfileBtn {
        margin-left: 14px;
        height: 36px;
    }
    .kRefreshBtn {
        font-size: 24px;
        border: none;
        min-width: inherit;
        margin-right: 8px;
        width: 40px;
        outline: 0;
        color: $kGrayscale3;
        margin-left: auto;
        &:active {
            box-shadow: none;
            transform: rotate(45deg);
        }
        &:hover {
            background-color: #ffffff;
            color: $kPrimary;
        }
    }
    .kFiltersWrapper {
        display: block;
        height: 66px;
    }
    .kProfilesTableFilters {
        color: $kGrayscale1;
        border-bottom: 1px solid $kGrayscale5;
        z-index: 500;
        height: 66px;
        background-color: white;
        flex: 0 0 auto;
        align-items: center;
        margin-left: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        .kSelectedProfilesNum {
            padding-left: 16px;
        }
    }
    .kReviewsTable {
        background-color: white;
        height: auto;
        padding: 0px;
        width: 100%;
        min-height: calc(100vh - 274px);
        margin-bottom: 34px;
        .status {
            display: flex;
            align-items: center;
            .bullet {
                width: 8px;
                height: 8px;
                border-radius: 4px;
                margin-right: 8px;
            }
        }
        .kProfileName {
            font-weight: bold;
            color: $kGrayscale1;
        }

        .kProfilesTableActions {
            width: 100%;
            text-align: center;
        }

        .emptymessage {
            display: table-row;
            border: 0;
            height: 200px;

            .kEmptyMessage {
                position: absolute;
                width: 100%;
                height: 200px;
                border-bottom: 1px solid $kGrayscale4;
            }
        }
    }
    .kProfilesTableFooter {
        bottom: 0px;
        height: 34px;
        width: 100%;
        background-color: white;
        border-top: 1px solid $kGrayscale6;
        box-sizing: border-box;
        flex: 0 0 auto;
        position: absolute;
        padding: 0 14px 28px;
        display: block;
    }
    .kPaginatorShowRowsLabel {
        color: $kGrayscale1;
        position: absolute;
        top: 7px;
        right: 80px;
    }
}
p-table ::ng-deep .nameHolder {
    padding-left: 1em;
    display: flex;
    align-items: center;
    margin-top: -1px;
    .admin {
        flex: 0 0 auto;
        margin-left: 4px;
    }
}
p-table ::ng-deep tr:not(:last-child) .nameHolder {
    border-bottom: 0px;
}
:host ::ng-deep .p-tieredmenu.p-menu {
    width: 250px;
    .ui-submenu-icon {
        font-size: 10px;
        margin-top: 3px;
    }
}

:host ::ng-deep .p-button-icon-only .pi {
    margin-left: -.5em;
}

:host ::ng-deep p-table .p-datatable-scrollable-wrapper {
    max-height: calc(100vh - 274px) !important;
    overflow-y: auto !important;
}

:host ::ng-deep p-table .p-datatable-scrollable-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

@media screen and (max-width: 1310px) {
    .hideInLowRes {
        display: none;
    }
}
