<div class="kDistributedProfile">
  <div [class]="'kProfileIcon ' + (_providerType | kEntriesDistributionProviderTypeIcon)"></div>

  <div class="kDistributedProfileContent">
    <span class="kTitle">
      <span class="kTitleLabel" (click)="_openProfile(_profile)">{{_profile?.name}}</span>
      <a *ngIf="_distributorPageLink" class="kDistributorPageLink" target="_blank"
         [kTooltip]="'applications.content.entryDetails.distribution.previewDistributorVideo' | translate"
         [href]="_distributorPageLink">
        <i class="kIconexternal_link kTitleIcon"></i>
      </a>
    </span>
    <div class="kMetadata">
      <span class="kStatus" *ngIf="!_profile?.validationErrors?.length">
        <i class="kStatusIcon" [ngClass]="_profile | kEntriesDistributionStatus:'icon'"></i>
        {{_profile | kEntriesDistributionStatus:'label'}}
        <span class="kDelimiter"></span>
      </span>
      <span *ngIf="_profile?.validationErrors?.length">
        <i class="kStatusUpdateFailed kIconerror"></i>
        {{'applications.content.entryDetails.distribution.status.exportFailed' | translate}}
        <span class="kDelimiter"></span>
      </span>
      <span *ngIf="_isModified">
        <span class="kModified">{{'applications.content.entryDetails.distribution.modified' | translate}}</span>
        <span class="kDelimiter"></span>
      </span>
      <span class="kLastUpdate">
        {{'applications.content.entryDetails.distribution.lastUpdate' | translate:[(_profile?.updatedAt | kmcDate:'dateOnly')]}}
        <span class="kDelimiter"></span>
      </span>
      <span class="kAutoDistribution" *ngIf="_profile?.autoDistribution">
        {{'applications.content.entryDetails.distribution.auto' | translate}}
        <span class="kDelimiter"></span>
      </span>
      <a class="kMoreDetails" (click)="_openProfile(_profile)">
        {{'applications.content.entryDetails.distribution.moreDetails' | translate}}
      </a>
    </div>
    <div class="kValidationErrors" *ngIf="_profile?.validationErrors?.length">
      <kEntryDistributedProfileErrors [errors]="_profile?.validationErrors"></kEntryDistributedProfileErrors>
    </div>
  </div>

  <div class="kControls">
    <button *ngIf="!_deleteButtonHidden" pButton
            [disabled]="_kmcPermissions.CONTENT_MANAGE_DISTRIBUTION_REMOVE | kDisabledIfNotPermitted"
            icon="kIcontrash" class="kButtonDanger kDeleteBtn"
            (click)="_deleteDistribution(_profile)"></button>
    <button *ngIf="!_actionButtonHidden"
            pButton class="kButtonDefault kUpdateBtn"
            [disabled]="_actionButtonDisabled || (_kmcPermissions.CONTENT_MANAGE_DISTRIBUTION_SEND | kDisabledIfNotPermitted)"
            [label]="_actionButtonLabel"
            (click)="_performAction(_profile)"></button>
  </div>
</div>
