<div class="kDistributedProfile">
  <div class="kDistributedProfileIcon">
    <i class="kIconfeed"></i>
  </div>

  <div class="kDistributedProfileContent">
    <span class="kTitle">{{profile?.name}}</span>
    <div class="kMetadata">
      <span class="kStatus">
        <i class="kStatusIcon" [ngClass]="profile | kEntriesDistributionStatus:'icon'"></i>
        {{profile | kEntriesDistributionStatus:'label'}}
      </span>
      <span *ngIf="false">
        <span class="kDelimiter"></span>
        <span class="kModified">{{'applications.content.entryDetails.distribution.modified' | translate}}</span>
      </span>
      <span class="kDelimiter"></span>
      <span class="kLastUpdate">
        {{'applications.content.entryDetails.distribution.lastUpdate' | translate:[(profile?.updatedAt | kDate:'MM/DD/YYYY')]}}
      </span>
      <span class="kDelimiter"></span>
      <a class="kMoreDetails">{{'applications.content.entryDetails.distribution.moreDetails' | translate}}</a>
    </div>
  </div>

  <div class="kControls">
    <button pButton icon="kIcontrash" class="kButtonDanger kDeleteBtn"></button>
    <button pButton class="kButtonDefault kUpdateBtn"
            [disabled]="true"
            [label]="'applications.content.entryDetails.distribution.upToDate' | translate"></button>
  </div>
</div>
