$appMenuHeight: 38px;
$appSubMenuHeight: 33px;
$contentArea: calc(100vh - 71px);

$primeDataTableHeaderHeight: 30px;
$primeDataTableHeight: calc(100% - 30px);

$contentHeaderHeight: 50px;
$contentGridHeight: calc(100% - 50px);
