$appMenuHeight: 38px;
$appSubMenuHeight: 33px;
$contentArea: calc(100vh - 71px);

$primeDataTableHeaderHeight: 30px;
$primeDataTableFooterHeight: 36px;
$primeDataTableHeight: calc(100% - 66px); /* reducing $primeDataTableHeaderHeight and $primeDataTableFooterHeight */

$contentHeaderHeight: 50px;
$contentGridHeight: calc(100% - 50px);
