.kDetailInfo {
    display: flex;
    line-height: 26px;
    height: 26px;
    .kDetails{
        display: flex;
        overflow: hidden;
        >div, >span, >a{
            flex: 0 0 auto;
        }
    }

    .kSeparator {
        padding-right: 8px;
        padding-left: 8px;
        flex: 0 0 auto;
    }
    .kLabel{
        margin-right: 4px;
    }
    .link {
        font-size: 15px;
        color: #1B4A97;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
            color: darken(#1B4A97, 10%);
        }
        &:active {
            color: #1B4A97;
        }
        &:disabled {
            cursor: none;
            color: #cccccc;
        }
        text-overflow: ellipsis;
    }
}

/*
:host {
    display: table-cell;
}

.kDetailInfo {
    display: table-cell;
    height: 24px;
}

.kDetail {
    display: flex;
    align-items: center;
    overflow: hidden;
    .kCaption {
        flex: 0 0 auto;
        margin-right: 4px;
    }
    .kValue {
        overflow: hidden;
        white-space: nowrap;
        flex: 1 1 auto;
    }
}

.kSeparator {
    padding-right: 8px;
    padding-left: 8px;
    flex: 0 0 auto;
}

.kIconimage {
    padding-right: 4px;
}
*/