.kDetailsBar {
  display: block;
  height: 26px;
  line-height: 26px;
  overflow-y: hidden;
  font-size: 14px;
  color: #666666;
  .kLink{
    font-size: 14px;
    float: right;
    margin-left: 8px;
    border: 0px none;
    cursor: pointer;
    margin-top: 5px;
    &.disabled{
      opacity: 0.4;
      pointer-events: none;
    }
    &.hidden{
      opacity: 0;
      pointer-events: none;
    }
  }
  .kItemsWrapper{
    position: relative;
    flex: 1 1 auto;
    height: auto;
    display: flex;
    flex-flow: wrap;
    transition: top 0.3s;
  }
}