<div class="kTable">
    <p-table dataKey="id"
             scrollHeight="100%"
             [scrollable]="true"
             [value]="_profiles"
             [class.noResults]="!_profiles?.length"
             [rowTrackBy]="rowTrackBy">
        <ng-template pTemplate="header">
            <tr>
                <th class="kApplicationRootCategory">
                    {{'applications.settings.integrationSettings.zoom.accountId' | translate}}
                </th>
                <th class="kPrivacyContextLabel">
                    {{'applications.settings.integrationSettings.zoom.name' | translate}}
                </th>
                <th class="kPrivacyContextLabel">
                    {{'applications.settings.integrationSettings.zoom.created' | translate}}
                </th>
                <th class="kPrivacyContextLabel">
                    {{'applications.settings.integrationSettings.zoom.updated' | translate}}
                </th>
                <th class="kPrivacyContextLabel">
                    {{'applications.settings.integrationSettings.zoom.status' | translate}}
                </th>
                <th class="kActionsColumn"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-profile>
            <tr>
                <td class="kApplicationRootCategory">
                    <div class="kApplicationRootCategoryLabel kTableColumn" [kTooltip]="profile.accountId" (click)="openEditScreen(profile)">
                        {{profile.accountId}}
                    </div>
                </td>
                <td class="kPrivacyContextLabel">
                        <span class="kTableColumn" [kTooltip]="profile.defaultUserId">
                            {{profile.defaultUserId}}
                        </span>
                </td>
                <td class="kPrivacyContextLabel">
                        <span class="kTableColumn" [kTooltip]="profile.createdAt | date">
                            {{profile.createdAt | date}}
                        </span>
                </td>
                <td class="kPrivacyContextLabel">
                        <span class="kTableColumn" [kTooltip]="profile.updatedAt | date">
                            {{profile.updatedAt | date}}
                        </span>
                </td>
                <td class="kPrivacyContextLabel">
                        <span class="kTableColumn">
                            {{profile.enableRecordingUpload ? ('applications.settings.integrationSettings.zoom.enabled' | translate) : ('applications.settings.integrationSettings.zoom.disabled' | translate)}}
                        </span>
                </td>

                <td class="kActionsColumn">
                    <div class="kTableActions">
                        <button type="button" pButton icon="kIconmore" class="kMoreActionsButton"
                                (click)="_openActionsMenu($event, profile)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <div class="emptymessage">{{_emptyMessage}}</div>
        </ng-template>
    </p-table>
    <p-menu #actionsmenu [popup]="true" [model]="_items" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
</div>
