@import 'app-theme/_variables.scss';
.kAIWin {
    display: flex;
    flex-direction: column;
    align-items: center;
    .kHeader {
        height: 78px;
        width: 100%;
        text-align: center;
        padding-top: 24px;
        box-sizing: border-box;
        border-bottom: 1px solid $kGrayscale4;

        .kTitle {
            color: #333333;
            font-size: 24px;
            font-weight: 700;
        }
    }
    .content {
        height: 331px;
    }

    .kFooter {
        width: 100%;
        height: 66px;
        border-top: 1px solid $kGrayscale4;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        button {
            height: 34px;
            width: 100px;
        }
    }
}
