@import 'app-theme/_variables.scss';

.kThumbnails{
	.kHeader{
		padding-left: 24px;
	}
	.kTitle{
		color: $kGrayscale1;
		font-size: 20px;
		font-weight: 700;
	}
	.kButtons{
		display: flex;
		padding-top: 12px;
		margin-bottom: 20px;
		button{
			height: 32px;
			font-weight: 400;
			margin-right: 20px;
		}
	}
	.kTable{
		padding-top: 12px;
	}
	.kThumbnailHolder {
		overflow: hidden;
		position: relative;
		width: 80px;
		height: 46px;
		background-color: $kGrayscale6;
		white-space: nowrap;
		text-align: center;
		border-radius: 3px;
        i{
            font-size: 24px;
            margin-top: 12px;
            display: block;
            color: rgba(255,255,255,0.5);
            opacity: 0;
        }
		img {
			position:absolute;
			left: -100%;
			right: -100%;
			top: -100%;
			bottom: -100%;
			margin: auto;
			width: 80px;
			height: auto;
			border-radius: 3px;
		}
        &.error{
            background-image: linear-gradient(0deg, #00A783 0%, #3D82C7 99%);
            i{
                opacity: 1;
            }
        }
	}
	.kDimensions{
		font-weight: 700;
		color: $kGrayscale1;
	}
	.kThumbnailsTableActions {
		width: 100%;
		text-align: center;
	}
}
::ng-deep .p-button-icon.kAIIcon {
    width: 24px;
    height: 24px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5LjQ1NTIgMTAuOTk4NkMxOS4yNzc1IDExLjM4OTQgMTguNzIyNSAxMS4zODk0IDE4LjU0NDggMTAuOTk4NkwxNy40Mzc1IDguNTYyNUwxNS4wMDE0IDcuNDU1MThDMTQuNjEwNiA3LjI3NzU1IDE0LjYxMDYgNi43MjI0NSAxNS4wMDE0IDYuNTQ0ODJMMTcuNDM3NSA1LjQzNzVMMTguNTQ0OCAzLjAwMTRDMTguNzIyNSAyLjYxMDYxIDE5LjI3NzUgMi42MTA2IDE5LjQ1NTIgMy4wMDE0TDIwLjU2MjUgNS40Mzc1TDIyLjk5ODYgNi41NDQ4MkMyMy4zODk0IDYuNzIyNDUgMjMuMzg5NCA3LjI3NzU1IDIyLjk5ODYgNy40NTUxOEwyMC41NjI1IDguNTYyNUwxOS40NTUyIDEwLjk5ODZaIiBmaWxsPSJ3aGl0ZSIvPgo8cGF0aCBkPSJNOS40NTUxOCAxOS45OTg2QzkuMjc3NTUgMjAuMzg5NCA4LjcyMjQ1IDIwLjM4OTQgOC41NDQ4MiAxOS45OTg2TDYuNSAxNS41TDIuMDAxNCAxMy40NTUyQzEuNjEwNjEgMTMuMjc3NSAxLjYxMDYxIDEyLjcyMjUgMi4wMDE0IDEyLjU0NDhMNi41IDEwLjVMOC41NDQ4MiA2LjAwMTRDOC43MjI0NSA1LjYxMDYxIDkuMjc3NTUgNS42MTA2MSA5LjQ1NTE4IDYuMDAxNEwxMS41IDEwLjVMMTUuOTk4NiAxMi41NDQ4QzE2LjM4OTQgMTIuNzIyNSAxNi4zODk0IDEzLjI3NzUgMTUuOTk4NiAxMy40NTUyTDExLjUgMTUuNUw5LjQ1NTE4IDE5Ljk5ODZaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K);
}
