<k-area-blocker [showLoader]="_handler.showSectionLoader" [message]="_handler.sectionBlockerMessage">
	<kFileDialog #fileDialog [filter]="'image/*'" (onFileSelected)="_handler._onFileSelected($event)"></kFileDialog>
	<div class="kThumbnails" #thumbnails>
		<p class="kTitle">{{'applications.content.entryDetails.thumbnails.thumbnails' | translate}}</p>
		<div class="kButtons">
			<button pButton class="kButtonDefault" (click)="fileDialog.open($event)" icon="kIconupload" label="{{'applications.content.entryDetails.thumbnails.upload' | translate}}"></button>
			<button pButton class="kButtonDefault" (click)="capturePopup.open()" icon="kIconpicture" label="{{'applications.content.entryDetails.thumbnails.capture.choose' | translate}}"></button>
		</div>
		<div class="kTable">
			<p-dataTable [value]="(_handler._thumbnails$ | async)?.items" scrollable="true" scrollHeight="100%" [rowStyleClass]="_handler._getRowStyle">
				<p-column field="url" header="{{'applications.content.entryDetails.thumbnails.thumbnail' | translate}}" [style]="{'width':'100px'}">
					<ng-template let-col let-thumb="rowData" pTemplate="body">
						<div class="kThumbnailHolder"><img src="{{thumb[col.field]}}" onError="this.onerror=null;this.style.display='none'"></div>
					</ng-template>
				</p-column>
				<p-column field="width" header="{{'applications.content.entryDetails.thumbnails.dimensions' | translate}}" sortable="true">
					<ng-template let-col let-thumb="rowData" pTemplate="body">
						<span class="kDimensions">{{thumb.width}}x{{thumb.height}}</span>
					</ng-template>
				</p-column>
				<p-column field="size" header="{{'applications.content.entryDetails.thumbnails.size' | translate}}">
					<ng-template let-col let-thumb="rowData" pTemplate="body">
						<span>{{thumb[col.field] | kFileSize}}</span>
					</ng-template>
				</p-column>
				<p-column field="distributors" header="{{'applications.content.entryDetails.thumbnails.distributors' | translate}}">
				</p-column>
				<p-column field="isDefault" header="{{'applications.content.entryDetails.thumbnails.defaultTitle' | translate}}">
					<ng-template let-col let-thumb="rowData" pTemplate="body">
						<span *ngIf="thumb.isDefault">{{'applications.content.entryDetails.thumbnails.default' | translate}}</span>
						<a (click)="_handler._setAsDefault(thumb)" *ngIf="!thumb.isDefault && thumb.status?.toString()==='2'">{{'applications.content.entryDetails.thumbnails.setDefault' | translate}}</a>
					</ng-template>
				</p-column>
				<p-column [style]="{'width':'80px'}">
					<ng-template let-col let-thumb="rowData" pTemplate="body">
						<div class="kThumbnailsTableActions" *ngIf="thumb.id!==''">
							<button type="button" pButton icon="kIconmore" (click)="openActionsMenu($event, thumb)"></button>
						</div>
					</ng-template>
				</p-column>
			</p-dataTable>
			<p-menu kMenuCloseOnScroll [scrollTarget]="thumbnails" #actionsmenu popup="popup" [model]="_actions" [appendTo]="'body'"></p-menu>
		</div>
	</div>

	<kPopupWidget #capturePopup [popupWidth]="586" [popupHeight]="475" [modal]="true">
		<ng-template>
			<kThumbnailCapture [entryId]="_handler.data?.id"  [parentPopupWidget]="capturePopup"></kThumbnailCapture>
		</ng-template>
	</kPopupWidget>

</k-area-blocker>
