@import '~kmcng-theme/scss/variables';

.kThumbnails{
	padding-left: 12px;
	.kTitle{
		color: $kGrayscale1;
		font-size: 20px;
		font-weight: 700;
	}
	button{
		font-size: 14px;
		font-weight: 700;
	}
	.kTable{
		padding-top: 12px;
	}
}
