<div class="kCaptureWin kOverrideFAIcons" #captionsEdit>

    <div class="kHeader">
      <span class="kTitle">{{'applications.content.entryDetails.thumbnails.capture.title' | translate}}</span>
    </div>

    <div class="kContainer">
        <div class="kPlayerTarget">
            <iframe #thumbPreviewIframe *ngIf="_showPlayer" width="340" height="210" frameborder="0" marginheight="0" marginwidth="0" allowFullScreen webkitallowfullscreen mozallowfullscreen></iframe>
        </div>
        <div class="kLabel">{{'applications.content.entryDetails.thumbnails.capture.label' | translate}}</div>
    </div>


    <div class="kFooter">
            <button type="button" class="kButtonBranded" (click)="_capture()" pButton label="{{'applications.content.entryDetails.thumbnails.capture.save' | translate}}"></button>
    </div>


</div>
