@import 'app-theme/_variables.scss';

.kThumbnails{
	padding-left: 12px;
	.kTitle{
		color: $kGrayscale1;
		font-size: 20px;
		font-weight: 700;
	}
	.kButtons{
		display: flex;
		padding-top: 12px;
		margin-bottom: 20px;
		button{
			height: 32px;
			font-weight: 400;
			margin-right: 20px;
		}
	}
	.kTable{
		padding-top: 12px;
	}
	.kThumbnailHolder {
		overflow: hidden;
		position: relative;
		width: 80px;
		height: 46px;
		background-color: $kGrayscale6;
		white-space: nowrap;
		text-align: center;
		border-radius: 3px;
		img {
			position:absolute;
			left: -100%;
			right: -100%;
			top: -100%;
			bottom: -100%;
			margin: auto;
			width: 80px;
			height: auto;
			border-radius: 3px;
		}
	}
	.kDimensions{
		font-weight: 700;
		color: $kGrayscale1;
	}
	.kThumbnailsTableActions {
		width: 100%;
		text-align: center;
		button {
			color: grey !important;
			background-color: rgba(0, 0, 0, 0) !important;
			border: none !important;
			font-size: 16px !important;
			outline: 0;
		}
	}
}
