<div class="kCaptureWin kOverrideFAIcons" #captionsEdit>

    <div class="kHeader">
      <span class="kTitle">{{'applications.content.entryDetails.thumbnails.capture.title' | translate}}</span>
    </div>

    <div class="kContainer">
        <div class="kPlayerTarget">
            <k-player #player [flashvars]="playerConfig.flashvars" [cdnUrl]="serverUri" [pid]="playerConfig.pid" [uiconfid]="playerConfig.uiconfid" [entryid]="playerConfig.entryid" [width]="340" [height]="190" (kalturaPlayerReady)="onPlayerReady($event)"></k-player>
        </div>
        <div class="kLabel">{{'applications.content.entryDetails.thumbnails.capture.label' | translate}}</div>
    </div>


    <div class="kFooter">
            <button type="button" class="kButtonBranded" (click)="_capture()" pButton label="{{'applications.content.entryDetails.thumbnails.capture.save' | translate}}"></button>
    </div>


</div>
