<div class="kUploadMonitorSection">
  <div class="kUploadMonitorSectionHeading">
    <span class="kUploadMonitorSectionHeadingTitle">{{ title }}</span>
    <a class="kUploadMonitorSectionHeadingDetails">{{ 'applications.upload.uploadMonitor.viewDetails' | translate }}</a>
  </div>
  <div class="kUploadMonitorSectionContent">
    <span *ngIf="true">
      <span class="kUploadMonitorStatus">
        <i class="kIconrefresh_small kUploadMonitorStatusIcon uploading"></i>
        {{ '9' }} {{ 'applications.upload.uploadMonitor.uploading' | translate }}
      </span>
      <span class="kUploadMonitorStatus">
        <i class="kIconcheck_small kUploadMonitorStatusIcon queued"></i>
        {{ '1' }} {{ 'applications.upload.uploadMonitor.queued' | translate }}
      </span>
      <span class="kUploadMonitorStatus">
        <i class="kIconcheck_small kUploadMonitorStatusIcon completed"></i>
        {{ '2' }} {{ 'applications.upload.uploadMonitor.completed' | translate }}
      </span>
      <span class="kUploadMonitorStatus">
        <i class="kIconinfo kUploadMonitorStatusIcon error"></i>
        {{ '2' }} {{ 'applications.upload.uploadMonitor.error' | translate }}
      </span>
    </span>
    <span *ngIf="false">
      <span class="kUploadMonitorStatus">
        <i class="kIconcheck_small kUploadMonitorStatusIcon completed"></i>
        {{ 'applications.upload.uploadMonitor.upToDate' | translate }}
      </span>
    </span>
  </div>
</div>
