<k-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage">
  <div class="kEditWin">
    <form [formGroup]="changePasswordForm" novalidate>
      <div class="kHeader">
        <span class="kTitle">{{'applications.settings.myUserSettings.changePassword' | translate}}</span>
      </div>

      <div class="kContainer">
        <div class="kStrongPassword">{{'applications.settings.myUserSettings.strongPassword' | translate}}</div>
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.myUserSettings.currentPassword' | translate}}</span>
          <div>
            <input class="kControl"
                   formControlName="currentPassword"
                   pInputText
                   [ngClass]="{'kHasError':!changePasswordForm.controls['currentPassword'].valid && changePasswordForm.controls['currentPassword'].touched}">
            <div
              *ngIf="changePasswordForm.controls['currentPassword'].touched && changePasswordForm.controls['currentPassword'].hasError('required')"
              class="error">
              {{'applications.settings.myUserSettings.errors.required' | translate}}
            </div>
          </div>
        </div>
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.myUserSettings.newPassword' | translate}}</span>
          <div>
            <input class="kControl"
                   formControlName="newPassword"
                   pInputText
                   [ngClass]="{'kHasError':!changePasswordForm.controls['newPassword'].valid && changePasswordForm.controls['newPassword'].touched}">
            <div
              *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].hasError('required')"
              class="error">
              {{'applications.settings.myUserSettings.errors.required' | translate}}
            </div>
          </div>
        </div>
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.myUserSettings.reTypeNewPassword' | translate}}</span>
          <div>
            <input class="kControl"
                   formControlName="reTypeNewPassword"
                   pInputText
                   [ngClass]="{'kHasError':!changePasswordForm.controls['reTypeNewPassword'].valid && changePasswordForm.controls['reTypeNewPassword'].touched}">
            <div
              *ngIf="changePasswordForm.controls['reTypeNewPassword'].touched && changePasswordForm.controls['reTypeNewPassword'].hasError('required')"
              class="error">
              {{'applications.settings.myUserSettings.errors.required' | translate}}
            </div>
          </div>
        </div>
      </div>

      <div class="kFooter">
        <button pButton class="kButtonDefault kButton" label="{{'applications.settings.myUserSettings.cancel' | translate}}"></button>
        <button
          pButton class="kButtonBranded kButton"
          label="{{'applications.settings.myUserSettings.save' | translate}}"
          [disabled]="changePasswordForm.pristine"></button>
      </div>
    </form>
  </div>

</k-area-blocker>
