<k-area-blocker [message]="blockerMessage">
  <div class="kEditWin">
    <form [formGroup]="_changePasswordForm" novalidate>
      <div class="kHeader">
        <span class="kTitle">{{'applications.settings.myUserSettings.changePassword' | translate}}</span>
      </div>

      <div class="kContainer">
        <div class="kStrongPassword">{{'applications.settings.myUserSettings.strongPassword' | translate}}</div>
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.myUserSettings.currentPassword' | translate}}</span>
          <div>
            <input type="password"
                   class="kControl"
                   formControlName="currentPassword"
                   pInputText appPreventPasswordAutofill
                   [ngClass]="{'kHasError':!_changePasswordForm.get('currentPassword').valid && _changePasswordForm.get('currentPassword').touched}">
            <div *ngIf="_changePasswordForm.get('currentPassword').touched && _changePasswordForm.get('currentPassword').hasError('required')"
              class="error">
              {{'applications.settings.myUserSettings.errors.required' | translate}}
            </div>
          </div>
        </div>
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.myUserSettings.newPassword' | translate}}</span>
          <div>
            <input type="password"
                   class="kControl"
                   formControlName="newPassword"
                   pInputText appPreventPasswordAutofill
                   [ngClass]="{'kHasError':!_changePasswordForm.get('newPassword').valid && _changePasswordForm.get('newPassword').touched}">
            <div *ngIf="_changePasswordForm.get('newPassword').touched && _changePasswordForm.get('newPassword').hasError('required')"
              class="error">
              {{'applications.settings.myUserSettings.errors.required' | translate}}
            </div>
          </div>
        </div>
        <div class="kRow">
          <span class="kLabel">{{'applications.settings.myUserSettings.reTypeNewPassword' | translate}}</span>
          <div>
            <input type="password"
                   class="kControl"
                   formControlName="reTypeNewPassword"
                   pInputText appPreventPasswordAutofill
                   [ngClass]="{'kHasError':!_changePasswordForm.get('reTypeNewPassword').valid && _changePasswordForm.get('reTypeNewPassword').touched}">
            <div *ngIf="_changePasswordForm.get('reTypeNewPassword').touched && _changePasswordForm.get('reTypeNewPassword').hasError('required')"
              class="error">
              {{'applications.settings.myUserSettings.errors.required' | translate}}
            </div>
            <div *ngIf="_changePasswordForm.get('reTypeNewPassword').touched && _passwordMatchValidator(_changePasswordForm.get('reTypeNewPassword')) && !_changePasswordForm.get('reTypeNewPassword').hasError('required')"
              class="error">
              {{'applications.settings.myUserSettings.errors.doNotMuchPasswords' | translate}}
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="kFooter">
      <button pButton class="kButtonDefault kButton" (click)="parentPopupWidget.close()"
              [label]="'applications.settings.myUserSettings.cancel' | translate"></button>
      <button
              pButton class="kButtonBranded kButton"
              [label]="'applications.settings.myUserSettings.save' | translate"
              [disabled]="_changePasswordForm.pristine"
              (click)="_updateLoginData()"></button>
    </div>
  </div>

</k-area-blocker>
