<div class="kSchemasTable" [class.noResults]="!_schemas.length">
    <p-table
        scrollHeight="100%"
        dataKey="id"
        [scrollable]="true"
        [value]="_schemas"
        [resizableColumns]="true"
        [rowTrackBy]="rowTrackBy"
        (selectionChange)="_onSelectionChange($event)"
        (onColResize)="_columnsResizeManager.onColumnResize($event)"
        [(selection)]="selectedSchemas">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col [ngStyle]="{'width':'44px', 'padding-left': '14px'}">
                <col [ngStyle]="{'width': _columnsConfig.name}">
                <col [ngStyle]="{'width': _columnsConfig.schemaId}">
                <col [ngStyle]="{'width': _columnsConfig.systemName}">
                <col [ngStyle]="{'width': _columnsConfig.description}">
                <col [ngStyle]="{'width': _columnsConfig.applyTo}">
                <col [ngStyle]="{'width': _columnsConfig.fieldsIncluded}">
                <col [ngStyle]="{'overflow':'visible', 'width':'80px'}">
            </colgroup>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th [ngStyle]="{'width':'44px', 'padding-left': '14px'}">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th id="name" pResizableColumn [ngStyle]="{'width': _columnsConfig.name}">
                    {{'applications.settings.metadata.table.name' | translate}}
                </th>
                <th id="schemaId" pResizableColumn [ngStyle]="{'width': _columnsConfig.schemaId}">
                    {{'applications.settings.metadata.table.id' | translate}}
                </th>
                <th id="systemName" pResizableColumn [ngStyle]="{'width': _columnsConfig.systemName}">
                    {{'applications.settings.metadata.table.systemName' | translate}}
                </th>
                <th id="description" pResizableColumn [ngStyle]="{'width': _columnsConfig.description}">
                    {{'applications.settings.metadata.table.description' | translate}}
                </th>
                <th id="applyTo" pResizableColumn [ngStyle]="{'width': _columnsConfig.applyTo}">
                    {{'applications.settings.metadata.table.applyTo' | translate}}
                </th>
                <th id="fieldsIncluded" [ngStyle]="{'width': _columnsConfig.fieldsIncluded}">
                    {{'applications.settings.metadata.table.fieldsIncluded' | translate}}
                </th>
                <th [ngStyle]="{'overflow':'visible', 'width':'80px'}"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-schema>
            <tr [pSelectableRow]="schema" [ngClass]="_schemaTableRowStyle(schema)">
                <td [ngStyle]="{'width':'44px', 'padding-left': '14px'}">
                    <p-tableCheckbox [value]="schema"></p-tableCheckbox>
                </td>
                <td class="ui-resizable-column">
                    <div class="kTitle kTableColumn"
                         [class.kProfileDisabled]="schema?.profileDisabled"
                         [kTooltip]="schema?.profileDisabled ? ('applications.settings.metadata.table.disabledLabel' | translate) : schema.name"
                         (click)="_onActionSelected('edit', schema)">
                        {{schema.name}} <span *ngIf="schema?.profileDisabled">*</span>
                    </div>
                </td>
                <td class="ui-resizable-column">{{schema.id}}</td>
                <td class="ui-resizable-column">{{schema.systemName}}</td>
                <td class="ui-resizable-column">
                    <span class="kTableColumn" [kTooltip]="schema.description">
                        {{schema.description}}
                    </span>
                </td>
                <td class="ui-resizable-column">{{schema.applyTo | kMetadataObjectType}}</td>
                <td>{{schema.defaultLabel}}</td>
                <td [ngStyle]="{'overflow':'visible', 'width':'80px'}">
                    <div class="kSchemasTableActions">
                        <button type="button" pButton icon="kIconmore" class="kMoreActionsButton"
                                (click)="_openActionsMenu($event, schema)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <div class="emptymessage">
                <div class="kEmptyMessage">{{_emptyMessage}}</div>
            </div>
        </ng-template>
    </p-table>
    <p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
</div>
