<div class="kSchemasTable" [class.noResults]="!_schemas.length">
    <p-table
        scrollHeight="100%"
        dataKey="id"
        [scrollable]="true"
        [value]="_schemas"
        [resizableColumns]="true"
        [rowTrackBy]="rowTrackBy"
        (selectionChange)="_onSelectionChange($event)"
        (onColResize)="_columnsResizeManager.onColumnResize($event)"
        [(selection)]="selectedSchemas">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col [ngStyle]="{'width':'44px', 'padding-left': '14px'}">
                <col data-cid="name" [ngStyle]="{'width': '236px'}">
                <col data-cid="schemaId">
                <col data-cid="systemName">
                <col data-cid="description">
                <col data-cid="applyTo">
                <col data-cid="fieldsIncluded">
                <col [ngStyle]="{'overflow':'visible', 'width':'80px'}">
            </colgroup>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th [ngStyle]="{'width':'44px', 'padding-left': '14px'}">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th data-cid="name" pResizableColumn>
                    {{'applications.settings.metadata.table.name' | translate}}
                </th>
                <th data-cid="schemaId" pResizableColumn>
                    {{'applications.settings.metadata.table.id' | translate}}
                </th>
                <th data-cid="systemName" pResizableColumn>
                    {{'applications.settings.metadata.table.systemName' | translate}}
                </th>
                <th data-cid="description" pResizableColumn>
                    {{'applications.settings.metadata.table.description' | translate}}
                </th>
                <th data-cid="applyTo" pResizableColumn>
                    {{'applications.settings.metadata.table.applyTo' | translate}}
                </th>
                <th data-cid="fieldsIncluded">
                    {{'applications.settings.metadata.table.fieldsIncluded' | translate}}
                </th>
                <th [ngStyle]="{'overflow':'visible', 'width':'80px'}"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-schema>
            <tr [pSelectableRow]="schema" [ngClass]="_schemaTableRowStyle(schema)">
                <td [ngStyle]="{'width':'44px', 'padding-left': '14px'}">
                    <p-tableCheckbox [value]="schema"></p-tableCheckbox>
                </td>
                <td class="ui-resizable-column">
                    <div class="kTitle kTableColumn"
                         [class.kProfileDisabled]="schema?.profileDisabled"
                         [kTooltip]="schema?.profileDisabled ? ('applications.settings.metadata.table.disabledLabel' | translate) : schema.name"
                         (click)="_onActionSelected('edit', schema)">
                        {{schema.name}} <span *ngIf="schema?.profileDisabled">*</span>
                    </div>
                </td>
                <td class="ui-resizable-column">
                    <span class="kTableColumn" [kTooltip]="schema.id" [showOnEllipsis]="true">
                        {{schema.id}}
                    </span>
                </td>
                <td class="ui-resizable-column">
                    <span class="kTableColumn" [kTooltip]="schema.systemName" [showOnEllipsis]="true">
                        {{schema.systemName}}
                    </span>
                </td>
                <td class="ui-resizable-column">
                    <span class="kTableColumn" [kTooltip]="schema.description" [showOnEllipsis]="true">
                        {{schema.description}}
                    </span>
                </td>
                <td class="ui-resizable-column">
                    <span class="kTableColumn" [kTooltip]="schema.applyTo | kMetadataObjectType" [showOnEllipsis]="true">
                        {{schema.applyTo | kMetadataObjectType}}
                    </span>
                </td>
                <td>
                    <span class="kTableColumn" [kTooltip]="schema.defaultLabel" [showOnEllipsis]="true">
                        {{schema.defaultLabel}}
                    </span>
                </td>
                <td [ngStyle]="{'overflow':'visible', 'width':'80px'}">
                    <div class="kSchemasTableActions">
                        <button type="button" pButton icon="kIconmore" class="kMoreActionsButton"
                                (click)="_openActionsMenu($event, schema)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <div class="emptymessage">
                <div class="kEmptyMessage">{{_emptyMessage}}</div>
            </div>
        </ng-template>
    </p-table>
</div>

<p-menu #actionsmenu [popup]="true" [model]="_items" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
