@import 'app-theme/_variables.scss';

.kSchemasTable {
  background-color: white;
  height: auto;
  padding: 0;

    .emptymessage {
        display: table-row;
        border: 0;
        height: 200px;

        .kEmptyMessage {
            position: absolute;
            width: 100%;
            height: 200px;
            border-bottom: 1px solid $kGrayscale4;
        }
    }

  .kSchemasTableActions {
    width: 100%;
    text-align: center;
  }

  .kTitle {
    color: $kGrayscale1;
    font-weight: 700;
    cursor: pointer;
    max-height: 45px;
    &:hover {
      color: #000000;
    }
    &.kProfileDisabled {
      color: $kGrayscale4;
      cursor: text;
    }
  }

  .kSchemasNameWrap {
    display: flex;
    align-items: center;

    .kMediaTypeIcon {
      font-size: 26px;
      margin-right: 23px;
    }
  }
}

:host {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  flex-direction: column;
}

:host /deep/ p-table .ui-table-scrollable-body {
  margin-bottom: 34px;
}

:host /deep/ p-table .stickyHeader {
  z-index: 10;
  display: table;
}

:host /deep/ .kSchemasTable tr.kProfileDisabled .ui-cell-data {
  color: $kGrayscale4;
}

:host /deep/ p-table {
    .ui-table .ui-table-thead > tr > th {
        border-left: 1px solid $kGrayscale6;
    }
}
