<div class="kSchemasTable" [class.noResults]="!_schemas.length">
    <p-table
        scrollHeight="100%"
        dataKey="id"
        [scrollable]="true"
        [value]="_schemas"
        [rowTrackBy]="rowTrackBy"
        (selectionChange)="_onSelectionChange($event)"
        [(selection)]="selectedSchemas">
        <ng-template pTemplate="header">
            <tr>
                <th [ngStyle]="{'width':'44px', 'padding-left': '14px'}">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th [ngStyle]="{'width': '236px'}">
                    {{'applications.settings.metadata.table.name' | translate}}
                </th>
                <th>
                    {{'applications.settings.metadata.table.id' | translate}}
                </th>
                <th>
                    {{'applications.settings.metadata.table.systemName' | translate}}
                </th>
                <th>
                    {{'applications.settings.metadata.table.description' | translate}}
                </th>
                <th>
                    {{'applications.settings.metadata.table.applyTo' | translate}}
                </th>
                <th [ngStyle]="{'width': '190px'}">
                    {{'applications.settings.metadata.table.fieldsIncluded' | translate}}
                </th>
                <th [ngStyle]="{'overflow':'visible', 'width':'80px'}"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-schema>
            <tr [pSelectableRow]="schema" [ngClass]="_schemaTableRowStyle(schema)">
                <td [ngStyle]="{'width':'44px', 'padding-left': '14px'}">
                    <p-tableCheckbox [value]="schema"></p-tableCheckbox>
                </td>
                <td [ngStyle]="{'width': '236px'}">
                    <div class="kTitle kTableColumn"
                         [class.kProfileDisabled]="schema?.profileDisabled"
                         [kTooltip]="schema?.profileDisabled ? ('applications.settings.metadata.table.disabledLabel' | translate) : schema.name"
                         (click)="_onActionSelected('edit', schema)">
                        {{schema.name}} <span *ngIf="schema?.profileDisabled">*</span>
                    </div>
                </td>
                <td>{{schema.id}}</td>
                <td>{{schema.systemName}}</td>
                <td>{{schema.description}}</td>
                <td>{{schema.applyTo | kMetadataObjectType}}</td>
                <td [ngStyle]="{'width': '190px'}">{{schema.defaultLabel}}</td>
                <td [ngStyle]="{'overflow':'visible', 'width':'80px'}">
                    <div class="kSchemasTableActions">
                        <button type="button" pButton icon="kIconmore" class="kMoreActionsButton"
                                (click)="_openActionsMenu($event, schema)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <div class="emptymessage">{{_emptyMessage}}</div>
        </ng-template>
    </p-table>
    <p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
</div>
