<k-area-blocker [showLoader]="_loading" [message]="_sectionBlockerMessage">
  <div class="kContent kOverrideFAIcons">
    <span class="kTitle">{{'applications.content.bulkActions.changeOwner' | translate}}</span>
    <div class="kContainer">
      <span class="kLabel">{{'applications.content.bulkActions.changeOwnerLabel' | translate}}</span>

      <kAutoComplete [(ngModel)]="_owner"
                     suggestionItemField="item"
                     suggestionLabelField="name"
                     field="screenName"
                     [onItemAdding]="_convertUserInputToValidValue"
                     [tooltipResolver]="'__tooltip'"
                     [classField]="'__class'"
                     [allowMultiple]="false"
                     [limitToSuggestions]="false"
                     placeholder="{{'applications.content.entryDetails.users.changeOwnerPH' | translate}}"
                     [minLength]="3"
                     [suggestionsProvider]="_usersProvider"
                     (onUnselect)="_updateApplyButtonState()"
                     (onSelect)="_updateApplyButtonState()"
                     (completeMethod)="_searchUsers($event)">
      </kAutoComplete>

    </div>
    <div class="kFooter">
      <button type="button"
              class="kButtonBranded"
              pButton
              [label]="'applications.content.bulkActions.apply' | translate"
              [disabled]="_disableApplyButton"
              (click)="_apply()"></button>
    </div>
  </div>
</k-area-blocker>
