@import "app-theme/_variables.scss";

:host ::ng-deep kscheduling {
  .kScheduling {
    padding-left: 24px;
    .kTitle{
      color: $kGrayscale1;
      font-size: 24px !important;
      font-weight: 700;
      text-align: center;
      margin-left: -24px;
      padding-left: 24px;
      border-bottom: 1px solid $kGrayscale4;
      height: 54px !important;
      line-height: 36px;
    }
  }
}
.kContent{
  display: flex;
  flex-direction: column;
  height: 500px;
}
.kFooter{
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100%;
  height: 66px;
  border-top: 1px solid $kGrayscale4;
  align-items: center;
  justify-content: center;
}
