@import 'app-theme/_variables.scss';

.kHelpLink {
  font-size: 14px;
  cursor: pointer;
  color: $kGrayscale1;
  &:hover {
    color: #000000;
  }
}

.kChangelogLink {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;

  .kIconChangelog {
    color: $kGrayscale1;
    align-self: center;
    line-height: 14px;

    &:before {
      content: ' \25CF';
      font-size: 20px;
    }

    &.active {
      color: $kDandger;
    }
  }
}

.kChangelogContent {
  padding: 20px;
  height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
}
