<p class="kHelpLink kChangelogLink" (click)="changelog.open()">
  <span>{{'app.helpMenu.changelog' | translate}}</span>
  <i class="kIconChangelog" [class.active]="true"></i>
</p>

<kPopupWidget #changelog [popupWidth]="700" [popupHeight]="600" [closeBtn]="true" [modal]="true">
  <ng-template>
    <div class="kChangelogContent">
      <!-- TODO [kmcng] HARDCODE  -->
      <h1><a id="Change_Log_0"></a>Change Log</h1>
      <p>All notable changes to this project will be documented in this file. See <a
        href="https://github.com/conventional-changelog/standard-version">standard-version</a> for commit guidelines.</p>
      <h2><a id="301httpsgithubcomkalturakmcngcomparev300v301_20170926_4"></a><a
        href="https://github.com/kaltura/kmc-ng/compare/v3.0.0...v3.0.1">3.0.1</a> (2017-09-26)</h2>
      <h1><a id="300httpsgithubcomkalturakmcngcomparev231v300_20170925_8"></a><a
        href="https://github.com/kaltura/kmc-ng/compare/v2.3.1...v3.0.0">3.0.0</a> (2017-09-25)</h1>
      <h3><a id="Bug_Fixes_11"></a>Bug Fixes</h3>
      <ul>
        <li>entry related files - detect file type upon selection (<a href="https://github.com/kaltura/kmc-ng/commit/25b9289">25b9289</a>)
        </li>
        <li><strong>administration:</strong> update screens accorind to new design (<a
          href="https://github.com/kaltura/kmc-ng/commit/49df64d">49df64d</a>)
        </li>
        <li>center login screen vertically in all resolutions (<a href="https://github.com/kaltura/kmc-ng/commit/5e19ed8">5e19ed8</a>)</li>
        <li><strong>content-entries:</strong> created on header should come from localization instead of being hard-coded (<a
          href="https://github.com/kaltura/kmc-ng/commit/5885399">5885399</a>)
        </li>
        <li><strong>content-entries:</strong> don’t confirm chunk operation on bulk delete (<a
          href="https://github.com/kaltura/kmc-ng/commit/ebceb15">ebceb15</a>)
        </li>
        <li><strong>content-entries:</strong> fix bulk dropdown position (<a
          href="https://github.com/kaltura/kmc-ng/commit/4fb75d0">4fb75d0</a>)
        </li>
        <li><strong>content-entries:</strong> fix bulk menu misplaced position (<a href="https://github.com/kaltura/kmc-ng/commit/68e5835">68e5835</a>)
        </li>
        <li><strong>content-entries:</strong> fix chunk size environment constant to be 50 (<a
          href="https://github.com/kaltura/kmc-ng/commit/0e30ad2">0e30ad2</a>)
        </li>
        <li><strong>content-entries:</strong> hook delete icon to delete operation (<a
          href="https://github.com/kaltura/kmc-ng/commit/418f7fc">418f7fc</a>)
        </li>
        <li><strong>content-entries:</strong> replace loading spinner with designed spinner (<a
          href="https://github.com/kaltura/kmc-ng/commit/4896d04">4896d04</a>)
        </li>
        <li><strong>content-entries:</strong> rpopup-widget style (<a href="https://github.com/kaltura/kmc-ng/commit/8ea88d1">8ea88d1</a>)
        </li>
        <li><strong>content-entries:</strong> rpopup-widget style (<a href="https://github.com/kaltura/kmc-ng/commit/ba85b50">ba85b50</a>)
        </li>
        <li><strong>content-entries:</strong> set preferences window close button onside the window (<a
          href="https://github.com/kaltura/kmc-ng/commit/8361ff6">8361ff6</a>)
        </li>
        <li><strong>content-entry:</strong> add caption UI alignment (<a href="https://github.com/kaltura/kmc-ng/commit/3811409">3811409</a>)
        </li>
        <li><strong>content-entry:</strong> default sort by thumbnail dimensions (<a
          href="https://github.com/kaltura/kmc-ng/commit/48d0006">48d0006</a>)
        </li>
        <li><strong>content-entry:</strong> disable preview &amp; Embed link for entries with status other than “ready” (<a
          href="https://github.com/kaltura/kmc-ng/commit/bb913a1">bb913a1</a>)
        </li>
        <li><strong>content-entry:</strong> fix calendar style (<a href="https://github.com/kaltura/kmc-ng/commit/75b5231">75b5231</a>)</li>
        <li><strong>content-entry:</strong> fix calendar style (<a href="https://github.com/kaltura/kmc-ng/commit/c5f3577">c5f3577</a>)</li>
        <li><strong>content-entry:</strong> fix file types for flavour upload (video and audio) (<a
          href="https://github.com/kaltura/kmc-ng/commit/386dc4b">386dc4b</a>)
        </li>
        <li>move search icon to theme repository (<a href="https://github.com/kaltura/kmc-ng/commit/6009faf">6009faf</a>)</li>
        <li><strong>content-entry:</strong> fix landing page link when containing entryId (<a
          href="https://github.com/kaltura/kmc-ng/commit/d7ac748">d7ac748</a>)
        </li>
        <li>allow more space for caption file name on caption upload (<a href="https://github.com/kaltura/kmc-ng/commit/b8e823e">b8e823e</a>)
        </li>
        <li>beter condition for entry instance checking (<a href="https://github.com/kaltura/kmc-ng/commit/d0f06bd">d0f06bd</a>)</li>
        <li>entries table style fix (<a href="https://github.com/kaltura/kmc-ng/commit/4ffdc2f">4ffdc2f</a>)</li>
        <li>entry captions - allow selecting DFXP files (<a href="https://github.com/kaltura/kmc-ng/commit/0752a25">0752a25</a>)</li>
        <li>entry scheduling - allow calendar popup to overflow the entry details component so it won’t get cut in low resolutions (<a
          href="https://github.com/kaltura/kmc-ng/commit/97cc99f">97cc99f</a>)
        </li>
        <li>entry scheduling - allow editing of date and time. Allow overflow of calendar popup (<a
          href="https://github.com/kaltura/kmc-ng/commit/3617484">3617484</a>)
        </li>
        <li>entry scheduling - clear dates marks the form as dirty (<a href="https://github.com/kaltura/kmc-ng/commit/17aa1db">17aa1db</a>)
        </li>
        <li>entry scheduling - set time zone syntax fix (<a href="https://github.com/kaltura/kmc-ng/commit/28ce05e">28ce05e</a>)</li>
        <li>fix change owner popup layout (height, margins) in entry details and bulk operation. Fix bug causing a crash when adding tooltip
          to
          the selected owner. (<a href="https://github.com/kaltura/kmc-ng/commit/4681097">4681097</a>)
        </li>
        <li>fix compilation issues due to merge (<a href="https://github.com/kaltura/kmc-ng/commit/8c62d15">8c62d15</a>)</li>
        <li>fix IE11 entry details screen width issue (panel exceeds screen width) (<a
          href="https://github.com/kaltura/kmc-ng/commit/a042ae1">a042ae1</a>)
        </li>
        <li>fixed logic in get entry operation (<a href="https://github.com/kaltura/kmc-ng/commit/abc6099">abc6099</a>)</li>
        <li>fixed styles for flavors table (<a href="https://github.com/kaltura/kmc-ng/commit/00f492f">00f492f</a>)</li>
        <li>fixed styles for flavors tags using a pipe (<a href="https://github.com/kaltura/kmc-ng/commit/a047320">a047320</a>)</li>
        <li>prevent double confirmation when navigating between entries with unsaved data (<a
          href="https://github.com/kaltura/kmc-ng/commit/bbf27ba">bbf27ba</a>)
        </li>
        <li>prevent ExpressionChangedAfterItHasBeenCheckedError error when initializing the edit panel (<a
          href="https://github.com/kaltura/kmc-ng/commit/c3681c5">c3681c5</a>)
        </li>
        <li>redirect to login when navigating to the root (<a href="https://github.com/kaltura/kmc-ng/commit/118e688">118e688</a>)</li>
        <li>resolve symlink version for workspace development (<a href="https://github.com/kaltura/kmc-ng/commit/52cb29c">52cb29c</a>)</li>
        <li>runtime issue when navigating to default route (<a href="https://github.com/kaltura/kmc-ng/commit/789989b">789989b</a>)</li>
        <li>typescript trnaspile errors during deployment to production (<a
          href="https://github.com/kaltura/kmc-ng/commit/f937423">f937423</a>)
        </li>
        <li>typo in label (<a href="https://github.com/kaltura/kmc-ng/commit/9424aa5">9424aa5</a>)</li>
        <li>update label for upload button (<a href="https://github.com/kaltura/kmc-ng/commit/94d2442">94d2442</a>)</li>
        <li>use new api provided by kaltura-ui for the form-manager module (<a
          href="https://github.com/kaltura/kmc-ng/commit/5be9d46">5be9d46</a>)
        </li>
        <li>verify leave entry details when data is not saved (<a href="https://github.com/kaltura/kmc-ng/commit/a0bd1b1">a0bd1b1</a>)</li>
        <li><strong>content-entry:</strong> prevent VOD playback of live entries when video broadcast is offline (entry preview panel) (<a
          href="https://github.com/kaltura/kmc-ng/commit/8f6d08b">8f6d08b</a>)
        </li>
        <li><strong>content-entry:</strong> set preview panel tooltips placement to the left (<a
          href="https://github.com/kaltura/kmc-ng/commit/f29c15d">f29c15d</a>)
        </li>
        <li><strong>content-entry:</strong> set preview panel tooltips placement to the left (<a
          href="https://github.com/kaltura/kmc-ng/commit/ab38a16">ab38a16</a>)
        </li>
        <li><strong>content-entry:</strong> set the default access control profile to be the first option in the drop-down list (<a
          href="https://github.com/kaltura/kmc-ng/commit/abe88a2">abe88a2</a>)
        </li>
        <li><strong>content-entry:</strong> support line breaks in access control profile description (<a
          href="https://github.com/kaltura/kmc-ng/commit/c9300f7">c9300f7</a>)
        </li>
        <li><strong>content-playlists:</strong> display an alert when trying to create a rule-based playlist instead of using the area
          blocker
          message (<a href="https://github.com/kaltura/kmc-ng/commit/6615ea6">6615ea6</a>)
        </li>
        <li><strong>settings-account-settings:</strong> fix form styles (<a
          href="https://github.com/kaltura/kmc-ng/commit/466a222">466a222</a>)
        </li>
        <li><strong>shell:</strong> move sherad configuration outside of environments/environment (<a
          href="https://github.com/kaltura/kmc-ng/commit/48556d9">48556d9</a>)
        </li>
      </ul>
      <h3><a id="Code_Refactoring_68"></a>Code Refactoring</h3>
      <ul>
        <li>use angular-cli during the deployment process (<a href="https://github.com/kaltura/kmc-ng/commit/a31dd05">a31dd05</a>)</li>
      </ul>
      <h3><a id="Features_73"></a>Features</h3>
      <ul>
        <li><strong>administration-roles:</strong> add roles list, role edit/add/duplicate/delete. missing roles permission modification (<a
          href="https://github.com/kaltura/kmc-ng/commit/bcc79e5">bcc79e5</a>)
        </li>
        <li><strong>content:</strong> entries bulk operations for delete, change owner, remove from category, download, access control (<a
          href="https://github.com/kaltura/kmc-ng/commit/c386c3d">c386c3d</a>)
        </li>
        <li><strong>content:</strong> support categories list actions like reload, pagination and sorting (<a
          href="https://github.com/kaltura/kmc-ng/commit/2a32ca2">2a32ca2</a>)
        </li>
        <li><strong>content-categories:</strong> add category details view (layout &amp; basic functionality only) (<a
          href="https://github.com/kaltura/kmc-ng/commit/966d178">966d178</a>)
        </li>
        <li><strong>content-categories:</strong> show categories list with basic implementation (<a
          href="https://github.com/kaltura/kmc-ng/commit/c220a6a">c220a6a</a>)
        </li>
        <li><strong>content-entries:</strong> placeholders for missing bulk actions (add to new category, add to new playlist) (<a
          href="https://github.com/kaltura/kmc-ng/commit/ec8864a">ec8864a</a>)
        </li>
        <li><strong>content-playlists:</strong> add new playlist wizard (currently support only manual playlist) (<a
          href="https://github.com/kaltura/kmc-ng/commit/9cdd1a1">9cdd1a1</a>)
        </li>
        <li><strong>content-playlists:</strong> add section list navigation panel, show playlist details and loading notifications (<a
          href="https://github.com/kaltura/kmc-ng/commit/40496cb">40496cb</a>)
        </li>
        <li><strong>content-playlists:</strong> bulk delete of playlists (<a
          href="https://github.com/kaltura/kmc-ng/commit/25a877a">25a877a</a>)
        </li>
        <li>add categories app (currently without content) and adjust the application routing accordingly (<a
          href="https://github.com/kaltura/kmc-ng/commit/fb40452">fb40452</a>)
        </li>
        <li>add growl support as part of the app services (<a href="https://github.com/kaltura/kmc-ng/commit/cf7d8b5">cf7d8b5</a>)</li>
        <li>add high speed upload link and fix upload window text labels (<a
          href="https://github.com/kaltura/kmc-ng/commit/0524232">0524232</a>)
        </li>
        <li>add login form, forgot password form, password expired and invalid login hash views (<a
          href="https://github.com/kaltura/kmc-ng/commit/0b1368b">0b1368b</a>)
        </li>
        <li>add npm script to easily checkout to the latest standalone commit (<a href="https://github.com/kaltura/kmc-ng/commit/0ca67e1">0ca67e1</a>)
        </li>
        <li>add studio (load in production build only) (<a href="https://github.com/kaltura/kmc-ng/commit/67a0597">67a0597</a>)</li>
        <li>add tool to extract dependency licenses (<a href="https://github.com/kaltura/kmc-ng/commit/0ca3649">0ca3649</a>)</li>
        <li>allow app minification by removing constraints on function names (<a
          href="https://github.com/kaltura/kmc-ng/commit/e7051e5">e7051e5</a>)
        </li>
        <li>notify the user that caption language is used when caption label is set to empty (<a
          href="https://github.com/kaltura/kmc-ng/commit/ca18dcc">ca18dcc</a>)
        </li>
        <li>playlist navigation between sections and warn when leaving before changes were saved (<a
          href="https://github.com/kaltura/kmc-ng/commit/eb37e66">eb37e66</a>)
        </li>
        <li>show upload menu when user clicks on the upload button in the application header (<a
          href="https://github.com/kaltura/kmc-ng/commit/57b4a79">57b4a79</a>)
        </li>
        <li>support auto-complete color and tooltip for manually added items (<a
          href="https://github.com/kaltura/kmc-ng/commit/31ebf26">31ebf26</a>)
        </li>
        <li>support confirmation multi lines message (<a href="https://github.com/kaltura/kmc-ng/commit/f060a6d">f060a6d</a>)</li>
        <li><strong>content/playlists:</strong> add playlist metadata section supporting data loading and saving (<a
          href="https://github.com/kaltura/kmc-ng/commit/79290b5">79290b5</a>)
        </li>
        <li>support external media entries (<a href="https://github.com/kaltura/kmc-ng/commit/7c8e1ea">7c8e1ea</a>)</li>
        <li>support language file hash to bypass browser cache upon application upgrade (<a
          href="https://github.com/kaltura/kmc-ng/commit/3b102dd">3b102dd</a>)
        </li>
        <li>upgrade PrimeNG to v4.1.0 (<a href="https://github.com/kaltura/kmc-ng/commit/7ca9be2">7ca9be2</a>)</li>
      </ul>
      <h3><a id="Performance_Improvements_103"></a>Performance Improvements</h3>
      <ul>
        <li>import kaltura-typescript-client object explicitly to bundle only elements being used (<a
          href="https://github.com/kaltura/kmc-ng/issues/163">#163</a>) (<a
          href="https://github.com/kaltura/kmc-ng/commit/9597b5e">9597b5e</a>)
        </li>
        <li>upgrade PrimeNG version to 4.1.3 to gain datagrid performances enhancements (<a
          href="https://github.com/kaltura/kmc-ng/commit/a459304">a459304</a>)
        </li>
      </ul>
      <h3><a id="BREAKING_CHANGES_109"></a>BREAKING CHANGES</h3>
      <ul>
        <li>To support the angular-cli process we performed some adjustments:</li>
      </ul>
      <ul>
        <li>kaltura ng libraries were renamed from <code>@kaltura-ng2</code> to <code>@kaltura-ng</code>.</li>
        <li>kaltura ng libraries build process uses ngc instead of tsc.</li>
        <li>kaltura typescript client lib <code>types/all</code> imports were changed to import types explicitly.</li>
        <li>kaltura theme was moved from the repo outside to a separated theme repo. previously imported theme from <code>~kmcng-theme/scss/variables</code>.
          use <code>app-styles/_variables.scss</code>instead.
        </li>
        <li>the configuration data was merged into angular-cli environment infrastructure and is now accessible by importing
          <code>environment</code> from <code>app-environment</code></li>
        <li>kmc-shell was moved into <code>app-shared</code></li>
        <li>css class <code>kUseKMCngIcons</code> was replaced with <code>kOverrideFAIcons</code></li>
      </ul>
      <h2><a id="231httpsgithubcomkalturaKMCngcomparev230v231_20170613_123"></a><a
        href="https://github.com/kaltura/KMCng/compare/v2.3.0...v2.3.1">2.3.1</a> (2017-06-13)</h2>
      <h3><a id="Bug_Fixes_125"></a>Bug Fixes</h3>
      <ul>
        <li><strong>content-entries / entries:</strong> fix tree height to show all nodes upon scroll down</li>
      </ul>
      <h1><a id="230httpsgithubcomkalturaKMCngcomparev222v230_20170613_131"></a><a
        href="https://github.com/kaltura/KMCng/compare/v2.2.2...v2.3.0">2.3.0</a> (2017-06-13)</h1>
      <h3><a id="Bug_Fixes_134"></a>Bug Fixes</h3>
      <ul>
        <li><strong>content-entries:</strong> fix entries view &gt; refine filter popup &gt; schedule filter.</li>
        <li>prevent creation of multiple tooltip instances</li>
      </ul>
      <h3><a id="Features_139"></a>Features</h3>
      <ul>
        <li><strong>content-entries / entry:</strong> new layout for entry details view&gt;metadata section&gt;categories selector popup.
          (<a
            href="https://github.com/kaltura/KMCng/commit/5d0b84d">5d0b84d</a>)
        </li>
        <li>update style of auto-complete to match the new provided style.</li>
      </ul>
      <h3><a id="Performance_Improvements_145"></a>Performance Improvements</h3>
      <ul>
        <li><strong>content-entries:</strong> improved change detection of changes in the refine filters (<a
          href="https://github.com/kaltura/KMCng/commit/557b851">557b851</a>)
        </li>
        <li><strong>content-entries:</strong> instantiate refine component only when showing the popup and destroy it once closed. remove
          heavy
          change detection of multiple tree components (<a href="https://github.com/kaltura/KMCng/commit/55c9afd">55c9afd</a>)
        </li>
      </ul>
      <h2><a id="222httpsgithubcomkalturaKMCngcomparev221v222_20170612_153"></a><a
        href="https://github.com/kaltura/KMCng/compare/v2.2.1...v2.2.2">2.2.2</a> (2017-06-12)</h2>
      <h3><a id="Bug_Fixes_156"></a>Bug Fixes</h3>
      <ul>
        <li><strong>content-entries:</strong> make sure changes in entries are shown when returning from entry details view (<a
          href="https://github.com/kaltura/KMCng/commit/1268ed9">1268ed9</a>)
        </li>
      </ul>
      <h2><a id="221httpsgithubcomkalturaKMCngcomparev220v221_20170611_163"></a><a
        href="https://github.com/kaltura/KMCng/compare/v2.2.0...v2.2.1">2.2.1</a> (2017-06-11)</h2>
      <h3><a id="Bug_Fixes_166"></a>Bug Fixes</h3>
      <ul>
        <li><strong>content-entries:</strong> fix out-of-sync issue in the categories tree when selecting a parent of already selected node.
          (<a
            href="https://github.com/kaltura/KMCng/commit/bb1a9da">bb1a9da</a>)
        </li>
      </ul>
      <h1><a id="220httpsgithubcomkalturaKMCngcomparev210v220_20170611_171"></a><a
        href="https://github.com/kaltura/KMCng/compare/v2.1.0...v2.2.0">2.2.0</a> (2017-06-11)</h1>
      <h3><a id="Bug_Fixes_174"></a>Bug Fixes</h3>
      <ul>
        <li><strong>content-entries:</strong> highlight metadata in sections list when it contains validation errors (<a
          href="https://github.com/kaltura/KMCng/commit/582f7e1">582f7e1</a>)
        </li>
        <li><strong>content-entries / entry:</strong> disable page exit verification check when leaving entry details without saving (<a
          href="https://github.com/kaltura/KMCng/commit/e428d92">e428d92</a>)
        </li>
        <li><strong>content-entries:</strong> restore active filters when returning from entry details (sort, pagination, selected
          categories
          and refine filters).
        </li>
        <li><strong>content-entries / entry</strong>: Preview and Embed link (in Entry Details) is hidden for ‘Media-Less’ entries</li>
        <li><strong>content-entries / entry</strong>: Remove popups when leaving the view they belong to (‘jump to’ floating in entry
          metadata)
        </li>
        <li><strong>content-entries / entry</strong>: Allow user sorting of Thumbnail section table.</li>
        <li><strong>style</strong>: various style issues</li>
      </ul>
      <h3><a id="Features_185"></a>Features</h3>
      <ul>
        <li>upgrade Angular to version 4.x and any other library that depends on Angular (angular, prime, webpack, typescript) (<a
          href="https://github.com/kaltura/KMCng/commit/c6980dd">c6980dd</a>)
        </li>
        <li><strong>content-entries:</strong> show partial selection state in categories/refine filters (<a
          href="https://github.com/kaltura/KMCng/commit/6a33f94">6a33f94</a>)
        </li>
        <li><strong>content-entries / entries:</strong> show file sizes in various measurements (bytes, KB, MB, GB, TB, PB) in thumbnail and
          related sections (<a href="https://github.com/kaltura/KMCng/commit/226db93">226db93</a>)
        </li>
      </ul>
      <h1><a id="210httpsgithubcomkalturaKMCngcomparev201v210_20170528_194"></a><a
        href="https://github.com/kaltura/KMCng/compare/v2.0.1...v2.1.0">2.1.0</a> (2017-05-28)</h1>
      <h3><a id="Bug_Fixes_197"></a>Bug Fixes</h3>
      <ul>
        <li><strong>content-entries:</strong> change filters names in additional filters that are not listed as in the same order as in
          legacy
          KMC (<a href="https://github.com/kaltura/KMCng/commit/b7857dc">b7857dc</a>)
        </li>
        <li><strong>content-entries / entry:</strong> style fixes for floaters (<a href="https://github.com/kaltura/KMCng/commit/9cce3f0">9cce3f0</a>)
        </li>
        <li><strong>content-entries / entry:</strong> Universal live - set the section global validation status when validating bitrate
          changes
          (<a href="https://github.com/kaltura/KMCng/commit/7f9025e">7f9025e</a>)
        </li>
        <li><strong>content-entries / entry:</strong> Universal live - set the section global validation status when validating bitrate
          changes
          (<a href="https://github.com/kaltura/KMCng/commit/71fe181">71fe181</a>)
        </li>
        <li><strong>content-entries:</strong> fix creation filter tooltip in additional filters (“From” instead of “After”, “Until” instead
          of
          “Before”) (<a href="https://github.com/kaltura/KMCng/commit/971c50d">971c50d</a>)
        </li>
        <li><strong>content-entries:</strong> make sure scheduling filter allows setting custom scheduling along with other scheduling
          filter
          types (<a href="https://github.com/kaltura/KMCng/commit/7396e59">7396e59</a>)
        </li>
        <li><strong>content-entries / entry:</strong> fix metadata section custom metadata forms style (<a
          href="https://github.com/kaltura/KMCng/commit/a4c5160">a4c5160</a>)
        </li>
      </ul>
      <h3><a id="Features_208"></a>Features</h3>
      <ul>
        <li><strong>content-entries / entry:</strong> add last update field display in the entry preview panel (<a
          href="https://github.com/kaltura/KMCng/commit/e12477e">e12477e</a>)
        </li>
        <li><strong>content-entries / entry:</strong> notify user before leaving entry details without saving changed data (<a
          href="https://github.com/kaltura/KMCng/commit/eb5a5a2">eb5a5a2</a>)
        </li>
        <li><strong>content-entries / entry:</strong> use category selector popup to select/unselect entry categories in entry metadata
          section
          (<a href="https://github.com/kaltura/KMCng/commit/8fd4035">8fd4035</a>)
        </li>
        <li><strong>content-entries / entry:</strong> show linked entries component in entry metadata schema and allow delete/reorder of
          entries
          (<a href="https://github.com/kaltura/KMCng/commit/52ebefc">52ebefc</a>)
        </li>
        <li><strong>shell:</strong> enable and disable page leave verification + custom message (for supporting browsers) (<a
          href="https://github.com/kaltura/KMCng/commit/706bd18">706bd18</a>)
        </li>
      </ul>
      <h2><a id="201httpsgithubcomkalturaKMCngcomparev200v201_20170516_219"></a><a
        href="https://github.com/kaltura/KMCng/compare/v2.0.0...v2.0.1">2.0.1</a> (2017-05-16)</h2>
      <h3><a id="Bug_Fixes_222"></a>Bug Fixes</h3>
      <ul>
        <li>prevent users section from failing during save when adding publisher to a new entry (<a
          href="https://github.com/kaltura/KMCng/commit/d23b2a1">d23b2a1</a>)
        </li>
      </ul>
      <h1><a id="200httpsgithubcomkalturaKMCngcomparev010rc4v200_20170516_228"></a><a
        href="https://github.com/kaltura/KMCng/compare/v0.1.0-rc.4...v2.0.0">2.0.0</a> (2017-05-16)</h1>
      <h2><a id="Features_230"></a>Features</h2>
      <ul>
        <li><strong>Entry Details -&gt; Entry details panel</strong>: Entries navigation, data saving, error handling and recovering</li>
        <li><strong>Entry Details -&gt; Entry preview panel</strong>: Entry preview and basic details listing</li>
        <li><strong>Entry Details -&gt; Metadata</strong>: Entry metadata management (basic and custom scheme)</li>
        <li><strong>Entry Details -&gt; Thumbnails</strong>: Entry thumbnails management</li>
        <li><strong>Entry Details -&gt; Access control</strong>: Access control management</li>
        <li><strong>Entry Details -&gt; Scheduling</strong>: Scheduling setup</li>
        <li><strong>Entry Details -&gt; Flavors</strong>: Entry flavors management</li>
        <li><strong>Entry Details -&gt; Captions</strong>: Entry captions management</li>
        <li><strong>Entry Details -&gt; Related files</strong>: Entry related files management</li>
        <li><strong>Entry Details -&gt; Live</strong>: Manual and Universal live details and setup</li>
        <li><strong>Entry Details -&gt; Clips</strong>: Entry clips summary</li>
        <li><strong>Entry Details -&gt; Users</strong>: Entry users management</li>
      </ul>
      <h1><a id="010rc4httpsgithubcomkalturaKMCngcomparev010rc3v010rc4_20170227_245"></a><a
        href="https://github.com/kaltura/KMCng/compare/v0.1.0-rc.3...v0.1.0-rc.4">0.1.0-rc.4</a> (2017-02-27)</h1>
      <h2><a id="Features_247"></a>Features</h2>
      <ul>
        <li><strong>Entries list -&gt; Entries Table</strong>: Add tooltips to media type column.</li>
        <li><strong>Entries list -&gt; Category Filters</strong>: Search for categories with auto-complete. Support both default mode when
          nodes
          are loaded upon initialize and when lazy loading tree nodes.
        </li>
        <li><strong>Entries list -&gt; Refine filters</strong>: Correct start/end date filter times (start dates are adjusted to 00:00:00,
          end
          dates are adjusted to 23:59:59).
        </li>
      </ul>
      <h2><a id="Bugs_252"></a>Bugs</h2>
      <ul>
        <li><strong>Entries list -&gt; Entries Table</strong>: Fix some quirks with the bulk selection.</li>
        <li><strong>Entries list -&gt; Entries Table</strong>: Fix default sort order.</li>
      </ul>
      <hr>
      <h1><a id="010rc3httpsgithubcomkalturaKMCngcomparev010rc2v010rc3_20170220_259"></a><a
        href="https://github.com/kaltura/KMCng/compare/v0.1.0-rc.2...v0.1.0-rc.3">0.1.0-rc.3</a> (2017-02-20)</h1>
      <h2><a id="Features_261"></a>Features</h2>
      <ul>
        <li><strong>General</strong>: Update libraries version</li>
      </ul>
      <hr>
      <h1><a id="010rc2httpsgithubcomkalturaKMCngcomparev010rc1v010rc2_20170209_266"></a><a
        href="https://github.com/kaltura/KMCng/compare/v0.1.0-rc.1...v0.1.0-rc.2">0.1.0-rc.2</a> (2017-02-09)</h1>
      <h3><a id="Features_268"></a>Features</h3>
      <ul>
        <li>
          <p><strong>Entries list -&gt; Entries Table</strong>: Implement entry status logic.</p>
        </li>
        <li>
          <p><strong>General -&gt; logout</strong>: The logout process was implemented with basic support. It will be handled as part of
            future
            delivry. At the moment, logout from the application will clear cache and reload the application.</p>
        </li>
        <li>
          <p><strong>DevOp</strong>: Upgrade dev dependencies:</p>
          <ul>
            <li>Upgrade webpack to 2.x and all its’ loaders accordingly.</li>
            <li>Upgrade typescript to 2.2.x.</li>
            <li>Remove typings usage.</li>
            <li>Add @Types dependencies.</li>
          </ul>
        </li>
        <li>
          <p><strong>DevOp</strong>: Optimize build process and deployed package:</p>
          <ul>
            <li>Reduce javascript bundle sized.</li>
            <li>Minify javascript code.</li>
            <li>Lazy loading support for views.</li>
            <li>Angular2 component template &amp; styles support.</li>
            <li>Theme bundling and assets re-organization.</li>
            <li>Enable Angular runtime production mode.</li>
            <li>Enable <a href="https://github.com/angular/angular/blob/86405345b781a9dc2438c0fbe3e9409245647019/TOOLS_JS.md">angular debug
              tools</a>.
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li><strong>DevOp</strong>: Print application version in console during app load.</li>
      </ul>
      <h3><a id="Bug_Fixes_294"></a>Bug Fixes</h3>
      <ul>
        <li><strong>Login</strong>: fix broken ‘download user manual’ link.</li>
      </ul>
      <hr>
      <h1><a id="010rc1_20170201_300"></a>0.1.0-rc.1 (2017-02-01)</h1>
      <h3><a id="Features_302"></a>Features</h3>
      <ul>
        <li>
          <p><strong>General -&gt; KMCng theme</strong>: Creation of KMCng theme based on the <a
            href="https://projects.invisionapp.com/d/main#/projects/prototypes/9700090">style guide</a> provided by the UI/UX team.</p>
        </li>
        <li>
          <p><strong>Entries list -&gt; Entries Table</strong>: A list of all entries with support for sorting, pagination, filtering,
            custom
            number of rows per page.</p>
        </li>
        <li>
          <p><strong>Entries list -&gt; Free text search</strong>: Support free text entries search.</p>
        </li>
        <li>
          <p><strong>Entries list -&gt; Category Filters</strong>: Support filtering entries by Categories. Support lazy loading for large
            categories data sets and special visualization for large amount of categories.</p>
        </li>
        <li>
          <p><strong>Entries list -&gt; Additional Filters</strong>: Support additional filters.</p>
        </li>
        <li>
          <p><strong>Entries list -&gt; Metadata Filters</strong>: Support metadata filters.</p>
        </li>
        <li>
          <p><strong>Entries list -&gt; Metadata Search</strong>: Support free text search based on metadata profile values.</p>
        </li>
        <li>
          <p><strong>Entries list -&gt; Filters management</strong>: Filters can be managed from within filter drop-downs as well as from
            filter
            tags list.</p>
        </li>
        <li>
          <p><strong>Entries list -&gt; Bulk Selection</strong>: Multiple entries can be selected in the table exposing the Bulk operations
            menu
            and allowing bulk operation selection.</p>
        </li>
      </ul>
      <h3><a id="Known_Issues_322"></a>Known Issues</h3>
      <p><strong>Entries -&gt; Search categories</strong>: This feature is currently under development and will be released shortly.</p>
      <p><strong>KMCng Login process</strong>: The login process presents basic abilities needed to access the entries list. It lacks
        graphic
        design and addtional screens (register, forgot password etc.). It contains the following:</p>
      <ul>
        <li>A basic login form.</li>
        <li>Fetching minimal information about the user/partner required for the entries list.</li>
        <li>Log-out process (basic support only)</li>
      </ul>
      <p><strong>Upper Menu Icons</strong>: The upper menu icons are partially active. The Help menu opens a dropdown placeholder (not
        functional). The user icon opens a dropdown allowing logout. All other options in this menu are just placeholders.</p>
      <p><strong>Localization</strong>: The current version contains a localization mechanism. Currently, only English is available.
        Selecting
        other languages doesn’t apply.</p>
      <p><strong>Entries Permissions</strong>: The permissions mechanism is currently under design and is not part of this release.</p>
      <p><strong>Entry Drill-down</strong>: Entry drill-down is not part of this drop. Clicking an entry name or selecting an action from
        the
        entry actions menu doesn’t invoke drill-down.</p>
      <p><strong>Bulk Operations</strong>: Bulk operations are supported in the entries list screen. However, the actual operations cannot
        be
        invoked in this version.</p>
    </div>
  </ng-template>
</kPopupWidget>
