<div class="kTranscodingProfileFlavorsTable" [class.noResults]="!_flavors?.length">
  <p-dataTable
    #dataTable
    dataKey="id"
    scrollable="true"
    scrollHeight="100%"
    [class.kDisabled]="!_isEditAllowed"
    [immutable]="false"
    [value]="_flavors"
    [emptyMessage]="_emptyMessage"
    (selectionChange)="_onSelectionChange($event)"
    [(selection)]="selectedFlavors">
    <p-column selectionMode="multiple" [style]="{'width': '44px'}"></p-column>

    <p-column field="name"
              [style]="{'padding-left': _isEditAllowed ? '6.5px' : '16px'}"
              [header]="'applications.settings.transcoding.flavors.table.name' | translate">
      <ng-template let-col let-flavor="rowData" pTemplate="body">
        <div class="kTitle kTableColumn" [kTooltip]="flavor[col.field]"
             (click)="_editFlavor(flavor)">{{flavor[col.field]}}</div>
      </ng-template>
    </p-column>

    <p-column field="id" [header]="'applications.settings.transcoding.flavors.table.id' | translate">
    </p-column>

    <p-column field="format" [header]="'applications.settings.transcoding.flavors.table.format' | translate">
    </p-column>

    <p-column field="codec" [header]="'applications.settings.transcoding.flavors.table.codec' | translate">
    </p-column>

    <p-column field="bitrate" [header]="'applications.settings.transcoding.flavors.table.bitrate' | translate">
    </p-column>

    <p-column field="dimensions" [header]="'applications.settings.transcoding.flavors.table.dimensions' | translate">
    </p-column>

    <p-column header="" [style]="{'width': '60px'}" *ngIf="_isEditAllowed">
      <ng-template let-col let-flavor="rowData" pTemplate="body" let-i="rowIndex">
        <div class="kEditFlavorIconWrapper">
          <i class="kIconEdit kEditFlavorIcon" (click)="_editFlavor(flavor)"></i>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>

