<div class="kTranscodingProfileFlavorsTable" [class.noResults]="!_flavors?.length">
    <p-table
        dataKey="id"
        scrollHeight="100%"
        [scrollable]="true"
        [class.kDisabled]="!_isEditAllowed"
        [value]="_flavors"
        (selectionChange)="_onSelectionChange($event)"
        [(selection)]="selectedFlavors">
        <ng-template pTemplate="header">
            <tr>
                <th [ngStyle]="{'width':'44px'}">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th [ngStyle]="{'padding-left': _isEditAllowed ? '6.5px' : '16px'}">
                    {{'applications.settings.transcoding.flavors.table.name' | translate}}
                </th>
                <th>
                    {{'applications.settings.transcoding.flavors.table.id' | translate}}
                </th>
                <th>
                    {{'applications.settings.transcoding.flavors.table.format' | translate}}
                </th>
                <th>
                    {{'applications.settings.transcoding.flavors.table.codec' | translate}}
                </th>
                <th>
                    {{'applications.settings.transcoding.flavors.table.bitrate' | translate}}
                </th>
                <th>
                    {{'applications.settings.transcoding.flavors.table.dimensions' | translate}}
                </th>
                <th [ngStyle]="{'width': '60px'}" *ngIf="_isEditAllowed"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-flavor>
            <tr [pSelectableRow]="flavor">
                <td [ngStyle]="{'width':'44px', 'overflow': 'visible'}">
                    <p-tableCheckbox [value]="flavor"></p-tableCheckbox>
                </td>
                <td [ngStyle]="{'padding-left': _isEditAllowed ? '6.5px' : '16px'}">
                    <div class="kTitle kTableColumn" [kTooltip]="flavor.name"
                         (click)="_editFlavor(flavor)">{{flavor.name}}
                    </div>
                </td>
                <td>{{flavor.id}}</td>
                <td>{{flavor.format}}</td>
                <td>{{flavor.codec}}</td>
                <td>{{flavor.bitrate}}</td>
                <td>{{flavor.dimensions}}</td>
                <td [ngStyle]="{'width': '60px'}" *ngIf="_isEditAllowed">
                    <div class="kEditFlavorIconWrapper">
                        <i class="kIconEdit kEditFlavorIcon" (click)="_editFlavor(flavor)"></i>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <div class="emptymessage">{{_emptyMessage}}</div>
        </ng-template>
    </p-table>
</div>

