@import 'app-theme/_variables.scss';

.kNewProfile {
    width: 100%;


    display: flex;
    flex-direction: column;

    .kHeader {
        height: 78px;
        width: 100%;
        text-align: center;
        padding-top: 24px;
        box-sizing: border-box;
        border-bottom: 1px solid $kGrayscale4;

        .kTitle {
            color: #333333;
            font-size: 24px;
            font-weight: bold;
        }
    }

    .kContainer {
        flex: 1 1 auto;
        height: 150px;
        .kProfileForm {
            padding: 24px 28px 28px 28px;
        }

        .kRow {
            display: flex;
            flex-direction: column;
            .labelWithHelpTip {
                align-items: center;
                align-self: flex-start;
                display: flex;
                width: 240px;
                flex: 0 0 auto;
                font-size: 15px;
                .kLabel {
                    width: auto;
                }
            }
            .kRequired {
                width: 20px;
                flex: 0 0 auto;
                font-size: 24px;
                margin-left: auto;
                color: $kGrayscale3;
                &.kHasError {
                    color: $kDandger;
                    font-weight: bold;
                }
            }

            .kRequired, .kLabel {
                padding: 8px 4px;
                height: 18px;
            }

            .kControl {
                height: 34px;
                width: 100%;

                &.kHasError {
                    border: 1px solid $kDandger;
                    background: initial;
                }
            }
            .kError {
                color: $kDandger;
                padding-top: 4px;
                font-size: 15px;
            }
        }
    }

    .kFooter {
        padding: 15px 0;
        border-top: 1px solid $kGrayscale4;
        display: flex;
        align-items: center;
        justify-content: center;

        .kBtn {
            min-width: 100px;
            height: 34px;
            font-size: 14px;
            min-width: 150px;
            margin-left: 8px;
            margin-right: 8px;

            &:disabled {
                border-width: 1px;
            }
        }
    }

}
