<k-area-blocker [message]="_blockerMessage">
    <div class="kNewProfile">

        <div class="kHeader">
            <span class="kTitle">{{'applications.settings.integrationSettings.teams.secret' | translate}}</span>
        </div>
        <div class="kContainer" #scrollableContainer>
            <form class="kProfileForm" [formGroup]="_profileForm" novalidate>

                <div class="kRow">
                    <div class="labelWithHelpTip">
                        <span class="kLabel">{{'applications.settings.integrationSettings.teams.appClientSecret' | translate}}</span>
                        <kInputHelper>
                            <span>{{'applications.settings.integrationSettings.teams.appClientSecret_tt' | translate}}</span>
                        </kInputHelper>
                    </div>
                    <div>
                        <input class="kControl" pInputText [maxlength]="255"
                               formControlName="appClientSecret"
                               [class.kHasError]="_profileForm.get('appClientSecret').invalid && _profileForm.get('appClientSecret').touched">
                        <div *ngIf="_profileForm.get('appClientSecret').hasError('required') && _profileForm.get('appClientSecret').touched" class="kError">
                            {{'applications.administration.role.errors.required' | translate}}
                        </div>
                    </div>
                </div>
             </form>
        </div>

        <div class="kFooter">
            <button type="button" class="kButtonDefault kBtn" (click)="parentPopupWidget.close()" pButton
                    label="{{'app.common.cancel' | translate}}"></button>
            <button type="button" class="kButtonBranded kBtn"
                    [disabled]="_saveDisabled" (click)="_updateSecret()" pButton
                    label="{{'applications.settings.integrationSettings.teams.update' | translate}}"></button>
        </div>

    </div>
</k-area-blocker>
