@import 'app-theme/_variables.scss';

.kUserSettings {
  margin-left: 12px;
  padding-top: 3px;
  padding-bottom: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

i {
  margin-right: 8px;
}

li {
  margin-top: 14px;
}

hr {
  height: 1px;
  border: none;
  margin-left: -12px;
  color: $kGrayscale4;
  background-color: $kGrayscale4;
}

.kMenuItemLabel {
  font-size: 15px;
  color: $kGrayscale1;
}

.kMenuItem {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: -18px;
  a {
    margin-top: 4px;
    color: $kTertiary;
    &:hover {
      color: darken($kTertiary, 10%);
    }
    &:active {
      color: $kTertiary;
    }
  }
    span {
        word-break: break-word;
    }
}

.kIcon {
  color: $kGrayscale3;
  font-size: 18px;
}

.kLanguages {
  margin-bottom: 12px;
}

:host /deep/ .ui-dropdown.ui-widget {
  width: 215px !important;
}
