@import 'app-theme/_variables.scss';

.kUserSettings {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 3px;
    padding-bottom: 8px;
    .kLinks {
        display: flex;
        flex-direction: column;
        padding-bottom: 4px;
    }
    a {
        margin-top: 4px;
        line-height: 24px;
        margin-bottom: 4px;
        color: $kGrayscale1;
        &:hover {
            color: #0D499D;
        }
        text-decoration: none;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    padding-bottom: 4px;
}

i {
    margin-right: 8px;
}

li {
    margin-top: 18px;
}

hr{
    height: 1px;
    margin-left: -20px;
    margin-right: -20px;
    border: 0;
    border-top: 1px solid $kGrayscale6;
}

.kMenuItemLabel {
    font-size: 15px;
    color: $kGrayscale1;
}

.kMenuItem {
    display: flex;
    flex-direction: column;
    margin-left: 28px;
    margin-top: -18px;
}

.kIcon {
    color: $kGrayscale1;
    font-size: 18px;
}

.kLanguages {
    margin-bottom: 12px;
}

:host ::ng-deep .p-dropdown {
    min-width: 208px;
    width: 208px !important;
}
