
<!-- Entries table -->
<div class="kMultiple">
    <div class="kRow kTableHeader">
        <div *ngIf="selectedEntries.length">
            <span>{{selectedEntries.length}} {{'applications.content.entryDetails.metadata.selected' | translate}}</span>
            <button pButton icon="kIcontrash" class="kButtonDanger kBulkDeleteBtn"></button>
            <button pButton icon="kIcondropdown_arrow_bottom" class="kButtonDefault"></button>
            <button pButton icon="kIcondropdown_arrow_top" class="kButtonDefault"></button>
            <a class="kDelete" (click)="selectedEntries=[]">{{'applications.content.entryDetails.metadata.cancel' | translate}}</a>
        </div>
        <button *ngIf="!selectedEntries.length" pButton class="kButtonDefault" (click)="entries.push('Entry '+(entries.length+1))" label="{{'applications.content.entryDetails.metadata.addEntry' | translate}}"></button>
    </div>
    <div>
        <p-dataTable [value]="entries" [(selection)]="selectedEntries">
            <p-column [style]="{'width':'44px', 'padding-left': '14px'}" selectionMode="multiple"></p-column>
            <p-column header="{{'applications.content.entryDetails.metadata.thumbnail' | translate}}">
                <template let-col let-entry="rowData" pTemplate="body">
                    <div class="kThumbnailHolder"><span class="kHelper"></span><img src="" onError="this.onerror=null;this.style.display='none'"></div>
                </template>
            </p-column>
            <p-column header="{{'applications.content.entryDetails.metadata.entryName' | translate}}">
                <template let-col let-entry="rowData" pTemplate="body">
                    <span>{{entry}}</span>
                </template>
            </p-column>
            <p-column header="{{'applications.content.entryDetails.metadata.entryID' | translate}}">
                <template let-col let-entry="rowData" pTemplate="body">
                    <span>Entry ID</span>
                </template>
            </p-column>
            <p-column [style]="{'width':'60px'}">
                <template let-col let-entry="rowData" pTemplate="body">
                    <button pButton class="kButtonDefault kDeletehBtn small" type="text" icon="kIcontrash" (click)="selectedEntries=[];entries.splice(entries.indexOf(entry), 1)"></button>
                </template>
            </p-column>
        </p-dataTable>
    </div>
</div>
