@import '~kmcng-theme/scss/variables';

.jumpTo{
	position: absolute;
	right: 0px;
	button{
		font-weight: 400;
		height: 32px;
	}
}
.kMetadataDetails{
	padding-left: 12px;
	padding-right: 130px;
	width: 100%;
	.kRow{
		display: flex;
		padding-top: 20px;
	}
	.kLabels{
		width: 140px;
		flex: 0 0 auto;
	}
	input, textarea{
		width: 100%;
	}
	textarea{
		height: 70px;
	}
}
:host /deep/ .ui-autocomplete.ui-widget{
	width: 100%;
	input{
		width: 100%;
	}
}
:host /deep/ .ui-button-icon-right.ui-c.fa.fa-fw.kIcondropdown_arrow_bottom{
	font-size: 11px;
	padding-right: 4px;
}

:host /deep/ .ui-autocomplete.ui-widget{
	width: 100%;
	input{
		width: 100%;
	}
}
:host /deep/ kAutoComplete{
	width: 100%;
}
