@import '~kmcng-theme/scss/variables';

.jumpTo{
	position: absolute;
	right: 0px;
	button{
		font-weight: 400;
		height: 32px;
	}
}
.kMetadataDetails{
	padding-left: 12px;
	padding-right: 130px;
	width: 100%;
	.kRow{
		display: flex;
		padding-top: 20px;
	}
	.kValign{
		align-items: center;
	}
	.kLabels{
		width: 140px;
		flex: 0 0 auto;
	}
	input, textarea{
		width: 100%;
	}
	textarea.twoRows{
		height: 36px;
	}
	textarea.threeRows{
		height: 52px;
	}
	.kMultiple{
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.kSingleItem{
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-bottom: 12px;
	}
	.kAdd{
		margin-left: 14px;
	}
	.kAddDate{
		margin-left: 46px;
	}
}

:host /deep/ .ui-dropdown-trigger .fa.fa-caret-down{
	margin-top: 2px;
	margin-left: 1px;
	position: absolute;
	color: $kGrayscale1;
}
:host /deep/ .ui-dropdown.ui-widget{
	width: 180px !important;
}

:host /deep/ .ui-dropdown-label.ui-inputtext{
	background-color: #ffffff;
}

:host /deep/ .ui-multiselect-label-container{
	width: 180px !important;
	color: $kGrayscale3;
}

:host /deep/ .ui-multiselect-trigger .fa.fa-caret-down{
	margin-top: 2px;
	margin-left: 1px;
	position: absolute;
	color: $kGrayscale1;
}

:host /deep/ .ui-autocomplete.ui-widget{
	width: 100%;
	input{
		width: 100%;
	}
}
:host /deep/ .ui-button-icon-right.ui-c.fa.fa-fw.kIcondropdown_arrow_bottom{
	font-size: 11px;
	padding-right: 4px;
}

:host /deep/ .ui-autocomplete.ui-widget{
	width: 100%;
	input{
		width: 100%;
	}
}
:host /deep/ .ui-calendar .ui-inputtext{
	width: 144px;
}

:host /deep/ kAutoComplete{
	width: 100%;
}
