@import "app-theme/_variables.scss";

hr {
    height: 1px;
    margin-left: -20px;
    margin-right: -20px;
    border: 0;
    border-top: 1px solid #ebebeb;
}

.kHelpLink{
    font-size: 14px;
    cursor: pointer;
    color: $kGrayscale1;
    &:hover{
        color: #000000;
    }
}
