@import 'app-theme/_variables.scss';

.kClips{
	.kTitle{
		color: $kGrayscale1;
		font-size: 20px;
		font-weight: 700;
		padding-left: 24px;
	}
  .kButtons{
    display: flex;
    gap: 16px;
    padding-left: 24px;
    align-items: center;
    button{
      height: 32px;
      font-weight: 400;
    }
  }
	.kTable{
		margin-top: 24px;
        .kQuizzesTableActions {
            width: 100%;
            text-align: center;
        }
	}
}
:host ::ng-deep .ui-paginator {
	padding-right: 12px;
}
:host ::ng-deep .kTableFooter {
  position: relative;
  .p-dropdown-panel {
    min-width: 70px;
  }
}
