<div style="padding-top: 20px">
    <p style="padding-left: 20px">ADDITIONAL FILTERS</p>
    <div style="padding-left: 20px">
        <p>Created Between</p>
        <p-calendar [(ngModel)]="createdFrom" [showIcon]="true" icon="kIconcalendar" (onSelect)="updateFilter()"></p-calendar>
        <span style="margin-left: 40px; margin-right: 5px">-</span>
        <p-calendar [(ngModel)]="createdTo" [showIcon]="true" icon="kIconcalendar" (onSelect)="updateFilter()"></p-calendar>
    </div>
    <p style="padding-left: 20px">
        <a class="clearAll" (click)="clearDates()">Clear Dates</a>
    </p>


    <p-tree [value]="defaultFiltersNodes" selectionMode="checkbox" [selection]="selectedFilters"  (onNodeSelect)="updateFilter($event)" (onNodeUnselect)="updateFilter($event)" >
        <template let-node  pTemplate type="default">
            <span  class="kTreeNodeLabel">{{node.label}} ({{ node.childrenCount}})</span>
            <div *ngIf="node.id==='scheduled'" (click)="blockScheduleToggle($event)">

                <div>
                    <p-calendar #scheduledfrom [(ngModel)]="scheduledFrom" [disabled]="!isScheduledEnabled()" [appendTo]="'body'" (onSelect)="scheduledfrom.overlayVisible = false; updateFilter()"></p-calendar>
                    <p-calendar #scheduledto [(ngModel)]="scheduledTo" [disabled]="!isScheduledEnabled()" (onSelect)="scheduledto.overlayVisible = false; updateFilter()"></p-calendar>
                </div>
            </div>
        </template>
    </p-tree>


    <div *ngFor="let metadataProfile of metadataProfilesFilters">
        <p style="padding-left: 20px">{{metadataProfile.label | uppercase}}</p>
        <p-tree [value]="metadataProfile.filters" selectionMode="checkbox" [(selection)]="selectedFilters" (onNodeSelect)="updateFilter()" (onNodeUnselect)="updateFilter()">
            <template let-node  pTemplate type="default">
                <span class="kTreeNodeLabel">{{node.label}}</span>
            </template>
        </p-tree>
    </div>
    <p style="padding-left: 20px">
        <a class="clearAll" [class.disabled]="selectedFilters.length === 0" (click)="clearAll()">Clear all</a>
    </p>
</div>

