<div style="padding-top: 20px">
    <p style="padding-left: 20px">ADDITIONAL FILTERS</p>
    <div style="padding-left: 20px">
        <p>Created Between</p>
        <p-calendar [(ngModel)]="createdFrom" [readonlyInput]="true" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" icon="kIconcalendar" (onSelect)="updateCreatedFromFilter($event)"></p-calendar>
        <span style="margin-left: 40px; margin-right: 5px">-</span>
        <p-calendar [(ngModel)]="createdTo" [readonlyInput]="true" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" icon="kIconcalendar" (onSelect)="updateCreatedToFilter($event)"></p-calendar>
    </div>
    <p style="padding-left: 20px">
        <a class="clearAll" (click)="clearCreatedFilters()">Clear Dates</a>
    </p>


    <p-tree [value]="defaultFiltersNodes" selectionMode="checkbox" [selection]="selectedNodes"  (onNodeSelect)="updateTreeFilter($event)" (onNodeUnselect)="updateTreeFilter($event)" >
        <template let-node  pTemplate type="default">
            <span  class="kTreeNodeLabel">{{node.label}} <span *ngIf="node.childrenCount">({{ node.childrenCount}})</span></span>
            <div *ngIf="node.data==='scheduled'" (click)="blockScheduleToggle($event)">
                <div>
                    <p-calendar #scheduledfrom [(ngModel)]="scheduledFrom" [disabled]="!scheduledSelected" [appendTo]="'body'" [monthNavigator]="true" [yearNavigator]="true" [readonlyInput]="true" (onSelect)="updateScheduledFilter()"></p-calendar>
                    <p-calendar #scheduledto [(ngModel)]="scheduledTo" [disabled]="!scheduledSelected" [monthNavigator]="true" [yearNavigator]="true" [readonlyInput]="true" (onSelect)="updateScheduledFilter()"></p-calendar>
                </div>
            </div>
        </template>
    </p-tree>


    <div *ngFor="let metadataProfile of metadataProfilesFilters">
        <p style="padding-left: 20px">{{metadataProfile.label | uppercase}}</p>
        <p-tree [value]="metadataProfile.filters" selectionMode="checkbox" [(selection)]="selectedFilters" (onNodeSelect)="updateTreeFilter()" (onNodeUnselect)="updateTreeFilter()">
            <template let-node  pTemplate type="default">
                <span class="kTreeNodeLabel">{{node.label}}</span>
            </template>
        </p-tree>
    </div>
    <p style="padding-left: 20px">
        <a class="clearAll" [class.disabled]="selectedNodes.length === 0" (click)="clearAllTreeFilters()">Clear all</a>
    </p>
</div>

