<div [kLoader]="(entriesStore.status$ | async)?.loading" [loadingError]="_loadingError" (onActionRequested)="onLoadingAction($event)" kFillHeight class="kEntriesTable col">
    <p-dataTable #dataTable [value]="entries" [sortField]="filter.sortBy"
                 [sortOrder]="filter.sortDirection " scrollable="true" scrollHeight="100%"
                 (selectionChange)="onSelectionChange($event)" (onSort)="onSortChanged($event)"
                 [(selection)]="tableSelectedEntries">
        <p-column [style]="{'width':'44px', 'padding-left': '14px'}" selectionMode="multiple"></p-column>
        <p-column field="thumbnailUrl" header="{{'applications.content.table.thumbnail' | translate}}" [style]="{'width':'100px', 'text-align': 'center'}">
            <template let-col let-entry="rowData" pTemplate="body">
                <div class="kThumbnailHolder"><span class="kHelper"></span><img src="{{entry[col.field]}}" [class.disable]="!allowDrilldown(entry.mediaType,entry.status)" (click)="onActionSelected('view',entry.id,entry.mediaType,entry.status)"></div>
            </template>
        </p-column>
        <p-column field="name" header="{{'applications.content.table.name' | translate}}" [sortable]="'custom'">
            <template let-col let-entry="rowData" pTemplate="body">
                <span class="kTitle" [class.disable]="!allowDrilldown(entry.mediaType,entry.status)" (click)="onActionSelected('view',entry.id,entry.mediaType,entry.status)">{{entry[col.field]}}</span>
            </template>
        </p-column>
        <p-column field="id" header="ID" [sortable]="'custom'" [style]="{'width':'100px'}"></p-column>
        <p-column field="mediaType" header="{{'applications.content.table.type' | translate}}" [sortable]="'custom'"
                  [style]="{'width':'80px', 'text-align': 'center'}">
            <template let-col let-entry="rowData" pTemplate="body">
                <div [class]="entry[col.field] | entryType"></div>
            </template>
        </p-column>
        <p-column field="plays" header="{{'applications.content.table.plays' | translate}}" [sortable]="'custom'" [style]="{'width':'80px'}"></p-column>
        <p-column field="createdAt" header="Created On" [sortable]="true" [style]="{'width':'140px'}">
            <template let-col let-entry="rowData" pTemplate="body">
                <span>{{entry[col.field] * 1000 | date:'MM/dd/y HH:MM'}}</span>
            </template>
        </p-column>
        <p-column field="duration" header="{{'applications.content.table.duration' | translate}}" [sortable]="'custom'" [style]="{'width':'100px'}">
            <template let-col let-entry="rowData" pTemplate="body">
                <span>{{entry[col.field] | time}}</span>
            </template>
        </p-column>
        <p-column field="status" header="{{'applications.content.table.status' | translate}}" [sortable]="'custom'" [style]="{'width':'140px'}">
            <template let-col let-entry="rowData" pTemplate="body">
                <span>{{entry[col.field] | entryStatus}}</span>
            </template>
        </p-column>
        <p-column header="" [style]="{'overflow':'visible', 'width':'100px'}">
            <template let-col let-entry="rowData" pTemplate="body">
                <div class="kEntriesTableActions">
                    <button type="button" pButton icon="kIconmore"
                            (click)="openActionsMenu($event, entry)"></button>
                </div>
            </template>
        </p-column>
    </p-dataTable>
    <p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'"></p-menu>
</div>
