@import '~kmc-content-ui/styles/scss/_entry-types.scss';
@import '../../../styles/scss/_variables.scss';

.kEntriesTable {
    background-color: white;
    overflow-y: hidden;
    position: absolute;
    img {
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle;
        border-radius: 3px;
    }
    .kThumbnailHolder {
        width: 80px;
        height: 46px;
        background-color: black;
        white-space: nowrap;
        text-align: center;
        border-radius: 3px;
        img{
            cursor: pointer;
        }
    }
    .kTitle{
        color: $kGrayscale1;
        cursor: pointer;
    }
    .kHelper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .kEntriesTableActions {
        width: 100%;
        text-align: center;
        button {
            color: grey !important;
            background-color: rgba(0, 0, 0, 0) !important;
            border: none !important;
            font-size: 16px !important;
        }
    }
}
