<div class="kEntries grid-noGutter kUseKMCngIcons">

    <div #entriesTableHolder class="kEntriesHolder kContent grid-column-noGutter">
        <div class="kEntriesTableFilters grid col-12">
            <span *ngIf="(entriesStore.entries$ | async)?.totalCount">{{(entriesStore.entries$ | async)?.totalCount}} Entries</span>

            <div [style.visibility]="selectedEntries.length ? 'visible' : 'hidden'" class="kBulkOperations">
                <span class="kSelectedEntriesLabel">• {{selectedEntries.length}} Selected</span>
                <button pButton icon="kIcontrash" class="kButtonDanger kBulkDeleteBtn"></button>
                <button class="kButtonDefault small" [disabled]="!selectedEntries.length" pButton label="Bulk Actions" (click)="menu.toggle($event)"></button>
                <a class="kBulkCancel" (click)="clearSelection()">Cancel</a>
            </div>
            <div [style.visibility]="selectedEntries.length ? 'hidden' : 'visible'" class="kFilters">
                    <input type="text" pInputText class="kSearchInput"
                           [(ngModel)]="filter.freetextSearch"
                           (keyup.enter)="onFreetextChanged()"
                           placeholder="Search Entries">
                <div #categoriesFilterBtn class="kCategoriesFilter"><i class="kIconfolder"></i><span>Filter Categories</span><i class="kIcondropdown_arrow_bottom dropdown"></i></div>
                <div #refineBtn class="kRefine"><i class="kIconfilter"></i><span>Refine</span><i class="kIcondropdown_arrow_bottom dropdown"></i></div>
            </div>
            <button pButton class="kButtonDefault kRefreshBtn small" type="text" (click)="reload()" icon="kIconrefresh" title="Refresh"></button>
        </div>

        <kTags [title]="'Active Filters:'" [data]="(this.entriesStore.runQuery$ | async)?.filters" [labelField]="'label'"  [tooltipField]="'tooltip'" (onTagRemove)="removeTag($event)" (onRemoveAll)="removeAllTags()"></kTags>

        <kEntriesTable class="kEntriesTable grid-column-noGutter col"
                       [entries]="(entriesStore.entries$ | async)?.items" [filter]="filter"
                       [(selectedEntries)]="selectedEntries" [loading]="(entriesStore.status$ | async)?.loading" (sortChanged)="onSortChanged($event)"
                       (actionSelected)="onActionSelected($event)"></kEntriesTable>

        <div class="kEntriesTableFooter col-12" #footer>

            <p-paginator [rows]="filter.pageSize" (onPageChange)="onPaginationChanged($event)"
                         [first]="filter.pageIndex * filter.pageSize"
                         [totalRecords]="(entriesStore.entries$ | async)?.totalCount"
                         [rowsPerPageOptions]="[25,50,75,100]"></p-paginator>
            <span class="kPaginatorShowRowsLabel">Show rows:</span>
        </div>
    </div>
    <p-tieredMenu #menu [model]="bulkActionsMenu" [popup]="true" [styleClass]="menu"></p-tieredMenu>
</div>

<!-- popup widgets section -->
<kPopupWidget #categoriesFilterPopup [appendTo]="entriesTableHolder" [popupWidth]="400" [popupHeight]="500" [closeBtn]="false" [targetRef]="categoriesFilterBtn" [targetOffset]="{'x':-20, 'y': -21}">
    <kCategoriesFilter [parentPopupWidget]="categoriesFilterPopup" (categoriesChanged)="categoriesChanged($event)"></kCategoriesFilter>
</kPopupWidget>

<kPopupWidget #refinePopup [appendTo]="entriesTableHolder" [popupWidth]="400" [popupHeight]="500" [closeBtn]="false" [targetRef]="refineBtn" [targetOffset]="{'x':-220, 'y': -22}">
    <kEntriesAdditionalFilter></kEntriesAdditionalFilter>
</kPopupWidget>
