<div class="kEntries grid-noGutter kUseKMCngIcons">

    <div class="accordionHolder">
        <!--<kFiltersAccordion style="width: 300px" (categoriesChanged)="categoriesChanged($event)" (metadataProfileFilterChanged)="metadataProfileFilterChanged($event)"></kFiltersAccordion>-->
        <kFilters (refineFiltersChanged)="refineFiltersChanged($event)"
                  (categoriesChanged)="categoriesChanged($event)"></kFilters>
    </div>

    <div class="kEntriesHolder grid-column-noGutter col-12">
        <div class="kEntriesTableFilters grid col-12">
                <span *ngIf="(contentEntriesStore.entries$ | async)?.totalCount">{{(contentEntriesStore.entries$ | async)?.totalCount}} Entries</span>
                <div [style.visibility]="selectedEntries.length ? 'visible' : 'hidden'" class="kBulkOperations">
                    <span class="kSelectedEntriesLabel"> * {{selectedEntries.length}} Selected</span>
                    <button pButton icon="fa fa-trash" class="kButtonDanger"></button>
                    <button class="kButtonDefault small" [disabled]="!selectedEntries.length" pButton label="Bulk Actions" (click)="menu.toggle($event)"></button>
                </div>
                <form [formGroup]="searchForm">
                    <input type="text" pInputText formControlName="searchText"
                           (onenter)="freetextValue = $event.target.value" (keyup.enter)="onFreetextChanged()"
                           placeholder="Search Entries">
                </form>

                <button pButton class="kButtonDefault kRefreshBtn small" type="text" (click)="reload()" icon="kIconrefresh_small" label="Refresh" title="Refresh"></button>


        </div>
        <div *ngIf="showTags" class="kEntriesTableTags">
            <div
                style="height: 20px; background-color: #cacaca; border: 1px solid grey; border-radius: 15px; width: 100px; margin-top: 10px; margin-left: 10px; text-align: center; padding: 5px">
                Filter 1
            </div>
        </div>

        <kEntriesTable class="kEntriesTable grid-column-noGutter col"
                       [entries]="(contentEntriesStore.entries$ | async)?.items" [filter]="filter"
                       [(selectedEntries)]="selectedEntries" [loading]="loading" (sortChanged)="onSortChanged($event)"
                       (actionSelected)="onActionSelected($event)"></kEntriesTable>

        <div class="kEntriesTableFooter col-12" #footer>

            <p-paginator [rows]="filter.pageSize" (onPageChange)="onPaginationChanged($event)"
                         [first]="filter.pageIndex * filter.pageSize"
                         [totalRecords]="(contentEntriesStore.entries$ | async)?.totalCount"
                         [rowsPerPageOptions]="[25,50,100,250,500]"></p-paginator>
        </div>
        <p-tieredMenu #menu [model]="bulkActionsMenu" [popup]="true" [styleClass]="menu"></p-tieredMenu>
    </div>
</div>
