@import '~kmc-shell/styles/scss/_variables.scss';
@import '~kmc-content-ui/styles/scss/_common.scss';

.entries {
  display: flex;
  background-color: $appBkgColor;
  height: $contentArea;
  width: 100%;
  .entriesHolder {
    width: 100%;
    height: 100%;
    background: #cacaca;
    padding-left: 340px;
    padding-right: 20px;
    padding-top: 20px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
  .refreshBtn {
    text-align: right;
  }
  .actionsBtn {
    color: #fff;
    background-color: #2399e5;
    border-color: #1f89ce;
  }
  .headerFilters{
    width: 100%;
    height: 50px;
    background-color: white;
    flex: 0 0 auto;
    display: table;
    border: 1px solid grey;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    form{
      display: table-cell;
      vertical-align: middle;
      padding-left: 8px;
    }
  }
  .tags{
    width: 100%;
    height: 50px;
    background-color: #f3f3f3;
    border: 1px solid grey;
    flex: 0 0 50px;
  }
  .accordionHolder{
    flex: 0 0 auto;
    width: 300px;
    background-color: white;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid grey;
    border-radius: 5px;
  }
  .footer {
    width: 100%;
    height: 40px;
    background-color: white;
    padding: 5px;
    border: 1px solid grey;
    border-bottom: none;
    border-top: none;
    flex: 0 0 auto;
  }
  .bulkActions{
    float: left;
    margin-top: 2px;
  }
  .kEntriesTable {
    flex: 1 1 auto;
    position: relative;
  }
}

