 <div [kLoader]="loading" fillHeight class="kEntriesTable">
  <p-dataTable #dataTable [value]="entries" [sortField]="filter.sortBy" [sortOrder]="filter.sortDirection | sortDirection" scrollable="true" scrollHeight="100%" (onSort)="onSortChanged($event)" [(selection)]="selectedEntries">
    <p-column [style]="{'width':'46px'}" selectionMode="multiple"></p-column>
    <p-column field="thumbnailUrl" header="Thumbnail"  [style]="{'width':'95px', 'text-align': 'center'}">
      <template let-col let-entry="rowData" pTemplate type="body">
        <div class="thumbnailHolder"><span class="helper"></span><img src="{{entry[col.field]}}"></div>
      </template>
    </p-column>
    <p-column field="id" header="ID" [sortable]="'custom'" [style]="{'width':'100px'}"></p-column>
    <p-column field="name" header="Name" [sortable]="'custom'" >
      <template let-col let-entry="rowData" pTemplate type="body">
        <a (click)="onActionSelected('view',entry.id)">{{entry[col.field]}}</a>
      </template>
    </p-column>
    <p-column field="mediaType" header="Type" [sortable]="'custom'"  [style]="{'width':'80px', 'text-align': 'center'}">
      <template let-col let-entry="rowData" pTemplate type="body">
        <div [class]="entry[col.field] | entryType"></div>
      </template>
    </p-column>
    <p-column field="plays" header="Plays" [sortable]="'custom'"  [style]="{'width':'80px', 'text-align': 'center'}"></p-column>
    <p-column field="createdAt" header="Created On" [sortable]="true" [style]="{'width':'140px'}">
      <template let-col let-entry="rowData" pTemplate type="body">
        <span>{{entry[col.field] * 1000 | date:'MM/dd/y HH:MM'}}</span>
      </template>
    </p-column>
    <p-column field="duration" header="Duration" [sortable]="'custom'"  [style]="{'width':'100px'}">
      <template let-col let-entry="rowData" pTemplate type="body">
        <span>{{entry[col.field] | time}}</span>
      </template>
    </p-column>
    <p-column field="status" header="Status" [sortable]="'custom'"  [style]="{'width':'140px'}">
      <template let-col let-entry="rowData" pTemplate type="body">
        <span>{{entry[col.field] | entryStatus}}</span>
      </template>
    </p-column>
    <p-column header="Action" [style]="{'overflow':'visible', 'width':'180px'}">
      <template let-col let-entry="rowData" pTemplate type="body">
        <kDataTableRowMenu [items]="items"></kDataTableRowMenu>
      </template>
    </p-column>
  </p-dataTable>
</div>
