<div class="container">
    <form [formGroup]="categoriesForm">
        <ul class="flex-outer">
            <li>
                <label>Categories</label>
                <input pInputText formControlName="categories"
                         placeholder="Enter categories (press enter after each one)"/>
            </li>
        </ul>
    </form>

    <form [formGroup]="refineForm">
        <ul class="flex-outer">
            <li>
                <label>Created since</label>
                <p-calendar formControlName="createdAtFrom" [monthNavigator]="true" [yearNavigator]="true"
                            [readonlyInput]="true" yearRange="1980:2030"></p-calendar>
            </li>
            <li>
                <label>Created Until</label>
                <p-calendar formControlName="createdAtTo" [monthNavigator]="true" [yearNavigator]="true"
                            [readonlyInput]="true" yearRange="1980:2030"></p-calendar>
            </li>
            <li>
                <label>Media Types</label>
                <p-multiSelect [options]="lists.mediaTypes" formControlName="mediaTypes"></p-multiSelect>
            </li>
            <li>
                <label>Statuses</label>
                <p-multiSelect [options]="lists.statusTypes" formControlName="statuses"></p-multiSelect>
            </li>
            <li>
                <label>Distributions</label>
                <p-multiSelect [options]="lists.distributionTypes"
                               formControlName="distributionProfiles"></p-multiSelect>
            </li>
        </ul>
    </form>

</div>
