<i #openuploadmonitor class="kIconfolder_large KUploadMonitor" [class.open]="_menuOpened">
  <i class="kIconrefresh_small"></i>
</i>

<kPopupWidget #uploadmonitor
              [showTooltip]="true"
              [appendTo]="appmenu"
              [popupWidth]="550"
              [popupHeight]="285"
              [closeBtn]="false"
              [targetRef]="openuploadmonitor"
              [targetOffset]="{'x':-109, 'y': 17}"
              (onOpen)="_menuOpened = true"
              (onClose)="_menuOpened = false">
  <ng-template>
    <h1>TEST</h1>
  </ng-template>
</kPopupWidget>
