@import 'app-theme/_variables.scss';

i.kUploadMonitorToggler.kDisabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}
.kUploadMonitorToggler {
    position: relative;
    display: flex;
    margin-left: 12px;
    margin-right: 12px;
    color: $headerTextColor;
    font-size: 24px;
    cursor: pointer;

    &:hover, &.open {
        opacity: 1;
        color: $mainLinkHoverColor;
        .kIconrefresh_smalli {
            color: $mainLinkHoverColor;
            opacity: 1;
        }
        .kIconerror {
            color: $kDandger;
            opacity: 1;
        }
    }

    .kIconrefresh_small {
        font-size: 12px;
        position: absolute;
        right: -8px;
        background-color: $kAqua;
        color: $kBlue;
        border: 2px rgba(17, 45, 91, 0.3) solid;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 9px;
    }

    .kIconerror {
        font-size: 16px;
        color: $kDandger;
        background-color: #FFFFFF;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -8px;
        top: 11px;
    }
}
