@import 'app-theme/_variables.scss';

.kEditWin {
  .kHeader {
    height: 78px;
    width: 100%;
    text-align: center;
    padding-top: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid $kGrayscale4;
    .kTitle {
      color: #333333;
      font-size: 24px;
      font-weight: 700;
    }
  }
  .kContainer {
    height: 500px;
  }
  .kFooter {
    height: 66px;
    border-top: 1px solid $kGrayscale4;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      height: 34px;
      width: 130px;
      font-size: 14px;
    }
  }

  /deep/ .kContainer {

    padding-left: 28px;

    >.kRow:first-child{
      padding-top: 28px;
    }

    .kRow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-top: 20px;

      .kRequired {
        width: 20px;
        font-size: 24px;
        color: $kGrayscale2;
        &.kHasError {
          color: $kDandger;
          font-weight: bold;
        }
      }
      .kRequired, .kLabel {
        padding: 8px 0px 8px 4px;
        height: 18px;
      }

      .kFieldMessage {
        padding-top: 10px;
        min-height: 32px;
        max-width: 310px;
        color: $kGrayscale3;
        font-size: 13px;
        line-height: 16px;
      }

      .kLabel {
        width: 173px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        height: 18px;
        color: $kGrayscale1;
        font-size: 15px;
        line-height: 18px;

        &.kInputSwitchLabel{
          padding-top: 2px;
        }
      }

      .kControl {
        color: $kGrayscale2;
        height: 34px;
        width: 360px;
        border-radius: 3px;
        &.kHasError {
          border: 1px solid $kDandger;
          background: initial;
        }
        &.kInputSwitch {
          padding-right: 12px;
        }
      }
      .error {
        padding-top: 8px;
        font-size: 15px;
      }
    }
  }
}

/deep/ {
  .ui-widget.ui-dropdown {
      width: 360px !important;
    }


  .ui-chkbox-label {
    font-weight: normal;
    height: 18px;
    color: $kGrayscale1;
    font-size: 15px;
    line-height: 18px;
  }
}
/deep/ {
  .ui-inputswitch {
    height: 24px;
    width: 42px !important;
    overflow: visible;
    vertical-align: middle;
    background-color: $kGrayscale4;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    border: none;

    // * animation
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    // animation *

    .ui-inputswitch-handle {
      top: 4px;
      left: 4px !important;
      background-color: #ffffff;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      width: 16px !important;
      height: 16px !important;
      border: none;

      // * animation
      -moz-transition: left 0.3s;
      -o-transition: left 0.3s;
      -webkit-transition: left 0.3s;
      transition: left 0.3s;
      // animation *
    }

    .ui-inputswitch-on, .ui-inputswitch-off {
      visibility: hidden;
    }

    &.ui-inputswitch-checked {
      background-color: $kPrimary;
      border: none;

      .ui-inputswitch-handle {
        left: 23px !important;
      }
    }
  }
  &+span{
    vertical-align: middle;
  }
}
