<div class="kEditWin kOverrideFAIcons" #captionsEdit>
  <div class="kHeader">
    <span class="kTitle">{{'app.upload.prepareLive.createLiveStreamTitle' | translate}}</span>
  </div>
  <k-area-blocker [showLoader]="_blockerState.isBusy" [message]="_blockerState.message">

  <div class="kContainer">

    <div class="kRow">
      <span class="kLabel">{{'app.upload.prepareLive.streamTypeLabel' | translate}}</span>
      <div class="kRequired"></div>
      <p-dropdown [options]="_availableStreamTypes" [(ngModel)]="_selectedStreamType"></p-dropdown>
    </div>

    <div [ngSwitch]="_selectedStreamType">
      <kKalturaLiveStream #kalturaLiveStreamComponent *ngSwitchCase="_streamTypes.kaltura"
                          [(data)]="kalturaLiveStreamData" [(blockerState)]="_blockerState"></kKalturaLiveStream>
      <kManualLive #manualLiveComponent *ngSwitchCase="_streamTypes.manual" [(data)]="manualLiveData"></kManualLive>
      <kUniversalLive #universalLiveComponent *ngSwitchCase="_streamTypes.universal"></kUniversalLive>

    </div>
  </div>
  </k-area-blocker>

  <div class="kFooter">
    <button type="button" class="kButtonBranded" (click)="submitCurrentSelectedForm()" pButton
            label="{{'app.upload.prepareLive.create' | translate}}"></button>
    <!--{{manualLiveData | json}}-->
    <!--{{universalLiveData | json}}-->
  </div>
</div>

<!--<select [(ngModel)]="_selectedStreamType">-->
<!--<option *ngFor="let type of _availableStreamTypes" [ngValue]="type.id">{{type.name | translate}}</option>-->
<!--</select>-->

