@import 'app-theme/_variables.scss';

.kPreviewDetails{
	display: flex;
	color: $kGrayscale3;
	font-size: 13px;
	overflow: hidden;
	.kRow{
		display: flex;
		flex: 0 0 auto;
		a{
			font-size: 13px;
		}
		.kLabels{
			margin-right: 4px;
		}
		.kSeparator{
			margin-right: 8px;
			margin-left: 8px;
		}
	}

}


