@import 'app-theme/_variables.scss';

.kDateRange {
  display: flex;
  align-items: center;
}

.kClearDates {
	margin: 4px 0 6px;
  display: block;
}

.disabledLink {
  color: $kGrayscale4;
  cursor: default;
  text-decoration: none;
}

.kFiltersGroupTitle {
  color: $kGrayscale3;
  line-height: 40px;
  letter-spacing: 0.1em;
  font-size: 13px;
  border-top: 1px solid $kGrayscale6;
  border-bottom: 1px solid $kGrayscale6;
  margin-left: -12px;
  padding-left: 20px;
  margin-right: -20px;
  margin-bottom: 8px;
}

:host /deep/ {
  .kDateRange .kDateRangeFirst .ui-calendar.ui-calendar-w-btn {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }

  .ui-calendar.ui-calendar-w-btn {
    border-radius: 0;
  }

  .ui-calendar .ui-inputtext {
    width: 120px;
  }

  .kDateRange .kDateRangeLast .ui-calendar.ui-calendar-w-btn {
    border-left: 0 solid $kGrayscale4;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }
}
