@import 'app-theme/_variables.scss';

.kPlaylistRulesTableFilters {
  width: 100%;
  height: 68px;
  background-color: white;
  flex: 0 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;

  .kHeader{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .kBulkActionsContainer {
    display: inline-flex;
    align-items: center;
  }

  .kPlaylistRulesTableDuration {
    margin-right: 14px;
    margin-left: auto;
  }

  .kBulkActions {
    margin-left: 14px;
    display: flex;
    align-items: center;

    .kBulkDeleteBtn {
      padding: 0 8px;
    }
  }

  .kAddRuleBtn {
    margin-left: 14px;
    height: 36px;
  }

  .kSelectedRulesNum {
    margin: 0 5px 0 20px;
  }

  .kSelectedRulesLabel {
    font-weight: bold;
  }

  .kBulkCancel {
    margin-left: 20px;
    color: #333333;
  }

  .kMoveBtn {
    width: 40px;
    height: 34px;
    margin: 0;
  }

  .kMoveBtnTop {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .kMoveBtnBottom {
    margin: 0 20px 0 -4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &.kMoveBtnBottomDisabled {
      margin-left: -1px;
    }
  }
}

:host ::ng-deep kSticky{
  width: 100%;
}
:host ::ng-deep .kStickyHeader{
  background-color: white;
  border-top: 2px solid $kGrayscale6;
  box-shadow: $kGrayscale5 0px 1px 0px;
  display: flex;
  height: 68px;
  width: inherit;
}
