<div class="kPlaylistRulesTableFilters">
  <kSticky stickyId="playlistContentBulk"
           sticksTo="playlistHeader"
           stickyClass="kStickyHeader"
           [scrollOffset]="120">
    <div class="kHeader">
      <div class="kBulkActionsContainer">
        <div class="kBulkActions" *ngIf="selectedRules.length; else addRuleWrap">
          <button pButton
                  class="kButtonDefault kMoveBtn kMoveBtnTop"
                  [disabled]="!isNewPlaylist && (_kmcPermissions.PLAYLIST_UPDATE | kDisabledIfNotPermitted)"
                  icon="kIcondropdown_arrow_top"
                  (click)="_moveRules('up')"></button>
          <button pButton
                  class="kButtonDefault kMoveBtn kMoveBtnBottom"
                  [class.kMoveBtnBottomDisabled]="!isNewPlaylist && (_kmcPermissions.PLAYLIST_UPDATE | kDisabledIfNotPermitted)"
                  [disabled]="!isNewPlaylist && (_kmcPermissions.PLAYLIST_UPDATE | kDisabledIfNotPermitted)"
                  icon="kIcondropdown_arrow_bottom"
                  (click)="_moveRules('down')"></button>
          <button pButton class="kButtonDanger kBulkDeleteBtn"
                  [disabled]="!isNewPlaylist && (_kmcPermissions.PLAYLIST_UPDATE | kDisabledIfNotPermitted)"
                  [label]="'applications.content.playlists.remove' | translate"
                  (click)="deleteRules.emit(selectedRules)"></button>
        </div>
        <ng-template #addRuleWrap>
          <button
            pButton
            type="button"
            icon="kIconplus"
            iconPos="left"
            [disabled]="!isNewPlaylist && (_kmcPermissions.PLAYLIST_UPDATE | kDisabledIfNotPermitted)"
            [label]="'applications.content.playlistDetails.content.addRule' | translate"
            class="kButtonDefault kAddRuleBtn"
            (click)="addRule.emit()">
          </button>
        </ng-template>
        <span class="kSelectedRulesNum" *ngIf="rulesTotalCount">
          {{'applications.content.playlistDetails.content.entriesInRules'| translate: [entriesTotalCount, rulesTotalCount]}}
      </span>
        <div *ngIf="selectedRules.length" class="kSelected">
        <span class="kSelectedRulesLabel">
          {{'applications.content.playlists.selected' | translate: [selectedRules.length]}}
        </span>
          <a class="kBulkCancel" (click)="clearSelection.emit()">
            {{'applications.content.playlists.cancel' | translate}}
          </a>
        </div>
      </div>
      <div *ngIf="duration" class="kPlaylistRulesTableDuration">
        {{'applications.content.playlistDetails.details.duration'| translate: [(duration | kTime)]}}
      </div>
    </div>
  </kSticky>
</div>

