<div class="kPlaylistRulesTableFilters">
  <kSticky stickyId="playlistContentBulk"
           sticksTo="playlistHeader"
           stickyClass="kStickyHeader"
           [scrollOffset]="120">
    <div class="kHeader">
      <div class="kBulkActionsContainer">
        <div class="kBulkActions" *ngIf="selectedRules.length; else addRuleWrap">
          <button pButton
                  class="kButtonDefault kMoveBtn kMoveBtnTop"
                  icon="kIcondropdown_arrow_top"
                  (click)="_moveRules('up')"></button>
          <button pButton
                  class="kButtonDefault kMoveBtn kMoveBtnBottom"
                  icon="kIcondropdown_arrow_bottom"
                  (click)="_moveRules('down')"></button>
          <button pButton icon="kIcontrash" class="kButtonDanger kBulkDeleteBtn"
                  (click)="deleteRules.emit(selectedRules)"></button>
        </div>
        <ng-template #addRuleWrap>
          <button
            pButton
            type="button"
            icon="kIconplus"
            iconPos="left"
            [label]="'applications.content.playlistDetails.content.addRule' | translate"
            class="kButtonDefault kAddRuleBtn"
            (click)="addRule.emit()">
          </button>
        </ng-template>
        <span class="kSelectedRulesNum" *ngIf="rulesTotalCount">
          {{'applications.content.playlistDetails.content.entriesInRules'| translate: [entriesTotalCount, rulesTotalCount]}}
      </span>
        <span *ngIf="selectedRules.length" class="kSelectedRulesLabel">
          •  {{'applications.content.playlists.selected' | translate: [selectedRules.length]}}
        </span>
        <span *ngIf="duration" class="kPlaylistRulesTableDuration">
          , {{'applications.content.playlistDetails.details.duration'| translate: [(duration | kTime)]}}
        </span>
          <a *ngIf="selectedRules.length" class="kBulkCancel" (click)="clearSelection.emit()">
            {{'applications.content.playlists.cancel' | translate}}
          </a>
      </div>

    </div>
  </kSticky>
</div>

