@import "../../../styles/scss/variables";

.kTreeNodeLabel{
    width:100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 43px;
    color: $kGrayscale1;
    text-overflow: ellipsis;
    margin-left: 5px;
}
a.disabled{
    pointer-events: none;
    cursor: not-allowed;
    color: $kGrayscale5;
    border: none;
}

:host /deep/ .ui-tree .ui-chkbox{
    vertical-align: top;
    margin-top: 11px;
}
