<div class="kUseKMCngIcons kRefineFilters">
    <div class="kHeader">
        <div class="kTitle">{{'applications.content.filters.refineSearch' | translate}}</div>
    </div>
    <div #refine class="kTreeContainer">
        <div class="kFiltersGroupTitle">
            <span>{{'applications.content.filters.additionalFilters' | translate | uppercase}}</span>
        </div>
        <p>{{'applications.content.filters.createdBetween' | translate}}</p>
        <p-calendar [(ngModel)]="_createdAfter" [readonlyInput]="true" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2005:2030" icon="kIconcalendar" (onSelect)="_onCreatedChanged()"></p-calendar>
        <span class="kCalendarSeparator">-</span>
        <p-calendar [(ngModel)]="_createdBefore" class="kPullLeft30" [readonlyInput]="true" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2005:2030" icon="kIconcalendar" (onSelect)="_onCreatedChanged()"></p-calendar>
        <a class="kClearAll" (click)="_clearCreatedComponents()">{{'applications.content.filters.clearDates' | translate}}</a>

        <div *ngFor="let primeGroup of primeGroups">
            <div *ngIf="primeGroup.groupName" class="kFiltersGroupTitle">
                <span>{{primeGroup.groupName | uppercase}}</span>
            </div>
            <p-tree [value]="primeGroup.items" selectionMode="checkbox" [selection]="_selectedNodes"  (onNodeSelect)="_onTreeSelectionChanged()" (onNodeUnselect)="_onTreeSelectionChanged()" >
                <template let-node  pTemplate="default">
                    <span  class="kTreeNodeLabel">{{node.label}} <span *ngIf="node.childrenCount" class="kTreeNodeNumChildren">{{ node.childrenCount}}</span></span>
                    <div *ngIf="node.data==='scheduled'" (click)="_blockScheduleToggle($event)">
                        <div>
                            <p-calendar #scheduledfrom [(ngModel)]="_scheduledAfter" [showIcon]="true" icon="kIconcalendar" [disabled]="!_scheduledSelected" [monthNavigator]="true" [yearNavigator]="true"  yearRange="2005:2030"[readonlyInput]="true" (onSelect)="_onSchedulingChanged(scheduledfrom)"></p-calendar>
                            <span class="kCalendarSeparator">-</span>
                            <p-calendar #scheduledto [(ngModel)]="_scheduledBefore" class="kPullLeft90" [showIcon]="true" icon="kIconcalendar" [disabled]="!_scheduledSelected" [monthNavigator]="true" [yearNavigator]="true" yearRange="2005:2030" [readonlyInput]="true" (onSelect)="_onSchedulingChanged(scheduledto)"></p-calendar>
                        </div>
                    </div>
                </template>
            </p-tree>
        </div>
    </div>

    <p>
        <a class="clearAll" [class.disabled]="_selectedNodes.length === 0" (click)="_clearAllComponents()">{{'applications.content.filters.clearAll' | translate}}</a>
        <a class="kClose" (click)="_close()">{{'applications.content.filters.close' | translate}}</a>
    </p>
</div>

