@import 'app-theme/_variables.scss';

.kUploadSettings {
  color: $kGrayscale1;
  height: 607px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  .kHeader, .kFooter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .kHeader {
    text-align: center;
    height: 77px;
    border-bottom: 1px $kGrayscale4 solid;

    h1 {
      font-size: 24px;
      font-weight: bold;
    }

  }

  .kContent {
      flex: 1 1 auto;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      width: 100%;

    .kProfile {
        padding: 0 28px 20px 28px;
        border-bottom: 1px $kGrayscale6 solid;
        font-size: 15px;
        display: flex;
        align-items: center;

        span {
            font-weight: bold;
        }

      .kTranscodingProfile {
        margin-left: 7px;

        .kTranscodingProfileItem {
          white-space: nowrap;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 190px;
          font-weight: normal;
        }
      }

      .kTranscodingProfileError {
        margin-left: 7px;
        color: $kDandger;
      }
    }

      .kAddFileButton {
          height: 34px;
          font-size: 14px;
          color: $kGrayscale1;
          margin-left: 24px;
      }

    .kTable {
      .kFileNameInput {
        width: 380px;

          &.kHasError {
              border-color: $kDandger;
          }
      }

      .kFileNameCell {
        display: flex;
        align-items: center;

        .kFileName {
          color: $kGrayscale1;
          font-weight: bold;
          word-break: break-all;
          max-width: 360px;
        }

        .kIconEditFileName {
          font-size: 16px;
          margin-left: 10px;
          cursor: pointer;
          color: $kGrayscale3;
          font-weight: normal;
          display: none;
        }
      }

      .kIconError {
        font-size: 24px;
        color: $kDandger;
      }

      .kIconRemoveFile {
        font-size: 24px;
        display: none;
        cursor: pointer;
      }

        .kImportUrl {
            width: 620px;

            &.kHasError {
                border-color: $kDandger;
            }
        }
    }

    .kEmptyMessage {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 280px;
      color: $kGrayscale3;

      h1 {
        font-size: 28px;
        margin-bottom: 14px;
        font-weight: normal;
      }

      p {
        font-size: 14px;
        margin-top: 0;
      }
    }
  }

  .kFooter {
    z-index: 1;
    height: 66px;
    border-top: 1px $kGrayscale4 solid;
    text-align: center;

    .kUploadButton {
        width: 140px;
        height: 34px;
        font-size: 14px;
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }
    }
  }
}

:host ::ng-deep .kTranscodingProfile {
  .p-dropdown-panel {
    width: 250px;
  }

  .p-dropdown-label {
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 15px;
    color: $kGrayscale1;
  }

  .p-dropdown {
    min-width: 184px;
    width: 184px;
  }
}

:host ::ng-deep .kFileType .p-dropdown {
  min-width: 127px;
  width: 127px;
}

:host ::ng-deep .kTable.empty .ui-widget-content {
  display: none;
}

:host ::ng-deep .kTable .p-datatable-scrollable-header,
:host ::ng-deep .kTable .p-datatable-scrollable-body {
  border-top: 1px $kGrayscale6 solid;
}

:host ::ng-deep .kTable .p-datatable-scrollable-body {
  margin-bottom: -1px;
    max-height: 348px !important;
}

:host ::ng-deep .kTable tr:hover .kIconRemoveFile, // show remove icon when hovering a row
:host ::ng-deep .kTable td:nth-child(2):hover .kIconEditFileName { // show edit icon when hovering filename column
  display: block !important;
}

:host ::ng-deep .kTable .p-datatable-scrollable-table-wrapper {
  height: 280px;
}

button.kAddFileButton ::ng-deep .p-button-icon-left{
  font-size: 18px;
}
