<k-area-blocker [showLoader]="_transcodingProfileLoading" [message]="_transcodingProfileError">
  <div class="kUploadSettings">
    <div class="kHeader">
      <h1>{{ 'applications.upload.uploadSettings.title' | translate }}</h1>
    </div>
    <div class="kContent">
      <form [formGroup]="_profileForm" class="kProfile">
        <span>{{ 'applications.upload.uploadSettings.profile' | translate }}</span>
        <p-dropdown class="kTranscodingProfile"
                    [options]="_transcodingProfiles"
                    [autoWidth]="false"
                    [placeholder]="'applications.upload.uploadSettings.profilePlaceholder' | translate"
                    [formControl]="_transcodingProfileField">
          <ng-template let-profile pTemplate="item">
            <span class="kTranscodingProfileItem" [kTooltip]="profile.label">{{profile.label}}</span>
          </ng-template>
        </p-dropdown>
      </form>

      <div class="kAddFile">
        <button type="button"
                class="kButtonDefault kAddFileButton"
                pButton icon="kIconplus"
                [label]="'applications.upload.uploadSettings.addFileBtn' | translate"
                (click)="fileDialog.open()"></button>
      </div>
      <div class="kTable" [class.empty]="files.length === 0">
        <p-dataTable [value]="files"
                     [immutable]="false"
                     [emptyMessage]="'applications.upload.uploadSettings.table.emptyMessage.title' | translate"
                     scrollable="true">
          <p-column [style]="{'width': '28px'}"></p-column>
          <p-column field="name"
                    class="kFileNameCol"
                    [sortable]="false"
                    [header]="'applications.upload.uploadSettings.table.header.fileName' | translate">
            <ng-template let-col let-file="rowData" pTemplate="body">
              <div *ngIf="!file.isEditing" class="kFileNameCell">
                <span class="kFileName">{{ file.name }}</span>
                <i class="kIconpen kIconEditFileName"
                   [kTooltip]="'applications.upload.uploadSettings.table.edit' | translate"
                   placement="top"
                   (click)="_editName(file)"></i>
              </div>
              <div *ngIf="file.isEditing">
                <input pInputText
                       class="kFileNameInput"
                       [class.kHasError]="file.hasError"
                       kAutofocus
                       [(ngModel)]="file.name"
                       (blur)="_cancelEdit(file)"
                       (keyup.enter)="_cancelEdit(file)">
              </div>
            </ng-template>
          </p-column>
          <p-column field="type"
                    [sortable]="false"
                    [style]="{ 'width': '150px', 'overflow':'visible' }"
                    [header]="'applications.upload.uploadSettings.table.header.mediaType' | translate">
            <ng-template let-col let-file="rowData" pTemplate="body">
              <p-dropdown class="kFileType"
                          [options]="_fileTypes"
                          [autoWidth]="false"
                          appendTo="body"
                          kDropdownCloseOnScroll
                          [scrollTarget]="_tableScrollableWrapper"
                          [(ngModel)]="file.mediaType"
                          (onChange)="_updateFileValidityOnTypeChange(file)"
                          [placeholder]="'applications.content.entryDetails.related.select' | translate"></p-dropdown>
            </ng-template>
          </p-column>
          <p-column field="size"
                    [sortable]="false"
                    [style]="{ 'width': '100px' }"
                    [header]="'applications.upload.uploadSettings.table.header.size' | translate">
            <ng-template let-col let-file="rowData" pTemplate="body">
              <span id="uploadSettingFileSize">{{ file.size | kFileSize }}</span>
            </ng-template>
          </p-column>
          <p-column [style]="{ 'width': '40px', 'text-align': 'center'}">
            <ng-template let-col let-file="rowData" pTemplate="body">
              <i *ngIf="file.hasError"
                 class="kIconerror kIconError"
                 [kTooltip]="file.errorToken | translate"
                 placement="top"></i>
            </ng-template>
          </p-column>
          <p-column [style]="{ 'width': '45px', 'text-align': 'center'}">
            <ng-template let-col let-file="rowData" pTemplate="body">
              <i class="kIcontrash kIconRemoveFile"
                 [kTooltip]="'applications.upload.uploadSettings.table.remove' | translate"
                 placement="top"
                 (click)="_removeFile(file)"></i>
            </ng-template>
          </p-column>
          <p-column [style]="{'width': '28px'}"></p-column>
        </p-dataTable>
        <div *ngIf="files.length === 0" class="kEmptyMessage">
          <h1>{{ 'applications.upload.uploadSettings.table.emptyMessage.title' | translate }}</h1>
          <p>
            {{ 'applications.upload.uploadSettings.table.emptyMessage.getStarted' | translate }}
            <a (click)="fileDialog.open()">
              {{ 'applications.upload.uploadSettings.table.emptyMessage.browse' | translate }}
            </a>
          </p>

        </div>
      </div>
    </div>
    <div class="kFooter">
      <button class="kButtonDefault kUploadButton"
              pButton
              [disabled]="files.length === 0 || _transcodingProfileLoading || !!_transcodingProfileError"
              [label]="'applications.upload.uploadSettings.uploadBtn' | translate"
              (click)="_upload()"></button>
    </div>
  </div>
</k-area-blocker>
