@import 'app-theme/_variables.scss';

.kUploadSettings {
  color: $kGrayscale1;
  height: 607px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  .kHeader, .kFooter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .kHeader {
    text-align: center;
    height: 77px;
    border-bottom: 1px $kGrayscale4 solid;

    h1 {
      font-size: 24px;
      font-weight: bold;
    }

  }

  .kContent {
    flex: 1 1 auto;
    padding: 20px 28px 24px 28px;
    display: flex;
    flex-direction: column;
    width: 734px;

    .kProfile {
      padding-bottom: 20px;
      border-bottom: 1px $kGrayscale6 solid;
      font-size: 15px;

      span {
        font-weight: bold;
      }

      .kTranscodingProfile {
        margin-left: 7px;
      }

      .kTranscodingProfileError {
        margin-left: 7px;
        color: $kDandger;
      }
    }

    .kAddFile {
      padding: 20px 0;

      .kAddFileButton {
        width: 95px;
        height: 34px;
        font-size: 14px;
        color: $kGrayscale1;
      }
    }

    .kTable {
      .kFileNameInput {
        width: 380px;
      }

      .kFileNameCell {
        display: flex;
        align-items: center;

        .kFileName {
          color: $kGrayscale1;
          font-weight: bold;
          word-break: break-all;
          max-width: 380px;
        }

        .kIconEditFileName {
          font-size: 16px;
          margin-left: 10px;
          cursor: pointer;
          color: $kGrayscale3;
          font-weight: normal;
          display: none;
        }
      }

      .kIconRemoveFile {
        font-size: 24px;
        display: none;
        cursor: pointer;
      }
    }

    .kEmptyMessage {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 280px;
      margin-top: -280px;
      color: $kGrayscale3;

      h1 {
        font-size: 28px;
        margin-bottom: 14px;
        font-weight: normal;
      }

      p {
        font-size: 14px;
        margin-top: 0;
      }
    }
  }

  .kFooter {
    z-index: 1;
    height: 66px;
    border-top: 1px $kGrayscale4 solid;
    text-align: center;

    .kUploadButton {
      width: 100px;
      height: 34px;
      background-color: $kPrimary;
      color: white;
      font-weight: normal;
      font-size: 14px;
    }
  }
}

:host /deep/ .ui-dropdown.ui-widget {
  min-width: 127px;
}

:host /deep/ .kTable.empty .ui-widget-content {
  display: none;
}

:host /deep/ .kTable .ui-datatable-scrollable-header,
:host /deep/ .kTable .ui-datatable-scrollable-body {
  border-top: 1px $kGrayscale6 solid;
}

:host /deep/ .kTable .ui-datatable-scrollable-body {
  margin-bottom: -1px;
}

:host /deep/ .kTable tr:hover .kIconRemoveFile,                // show remove icon when hovering a row
:host /deep/ .kTable td:first-child:hover .kIconEditFileName { // show edit icon when hovering filename column
  display: block !important;
}

:host /deep/ .kTable .ui-datatable-scrollable-table-wrapper {
  height: 280px;
}

:host /deep/ .kTable tr.has-error {
  background-color: lighten($kDandger, 45%);
}

:host /deep/ .kTable tr.has-error:first-child {
  border-top: 0;
}
