@import 'app-theme/_variables.scss';

.kUploadSettings {
  color: $kGrayscale1;
  height: 607px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  .kHeader, .kFooter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .kHeader {
    text-align: center;
    height: 77px;
    border-bottom: 1px $kGrayscale4 solid;

    h1 {
      font-size: 24px;
      font-weight: bold;
    }

  }

  .kContent {
    flex: 1 1 auto;
    padding: 20px 0 24px 0;
    display: flex;
    flex-direction: column;
    width: 100%;

    .kProfile {
      padding: 0 28px 20px 28px;
      border-bottom: 1px $kGrayscale6 solid;
      font-size: 15px;

      span {
        font-weight: bold;
      }

      .kTranscodingProfile {
        margin-left: 7px;

        .kTranscodingProfileItem {
          white-space: nowrap;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 190px;
          font-weight: normal;
        }
      }

      .kTranscodingProfileError {
        margin-left: 7px;
        color: $kDandger;
      }
    }

    .kAddFile {
      padding: 20px 28px;

      .kAddFileButton {
        height: 34px;
        font-size: 14px;
        color: $kGrayscale1;
      }
    }

    .kTable {
      .kFileNameInput {
        width: 380px;

          &.kHasError {
              border-color: $kDandger;
          }
      }

      .kFileNameCell {
        display: flex;
        align-items: center;

        .kFileName {
          color: $kGrayscale1;
          font-weight: bold;
          word-break: break-all;
          max-width: 360px;
        }

        .kIconEditFileName {
          font-size: 16px;
          margin-left: 10px;
          cursor: pointer;
          color: $kGrayscale3;
          font-weight: normal;
          display: none;
        }
      }

      .kIconError {
        font-size: 24px;
        color: $kDandger;
      }

      .kIconRemoveFile {
        font-size: 24px;
        display: none;
        cursor: pointer;
      }
    }

    .kEmptyMessage {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 280px;
      margin-top: -280px;
      color: $kGrayscale3;

      h1 {
        font-size: 28px;
        margin-bottom: 14px;
        font-weight: normal;
      }

      p {
        font-size: 14px;
        margin-top: 0;
      }
    }
  }

  .kFooter {
    z-index: 1;
    height: 66px;
    border-top: 1px $kGrayscale4 solid;
    text-align: center;

    .kUploadButton {
      width: 100px;
      height: 34px;
      background-color: $kPrimary;
      color: white;
      font-weight: normal;
      font-size: 14px;
    }
  }
}

:host /deep/ .kTranscodingProfile {
  .ui-dropdown-panel {
    width: 250px;
  }

  .ui-dropdown-label {
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 15px;
    color: $kGrayscale1;
  }

  .ui-dropdown.ui-widget {
    width: 184px;
  }
}

:host /deep/ .kFileType .ui-dropdown.ui-widget {
  width: 127px;
}

:host /deep/ .kTable.empty .ui-widget-content {
  display: none;
}

:host /deep/ .kTable .ui-datatable-scrollable-header,
:host /deep/ .kTable .ui-datatable-scrollable-body {
  border-top: 1px $kGrayscale6 solid;
}

:host /deep/ .kTable .ui-datatable-scrollable-body {
  margin-bottom: -1px;
}

:host /deep/ .kTable tr:hover .kIconRemoveFile, // show remove icon when hovering a row
:host /deep/ .kTable td:nth-child(2):hover .kIconEditFileName { // show edit icon when hovering filename column
  display: block !important;
}

:host /deep/ .kTable .ui-datatable-scrollable-table-wrapper {
  height: 280px;
}

button.kAddFileButton /deep/ .ui-button-icon-left{
  font-size: 18px;
}
