<div style="padding-top: 20px">
    <div style="padding-left: 20px">
        <p>Created Between</p>
        <p-calendar [(ngModel)]="createdFrom" [showIcon]="true" icon="kIconcalendar" (onSelect)="updateFilter()"></p-calendar>
        <span style="margin-left: 40px; margin-right: 5px">-</span>
        <p-calendar [(ngModel)]="createdTo" [showIcon]="true" icon="kIconcalendar" (onSelect)="updateFilter()"></p-calendar>
    </div>
    <p style="padding-left: 20px">
        <a class="clearAll" (click)="clearDates()">Clear Dates</a>
    </p>
    <p-tree [value]="additionalFilters" selectionMode="checkbox" [(selection)]="selectedFilters" (onNodeSelect)="updateFilter()" (onNodeUnselect)="updateFilter()">
    <template let-node  pTemplate type="default">
        <span *ngIf="node.id!=='scheduled'" class="kTreeNodeLabel">{{node.label}}</span>
        <div *ngIf="node.id==='scheduled'">
            <span class="kTreeNodeLabel">{{node.label}}</span>
            <p-calendar [(ngModel)]="scheduledFrom" (onSelect)="updateFilter()"></p-calendar>
            <p-calendar [(ngModel)]="scheduledTo" (onSelect)="updateFilter()"></p-calendar>
        </div>
    </template>
    </p-tree>

    <p style="padding-left: 20px">
        <a class="clearAll" [class.disabled]="selectedFilters.length === 0" (click)="clearAll()">Clear all</a>
    </p>
</div>

