<k-area-blocker [showLoader]="_widgetService.showSectionLoader" [message]="_widgetService.sectionBlockerMessage" [bodyScroll]="true">
  <div class="kLive">
    <p class="kTitle">{{'applications.content.entryDetails.live.live' | translate}}</p>
    <div class="kLiveDetails">

      <div *ngIf="_widgetService._liveType === 'kaltura'">
        <div>
          <span class="kSubTitle">{{'applications.content.entryDetails.live.urls' | translate}}</span>
          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.primary' | translate}}</span>
            <span>{{_widgetService.data?.primaryBroadcastingUrl}}</span>
            <kCopyToClipboard class="kIcon" [text]="_widgetService.data?.primaryBroadcastingUrl" [iconSwitchTimeout]="5000" [tooltips]="_copyToClipboardTooltips"></kCopyToClipboard>
          </div>
          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.backup' | translate}}</span>
            <span>{{_widgetService.data?.secondaryBroadcastingUrl}}</span>
            <kCopyToClipboard class="kIcon" [text]="_widgetService.data?.secondaryBroadcastingUrl" [iconSwitchTimeout]="5000" [tooltips]="_copyToClipboardTooltips"></kCopyToClipboard>
          </div>
        </div>
        <div class="kRow">
			<span class="kLabels"></span>
			<button pButton (click)="_regenerateToken()" class="kButtonDefault" label="{{'applications.content.entryDetails.live.regenerate' | translate}}" [kTooltip]="'applications.content.entryDetails.live.regenerateTooltip' | translate"
                    [disabled]="_kmcPermissions.LIVE_STREAM_UPDATE | kDisabledIfNotPermitted"></button>
        </div>
        <div>
          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.streamName' | translate}}</span>
            <span>{{_widgetService.data?.streamName.replace('%i', '1')}}</span>
              <kCopyToClipboard class="kIcon" [text]="_widgetService.data?.streamName.replace('%i', '1')" [iconSwitchTimeout]="5000" [tooltips]="_copyToClipboardTooltips"></kCopyToClipboard>
          </div>
<!--          <div class="kRow">-->
<!--            <span class="kLabels"></span>-->
<!--            <button pButton class="kButtonDefault" (click)="_widgetService._exportXML()"-->
<!--                    [disabled]="_kmcPermissions.LIVE_STREAM_UPDATE | kDisabledIfNotPermitted"-->
<!--                    label="{{'applications.content.entryDetails.live.export' | translate}}"></button>-->
<!--            <a *ngIf="_widgetService._liveType === 'kaltura' && enableLiveAnalytics" class="kReportLink" [class.kDisabled]="!enableLiveAnalytics" (click)="_openLiveAnalytics()">{{'applications.content.entryDetails.live.report' | translate}}</a>-->
<!--          </div>-->
        </div>

        <div>
          <span class="kSubTitle">{{'applications.content.entryDetails.live.rtsp' | translate}}</span>
          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.primary' | translate}}</span>
            <span>{{_widgetService.data?.primaryRtspBroadcastingUrl.replace('%i','1')}}</span>
            <kCopyToClipboard class="kIcon" [text]="_widgetService.data?.primaryRtspBroadcastingUrl.replace('%i','1')" [iconSwitchTimeout]="5000" [tooltips]="_copyToClipboardTooltips"></kCopyToClipboard>
          </div>
          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.backup' | translate}}</span>
            <span>{{_widgetService.data?.secondaryRtspBroadcastingUrl?.replace('%i','1')}}</span>
            <kCopyToClipboard class="kIcon" [text]="_widgetService.data?.secondaryRtspBroadcastingUrl?.replace('%i','1')" [iconSwitchTimeout]="5000" [tooltips]="_copyToClipboardTooltips"></kCopyToClipboard>
          </div>
        </div>

        <div>
          <span class="kSubTitle">{{'applications.content.entryDetails.live.srt' | translate}}</span>
          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.primary' | translate}}</span>
            <span>{{_widgetService.data?.primarySrtBroadcastingUrl  ? _widgetService.data?.primarySrtBroadcastingUrl : 'not generated'}}</span>
            <kCopyToClipboard *ngIf="_widgetService.data?.primarySrtBroadcastingUrl" class="kIcon" [text]="_widgetService.data?.primarySrtBroadcastingUrl" [iconSwitchTimeout]="5000" [tooltips]="_copyToClipboardTooltips"></kCopyToClipboard>
          </div>
          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.primarySRTid' | translate}}</span>
            <span>{{_widgetService.data?.primarySrtStreamId  ? _widgetService.data?.primarySrtStreamId : 'not generated'}}</span>
            <kCopyToClipboard *ngIf="_widgetService.data?.primarySrtStreamId" class="kIcon" [text]="_widgetService.data?.primarySrtStreamId" [iconSwitchTimeout]="5000" [tooltips]="_copyToClipboardTooltips"></kCopyToClipboard>
          </div>
          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.secondary' | translate}}</span>
            <span>{{_widgetService.data?.secondarySrtBroadcastingUrl  ? _widgetService.data?.secondarySrtBroadcastingUrl : 'not generated'}}</span>
            <kCopyToClipboard *ngIf="_widgetService.data?.secondarySrtBroadcastingUrl" class="kIcon" [text]="_widgetService.data?.secondarySrtBroadcastingUrl" [iconSwitchTimeout]="5000" [tooltips]="_copyToClipboardTooltips"></kCopyToClipboard>
          </div>
          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.secondarySRTid' | translate}}</span>
            <span>{{_widgetService.data?.secondarySrtStreamId  ? _widgetService.data?.secondarySrtStreamId : 'not generated'}}</span>
            <kCopyToClipboard *ngIf="_widgetService.data?.secondarySrtStreamId" class="kIcon" [text]="_widgetService.data?.secondarySrtStreamId" [iconSwitchTimeout]="5000" [tooltips]="_copyToClipboardTooltips"></kCopyToClipboard>
          </div>
          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.srtKey' | translate}}</span>
            <span>{{_widgetService.data?.srtPass  ? _widgetService.data?.srtPass : 'not generated'}}</span>
            <kCopyToClipboard *ngIf="_widgetService.data?.srtPass" class="kIcon" [text]="_widgetService.data?.srtPass" [iconSwitchTimeout]="5000" [tooltips]="_copyToClipboardTooltips"></kCopyToClipboard>
          </div>

        </div>

          <div *ngIf="_kmcPermissions.FEATURE_SIP | kNgIfPermitted">
              <span class="kSubTitle">{{'applications.content.entryDetails.live.videoConferenceIntegration' | translate}}</span>
              <div class="kRow">
                  <span class="kLabels">{{'applications.content.entryDetails.live.sipUser' | translate}}</span>
                  <ng-container *ngIf="_widgetService.data?.sipToken">
                      <span>{{_widgetService.data?.sipToken.replace('%i','1')}}</span>
                      <kCopyToClipboard class="kIcon" [text]="_widgetService.data?.sipToken.replace('%i','1')" [iconSwitchTimeout]="5000" [tooltips]="_copyToClipboardTooltips"></kCopyToClipboard>
                  </ng-container>
                  <span *ngIf="!_widgetService.data?.sipToken">{{'applications.content.entryDetails.live.noSipUser' | translate}}</span>
              </div>
              <div class="kRow">
                  <span class="kLabels"></span>
                  <div class="sip">
                      <div class="sipContent">
                          <p-dropdown [options]="_sipSources" [(ngModel)]="_selectedSipSource" [placeholder]="'applications.content.entryDetails.live.sipSource' | translate"></p-dropdown>
                          <button *ngIf="!_generatingSipToken" type="button" class="kButtonDefault" pButton [disabled]="!_selectedSipSource"
                                  [label]="(_widgetService.data?.sipToken ? 'applications.content.entryDetails.live.regenerateSip' : 'applications.content.entryDetails.live.generateSip') | translate"
                                  (click)="_generateSip()"></button>
                          <div *ngIf="_generatingSipToken" class="k-spinner-background kSpinnerBkg">
                              <div class="k-spinner-animation kSpinnerAnim"></div>
                          </div>
                      </div>
                      <div class="sipError" *ngIf="_sipTokenError">
                          <i class="kIconerror"></i>
                          <span>{{'applications.content.entryDetails.live.sipError' | translate}}</span>
                      </div>
                  </div>
              </div>
          </div>

        <div>
          <span class="kSubTitle">{{'applications.content.entryDetails.live.config' | translate}}</span>
          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.dvrStatus' | translate}}</span>
            <span>{{_widgetService._DVRStatus}}</span>
          </div>
          <div class="kRow" *ngIf="_widgetService._showDVRWindow">
            <span class="kLabels">{{'applications.content.entryDetails.live.dvrWindow' | translate}}</span>
            <span *ngIf="_widgetService._dvrWindowAvailable">{{_widgetService.data?.dvrWindow | kTime}} {{'applications.content.entryDetails.live.hours' | translate}}</span>
            <span *ngIf="!_widgetService._dvrWindowAvailable">{{'app.common.n_a' | translate}}</span>
          </div>
          <div class="kRow">
              <span class="kLabels">{{'applications.content.entryDetails.live.activeRec' | translate}}</span>
              <span>{{_widgetService._recordStatus}}</span>
          </div>
          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.previewMode' | translate}}</span>
            <div>
              <p-inputSwitch class="kControl kInputSwitch"
                             [disabled]="_kmcPermissions.LIVE_STREAM_UPDATE | kDisabledIfNotPermitted"
                             (onChange)="_widgetService.setDirty()"
                             [(ngModel)]="_widgetService._explicitLive"></p-inputSwitch>
              <span>{{_widgetService._explicitLive ? ( 'app.common.on' | translate) : ( 'app.common.off' | translate)}}</span>
            </div>
          </div>
        </div>


        <div *ngIf="_kmcPermissions.FEATURE_KALTURA_LIVE_STREAM | kNgIfPermitted">
            <span class="kSubTitle">{{'applications.content.entryDetails.live.transcoding' | translate}}</span>
            <div class="kRow">
                <span class="kLabels">{{'applications.content.entryDetails.live.transcodingProfile' | translate}}</span>
                <p-dropdown (onChange)="_widgetService.setDirty()"
                            [options]="(_widgetService._conversionProfiles$ | async)?.items"
                            [disabled]="_kmcPermissions.LIVE_STREAM_UPDATE | kDisabledIfNotPermitted"
                            [(ngModel)]="_widgetService._selectedConversionProfile"></p-dropdown>
            </div>
        </div>
      </div>

      <div *ngIf="_widgetService._liveType === 'universal'">
        <div>
          <span class="kSubTitle">{{'applications.content.entryDetails.live.urls' | translate}}</span>
          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.primary' | translate}}</span>
            <span #primaryBroadcastingUrl>{{_widgetService.data?.primaryBroadcastingUrl}}</span>
            <kCopyToClipboard class="kIcon" [text]="_widgetService.data?.primaryBroadcastingUrl" [iconSwitchTimeout]="5000" [tooltips]="_copyToClipboardTooltips"></kCopyToClipboard>
          </div>
          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.backup' | translate}}</span>
            <span #secondaryBroadcastingUrl>{{_widgetService.data?.secondaryBroadcastingUrl}}</span>
            <kCopyToClipboard class="kIcon" [text]="_widgetService.data?.secondaryBroadcastingUrl" [iconSwitchTimeout]="5000" [tooltips]="_copyToClipboardTooltips"></kCopyToClipboard>
          </div>
        </div>
        <div>
          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.streamName' | translate}}</span>
            <span>{{_widgetService.data?.streamName.replace('%i', '1')}}</span>
          </div>
          <div class="kRow">
            <span class="kLabels"></span>
            <button pButton class="kButtonDefault"
                    [disabled]="_kmcPermissions.LIVE_STREAM_UPDATE | kDisabledIfNotPermitted"
                    (click)="_widgetService._exportXML()"
                    label="{{'applications.content.entryDetails.live.export' | translate}}"></button>
            <!--a *ngIf="_widgetService._liveType === 'kaltura'" class="kReportLink" (click)="_widgetService._openLiveReport()">{{'applications.content.entryDetails.live.report' | translate}}</a-->
          </div>
        </div>
        <div>
          <span class="kSubTitle">{{'applications.content.entryDetails.live.config' | translate}}</span>
          <div>
            <div class="kRow">
              <span class="kLabels">{{'applications.content.entryDetails.live.hlsStream' | translate}}</span>
              <span>{{_widgetService.data?.hlsStreamUrl}}</span>
            </div>
            <div class="kRow">
              <span class="kLabels">{{'applications.content.entryDetails.live.akamaiStream' | translate}}</span>
              <span>{{_widgetService.data?.streamRemoteId}}</span>
            </div>
          </div>

          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.dvrStatus' | translate}}</span>
            <span>{{_widgetService._DVRStatus}}</span>
          </div>
          <div class="kRow" *ngIf="_widgetService._showDVRWindow">
            <span class="kLabels">{{'applications.content.entryDetails.live.dvrWindow' | translate}}</span>
            <span *ngIf="_dvrWindowAvailable">{{_widgetService.data?.dvrWindow | kTime}} {{'applications.content.entryDetails.live.hours' | translate}}</span>
            <span *ngIf="!_dvrWindowAvailable">{{'app.common.n_a' | translate}}</span>
          </div>
        </div>
        <div>
          <span class="kSubTitle">{{'applications.content.entryDetails.live.bitrateConfig' | translate}}</span>
          <span class="kNote">{{'applications.content.entryDetails.live.bitrateDoc' | translate}}</span>
          <div class="kRow kTableHeader">
            <span class="kLiveNumber"></span>
            <span class="kLiveBitrateCB"></span>
            <span class="kLiveBitrate">{{'applications.content.entryDetails.live.bitrate' | translate}}</span>
            <span class="kLiveWidth">{{'applications.content.entryDetails.live.width' | translate}}</span>
            <span class="kLiveX"></span>
            <span class="kLiveHeight">{{'applications.content.entryDetails.live.height' | translate}}</span>
          </div>
          <div *ngFor="let bitrate of _widgetService._bitrates; let i = index">
            <div class="kRow">
              <span class="kLiveNumber">{{i+1}}.</span>
              <div class="kLiveBitrateCB">
                <p-checkbox binary="true" [(ngModel)]="bitrate.enabled"
                            [disabled]="_kmcPermissions.LIVE_STREAM_UPDATE | kDisabledIfNotPermitted"
                            (onChange)="_widgetService._validateBitrates({updateDirtyMode : true})"></p-checkbox>
              </div>
              <div class="kLiveBitrate">
                <p-dropdown [options]="_widgetService._availableBitrates"
                            [disabled]="!bitrate.enabled || _kmcPermissions.LIVE_STREAM_UPDATE | kDisabledIfNotPermitted"
                            [(ngModel)]="bitrate.bitrate"
                            (onChange)="_widgetService._validateBitrates({updateDirtyMode : true})"
                            [placeholder]="'applications.content.entryDetails.live.selectBitrate' | translate"></p-dropdown>
                <span class="kLiveBitrate kLiveKbps"> Kbps</span>
              </div>
              <div class="kLiveWidth">
                <p-spinner size="5" [min]="0" [max]="9999"
                           [disabled]="!bitrate.enabled || _kmcPermissions.LIVE_STREAM_UPDATE | kDisabledIfNotPermitted"
                           [(ngModel)]="bitrate.width"
                           (onChange)="_widgetService._validateBitrates({updateDirtyMode : true})"></p-spinner>
              </div>
              <span class="kLiveX">x</span>
              <div class="kLiveHeight">
                <p-spinner size="5" [min]="0" [max]="9999"
                           [disabled]="!bitrate.enabled || _kmcPermissions.LIVE_STREAM_UPDATE | kDisabledIfNotPermitted"
                           [(ngModel)]="bitrate.height"
                           (onChange)="_widgetService._validateBitrates({updateDirtyMode : true})"></p-spinner>
              </div>

            </div>
            <span *ngIf="bitrate.errors?.length" class="kError">{{bitrate.errors}}</span>
          </div>
          <span class="kSubTitle">{{'applications.content.entryDetails.live.credentials' | translate}}</span>
          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.username' | translate}}</span>
            <span>{{_widgetService.data?.streamUsername}}</span>
          </div>
          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.password' | translate}}</span>
            <span>{{_widgetService.data?.streamPassword}}</span>
          </div>

          <span class="kSubTitle">{{'applications.content.entryDetails.live.encoders' | translate}}</span>
          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.primaryIP' | translate}}</span>
            <span>{{_widgetService.data?.encodingIP1}}</span>
          </div>
          <div class="kRow">
            <span class="kLabels">{{'applications.content.entryDetails.live.secondaryIP' | translate}}</span>
            <span>{{_widgetService.data?.encodingIP1}}</span>
          </div>
        </div>
      </div>

      <div *ngIf="_widgetService._liveType === 'manual'">
        <div class="kRow">
          <span class="kWideLabels">{{'applications.content.entryDetails.live.hlsStream' | translate}}</span>
          <span>{{_widgetService.data?.hlsStreamUrl}}</span>
        </div>
        <div class="kRow" *ngFor="let config of _widgetService._manualStreamsConfiguration">
          <!-- loop through liveStreamConfigurations array -->
          <span class="kWideLabels">{{config.label}}</span>
          <span>{{config.url}}</span>
        </div>
      </div>
    </div>
  </div>
</k-area-blocker>

<kPopupWidget #liveAnalytics data-aid="liveAnalytics" [fullScreen]="true">
  <ng-template>
    <kAnalyticsLive [entry]="_widgetService.data" [parentPopup]="liveAnalytics"></kAnalyticsLive>
  </ng-template>
</kPopupWidget>

<kPopupWidget #liveDashboard data-aid="liveDashboard" [fullScreen]="true">
    <ng-template>
        <kLiveDashboard [entryId]="_widgetService.data.id" [parentPopupWidget]="liveDashboard"></kLiveDashboard>
    </ng-template>
</kPopupWidget>
