<!--div class="grid-12">
    <div class="col-1">
        <div style="background-color: green; width: 100%; height: 50px">col1</div>
    </div>
    <div class="col-1">
        <div style="background-color: green; width: 100%; height: 50px">col2</div>
    </div>
    <div class="col-1">
        <div style="background-color: green; width: 100%; height: 50px">col1</div>
    </div>
    <div class="col-1">
        <div style="background-color: green; width: 100%; height: 50px">col2</div>
    </div>
    <div class="col-1">
        <div style="background-color: green; width: 100%; height: 50px">col1</div>
    </div>
    <div class="col-1">
        <div style="background-color: green; width: 100%; height: 50px">col2</div>
    </div>
    <div class="col-1">
        <div style="background-color: green; width: 100%; height: 50px">col1</div>
    </div>
    <div class="col-1">
        <div style="background-color: green; width: 100%; height: 50px">col2</div>
    </div>
    <div class="col-1">
        <div style="background-color: green; width: 100%; height: 50px">col1</div>
    </div>
    <div class="col-1">
        <div style="background-color: green; width: 100%; height: 50px">col2</div>
    </div>
    <div class="col-1">
        <div style="background-color: green; width: 100%; height: 50px">col1</div>
    </div>
    <div class="col-1">
        <div style="background-color: green; width: 100%; height: 50px">col2</div>
    </div>
</div-->
<div class="dashboard">
    <div class="dashboardHeader">{{ 'DASHBOARD.main_screen_welcome_title' | translate: {'0': _userContext.fullName, '1': _userContext.roleNames, '2': _userContext.partnerInfo.name} }}</div>
    <p>{{path}} content</p>
</div>
