@import 'app-theme/_variables.scss';

.kAdvertisements {
  .kTitle {
    color: $kGrayscale1;
    font-size: 20px;
    font-weight: bold;
    padding-top: 28px;
    padding-left: 24px;
    padding-bottom: 24px;
  }
  .kDescription {
    color: $kGrayscale1;
    font-size: 15px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
  }
  .kButtons {
    display: flex;
    padding-left: 24px;
    margin-bottom: 20px;
    button {
      height: 32px;
      font-weight: bold;
      margin-right: 20px;
    }
  }
}
