<k-area-blocker [showLoader]="_widgetService.showSectionLoader" [message]="_widgetService.sectionBlockerMessage" [bodyScroll]="true">
	<div class="kAdvertisements">
		<div class="kTitle">{{'applications.content.entryDetails.advertisements.title' | translate}}</div>
    <div class="kDescription">{{'applications.content.entryDetails.advertisements.description' | translate}}</div>
    <div class="kButtons">
      <button pButton class="kButtonDefault"
              (click)="_advertisementsEnabled && advertisements.open()"
              label="{{'applications.content.entryDetails.advertisements.manageAdvertisements' | translate}}"></button>
    </div>
	</div>
</k-area-blocker>

<kPopupWidget #advertisements [fullScreen]="true">
  <ng-template>
    <kAdvertisements [entryId]="_widgetService.data.id" [parentPopupWidget]="advertisements"></kAdvertisements>
  </ng-template>
</kPopupWidget>
