<k-area-blocker [showLoader]="_widgetService.showSectionLoader" [message]="_widgetService.sectionBlockerMessage"
                [bodyScroll]="true">
    <div class="kAdvertisements">
        <div class="kTitle">{{'applications.content.entryDetails.advertisements.title' | translate}}</div>
        <div class="kDescription">{{'applications.content.entryDetails.advertisements.description' | translate}}</div>
        <div class="kButtons">
            <div>
                <button pButton class="kButtonDefault"
                        [disabled]="!_advertisementsEnabled"
                        (click)="advertisements.open()"
                        label="{{'applications.content.entryDetails.advertisements.manageAdvertisements' | translate}}"></button>
            </div>
        </div>
    </div>
</k-area-blocker>

<kPopupWidget #advertisements [fullScreen]="true">
  <ng-template>
    <kEntryEditor [entry]="_widgetService.data"
                  [entryHasSource]="true"
                  [tab]="'advertisements'"
                  [parentPopupWidget]="advertisements"></kEntryEditor>
  </ng-template>
</kPopupWidget>
