<k-area-blocker [showLoader]="_showLoader" [message]="_blockerMessage">
	<div class="kRefineFilters">
		<div class="kTreeContainer">
			<div class="kFiltersGroupTitle">
				{{'applications.content.filters.createdBetween' | translate | uppercase}}
			</div>
			<div class="kDateRange">
				<p-calendar
					class="kDateRangeFirst"
					[(ngModel)]="createdAfter"
					[readonlyInput]="true"
					[showIcon]="true"
					[monthNavigator]="true"
					[yearNavigator]="true"
					[maxDate]="createdBefore"
					[yearRange]="_createdAtDateRange"
                    [dateFormat]="_calendarFormat"
					icon="kIconcalendar"
					(onSelect)="_onCreatedChanged()"></p-calendar>
				<p-calendar
					class="kDateRangeLast kPullLeft30"
					[(ngModel)]="createdBefore"
					[readonlyInput]="true"
					[showIcon]="true"
					[monthNavigator]="true"
					[yearNavigator]="true"
					[minDate]="createdAfter"
                    [dateFormat]="_calendarFormat"
					[yearRange]="_createdAtDateRange"
					icon="kIconcalendar"
					(onSelect)="_onCreatedChanged()"></p-calendar>
				<div class="kClearDates">
          <a (click)="_clearCreatedComponents()" [ngClass]="{disabledLink: !createdAfter && !createdBefore}">{{'applications.content.filters.clearDates' | translate}}</a>
        </div>
			</div>
		</div>
		<div>
			<a class="kClose" (click)="_close()">{{'applications.content.filters.close' | translate}}</a>
		</div>
	</div>
</k-area-blocker>
