@import 'app-theme/_variables.scss';

.kHighlights{
	.kTitle{
		color: $kGrayscale1;
		font-size: 20px;
		font-weight: 700;
		padding-left: 24px;
	}
	button{
		margin-left: 24px;
	}
	.kTable{
		margin-top: 24px;
	}
	.kHighlightsTableActions {
		width: 100%;
		text-align: center;
		button {
			color: grey !important;
			background-color: rgba(0, 0, 0, 0) !important;
			border: none !important;
			font-size: 16px !important;
			outline: 0;
		}
	}
}

.kFloater{
	display: flex;
	flex-direction: column;
	height: 100%;
	.kHeader {
		height: 78px;
		width: 100%;
		text-align: center;
		padding-top: 24px;
		box-sizing: border-box;
		border-bottom: 1px solid $kGrayscale4;
		flex: 0 0 auto;
		.kTitle {
			color: #333333;
			font-size: 24px;
			font-weight: 700;
		}
	}
	.kContainer{
		flex: 0 0 auto;
		margin: 24px;
		margin-top: 8px;
		height: 204px;
	}
	.kFooter{
		flex: 0 0 auto;
		height: 66px;
		border-top: 1px solid $kGrayscale4;
		display: flex;
		align-items: center;
		justify-content: center;
		button{
			height: 34px;
		}
	}
}

.kRow{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	font-size: 15px;
	.kLabel{
		width: 160px;
		flex: 0 0 auto;
	}
	input{
		width: 100%;
	}
	textarea{
		height: 52px;
		width: 100%;
	}
}
.checkboxes{
	flex-direction: column;
}
.checkbox{
	height: 30px;
}
.kFloater {
	display: flex;
	flex-direction: column;

	.kHeader {
		height: 78px;
		width: 100%;
		padding: 0 24px;
		box-sizing: border-box;
		border-bottom: 1px solid $kGrayscale4;
		flex: 0 0 auto;
		display: flex;
		align-items: center;

		.kTitle {
			color: #333333;
			font-size: 15px;
			font-weight: 700;
		}

		.kButtons {
			display: flex;
			margin-left: auto;

			.kCancel {
				font-size: 15px;
				color: #333333;
				align-self: center;
				margin-right: 24px;
			}

			.kButtonDefault {
				font-weight: normal;
			}
		}
	}
}

:host /deep/ .ui-paginator {
	padding-right: 12px;
}

p-checkbox /deep/ .ui-chkbox-label {
	font-weight: normal;
}

kPopupWidget /deep/ .ui-dropdown.ui-widget{
	width: 320px !important;
}

kPopupWidget /deep/ .ui-dropdown-label.ui-inputtext{
	background-color: #ffffff;
}
