<k-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage">
  <div class="kContainer">
      <div class="kHeader" [class.kInheritance]="categoryInheritUserPermissions">
        <span class="kTitle">
          {{'applications.content.categoryDetails.entitlements.usersPermissions.title' | translate}}
        </span>
        <button pButton class="kButtonDefault kButton"
                label="{{'applications.content.categoryDetails.entitlements.usersPermissions.close' | translate}}"
                (click)="parentPopupWidget?.close()"></button>
        <span class="kInheritanceMessage" *ngIf="categoryInheritUserPermissions"
              [kTooltip]="'applications.content.categoryDetails.entitlements.usersPermissions.inheritanceMessage' | translate:{'0': parentCategory.fullName}"
              [maxWidth]="850">
          {{'applications.content.categoryDetails.entitlements.usersPermissions.inheritanceMessage' | translate:{'0': parentCategory.fullName} }}
        </span>
      </div>
      <div class="kManageEndUserPermissionsBulkOperationsContent">
        <kManageEndUserPermissionsBulkOperationsContent
          [itemsTotalCount]="_usersTotalCount"
          (deleteItems)="_deleteSelected($event)"
          (clearSelection)="_clearSelection()"
          [selectedItems]="_selectedUsers"
          (onActionSelected)="_onActionSelected($event)"
          (addItem)="addUser.open()"
        [categoryInheritUserPermissions]="categoryInheritUserPermissions">
        </kManageEndUserPermissionsBulkOperationsContent>
         
      </div>
      <div class="kManageEndUserPermissionsTable">

        <kManageEndUserPermissionsTable
          [(selectedUsers)]="_selectedUsers"
          [users]="_users"
          (onActionSelected)="_onActionSelected($event)"
        [categoryInheritUserPermissions]="categoryInheritUserPermissions">
        </kManageEndUserPermissionsTable>
      </div>
      <div class="kTableFooter" #footer *ngIf="_usersTotalCount">
        <p-paginator [rows]="_filter.pageSize" (onPageChange)="_onPaginationChanged($event)"
                     [first]="_filter.pageIndex * _filter.pageSize"
                     [totalRecords]="_usersTotalCount" [rowsPerPageOptions]="[25,50,75,100]"></p-paginator>
        <span class="kPaginatorShowRowsLabel">{{'applications.content.paginator.showRows' | translate}}</span>
      </div>
  </div>
</k-area-blocker>
 
 
<kPopupWidget #addUser [popupWidth]="790" [popupHeight]="447" [modal]="true" [preventPageScroll]="true">
  <ng-template>
    <kAddUsers [parentPopupWidget]="addUser"
               [category]="category"
               [parentCategoryMembersCount]="parentCategory?.membersCount"
               [usersCount]="_users.length"
               (usersAdded)="_onUsersAdded()"
    ></kAddUsers>
  </ng-template>
</kPopupWidget>
