@import 'app-theme/_variables.scss';

.kContainer {
  overflow: hidden;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  .kHeader {
    flex: 0 0 auto;
    height: 72px;
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
    border-bottom: 1px solid $kGrayscale4;
    .kButton {
      float: right;
      height: 34px;
      width: 88px;
    }
    .kTitle {
      float: left;
      font-weight: 700;
      padding: 8px;
    }
    .kInheritanceMessage {
      display: block;
      clear: both;
      padding: 0 8px;
      width: 850px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: $kDandger;
    }
  }
  .kHeader.kInheritance {
    height: 80px;
  }

  .kBulkActionsContainer {
    flex: 0 0 auto;
    padding: 9px 0 9px 24px;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid $kGrayscale4;
    .kAddItemBtn {
        flex: 0 0 auto;
      height: 34px;
    }

    .kItemsNum {
      padding-left: 24px;
      display: inline-block;
      width: 392px;
    }

    .kItemsNum.kSelected {
      width: auto;
      padding-left: 0px;
    }

    .kBulkActions {
      margin-left: 16px;
      display: inline-block;

      .kSelectedItems {
        font-weight: bold;
      }

      .kBulkCancel {
        padding: 0 24px;
        color: #333333;
      }
    }

    .kFiltersContainer {
      display: flex;
      .kSearchInput {
        background: $kMagnifyingGlassBkg;
        padding-left: 38px;
        margin-right: 16px;
        width: 258px;
      }

      .kRefine {
        border: 1px solid $kGrayscale4;
        border-radius: 4px;
        display: flex;
        background-color: #ffffff;
        height: 32px;
        align-items: center;
        cursor: pointer;
        color: $kGrayscale1;
        width: 160px;
        position: relative;
        i {
          margin-right: 12px;
          margin-left: 8px;
          font-size: 24px;
          color: $kGrayscale4;
          &.dropdown {
            font-size: 10px;
          }
        }
        &:hover {
          color: $kPrimary;
          i {
            color: $kPrimary;
          }
          i.kIcondropdown_arrow_bottom.dropdown {
            color: $kGrayscale3;
          }
        }
        .dropdown {
          position: absolute;
          right: 4px;
          top: 12px;
        }
      }
    }

    .kHidden {
      visibility: hidden;
      width: 0px;
      height: 0px;
    }
  }

  .kManageEndUserPermissionsTable {
    flex: 1 1 auto;
    overflow-y: auto;
    padding-bottom: 34px;
  }
  kManageEndUserPermissionsTable{
    width: 100%;
  }

  .kTableFooter {
    flex: 0 0 auto;
    bottom: 0;
    height: 34px;
    background-color: white;
    border-top: 1px solid $kGrayscale6;
    position: fixed;
    box-sizing: border-box;
    padding: 0 14px 28px;
    display: block;
    width: 996px;
  }

  .kPaginatorShowRowsLabel {
    color: $kGrayscale1;
    position: absolute;
    top: 7px;
    right: 80px;
  }
}


:host /deep/ {
  .ui-dropdown {
    height: 34px;
    border: 1px solid $kGrayscale4;

    .ui-dropdown-label {
      color: $kGrayscale1;
      font-size: 15px;
    }
  }
}
.kBulkActionsBtn {
  font-size: 15px;
}

:host{
  width: 100%;
}

:host /deep/  .kIcondropdown_arrow_bottom {
  font-size: 12px;
  color: $kGrayscale3;
}

:host /deep/  .ui-widget-header.ui-table-scrollable-header {
  border-top: 0px solid white;
}
:host /deep/ ktags .kTags {
  border-top: 0px solid white;
  border-bottom: 1px solid $kGrayscale4;
}

:host /deep/  .ui-button-text-icon-right .ui-button-text {
  padding-left: 10px;
}

:host /deep/ kSticky {
  width: 100%;
}

:host /deep/ .kStickyHeader {
  background-color: white;
  border-top: 2px solid $kGrayscale6;
  box-shadow: $kGrayscale5 0px 1px 0px;
  display: flex;
  height: 68px;
  width: inherit;
}
:host /deep/ .kTableFooter {
  .ui-dropdown-panel {
    min-width: 70px;
  }
}
