@import 'app-theme/_variables.scss';

.kLoginForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  line-height: 19px;
  transition: max-height 300ms ease-out;
  max-height: 400px;
  &.kResize{
      max-height: 700px;
  }
  &.kError{
      max-height: 500px;
  }
  h1 {
    margin: 0px 0px 40px 0px;
    font-size: 24px;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
  }

  .kErrorMessage {
    margin-top: -16px;
    margin-bottom: 40px;
    color: $kDandger;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
  .label {
      font-size: 14px;
      font-weight: 700;
      color: $kGrayscale1;
      margin-bottom: 4px;
  }
  div {
    width: 100%;
    align-self: center;
    text-align: center;
    position: relative;

    input {
        width: 100%;
        height: 48px;
        padding: 14px 16px;
        margin-bottom: 24px;
        color: $kGrayscale3;
        font-size: 16px;
        border-radius: 4px;
        &:focus {
            color: $kGrayscale1;
        }
        &:placeholder-shown {
            background-color: $kGrayscale6;
        }

        &.has-error {
            border: 2px solid $kDandger;
        }

        &.has-success:focus {
            border: 2px solid $kPrimary;
        }
    }
  }

  .kControlLinks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    a {
      font-size: 16px;
      text-decoration: none;
    }
  }

    .kLoginButton{
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            margin-top: 12px;
        }
    }

  .kButtonDefault {
    width: 160px;
    height: 48px;
    border-radius: 4px;
    background-color: $kPrimary;
    color: white;
    font-weight: normal;
    font-size: 16px;
  }

    .kAuthHelp{
        position: absolute;
        text-decoration: underline;
        cursor: pointer;
        left: 0px;
        top: 60px;
        color: $kGrayscale1;
    }

}

:host ::ng-deep p-checkbox {
  .p-checkbox, .p-checkbox-box {
    width: 18px;
    height: 18px;
  }
}
