@import "app-theme/_variables.scss";
.kAddCategory{
	width: 100%;
	height: 534px;
	position: relative;
	.kHeader{
		width: 100%;
		text-align: center;
		border-bottom: 1px solid $kGrayscale4;
    height: 78px;
    padding-top: 24px;
    box-sizing: border-box;
  }
	.kTitle{
		color: $kGrayscale1;
		font-size: 24px;
		font-weight: 700;
	}
	.kTagsContainer{
		height: 80px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		&.kLocked{
			flex-direction: column;
		}
		.kSelectCategoriesMsg{
			width: 100%;
			text-align: left;
			padding-left: 20px;
		}
		.kSpinnerBkg{
			position: relative;
			width: 20px;
			height: 20px;
			padding-left: 8px;
			padding-right: 20px;
			margin-top: 0px;
		}
		.kSpinnerAnim{
			width: 12px;
			height: 12px;
		}
	}
	.kMain{
		margin-left: 20px;
		border: 1px solid $kGrayscale4;
		border-radius: 4px;
		width: 520px;
		height: 330px;
		padding: 12px;
		box-sizing: border-box;
	}
	.kFooter{
		width: 560px;
    margin-top: 32px;
		border-top: 1px solid $kGrayscale4;
		padding-top: 16px;
    box-sizing: border-box;
		text-align: center;
    height: 66px;
    button{
      height: 34px;
    }
	}
}


:host ::ng-deep kautocomplete .kKalturaPrimeUIComponent.p-autocomplete-multiple{
	width: 100%;
}

:host ::ng-deep kautocomplete ul.p-autocomplete-multiple-container{
	max-height: 60px;
	overflow-y: auto;
}


:host ::ng-deep k-categories-tree .kTreeContainer{
	margin: 0px;
	padding: 0px;
	width: 100%;
	margin-top: 4px;
	border-bottom: 0px solid white;
	min-height: 260px;
}


:host ::ng-deep k-area-blocker{
	height: 265px;
	overflow-y: hidden;
}

:host ::ng-deep ktags{
	margin-left: 12px;
	.kTags{
		border-top: 0px solid white;
		width: 542px;
	}
	.kTagRemove{
		flex: 0 0 auto;
		margin-top: 2px;
		margin-left: 8px;
		padding: 5px;
		cursor: pointer;
		font-size: 10px;
	}
	.kTagContent{
		display: flex;
		align-items: center;
		cursor: default;
	}
}
:host ::ng-deep kautocomplete ul.p-autocomplete-multiple-container.p-inputtext{
	padding: 0px;
	.p-autocomplete-input-token{
		padding: 0px;
		input{
			height: 34px;
			padding-left: 8px;
			width: 500px;
		}
	}
}

:host ::ng-deep .kAddCategory {
  .ui-autocomplete-input-token input {
    width: 492px !important;
  }
}
