@import 'app-theme/_variables.scss';

.kPlaylistEntriesTable {
  background-color: white;
  overflow: hidden;
  position: relative;
  padding: 0px;

  .kThumbnailHolder {
    overflow: hidden;
    position: relative;
    width: 80px;
    height: 46px;
    background-color: $kGrayscale6;
    white-space: nowrap;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    img {
      position: absolute;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      margin: auto;
      width: 80px;
      height: auto;
      border-radius: 3px;
    }

      .kThumbnailTypeIcon {
          position: absolute;
          color: #FFFFFF;

          &.kIconyoutube {
              color: $kDandger;
              font-size: 30px;
              top: 15px;
              left: 1px;
              z-index: 2;
          }
      }

      .kYoutubeIconFix {
          position: absolute;
          width: 15px;
          height: 15px;
          top: 22px;
          left: 10px;
          background-color: #FFFFFF;
          z-index: 1;
      }

      .kThumbnailTypeIcon {
          position: absolute;
          color: #FFFFFF;

          &.kIconquiz {
              font-size: 30px;
              top: 15px;
              right: 1px;
          }
      }
  }

  .kPlaylistEntriesTableActions {
    width: 100%;
    text-align: center;
  }

  .kIconvideo {
    font-size: 16px;
  }

  .kIconsound {
    font-size: 16px;
  }

  .kIconimage {
    font-size: 16px;
  }

  .kTitle {
    color: #333333;
    font-weight: 700;
    cursor: pointer;
  }
}

:host ::ng-deep .selectionColumn {
  width: 44px;
  padding-left: 14px!important;
}

:host ::ng-deep .ui-table .thumbnailColumn {
  width: 100px;
}

:host ::ng-deep .ui-table .mediaTypeColumn {
  width: 80px;
  text-align: center;
}

:host ::ng-deep .ui-table .createdAtColumn {
  width: 140px;
  text-align: center;
}

:host ::ng-deep .ui-table .durationColumn {
  width: 100px;
  text-align: center;
}

:host ::ng-deep .ui-table .actionsColumn {
  overflow: visible;
  width: 80px;
}

:host {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  flex-direction: column;
}

:host ::ng-deep p-table .stickyHeader{
  z-index: 10;
  display: table;
}
