@import 'app-theme/_variables.scss';


.kFlavours{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	button{
		font-weight: 400;
		height: 32px;
	}
	.kTitle{
		padding-left: 24px;
		color: $kGrayscale1;
		font-size: 20px;
		font-weight: 700;
	}
	.kEntryId{
		padding-left: 24px;
		margin-bottom: 24px;
	}
	.kTable{
		.kFlavorName{
			font-weight: bold;
		}
		.kConvertedFlavor{
			color: $kGrayscale1;
		}
	}
	.kTooltipHolder{
		position: relative;
	}
	.kFlavorsTableActions {
		width: 100%;
		text-align: center;
	}
}
:host ::ng-deep .p-button-icon-right.ui-c.pi-pi-fw.kIcondropdown_arrow_bottom{
	font-size: 11px;
	padding-right: 4px;
}

:host ::ng-deep p-table {
    .p-datatable .p-datatable-thead > tr > th {
        border-left: 1px solid $kGrayscale6;
    }
}

@media screen and (max-width: 1310px) {
    .kReplacementButtonsShown {
        bottom: 22px !important;
    }
}
