<div class="kEditDistributionProfileWrap">
  <div class="kFloater">
    <div class="kHeader">
      <div class="kTitle">
        <div [class]="'kProfileIcon ' + (undistributedProfile?.providerType | kEntriesDistributionProviderTypeIcon)"></div>
        <div class="kTitleNames">
          <span class="kTitleProfileName">{{_profileName}}</span>
          <span *ngIf="!_forDistribution" class="kTitleDistributionName">{{_distributionName}}</span>
        </div>
      </div>
      <div class="kButtons">
        <a class="kCancel" (click)="_cancel()">
          {{'applications.content.entryDetails.distribution.cancel' | translate}}
        </a>
        <button type="button"
                class="kButtonBranded"
                pButton
                [disabled]="_actionDisabled"
                [label]="_addButtonLabel"
                (click)="_saveProfile()"></button>
      </div>
    </div>
    <div class="kContainer">
      <form [formGroup]="_distributionForm">
        <div class="kRow kFirstRow">
          <span class="kLabel">{{'applications.content.entryDetails.distribution.form.status' | translate}}</span>
          <span class="kReadonlyData" *ngIf="_forDistribution">
            <i class="kIconinactive"></i>
            {{'applications.content.entryDetails.distribution.status.notDistributed' | translate}}
          </span>
          <span class="kReadonlyData" *ngIf="!_forDistribution">
            <span class="kStatus">
              <i class="kStatusIcon" [ngClass]="_profile | kEntriesDistributionStatus:'icon'"></i>
              {{_profile | kEntriesDistributionStatus:'label'}}
            </span>
          </span>
        </div>

        <div class="kRow" *ngIf="_forDistribution">
          <span class="kLabel">{{'applications.content.entryDetails.distribution.form.updates' | translate}}</span>
          <p-checkbox [label]="'applications.content.entryDetails.distribution.form.updateAutomatically' | translate"
                      [formControl]="_updatesField"
                      binary="true"></p-checkbox>
        </div>

        <div *ngIf="!_forDistribution">
          <div class="kRow" *ngIf="_profile?.updatedAt !== undefined">
              <span class="kLabel">
                {{'applications.content.entryDetails.distribution.form.lastUpdate' | translate}}
              </span>
            <span class="kReadonlyData">
              {{_profile?.updatedAt | kDate:'dateOnly'}}
            </span>
          </div>

          <div class="kRow" *ngIf="_profile?.remoteId !== undefined">
            <span class="kLabel">{{'applications.content.entryDetails.distribution.form.remoteId' | translate}}</span>
            <span class="kReadonlyData">
              {{_profile?.remoteId}}
            </span>
          </div>

          <div class="kRow" *ngIf="(_requestXmlLink || _responseXmlLink) && (_kmcPermissions.CONTENTDISTRIBUTION_PLUGIN_PERMISSION | kNgIfPermitted)">
            <span class="kLabel">{{'applications.content.entryDetails.distribution.form.logs' | translate}}</span>
            <span class="kReadonlyData kDistributionLink">
            <a *ngIf="_requestXmlLink" [href]="_requestXmlLink" target="_blank">
              {{'applications.content.entryDetails.distribution.form.requestXml' | translate}}
            </a>
            <a *ngIf="_responseXmlLink" [href]="_responseXmlLink" target="_blank">
              {{'applications.content.entryDetails.distribution.form.requestXml' | translate}}
            </a>
          </span>
          </div>
        </div>

        <div class="kRow">
          <span class="kLabel">{{'applications.content.entryDetails.distribution.form.startDate' | translate}}</span>
          <p-calendar class="kControl kDateControl"
                      icon="kIconcalendar"
                      [showTime]="true"
                      [readonlyInput]="true"
                      [showIcon]="true"
                      [monthNavigator]="true"
                      [yearNavigator]="true"
                      [formControl]="_startDateField"
                      [yearRange]="_createdAtDateRange"
                      (onSelect)="_onCreatedChanged()"></p-calendar>
        </div>

        <div class="kRow">
          <span class="kLabel">{{'applications.content.entryDetails.distribution.form.endDate' | translate}}</span>
          <div>
            <p-calendar class="kControl kDateControl"
                        icon="kIconcalendar"
                        [showTime]="true"
                        [readonlyInput]="true"
                        [showIcon]="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [formControl]="_endDateField"
                        [yearRange]="_createdAtDateRange"
                        (onSelect)="_onCreatedChanged()"></p-calendar>
            <div *ngIf="_createdFilterError" class="kError">{{_createdFilterError}}</div>
          </div>
        </div>
      </form>
      <div class="kRow kRemoveProfile" *ngIf="!_forDistribution">
        <span class="kLabel"></span>
        <div>
          <button pButton class="kButtonDanger"
                  icon="kIcontrash"
                  [disabled]="_kmcPermissions.CONTENT_MANAGE_DISTRIBUTION_REMOVE | kDisabledIfNotPermitted"
                  [label]="'applications.content.entryDetails.distribution.form.delete' | translate"
                  (click)="_deleteProfile(_profile)"></button>
        </div>
      </div>

      <kEditDistributionProfileMetadata
        [entry]="entry"></kEditDistributionProfileMetadata>

      <kEditDistributionProfileFlavors
        [requiredFlavors]="_requiredFlavors"></kEditDistributionProfileFlavors>

      <kEditDistributionProfileThumbnails
        [requiredThumbnails]="_requiredThumbnails"></kEditDistributionProfileThumbnails>
    </div>
  </div>
</div>
