@import 'app-theme/_variables.scss';

.kEditDistributionProfileWrap {
  .kFloater {
    display: flex;
    flex-direction: column;
    color: $kGrayscale1;

    .kHeader {
      height: 78px;
      width: 100%;
      padding: 0 24px;
      box-sizing: border-box;
      border-bottom: 1px solid $kGrayscale4;
      flex: 0 0 auto;
      display: flex;
      align-items: center;

      .kTitle {
        color: #333333;
        font-size: 15px;
        font-weight: 700;
      }

      .kButtons {
        display: flex;
        margin-left: auto;

        .kCancel {
          font-size: 15px;
          color: #333333;
          align-self: center;
          margin-right: 24px;
        }

        .kButtonDefault {
          font-weight: normal;
        }
      }
    }

    .kContainer {
      flex: 1 1 auto;
      padding: 28px;
      height: calc(100vh - 213px);
      overflow-y: auto;

      .kRow {
        display: flex;
        padding-top: 20px;

        &.kFirstRow {
          padding-top: 0;
        }

        .kLabel {
          width: 172px;
          flex: 0 0 auto;
          height: 18px;
          color: $kGrayscale1;
          font-size: 15px;
          line-height: 18px;
          padding: 8px 4px;
        }

        .kReadonlyData {
          padding: 8px 0;
          font-size: 15px;

          .kIconinactive {
            color: $kGrayscale3;
            margin-right: 8px;
            position: relative;
            top: 1px;
          }
        }

        .kControl {
          height: 34px;
          color: $kGrayscale2;
          width: 500px;
          border-radius: 3px;

          &.kDateControl {
            width: 176px;
          }

          &.kControlInvalid {
            border: 1px solid $kDandger;
          }

          &.kMetadataControl {
            padding: 0 10px;
          }
        }
        .KTextArea {
          height: 75px;
          padding: 10px;
        }
      }

      .kFormHeader {
        margin-top: 32px;
        margin-bottom: 24px;
      }

      .kFlavor {

        .kFlavorInfo {
          color: $kGrayscale1;
          margin-bottom: 14px;

          .kFlavorName {
            font-weight: bold;
          }

          .kFlavorIcon {
            font-size: 24px;
            color: $kGrayscale3;
            margin-right: 20px;
            position: relative;
            top: 5px;
          }

        }

        .kFlavorMetadata {
          color: $kGrayscale2;
          font-size: 14px;

          .kFlavorMetadataDelimiter {
            margin: 0 10px;

            &:after {
              content: '|';
              font-size: 12px;
              color: $kGrayscale4;
              top: -1px;
              position: relative;
            }
          }

          .kFlavorMissingMetadata {
            color: $kDandger;

            .kFlavorMissingIcon {
              font-size: 24px;
              margin-right: 20px;
              position: relative;
              top: 5px;
            }
          }
        }
      }
    }
  }
}

:host /deep/ .kEditDistributionProfileWrap {
  p-checkbox {
    padding: 6px 0;
    .ui-chkbox-label {
      font-size: 15px;
      font-weight: normal;
    }
  }

  .kDateControl .ui-inputtext {
    width: 176px;
  }

  .ui-inputtext:disabled {
    border-color: $kGrayscale2;
    color: $kGrayscale2;
  }
}
