<div class="kEditDistributionProfileWrap">
  <div class="kFloater">
    <div class="kHeader">
      <span class="kTitle"></span>
      <div class="kButtons">
        <a class="kCancel" (click)="parentPopup.close()">
          {{'applications.content.entryDetails.distribution.cancel' | translate}}
        </a>
        <button type="button"
                class="kButtonBranded"
                [disabled]="true"
                pButton
                [label]="_addButtonLabel"></button>
      </div>
    </div>
    <div class="kContainer">
      <h1>IT WORKS</h1>
    </div>
  </div>
</div>
