<div class="kEditDistributionProfileWrap">
  <div class="kFloater">
    <div class="kHeader">
      <div class="kTitle">
        <img [src]="undistributedProfile?.providerType | kEntriesDistributionProviderTypeIcon"
             [alt]="undistributedProfile?.name">
        <div class="kTitleNames">
          <span class="kTitleProfileName">{{_profileName}}</span>
          <span *ngIf="!_forDistribution" class="kTitleDistributionName">{{_distributionName}}</span>
        </div>
      </div>
      <div class="kButtons">
        <a class="kCancel" (click)="parentPopup.close()">
          {{'applications.content.entryDetails.distribution.cancel' | translate}}
        </a>
        <button type="button"
                class="kButtonBranded"
                [disabled]="true"
                pButton
                [label]="_addButtonLabel"></button>
      </div>
    </div>
    <div class="kContainer">
      <form>
        <div class="kRow kFirstRow">
          <span class="kLabel">{{'applications.content.entryDetails.distribution.form.status' | translate}}</span>
          <span class="kReadonlyData" *ngIf="_forDistribution">
            <i class="kIconinactive"></i>
            {{'applications.content.entryDetails.distribution.status.notDistributed' | translate}}
          </span>
        </div>

        <div class="kRow">
          <span class="kLabel">{{'applications.content.entryDetails.distribution.form.updates' | translate}}</span>
          <p-checkbox [label]="'applications.content.entryDetails.distribution.form.updateAutomatically' | translate"
                      binary="true"></p-checkbox>
        </div>

        <div *ngIf="!_forDistribution">
          <div class="kRow">
            <span class="kLabel">{{'applications.content.entryDetails.distribution.form.lastUpdate' | translate}}</span>
            <span class="kReadonlyData">
              {{_profile?.updatedAt | kDate:'short'}}
            </span>
          </div>

          <div class="kRow">
            <span class="kLabel">{{'applications.content.entryDetails.distribution.form.remoteId' | translate}}</span>
            <span class="kReadonlyData">
              {{_profile?.remoteId}}
            </span>
          </div>
        </div>

        <div class="kRow">
          <span class="kLabel">{{'applications.content.entryDetails.distribution.form.startDate' | translate}}</span>
          <p-calendar class="kControl kDateControl" [readonlyInput]="true" [showIcon]="true"
                      [monthNavigator]="true" [yearNavigator]="true" icon="kIconcalendar"></p-calendar>
        </div>

        <div class="kRow">
          <span class="kLabel">{{'applications.content.entryDetails.distribution.form.endDate' | translate}}</span>
          <p-calendar class="kControl kDateControl" [readonlyInput]="true" [showIcon]="true"
                      [monthNavigator]="true" [yearNavigator]="true" icon="kIconcalendar"></p-calendar>
        </div>

        <h2 class="kFormHeader">{{'applications.content.entryDetails.distribution.form.metadata' | translate}}</h2>
        <div class="kRow kFirstRow">
          <span class="kLabel">{{'applications.content.entryDetails.distribution.form.name' | translate}}</span>
          <span>
            <input pInputText class="kControl kMetadataControl" [disabled]="true" [value]="entry?.name">
          </span>
        </div>

        <div class="kRow">
          <span class="kLabel">{{'applications.content.entryDetails.distribution.form.updates' | translate}}</span>
          <span>
            <textarea pInputText class="kControl KTextArea" [disabled]="true" [value]="entry?.description"></textarea>
          </span>
        </div>

        <div class="kRow">
          <span class="kLabel">{{'applications.content.entryDetails.distribution.form.tags' | translate}}</span>
          <span class="kControl">
            <kAutoComplete [multiple]="true"></kAutoComplete>
          </span>
        </div>
      </form>

      <h2 class="kFormHeader">{{'applications.content.entryDetails.distribution.form.videoFlavors' | translate}}</h2>
      <div class="kFlavor" *ngFor="let flavor of _requiredFlavors">
        <div class="kFlavorInfo">
          <i class="kIconplayback-file kFlavorIcon"></i>
          <span class="kFlavorName">{{flavor.name}}</span>
        </div>
        <div class="kFlavorMetadata">
          <span *ngIf="flavor.paramsId === undefined" class="kFlavorMissingMetadata">
            <i class="kIconwarning kFlavorMissingIcon"></i>
            {{'applications.content.entryDetails.distribution.form.missingFlavor' | translate}}
          </span>
          <span *ngIf="flavor.paramsId !== undefined">
            <span *ngIf="flavor.format">
              {{'applications.content.entryDetails.distribution.form.format'| translate:[flavor.format]}}
              <span class="kFlavorMetadataDelimiter"></span>
            </span>
            <span *ngIf="flavor.codec">
              {{'applications.content.entryDetails.distribution.form.codec'| translate:[flavor.codec]}}
              <span class="kFlavorMetadataDelimiter"></span>
            </span>
            <span *ngIf="flavor.bitrate">
              {{'applications.content.entryDetails.distribution.form.kbps'| translate:[flavor.bitrate]}}
              <span class="kFlavorMetadataDelimiter"></span>
            </span>
            <span *ngIf="flavor.size">
              {{flavor.size | kFileSize}}
              <span class="kFlavorMetadataDelimiter"></span>
            </span>
            <span *ngIf="flavor.dimensions">
              {{flavor.dimensions}}
            </span>
          </span>
        </div>
      </div>
      <span *ngIf="!_requiredFlavors.length">
        {{'applications.content.entryDetails.distribution.form.notRequired' | translate}}
      </span>

      <h2 class="kFormHeader">{{'applications.content.entryDetails.distribution.form.thumbnail' | translate}}</h2>
      <div class="kThumbnail" *ngFor="let thumbnail of _requiredThumbnails">
        <div class="kThumbnailHolder">
          <img *ngIf="thumbnail.entryThumbnail" [src]="thumbnail.entryThumbnail.url">
        </div>
        <div class="kThumbnailInfo">
          <div class="kThumbnailDimensions">{{thumbnail.width}}x{{thumbnail.height}}</div>
          <div class="kThumbnailMetadata">
            <span *ngIf="thumbnail.entryThumbnail">
              {{thumbnail.entryThumbnail.size | kFileSize}}
              <span class="kThumbnailMetadataDelimiter"></span>
              {{thumbnail.entryThumbnail.id}}
            </span>
            <span *ngIf="!thumbnail.entryThumbnail" class="kThumbnailMissingMetadata">
              <i class="kIconwarning kThumbnailMissingIcon"></i>
              {{'applications.content.entryDetails.distribution.form.missingThumbnail' | translate}}
           </span>
          </div>
        </div>
      </div>
      <span *ngIf="!_requiredThumbnails.length">
        {{'applications.content.entryDetails.distribution.form.notRequired' | translate}}
      </span>
    </div>
  </div>
</div>
