@import 'app-theme/_variables.scss';

.whatsNew{
    position: relative;
    text-align: center;
    height: 644px;
    width: 644px;
    border-radius: 4px;
    .kHeader{
        position: absolute;
        margin-top: 38px;
        width: 100%;
        .kTitle{
            color: $kGrayscale2;
            text-align: center;
            font-size: 28px;
            font-weight: 700;
            display: inline-block;
        }
    }
    .kWelcomeContent{
        width: 100%;
        font-size: 19px;
        line-height: 24px;
        text-align: center;
        position: absolute;
        margin-top: 86px;
        color: $kGrayscale3;
        span{
            width: 500px;
            display: inline-block;
        }
        .enjoy{
            font-weight: 700;
        }
    }
    .kFooter{
        position: absolute;
        margin-top: 236px;
        width: 100%;
        button{
            width: 180px;
            height: 48px;
            font-size: 16px;
            font-weight: bold;
        }
    }
}

.kMenuCover {
    display: none;
}

:host {
  width: 100%;
  height: 100%;
}
