@import 'app-theme/_variables.scss';

.getStarted {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 456px;
    .kFooter {
        height: 72px;
        position: absolute;
        bottom: 0px;
        width: 686px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .kUnmuteBtn {
        position: absolute;
        top: 8px;
        left: 8px;
        background: rgba(0,0,0,0.5);
        &:hover {
            background: rgba(0,0,0,0.3);
        }
    }
}

.kMenuCover {
    display: none;
}
button ::ng-deep .kMute {
    width: 20px;
    height: 14px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOCAYAAAAvxDzwAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADKSURBVHgBpZSBDcIgEEUPwwCOgBt0BN3AUdygsIEb4CZ2A0ewTuAI+M98EkJiJfCTH+jleDkoh8gfpZQcfIcfMiIA9vCcCkmPCtCbnCvdBkTemVvKziCdT8zxrUAL66IjvBTxxRhzku1CIoYVeYHfMwZnc0IGaGXSphfsi8I9HKx0CgVkmGcoaGwnY0r1vLtCnpmHA0Pfim2RkM9Of9LawDwIt8n1OjidTNW1efLaRO0SJjdfm1/buVTgOAQkVHv4lkZbbwPc9Dh8ANps39xJmnwYAAAAAElFTkSuQmCC');
}
:host {
  width: 100%;
  height: 100%;
}
