<kLoader [loading]="_loading" [loadingError]="_loadingError" (onActionRequested)="_onLoadingAction($event)">
	<div class="kScheduling">
		<button (click)="_handler.validate()">validate</button>
		<p class="kTitle">{{'applications.content.entryDetails.scheduling.scheduling' | translate}}</p>
		<form [formGroup]="_handler.schedulingForm" novalidate>
			<div class="kBlock">
				<p-radioButton name="scheduling" value="anytime" formControlName="scheduling" label="{{'applications.content.entryDetails.scheduling.anytime' | translate}}"></p-radioButton>
			</div>
			<div class="kBlock">
				<p-radioButton name="scheduling" value="scheduled" formControlName="scheduling" label="{{'applications.content.entryDetails.scheduling.range' | translate}}"></p-radioButton>
				<div class="kNote" [class.kDisabled]="_handler.schedulingForm.get('scheduling').value === 'anytime'">{{_handler._timeZone}}</div>
				<div class="kSchedulingDetails" [class.kDisabled]="_handler.schedulingForm.get('scheduling').value === 'anytime'">
					<div class="kRow">
						<span class="kLabels">{{'applications.content.entryDetails.scheduling.start' | translate}}</span>
						<div>
							<p-calendar formControlName="startDate" icon="kIconcalendar" [readonlyInput]="true" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2005:2030" showTime="true"></p-calendar>
							<div class="error" *ngIf="_handler.schedulingForm.errors?.noStartDate">{{'applications.content.entryDetails.scheduling.noStartDate' | translate}}</div>

						</div>
					</div>
					<div class="kRow">
						<div class="kLabels">
							<p-checkbox formControlName="enableEndDate" label="{{'applications.content.entryDetails.scheduling.end' | translate}}" binary="true"></p-checkbox>
						</div>
						<div>
							<p-calendar formControlName="endDate" icon="kIconcalendar" [readonlyInput]="true" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2005:2030" showTime="true"></p-calendar>
							<div class="error" *ngIf="_handler.schedulingForm.errors?.endDateBeforeStartDate">{{'applications.content.entryDetails.scheduling.endDateBefore' | translate}}</div>
							<div class="error" *ngIf="_handler.schedulingForm.errors?.noEndDate">{{'applications.content.entryDetails.scheduling.noEndDate' | translate}}</div>
							<p>
								<a [class.kDisabled]="_handler.schedulingForm.get('scheduling').value === 'anytime'" (click)="_handler._clearDates()">{{'applications.content.entryDetails.scheduling.clear' | translate}}</a>
							</p>
						</div>

					</div>
				</div>
			</div>
		</form>

		<p>{{_handler.schedulingForm.errors | json}}</p>
	</div>
</kLoader>
