<div class="kTranscodingProfilesTable" [class.noResults]="!_profiles?.length">
  <p-dataTable
    #dataTable
    [value]="_profiles"
    (selectionChange)="_onSelectionChange($event)"
    [(selection)]="selectedProfiles"
    [emptyMessage]="_emptyMessage"
    scrollable="true"
    scrollHeight="100%"
    dataKey="id"
    [rowTrackBy]="rowTrackBy">
    <p-column [style]="{'width':'44px', 'padding-left': '14px'}" selectionMode="multiple"></p-column>
    <p-column field="name" [header]="'applications.settings.transcoding.table.name' | translate">
      <ng-template let-col let-profile="rowData" pTemplate="body">
        <div class="kTranscodingProfileNameWrapper">
          <div class="kTranscodingProfileName kTableColumn"
               [kTooltip]="profile[col.field]"
               (click)="_onActionSelected('edit',profile)">
            {{profile[col.field]}}
          </div>
          <span *ngIf="profile?.isDefault" class="kTranscodingProfileNameDefault">
            {{'applications.settings.transcoding.table.default' | translate}}
          </span>
        </div>
      </ng-template>
    </p-column>
    <p-column field="description"
              [header]="'applications.settings.transcoding.table.description' | translate">
      <ng-template let-col let-profile="rowData" pTemplate="body">
        <span class="kTableColumn" [kTooltip]="profile[col.field]" [maxWidth]="300">
          {{profile[col.field]}}
        </span>
      </ng-template>
    </p-column>
    <p-column field="id" [style]="{'width':'90px'}"
              [header]="'applications.settings.transcoding.table.id' | translate"></p-column>
    <p-column field="flavors" [style]="{'width':'110px'}"
              [header]="'applications.settings.transcoding.table.flavors' | translate">
      <ng-template let-col let-profile="rowData" pTemplate="body">
        {{profile[col.field]}}
        {{'applications.settings.transcoding.table.flavors' | translate}}
      </ng-template>
    </p-column>
    <p-column header="" [style]="{'overflow':'visible', 'width':'80px'}">
      <ng-template let-col let-profile="rowData" pTemplate="body">
        <div class="kTranscodingProfilesTableActions">
          <button class="kMoreActionsButton" type="button" pButton icon="kIconmore"
                  (click)="_openActionsMenu($event, profile)"></button>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>
  <p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
</div>
