<div class="kTranscodingProfilesTable" [ngClass]="{'noResults' :!_profiles?.length, 'kSingleTableMode': singleTableMode}">
    <p-table
        #dataTable
        scrollHeight="100%"
        dataKey="id"
        [value]="_profiles"
        (selectionChange)="_onSelectionChange($event)"
        [(selection)]="selectedProfiles"
        [scrollable]="true"
        [rowTrackBy]="rowTrackBy">
        <ng-template pTemplate="header">
            <tr>
                <th [ngStyle]="{'width':'44px', 'padding-left': '14px'}">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                    {{'applications.settings.transcoding.table.name' | translate}}
                </th>
                <th>
                    {{'applications.settings.transcoding.table.description' | translate}}
                </th>
                <th [ngStyle]="{'width':'90px'}">
                    {{'applications.settings.transcoding.table.id' | translate}}
                </th>
                <th [ngStyle]="{'width':'110px'}">
                    {{'applications.settings.transcoding.table.flavors' | translate}}
                </th>
                <th [ngStyle]="{'overflow':'visible', 'width':'80px'}"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-profile>
            <tr [pSelectableRow]="profile">
                <td [ngStyle]="{'width':'44px', 'padding-left': '14px'}">
                    <p-tableCheckbox [value]="profile"></p-tableCheckbox>
                </td>
                <td>
                    <div class="kTranscodingProfileNameWrapper">
                        <div class="kTranscodingProfileName kTableColumn"
                             [kTooltip]="profile.name"
                             (click)="_onActionSelected('edit', profile)">
                            {{profile.name}}
                        </div>
                        <span *ngIf="profile?.isDefault" class="kTranscodingProfileNameDefault">
                            {{'applications.settings.transcoding.table.default' | translate}}
                        </span>
                    </div>
                </td>
                <td>
                    <span class="kTableColumn" [kTooltip]="profile.description" [maxWidth]="300">
                        {{profile.description}}
                    </span>
                </td>
                <td [ngStyle]="{'width':'90px'}">{{profile.id}}</td>
                <td [ngStyle]="{'width':'110px'}">
                    {{'applications.settings.transcoding.profile.flavors' | translate:[profile.flavors || 0]}}
                </td>
                <td [ngStyle]="{'overflow':'visible', 'width':'80px'}">
                    <div class="kTranscodingProfilesTableActions">
                        <button class="kMoreActionsButton" type="button" pButton icon="kIconmore"
                                (click)="_openActionsMenu($event, profile)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <div class="emptymessage">{{_emptyMessage}}</div>
        </ng-template>
    </p-table>
    <p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
</div>
