@import 'app-theme/_variables.scss';


.kDocumentsTable {
  background-color: white;
  height: auto;
  padding: 0;
    width: 100%;
    .emptymessage {
        display: table-row;
        border: 0;
        height: 200px;

        .kEmptyMessage {
            position: absolute;
            width: 100%;
            height: 200px;
            border-bottom: 1px solid $kGrayscale4;
        }
    }

  .kDocumentsTableActions {
    width: 100%;
    text-align: center;
  }
  .kTitle{
    color: $kGrayscale1;
    font-weight: 700;
    cursor: pointer;
    overflow: hidden;
    max-height: 45px;
    &:hover{
      color: #000000;
    }
  }

  .kDocumentsNameWrap {
    display: flex;
    align-items: center;
  }
    .kThumbnailHolder {
        overflow: hidden;
        position: relative;
        width: 80px;
        height: 46px;
        background-color: $kGrayscale6;
        white-space: nowrap;
        text-align: center;
        border-radius: 3px;
        cursor: pointer;
        margin-left: 4px;
        &.error{
            border: 1px solid $kGrayscale4;
            i{
                opacity: 1;
            }
        }
        img {
            position: absolute;
            left: -100%;
            right: -100%;
            top: -100%;
            bottom: -100%;
            margin: auto;
            width: 80px;
            height: auto;
            border-radius: 3px;
        }
    }
}

:host {
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	flex-direction: column;
}

:host ::ng-deep p-table .p-datatable-scrollable-body{
  margin-bottom: 34px;
}
:host ::ng-deep p-table .stickyHeader{
  z-index: 10;
  display: table;
}
:host ::ng-deep p-table {
    .p-datatable .p-datatable-thead > tr > th {
        border-left: 1px solid $kGrayscale6;
    }
}
