@import 'app-theme/_variables.scss';

.kRestoreForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    line-height: 19px;

    h1 {
        margin: 40px 0;
        font-size: 24px;
        font-weight: bold;
        line-height: 29px;
        text-align: center;
    }

    h2 {
        color: #333333;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 40px;
    }

    p {
        text-align: center;
        margin-top: 0;
        margin-bottom: 40px;
        color: $kGrayscale2
    }

    .kErrorMessage {
        margin-top: -16px;
        margin-bottom: 40px;
        color: $kDandger;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
    }

    div {
        width: 100%;
        align-self: center;
        text-align: center;

        input {
            width: 100%;
            height: 48px;
            padding: 14px 16px;
            margin-bottom: 40px;
            color: $kGrayscale3;
            font-size: 16px;
            border-radius: 4px;

            &:placeholder-shown {
                background-color: $kGrayscale6;
            }

            &.has-error {
                border: 2px solid $kDandger;
            }

            &.has-success:focus {
                border: 2px solid $kPrimary;
            }
        }
    }

    .kRedirectTo {
        margin-top: -16px;
        margin-bottom: 0;

        .kUnderlined {
            text-decoration: underline;
            color: $kGrayscale2;
        }
    }

    .kButtonDefault {
        width: 160px;
        height: 48px;
        background-color: $kPrimary;
        color: white;
        font-weight: normal;
        font-size: 16px;
    }

}
