<div [formGroup]="form" *ngIf="_isReady">
    <!-- Entries table -->
    <div class="kMultiple">
        <div class="kRow kTableHeader">
            <div *ngIf="_selectedEntries.length">
                <span>{{_selectedEntries.length}} {{'applications.content.entryDetails.metadata.selected' | translate}}</span>
                <button pButton icon="kIcontrash" class="kButtonDanger kBulkDeleteBtn"></button>
                <button pButton icon="kIcondropdown_arrow_bottom" class="kButtonDefault"></button>
                <button pButton icon="kIcondropdown_arrow_top" class="kButtonDefault"></button>
                <a class="kDelete" (click)="_selectedEntries=[]">{{'applications.content.entryDetails.metadata.cancel' | translate}}</a>
            </div>
            <button *ngIf="!_selectedEntries.length" pButton class="kButtonDefault" (click)="_entries.push('Entry '+(_entries.length+1))" label="{{'applications.content.entryDetails.metadata.addEntry' | translate}}"></button>
        </div>
        <div>
            <p-dataTable [value]="_entries" [(selection)]="_selectedEntries">
                <p-column [style]="{'width':'44px', 'padding-left': '14px'}" selectionMode="multiple"></p-column>
                <p-column header="{{'applications.content.entryDetails.metadata.thumbnail' | translate}}">
                    <template let-col let-entry="rowData" pTemplate="body">
                        <div class="kThumbnailHolder"><span class="kHelper"></span><img src="" onError="this.onerror=null;this.style.display='none'"></div>
                    </template>
                </p-column>
                <p-column header="{{'applications.content.entryDetails.metadata.entryName' | translate}}">
                    <template let-col let-entry="rowData" pTemplate="body">
                        <span>{{entry}}</span>
                    </template>
                </p-column>
                <p-column header="{{'applications.content.entryDetails.metadata.entryID' | translate}}">
                    <template let-col let-entry="rowData" pTemplate="body">
                        <span>Entry ID</span>
                    </template>
                </p-column>
                <p-column [style]="{'width':'60px'}">
                    <template let-col let-entry="rowData" pTemplate="body">
                        <button pButton class="kButtonDefault kDeletehBtn small" type="text" icon="kIcontrash" (click)="_selectedEntries=[];_entries.splice(_entries.indexOf(entry), 1)"></button>
                    </template>
                </p-column>
            </p-dataTable>
        </div>
    </div>

</div>