<div class="kUploadSettings">
  <div class="kHeader">
    <h1>Upload Settings</h1>
  </div>
  <div class="kContent">
    <div class="kProfile">
      <span>Transconding profile</span>
      <p-dropdown class="kTranscodingProfile" kDropdownCloseOnScroll [options]="[]" [appendTo]="'body'" [autoWidth]="false" placeholder="Default">
      </p-dropdown>
    </div>

    <div class="kAddFile">
      <button type="button" class="kButtonDefault kAddFileButton" pButton label="Add file"></button>
    </div>

    <div class="kTable">
      <p-dataTable [value]="[]" scrollable="true" scrollHeight="100%">
        <p-column field="filename" header="File name">
        </p-column>
        <p-column field="mediatype" header="Media Type">
        </p-column>
        <p-column field="size" header="Size">
        </p-column>
      </p-dataTable>
    </div>
  </div>
  <div class="kFooter">
    <button class="kButtonDefault kUploadButton"
            pButton
            label="Upload"></button>
  </div>
</div>
