  <div class="kFeedsTable" [class.noResults]="!_feeds?.length">

    <p-table
            [scrollable]="true"
            scrollHeight="100%"
            [value]="_feeds"
            dataKey="id"
            [rowTrackBy]="rowTrackBy"
            [sortField]="sortField"
            [sortOrder]="sortOrder"
            [defaultSortOrder]="_defaultSortOrder"
            [resizableColumns]="true"
            (sortFunction)="_onSortChanged($event)" [customSort]="true"
            [(selection)]="selectedFeeds"
            (selectionChange)="_onSelectionChange($event)"
            (onColResize)="_columnsResizeManager.onColumnResize($event)"
            kStickyHeader [sticksTo]="'feedsListFilters'" stickyClass="stickyHeader" [stickyId]="'feedsTable'">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col [ngStyle]="{'width': '44px', 'padding-left': '14px'}">
                <col [ngStyle]="{'width': '44px'}">
                <col [ngStyle]="{'width': _columnsConfig.name}">
                <col [ngStyle]="{'width': _columnsConfig.feedId}">
                <col [ngStyle]="{'width': _columnsConfig.type}">
                <col [ngStyle]="{'width': _columnsConfig.playlistId}">
                <col>
                <col [ngStyle]="{'width': '80px'}">
            </colgroup>
        </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th [ngStyle]="{'width': '44px', 'padding-left': '14px'}">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th [ngStyle]="{'width': '44px'}">
          </th>
          <th id="name" [ngStyle]="{'width': _columnsConfig.name}" pResizableColumn [pSortableColumn]="'name'">
            {{'applications.content.syndication.table.columns.name' | translate}}
            <p-sortIcon [field]="'name'"></p-sortIcon>
          </th>
          <th id="feedId" [ngStyle]="{'width': _columnsConfig.feedId}" pResizableColumn>
            {{'applications.content.syndication.table.columns.id' | translate}}
          </th>
          <th id="type" [ngStyle]="{'width': _columnsConfig.type}" pResizableColumn [pSortableColumn]="'type'">
            {{'applications.content.syndication.table.columns.destination' | translate}}
            <p-sortIcon [field]="'type'"></p-sortIcon>
          </th>
          <th id="playlistId" [ngStyle]="{'width': _columnsConfig.playlistId}" pResizableColumn [pSortableColumn]="'playlistId'">
            {{'applications.content.syndication.table.columns.source' | translate}}
            <p-sortIcon [field]="'playlistId'"></p-sortIcon>
          </th>
          <th id="feedUrl" [pSortableColumn]="'feedUrl'">
            {{'applications.content.syndication.table.columns.url' | translate}}
            <p-sortIcon [field]="'feedUrl'"></p-sortIcon>
          </th>
          <th [ngStyle]="{'width': '80px'}"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-feed>
        <tr [pSelectableRow]="feed">

          <td [ngStyle]="{'width': '44px', 'padding-left': '14px'}">
            <p-tableCheckbox [value]="feed"></p-tableCheckbox>
          </td>

          <td [ngStyle]="{'width': '44px'}" class="ui-resizable-column">
            <div class="kColFeedIcon">
              <i class="kIconfeed"></i>
            </div>
          </td>

          <td [ngStyle]="{'width': _columnsConfig.name}" class="ui-resizable-column">
            <div class="ui-resizable-column kColName kElipsis" [kTooltip]="feed.name" (click)="_editFeed(feed)">
              {{feed.name}}
            </div>
          </td>

          <td [ngStyle]="{'width': _columnsConfig.feedId}" class="ui-resizable-column">
            <div class="kColId" [kTooltip]="feed.id">
                <span class="kTableColumn" [kTooltip]="feed.id" [showOnEllipsis]="true">{{feed.id}}</span>
            </div>
          </td>

          <td [ngStyle]="{'width': _columnsConfig.type}" class="ui-resizable-column">
            <div class="kColDestination">
              <div class="kColDestinationIcon" [ngClass]="feed.type | kDestinationIcon"></div>
              <div class="kColDestinationText">{{feed.type | kDestinationLabel}}</div>
            </div>
          </td>

          <td [ngStyle]="{'width': _columnsConfig.playlistId}" class="ui-resizable-column">
            <div class="kColSource">
              <span [ngClass]="feed.playlistId | kToPlaylistIcon: _idToPlaylistMap" class="kPlaylistIcon"></span>
              <span class="kElipsis" [kTooltip]="feed.playlistId | kToPlaylistName: _idToPlaylistMap" [showOnEllipsis]="true">
                {{feed.playlistId | kToPlaylistName: _idToPlaylistMap}}
              </span>
            </div>
          </td>

          <td class="ui-resizable-column">
            <div class="kColUrl">
              <kCopyToClipboard class="kIcon" [text]="feed.feedUrl" [iconSwitchTimeout]="5000"
                                [tooltips]="_copyToClipboardTooltips"></kCopyToClipboard>
              <input readonly="true" class="kElipsis kUrl" type="text" [value]="feed.feedUrl" pInputText=""
                     [kTooltip]="feed.feedUrl" [showOnEllipsis]="true"/>
            </div>
          </td>

          <td [ngStyle]="{'width': '80px'}">
            <div class="kColActions">
              <button type="button" pButton icon="kIconmore" class="kMoreActionsButton" (click)="_openActionsMenu($event, feed)"></button>
            </div>
          </td>

        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <div class="emptymessage">
            <div class="kEmptyMessage">{{_emptyMessage}}</div>
        </div>
      </ng-template>
    </p-table>

    <p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
  </div>
