@import 'app-theme/_variables.scss';

%kDestinationIcon {
  width: 64px;
  height: 32px;
  background-position-x: 0;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAACgCAMAAACL85puAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAwBQTFRFLi4uejvJuLi4m42tbT2aZU2IZmZmhFqp7PL+9GZZ84R696iljKa09TQndHR0vKXQi2WzVlZW/fb0+tzbMWB6/rcE70Iz1+Hn5eXmtp3M+cvJs8v8lbj6epmqRwSai1fMucXLtI3nsqXGmWjYR3OL/cpYZ4eZS3mSWoKZkqm2dEWfxNf8SIX3+fr6cD6d/eWjzb3cTyl++baV4z0rAQEBw8zRy9TZporC/tnF/Pz9/vjnNgN4/duM9fT1qrW7+cSW99KaxtXd+cqn5Ons+/mJWyqV+qqV/ebGprnD8+7su8jQ9opc///yFxcX8vT2/vv6+11L9HhzlXO0ycnJ/evqy9rhNGWA9rR499a90t3jVXmO+qyG7O/xQm2FVo74+rmp5Whar8jW7+LDOW6Lq8HNO2uFUHyVNWiE6uPV829lcJGjPHWUsb3D4lpL7Orsjc2e/uzh3aWHO3CO/eXiz9jd9rqFU4Oe6ezty9LW6XZsNmuI7/HzZ46j3zwq0NXZvdDa+/z82d/i9Pb48vf5+vv76erqw8/XbDyX/f39NXv/+Pf8/Pv+q47FM3f52czj9fL58ev48/b+x7XY5/Xo4dfq4tP16+H57u7ukGuxfn5+o6OjIpxCN3r45t3unn27y+jVLqBMPn72rpfH7DUpWxK409PTcU6hc6L4kJCQwazV2ub9z8Tcra2te06kR0dHTAGnUgusmpqa4+z9a0Gh08Xh7efyocH83d3d/vDNWxuqZyS4g1K+ha363NHn+b25/dNtt5ne18Tvh4eHiGqu7k5Ee1unXJL4PQCKy7Pp0N/87ltQ6OPv1Lv09pqVkXiy/Nd99I6F/L0putH92NTfqIHZ/f7++8M9hXKh/LcSwbfQZpr60c/UeWWXw6Pqq6W0nHvB5+3waLx+xaLz7qym5r2u/PDQ1Lysmq+6+Pj331tM/rvAnrXB3+bp4t3R/Pv6fqK37+fRh6Gv2Wlg1MKc28Sh68Ot4s+56uCk8sS2/NGt9uno6W1f531w+XFh6dvK////RZFE6QAAAQB0Uk5T////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////AFP3ByUAAAzGSURBVHja7JkLWFPXHcCviEHExAAJCIR3CgFJBIlSxLiqo/YFUdHbgkLXoVDB2pZZXVHrY2hvEiMPeUmBDQLyfijyVvBBfaCIL9Bqbe22b7rVtWWvrnXb2f+cm2ACPgC3ffv6cb6P3HPPPf/f+T/PSS4UespGjQN+EIBzx86wPfWtCunIZDQaQy/7vJpSBNRnkZtbLtcYxJhMYTQaMpCWlZVukMm66tre7uqeTW48S45T6GaIK56V1haQg1JdPbEow59AJsAV4Gfa2/n8BleyjMKz9fOqc+eqTra644mu9Vngg2su56F/NcQD5rq4kHkNdewKB+qy0OcuxQqE1n9afwvMbHepImT0mYs7XCa0qQFQEDBBjbLqJ6Ug1N4a4EkE69MI4OO6bA+XIGIYMwlMLXY5ZjDl07rzSN3mSqIw8bQ7ag+5CfbVB11rTcWAEj2gviC0le2iqhBPdah+HN+e9kRprcUEcDegxD3kU2yGy7mq07cIQE1mnaz/JMRVL5EW0FYVMmEwFOcC2tTZrVUEwHiE1IVMBwvbDiBpwIRgvPLVY9DcG0o8TnvqJaShJR6DNHBnaEl2Vmgjm0jMpJCJCLvwE7AHu/Fjl6Bi3BpKHAYBKaElxUMAZxoYfSZOdDkOmPbTV93dPbHEgRLpMBNSQ9tuGpmQ1tqmPnYSGQOyXA7gVQPAa0ZODDD47fhp11cCSrINgON17ehzDz2AIQDPkCv4xgNiYhTGz+rcWYn2+kxYyN0A8ISMOFll0OAC5NK5+gCSwOEBbalGicRcq3dP1wRne7rAcqmTSs6z8sfqLjBovWIQAFlR0eDBPpvYcPxCA5vKFxoKEPrk4wN8/oGTRL2ca62ex7Ozz7iGBklR1q/VDzQ4Y6gjErEh5ZezY7rC0L8SxOfzTxY3Yxe7GExgrnicG8UWYFjqymeK8T1xHDAO+A8CGLaNGZCZq2+FFQVjAuw1l5mbw59MJqspTh0TwPzDD7G4OXzmNo4FAPI106YF+UJHVqj/7qBRa0ajgcwCfHgYE8wPY+nDQXwLfpA/OR/990DbS04Whz2GVoFnTcO9TFYDi50wskcGKgTBcb9MRtwiy82E0SBfmcx3Gv4KVAh2+vouw5+5+N4Cnsj89Rpg72VgwDKUaQFXc+wZWQ2sHIRHAZBaiId9D/ubk1kA4OOl/Y00cMBTC1OJvC+fuMSi0QBQs/L+KGM4AGsAJ0GjBX6UMY1diDlag2+LWUDFoPzDAFiDo5kZeGVYklyKYUIFFrFIJZ5xGJR/uAaQAb6s0UcLsOq+R2EC6cmOYsCHJEC+GQg9QgPsNPxhkYkOQ8+8BudTmgWZQAD4qcwBoUdrUEPWyNWgvUTXggeAYpmej/HokT4o8PdlF8GKm8tw4mTiEV9igjmfPCUEAsB5oBkSBbISeB8P43QiUTU4sSJDZtDBn3QgbwpqTPNAnUsE0jKIDRmp/sSHDoY8wDEhOhwl3tqzN8OCdIwykRBlheplxOgavKSMnzqYiRW+rA7BFqxTsLPNTTOxgiAzGvlEXRxbi4IHqQwEokOBv4zEDR7zLWQYgIuD1IIGV4vMNzMN1w/uFTYaFxMQ8KhFZkYN+zgoDdbypxqnQcsg1Z+Guw5Q0JkOhbmFDkfJPnkYD5IAsl0Hf9RYUZi7rBgnW1pFAfWErzHjJ9P/BnBXOSqvDwMo//lPG4RGfDiSeYwJYMlWS5uHqMCYfjxGA8vAQMvlT+ED5e/ttgZafv8UgLfstgLhZ2MG2AAgkCWwDmIeUxHMcBdRyvtYg8DAt2wfW0zMo/Pg2W5QIHCrnaXt0OkjCgRkouOSwK3YiiW2RqEecWnjVMYEMMLu/ZG9wTDVidSCoyUQttrdX48Gc5LR68KgwXvmoWaxxWS7BEJhd//FBwYwQ9RnHluNNla/+RNosPbFsZazzZTvbSy3shqMNo4AULz79+dff93qfbuffG80cxQA5cuzep5/2VF5/x82Q5xIrk9y4t13X1u5cOWsi7NWPm/70Cx4khOVrz77o9dmLZy18uXfotsL5oTjwT773feCUfi2bdsWIbRoQWQKftGyInI7/m0/Z84m+8gNczYsMgDuvrcYAN+999d3XkRucRtfwIOzJd7r0LYt0bGxktUoUix5CcZ2b5TshsvqOC+3hLgosVjivEIPeG7xwsULv3v1d3Bzb0tiwi64OifHrVodHS9OiEumv9zpLXCG7yMDyfRUhHYmJE79IIpOToqlBd5vsIB5/3oOdHgnB1u5WpA4G5SW0C+ESwQJ9qvuOdPRm+YDDt2TCAQJ4WiOd7zboqj4O5H2bhsFiRswQPrcm39Z3Ps31iD7qCRY5o019KIv6bjbMLBdQt9ZlCx+Cb2UJBB470bzE6Ptd3gnucGjHWI6AbxCfTXzmz+3zA1nPZ3iEx91DznTztu9BGKfqVN97ogFXikSwQAaiPfyir+DBmKdlT8XJ67D07+mo0GMSvn2j70/JfHGg9vE9O5VUcnbUBQtoJOSYmMF8RuRT7Ik3GvNNjd6IMcreTW6KU6cj+feiRWAw6jt3745d+dgVH/hLPB5QbBxB/KiJevWrauev9ttNvogMdqHjtoZSUcNRMfZo9l6gHM80eCrH3+DBhXAboyOjvdJQVNpcbiBuikqnqYT0O0tdDztnILAhDkwukIscJbiVH7FZBuxl9CCJIjwbW+BZAXaPtt7y2Yk9UkWiOejvjvJArAArfCmpy5Y4CMWJN4bcrhiJfoG4gVfbyLeEKyJ804iwbCnaQmM7famJfaQZt70mjXR8XTcAuYBgBm0wS0udh0xaYOzQBAfPXVVMEKbvWjIJbQqIXmgD6EPJGJxdLTEZxMz/HiHob7Nu7azN8GLIiM3s2epdBMuB7RzOnb3V+HhinCFNHj8K87/JyCHeSpAs7W19GkAzZTc+qlM4MjlEU8DUISF5Y3ViX3VHOvyiINmeRzrgzljAChAebk8jArDF6p01IBgntyohZkRe0YDKDWWl2N5hkdVN+9nW/kTI0uVG8vX4qHNlJxnZtDoicpQlDGAR8YiynOaebxauZzDO8GMDsAh77XL92NL8uRhEJODvGoY4Jmhap6ZGce6GoAp1dbWJ+CRorwWrqYmUPholVJEk4PysOmIqYX8VOABnjwMx6kaXASWyWsVUmts4nQqwsSJHHDaTlMAhyXuBwPzwgBnBrHeRcnzpsvlebsipJTCxAa59fqhGgwCwKEcOYX/Tpyg5JxdYXKqPAcSycQGea10uAYpLIBiAdYGd4E+cqqZQjkmKkQM80Et6wMAbAZALYZElJaWNsP+cRBMglqoNpLfj0x9AL6T86zlxhpAinCq88oV0yEsYXIOrsYT2P+1WBHOXeMoyCEmpWG4TkBhnt4HfcwJUjWlEWzYSDm7capzUF8EL48kbrBZHi6p5rxqnIalvP3NzXkRqDTPTIoi8swgEUrLrU+YKRRmPE7e5jFtqsz4wTIO+OEC1JUzZlSqxwxIbzpVpNUWnWpKH4nIvi++2GcCYCpPqVT5fn75KlVM5Qhqcd+vPvqlCaDST1UkOjt58llR0alDI9FgCEB9Q+U3g705OxL5YRo4afNnjMptQwBMmaps6BqOPRet9K8zWub1zmthu4eaRE7ph85O1gMcrXoclQCY7KdyIlLpbNOg5Ut1XC7XzgoGlb3XhULh9U78o9rJT6VSnYrJdyIAdtJSG0QdKtISCybfiCHtso0lV7f0YjdXZ4WYTqGwv7NfKOxkkFO+6pSoTKvVEoByLdduysUu7lKGOuTHAg75qeCpVtVkpdN14FcKOrvlLULhPCXSzBMKW0DRMsgSp3wW0KHrAhutdNwOKj1G1URycQa0y2DPWu4UfL/cTtfRK+zH7wqV/cLey9oiHCLwGAEs5fbYWFnqdN0dFDqiihnM4cl++We7uVakb8m16hR2km6n8Jkm/SwRC7DUWXZxdWs7lBDGs/lakQEAsNRubg/uKrsx4Bky/Iyw00nll87OIIC1XF3XRVt9Jh5R5Ysmk5IQgYXoIrcLvx3s0OlsZwqv4xC2XBfOrCzSOrGeIoAerh0Wd3TEgPQyKAKR02VRjFZ1RINs7biWHbY9dtylGpt+4aWZLTMvCfttYJmipsoZMfooLO/SrXV07NHpHCmycpGKtCIRtvMPdlwuBBm/pWy5JMTtUgu7jFaVD4rs+wjywLGLTJpiw+4HlaIbfjE3RPpatL3Y3WVphZMHze3tv9TfO5f8+82pLKZsBkRB+vbb+1Df8h7L7qUdRjuSWm30slBpM3jD2CjZa6UGaRA6pbqsf6ej/6k60i1NcyRf1IcTqejQGPfEJq22TFSWrxKNdVPVNGFP5x9Rj31Xrmw6Ijo7fjL9NwD/FmAAGqGAPNNYH1QAAAAASUVORK5CYII=');
  text-indent: -9999px;
}

.kFeedsTable {
  background-color: white;
  height: auto;
  padding: 0px;
  width: 100%;

    .emptymessage {
        display: table-row;
        border: 0;
        height: 200px;

        .kEmptyMessage {
            position: absolute;
            width: 100%;
            height: 200px;
            border-bottom: 1px solid $kGrayscale4;
        }
    }

  ::ng-deep {
    .kElipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
    }

    .kColFeedIcon {
      .kIconfeed {
        font-size: 24px;
      }
    }

    .kColName {
      cursor: pointer;
      font-weight: bold;
      color: $kGrayscale1;
      max-width: 100%;
    }

    .kColDestination {
      .kColDestinationIcon {

        &.kIconYahoo {
          @extend %kDestinationIcon;
          background-position-y: 0;
        }

        &.kIconGoogle {
          @extend %kDestinationIcon;
          background-position-y: 32px;
        }

        &.kIconITunes {
          @extend %kDestinationIcon;
          background-position-y: 64px;
        }

        &.kIconOpera {
          @extend %kDestinationIcon;
          background-position-y: 96px;
        }

        &.kIconRoku {
          @extend %kDestinationIcon;
          background-position-y: 128px;
        }
      }

      .kColDestinationText {
      }
    }

    .kColSource {
      display: flex;
      line-height: 18px;
      align-items: center;
      .kPlaylistIcon {
        flex: 0 0 auto;
        font-size: 18px;
        vertical-align: top;
      }
      .kIconPlaylist_RuleBased, .kIconPlaylist_Manual {
        padding-right: 5px;
      }
      .kElipsis {
        flex: 1 1 auto;
      }
    }

    .kColUrl {
      line-height: 18px;
      display: flex;
      align-items: center;
      .kIcon {
        flex: 0 0 auto;
        vertical-align: middle;
        color: $kGrayscale3;
        height: 24px;
        width: 24px;
        display: inline-block;
      }
      .kUrl {
        border: none;
        color: $kGrayscale3;
        flex: 1 1 auto;
        &:hover {
          cursor: text;
        }
      }
    }
  }
}

:host {
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  flex-direction: column;
}

:host ::ng-deep p-table .ui-table-scrollable-body {
  margin-bottom: 34px;
}

:host ::ng-deep p-table .stickyHeader {
  z-index: 10;
  display: table;
}
:host ::ng-deep p-table {
    .ui-table .ui-table-thead > tr > th {
        border-left: 1px solid $kGrayscale6;
    }
}
