@import 'app-theme/_variables.scss';

%kDestinationIcon {
  width: 64px;
  height: 32px;
  background-position-x: 0;
  background: url('../../styles/assets/destination_sprite.png');
  text-indent: -9999px;
}

.kFeedsTable {
  background-color: white;
  height: auto;
  padding: 0px;
  width: 100%;

    .emptymessage {
        display: table-row;
        border: 0;
        height: 200px;

        .kEmptyMessage {
            position: absolute;
            width: 100%;
            height: 200px;
            border-bottom: 1px solid $kGrayscale4;
        }
    }

  /deep/ {
    .kElipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
    }

    .kColFeedIcon {
      .kIconfeed {
        font-size: 24px;
      }
    }

    .kColName {
      cursor: pointer;
      font-weight: bold;
      color: $kGrayscale1;
      max-width: 100%;
    }

    .kColDestination {
      .kColDestinationIcon {

        &.kIconYahoo {
          @extend %kDestinationIcon;
          background-position-y: 0;
        }

        &.kIconGoogle {
          @extend %kDestinationIcon;
          background-position-y: 32px;
        }

        &.kIconITunes {
          @extend %kDestinationIcon;
          background-position-y: 64px;
        }

        &.kIconOpera {
          @extend %kDestinationIcon;
          background-position-y: 96px;
        }

        &.kIconRoku {
          @extend %kDestinationIcon;
          background-position-y: 128px;
        }
      }

      .kColDestinationText {
      }
    }

    .kColSource {
      display: flex;
      line-height: 18px;
      align-items: center;
      .kPlaylistIcon {
        flex: 0 0 auto;
        font-size: 18px;
        vertical-align: top;
      }
      .kIconPlaylist_RuleBased, .kIconPlaylist_Manual {
        padding-right: 5px;
      }
      .kElipsis {
        flex: 1 1 auto;
      }
    }

    .kColUrl {
      line-height: 18px;
      display: flex;
      align-items: center;
      .kIcon {
        flex: 0 0 auto;
        vertical-align: middle;
        color: $kGrayscale3;
        height: 24px;
        width: 24px;
        display: inline-block;
      }
      .kUrl {
        border: none;
        color: $kGrayscale3;
        flex: 1 1 auto;
        &:hover {
          cursor: text;
        }
      }
    }
  }
}

:host {
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  flex-direction: column;
}

:host /deep/ p-table .ui-table-scrollable-body {
  margin-bottom: 34px;
}

:host /deep/ p-table .stickyHeader {
  z-index: 10;
  display: table;
}
:host /deep/ p-table {
    .ui-table .ui-table-thead > tr > th {
        border-left: 1px solid $kGrayscale6;
    }
}
