  <div class="kFeedsTable" [class.noResults]="!_feeds?.length">

    <p-table
            [scrollable]="true"
            scrollHeight="100%"
            [value]="_feeds"
            dataKey="id"
            [rowTrackBy]="rowTrackBy"
            [sortField]="sortField"
            [sortOrder]="sortOrder"
            [defaultSortOrder]="_defaultSortOrder"
            [resizableColumns]="true"
            (sortFunction)="_onSortChanged($event)" [customSort]="true"
            [(selection)]="selectedFeeds"
            (selectionChange)="_onSelectionChange($event)"
            kStickyHeader [sticksTo]="'feedsListFilters'" stickyClass="stickyHeader" [stickyId]="'feedsTable'">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col style="width:44px; padding-left: 14px">
                <col style="width:44px">
                <col>
                <col style="width:110px">
                <col style="width:130px">
                <col style="width: 150px">
                <col>
                <col style="width: 80px">
            </colgroup>
        </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width:44px; padding-left: 14px">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pResizableColumn>
          </th>
          <th pResizableColumn [pSortableColumn]="'name'">
            {{'applications.content.syndication.table.columns.name' | translate}}
            <p-sortIcon [field]="'name'"></p-sortIcon>
          </th>
          <th pResizableColumn>
            {{'applications.content.syndication.table.columns.id' | translate}}
          </th>
          <th pResizableColumn [pSortableColumn]="'type'">
            {{'applications.content.syndication.table.columns.destination' | translate}}
            <p-sortIcon [field]="'type'"></p-sortIcon>
          </th>
          <th pResizableColumn [pSortableColumn]="'playlistId'">
            {{'applications.content.syndication.table.columns.source' | translate}}
            <p-sortIcon [field]="'playlistId'"></p-sortIcon>
          </th>
          <th pResizableColumn [pSortableColumn]="'feedUrl'">
            {{'applications.content.syndication.table.columns.url' | translate}}
            <p-sortIcon [field]="'feedUrl'"></p-sortIcon>
          </th>
          <th style="width: 80px"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-feed>
        <tr [pSelectableRow]="feed">

          <td style="width:44px; padding-left: 14px">
            <p-tableCheckbox [value]="feed"></p-tableCheckbox>
          </td>

          <td class="ui-resizable-column">
            <div class="kColFeedIcon">
              <i class="kIconfeed"></i>
            </div>
          </td>

          <td class="ui-resizable-column">
            <div class="ui-resizable-column kColName kElipsis" [kTooltip]="feed.name" (click)="_editFeed(feed)">
              {{feed.name}}
            </div>
          </td>

          <td class="ui-resizable-column">
            <div class="kColId" [kTooltip]="feed.id">
              {{feed.id}}
            </div>
          </td>

          <td class="ui-resizable-column">
            <div class="kColDestination">
              <div class="kColDestinationIcon" [ngClass]="feed.type | kDestinationIcon"></div>
              <div class="kColDestinationText">{{feed.type | kDestinationLabel}}</div>
            </div>
          </td>

          <td class="ui-resizable-column">
            <div class="kColSource">
              <span [ngClass]="feed.playlistId | kToPlaylistIcon: _idToPlaylistMap" class="kPlaylistIcon"></span>
              <span class="kElipsis" [kTooltip]="feed.playlistId | kToPlaylistName: _idToPlaylistMap">
              {{feed.playlistId | kToPlaylistName: _idToPlaylistMap}}
            </span>
            </div>
          </td>

          <td class="ui-resizable-column">
            <div class="kColUrl">
              <kCopyToClipboard class="kIcon" [text]="feed.feedUrl" [iconSwitchTimeout]="5000"
                                [tooltips]="_copyToClipboardTooltips"></kCopyToClipboard>
              <input readonly="true" class="kElipsis kUrl" type="text" [value]="feed.feedUrl" pInputText=""
                     [kTooltip]="feed.feedUrl"/>
            </div>
          </td>

          <td style="overflow: visible; width: 80px">
            <div class="kColActions">
              <button type="button" pButton icon="kIconmore" class="kMoreActionsButton" (click)="_openActionsMenu($event, feed)"></button>
            </div>
          </td>

        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <div class="emptymessage">
            <div class="kEmptyMessage">{{_emptyMessage}}</div>
        </div>
      </ng-template>
    </p-table>

    <p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
  </div>
