<k-area-blocker [showLoader]="(_feedsService.feeds.state$ | async)?.loading || this._deferredLoading"
                [message]="_blockerMessage" [bodyScroll]="true">
  <div class="kFeedsTable" [class.noResults]="!_feeds?.length">
    <p-dataTable [value]="_feeds" [sortField]="filter.sortBy"
                 [sortOrder]="filter.sortDirection | kPrimeTableSortDirection"
                 scrollable="true" scrollHeight="100%" dataKey="id" [rowTrackBy]="rowTrackBy"
                 (selectionChange)="_onSelectionChange($event)"
                 (onSort)="_onSortChanged($event)" [(selection)]="selectedFeeds" emptyMessage="{{_emptyMessage}}"
                 kStickyHeader [sticksTo]="'feedsListFilters'" stickyClass="stickyHeader" [stickyId]="'feedsTable'">
      <!--Selection-->
      <p-column [style]="{'width':'44px', 'padding-left': '14px'}" selectionMode="multiple"></p-column>
      <p-column header="" [style]="{'overflow':'visible', 'width':'44px'}">
        <ng-template let-col let-feed="rowData" pTemplate="body">
          <div class="kColFeedIcon">
            <i class="kIconfeed"></i>
          </div>
        </ng-template>
      </p-column>
      <!--Name-->
      <p-column field="name" [header]="'applications.content.syndication.table.columns.name' | translate"
                [sortable]="'custom'"
                [style]="{'width':'300px'}">
        <ng-template let-col let-feed="rowData" pTemplate="body">
          <div class="kColName" [kTooltip]="feed[col.field]" [maxWidth]="300" (click)="onEditFeed.emit(feed)">
            {{feed[col.field]}}
          </div>
        </ng-template>
      </p-column>
      <!--ID-->
      <p-column field="id" [header]="'applications.content.syndication.table.columns.id' | translate"
                [style]="{'width':'110px'}">
        <ng-template let-col let-feed="rowData" pTemplate="body">
          <div class="kColId" [kTooltip]="feed[col.field]" [maxWidth]="300">
            {{feed[col.field]}}
          </div>
        </ng-template>
      </p-column>
      <!--Destination-->
      <p-column field="type" [header]="'applications.content.syndication.table.columns.destination' | translate"
                [sortable]="'custom'"
                [style]="{'width':'130px'}">
        <ng-template let-col let-feed="rowData" pTemplate="body">
          <div class="kColDestination">
            <div class="kColDestinationIcon" [ngClass]="feed[col.field] | kDestinationIcon"></div>
            <div class="kColDestinationText" [ngClass]="feed[col.field] | kDestinationLabel"></div>
          </div>
        </ng-template>
      </p-column>
      <!--Source-->
      <p-column field="playlistId" [header]="'applications.content.syndication.table.columns.source' | translate"
                [sortable]="'custom'"
                [style]="{'width':'150px'}">
        <ng-template let-col let-feed="rowData" pTemplate="body">
          <div class="kColSource">
            <span [ngClass]="feed[col.field] | kToPlaylistIcon: _idToPlaylistMap" class="kPlaylistIcon"></span>
            <span class="kElipsis" [kTooltip]="feed[col.field] | kToPlaylistName: _idToPlaylistMap" [maxWidth]="300">
              {{feed[col.field] | kToPlaylistName: _idToPlaylistMap}}
            </span>
          </div>
        </ng-template>
      </p-column>
      <!--URL-->
      <p-column field="feedUrl" [header]="'applications.content.syndication.table.columns.url' | translate"
                [sortable]="'custom'">
        <ng-template let-col let-feed="rowData" pTemplate="body">
          <div class="kColUrl">
            <kCopyToClipboard class="kIcon" [text]="feed[col.field]" [iconSwitchTimeout]="5000"
                              [tooltips]="_copyToClipboardTooltips"></kCopyToClipboard>
            <input readonly="true" class="kElipsis kUrl" type="text" [value]="feed[col.field]" pInputText=""
                   [kTooltip]="feed[col.field]" [maxWidth]="300"/>
          </div>
        </ng-template>
      </p-column>
      <!--Actions-->
      <p-column header="" [style]="{'overflow':'visible', 'width':'60px'}">
        <ng-template let-col let-feed="rowData" pTemplate="body">
          <div class="kColActions">
            <button type="button" pButton icon="kIconmore" (click)="_openActionsMenu($event, feed)"></button>
          </div>
        </ng-template>
      </p-column>
    </p-dataTable>
    <p-menu #actionsmenu popup="popup" [model]="_items" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>
  </div>
</k-area-blocker>
