@import 'app-theme/_variables.scss';

.kRelated{
	position: relative;
	height: 100%;
	button{
		margin-left: 24px;
	}
	.kTitle{
		color: $kGrayscale1;
		font-size: 20px;
		font-weight: 700;
		padding-left: 24px;
	}
	.kTable{
		margin-top: 24px;
	}
	.kRelatedTableActions {
		width: 100%;
		text-align: center;
	}
	.kUploadMonitor{
		display: flex;
		flex-direction: column;
		align-items: center;
		a{
			margin-top: 8px;
		}
	}
	.kError{
		color: $kDandger;
	}
}

:host ::ng-deep .p-dropdown{
    min-width: 120px;
	width: 120px;
}


:host ::ng-deep .p-datatable-scrollable-body{
	overflow: visible;
}

:host ::ng-deep .kFileName {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  color: $kGrayscale3;
}
