@import 'app-theme/_variables.scss';

.kThumbnail {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  .kThumbnailWrapper {
    position: relative;

    .kThumbnailSpinner {
      height: 34px;
      width: 42px;
      border-radius: 5px;
      position: absolute;
      top: -5px;
      right: -5px;
      color: $kGrayscale1;
      z-index: 99999;
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;

      &:focus {
        outline: none;
      }

      .kIconrefresh {
        font-size: 24px;
        font-weight: 500;
      }
    }
    .kThumbnailHolder {
      overflow: hidden;
      position: relative;
      width: 116px;
      height: 65px;
      background-color: $kGrayscale7;
      white-space: nowrap;
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
      &.disable {
        cursor: auto;
      }
      img {
        position: absolute;
        left: -100%;
        right: -100%;
        top: -100%;
        bottom: -100%;
        margin: auto;
        width: 116px;
        height: auto;
        border-radius: 5px;
      }
    }
  }

  .kThumbnailInfo {
    margin-left: 16px;

    .kThumbnailDimensions {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .kThumbnailMetadata {
      font-size: 14px;
      .kThumbnailMissingMetadata {
        color: $kDandger;

        .kThumbnailMissingIcon {
          font-size: 20px;
          margin-right: 8px;
          position: relative;
          top: 3px;
          left: -1px;
          padding: 1px;
        }
      }

      .kThumbnailMetadataDelimiter {
        margin: 0 10px;

        &:after {
          content: '|';
          font-size: 12px;
          color: $kGrayscale4;
          top: -1px;
          position: relative;
        }
      }

    }
  }
}
