<k-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage" [bodyScroll]="true">
  <div class="kCategories kOverrideFAIcons">
    <div class="kContent kNotification kSeparator" *ngIf="_categoriesLocked">
      <span>{{'applications.content.categories.categoriesLockMsg' | translate}}</span>
    </div>
    <div #categoriesTableHolder class="kCategoriesHolder kContent" [class.kLocked]="_categoriesLocked">
      <kSticky stickyId="categoriesListFilters" [scrollOffset]="80"
               [sticksTo]="'header'">
        <div class="kCategoriesTableFilters kContent">
          <button pButton type="button" label="{{'applications.content.categories.addCategory' | translate}}"
                  class="kButtonBranded kAddCategoryBtn" [class.kHidden]="_selectedCategories?.length"
                  [disabled]="_kmcPermissions.CONTENT_MANAGE_EDIT_CATEGORIES | kDisabledIfNotPermitted"
                  (click)="addCategory()"></button>
          <span class="kSelectedCategoriesNum" *ngIf="_categoriesTotalCount">
             {{'applications.content.categories.categories' | translate: {'0': _categoriesTotalCount} }}
            </span>
          <div [class.kHidden]="!_selectedCategories?.length" class="kBulkOperations">
            <span class="kSelectedCategoriesLabel">• {{_selectedCategories?.length}} {{'applications.content.categories.selected' | translate}}</span>
            <kCategoriesBulkActions [selectedCategories]="_selectedCategories"
                                    (onBulkChange)="onBulkChange($event)"></kCategoriesBulkActions>
            <a class="kBulkCancel" (click)="_clearSelection()">{{'applications.content.categories.cancel' |
              translate}}</a>
          </div>
          <div [class.kHidden]="_selectedCategories?.length" class="kFilters">
            <input type="text"
                   pInputText class="kSearchInput"
                   [(ngModel)]="_query.freetext"
                   (keyup.enter)="onFreetextChanged()"
                   placeholder="{{'applications.content.categories.search' | translate}}">
            <div #categoriesFilterBtn class="kCategoriesFilter kDropdown">
              <i class="kIconfolder" *ngIf="!_categoriesUpdating"></i>
              <div *ngIf="_categoriesUpdating" class="k-spinner-background kSpinnerBkg" kTooltip="{{'applications.content.categories.categoriesUpdateMsg' | translate}}">
                <div class="k-spinner-animation kSpinnerAnim"></div>
              </div>
              <span>{{'applications.content.categories.filterCategories' | translate}}</span><i
              class="kIcondropdown_arrow_bottom dropdown"></i>
            </div>
            <div #refineBtn class="kRefine kDropdown">
              <i class="kIconfilter"></i>
              <span>{{'applications.content.categories.refine' | translate}}</span>
              <i class="kIcondropdown_arrow_bottom dropdown"></i>
            </div>
          </div>
          <button pButton class="kButtonDefault kExportBtn" (click)="_export()" type="text"
                  [label]="'applications.content.entryDetails.distribution.export' | translate"></button>
          <button pButton class="kButtonDefault kRefreshBtn small" (click)="_reload()" type="text" icon="kIconrefresh"
                  [kTooltip]="'applications.content.categories.refresh' | translate"></button>
        </div>
      </kSticky>
      <kSticky #tags [stickyClass]="'kStickyClass'" stickyId="categoriesTags" [sticksTo]="'categoriesListFilters'">
        <div class="kContent">
          <kCategoriesListTags
                  [refineFilters]="_refineFilters"
            (onTagsChange)="onTagsChange()"></kCategoriesListTags>
        </div>
      </kSticky>

      <k-area-blocker [showLoader]="_tableIsBusy"
                      [message]="_tableBlockerMessage"
                      [bodyScroll]="true">
      <kCategoriesTable class="kCategoriesTable"
                        [categories]="(_categoriesService.categories.data$ | async)?.items"
                        [sortField]="_query.sortBy"
                        [sortOrder]="_query.sortDirection"
                        (sortChanged)="_onSortChanged($event)"
                        (actionSelected)="_onActionSelected($event)"
                        [(selectedCategories)]="_selectedCategories">
      </kCategoriesTable>
      </k-area-blocker>
      <div class="kCategoriesTableFooter kContent" #footer *ngIf="_categoriesTotalCount">
        <p-paginator [rows]="_query.pageSize" (onPageChange)="_onPaginationChanged($event)"
                     [first]="_query.pageIndex * _query.pageSize"
                     [totalRecords]="_categoriesTotalCount"
                     [rowsPerPageOptions]="[25,50,100,250]"></p-paginator>
        <span class="kPaginatorShowRowsLabel">{{'applications.content.paginator.showRows' | translate}}</span>
      </div>
    </div>
  </div>
</k-area-blocker>

<kPopupWidget #categoriesFilterPopup
              data-aid="categoriesFilterPopup"
              [popupWidth]="400"
              [popupHeight]="500"
              placement="top"
              [closeBtn]="false"
              [targetRef]="categoriesFilterBtn"
              [targetOffset]="{'x':-10, 'y': -21}"
              kSticky [sticksTo]="'header'" [stickyClass]="'kForceFix'" [stickyId]="'categoriesFilterPopup'" [scrollOffset]="80" >
  <ng-template>
    <kCategoriesFilter  [parentPopupWidget]="categoriesFilterPopup" [selection]="_query.categories"
                        [selectionMode]="_query.categoriesMode"
                        (onCategorySelected)="onCategorySelected($event)"
                        (onCategoriesUnselected)="onCategoriesUnselected($event)"
                        (selectionModeChange)="onCategoriesModeChanged($event)"></kCategoriesFilter>
  </ng-template>
</kPopupWidget>

<kPopupWidget #addNewCategory data-aid="addNewCategory" [popupWidth]="600" [popupHeight]="658" [modal]="true" [preventPageScroll]="true">
  <ng-template>
    <kNewCategory (onApply)="onCategoryAdded($event)" [parentPopupWidget]="addNewCategory" [linkedEntries]="_linkedEntries"></kNewCategory>
  </ng-template>
</kPopupWidget>


<kPopupWidget #moveCategory data-aid="moveCategory" [popupWidth]="600" [popupHeight]="600" [modal]="true" [preventPageScroll]="true">
  <ng-template>
    <kMoveCategory [parentPopupWidget]="moveCategory" [selectedCategories]="[_selectedCategoryToMove]" ></kMoveCategory>
  </ng-template>
</kPopupWidget>


<kPopupWidget #refinePopup
              data-aid="categoriesRefinePopup"
              [popupWidth]="400"
              [popupHeight]="500"
              placement="top"
              [closeBtn]="false"
              [targetRef]="refineBtn"
              [targetOffset]="{'x':-200, 'y': -15}"
              kSticky [sticksTo]="'header'" [stickyClass]="'kForceFix'" [stickyId]="'refinePopup'" [scrollOffset]="80">
  <ng-template>
    <kCategoriesRefineFilters   [refineFilters]="_refineFilters" [parentPopupWidget]="refinePopup"></kCategoriesRefineFilters>
  </ng-template>
</kPopupWidget>
