<div class="kBulkActions">
  <button pButton icon="kIcontrash" class="kButtonDanger kBulkDeleteBtn"></button>
  <button class="kButtonDefault kBulkActionsBtn" icon="kIcondropdown_arrow_bottom" iconPos="right" pButton label="{{'applications.content.entries.bulkActions' | translate}}" (click)="menu.toggle($event)"></button>
</div>

<p-tieredMenu #menu [model]="_bulkActionsMenu" [popup]="true" [styleClass]="menu" class="kOverrideFAIcons"></p-tieredMenu>


<kPopupWidget #schedulingPopup [popupWidth]="500" [popupHeight]="500" [modal]="true">
  <ng-template>
    <kBulkScheduling [parentPopupWidget]="schedulingPopup"></kBulkScheduling>
  </ng-template>
</kPopupWidget>
