<div class="kBulkActions">
  <button pButton icon="kIcontrash" class="kButtonDanger kBulkDeleteBtn"></button>
  <button class="kButtonDefault kBulkActionsBtn" icon="kIcondropdown_arrow_bottom" iconPos="right" pButton label="{{'applications.content.entries.bulkActions' | translate}}" (click)="menu.toggle($event)"></button>
</div>

<p-tieredMenu #menu [model]="_bulkActionsMenu" [popup]="true" [styleClass]="menu" class="kOverrideFAIcons"></p-tieredMenu>


<kPopupWidget #schedulingPopup [popupWidth]="500" [popupHeight]="500" [modal]="true">
  <ng-template>
    <kBulkScheduling [parentPopupWidget]="schedulingPopup" (schedulingChanged)="onSchedulingChanged($event)"></kBulkScheduling>
  </ng-template>
</kPopupWidget>

<kPopupWidget #addTagsPopup [popupWidth]="500" [popupHeight]="500" [modal]="true">
  <ng-template>
    <kBulkAddTags [parentPopupWidget]="addTagsPopup" (addTagsChanged)="onAddTagsChanged($event)"></kBulkAddTags>
  </ng-template>
</kPopupWidget>


<kPopupWidget #removeTagsPopup [popupWidth]="500" [popupHeight]="500" [modal]="true">
  <ng-template>
    <kBulkRemoveTags [selectedEntries]="selectedEntries" [parentPopupWidget]="removeTagsPopup" (removeTagsChanged)="onRemoveTagsChanged($event)"></kBulkRemoveTags>
  </ng-template>
</kPopupWidget>

<kPopupWidget #addCategoriesPopup [popupWidth]="560" [popupHeight]="586" [closeBtn]="true" [modal]="true">
  <ng-template>
    <kCategoriesSelector [parentPopupWidget]="addCategoriesPopup" (valueChange)="onAddToCategoriesChanged($event)" [buttonLabel]="'applications.content.bulkActions.apply' | translate"></kCategoriesSelector>
  </ng-template>
</kPopupWidget>
