<k-area-blocker [message]="_blockerMessage">
  <div class="kEditProfile">
    <div class="kFloater">
      <div class="kHeader">
        <span class="kTitle">{{'applications.settings.authentication.edit.titleEdit' | translate}}</span>
        <div class="kButtons">
          <a class="kCancel" (click)="parentPopupWidget.close()">
            {{'applications.administration.role.cancel' | translate}}
          </a>
          <button pButton class="kButtonBranded kSaveBtn"
                  [label]="'applications.administration.role.save' | translate"
                  [disabled]="_saveDisabled"
                  (click)="_performAction()"></button>
        </div>
      </div>
      <div class="kContainer" #scrollableContainer>
          <div class="doc">
              <span>{{'applications.settings.authentication.new.doc' | translate}}</span>
              <span class="link" (click)="openHelp()">{{'applications.settings.authentication.new.docLink' | translate}}</span>
          </div>

        <form class="kProfileForm" [formGroup]="_editProfileForm" novalidate>

          <div class="kRow">
            <span class="kLabel required">{{'applications.settings.authentication.name' | translate}}</span>
            <div class="kRequired" [class.kHasError]="_nameField.invalid && _nameField.touched">*</div>
            <div>
              <input class="kControl" pInputText [formControl]="_nameField" [maxlength]="255" [class.kHasError]="_nameField.invalid && _nameField.touched">
              <div *ngIf="_nameField.hasError('required') && _nameField.touched" class="kError">
                {{'applications.administration.role.errors.required' | translate}}
              </div>
            </div>
          </div>

          <div class="kRow">
              <span class="kLabel">{{'applications.administration.role.description' | translate}}</span>
              <textarea class="kControl" [maxlength]="512" pInputTextarea [formControl]="_descriptionField"></textArea>
          </div>

            <div class="kRow divider">
                <span class="kLabel">{{'applications.settings.authentication.new.provider' | translate}}</span>
                <p-dropdown class="kControl" [formControl]="_providerField" appendTo="body" [options]="_providerTypes"></p-dropdown>
            </div>

            <span class="kSubTitle">{{'applications.settings.authentication.edit.sps' | translate}}</span>

            <div class="kRow" [class.kUpdating]="metadataLoading">
                <span class="gap">{{'applications.settings.authentication.edit.metadata' | translate}}</span>
                <span class="link" (click)="downloadMetadata('url')">{{'applications.settings.authentication.edit.metadata1' | translate}}</span>
                <span>{{'applications.settings.authentication.edit.metadata2' | translate}}</span>
                <span class="link" (click)="downloadMetadata('file')">{{'applications.settings.authentication.edit.metadata3' | translate}}</span>
                <div *ngIf="metadataLoading" class="k-spinner-animation kSpinnerAnim"></div>
                <span *ngIf="metadataLoading">{{'applications.settings.authentication.edit.metadataUpdate' | translate}}</span>
            </div>

            <div class="kRow center">
                <div class="labelWithHelpTip">
                    <span class="kLabel">{{'applications.settings.authentication.edit.ssoUrl' | translate}}</span>
                    <kInputHelper [trigger]="'click'">
                        <span>{{'applications.settings.authentication.edit.ssoUrl_tt' | translate}}</span>
                    </kInputHelper>
                </div>
                <span>{{_ssoUrl}}</span>
                <kCopyToClipboard class="kIcon" [text]="_ssoUrl" [iconSwitchTimeout]="5000"></kCopyToClipboard>
            </div>

            <div class="kRow required">
                <div class="labelWithHelpTip required">
                    <span class="kLabel">{{'applications.settings.authentication.edit.entity' | translate}}</span>
                    <kInputHelper [trigger]="'click'">
                        <span>{{'applications.settings.authentication.edit.entity_tt' | translate}}</span>
                    </kInputHelper>
                </div>
                <div class="kRequired" [class.kHasError]="_entityField.invalid && _entityField.touched">*</div>
                <div>
                    <input class="kControl" pInputText [formControl]="_entityField" [maxlength]="255" [class.kHasError]="_entityField.invalid && _entityField.touched">
                    <div *ngIf="_entityField.hasError('required') && _entityField.touched" class="kError">
                        {{'applications.administration.role.errors.required' | translate}}
                    </div>
                </div>
            </div>

            <div class="kRow center">
                <div class="labelWithHelpTip">
                    <span class="kLabel">{{'applications.settings.authentication.edit.sign' | translate}}</span>
                    <kInputHelper [trigger]="'click'">
                        <span>{{'applications.settings.authentication.edit.sign_tt' | translate}}</span>
                    </kInputHelper>
                </div>
                <div><p-checkbox [formControl]="_enableRequestSignField" binary="true" [label]="'applications.settings.authentication.edit.enable' | translate" (onChange)="generateKeys()"></p-checkbox></div>
            </div>

            <div class="kRow">
                <span class="kLabel">{{'applications.settings.authentication.edit.signCert' | translate}}</span>
                <textarea class="kControl" [disabled]="true" pInputTextarea>{{certificate}}</textArea>
            </div>

            <div class="kRow center">
                <div class="labelWithHelpTip">
                    <span class="kLabel">{{'applications.settings.authentication.edit.encryption' | translate}}</span>
                    <kInputHelper [trigger]="'click'">
                        <span>{{'applications.settings.authentication.edit.encryption_tt' | translate}}</span>
                    </kInputHelper>
                </div>
                <div><p-checkbox [formControl]="_enableAssertsDecryptionField" binary="true" [label]="'applications.settings.authentication.edit.enable' | translate" (onChange)="generateKeys()"></p-checkbox></div>
            </div>

            <div class="kRow">
                <span class="kLabel">{{'applications.settings.authentication.edit.encryptionKey' | translate}}</span>
                <textarea class="kControl" [disabled]="true" pInputTextarea>{{encryptionKey}}</textArea>
            </div>

            <div class="kRow center">
                <span class="kSubTitle">{{'applications.settings.authentication.edit.idp' | translate}}</span>
                <kInputHelper [trigger]="'click'">
                    <span>{{'applications.settings.authentication.edit.idp_tt' | translate}}</span>
                </kInputHelper>
            </div>

            <div class="kRow required">
                <div class="labelWithHelpTip required">
                    <span class="kLabel">{{'applications.settings.authentication.edit.login' | translate}}</span>
                    <kInputHelper [trigger]="'click'" [width]="400">
                        <span>{{'applications.settings.authentication.edit.login_tt' | translate}}</span>
                    </kInputHelper>
                </div>
                <div class="kRequired">*</div>
                <div>
                    <input class="kControl" pInputText [formControl]="_loginUrlField" [maxlength]="255">
                </div>
            </div>

            <div class="kRow">
                <div class="labelWithHelpTip">
                    <span class="kLabel">{{'applications.settings.authentication.edit.logout' | translate}}</span>
                    <kInputHelper [trigger]="'click'" [width]="400">
                        <span>{{'applications.settings.authentication.edit.logout_tt' | translate}}</span>
                    </kInputHelper>
                </div>
                <div>
                    <input class="kControl" pInputText [formControl]="_logoutUrlField" [maxlength]="255">
                </div>
            </div>

            <div class="kRow required">
                <div class="labelWithHelpTip required">
                    <span class="kLabel">{{'applications.settings.authentication.edit.ipc' | translate}}</span>
                    <kInputHelper [trigger]="'click'">
                        <span>{{'applications.settings.authentication.edit.ipc_tt' | translate}}</span>
                    </kInputHelper>
                </div>
                <div class="kRequired">*</div>
                <div>
                    <textarea class="kControl" pInputTextarea [formControl]="_certField"></textArea>
                </div>
            </div>

            <div class="kRow">
                <span class="kLabel">{{'applications.settings.authentication.edit.metadataUrl' | translate}}</span>
                <input class="kControl" pInputText [formControl]="_metadataUrlField" [maxlength]="255">
            </div>

        </form>
      </div>
    </div>
  </div>
</k-area-blocker>
