@import 'app-theme/_variables.scss';

.kEditProfile {
  width: 100%;

  .kFloater {
    display: flex;
    flex-direction: column;

    .kHeader {
      height: 78px;
      width: 100%;
      padding: 0 24px;
      box-sizing: border-box;
      border-bottom: 1px solid $kGrayscale4;
      flex: 0 0 auto;
      display: flex;
      align-items: center;

      .kTitle {
        color: #333333;
        font-size: 15px;
        font-weight: 700;
      }

      .kButtons {
        display: flex;
        margin-left: auto;

        .kSaveBtn {
          width: 100px;
        }

        .kCancel {
          font-size: 15px;
          color: #333333;
          align-self: center;
          margin-right: 24px;
        }

        .kButtonDefault {
          font-weight: normal;
        }
      }
    }

    .kContainer {
      flex: 1 1 auto;
      overflow-y: auto;
      max-height: calc(100vh - 158px);

      .kProfileForm {
        padding: 0 28px 53px 28px;
      }

      .kRow {
        display: flex;
        padding-top: 24px;

        .kLabel {
          width: 200px;
          flex: 0 0 auto;
          height: 18px;
          color: $kGrayscale1;
          font-size: 15px;
          line-height: 18px;
        }

        .kRequired {
          width: 20px;
          font-size: 24px;
          color: $kGrayscale3;
          &.kHasError {
            color: $kDandger;
            font-weight: bold;
          }
        }
        .kRequired, .kLabel {
          padding: 8px 4px;
          height: 18px;
        }
        .kControl {
          height: 34px;
          width: 500px;
          &.kHasError {
            border: 1px solid $kDandger;
            background: initial;
          }
        }

        textarea.kControl {
          height: 76px;
        }

        .kError {
          color: $kDandger;
          padding-top: 8px;
        }
      }
    }
  }
}
