<k-area-blocker [showLoader]="_widgetService.showSectionLoader"
                [message]="_widgetService.sectionBlockerMessage">
  <div class="">
    <!--TODO: BEN add the summary and bulk actions-->
    <div class="kSelectedNum">
      {{totalSubcategories}}
    </div>
    <kCategorySubcategoriesTable [(selectedSubcategories)]="_selectedSubcategories"
                                 [subcategories]="_subcategories"
                                 (onActionSelected)="_widgetService.onActionSelected($event)">
    </kCategorySubcategoriesTable>
  </div>
</k-area-blocker>

