@import '../fonts/kmcng-icon-pack/style.scss';

.kUseKMCngIcons {
    /*.fa {
        font-family: 'KMCng-icon-pack' !important;
    }*/
    .ui-submenu-icon.fa-fw.fa-caret-right:before{
        font-family: 'KMCng-icon-pack' !important;
        @extend .kIcondropdown_arrow_right:before;
    }
    .ui-tree-toggler.fa-caret-right:before{
        font-family: 'KMCng-icon-pack' !important;
        @extend .kIcontree-arrow-right:before;
    }
    .ui-tree-toggler.fa-caret-down:before{
        font-family: 'KMCng-icon-pack' !important;
        @extend .kIcontree-arrow-down:before;
    }
    .ui-sortable-column-icon.fa-sort-asc:before{
        font-family: 'KMCng-icon-pack' !important;
        @extend .kIcondropdown_arrow_top:before;
    }
    .ui-sortable-column-icon.fa-sort-desc:before{
        font-family: 'KMCng-icon-pack' !important;
        @extend .kIcondropdown_arrow_bottom:before;
    }
}
