<form [formGroup]="_form" novalidate>
  <div class="kRow kTitle">
    {{'applications.content.syndication.details.destinationsForms.itunes.title' | translate}}
  </div>
  <div class="kContentFlavor">

    <!--Content Flavor-->
    <div class="kRow kMultiLine">
      <span class="kLabel">{{'applications.content.syndication.details.destinationsForms.itunes.contentFlavor.label' | translate}}</span>
      <div class="kControlContainer">
        <span class="kControl">
          <p-dropdown class="kControl"
                      [options]="_availableContentFlavors"
                      [formControl]="_contentFlavorField"
                      [autoWidth]="false"
                      [filter]="true">
          </p-dropdown>
        </span>
        <!--Add to default transcoding profile-->
        <div class="kAddToDefaultTranscodingProfile">
          <p-checkbox [formControl]="_addToDefaultTranscodingProfileField"
                      [label]="'applications.content.syndication.details.destinationsForms.itunes.contentFlavor.checkbox' | translate"
                      binary="true"></p-checkbox>
        </div>
      </div>
    </div>

    <!--Landing Page-->
    <div class="kRow">
      <span class="kLabel">{{'applications.content.syndication.details.destinationsForms.itunes.landingPage.label' | translate}}</span>
      <div class="kAsterix" [ngClass]="{'kHasError':_landingPageField.touched && _landingPageField.invalid}">*
      </div>
      <div class="kControlContainer">
        <input class="kControl" [formControl]="_landingPageField" pInputText placeholder="http://"
               [ngClass]="{'kHasError':_landingPageField.touched && _landingPageField.invalid}">
        <div *ngIf="_landingPageField.touched && _landingPageField.hasError('required')" class="error">
          {{'applications.content.syndication.details.destinationsForms.itunes.errors.requiredLandingPage' | translate}}
        </div>
        <div *ngIf="_landingPageField.touched && _landingPageField.hasError('url')" class="error">
          {{'applications.content.syndication.details.destinationsForms.itunes.errors.invalidLandingPage' | translate}}
        </div>
      </div>
    </div>

    <!--Landing Page Explanation-->
    <div class="kLandingPageExplanation">
      {{'applications.content.syndication.details.destinationsForms.itunes.landingPage.explanation' | translate}}
    </div>

    <!--Website-->
    <div class="kRow">
      <span
        class="kLabel">{{'applications.content.syndication.details.destinationsForms.itunes.website' | translate}}</span>
      <div class="kControlContainer">
        <input class="kControl" [formControl]="_websiteField" pInputText placeholder="http://"
               [ngClass]="{'kHasError':_websiteField.touched && _websiteField.invalid}">
        <div *ngIf="_websiteField.touched && _websiteField.invalid" class="error">
          {{'applications.content.syndication.details.destinationsForms.itunes.errors.invalidWebsite' | translate}}
        </div>
      </div>
    </div>

    <!--Feed Description-->
    <div class="kRow kMultiLine">
      <span class="kLabel">{{'applications.content.syndication.details.destinationsForms.itunes.description' | translate}}</span>
      <div class="kControlContainer">
        <span class="kControl">
          <textarea [formControl]="_feedDescriptionField" class="threeRows" [rows]="6" [cols]="60"
                    pInputTextarea></textarea>
        </span>
      </div>
    </div>

    <!--Categories-->
    <div class="kRow">
      <span class="kLabel">{{'applications.content.syndication.details.destinationsForms.itunes.categories.label' | translate}}</span>
      <div class="kAsterix" [ngClass]="{'kHasError':_categoriesField.touched && _categoriesField.invalid}">*</div>
      <div class="kControlContainer">
        <span class="kControl">
          <p-multiSelect class="kCategories"
                         [ngClass]="{'kHasError':_categoriesField.touched && _categoriesField.invalid}"
                         [options]="_availableCategories"
                         [formControl]="_categoriesField" [filter]="false" maxSelectedLabels="2"
                         [selectedItemsLabel]="'applications.content.syndication.details.destinationsForms.itunes.categories.itemsSelected' | translate"
                         [defaultLabel]="'applications.content.syndication.details.destinationsForms.itunes.categories.promptText' | translate"></p-multiSelect>
        </span>
        <div *ngIf="_categoriesField.touched && _categoriesField.invalid" class="error">
          {{'applications.content.syndication.details.destinationsForms.itunes.errors.requiredCategories' | translate}}
        </div>
      </div>
    </div>

    <!--Feed Image URL-->
    <div class="kRow">
      <span class="kLabel">{{'applications.content.syndication.details.destinationsForms.itunes.feedImageUrl.label' | translate}}</span>
      <div class="kControlContainer">
        <input class="kControl" [formControl]="_feedImageUrlField" pInputText>
        <div class="kHint">
          {{'applications.content.syndication.details.destinationsForms.itunes.feedImageUrl.hint' | translate}}
        </div>
      </div>
    </div>

    <!--Feed Owner Name-->
    <div class="kRow">
      <span class="kLabel">{{'applications.content.syndication.details.destinationsForms.itunes.feedOwnerName.label' | translate}}</span>
      <div class="kAsterix" [ngClass]="{'kHasError':_feedOwnerNameField.touched && _feedOwnerNameField.invalid}">*</div>
      <div class="kControlContainer">
        <input class="kControl" [formControl]="_feedOwnerNameField" pInputText
               [ngClass]="{'kHasError':_feedOwnerNameField.touched && _feedOwnerNameField.invalid}">
        <div *ngIf="_feedOwnerNameField.touched && _feedOwnerNameField.invalid" class="error">
          {{'applications.content.syndication.details.destinationsForms.itunes.errors.requiredFeedOwnerName' | translate}}
        </div>
        <div class="kHint">
          {{'applications.content.syndication.details.destinationsForms.itunes.feedOwnerName.hint' | translate}}
        </div>
      </div>
    </div>

    <!--Feed Owner Email-->
    <div class="kRow">
      <span class="kLabel">{{'applications.content.syndication.details.destinationsForms.itunes.feedOwnerEmail.label' | translate}}</span>
      <div class="kAsterix" [ngClass]="{'kHasError':_feedOwnerEmailField.touched && _feedOwnerEmailField.invalid}">*</div>
      <div class="kControlContainer">
        <input class="kControl" [formControl]="_feedOwnerEmailField" pInputText
               [ngClass]="{'kHasError':_feedOwnerEmailField.touched && _feedOwnerEmailField.invalid}">
        <div *ngIf="_feedOwnerEmailField.touched && _feedOwnerEmailField.hasError('required')" class="error">
          {{'applications.content.syndication.details.destinationsForms.itunes.errors.requiredFeedOwnerEmail' | translate}}
        </div>
        <div *ngIf="_feedOwnerEmailField.touched && _feedOwnerEmailField.hasError('email')" class="error">
          {{'applications.content.syndication.details.destinationsForms.itunes.errors.invalidFeedOwnerEmail' | translate}}
        </div>
        <div class="kHint">
          {{'applications.content.syndication.details.destinationsForms.itunes.feedOwnerEmail.hint' | translate}}
        </div>
      </div>
    </div>

    <!--Language-->
    <div class="kRow kMultiLine">
      <span class="kLabel">{{'applications.content.syndication.details.destinationsForms.itunes.language.label' | translate}}</span>
      <div class="kControlContainer">
        <span class="kControl">
          <p-dropdown class="kControl"
                      [options]="_languages"
                      [formControl]="_languageField"
                      [autoWidth]="false">
          </p-dropdown>
        </span>
        <div class="kHint">
          {{'applications.content.syndication.details.destinationsForms.itunes.language.hint' | translate}}
        </div>
      </div>
    </div>

    <!--Adult Content-->
    <div class="kRow kMultiLine">
      <span class="kLabel">
        {{'applications.content.syndication.details.destinationsForms.itunes.adultContent.label' | translate}}
        <kInputHelper icon="kIconhelp_full" class="kHelp">
           <span>{{'applications.content.syndication.details.destinationsForms.itunes.adultContent.hint' | translate}}</span>
        </kInputHelper>
      </span>
      <div class="kControlContainer">
        <span class="kControl">
          <p-dropdown class="kControl"
                      [options]="_adultContentOptions"
                      [formControl]="_adultContentField"
                      [autoWidth]="false">
          </p-dropdown>
        </span>
      </div>
    </div>
  </div>
</form>
