@import 'app-theme/_variables.scss';

.kAccountInformationWrapper {
  height: 100%;
  border: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  .kTitle {
    color: $kGrayscale1;
    font-weight: 700;
    height: 29px;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    .kTitleIcon:before {
      font-size: 32px;
      vertical-align: middle;
      padding-right: 9px;
      color: $kGrayscale3;
    }
  }
  .kAccountInfoContainer{
    margin-top: 22px;
  }

  .kFormContainer {
    background: #FFFFFF;
    margin-top: 24px;

    .kFormSection {
      font-size: 15px;
      padding: 27px 29px;
      width: 615px;

      .kTitle {
        padding-bottom: 20px;
      }
      .kRow {

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 20px;

        .kLabel {
          width: 179px;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          height: 18px;
          color: $kGrayscale1;
          font-size: 15px;
          line-height: 18px;
        }

        .kRequired {
          width: 20px;
          font-size: 24px;
          color: $kGrayscale3;
          &.kHasError {
            color: $kDandger;
            font-weight: bold;
          }
        }
        .kRequired, .kLabel {
          padding: 8px 4px;
          height: 18px;
        }
        .kControl {
          color: $kGrayscale2;
          height: 34px;
          width: 400px;
          border-radius: 3px;
          &.kHasError {
            border: 1px solid $kDandger;
            background: initial;
          }
        }
        textarea.kControl {
          height: 76px;
        }
        .error {
          padding-top: 8px;
        }

        &.kSaveBtnContainer {
          padding-top: 60px;
          .kSaveBtn {
            margin-left: auto;
            width: 125px;
            height: 34px;
            font-weight: 400;
          }
        }

      }
    }
  }
}
