@import '_variables.scss';

$mc-theme-font-path : '~@kaltura-ng/mc-theme/themes/default/fonts';
@import '~@kaltura-ng/mc-theme/themes/default/scss/index.scss';

$spinner-circle-radius: 4px;
$spinner-colors: rgb(218, 31, 38), rgb(6, 168, 133), rgb(0, 147, 68), rgb(248, 166, 26), rgb(27, 74, 151), rgb(0, 171, 204), rgb(177, 210, 56), rgb(252, 210, 3);

@keyframes kaltura-spinner {
  0% {
    transform: rotate(0deg) scale(0.7);
    opacity: 1;
  }
  70% {
    transform: rotate(360deg) scale(0.7);
    opacity: 1;
  }
  82% {
    transform: rotate(360deg) scale(0);
    opacity: 0;
  }
  87% {
    transform: rotate(360deg) scale(0.9);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(0.7);
    opacity: 1;
  }
}

.loading-backdrop {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(255,255,255,0.3);
  .spinner-container {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate3d(-50px, -50px, 0);
  }
}

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  animation: kaltura-spinner 2.5s infinite;

  span {
    width: $spinner-circle-radius * 2; height: $spinner-circle-radius * 2;
    background-color: #fff;
    display: block;
    border-radius: $spinner-circle-radius * 2;
    position: absolute; top: 50%; left: 50%;
    margin-top: -$spinner-circle-radius; margin-left: -$spinner-circle-radius;

    @for $n from 1 through 8 {
      &:nth-child(#{$n}) {
        transform: rotate($n * 45deg) translateX(-25px) translateY(-25px);
        background-color: nth($spinner-colors, $n);
      }
    }
  }
}

.kModal {
    overflow: hidden;

    .appMenu {
        z-index: 501 !important;
    }
}
.kmcDetailsLayout {
  font-size: 15px;
  background-color: $appBkgColor;
  padding-top: 20px;
  width: 100%;
  min-height: calc(100vh - 126px);
  button{
    cursor: pointer;
  }
  .kDetailsWrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    .kDetailsHeader{
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 0 0 auto;
      .kBackBtn{
        margin-top: 4px;
        margin-left: -46px;
        margin-right: 28px;
        border: none;
        outline: none;
        background-color: transparent;
        color: $kGrayscale3;
        height: 20px;
        width: 18px;
        font-size: 24px;
        overflow: visible;
        &:active{
          box-shadow: none;
        }
        &:hover{
          color: $kPrimary;
        }
      }
      .kTypeIcon{
        width: 24px;
        height: 24px;
        margin-top: 2px;
        font-size: 24px;
        color: $kGrayscale3;
      }
      .kTitle{
        color: $kGrayscale1;
        font-size: 24px;
        font-weight: 700;
        margin-right: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .kSaveBtn{
        margin-left: auto;
        width: 100px;
        margin-right: 24px;
      }
      .kNavigationBtn{
        font-size: 24px;
        margin-left: auto;
        width: 40px;
        margin-left: 0px;
        margin-right: 0px;
      }
      .kNavigationBtnLeft{
        @extend .kNavigationBtn;
        border-right: none;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
      }
      .kNavigationBtnRight{
        @extend .kNavigationBtn;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
      }
    }
    .kHeaderDetails{
      width: 100%;
      height: 54px;
      padding-top: 12px;
      box-sizing: border-box;
      flex: 0 0 auto;
    }
    .kDetailsMain{
      display: flex;
      flex-direction: row;
      height: 100%;
      min-height: 0;
      .kSections{
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        overflow-x: hidden;
        width: 280px;
        flex: 0 0 auto;
          ul {
              list-style-type: none;
              padding-left: 0;
              width: 100%;
              li {
                  line-height: 44px;
                  cursor: pointer;
                  color: $kGrayscale3;
                  font-weight: 700;
                  padding-left: 24px;
                  &:hover {
                      background-color: $kGrayscale7;
                  }
                  &.active {
                      color: $kPrimary;
                      cursor: default;
                  }
              }
          }
        .kSectionHasErrors::before {
          font-family: 'kmcng-icon-pack';
          content: '\e922';
          color: $kDandger;
          margin-right: 8px;
          font-size: 10px;
        }
        .kPreview{
          width: 280px;
          background-color: #ffffff;
          margin-bottom: 20px;
          flex: 0 0 auto;
          border: 0px solid #ffffff;
          border-radius: 3px;
        }
      }
      .kDetailsContent{
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border: 0px solid #ffffff;
        border-radius: 3px;
        flex: 1 1 auto;
        margin-left: 28px;
      }
    }
  }
  .kSpacer{
    display: block;
    height: 40px;
  }
}
.kForceFix{
  position: fixed !important;
  margin-top: 0px !important;
}
.kLocked{
  opacity: 0.5;
  pointer-events: none;
}
.kNotification{
  height: 66px;
  background-color: $kGrayscale4;
  color: black;
  border-radius: 3px;
  font-size: 15px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.kHidden {
  visibility: hidden;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}
.kMoreActionsButton {
  color: $kGrayscale3 !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
  font-size: 24px !important;
  outline: 0;
  &:active, &:hover{
    color: $kGrayscale1 !important;
  }
}

.kDisabledLink {
  color: $kGrayscale5;
  pointer-events: none;
  cursor: not-allowed;
}
@media screen and (max-width: 1090px) {
  .kmcDetailsLayout .kDetailsWrapper .kDetailsHeader .kBackBtn {
    margin-left: 0px;
    margin-right: 12px;
  }
}

.kTableColumn {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kShowAsDisabled {
  opacity: 0.5 !important;
  cursor: default !important;
}

.kPermissionsListPanel {
  width: 320px;

  &.p-multiselect-panel {
    .pi-minus {
      background-color: $kPrimary;
      border: 1px solid $kPrimary;
      color: #ffffff;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      position: relative;
    }
  }


  .ui-multiselect-header {
    margin-bottom: 0;
  }

  .ui-widget-header {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .ui-select-all label {
    cursor: pointer;
    font-weight: normal;
  }

  .ui-multiselect-item {
    height: 40px;
  }

  .ui-chkbox {
    margin-right: 15px;
  }

  .kPermissionItem {
    font-size: 15px;
  }
}
.kDropdown{
    border: 1px solid $kGrayscale4;
    border-radius: 4px;
    background-color: #ffffff;
    &:hover{
        border: 1px solid $kPrimary;
    }
    &:active{
        box-shadow: 0 0 0 3px rgba($kPrimary,0.4);
    }
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}
.ui-column-resizer-helper {
    background-color: $kGrayscale5;
}
.p-button{
    .p-button-icon-left{
        font-size: inherit;
    }
}
.playerItem{
    display: flex;
    align-items: center;
    .playerIcon{
        width: 28px;
        height: 28px;
        flex: 0 0 auto;
        margin-right: 8px;
    }
    .v2 {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='28px' height='28px' viewBox='0 0 28 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EV2 icon%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Share-&amp;-Embed' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Preview-&amp;-Share-Select-Player' transform='translate(-577.000000, -136.000000)'%3E%3Cg id='Select-player' transform='translate(460.000000, 10.000000)'%3E%3Cg id='Drop-Down' transform='translate(100.000000, 42.000000)'%3E%3Cg id='Menu/Menu-item' transform='translate(0.000000, 82.000000)'%3E%3Cg id='V2-icon' transform='translate(17.000000, 2.000000)'%3E%3Crect id='Rectangle-4' fill='%2301ACCD' x='0' y='0' width='28' height='28' rx='3'%3E%3C/rect%3E%3Cpath d='M9.655,19 L6.985,19 L5.32,8.995 L7.645,8.995 L8.725,16.69 L13.18,8.995 L15.715,8.995 L9.655,19 Z M21.685,19 L14.155,19 L14.59,17.02 C18.82,14.62 21.01,13.3 21.01,11.89 C21.01,11.17 20.26,10.72 19.21,10.72 C18.115,10.72 17.305,11.125 16.72,11.62 L15.82,10.09 C16.705,9.325 18.04,8.845 19.36,8.845 C21.415,8.845 23.245,9.85 23.245,11.755 C23.245,13.735 21.16,15.43 18.01,17.125 L22.09,17.125 L21.685,19 Z' id='V2' fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .v3 {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='28px' height='28px' viewBox='0 0 28 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EV7 Icon%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Share-&amp;-Embed' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Preview-&amp;-Share-Select-Player' transform='translate(-577.000000, -168.000000)'%3E%3Cg id='Select-player' transform='translate(460.000000, 10.000000)'%3E%3Cg id='Drop-Down' transform='translate(100.000000, 42.000000)'%3E%3Cg id='Menu/Menu-item' transform='translate(0.000000, 114.000000)'%3E%3Cg id='V7-Icon' transform='translate(17.000000, 2.000000)'%3E%3Crect id='Rectangle-4' fill='%23BB48B4' x='0' y='0' width='28' height='28' rx='3'%3E%3C/rect%3E%3Cpath d='M9.655,20 L6.985,20 L5.32,9.995 L7.645,9.995 L8.725,17.69 L13.18,9.995 L15.715,9.995 L9.655,20 Z M17.635,20 L15.19,20 L20.53,11.87 L15.61,11.87 L16.015,9.995 L23.53,9.995 L23.2,11.48 L17.635,20 Z' id='V7' fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .audio {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyOCAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI1IDBIM0MxLjM0MzE1IDAgMCAxLjM0MzE1IDAgM1YyNUMwIDI2LjY1NjkgMS4zNDMxNSAyOCAzIDI4SDI1QzI2LjY1NjkgMjggMjggMjYuNjU2OSAyOCAyNVYzQzI4IDEuMzQzMTUgMjYuNjU2OSAwIDI1IDBaIiBmaWxsPSIjNDc5OEZGIi8+CjxwYXRoIGQ9Ik0xMi41IDYuNUMxMi41IDUuNjcxNTcgMTMuMTcxNiA1IDE0IDVDMTQuODI4NCA1IDE1LjUgNS42NzE1NyAxNS41IDYuNVYyMS41QzE1LjUgMjIuMzI4NCAxNC44Mjg0IDIzIDE0IDIzQzEzLjE3MTYgMjMgMTIuNSAyMi4zMjg0IDEyLjUgMjEuNVY2LjVaIiBmaWxsPSJ3aGl0ZSIvPgo8cGF0aCBkPSJNNi41IDExQzYuNSAxMC4xNzE2IDcuMTcxNTcgOS41IDggOS41QzguODI4NDMgOS41IDkuNSAxMC4xNzE2IDkuNSAxMVYxN0M5LjUgMTcuODI4NCA4LjgyODQzIDE4LjUgOCAxOC41QzcuMTcxNTcgMTguNSA2LjUgMTcuODI4NCA2LjUgMTdWMTFaIiBmaWxsPSJ3aGl0ZSIvPgo8cGF0aCBkPSJNMjAgOS41QzE5LjE3MTYgOS41IDE4LjUgMTAuMTcxNiAxOC41IDExVjE3QzE4LjUgMTcuODI4NCAxOS4xNzE2IDE4LjUgMjAgMTguNUMyMC44Mjg0IDE4LjUgMjEuNSAxNy44Mjg0IDIxLjUgMTdWMTFDMjEuNSAxMC4xNzE2IDIwLjgyODQgOS41IDIwIDkuNVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=")
    }
    &.selectedPlayer{
        height: 32px;
        margin-left: -6px;
        .playerIcon{
            transform: scale(0.8);
        }
        span {
            white-space: nowrap;
        }
    }
    span {
        white-space: pre-wrap;
    }
}
.p-menu{
    li.kSelected{
        font-weight: bold;
        a:after{
            font-family: kmcng-icon-pack;
            content: "\e91c";
            font-size: 12px;
        }
        span{
            display: inline-block;
            width: 162px
        }
    }
}
body {
    kpopupwidget[data-aid="categoriesFilterPopup"],
    kpopupwidget[data-aid="entriesRefinePopup"],
    kpopupwidget[data-aid="entriesSearchPopup"],
    kpopupwidget[data-aid="resultsLimitPopup"],
    kpopupwidget[data-aid="manageUsersRefinePopup"],
    kpopupwidget[data-aid="bulkLogRefinePopup"],
    kpopupwidget[data-aid="dropFoldersRefinePopup"],
    kpopupwidget[data-aid="categoriesPref"],
    kpopupwidget[data-aid="usersettings"],
    kpopupwidget[data-aid="categoriesRefinePopup"] {
        .kPopupWidget {
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .24);
        }
    }
}
div, span, tr, td, li {
    outline: none !important;
}

.p-datepicker-trigger {
    position: absolute;
}

.p-datatable p-sorticon {
    vertical-align: unset;
}
