@import '_variables.scss';

$mc-theme-font-path : '../../../node_modules/@kaltura-ng/mc-theme/themes/default/fonts';
@import '../../node_modules/@kaltura-ng/mc-theme/themes/default/scss/index.scss';

$spinner-circle-radius: 4px;
$spinner-colors: rgb(218, 31, 38), rgb(6, 168, 133), rgb(0, 147, 68), rgb(248, 166, 26), rgb(27, 74, 151), rgb(0, 171, 204), rgb(177, 210, 56), rgb(252, 210, 3);

@keyframes kaltura-spinner {
  0% {
    transform: rotate(0deg) scale(0.7);
    opacity: 1;
  }
  70% {
    transform: rotate(360deg) scale(0.7);
    opacity: 1;
  }
  82% {
    transform: rotate(360deg) scale(0);
    opacity: 0;
  }
  87% {
    transform: rotate(360deg) scale(0.9);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(0.7);
    opacity: 1;
  }
}

.loading-backdrop {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(255,255,255,0.3);
  .spinner-container {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate3d(-50px, -50px, 0);
  }
}

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  animation: kaltura-spinner 2.5s infinite;

  span {
    width: $spinner-circle-radius * 2; height: $spinner-circle-radius * 2;
    background-color: #fff;
    display: block;
    border-radius: $spinner-circle-radius * 2;
    position: absolute; top: 50%; left: 50%;
    margin-top: -$spinner-circle-radius; margin-left: -$spinner-circle-radius;

    @for $n from 1 through 8 {
      &:nth-child(#{$n}) {
        transform: rotate($n * 45deg) translateX(-25px) translateY(-25px);
        background-color: nth($spinner-colors, $n);
      }
    }
  }
}
