@import '_variables.scss';

$mc-theme-font-path : '~@kaltura-ng/mc-theme/themes/default/fonts';
@import '~@kaltura-ng/mc-theme/themes/default/scss/index.scss';

$spinner-circle-radius: 4px;
$spinner-colors: rgb(218, 31, 38), rgb(6, 168, 133), rgb(0, 147, 68), rgb(248, 166, 26), rgb(27, 74, 151), rgb(0, 171, 204), rgb(177, 210, 56), rgb(252, 210, 3);

@keyframes kaltura-spinner {
  0% {
    transform: rotate(0deg) scale(0.7);
    opacity: 1;
  }
  70% {
    transform: rotate(360deg) scale(0.7);
    opacity: 1;
  }
  82% {
    transform: rotate(360deg) scale(0);
    opacity: 0;
  }
  87% {
    transform: rotate(360deg) scale(0.9);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(0.7);
    opacity: 1;
  }
}

.loading-backdrop {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(255,255,255,0.3);
  .spinner-container {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate3d(-50px, -50px, 0);
  }
}

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  animation: kaltura-spinner 2.5s infinite;

  span {
    width: $spinner-circle-radius * 2; height: $spinner-circle-radius * 2;
    background-color: #fff;
    display: block;
    border-radius: $spinner-circle-radius * 2;
    position: absolute; top: 50%; left: 50%;
    margin-top: -$spinner-circle-radius; margin-left: -$spinner-circle-radius;

    @for $n from 1 through 8 {
      &:nth-child(#{$n}) {
        transform: rotate($n * 45deg) translateX(-25px) translateY(-25px);
        background-color: nth($spinner-colors, $n);
      }
    }
  }
}

.kModal .appMenu{
  z-index: 501 !important;
}
.kmcDetailsLayout {
  font-size: 15px;
  background-color: $appBkgColor;
  padding-top: 20px;
  width: 100%;
  min-height: calc(100vh - 125px);
  button{
    cursor: pointer;
  }
  .kDetailsWrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    .kDetailsHeader{
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 0 0 auto;
      .kBackBtn{
        margin-top: 4px;
        margin-left: -46px;
        margin-right: 28px;
        border: none;
        outline: none;
        background-color: transparent;
        color: $kGrayscale3;
        height: 20px;
        width: 18px;
        font-size: 24px;
        &:active{
          box-shadow: none;
        }
        &:hover{
          color: $kPrimary;
        }
      }
      .kTypeIcon{
        width: 24px;
        height: 24px;
        margin-top: 2px;
        font-size: 24px;
        color: $kGrayscale3;
      }
      .kTitle{
        color: $kGrayscale1;
        font-size: 24px;
        font-weight: 700;
        margin-right: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .kSaveBtn{
        margin-left: auto;
        width: 100px;
        margin-right: 24px;
      }
      .kNavigationBtn{
        font-size: 24px;
        margin-left: auto;
        width: 40px;
        margin-left: 0px;
        margin-right: 0px;
      }
      .kNavigationBtnLeft{
        @extend .kNavigationBtn;
        border-right: none;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
      }
      .kNavigationBtnRight{
        @extend .kNavigationBtn;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
      }
    }
    .kHeaderDetails{
      width: 100%;
      height: 54px;
      padding-top: 12px;
      box-sizing: border-box;
      flex: 0 0 auto;
    }
    .kDetailsMain{
      display: flex;
      flex-direction: row;
      height: 100%;
      min-height: 0;
      .kSections{
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        overflow-x: hidden;
        width: 280px;
        flex: 0 0 auto;
          ul {
              list-style-type: none;
              padding-left: 0;
              width: 100%;
              li {
                  line-height: 44px;
                  cursor: pointer;
                  color: $kGrayscale3;
                  font-weight: 700;
                  padding-left: 24px;
                  &:hover {
                      background-color: $kGrayscale7;
                  }
                  &.active {
                      color: $kTertiary;
                      cursor: default;
                  }
              }
          }
        .kSectionHasErrors::before {
          font-family: 'kmcng-icon-pack';
          content: '\e922';
          color: $kDandger;
          margin-right: 8px;
          font-size: 10px;
        }
        .kPreview{
          width: 280px;
          background-color: #ffffff;
          margin-bottom: 20px;
          flex: 0 0 auto;
          border: 0px solid #ffffff;
          border-radius: 3px;
        }
      }
      .kDetailsContent{
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border: 0px solid #ffffff;
        border-radius: 3px;
        flex: 1 1 auto;
        margin-left: 28px;
      }
    }
  }
  .kSpacer{
    display: block;
    height: 40px;
  }
}
.kForceFix{
  position: fixed !important;
  margin-top: 0px !important;
}
.kLocked{
  opacity: 0.5;
  pointer-events: none;
}
.kNotification{
  height: 66px;
  background-color: $kGrayscale4;
  color: black;
  border-radius: 3px;
  font-size: 15px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.kHidden {
  visibility: hidden;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
}
.kMoreActionsButton {
  color: $kGrayscale3 !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
  font-size: 24px !important;
  outline: 0;
  &:active, &:hover{
    color: $kGrayscale1 !important;
  }
}

.kDisabledLink {
  color: $kGrayscale5;
  pointer-events: none;
  cursor: not-allowed;
}
@media screen and (max-width: 1090px) {
  .kmcDetailsLayout .kDetailsWrapper .kDetailsHeader .kBackBtn {
    margin-left: 0px;
    margin-right: 12px;
  }
}

.kTableColumn {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kShowAsDisabled {
  opacity: 0.5 !important;
  cursor: default !important;
}

.kPermissionsListPanel {
  width: 320px;

  &.ui-multiselect-panel {
    .pi-minus {
      background-color: #00a784;
      border: 1px solid #00a784;
      color: #ffffff;
      width: 16px;
      height: 16px;
      border-radius: 3px;
      top: -1px;
      position: relative;
      left: -1px;
    }
  }


  .ui-multiselect-header {
    margin-bottom: 0;
  }

  .ui-widget-header {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .ui-select-all label {
    cursor: pointer;
    font-weight: normal;
  }

  .ui-multiselect-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
  }

  .ui-chkbox {
    margin-right: 15px;
  }

  .kPermissionItem {
    font-size: 15px;
  }
}

.ui-column-resizer-helper {
    background-color: $kGrayscale5;
}
body {
    kpopupwidget[data-aid="categoriesFilterPopup"],
    kpopupwidget[data-aid="entriesRefinePopup"],
    kpopupwidget[data-aid="resultsLimitPopup"],
    kpopupwidget[data-aid="manageUsersRefinePopup"],
    kpopupwidget[data-aid="bulkLogRefinePopup"],
    kpopupwidget[data-aid="dropFoldersRefinePopup"],
    kpopupwidget[data-aid="categoriesPref"],
    kpopupwidget[data-aid="categoriesRefinePopup"], {
        .kPopupWidget {
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .24);
        }
    }
}
