@import '_variables.scss';

$mc-theme-font-path : '~@kaltura-ng/mc-theme/themes/default/fonts';
@import '~@kaltura-ng/mc-theme/themes/default/scss/index.scss';

$spinner-circle-radius: 4px;
$spinner-colors: rgb(218, 31, 38), rgb(6, 168, 133), rgb(0, 147, 68), rgb(248, 166, 26), rgb(27, 74, 151), rgb(0, 171, 204), rgb(177, 210, 56), rgb(252, 210, 3);

@keyframes kaltura-spinner {
  0% {
    transform: rotate(0deg) scale(0.7);
    opacity: 1;
  }
  70% {
    transform: rotate(360deg) scale(0.7);
    opacity: 1;
  }
  82% {
    transform: rotate(360deg) scale(0);
    opacity: 0;
  }
  87% {
    transform: rotate(360deg) scale(0.9);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(0.7);
    opacity: 1;
  }
}

.loading-backdrop {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(255,255,255,0.3);
  .spinner-container {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate3d(-50px, -50px, 0);
  }
}

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  animation: kaltura-spinner 2.5s infinite;

  span {
    width: $spinner-circle-radius * 2; height: $spinner-circle-radius * 2;
    background-color: #fff;
    display: block;
    border-radius: $spinner-circle-radius * 2;
    position: absolute; top: 50%; left: 50%;
    margin-top: -$spinner-circle-radius; margin-left: -$spinner-circle-radius;

    @for $n from 1 through 8 {
      &:nth-child(#{$n}) {
        transform: rotate($n * 45deg) translateX(-25px) translateY(-25px);
        background-color: nth($spinner-colors, $n);
      }
    }
  }
}


.kmcDetailsLayout {
  font-size: 15px;
  background-color: $appBkgColor;
  height: $contentArea;
  padding-top: 30px;
  width: 100%;
  button{
    cursor: pointer;
  }
  .kDetailsWrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    .kDetailsHeader{
      display: flex;
      flex-direction: row;
      align-items: center;
      .kBackBtn{
        margin-top: 4px;
        margin-left: -56px;
        margin-right: 23px;
        border: none;
        outline: none;
        background-color: $appBkgColor;
        color: $kGrayscale3;
        height: 20px;
        font-size: 16px;
        &:active{
          box-shadow: none;
        }
        &:hover{
          color: $kPrimary;
        }
      }
      .kTypeIcon{
        width: 24px;
        height: 24px;
        margin-top: 2px;
        font-size: 24px;
        color: $kGrayscale3;
      }
      .kTitle{
        color: $kGrayscale1;
        font-size: 24px;
        font-weight: 700;
        margin-left: 12px;
        margin-right: 100px;
      }
      .kSaveBtn{
        margin-left: auto;
        width: 100px;
        height: 34px;
        font-weight: 400;
        margin-right: 24px;
      }
      .kNavigationBtn{
        margin-left: auto;
        width: 40px;
        height: 34px;
        margin-left: 0px;
        margin-right: 0px;
        font-weight: 400;
      }
      .kNavigationBtnLeft{
        @extend .kNavigationBtn;
        border-right: none;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
      }
      .kNavigationBtnRight{
        @extend .kNavigationBtn;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
      }
    }
    .kHeaderDetails{
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      height: 14px;
      flex: 0 0 auto;
    }
    .kDetailsMain{
      display: flex;
      flex-direction: row;
      height: 100%;
      min-height: 0;
      .kSections{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        width: 280px;
        flex: 0 0 auto;
        .kPreview{
          width: 280px;
          height: 158px;
          background-color: #000000;
          margin-bottom: 12px;
          flex: 0 0 auto;
          border: 0px solid #000000;
          border-radius: 3px;
        }
      }
      .kDetailsContent{
        width: 100%;
        background-color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 3px;
        flex: 1 1 auto;
        margin-left: 28px;
        padding: 8px;
      }
    }
  }
  .kSpacer{
    display: block;
    height: 40px;
  }
}
/* to be removed when switching to new scroll system */
.kmcDetailsLayout.isSafari{
  .kDetailsContent{
    height: calc(100vh - 240px);
  }
}