<k-area-blocker [showLoader]="_widgetService.showSectionLoader" [message]="_widgetService.sectionBlockerMessage">
  <div class="kPlaylistEntriesHolder">
    <kPlaylistEntryListBulkOperationsContent
      [selectedEntries]="_selectedEntries"
      [entriesTotalCount]="(_widgetService.playlist$ | async)?.entriesTotalCount"
      (addEntry)="addEntry.open()"
      (deleteEntries)="_deleteEntries($event)"
      (clearSelection)="_clearSelection()">
    </kPlaylistEntryListBulkOperationsContent>
    <kPlaylistEntriesTable
      class="kPlaylistEntriesTable"
      [entries]="(_widgetService.playlist$ | async)?.entries"
      (onActionSelected)="_widgetService.onActionSelected($event)"
      [(selectedEntries)]="_selectedEntries">
    </kPlaylistEntriesTable>
  </div>

  <kPopupWidget #addEntry [popupWidth]="996" [popupHeight]="779" [modal]="true" [slider]="true" [preventPageScroll]="true">
    <ng-template>
      <kAddEntry (onClosePopupWidget)="addEntry.close()"></kAddEntry>
    </ng-template>
  </kPopupWidget>
</k-area-blocker>
