<k-area-blocker [showLoader]="" [message]="">
  <div class="kContentDetails">
    <div class="kPlaylistsTableFilters">
      <button
        pButton
        type="button"
        label="{{'applications.content.playlists.addEntry' | translate}}"
        class="kButtonBranded kAddPlaylistBtn"
        (click)="addNewEntry()"></button>
      <span
        class="kSelectedPlaylistsNum"
        *ngIf="(_playlistStore.entries$ | async)?.totalCount">
				{{(_playlistStore.entries$ | async)?.totalCount}} {{'applications.content.playlists.playlists' | translate}}</span>
    </div>
    <kPlaylistEntriesTable
      class="kPlaylistEntriesTable"
      [entries]="(_playlistStore.entries$ | async)?.items"></kPlaylistEntriesTable>
  </div>
</k-area-blocker>

<kPopupWidget #addEntry [popupWidth]="996" [modal]="true">
  <ng-template>
    <kAddEntry (onClosePopupWidget)="closePopupWidget($event)"></kAddEntry>
  </ng-template>
</kPopupWidget>
