@import 'app-theme/_variables.scss';

.kPlaylistEntriesHolder {
  width: 100%;
  height: 100%;
  border: 1px solid $kGrayscale6;
  position: relative;
  display: flex;
  flex-direction: column;

  .kPlaylistEntriesTable {
    border: none;
    position: relative;
    background-color: white;
    flex: 1 1 auto;
  }
}
