/* buttons */
.ui-button{
    font-weight: 700;
    border-radius: 4px;
}
.disabled{
    color: $kGrayscale4;
    background: transparent;
    border: 1px solid $kGrayscale4;
    cursor: none;
}
.large{
    font-size: 16px;
    min-width: 200px;
    height: 48px;
}
.small{
    font-size: 15px;
    min-width: 100px;
    height: 34px;
}
.ui-button.kButtonBranded {
    &.ui-state-default{
        color: #ffffff;
        background: $kPrimary;
    }
    &.ui-state-hover{
        background: darken($kPrimary, 10%);
    }
    &.ui-state-active{
        box-shadow: inset 0px 1px 3px 0 rgba(0,0,0,0.50);
    }
    &.ui-state-default:disabled{
        color: $kGrayscale4;
        background: transparent;
        border: 1px solid $kGrayscale4;
        cursor: none;
    }
    &.large{
        @extend .large;
    }
    &.small{
        @extend .small;
    }
}
.ui-datatable-odd{
    background-color: #ffffff;
}
.ui-button.kButtonDefault {
    &.ui-state-default{
        color: $kGrayscale1;
        background: #ffffff;
        border: 1px solid $kGrayscale4;
    }
    &.ui-state-hover{
        color: $kPrimary;
    }
    &.ui-state-active{
        box-shadow: inset 0px 1px 3px 0 rgba(0,0,0,0.50);
    }
    &.ui-state-default:disabled{
        @extend .disabled;
    }
    &.large{
        @extend .large;
    }
    &.small{
        @extend .small;
    }
}

.ui-button.kButtonDanger {
    &.ui-state-default{
        color: #ffffff;
        background: $kDandger;
        border: 1px solid $kDandger;
    }
    &.ui-state-hover{
        background: darken($kDandger, 10%);
        border: 1px solid darken($kDandger, 10%);
    }
    &.ui-state-active{
        box-shadow: inset 0px 1px 3px 0 rgba(0,0,0,0.50);
    }
    &.ui-state-default:disabled{
        @extend .disabled;
    }
    &.large{
        @extend .large;
    }
    &.small{
        @extend .small;
    }
}
.ui-button-icon-only .fa{
    margin-left: -10px;
}
.ui-button span, button.ui-button.ui-state-default span, .ui-button.ui-state-default span.ui-button-icon-only .fa{
    font-weight: 400;
}
/* links */
.ui-widget-content a {
    @extend .link;
}

/* dropdown */
.ui-multiselect-label-container{
    color: $kGrayscale1;
    .ui-state-hover{
        color: $kPrimary;
    }
}

/* data table */
.ui-datatable thead th, .ui-datatable tfoot td, .ui-datatable tbody td, .ui-datatable-data.ui-widget-content {
    border-left: none;
    border-right: none;
}
.ui-datatable th.ui-state-default{
    text-align: left;
}
.ui-datatable tbody > tr.ui-widget-content {
    height: 70px;
    border-left: none;
    border-right: none;
    &:first-child{
        border-top: 1px solid #ffffff;
    }
}
.ui-datatable th.ui-state-default{
    border: none;
    background: transparent;
}
.ui-widget-header.ui-datatable-scrollable-header{
    background: transparent;
    height: 40px;
    border-top: 1px solid #d9d9d9;
    border-left: none;
    border-right: none;
    tr{
        height: 40px;
        border-left: none;
        border-right: none;
        border-top: 0px solid #ffffff;
    }
}
.ui-datatable .ui-datatable-thead>tr>th{
    border-left: none;
    border-right: none;
}
.ui-datatable th.ui-state-default{
    font-size: 13px;
    font-weight: 400;
    color: $kGrayscale3;
    text-overflow: ellipsis;
}
.ui-datatable th.ui-state-active {
    color: $kGrayscale1;
}
.ui-datatable .ui-cell-data{
    font-size: 15px;
    font-weight: 700;
    color: $kGrayscale3;
    text-overflow: ellipsis;
}
.ui-datatable .ui-datatable-data tr.ui-state-highlight{
    background-color: #ffffff;
    border: none;
    cursor: auto;
}
.ui-datatable th.ui-state-default{
    outline: none;
}
.ui-sortable-column-icon.fa.fa-sort{
    visibility: hidden;
    &.fa-sort-asc, &.fa-sort-desc{
        font-size: 10px;
        margin-left: 8px;
        visibility: visible;
    }
}
.ui-datatable .ui-datatable-data>tr>td{
    border: 0px solid #ffffff;
}
.ui-datatable .ui-datatable-scrollable-body{
    border-top: 1px solid #d9d9d9;
}
/* paginator */
.ui-paginator.ui-widget-header.ui-unselectable-text{
    background: transparent;
    border: none;
}
.ui-paginator-page.ui-paginator-element{
    outline: none;
    border-radius: 0px;
    color: $kGrayscale1;
}
.ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-last{
    margin-left: 0px;
    margin-right: 0px;
}
.ui-paginator .ui-paginator-pages {
    padding-left: 0px;
    padding-right: 0px;
}

.ui-paginator .ui-paginator-rpp-options {
    float: right;
    margin-top: 4px;
}
.ui-paginator-rpp-options.ui-widget.ui-state-default{
    border: none;
}
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-last{
    margin-left: -2px;
    margin-right: -2px;
    border-radius: 0px;
}
.ui-paginator .ui-paginator-page.ui-state-active{
    background: $kGrayscale6;
    color: $kGrayscale1;
    border: 1px solid $kGrayscale4;
}
/* menus */
.ui-menu{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 0px;
    padding-right: 0px;
}
.ui-tieredmenu.ui-menu{
    width: 250px;
}
.ui-menu.ui-menu-dynamic, .ui-menu .ui-menu-child{
    background: #ffffff;
}
.ui-menu a.ui-menuitem-link{
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    padding-left: 9px;
    color: $kGrayscale1;
    &:disabled{
        color: $kGrayscale4;
    }
}
.ui-menu a.ui-state-hover, .ui-menu .ui-menu-child a.ui-state-hover{
    color: $kGrayscale1;
    background-color: $kGrayscale7;
    border: 1px solid $kGrayscale7;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{
    color: $kGrayscale1;
    background-color: $kGrayscale7;
    border: none;
}
.ui-menu .ui-menu-parent .ui-submenu-icon{
    margin-top: 4px;
    font-size: 11px;
}

/* checkboxes */
.ui-datatable .ui-selection-column .ui-chkbox-box, .ui-tree .ui-chkbox-box{
    width: 18px;
    height: 18px;
    border: 1px solid $kGrayscale4;
    border-radius: 3px;
    font-size: 12px;
}
.ui-datatable .ui-selection-column .ui-chkbox .ui-chkbox-icon{
    margin-left: 0px;
    margin-top: 3px;
}
.ui-datatable .ui-selection-column .ui-chkbox-box.ui-state-active{
    background-color: $kPrimary;
    border: 1px solid $kPrimary;
}

/* tree */
.ui-tree .ui-tree-container{
    padding-left: 0px;
    padding-top: 0px;
}
.ui-tree.ui-widget.ui-widget-content.ui-corner-all.ui-tree-selectable{
    border: none;
}
.ui-treenode-label.ui-corner-all.ui-state-hover{
    background-color: #ffffff;
}
.ui-tree .ui-tree-toggler{
    color: $kGrayscale3;
    margin-right: 8px;
}
.ui-tree .ui-treenode-leaf-icon{
    width: 27px;
}
.ui-tree .ui-chkbox .ui-chkbox-icon{
    background-color: $kPrimary;
    border: 0px solid $kPrimary;
    margin-top: 0px;
    line-height: 18px;
    width: 20px;
    border-radius: 3px;
    color: #ffffff;
}
.ui-tree .ui-treenode-label.ui-state-hover, .ui-tree .ui-treenode-label.ui-state-highlight{
    background-color: #ffffff;
}
/* input */
.ui-inputtext{
    background-color: $kGrayscale6;
    border: 1px solid $kGrayscale6;
}
 /* auto complete */
.ui-autocomplete-input.ui-inputtext.ui-corner-all.ui-state-default.ui-widget{
    width: 320px;
    @extend .ui-inputtext;
}

/* radio buttons */
.ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active{
    background-color: $kPrimary;
}
 /* Calendar */
.ui-calendar{
    .ui-datepicker-header{
        background: #01ACCD;
    }
    .ui-inputtext {
        width: 75px;
    }
    button{
        @extend .ui-button.kButtonDefault;
    }
    .ui-datepicker-prev, .ui-datepicker-next{
        color: #ffffff;
    }
    .ui-datepicker-prev-hover, .ui-datepicker-next-hover{
        background: #01ACCD;
        border: 0px solid #01ACCD;
    }
}
