<k-area-blocker [message]="_blockerMessage" style="height: 100%">
  <div class="kTreeContainer kOverrideFAIcons kRadioButtonPOC">

    <div class="kHeader">
    <span class="kTitle">
      <span>{{('applications.content.categories.moveCategory') | translate}}</span>
    </span>
    </div>
    <div class="kContainer">
      <div class="kRow">
        <span class="kSelectParentMsg">{{('applications.content.moveCategory.selectCategoryParent') | translate}}</span>
        <div *ngIf="_categoriesUpdating" class="k-spinner-background kSpinnerBkg" kTooltip="{{'applications.content.categories.categoriesUpdateMsg' | translate}}">
          <div class="k-spinner-animation kSpinnerAnim"></div>
        </div>
      </div>
        <kCategorySelector (onCategorySelected)="_onCategorySelected($event)"></kCategorySelector>
    </div>
    <div class="kFooter">
      <button type="button" class="kButtonBranded" pButton
              label="{{'applications.content.addNewCategory.apply' | translate}}"
              (click)="_apply()"></button>
      <a class="kLink" (click)="_cancel()">{{'applications.content.addNewCategory.cancel' | translate}}</a>
    </div>
  </div>
</k-area-blocker>
