@import "app-theme/_variables.scss";

:host ::ng-deep {
  .p-treenode-content {
    .p-treenode-label {
      width: 100%;
    }

    .kTreeNodeLabelWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      .kTreeNodeLabel {
        font-size: 14px;
        font-weight: 700;
        line-height: 43px;
        text-overflow: ellipsis;
        margin-left: 5px;
        max-width: calc(100% - 80px);
        display: inline-block;
        overflow: hidden;
      }
      .kTreeNodeLabelSingle {
        color: $kGrayscale1;
      }

      .kTreeNodeNumChildren {
        font-size: 14px;
        font-weight: 400;
        color: $kGrayscale3;
        margin-left: 10px;
      }
    }
  }
}

.kTreeContainer {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 340px;
  width: 387px;
}

.kLoadingMessage {
  cursor: auto;
  color: $kPrimary;
  padding-left: 6px;
}

.kLoadingErrorMessage {
  cursor: auto;
  white-space: pre-line;
  margin-top: -16px;
  color: $kGrayscale3;
  padding-left: 6px;
}

/* Make sure toggler and checkbox remain aligned even if the node height changes */
:host ::ng-deep .p-treenode .p-tree-toggler {
  vertical-align: top;
  margin-top: 13px;
}

:host ::ng-deep .p-tree .ui-chkbox {
  vertical-align: top;
  margin-top: 14px;
}

:host ::ng-deep .p-tree .p-tree-toggler {
  margin-top: 15px;
}

:host ::ng-deep .p-tree.ui-widget.ui-widget-content {
  width: 100%;
  border: none;
}
