.kCopyToClipboardContainer {
  display: inline-block;
  .kCopyToClipboard {
    width: 24px;
    height: 24px;
    border: none;
    vertical-align: middle;
    display: table-cell;
    padding: 0;
  }
  .kSuccess {
    @extend %fadein;
    cursor: auto;
  }

  .kError {
    @extend %fadein;
    cursor: not-allowed;
  }

  .kIdle {
    cursor: pointer;
  }
}

%fadein {
  animation: fadein 0.3s;
  -moz-animation: fadein 0.3s; /* Firefox */
  -webkit-animation: fadein 0.3s; /* Safari and Chrome */
  -o-animation: fadein 0.3s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein { /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein { /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
