<k-area-blocker [showLoader]="_widgetService.showSectionLoader" [message]="_widgetService.sectionBlockerMessage"
                [bodyScroll]="true">
    <div class="kCaptions" #captions>
        <p class="kTitle">{{'applications.content.entryDetails.captions.captions' | translate}}</p>
        <button type="button" class="kButtonDefault" pButton
                icon="kIconplus"
                label="{{'applications.content.entryDetails.captions.add' | translate}}"
                *ngIf="(_kmcPermissions.CAPTION_MODIFY | kNgIfPermitted) && !_isLive"
                (click)="_addCaption()"></button>
        <button type="button" class="kButtonDefault" pButton
                label="{{'applications.content.entryDetails.captions.request' | translate}}"
                *ngIf="_requestCaptionsAvailable"
                (click)="_requestCaptions()"></button>
        <div class="kTable" *ngIf="!_isLive">
            <p-table scrollHeight="100%"
                     [value]="(_widgetService._captions$ | async)?.items"
                     [scrollable]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th [ngStyle]="{'padding-left': '24px'}">
                            {{'applications.content.entryDetails.captions.label' | translate}}
                        </th>
                        <th>
                            {{'applications.content.entryDetails.captions.type' | translate}}
                        </th>
                        <th>
                            {{'applications.content.entryDetails.captions.language' | translate}}
                        </th>
                        <th [ngStyle]="{'overflow': 'visible'}">
                            <div class="kTableHeader">
                                <span>{{'applications.content.entryDetails.captions.accuracy' | translate}}</span>
                                <!--i class="kIconhelp_full kHelpTip" [kTooltip]="'applications.content.entryDetails.captions.accuracy_tt' | translate"></i-->
                                <kInputHelper class="kHelp" icon="kIconlife_donut" trigger="click"
                                              [title]="'applications.content.entryDetails.captions.accuracy_title' | translate">
                                    <span>{{'applications.content.entryDetails.captions.accuracy_tt' | translate}}</span>
                                </kInputHelper>
                            </div>
                        </th>
                        <th>
                            {{'applications.content.entryDetails.captions.status' | translate}}
                        </th>
                        <th>
                            {{'applications.content.entryDetails.captions.displayOnPlayer' | translate}}
                        </th>
                        <th>
                            {{'applications.content.entryDetails.captions.defaultTitle' | translate}}
                        </th>
                        <th [ngStyle]="{'width':'80px'}"></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-caption let-index="rowIndex">
                    <tr [ngClass]="_widgetService._getRowStyle(caption, index)">
                        <td [ngStyle]="{'padding-left': '24px'}">{{caption.label}}</td>
                        <td>{{_widgetService._getCaptionType(caption.format)}}</td>
                        <td>{{caption.language}}</td>
                        <td>{{!!caption.accuracy || caption.accuracy === 0 ? caption.accuracy + '%' : ('app.common.none' | translate)}}</td>
                        <td>
                            <span *ngIf="!caption.uploadFailure">{{_widgetService._getCaptionStatus(caption)}}</span>
                            <div *ngIf="caption.uploadFailure" class="kError">
                                <span>{{'applications.content.entryDetails.captions.uploadError' | translate}}</span>
                            </div>
                        </td>
                        <td>
                            <p-inputSwitch class="kInputSwitch"
                                            [disabled]="caption.isDefault && caption.displayOnPlayer"
                                            (ngModelChange)="_widgetService.setDirty()"
                                            [(ngModel)]="caption.displayOnPlayer"></p-inputSwitch>
                            <span class="kInputSwitchLabel">
                                {{caption.displayOnPlayer ? ( 'app.common.yes' | translate) : ( 'app.common.no' | translate)}}
                            </span>
                        </td>
                        <td>
                            <span *ngIf="caption.isDefault">
                                {{'applications.content.entryDetails.captions.default' | translate}}
                            </span>
                            <a (click)="_widgetService._setAsDefault(caption)"
                               *ngIf="!caption.isDefault && caption.status?.toString() === '2' && caption.displayOnPlayer">
                                {{'applications.content.entryDetails.captions.setDefault' | translate}}
                            </a>
                        </td>
                        <td [ngStyle]="{'width':'80px'}">
                            <div class="kCaptionsTableActions" *ngIf="caption.status === _captionStatusReady || caption.status === _captionStatusError ">
                                <button type="button" class="kMoreActionsButton" pButton icon="kIconmore"
                                        (click)="openActionsMenu($event, caption)"></button>
                            </div>
                            <div *ngIf="caption.uploading">
                                <span>
                                    {{caption.progress && caption.progress !== '0'
                                    ? caption.progress + '%'
                                    : 'applications.content.entryDetails.captions.pending' | translate}}
                                </span>
                            </div>
                            <div *ngIf="caption.uploadFailure">
                                <a (click)="_widgetService.removeCaption(caption.id)">
                                    {{'applications.content.entryDetails.captions.remove' | translate}}
                                </a>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <div class="emptyMessage" *ngIf="!_widgetService.showSectionLoader">
                        <div class="arrow"></div>
                        <div class="emptyFolderMsg">
                            <div class="emptyFolder"></div>
                            <span class="emptyMsgTitle">{{'applications.content.entryDetails.captions.emptyMsgTitle' | translate}}</span>
                            <span class="emptyMsg">{{'applications.content.entryDetails.captions.emptyMsg' | translate}}</span>
                        </div>
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>

    <p-menu #actionsmenu [popup]="true" [model]="actions" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>

    <kPopupWidget #editPopup data-aid="editCaptionPopup" [popupWidth]="586" [modal]="true">
        <ng-template>
            <kEntryCaptionsEdit [currentCaption]="_widgetService.currentCaption"
                                [parentPopupWidget]="editPopup"></kEntryCaptionsEdit>
        </ng-template>
    </kPopupWidget>

</k-area-blocker>
