<k-area-blocker [showLoader]="_handler.showSectionLoader" [message]="_handler.sectionBlockerMessage">
	<div class="kCaptions" #captions>
		<p class="kTitle">{{'applications.content.entryDetails.captions.captions' | translate}}</p>
		<button type="button" class="kButtonDefault" pButton label="{{'applications.content.entryDetails.captions.add' | translate}}" (click)="_addCaption()"></button>
		<div class="kTable">
			<p-dataTable [value]="(_handler._captions$ | async)?.items" scrollable="true" scrollHeight="100%" [rowStyleClass]="_handler._getRowStyle">
				<p-column field="label" header="{{'applications.content.entryDetails.captions.label' | translate}}">
				</p-column>
				<p-column field="format" header="{{'applications.content.entryDetails.captions.type' | translate}}">
					<ng-template let-col let-caption="rowData" pTemplate="body">
						<span>{{_handler._getCaptionType(caption.format)}}</span>
					</ng-template>
				</p-column>
				<p-column field="language" header="{{'applications.content.entryDetails.captions.language' | translate}}">
				</p-column>
				<p-column field="status" header="{{'applications.content.entryDetails.captions.status' | translate}}">
					<ng-template let-col let-caption="rowData" pTemplate="body">
						<span *ngIf="!caption.uploadFailure">{{_handler._getCaptionStatus(caption)}}</span>
						<div *ngIf="caption.uploadFailure" class="kError">
							<span>{{'applications.content.entryDetails.captions.uploadError' | translate}}</span>
						</div>
					</ng-template>
				</p-column>
				<p-column header="{{'applications.content.entryDetails.captions.defaultTitle' | translate}}">
					<ng-template let-col let-caption="rowData" pTemplate="body">
						<span *ngIf="caption.isDefault">{{'applications.content.entryDetails.captions.default' | translate}}</span>
						<a (click)="_handler._setAsDefault(caption)" *ngIf="!caption.isDefault && caption.status?.toString()==='2'">{{'applications.content.entryDetails.captions.setDefault' | translate}}</a>
					</ng-template>
				</p-column>
				<p-column [style]="{'width':'80px'}">
					<ng-template let-col let-caption="rowData" pTemplate="body">
						<div class="kCaptionsTableActions" *ngIf="!caption.uploading && !caption.uploadFailure">
							<button type="button" pButton icon="kIconmore" (click)="openActionsMenu($event, caption)"></button>
						</div>
						<div *ngIf="caption.uploading">
							<span>{{caption.progress ? caption.progress : '0'}}%</span>
						</div>
						<div *ngIf="caption.uploadFailure">
							<a (click)="_handler.removeCaption()">{{'applications.content.entryDetails.captions.remove' | translate}}</a>
						</div>
					</ng-template>
				</p-column>
			</p-dataTable>
			<p-menu kMenuCloseOnScroll [scrollTarget]="captions" #actionsmenu popup="popup" [model]="_actions" [appendTo]="'body'"></p-menu>
		</div>
	</div>

	<kPopupWidget #editPopup [popupWidth]="380" [popupHeight]="440" [modal]="true">
		<kEntryCaptionsEdit [currentCaption]="_handler.currentCaption" [parentPopupWidget]="editPopup"></kEntryCaptionsEdit>
	</kPopupWidget>

</k-area-blocker>
