<kLoader [loading]="_loading" [loadingError]="_loadingError" (onActionRequested)="_onLoadingAction($event)">
	<kFileDialog #fileDialog [filter]="'text/xml,.srt'" (onFileSelected)="_handler._onFileSelected($event)"></kFileDialog>
	<div class="kCaptions" #captions>
		<p class="kTitle">{{'applications.content.entryDetails.captions.captions' | translate}}</p>
		<button type="button" class="kButtonDefault" pButton label="{{'applications.content.entryDetails.captions.add' | translate}}" (click)="_addCaption()"></button>
		<div class="kTable">
			<p-dataTable [value]="(_handler._captions$ | async)?.items" scrollable="true" scrollHeight="100%" [rowStyleClass]="_handler._getRowStyle">
				<p-column field="label" header="{{'applications.content.entryDetails.captions.label' | translate}}">
				</p-column>
				<p-column field="format" header="{{'applications.content.entryDetails.captions.type' | translate}}">
					<template let-col let-caption="rowData" pTemplate="body">
						<span>{{_handler._getCaptionType(caption.format)}}</span>
					</template>
				</p-column>
				<p-column field="language" header="{{'applications.content.entryDetails.captions.language' | translate}}">
				</p-column>
				<p-column field="status" header="{{'applications.content.entryDetails.captions.status' | translate}}">
					<template let-col let-caption="rowData" pTemplate="body">
						<span>{{_handler._getCaptionStatus(caption)}}</span>
					</template>
				</p-column>
				<p-column header="{{'applications.content.entryDetails.captions.defaultTitle' | translate}}">
					<template let-col let-caption="rowData" pTemplate="body">
						<span *ngIf="caption.isDefault">{{'applications.content.entryDetails.captions.default' | translate}}</span>
						<a (click)="_handler._setAsDefault(caption)" *ngIf="!caption.isDefault && caption.status?.toString()==='2'">{{'applications.content.entryDetails.captions.setDefault' | translate}}</a>
					</template>
				</p-column>
				<p-column [style]="{'width':'80px'}">
					<template let-col let-caption="rowData" pTemplate="body">
						<div class="kCaptionsTableActions">
							<button type="button" pButton icon="kIconmore" (click)="openActionsMenu($event, caption)"></button>
						</div>
					</template>
				</p-column>
			</p-dataTable>
			<p-menu kMenuCloseOnScroll [scrollTarget]="captions" #actionsmenu popup="popup" [model]="_actions" [appendTo]="'body'"></p-menu>
		</div>
	</div>

	<kPopupWidget #editPopup [popupWidth]="380" [popupHeight]="440" [modal]="true">
		<kEntryCaptionsEdit [currentCaption]="_handler.currentCaption" [parentPopupWidget]="editPopup"></kEntryCaptionsEdit>
	</kPopupWidget>

	<p-confirmDialog header="{{'applications.content.entryDetails.captions.cancelEdit' | translate}}" width="425"></p-confirmDialog>

</kLoader>
