<k-area-blocker [showLoader]="false" [message]="_blockerMessage" style="height: 100%">

  <div class="kAddNewCategory kTreeContainer kOverrideFAIcons">

    <div class="kHeader">
    <span class="kTitle">
      <span>{{('applications.content.addNewCategory.newCategory') | translate}}</span>
    </span>
    </div>
    <div class="kContainer">
      <form class="kRow" [formGroup]="newCategoryForm" novalidate>
        <span class="kLabel">{{'applications.content.addNewCategory.name' | translate}}</span>
        <div class="kRequired" [ngClass]="{'kHasError':!newCategoryForm.get('name').valid &&
                   newCategoryForm.get('name').touched}">*
        </div>
        <div>
          <input class="kControl" formControlName="name" pInputText
                 [ngClass]="{'kHasError':!newCategoryForm.get('name').valid &&
                   newCategoryForm.get('name').touched}">
          <div *ngIf="newCategoryForm.get('name').touched &&
                 newCategoryForm.get('name').hasError('required')"
               class="error">
            {{'applications.content.addNewCategory.errors.requiredName' | translate}}
          </div>
        </div>
      </form>
      <div class="kRow">
        <span class="kSelectParentMsg">{{('applications.content.addNewCategory.selectCategoryParent') | translate}}</span>
        <div *ngIf="_categoriesUpdating" class="k-spinner-background kSpinnerBkg" kTooltip="{{'applications.content.categories.categoriesUpdateMsg' | translate}}">
          <div class="k-spinner-animation kSpinnerAnim"></div>
        </div>
      </div>
      <kCategorySelector (onCategorySelected)="_onCategorySelected($event)"></kCategorySelector>
    </div>
    <div class="kFooter">
      <button type="button" class="kButtonBranded" pButton
              label="{{'applications.content.addNewCategory.apply' | translate}}"
              (click)="_apply()" [disabled]="!newCategoryForm.get('name').valid"></button>
      <a class="kLink" (click)="_cancel()">{{'applications.content.addNewCategory.cancel' | translate}}</a>
    </div>
  </div>
</k-area-blocker>
