<k-area-blocker [message]="_blockerMessage" [bodyScroll]="true">
<kEntriesList [columns]="_columns"
              [rowActions]="_rowActions"
              (onActionsSelected)="_onActionSelected($event)">
  <div class="bulk-actions">
    <kBulkActions [selectedEntries]="_entriesList.selectedEntries"
                  (onBulkChange)="_entriesList.onBulkChange($event)"
                  [(blockerMessage)]="_blockerMessage"></kBulkActions>
  </div>
</kEntriesList>
</k-area-blocker>

<kPopupWidget #liveDashboard [fullScreen]="true">
  <ng-template>
    <kLiveDashboard [entryId]="_entryId" [parentPopupWidget]="liveDashboard"></kLiveDashboard>
  </ng-template>
</kPopupWidget>
