<a class="kTestPopupTrigger" (click)="popupTest.open()">Open test popup</a>

<kEntriesList [columns]="_columns"
              [rowActions]="_rowActions"
              [paginator]="_paginator"
              [isBusy]="_isBusy"
              [blockerMessage]="_blockerMessage"
              (onActionsSelected)="_onActionSelected($event)">
  <div class="bulk-actions">
    <kBulkActions [selectedEntries]="_entriesList.selectedEntries"
                  (onBulkChange)="_entriesList.onBulkChange($event)"></kBulkActions>
  </div>
</kEntriesList>

<kPopupTest #popupTest></kPopupTest>
