<k-area-blocker [showLoader]="isBusy" [message]="_blockerMessage">
	<div class="kEntries kOverrideFAIcons">
		<div #entriesTableHolder class="kEntriesHolder kContent">
			<div class="kEntriesTableFilters">
				<span class="kSelectedEntriesNum" *ngIf="(_entriesStore.entries$ | async)?.totalCount">{{(_entriesStore.entries$ | async)?.totalCount}} {{'applications.content.entries.entries' | translate}}</span>

				<div [class.kHidden]="!_selectedEntries.length" class="kBulkOperations">
					<span class="kSelectedEntriesLabel">• {{_selectedEntries.length}} {{'applications.content.entries.selected' | translate}}</span>
          <kBulkActions [selectedEntries]="_selectedEntries" (onBulkChange)="onBulkChange($event)"></kBulkActions>
					<a class="kBulkCancel" (click)="clearSelection()">{{'applications.content.entries.cancel' | translate}}</a>
				</div>
				<div [class.kHidden]="_selectedEntries.length" class="kFilters">
						<input type="text" pInputText class="kSearchInput"
							   [(ngModel)]="_filter.freetextSearch"
							   (keyup.enter)="onFreetextChanged()"
							   placeholder="{{'applications.content.entries.searchEntries' | translate}}">
					<div #categoriesFilterBtn class="kCategoriesFilter"><i class="kIconfolder"></i><span>{{'applications.content.entries.filterCategories' | translate}}</span><i class="kIcondropdown_arrow_bottom dropdown"></i></div>
					<div #refineBtn class="kRefine"><i class="kIconfilter"></i><span>{{'applications.content.entries.refine' | translate}}</span><i class="kIcondropdown_arrow_bottom dropdown"></i></div>
				</div>
				<button pButton class="kButtonDefault kRefreshBtn small" type="text" (click)="_reload()" icon="kIconrefresh" [kTooltip]="'applications.content.entries.refresh' | translate"></button>
			</div>
			<kTags [title]="'applications.content.filters.activeFilters' | translate" [data]="(this._entriesStore.activeFilters$ | async)?.filters" [labelField]="'label'" [tooltipField]="'tooltip'" (onTagRemove)="removeTag($event)" (onRemoveAll)="removeAllTags()">
				<ng-template let-item="item">
					<div class="kTagContent" [kTooltip]="item.tooltip?.token | translate : item.tooltip?.args">
						<span class="kTagLabel">{{item.label}}</span>
						<i *ngIf="item.showRemove" class="kTagRemove kIconclose_small" (click)="removeTag(item.data)"></i>
					</div>
				</ng-template>
			</kTags>
			<kEntriesTable class="kEntriesTable"
						   [entries]="(_entriesStore.entries$ | async)?.items" [filter]="_filter"
						   (sortChanged)="onSortChanged($event)"
						   (actionSelected)="onActionSelected($event)"
						   [(selectedEntries)]="_selectedEntries"
						   ></kEntriesTable>

			<div class="kEntriesTableFooter" #footer *ngIf="(_entriesStore.entries$ | async)?.totalCount">
				<p-paginator
						[rows]="_filter.pageSize" (onPageChange)="onPaginationChanged($event)"
							 [first]="_filter.pageIndex * _filter.pageSize"
							 [totalRecords]="(_entriesStore.entries$ | async)?.totalCount | kMaxEntries"
							 [rowsPerPageOptions]="[25,50,75,100]"></p-paginator>
				<span class="kPaginatorShowRowsLabel">{{'applications.content.paginator.showRows' | translate}}</span>
			</div>
		</div>
		<p-growl [value]="_msgs"></p-growl>
	</div>
</k-area-blocker>

<!-- popup widgets section -->
<kPopupWidget #categoriesFilterPopup [appendTo]="entriesTableHolder" [popupWidth]="400" [popupHeight]="500" [closeBtn]="false" [targetRef]="categoriesFilterBtn" [targetOffset]="{'x':-10, 'y': -21}">
	<kCategoriesFilter [parentPopupWidget]="categoriesFilterPopup"></kCategoriesFilter>
</kPopupWidget>

<kPopupWidget #refinePopup [appendTo]="entriesTableHolder" [popupWidth]="400" [popupHeight]="500" [closeBtn]="false" [targetRef]="refineBtn" [targetOffset]="{'x':-200, 'y': -20}">
    <ng-template>
	    <k-entries-refine-filters [parentPopupWidget]="refinePopup" ></k-entries-refine-filters>
    </ng-template>
</kPopupWidget>
