@import "app-theme/_variables.scss";

:host /deep/ kautocomplete .kKalturaPrimeUIComponent.ui-autocomplete-multiple {
  width: 100%;
}

:host /deep/ kautocomplete {
  span.ui-autocomplete.ui-widget {
    width: 100%;
  }

  ul.ui-autocomplete-multiple-container {
    max-height: 60px;
    overflow-y: auto;
  }
}

:host /deep/ k-categories-tree .kTreeContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 4px;
  border-bottom: 0 solid white;
  min-height: 260px;
}

:host /deep/ .kCategoriesSingleSelect .ui-tree .ui-chkbox .ui-chkbox-icon {
  border-radius: 10px;
  width: 18px;
  height: 18px;
  &.ui-chkbox-icon.fa.fa-check:before {
    font-size: 10px;
    line-height: 16px;
  }
}

:host /deep/ kautocomplete ul.ui-autocomplete-multiple-container.ui-inputtext {
  padding: 0;
  .ui-autocomplete-input-token {
    padding: 0;
    input {
      height: 34px;
      padding-left: 4px;
      width: 500px;
    }
  }
}
