.kBulkActions{
  display: flex;
  align-items: center;
  .kBulkDeleteBtn{
    margin-right: 10px;
    width: 44px;
    font-size: 24px;
  }
  .kBulkActionsBtn{
    font-weight: 400;
    font-size: 15px;
  }
}
